a            { text-decoration: underline; color: #E9E9E9; font-family: 
               Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
.a2          { font-size: 14pt; color: #C0C0C0; text-decoration: underline; font-weight: bold }
h1           { font-size: 18pt; color: #FFFF99; font-family: 
               Verdana, Arial, Helvetica, sans-serif; font-weight: bold }
h2           { color: #FFFF99; font-size: 14pt; font-family: 
               Verdana, Arial, Helvetica, sans-serif; font-weight: bold }
h3           { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; color: 
               #FFFF99; font-weight: bold }
a:active     { color: #FF0000; text-decoration:underline }
a:visited    { color: #C0C0C0; text-decoration:underline }
A:hover { text-decoration: underline; }
td           { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
blockquote   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: 
               #FFFFFF; font-style: italic }
body         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
a.navbar     { text-decoration: none; color: #FFFFFF; font-family: Verdana; font-size: 10pt }
a:active.navbar { text-decoration: none; color: #FFFFFF; font-family: Verdana; font-size: 10pt }
a:visited.navbar { text-decoration: none; color: #FFFFFF; font-family: Verdana; font-size: 10pt }
a:hover.navbar { text-decoration: none; color: #C0C0C0; font-family: Verdana; font-size: 10pt; 
               background-color: #666666 }
table        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: 
               #FFFFFF }