body {
font-size: 12px;
font-family: verdana, arial, sans-serif;
margin-right: 20px;
margin-left: 20px;
margin-top: 20px;
}

h1.site_title  {
font-size: 32px;
font-weight: bold;
text-align: right;
padding-right: 30px;
background: #000;
color: #fff;
text-decoration: none;
}

div.site_title  {
text-align: right;
background: #000;
color: #fff;
text-decoration: none;
}


h1.article_title {
font-size: 18px;
font-weight: normal;
}

h2 {
font-size: 18px;
font-weight: normal;
}

h3 {
font-size: 16px;
font-weight: normal;
}

.wacky_image_box {
background: #eee;
padding: 10px;
width: 140px;
text-align: center;
float: left;
margin-right: 20px;
margin-top: 10px;
}

.article_index, .article_body {
float: left;
width: 80%;
padding-right: 20px;
}

.sidebar {
text-align: right;
}

p, li {
line-height: 18px;
}

.sidebar li {
font-size: 14px;
margin-left: 5px;
padding-bottom: 4px;
text-indent: -10px;
}

.sidebar ul {
font-size: 14px;
list-style: none;
padding-left: 20px;
}

.image_quote {
font-size: 10px;
}

.article_summary {
float: left;
margin: 10px;
}