body {
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  padding: 0px;
  border: none;
  margin: 0px;
  background-color: #FFFFFF;
  color: #000000;
}

table.main {
  background-color: #000000;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

table.main th {
  background-color: #F0F0FF;
  text-align: left;
  font-size: 120%;
}

table.main td {
  background-color: #FFFFFF;
  color: #000000;
}

p.footer {
  font-size: 50%;
}

a {
  text-decoration: none;
  color: #000000;
}
