/* vBulletin 3 CSS For Style 'Modern CFC' (styleid: 3) */
body
{
	background-color: #C1BAB4;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
}
a:link
{
	color: #002053;
}
a:visited
{
	color: #002053;
}
a:hover, a:active
{
	color: #a62a2a;
}
.page
{
	background-color: #C1BAB4;
	color: #000000;
}
td, th, p, li
{
	font: 10pt Verdana, Arial;
}
.tborder
{
	background-color: #a62a2a;
	color: #000000;
	border: 1px solid #a62a2a;
}
.tcat
{
	background: #BFBFBF url(../../images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #000000;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link
{
	color: #000000;
	text-decoration: none;
}
.tcat a:visited
{
	color: #000000;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active
{
	color: #000000;
	text-decoration: underline;
}
.thead
{
	background: #a62a2a url(../../images/gradients/gradient_thead.gif) repeat-x top left;
	color: #ECECEC;
	font: bold 10px verdana, tahoma, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link
{
	color: #ECECEC;
	text-decoration: underline;
}
.thead a:visited
{
	color: #ECECEC;
	text-decoration: underline;
}
.thead a:hover, .thead a:active
{
	color: #ECECEC;
	text-decoration: underline;
}
.tfoot
{
	background: #a62a2a url(../../images/gradients/gradient_thread.gif) repeat-x top left;
	color: #ECECEC;
}
.tfoot a:link
{
	color: #ECECEC;
	text-decoration: underline;
}
.tfoot a:visited
{
	color: #ECECEC;
	text-decoration: underline;
}
.tfoot a:hover, .tfoot a:active
{
	color: #ECECEC;
	text-decoration: underline;
}
.alt1, .alt1Active
{
	background-color: #ECECEC;
	color: #000000;
}
.alt2, .alt2Active
{
	background-color: #d9d9d9;
	color: #000000;
}
.alt3
{
	background-color: #D5D8E5;
	color: #000000;
}
.wysiwyg
{
	background-color: #ECECEC;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
textarea, .bginput
{
	background-color: #ECECEC;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	background-color: #ECECEC;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 10px Verdana, Arial;
}
.time
{
	color: #A62A2A;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: red;
	font-family: Verdana, Arial;
}
.fjsel
{
	background-color: #CFCFCF;
	color: #000000;
}
.fjdpth0
{
	background-color: #F7F7F7;
	color: #000000;
}
.panel
{
	background-color: #ECECEC;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background-color: #d9d9d9;
	color: #000000;
}
legend
{
	color: #002053;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background-color: #BFBFBF;
	color: #000000;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link
{
	color: #002053;
	text-decoration: none;
}
.vbmenu_control a:visited
{
	color: #002053;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active
{
	color: #a62a2a;
	text-decoration: underline;
}
.vbmenu_popup
{
	background-color: #ECECEC;
	color: #000000;
	border: 1px solid #000000;
}
.vbmenu_option
{
	background-color: #d9d9d9;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link
{
	color: #002053;
	text-decoration: none;
}
.vbmenu_option a:visited
{
	color: #002053;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active
{
	color: #a62a2a;
	text-decoration: none;
}
.vbmenu_hilite
{
	background-color: #BFBFBF;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:visited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active
{
	color: #000000;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }