<style>
a:link
{
	color: rgb(255,204,0); 
}
a:visited
{
	color: rgb(255,153,0); 
} 
a:active 
{
	color: rgb(255,102,0);
}
body
{
	background-color: rgb(102,102,102.00);
	color: rgb(204,204,204);
}
table
{
	table-border-color-light: rgb(153,153,153);
	table-border-color-dark: rgb(0,0,0); 
}
h1
{
	color: rgb(255,255,255);
}
h2
{
	color: rgb(255,255,153); 
}
h3
{
	color: rgb(255,255,255); 
}
h4
{
	color: rgb(255,255,204);
}
h5
{
	color: rgb(255,255,102);
}
h6
{
	color: rgb(255,255,153);
}
</style>.
