.menu
{
    BACKGROUND: #0e024d;
    COLOR: white;
    FONT: 11.75px Verdana;
    MARGIN-LEFT: 1px;
    TEXT-DECORATION: none
}
.header
{
    BACKGROUND: #0e024d;
    COLOR: #f0f2cc;
    FONT: bold 13px Verdana
}
.menu :hover
{
    BACKGROUND: #0e024d;
    COLOR: red;
    FONT: 11.75px Verdana;
    MARGIN-LEFT: 1px;
    TEXT-DECORATION: none
}
.spbl
{
    BACKGROUND: #0e024d;
    COLOR: white;
    FONT: bold 13px Arial;
    TEXT-DECORATION: none
}
.spti
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT: bold 13px Arial;
    TEXT-DECORATION: none
}
.sp
{
    BACKGROUND: #ffffff;
    COLOR: #0e024d;
    FONT: 13px Arial;
    TEXT-DECORATION: none
}
.spb
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT: 13px Arial;
    TEXT-DECORATION: none
}
.sp :hover
{
    BACKGROUND: #ffffff;
    COLOR: red;
    FONT: 13px Arial;
    TEXT-DECORATION: underline
}
.dbti
{
    BACKGROUND: #ffffff;
    COLOR: #800000;
    FONT: bold 12px Verdana, Arial;
    TEXT-DECORATION: none
}
.db
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT: 12px Verdana, Arial;
    TEXT-DECORATION: none
}
.db :hover
{
    BACKGROUND: #ffffff;
    COLOR: red;
    FONT: 12px Verdana, Arial
}
.db2
{
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT: bold 12px Verdana, Arial;
    TEXT-DECORATION: none
}
.db2 :hover
{
    BACKGROUND: #ffffff;
    COLOR: red;
    FONT: bold 12px Verdana, Arial
}
.spti2
{
    BACKGROUND: #0e024d;
    COLOR: white;
    FONT: bold 15px Verdana, Arial
}
.dbti2
{
    BACKGROUND: #ffffff;
    COLOR: #800000;
    FONT: bold 13.5px Verdana, Arial;
    TEXT-DECORATION: none
}