.M1
{
    COLOR: #B4B4B4;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.M2
{
    COLOR: #B4B4B4;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal
}
.M2B
{
    COLOR: #B4B4B4;
    FONT-FAMILY: Trebuchet MS;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}