A.liens {
	color:#C9DBFF;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
A:hover.liens {
color:#FFFFFF;
text-decoration:none;
}


BODY {
scrollbar-face-color: #343434; 
scrollbar-shadow-color: #343434;
scrollbar-highlight-color: #F7FAFF;
scrollbar-3dlight-color: #343434; 
scrollbar-darkshadow-color: #374A68; 
scrollbar-track-color: #343434; 
scrollbar-arrow-color: #C9DBFF;
