/*
  Morpheus Theme for phpBB version 2.0.x
  Created by Vjacheslav Trushkin
  http://www.phpbbstyles.com
*/

@import url(style_main.css);

body { 
	background-color: #FFF; 
	scrollbar-arrow-color: #3B88C5;
	scrollbar-face-color: #FFFFFF; 
	scrollbar-track-color: #E0E0E0; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #C0C0C0; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-darkshadow-color: #B0B0B0;
}

hr { 
	border-color: #3888C7;
}

/* links */
a { 
	color: #3B88C5; 
}
a:visited { 
	color: #3279B2;
}
a:hover, a:active { 
	color: #FF9C00; 
}

/* header */
#header-box { 
	background-image: url(images/blue/logo_bg.gif); 
}
/* header login form */
#header-login {
	background: url(images/blue/logo_right.gif) top right no-repeat;
}
.login-input, .login-submit {
	background-color: transparent;
	border-color: #3075AB;
	color: #22557D;
}
.login-submit {
	background-color: #65A5D8;
}
.login-input:hover, .login-submit:hover {
	background-color: #65A5D8;
	border-color: #24567E;
}
.login-input:focus, .login-submit:focus {
	background-color: #74B0E0;
	color: #000;
}
* html .login-input { 
	background-color: transparent; 
	border-color: #24567E;
	color: #000;
}
* html .login-submit { 
	background-color: #65A5D8;
	border-color: #24567E;
	color: #000;
}

#navigation { 
	background-image: url(images/blue/logo_bg2.gif); 
}

/* table headers */
table.hdr { 
	background-image: url(images/blue/hdr_bg.gif); 
	color: #3986C3; 
}
table.hdr a, table.hdr a:visited { 
	color: #3986C3; 
}
table.hdr a:hover, table.hdr a:active { 
	color: #FF9C00; 
}

td.postline { 
	background-color: #3888C7; 
}

/* rows */
td.row, .row1, .row2, .row3 { 
	background-color: #FFF;
}

/* th */
th, td.th { 
	color: #F6F6F5; 
	background: #F1F1F2 url(images/blue/bg_th.gif) top left repeat-x; 
	border-color: #56A6E5; 
}

/* bottom row */
td.catBottom { 
	background: #5393C6 url(images/blue/bg_cat.gif) top left repeat-x;
}

.nav { color: #FF9C00;}
.nav a, .nav a:visited { color: #3B88C5; }
.nav a:hover, .nav a:active { color: #FF9C00; }

table.nav { border-color: #4E9EDD; }

a.forumlink_new, a.forumlink_new:visited { color: #F2A62E; }

.moderators a:hover, .moderators a:active { color: #FF9C00; } 

input.post, textarea.post, select, input.button, input.mainoption, input.liteoption { border-color: #2C6B9D; }

select optgroup { background-color: #C3C7C9; }

a.topiclink_new, a.topiclink_new:visited { color: #FF9C00; }

.pagination a, .pagination a:visited { border-color: #D4D7DA; background-color: #EAEBEB; }
.pagination a:hover, .pagination a:active { border-color: #EAECEF; }

.gotopage a, .gotopage a:visited { border-color: #DADCDF; background-color: #E9EDEE; }
.gotopage a:hover, .gotopage a:active { border-color: #E5E8E9; }

td.spacerow { background-image: url(images/blue/bg_th.gif); }

