/*
			Eksternal Stylesheet (css) to Drachenreiter's webpage
		*/
a:active {color: #ffffff }
a:hover  {color: #aaaaaa }
a:link   {color: #ffffff }
a:visited {color: #ffffff }
body {
font-family: verdana, arial, sans-serif ;
background-color: black;
background-image: url (pictures/Nieuw-2.gif);
background-attachment: fixed;
}

