.menu
{
	margin-left : 1px;
	color : #FFFFFF;
	font : 10px Verdana;
	text-decoration : bold;
}

.menu :hover
{
	margin-left : 1px;
	color : #FFFFFF;
	font : 10px Verdana;
	text-decoration : bold;
}

.menu :link
{
	margin-left : 1px;
	color : #FFFFFF;
	font : 10px Verdana;
	text-decoration : bold;
}