BODY{
  color : #fac832;
  background-color : #000000;
  
  font-family : Arial,"‚l‚r ‚oƒSƒVƒbƒN";
}
TH,TD{
  color : #fac832;
}
A:LINK{
  color : lime;
}
A:VISITED{
  color : red;
}
A:ACTIVE{
  color : white;
}
A:HOVER{
  color : aqua;
}
