@charset "Shift_JIS";

a:link{
	text-decoration: none;
	color:#44ee77;
}
a:visited{
	text-decoration: none;
	color: #44ee77;
}
a:hover{
	text-decoration: none;
	color: #FFFF77;
}
a:active{
	text-decoration: none;
	color: #FFFF77;
}
#menu {
	position:absolute;
	left:110px;
	top:110px;
	font-size: 23px;
}
div#update {
	position:absolute;
	left:320px;
	top:15px;
}
span{
	line-height: 140%;
}
div#text_top {
	position:absolute;
	left:30px;
	top:430px;
	width:400px;
}
div#text {
	position:absolute;
	left:30px;
	top:30px;
	width:400px;
}
div#list {
	position:absolute;
	font-size:13px;
}
div#counter {
	position:absolute;
	left:105px;
	top:93px;
}
#comment {
	color: #ffffff;
	background: #997755;
	width: 480px;
}
body{
	color: #ffffff;
	font-family: "Trebuchet MS", "MS UI Gothic", "ＭＳ ゴシック", "Osaka", sans-serif;
	background: #aa8966;
}
body#image{
	color: #ffffff;
	font-family: "Trebuchet MS", "MS UI Gothic", "ＭＳ ゴシック", "Osaka", sans-serif;
	background: #aa8966 url(wall.gif) no-repeat 0px 19px;
}
hr{
	text-align: left;
}
body#log hr{
	text-align: left;
	width: 400px;
}
img{
	border: none;
}
