/*general styles*/

body {
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family:verdana, arial, helvetica, sans-serif;
	background-color: FFFFFF;
	scrollbar-face-color: #990000; 
	scrollbar-shadow-color: #000000; 
	scrollbar-highlight-color: #CC6666; 
	scrollbar-3dlight-color: #CC6666; 
	scrollbar-darkshadow-color: #000000; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #000000;
	}

a {
	color:#990000;
	text-decoration:none;
	font-weight:600;
	}
a:link {color:#990000;}
a:visited {color:#990000;}
a:hover {color:#CC3300;}
a:active {color:#CC3300; font-style: italic;}

fieldset {
	font:14px Times New Roman, Times, serif;
	font-weight:600;
	font-variant: small-caps;
	border-color:#666666;
	}

tr, td, ul, li {
	font:11px/16px verdana, arial, helvetica, sans-serif;
	}

/*styles used in header*/
#headerbg {
	position:relative;
	margin:0px 0px 1px 0px;
	padding: 0px;
	width:780px;
	height:194px;
	z-index:4;
	background-color: #660000;	
	}
	
div.menubar a:link {color: #FFFFFF;	text-decoration:none;}	
div.menubar a:visited {color: #FFFFFF; text-decoration:none;}	
div.menubar a:hover {color: #CC9900; text-decoration:none;}
div.menubar a:active {color:#CC9900; font-style: italic;}

div.menubar {
	position:absolute; 
	z-Index:5;
	width:764px; 
	height:30px;
	top:170px;
	left:-20px;
	font:14px Georgia, Times New Roman, Times, serif;
	font-variant: small-caps;
	}
	
.menuspacing {padding-left: 30px;}

/* styles used in pages with sidebar */

#content {
	position:relative;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:780px;
	height:auto;
	top:0px;
	left:0px;
	background-color: #000000;
	z-index:1;
}

#sidebar {
	position:absolute;
	margin:0px 15px 0px 0px;
	padding:0px;
	width:160px;
	height:auto;
	z-index:2;
	background-color: #000000;	
	}
	
#sidebox {
	position:relative;
	margin:10px 10px 10px 10px;
	padding:0px 0px 0px 0px;
	width:auto;
	height:auto;
	z-index:3;	
	}
	
#blkbox {
	position:relative;
	padding:10px 10px 12px 10px;
	width:auto;
	height:auto;
	z-index:1;
	color:#666666;	
	}

#blkbg {
	position:relative;
	margin:0px 0px 0px 0px;
	width:625px;
	height:auto;
	z-index: 1;
	left: 155;
	color:#666666;
	}

#box {
	position:relative;
	margin:5px 0px 5px 0px;
	padding:8px 5px 5px 13px;
	width:auto;
	height:auto;
	z-index:100;	
	}
	
#bg {
	position:relative;
	margin:0px 0px -5px 0px;
	width:625px;
	height:auto;
	z-index:1;
	background-color: #FFFFFF;
	left: 155;
	}
	
.byline	{font:11px verdana, arial, helvetica, sans-serif; font-weight:600; color: #CC9900;}

/* footer link styles */

span.credits	{font:9px verdana, arial, helvetica, serif; color: #666666;}
span.credits a:link {color:#000000; font-weight:200;}
span.credits a:visited {color:#000000; font-weight:200;}
span.credits a:hover {color:#999999; font-weight:200;}
	
/* styles used in pages without sidebar*/	

#wideblkbox {
	position:relative;
	padding:10px 10px 12px 10px;
	height:auto;
	z-index:2;	
	}

#wideblkbg {
	position:relative;
	margin:0px 0px 0px 0px;
	width:780px;
	height:auto;
	z-index: 1;
	background-color: #000000;
	}

#widebox {
	position:relative;
	margin: 5px 5px 5px 10px;
	width:760px;
	height:auto;
	z-index:1;	
	}

/* DKP styles */

.rowHead { color: white; 
	background: darkblue;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.rowA { color: green; 
	background:#E8FFE8;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.rowB { color: green;
	background:#D3FFCE;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.outsidelink { color: deepskyblue; 
	font-size: 10px; 
	font-family: Verdana; 
}
.footer { color: white; 
	font-size: 10px; 
	font-family: Verdana; 
	font-style:italic;
}

/*
A:link { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana; }
A:visited { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana; }
A:active { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana;
	font-style:italic;
	}
	*/
.headerlink { color: white; 
	font-size: 10px; 
	font-family: Verdana; 
}
.sortLink
{
	font-size: 16px;
	color: white;
	font-family: Veranda;
	font-weight: bold
}
