/* VOID'S　スタイルシート for HSK*/
/*
BODY{
margin-left:25px;
margin-right:25px;
margin-top:10px;
margin-bottom:10px;
}
*/

P{
line-height:1.3em;
font-size:9pt;
}

TD{
line-height:1.3em;
font-size:9pt;
}

A:link{
color:#dfdf94;
text-decoration: none;
color:#72ADBC;
}

A:visited{
text-decoration: none;
color:#72ADBC;
}

A:active{
color:#ffffff;
text-decoration: none;
}

A:hover{
text-decoration: none;
color:#FFFFFF;
}
DIV.center{
text-align:center;
}

DIV.right{
text-align:right;

}

DIV.left{
text-align:left;
}

DIV.indent{
padding-left:10%;
}

hr{
size:1;
color: #093540
}

.line {
BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #333333; BORDER-BOTTOM: 1px solid
}

BODY{
line-height:1.3em;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#0E2266;
scrollbar-face-color:#0E2266;
scrollbar-highlight-color:#77926E;
scrollbar-shadow-color:#FFFFFF;
font-family: Verdana;
font-size: 9pt;
}

