	a {color:"ebdd39";text-decoration:none;}
	h1 {color:"white";font-size:13pt;}
	p {color:"ebdd39";font-size:9pt;font-family:"Arial";}
	#unlisted {color:"dddddd";}
	#tabletext {color:"dddddd";font-size:13pt;}
	.bolditem {font-weight:120;color:black;}
	.new {font-size:20pt;color:blue;}
	#black {color:black;}
	#header {font-style:bold;font-size:18pt;color:ebdd39;}
	#table {border:groove #000000;}
	#table2 {border-bottom:groove #black;border-color:black;}
	td {border:groove #5575df;color:"ebdd39";font-size:9pt;background-color:darkslateblue;}
	#pic {position:absolute;top:15px;left:130px;}
	#text {position:absolute;top:15px;left:414px;border:groove #5575df;}
	#menu1 {display:none;position:absolute;top:252;left:50;border:groove #5575df;} 
	#menu2 {display:none;position:absolute;top:252;left:170;border:groove #5575df;}
	#menu3 {display:none;position:absolute;top:252;left:294;border:groove #5575df;}
	#menu4 {display:none;position:absolute;top:252;left:422;border:groove #5575df;}
	A:link {color:ebdd39; text-decoration:none;}
	A:hover {color:white; text-decoration:underline;}
	#menupos1 {position:absolute;top:252;left:1;border:groove #5575df;}
	#menupos2 {position:absolute;top:252;left:126;border:groove #5575df;}
	#menupos3 {position:absolute;top:252;left:245;border:groove #5575df;}
	#menupos4 {position:absolute;top:252;left:374;border:groove #5575df;}
	#div {position:absolute;top:4px;left:0px;}
	#hot1 {color:red;}
	#hot2 {color:blue;}
	#hot3 {color:green;}