body
{
	
	background-image: url(http://www.guildwizard.com/styles/black/image/back.jpg);
	/**border-left: black solid;
	border-right: black solid;
	border-top: black solid;
	border-bottom: black solid;**/
	color: white;
	font-family: Verdana;
	background-color: black;
}
A:visited
{
	color: lightgrey;
}

A:hover{color:Yellow;}
A:link
{
	color:White;
}
.grid_header
{
	background-position: center center;
	font-weight: bold;
	font-size: 12pt;
	background-image: url(http://www.guildwizard.com/styles/black/image/grd_head.jpg);
	color: white;
	background-repeat: repeat-x;
	background-color: black;
}
.grid_header A
{
	color: white;
}

.grid_col1 td
{
	color: white;
	border-right: black thin solid;
	border-top: black thin solid;
	font-size: 10pt;
	border-left: black thin solid;
	border-bottom: black thin solid;
	background-color: black;
	background-image: none;

}

.grid_col2 td
{
	color: white;
	border-right: black thin solid;
	border-top: black thin solid;
	font-size: 10pt;
	border-left: black thin solid;
	border-bottom: black thin solid;
	background-color: #101110;
	background-image: none;

}
.grid_pager
{
	color:White;
}




.main_table table
{
	border-right:#808080 thin outset;
	border-top:#808080 thin outset;
	background-image: none;
	border-left:#808080 thin outset;
	color: white;
	border-bottom:#808080 thin outset;
	background-color: black;
}
/**.main_table td
{
	border-right: gray outset;
	border-top: gray outset;
	border-left: gray outset;
	border-bottom: gray outset;
	color: white;
}**/
.main_table div /** Panels **/
{
	border-right:#808080 thin outset;
	border-top:#808080 thin outset;
	border-left:#808080 thin outset;
	border-bottom:#808080 thin outset;
	background-color: black;
	background-image: none;
}
.main_table p
{
	color: White;
}


.links
{
	color:white;
}

.links A:link
{
	color:white;
}
.links A:visited
{
	color:white;
}
.links A:hover
{
	color:Yellow;
}
.buttons
{
	border-right: #99ccff thin outset;
	border-top: #99ccff thin outset;
	font-weight: bold;
	font-size: 10pt;
	background-image: none;
	border-left: #99ccff thin outset;
	color: navy;
	border-bottom: #99ccff thin outset;
	font-family: Veranda;
	background-color: royalblue;
}
A.buttons:visited
{
	color:navy;
}
A.buttons:Link
{
	display:block;
	color:navy;
}
A.buttons:hover
{
	color:Black;
	background-color: yellow;
	display:block;
}
