body {
	margin: 0px 0px 20px 0px;
	background-color: #E0E0E0;
        	text-align: center;
	}

a { color: #334455; text-decoration: underline; }
a:link { color: #334455; text-decoration: underline; }
a:visited { color: #225544; text-decoration: underline; }
a:active { color: #44222; }
a:hover { color: #442222; }

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}
#bodyline { align: left; background-color: #000000; border: 1px #212121 solid; }
#mainmenu { align: left;  font-size : 11px; color : #CC9900; }
#mainmenu a { text-decoration: none; color : #CC9900;  }
#mainmenu a:visited { text-decoration: none; color : #CC9900; }
#mainmenu a:hover{ text-decoration: none; color : #FFFFCC; }

#container {
	line-height: 140%;
		margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	width: 750px;
	background-color: #BBBBBB;
	border: 1px solid #000000;
	}

#banner {
	font-family: 'Trebuchet MS', 'ＭＳ Ｐゴシック';
	color: #DDDDDD;
	background-color: #999999;
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #666666;
	}

#banner-img {
	display: none;
	}


#banner a {
	color: #FFFFFF;
	text-decoration: none;
	}

#banner h1 {
	font-size: xx-large;
	}

#banner h2 {
	font-size: small;
	}

#center {
	float: left;
	background:#BBBBBB; 
	width: 550px;
	overflow: hidden;
	}

.content {
	padding: 15px 15px 5px 15px;
	background:#BBBBBB;
	color: #222222;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: x-small;
	}


#right {
	float: left;
	width: 200px;
	background-color: #BBBBBB;
	overflow: hidden;
	}

.sidelogo {
	color: #444455;
	background:#999999;
	font-family:'ＭＳ Ｐゴシック';
	font-size: 10pt;
	text-align: center;
	font-weight: normal;
	}

.content p {
	color: #111111;
	background:#BBBBBB;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	line-height: 150%;
	margin-left: 20px;
	}

.content blockquote {
	line-height: 150%;
	}

.content li {
	line-height: 150%;
	}

.content h2 {
	color: #dddddd;
	background:#774444;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
	}

.content h3 {
	color: #dddddd;
	background:#556666;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 14pt;
	text-align: left;
	border-bottom:2px solid #999;
	border-top:2px solid #999;
	font-weight:bold;
	padding: 5px;
	}

.content p.posted {
	color: #444411;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	border-top: 1px solid #999999;
	text-align: right;
	margin: 0px;
	}

#comments p {
	color: #dddddd;
	background:#222222;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	font-weight: normal;
	text-align: left;
	margin: 0px;
	padding: 3px;
	}

#comments p.posted {
	color: #aa9977;
	background:#333333;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	text-align: right;
	border: 1px solid #999999;
	margin-left: 0px;
	}

#comments blockquote{
	margin:0px 0px 0px 80px;
	background:#222222;
	border: 1px solid #999999;
	}

.sidebar {
	padding: 15px;
	}


#calendar {
  	line-height: 140%;
	color: #dddddd;
 	background:#222222;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	font-weight:normal;
  	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
	}

#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	}

#calendar caption {
	color: #DDDDDD;
 	background:#444;
 	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .3em;
	}

#calendar th {
	text-align: center;
	font-weight: normal;
	}

#calendar td {
	text-align: center;
	}

.sidebar h2 {
	color: #ccaaaa;
	background:#555555;
	font-family:'Impact','ＭＳ Ｐゴシック';
	font-size: 11pt;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 30px;
	}

.sidebar li {
	color: #dddddd;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 9pt;
	text-align: left;
	line-height: 140%;
	list-style-type: none;
	}

.sidebar li.li2 {
	color: #dddddd;
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 7pt;
	text-align: left;
	line-height: 140%;
	list-style-type: none;
	}

.sidebar img {
	border: 3px solid #FFFFFF;
	}

.photo {
	text-align: left;
	margin-bottom: 20px;
	}

.link-note {
	font-family: 'ＭＳ Ｐゴシック';
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	}

#powered {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	color: #666666;
	margin-top: 50px;
	}

#comment-data {
	float: left;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBB;
	}

textarea[id="comment-text"] {
	width: 80%;
	}

#copyright {
	background: #666;
	font-family: "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
	font-size: 11pt;
	color: #FFF;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;	
	margin: 50px 0px 0px 0px;
	padding-left: 50px;
	}
