BODY {
font-family: Tahoma;
font-size: 9pt;
background-image: url(http://www22.big.or.jp/~eyes/cgi-bin/hako/ba.gif);
}
span.title{
font-family: Tahoma;
font-size: 32pt;
font-style: italic;
color:#000077;
}
span.big{
font-family: Tahoma;
font-size: 18pt;
}
input,select{
font-size: 10pt;
}
H1{
font-family: Tahoma;
font-size: 14pt;
}
H2{
font-family: Tahoma;
font-size: 12pt;
}
TD,TH{
font-family: Tahoma;
font-size: 9.5pt;
}
