A:{text-decoration: none;color:white;}
A:link{text-decoration:none;color:white;}
A:visited{text-decoration:none;color:#bababa;}
A:hover{text-decoration: underline;color:RED;}
DIV{position:absolute;color:indigo;font-size:28pt}
.bg {font-family:webdings;
	 text-decoration:none;
	 font-size:22px;
	 color:cornsilk;
    }

.bg2 {font-family:webdings;
	 text-decoration:none;
	 font-size:20px;
	 color:Cornsilk;
    }
