<STYLE TYPE-"type/css">

body {background-image: url(background.gif); }
A:link {color: #B0B4F3; text-decoration: none}
A:visited {color: #586EB5; text-decoration: none}
A:active {color: #ffffff; text-decoration: none}
font.zero {font-size: 40pt; color: #7d5601; font-family: Ribbon}
font.fir {font-size: 25pt; color: #ffffff; font-family: Garamond}
font.sec {font-size: 8pt; color: #7d5601; font-family: Arial}
font.thi {font-size: 10pt; color: #7d5601; font-family: Comic Sans MS; font-weight: bolder}
font.for {font-size: 10pt; color: #ffffff; font-family: verdana, Garamond, Arial}
p {font-size: 10pt; color: #ffffff; font-family: verdana, Garamond, Arial}


</STYLE> 

