#BODY {background-color : #558e8b;   background-repeat : no-repeat;}

#body {font-family: Arial;  color: #4a4c7c; font-weight: bold}

.menu_titre		{ 	font-family			: 	Verdana ;
					color				:	#ffffff ; 
					font-weight			: 	normal  ; 
					font-size			:	14px 	; 
					background-color 	:	#4D5C92	;
					text-decoration		:	none	;
				}

.menu_item 		{ 	font-family			: 	Verdana ; 
					color				: 	#ffffff	;
					font-weight			: 	normal 	; 
					font-size			: 	11px 	; 
					background-color 	: 	#384679 ;
					text-decoration		:	none	;
				}

.news_titre		{	font-family			: 	Verdana ;
					color				:	#ffffff ; 
					font-weight			: 	bold	; 
					font-size			:	14px 	; 
					background-color 	:	#6a77a4	;
					text-decoration		:	none	;
					background-image	:	url(../img/entete_news2.gif);
				}

.news_texte		{	font-family			: 	Verdana ;
					color				:	#ffffff ; 
					font-weight			: 	normal  ; 
					font-size			:	11px 	; 
					background-color 	:	#4D5C92	;
					text-decoration		:	none	;
				}
				
.recherche		{	font-family			: 	Verdana ;
					color				:	#ffffff ; 
					font-weight			: 	normal  ; 
					font-size			:	11px 	; 
					background-color 	:	#4D5C92	;
					text-decoration		:	none	;
					
				}
				
a:link 			{	color				: 	#ffffff	;
					text-decoration		:	none	;
				}

a:visited 		{	color				: 	#ffffff	;
					text-decoration		:	none	;
				}

#font-weight			: 	bold	;

a:active 		{	color				: 	#179C97 ; 
					text-decoration		:	none	;
				}

a:hover 		{	color				: 	#179C97 ; 
					text-decoration		:	none	;
				}


.Drop			{	background			:	#4D5C92	;
					color				:	#ffffff	;
					font-family			:	Verdana ;
				}