body, table, td { margin: 0px; padding: 0px; font-family: Verdana, Tahoma, Arial; background-color: #fff; font-size: small; }
form { display: inline; }
img { border-width: 0px; }
acronym { border-bottom: 1px dashed #31308C; cursor: help; }

#header { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; height: 37px; background-color: #424563; padding: 10px; }
#header-bottom { margin: 0px 0px 0px 0px; padding-top: 2px; padding-left: 15px; background-color: #212042; border-style: solid; 
                 border-color: #000; border-width: 0px 0px 1px 0px; color: #fff; vertical-align: middle; text-align: left; }

#footer { position: relative; padding: 3px; top: 0; right: 0; bottom: 0; left: 0; background-color: #212042; border-style: solid; border-color: #000;
          border-width: 1px 0px 0px 0px; color: #fff; font-size: 9px; line-height: 11px; }
#content { top: auto; left: 0px; padding: 0px; width: 100%; vertical-align: top; }

td.left { float: left; top: 0px; left: 0px; width: 18em; padding: 10px; background-color: #efefef; border-style: solid; border-color: #000;
          border-width: 0px 1px 0px 0px; vertical-align: top; }
td.right { top: 0px; width: auto; height: auto; padding: 10px; vertical-align: top; }

ul { list-style-type: none; padding: 0 0 0 15px; margin: 1px 0 0 3px; vertical-align: middle; }
li { list-style-type: none; list-style-position: outside; }
li.ul { list-style-type: none; display: inline; }

ul.menu { list-style-type: none; padding: 0 0 0 15px; margin: 1px 0 0 3px; vertical-align: middle; }
li.menu { list-style-type: none; list-style-image: url(images/box1.gif); list-style-position: outside; font-size: x-small; }
li.menu-here { list-style-type: none; list-style-image: url(images/box2.gif); font-weight: bold; font-size: x-small; }

ul.toc { list-style-type: none; padding: 0 0 0 15px; margin: 0 0 0 3px; vertical-align: middle; }
li.toc { list-style-type: none; list-style-image: url(images/box1.gif); list-style-position: outside; font-size: x-small; }
li.toc-here { list-style-type: none; list-style-image: url(images/box2.gif); font-weight: bold; font-size: x-small; }

ul.changelog { list-style-type: none; padding: 0 0 0 15px; margin: 1px 0 0 3px; vertical-align: middle; }
li.cl-bug { list-style-type: none; list-style-image: url(images/cl_bug.gif); list-style-position: outside; font-size: x-small; }
li.cl-feature { list-style-type: none; list-style-image: url(images/cl_feature.gif); list-style-position: outside; font-size: x-small; }
li.cl-removed { list-style-type: none; list-style-image: url(images/cl_removed.gif); list-style-position: outside; font-size: x-small; }
li.cl-note { list-style-type: none; list-style-image: url(images/cl_note.gif); list-style-position: outside; font-size: x-small; }

div.content { border-style: solid; border-color: #212042; border-width: 1px 1px 0px 1px; width: 100%; }
div.menu-header { font-size: small; font-weight: bold; color: #212042; }
div.header { background-color: #424563; color: #CECFEF; font-size: medium; font-weight: bold; padding: 5px; }
div.body-row1 { background-color: #EFEFEF; color: #000; padding: 5px; border-bottom: 1px solid #212042; height: auto; }
div.body-row2 { background-color: #e7e7e7; color: #000; padding: 5px; border-bottom: 1px solid #212042; height: auto; }
div.manual-toc { float: left; top: 0px; left: 0px; width: 180px; padding: 10px; background-color: #e7e7e7; border-right: 1px solid #000; 
                 vertical-align: top; }
div.manual { padding-left: 15px; padding-right: 15px; }

th { font-size: x-small; background-color: #424563; color: #CECFEF; font-weight: bold; padding: 5px; }
td.row1 { background-color: #fff; color: #000; font-size: x-small; padding: 5px; }
td.row2 { background-color: #e7e7e7; color: #000; font-size: x-small; padding: 5px; }

pre { font-family: 'Courier New', Courier, Terminal; font-size: x-small; color: #000; padding: 5px; }
pre.code-inline { font-family: 'Courier New', Courier, Terminal; font-size: small; color: #000; display: inline; }
pre.code { font-family: 'Courier New', Courier, Terminal; font-size: 9pt; color: #000; border-style: dashed; border-color: #000; 
           border-width: 1px 1px 1px 1px; background-color: #fff; padding: 5px; margin-left: 20px; margin-right: 20px; }
           
span.code { font-family: 'Courier New', Courier, Terminal; font-size: small; color: #000; }

.headline { font-size: small; font-weight: bold; }
.man-headline { font-size: medium; font-weight: bold; }
.author { font-size: x-small; }

a:link,a:active,a:visited { color: #31308C; text-decoration: underline; }
a:hover { color: #000084; text-decoration: underline; }

.input { font-family: Verdana, Tahoma, Arial; font-size: 10px; color: #000000; background-color: #FFFFFF;
         border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #000000; border-style: solid; }

input.mainoption { font-family: Verdana, Tahoma, Arial; font-size: 10px; font-weight: bold; color: #CECFEF; background-color: #424563;
                   border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #CECFEF; border-style: solid; }
input.liteoption { font-family: Verdana, Tahoma, Arial; font-size: 10px; font-weight: normal; color: #CECFEF; background-color: #424563;
                   border-top: 1px; border-right: 1px; border-bottom: 1px; border-left: 1px; border-color: #CECFEF; border-style: solid; }

#ratebox { background-color: #fff; border-color: #000; border-style: solid; border-width: 1px 1px 1px 1px; text-align: center; 
           font-size: x-small; line-height: 150%; }
#buttons { text-align: center; width: 100%; word-spacing: 10px; line-height: 15px; }

div.w3cbutton1 { position: relative; margin: 1em 0; font-family: helvetica,arial,sans-serif; font-weight: bold; font-size: 70%; }
div.w3cbutton1 a { display: block; border-top: 1px solid #cecece; border-bottom: 2px solid #4a4a4a; }
div.w3cbutton1 a.w3c1 { width: 3em; border-left: 1px solid #cecece; text-align: center; }
div.w3cbutton1 a.spec1 { position: absolute; left: 3em; top: 0; width: 6em; border-right: 2px solid #4a4a4a; padding-left: 0.5em; }

div.w3cbutton1 a.w3c1:link,
div.w3cbutton1 a.w3c1:visited,
div.w3cbutton1 a.w3c1:hover { background-color: #fff; color: #0c479d; text-decoration: none; }

div.w3cbutton1 a.spec1:link,
div.w3cbutton1 a.spec1:visited,
div.w3cbutton1 a.spec1:hover { background-color: #fc6; color: #000; text-decoration: none; }