div {  font-size: 10pt}
p{ text-indent:1em; font-size:10pt}
td { font-size:10pt}
li {  font-size: 10pt}
a:hover {  color: #FFFFFF}
.PageLinks {  color: #FFFFFF}
.splR {  color: #FFFF00}
.splQ {  color: #00FF00}
.splD {  color: #FF6600}
.head_spell {  font-family: "Courier New", "Courier", "mono"; font-size: 12pt; font-style: italic; font-weight: bold; color: #00FFFF}
.head_e {  font-family: "Courier New", "Courier", "mono"; font-style: italic; font-weight: bold; color: #00FFFF}
.head_j { font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; font-style: normal; font-weight: bold; color: #00FFFF }
.NPC {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-style: normal; color: #FFFFFF}
.PC { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-style: normal; color: #00FFFF}
.QITEM { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-style: italic; color: #FFFF00}
