INPUT {background : #000000; border : 1px solid #C0C0C0; font-family : tahoma; font-size : 10px; font-weight : normal; color : #FFFFFF;}
TEXTAREA {background : #000000; border : 1px solid #C0C0C0; font-family : tahoma; font-size : 10px; font-weight : normal; color : #FFFFFF;}
SELECT {background : #000000; border : 1px solid #C0C0C0; font-family : tahoma; font-size : 10px; font-weight : normal; color : #FFFFFF;}
BODY {MARGIN: 0px;}

A: {FONT-WEIGHT: bold; COLOR: #ffb019; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
A:link {FONT-WEIGHT: bold; COLOR: #ffb019; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
A:active {FONT-WEIGHT: bold; COLOR: #ffb019; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
A:visited {FONT-WEIGHT: bold; COLOR: #ffb019; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
A:hover {FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
SPAN.grey {FONT-SIZE: 9pt; COLOR: #a0a1a3; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
SPAN {FONT-SIZE: 9pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
SPAN.bold {FONT-SIZE: 9pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold;}
SPAN.lite {FONT-SIZE: 9pt; COLOR: #f0e7be; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
SMALL {FONT-SIZE: 8pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
SMALL.bold {FONT-SIZE: 8pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold;}
SMALL.gold {FONT-SIZE: 8pt; COLOR: #c4c4c4; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}
B {FONT-WEIGHT: bold;}
B.white {FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-Serif;}

.popupheader {FONT-SIZE: 9pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold;}
.crumb {FONT-SIZE: 8pt; COLOR: #d7cea4; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold;}
.sublinks {font-size : 10px;}
.title {font-weight : bold;}
.strike {text-decoration : line-through;}
.menu {font-weight : bold;}
.infobox {background : #000000; border : 1px dotted #C0C0C0;}
.redtext {color : 'red';}
.articletitle {color : #364052; font-size : 16px; font-weight : bold; text-transform: capitalize; font-style: italic;}
.boxfocus {cursor : 'hand';background : #FFCC66;text-decoration: underline;}
.boxblur {background : #FFCC66;}