BODY
{
    BACKGROUND-IMAGE: url("../images/storyback.jpg");
    BACKGROUND-ATTACHMENT: fixed;
    COLOR: tan;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tahoma;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 5px;
    MARGIN-TOP: 0px
}

TABLE
{
    WIDTH: 640px;
    BACKGROUND-COLOR: tan;
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tahoma;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: 1px solid maroon;
    BORDER-LEFT: 1px solid maroon;
    BORDER-RIGHT: 1px solid maroon;
    BORDER-TOP: 1px solid maroon;
}
.small
{
    FONT-FAMILY: Lucida Casual, Andale Mono, Tahoma;
    FONT-SIZE: 8pt
}

P
{
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tahoma;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt
}
.none
{
    BORDER-BOTTOM: none;
    BORDER-LEFT: none;
    BORDER-RIGHT: none;
    BORDER-TOP: none
}

A:link {COLOR: blue;
    TEXT-DECORATION: none}

A:visited {COLOR: blue;
    TEXT-DECORATION: none}

A:active {COLOR: maroon;
    TEXT-DECORATION: none}

A:hover {COLOR: maroon;
    TEXT-DECORATION: underline}


