@charset "UTF-8";
/* CSS */


body {
	background: url(../img/body_bg.jpg) #1a1a1a repeat-x;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	}
	

p {
	line-height: 1.5em;
	margin: 0;
	padding: 5px 0;
	}
	
	
dl {
	clear: both;
	color: #ccc;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	font-size: 11px;
	line-height: 1.7em;
	margin: 0;
	margin-bottom: 10px;
	}
	
dt {
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background: #000;
	clear: both;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 5px;
	width: 8em;
	}
	
dd {
	border-bottom: 1px solid #CCC;
	margin-left: 8em;
	padding: 5px 0 5px 20px;
	}
	
.dl_bottom {
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
	}
	
h1,h2,h3,h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	margin:0;
	padding: 0;
	}
	
a, a:link {
	color:  #CCC;
	text-decoration: none;
	}
	
a:hover {
	color:  #ECECEC;
	text-decoration: underline;
	}
	
.clear_both {
	clear: both;
	font-size: 0px;
	height: 0px;
	}
	
/* ========== TEXT ============== */

.date {
	color: #A4D3E6;
	}
	
.page_top {
	text-align: right;
	margin-bottom: 15px;
	}
	
.content_title {
	background:url(../img/h_bg.jpg) repeat-x;
	font-size: 16px;
	height: 30px;
	margin-bottom: 20px;
	}
	
.page_index {
	border-top: 1px solid #666;
	}
	
/* ========== LAYOUT ============== */

#header_bg {
	background: url(../img/header_bg_grd.jpg) no-repeat;
	height: 210px;
	margin: 0 auto;
	text-align: left;
	width: 900px;
	}
	
#header {
	background: url(../../img/header_bg.jpg) no-repeat 0 10px;
	height: 210px;
	margin: 0 auto;
	width: 800px;
	}
	
#wrapper {
	margin: 0 auto;
	text-align: left;
	width: 800px;
	}

	
#menubar {
	font-size: 13px;
	padding: 0 15px;
	height: 40px;
	}
	
#content {
	background: #333;
	padding: 15px;
	}
	

#cont_center {
	float: none;
	margin-left: 15px;
	width: 730px;
	}


#footer {
	clear:both;
	color: #FFF;
	background: #000000;
	font-size: 11px;
	padding: 8px;
	text-align: center;
	}
	
/* ========== Header ============== */

#head_logo {
	padding: 30px 0 0 20px;
	}

/* ========== MENUBAR ============== */
#menubar a {
	display: block;
	float: left;
	margin-top: 10px;
	padding: 0 20px;
	text-align:center;
	width: 90px;
	}
	
#menubar a:hover {
	background-color: #666666;
	text-decoration: none;
	}
	

.menu_a {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	}
	
.menu_b {
	border-right: 1px solid #FFF;
	}

/*　=========　TOP center ============== */

.entry_top {
	border-top: 1px solid #666;
	font-weight: normal;
	padding: 10px 0;
	}
	
.entry_top h1 {
	font-size: 14px;
	padding-bottom: 15px;
	}
	
.entry_top img {
	background: url(../img/img_bg.gif) no-repeat;
	padding: 4px;
	}
 
.image_pickup{
	border: 3px solid #666;
	margin: 0;
	padding: 0;
	width: 422px;
	}
	
div.entry_top div{
	display:table-cell;
	vertical-align:top;
	}


* html div.entry_top div{/* IE 6 */
	display:inline;
	zoom:1;
	}

*:first-child+html div.entry_top div{/* IE 7 */
	display:inline;
	zoom:1;
	}
	
.entry_top_text {
	padding-left: 10px;
	padding-top: 10px;
	}	

.entry_top_text a {
	color:  #FFF;
	text-decoration: none;
	}	

* html .entry_top_text {/* IE 6 */
	padding-left: 10px;
	width: 270px;
	}

*:first-child+html .entry_top_text {/* IE 7 */
	padding-left: 10px;
	width: 270px;
	}
	

