<style>
a:link
{
	color: rgb(255,204,102); 
}
a:visited
{
	color: rgb(153,153,102); 
} 
a:active 
{
	color: rgb(102,255,153);
}
body
{
	background-color: rgb(102,102,102,);
	color: rgb(255,255,204);
}
table
{
	table-border-color-light: rgb(204,204,153);
	table-border-color-dark: rgb(153,153,102); 
}
h1
{
	color: rgb(255,204,102);
}
h2
{
	color: rgb(153,255,255); 
}
h3
{
	color: rgb(153,255,153); 
}
h4
{
	color: rgb(255,204,102);
}
h5
{
	color: rgb(153,255,255);
}
h6
{
	color: rgb(153,255,153);
}
</style>.
