A.closewin {
	color : rgb(200,100,100);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size : 14px;
}
A  {
	color : rgb(0,0,200);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size : 12px;
}
A:VISITED {
	color : rgb(0,0,150);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size : 12px;
}
A:HOVER {
	color : rgb(0,120,0);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size : 12px;
}
H1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	font-size : 22px;
}
H2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	font-size : 16px;
}
.lootpic {
	color: #E0E0E0;
	font-size: 11px;
	font-family: Arial;
	padding-left: 9px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 10px;
}
.loottitle {
	color: #E0E0E0;
	font-size: 11px;
	font-family: Arial;
	padding-top: 9px;
	text-align: center;
	padding-bottom: 6px;
	line-height: 10px;
}
.lootmain {
	color: #E0E0E0;
	font-size: 11px;
	padding-left: 31px;
	font-family: Arial;
	padding-bottom: 6px;
	line-height: 11px;
}

.loottable {
	margin-bottom: 4px;
}
.backgroundpic {
	background-attachment : fixed;
	background-repeat : no-repeat;
	background-position : top left;
}
.plaintext {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
