.menu {
	background : #0E024D;
	color : White;
	text-decoration : none;
	font : 11px Arial;
	margin-left: 1px ;
}

.header {
	background : #0E024D;
	color : #F0F2CC;
	font : 13px Arial;
    font-weight: bold ;
}

.menu :hover {
	background : #0E024D;
	color : Red;
	text-decoration : none;
	font : 11px Arial;
 	margin-left: 1px ;
}

