.main_font
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: verdana
}
.font_body
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: verdana
}
.font_white
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: verdana
}
.poll_font
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: verdana
}
.link:link
{
    COLOR: gold
}
.link:visited
{
    COLOR: gold
}
.link:active
{
    COLOR: yellow
}
.link:hover
{
    COLOR: yellow
}
.font_small
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: verdana
}
.link_blue:link
{
    COLOR: white
}
.link_blue:visited
{
    COLOR: gold
}
.link_blue:active
{
    COLOR: maroon
}
.link_blue:hover
{
    COLOR: #a1abb4
}
.masthead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: gold;
    FONT-FAMILY: verdana
}
#td728
{
    BACKGROUND-COLOR: #17222e
}
#tdchannel
{
    BACKGROUND-COLOR: #17222e
}
#tdmain
{
    BACKGROUND-COLOR: #17222e
}
#trmasthead
{
    BACKGROUND-COLOR: #000000
}
#trmain
{
    BACKGROUND-COLOR: #a7a7a7
}
#tr2nd
{
    BACKGROUND-COLOR: #cccccc
}
#tr5th
{
    BACKGROUND-COLOR: #000000
}
#bodybg
{
    BACKGROUND-COLOR: #344b66
}
.font_menu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: gold;
    FONT-FAMILY: Verdana
}
