body,tbody,tr,td,th { color: #000000; font-size: 9pt; font-family: Verdana; }
table { color: #000000; font-size: 9pt; font-family: Verdana; }
p { color: #000000; font-size: 9pt; font-family: Verdana; }
a:hover { text-decoration: underline; color: #ff0000; font-weight: none; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
