TD {
	vertical-align : top;
}
.orq {
	color : Black;
	font-weight : bold;
	text-decoration : none;
}
.code {
	font-family : "Courier New", Courier, monospace;
	font-size : 9pt;
}
.covhunt {
	color : Teal;
	font-weight : bold;
	text-decoration : none;
}
.cov {
	color : Blue;
	font-weight : bold;
	text-decoration : none;
}
.coc {
	color : Gray;
	font-weight : bold;
	text-decoration : none;
}

.other {
	color : Olive;
	font-weight : bold;
	text-decoration : none;
}

.hu {
	color : Fuchsia;
	font-weight : bold;
	text-decoration : none;
}


.language {
	color : Purple;
	font-weight : bold;
	text-decoration : none;
}

.fotp {
	color : Green;
	font-weight : bold;
	text-decoration : none;
}


A:HOVER {
	color : Red;
}
H2 {
	text-align : center;
}
TD.data {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
BODY {
	background-color : White;
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
}
H1 {
	text-align : center;
}
.ezboard {
	background-color : #e5e5c3;
	color : #330000;
}
