/*
 */
DIV.title {
 background-color:#222277;
}
DIV.title A:link, DIV.title A:visited, DIV.title A:active {
 text-decoration:none;
}
DIV.topic {
 border-width:2px;
 border-style:outset;
 border-color:#8fc0c0;
}
DIV.topic A:link, DIV.topic A:visited, DIV.topic A:active {
 text-decoration:none;
}
DIV.tell {
 color:#cc55cc;
}
DIV.gs {
 color:#33cccc;
}
DIV.shout {
 color:#cc0000;
}
DIV.LD {
 color:#cccc33;
}
DIV.exp {
 color:#cccc00;
}
