body{

	background-color: #ffffff;
        /*	background-image: url(../img/bg_border.gif);*/

}



body,td{

	font: normal normal normal 83%/100% verdana,arial,Helvetica,'MS UI Gothic',osaka;

	color:#000000;

}



a:link, a:visited { color:#45619b; text-decoration: underline; }

a:hover, a:active      { color: #ff0000; text-decoration: none;}



img{	border:none;}

h1{

	font-weight: bold;

	font-size: 120%;

	line-height; 100%;

	text-align: left;

	color: #45619b;

	margin: 10px 0px 0.5em 0px;

	text-align: justify;

	text-justify: distribute-all-lines;

}



h2,h3,h5,h6{

	font-weight: bold;

	font-size: 100%;

	line-height; 100%;

}

h2{

	color: #666666;

	border-left:1px solid #999999;

	border-bottom:1px solid #999999;

	padding: 0.2em 0 0.2em 0.2em;

	margin: 5em 0px 0.5em 0px;

}



h3{

	color: #45619b;

	border-left: 1px solid #45619b;

	border-bottom:1px solid #45619b;

	padding: 0.4em 0px 2px 0.8em;

	margin: 2em 0px 0.5em 2em;

}



div.main {	width:70%;

		margin:1em auto 1em auto;}



table{

	margin: 0.5em 0px 0px 4em;

	border:none;

}

td{

	border:none;

	padding:0.2em;

}

p,form{	margin:0;}

.clm{

	line-height: 140%;

	margin: 0.5em 0px 0px 1.5em;

}

.ind{

	line-height: 140%;

	margin: 0.5em 0px 0px 4em;

}

.ind4{

	line-height: 140%;

	margin: 0.5em 0px 0px 5em;

}

.sml{

	font-size: 83%;

	line-height: 140%;

	text-align: justify;

	text-justify: distribute-all-lines;

}

p.mr{	margin-top:0.5em;

	text-align:right;}

hr{	display:none;}



code{

	font: normal normal normal 100%/140% verdana,arial,Helvetica,'MS UI Gothic',osaka;

	color:#ff9900;

}



dl.qa{

	line-height: 140%;

	margin: 0.5em 0px 0px 5em;

}

dl.qa dd{

	line-height:140%;

	border:none;

	padding: 0.3em 0.5em 0.5em 0.5em;

	margin:0 0 1em 2em;

	display:none;

}

dl.qa dt{

	margin:0 0 0 0;

	padding:0 0 0.5em 0;

	cursor: hand;

	font-weight: bold;

	color:#ff9900;

	cursor:hand;

}

ul{

	margin: 0px;

	padding: 0.5em 0 0 0.5em;
; list-style-type: circle

}



em{

	font: normal normal normal 100%/140% verdana,arial,Helvetica,'MS UI Gothic',osaka;

	color:#ff6633;

}

p.src{

	line-height: 140%;

	margin: 0.5em 0px 0px 4em;

	border:solid 1px #cccccc;

}

img{	border:none}h4 { 

	font-weight: bold;

	font-size: 120%;

	line-height;  ; line-height: 100%; color: #45619b; margin-top: 10px; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px} 