html, body {
    font-family: ‚l‚r ‚oƒSƒVƒbƒN,Osaka;
    font-size: 10pt;
    color: #333333;
    background-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #99CC99;
    scrollbar-3dlight-color: #99CC99;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #99CC99;
}


img {
    border: 0px none #FFFFFF;
}



#menu {
    padding-left: 430px;
    height: 20px;
    width: 240px;
}

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 20px;
    width: 240px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}


#m01 a,#m01 a:link,#m01 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m01 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m02 a,#m02 a:link,#m02 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m02 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m03 a,#m03 a:link,#m03 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 90px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m03 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m04 a,#m04 a:link,#m04 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    display: block;
}

#m04 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}



#waku {
    padding: 0px 55px;
    height: 1985px;
    width: 670px;
    background-image: url('../img/details/back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}


/* header */
#h-left {
    margin-top: 75px;
    margin-left: 2px;
    float: left;
    height: 90px;
    width: 275px;
}


#h-right {
    text-align: right;
    margin: 0px;
    padding-top: 30px;
    padding-left: 190px;
    float: right;
    height: 135px;
    width: 200px;
}



/* ‚±‚±‚©‚çƒRƒ“ƒeƒ“ƒc */
#main {
    clear: both;
    width: 665px;
    background-color: #FFFFFF;
}


#b01 {
    text-align: left;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 25px;
    height: 245px;
    width: 525px;
    background-image: url('../img/details/01-back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}

#b01-txt {
    line-height: 135%;
    text-align: justify;
    padding-top: 25px;
    padding-left: 40px;
    width: 310px;
}


#b02 {
    margin-bottom: 25px;
    height: 290px;
    width: 570px;
    background-image: url('../img/details/02-back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}

#b02 img {
    padding-bottom: 15px;
}

#b02-l {
    line-height: 130%;
    padding-top: 25px;
    padding-left: 20px;
    float: left;
    height: 90px;
    width: 125px;
}

#b02-r {
    padding-top: 40px;
    padding-left: 15px;
    float: left;
}



#b03 {
    margin-bottom: 25px;
    clear: both;
    height: 270px;
    width: 570px;
    background-image: url('../img/details/03-back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}

#b03-l {
    text-align: left;
    padding-top: 120px;
    padding-left: 20px;
    float: left;
    width: 240px;
}

#b03-r {
    padding-top: 100px;
    padding-right: 10px;
    float: right;
}



#b04 {
    margin-bottom: 25px;
    clear: both;
    height: 290px;
    width: 570px;
    background-image: url('../img/details/04-back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}

#b04-l {
    text-align: left;
    padding-top: 135px;
    padding-left: 20px;
    float: left;
    width: 210px;
}

#b04-r {
    padding-top: 115px;
    padding-right: 10px;
    float: right;
}


.footer {
    line-height: 130%;
    padding-bottom: 20px;
    clear: both;
    height: 35px;
    width: 665px;
}


#footer-l {
    padding-left: 245px;
    float: left;
    width: 190px;
}

#footer-r {
    padding-top: 10px;
    padding-right: 50px;
    float: right;
}
