
p {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #400000}

a:link {  text-decoration: none; font-size: 10pt; color: #800000}
a:visited {  color: #A66868; text-decoration: none; font-size: 10pt}
a:hover {  font-size: 10pt; color: #008000; text-decoration: underline}

a.header:link { text-decoration: none; font-size: 12pt; color: #800000; font-weight: bold}
a.header:visited { color: #A66868; text-decoration: none; font-size: 12pt; font-weight: bold} 
a.header:hover { font-size: 12pt; color: #008000; text-decoration: underline; font-weight: bold} 

a.dark:link { text-decoration: none; font-size: 10pt; color: #400000; font-weight: bold}
a.dark:visited { color: #400000; text-decoration: none; font-size: 10pt; font-weight: bold} 
a.dark:hover { font-size: 10pt; color: #000000; text-decoration: underline; font-weight: bold} 

a.light:link { text-decoration: none; font-size: 10pt; color: #dec9a3; font-weight: bold}
a.light:visited { color: #dec9a3; text-decoration: none; font-size: 10pt; font-weight: bold} 
a.light:hover { font-size: 10pt; color: #FFFFFF; text-decoration: underline; font-weight: bold} 

a.teal:link { text-decoration: none; font-size: 10pt; color: teal; font-weight: bold}
a.teal:visited { color: teal; text-decoration: none; font-size: 10pt; font-weight: bold} 
a.teal:hover { font-size: 10pt; color: #FFFFFF; text-decoration: underline; font-weight: bold} 

.mainbody {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #400000}

.dark { color: #400000; text-decoration: none; font-size: 10pt; font-weight: bold}

.restricted { color: #FF0000; text-decoration: none; font-size: 10pt}

.headers {  font-size: 12pt; font-weight: bold}

.copywrite {  font-size: xx-small; font-style: normal; font-family: "Times New Roman", Times, serif}

.teal {  font-weight: bold; color: teal}

.intable {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.intable2 {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #400000}

.black {  color: #000000}

.dates {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #400000}

h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt}

li {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #400000}

/* 20px width separation between ULs lets you squeeze more levels on the page */ 
.aqtree ul { padding: 0 0 0 20px; margin: 0 0 0 0; } 
.aqtree li.expand { border-left: 1px solid rgb(200,150,100); } 
/* 10px puts the line inside the bullet */ 
/* 18px puts the line on the bullet; 
   looks a little off if bullet width is an even number */ 
.aqtree li { 
   padding-left: 10px; 
   margin-left: -10px; 
} 
/* right + left = -23px */ 
.aqtree ul.aqtree img { 
   margin: 0 6px 0 -29px; 
   padding: 0 0 0 0; 
} 
/* would look better shifted down 1px or so */ 
.aqtree img { vertical-align: bottom; } 
.aqtree a.treenode { margin-left: -1px; } 

blockquote {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #400000}

/* Nav Button code. Big thanks to all at css-discuss! */

#button {
		width: 100px;
		padding: 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9pt;
		font-weight: bold;
		background-color: #dec9a3;
		color: #400000;
		float: left;
		}
	
	#button ul {
		list-style: none;
		margin: -30px; /*-30 this is for netscape 4.7 only, it is redefined in the url linked style sheet to 0px */
		padding: 0;
		border: none;
		}
		
	#button li {
		border-bottom: 1px solid #dec9a3;
		margin: 0px;
		}
	
	#button li.unselected1 a {
		display: block;
		font-size: 9pt;
		/*padding: 4px 5px 4px 5px;*/
		padding: 1px 1px 1px 3px;
		background-color: #400000;
		color: #dec9a3;
		text-decoration: none;
		width: 100%;
		}

	html>body #button li.unselected1 a {
		width: auto;
		}

	#button li.unselected2 a {
		display: block;
		font-size: 9pt;
		/*padding: 4px 5px 4px 5px;*/
		padding: 1px 1px 1px 3px;
		background-color: #683229;
		color: #dec9a3;
		text-decoration: none;
		width: 100%;
		}

	html>body #button li.unselected2 a {
		width: auto;
		}

	#button li.unselected3 a {
		display: block;
		font-size: 9pt;
		/*padding: 4px 5px 4px 5px;*/
		padding: 1px 1px 1px 3px;
		background-color: #8F6552;
		color: #dec9a3;
		text-decoration: none;
		width: 100%;
		}

	html>body #button li.unselected3 a {
		width: auto;
		}

	#button li.unselected4 a {
		display: block;
		font-size: 9pt;
		/*padding: 4px 5px 4px 5px;*/
		padding: 1px 1px 1px 3px;
		background-color: #b7977a;
		color: #400000;
		text-decoration: none;
		width: 100%;
		}

	html>body #button li.unselected4 a {
		width: auto;
		}

	#button li.selected a {
		display: block;
		font-size: 9pt;
		/*padding: 4px 5px 4px 5px;*/
		padding: 1px 1px 1px 3px;
		background-color: #dec9a3;
		color: #400000;
		text-decoration: none;
		width: 100%;
		}

	html>body #button li.selected a {
		width: auto;
		}
		
	#button li a:hover {
		background-color: #ffffff;
		color: #400000;
		}


