body {
	background-color: Black;
   scrollbar-3dlight-color: #AA0000;
	scrollbar-arrow-color: #FFCC33;
	scrollbar-base-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-face-color: #660000;
	scrollbar-highlight-color: #880000;
	scrollbar-shadow-color: #330000;
	scrollbar-track-color: #330000;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : white;	
}

img { border: 0; }
img.avatar { border: 0; height: 80px; width: 80px; }

/* General font families for common tags */
font,th,td,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : White;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color : #FFCC33;
}

a:hover {
	text-decoration: underline;
	color : #FFFFFF; 	
}

/* This is the border line & background colour round the entire page */
.bodyline	{ color : #FFCC33; background-color: #330000; border: 1px #990000 solid; }

/* This is the outline round the main forum tables */
/* .forumline	{ background-color: #111111; border: 1px none #333333; } */

/* Main table cell colours and backgrounds */
td.inputrow { background-color: #111111; }

td.row1	{ background-color: #3F0000; }
td.row2	{ background-color: #4F0000; }
td.row3	{ background-color: #5F0000; }
td.rowpic { background-color: #330000; background-image: url(images/cellpic2.jpg);		background-repeat: repeat-y; }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
	background-color: #330000;
	background-image: url(images/table_cell_bg1.jpg);
	background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{ color: #FFCC33; font-size: 11px; font-weight: bold; background-color: #330000; background-image: url(images/cellpic3.gif); }

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
		background-image: url(images/table_cell_bg1h.gif);
		background-color: #330000;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: 1px #660000 solid; }
td.row3Right,td.spaceRow {
	background-color: #3D3D3D; border: #3D3D3D; border-style: solid; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 18px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #FFCC33;
}


/* General text */
.gen { font-size : 13px; }
.genmed { font-size : 12px; }
.gensmall { font-size : 11px; }
.gen,.genmed,.gensmall { color : #CCCCCC; }
a.gen,a.genmed,a.gensmall { color : #FFCC33; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color : #FFFFFF; text-decoration: underline; }
/* a.gen:visited,a.genmed:visited,a.gensmall:visited { color : #FF9900; text-decoration: none; } */


/* The register, login, search etc links at the top of the page */
.mainmenu		{
	font-size : 12px;
	color : #CCCCCC;
}
a.mainmenu		{ text-decoration: none; color : #FFCC33;  }
a.mainmenu:hover{ text-decoration: underline; color : #FFCC33; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 13px ; letter-spacing: 1px; color : #FFCC33}
a.cattitle		{ text-decoration: none; color : #FFFFFF; }
a.cattitle:visited		{ text-decoration: none; color : #FFCC33; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 13px; color :  #FFCC33; }
a.forumlink 	{ text-decoration: none; color : #FFCC33; }
a.forumlink:visited{ text-decoration: none; color : #FFCC33; }
a.forumlink:hover{
	text-decoration: underline;
	color : White;
}

.forumdescr {
	color : #999999;
}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 12px; color : #CCCCCC;}
a.nav			{ text-decoration: none; color : #FFCC33; }
a.nav:hover		{ text-decoration: underline;  color : White;  }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 12px; color : #DDDDDD; }
a.topictitle:link   { text-decoration: none; color : #FFCC33; }
a.topictitle:visited { text-decoration: none; color : #FFCC33; }
a.topictitle:hover	{ text-decoration: underline; color : White; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 12px; color : #DDDDDD;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 11px; color : #CCCCCC; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #FFCC33; }
a.postlink:visited { text-decoration: none; color : #CCCCCC; }
a.postlink:hover { text-decoration: underline; color : White; }


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 12px; color: White;
	background-color: Black; border: #777777; border-style: dashed dashed;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #999999; line-height: 125%;
	background-color: Black; border: #777777; border-style: dashed;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCCCCC; letter-spacing: -1px;}
a.copyright		{ color: #FFFFFF; text-decoration: none;}
a.copyright:hover { color: #FFFFFF; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #FFCC33;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	background-color : #111111;
	border-color: #222222;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #111111;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #111111;
	color : #DDDDDD;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #111111;
	font-weight : bold;
	/* border : 1px solid #999999; */
}

/* None-bold submit button */
input.liteoption {
	background-color : #111111;
	font-weight : normal;
	/* border : 1px solid #999999;	 */
}

input.checkbox {
	background-color : #000000;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #000000; border-style: none;  color : White;  }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

/* alternativeSuns specific styles */

hr	{ height: 0px; border: solid #990000 0px; border-top-width: 0px;}

td.maintable {
	background-repeat : no-repeat;
}

td.mainforumcell {
	border : solid #660000 1px;
	border-left-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-top-width : 1px;
	background: #330000;
}

td.newpms {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-repeat: no-repeat;
	color : White;
	text-align : center;
}

td.forumcolumns {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #FFFFFF;
	text-align : center;
	background-color : #660000;	
}

td.categorybar {
	background-image: url(images/table_cell_bg1.gif);
	background-repeat : repeat-x;
	background-color : #990000;
}

td.tableborder {
	background-color: #990000;
}

td.stdtable1 {
	background-color: #990000;
	color : Red;
}

a.faqlink {
	color: #FFCC33;
	text-decoration: none;
}

.error {
	font-size : 12px; 
	font-weight: bold;
	color: #FFCC33;
}

iframe.topicreview {
	border-color: #111111;
	border-width : 0px;
}