BODY
{
	SCROLLBAR-FACE-COLOR: #800000;
	SCROLLBAR-HIGHLIGHT-COLOR: #ebeae7;
	SCROLLBAR-ARROW-COLOR: #ebeae7;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-IMAGE: url(../SiteGraphics/bgPhoto3.jpg);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
TD
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
TH
{
    BACKGROUND-COLOR: #800000;
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    COLOR: #ffffff;
    FLOAT: right;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
INPUT
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
SELECT
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
OPTION
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
TEXTAREA
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
TD TD.CharOwner
{
    COLOR: #808080;
    FONT-FAMILY: Arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}
.LeftNav
{
}
.LeftNav TD
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
.News
{
}
.News TD
{
    BACKGROUND-IMAGE: url(../SiteGraphics/lgrey011.jpg);
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.News TH
{
    BACKGROUND-COLOR: #800000;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
.Chart
{
}
.Chart BODY
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
.Chart H1
{
    COLOR: teal;
    FONT-SIZE: 18pt
}
.Chart H2
{
    COLOR: indianred;
    FONT-SIZE: 14pt
}
.Chart TH
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
.Chart TD
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
.Chart INPUT
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
.NewLink
{
    COLOR: maroon
}
.NewLink A:link
{
    COLOR: blue
}
.NewLink A
{
    COLOR: fuchsia
}
.NewLink A:visited
{
    COLOR: green
}
.ItemInfo
{
}
.ItemInfo TD
{
    COLOR: purple;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.ItemInfo TH
{
    BACKGROUND-COLOR: transparent;
    COLOR: black;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: right
}
TD.FieldData
{
    COLOR: purple;
    TEXT-DECORATION: none
}
TD.MainChar
{
    COLOR: navy;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
BUTTON
{
    FONT-SIZE: 8pt
}
TD.GreyOut
{
    COLOR: #666666;
    FONT-STYLE: italic
}
H1
{
    COLOR: #800000;
    FONT-FAMILY: 'Fraktur BT', 'Times New Roman', Verdana;
    FONT-SIZE: 24pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center
}
H2
{
    COLOR: #808080;
    FONT-FAMILY: 'Times New Roman', Verdana;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
TD.WithinFive
{
    BACKGROUND-COLOR: silver;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
TD.YourChar
{
    BACKGROUND-COLOR: #3399ff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
TH A:link
{
    COLOR: #ffffff
}
TH A:hover
{
    COLOR: #ffff00
}
TD.legend
{
    FONT-SIZE: 8pt
}
TH A:visited
{
    COLOR: #ffffff
}
TD.Expired
{
    BACKGROUND-COLOR: #ffe0e0
}
BODY.Email
{
    BACKGROUND-COLOR: transparent;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.HelpImage
{
    CURSOR: hand
}
.Flag
{
    BACKGROUND-IMAGE: url(../SiteGraphics/Flagbkg.gif)
}
