.navbar {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(/coppermine/themes/Pixel-Rave-Blue100/images/nav-bar-button.gif) #72a5cc no-repeat; VERTICAL-ALIGN: middle; COLOR: #a5c6df; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sqlname {  color: #006600; text-decoration: none; font-size: small; background-color: #FFFFFF}
.doc_title {  font-size: large; font-weight: bold}
.doc_desc {  font-size: small; text-decoration: none}
.cur_name { text-decoration: none; font-size: small }
.doc_head {  font-size: large; font-style: italic; color: #333333; background-color: #FFFFFF}
