.standardOrange {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; color: #FF9900; font-weight: normal; font-style: normal; line-height: normal; font-variant: normal}
.monsterName {  font-size: 16px; font-weight: bold; color: #FFFFFF}
a:link {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style: normal; font-weight: bold; color: #0066FF; text-decoration: underline}
a:visited { font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style: normal; font-weight: bold; color: #993366; text-decoration: underline }
a:hover { font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style: normal; font-weight: bold; color: #CC0000; text-decoration: underline }
.TitleWhite {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 18px; font-weight: bold; color: #FFFFFF}
.TitleOrange { font-family: Georgia, "Times New Roman", Times, serif; font-size: 18px; font-weight: bold; color: #FF9900}
body {  color: #FFFFFF; font-size: 12px}
.updateText {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-style: normal; font-weight: normal; color: #FFFFFF}
.updateTitle {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-style: normal; font-weight: bold; color: #FFFFFF; text-transform: none}
.updateMenuWhite {  font-size: 14px; font-style: normal; font-weight: normal; color: #FFFFFF}
.updateBlack { font-size: 12px; font-style: normal; font-weight: normal ; color: #000000}
ul {  font-size: 12px; font-style: normal; font-weight: normal; color: #FFFFFF; list-style-image: none; list-style-type: disc}
