<style>
.mstheme
{
	separator-image: url(arthsepd.gif);
	list-image-1: url(artbul1d.gif);
	list-image-2: url(artbul2d.gif);
	list-image-3: url(artbul3d.gif);

	nav-banner-image: url(artbannd.gif);

	navbutton-horiz-normal: url(artnvhnd.gif);
	navbutton-horiz-pushed: url(artnvhsd.gif);

	navbutton-vert-normal: url(artnvvnd.gif);
	navbutton-vert-pushed: url(artnvvsd.gif);

	navbutton-home-normal: url(arthomed.gif);

	navbutton-next-normal: url(artnextd.gif);

	navbutton-prev-normal: url(artprevd.gif);

	navbutton-up-normal: url(artupbtd.gif);

}

.mstheme-bannertxt
{
	font-family: Garamond, Times New Roman, Times;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: arial;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
</style>.
