FONT, TD, BODY, P, DIV,  FORM {font-family: Verdana,Helvetica;font-size:10;font-weight:bold;color:#B0A99E}
INPUT,TEXTAREA{font-family: Verdana,Helvetica;font-size:10;font-weight:bold;color:#000000}
a:link{font-family: verdana,Helvetica;font-size:10;font-weight:bold;color:#CAAC80;text-decoration:none}
a:active{font-family: verdana,Helvetica;font-size:10;font-weight:bold;color:#CAAC80;text-decoration:none}
a:visited{font-family: verdana,Helvetica;font-size:10;font-weight:bold;color:#CAAC80;text-decoration:none}
a:hover{font-family: verdana,Helvetica;font-size:10;font-weight:bold;color:#E6C491;text-decoration:none}


.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #AB7523; letter-spacing: 2px}
