/*****
  For menus to appear under page banner
*****/
.menu {
  display:table;         /* ignored by IE */
  padding:0; 
  list-style-type:none;
  white-space:nowrap;    /* keep text on one line */
  border:1px solid #06a; /* add a border to show size of menu */
  }
* html .menu {
  display:inline-block;  /* for IE only */
  width:1px;             /* IE will expand to fit menu width */
  padding:0 2px;         /* fix bug in IE for border spacing */
  }  
.menu li {
  display:table-cell;    /* ignored by IE */
  }
* html .menu li {
  display:inline;        /* for IE only */
  }
.menu a, .menu a:visited {
  display:block;         /* for all browsers except IE */
  padding:4px 16px;
  color:#000; 
  background:#d4d4d4; 
  border:1px solid #fff; /* add a 1px white border around items */ 
  text-decoration:none;
  }
* html .menu a, * html .menu a:visited {
  display:inline-block;  /* for IE only */ 
  margin:0 -2px;         /* to correct an IE border width bug */  
  }
.menu a:hover {
  color:#fff; 
  background:#08c;
  }

.lefted {margin:0 auto 0 10px;}
.centered {margin:0 auto;}
.righted {margin:0 0 0 auto;}


/*****
  For my quote blocks in posts....
*****/
blockquote {
  margin: 0 auto;
  text-align: justify;
  width: 80%;
  padding: 0px 10px;
  font-family:georgia, serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.2em;
  border: 1px solid #a9a9a9;
  }
blockquote > p {
  line-height: inherit;
}
blockquote > p:first-child:first-letter {
  font-size: 325%;
  font-weight: bold;
  float: left;
  color: #D4D4C7;
  padding-right: .15em;
  margin-top: -.2em;
  }