.link1   { color: #1e2080; text-decoration: none }
A.link1:hover   { color: #cc0000; text-decoration: underline }
.link2   { color: #fff; font-style: italic; font-weight: bolder; text-decoration: none }
A..link2:hover   { color: #ffe1aa; font-style: italic; font-weight: bolder; text-decoration: none }
.link3  { color: #1e2080; text-decoration: none }
A..link3:hover  { color: #c00; text-decoration: none }
