a                                 { color: #FFFFCC; }
a:hover                           { color: #FFFF00; }

body                              { background: #444444; color: #CCCCCC; }
.sage_table_page                  { background: #444444; border-color: #000000; }

.sage_body                        { background: #0A1C31; }

.sage_line                        { background: #805938; padding-top: 1; }

.sage_textbar_table               { background-color: #333333; color: #FFFFFF; }

.sage_default_table               { background: #000000; }
.sage_default_cell_content        { background: #222222; }
.sage_default_cell_content_alt    { background: #333333; }
.sage_default_cell_body           { background: #222222; }
.sage_default_cell_body_alt       { background: #333333; }
.sage_default_cell_list           { background: #222222; }
.sage_default_cell_list_alt       { background: #333333; }
.sage_default_cell_full           { background: #222222; }
.sage_default_cell_menu           { background: #222222; padding: 4; }
.sage_default_cell_form           { background: #222222; }
.sage_default_cell_active         { background: #222222; }
.sage_default_cell_info           { background: #222222; }
.sage_default_cell_footer         { background: #222222; }
.sage_default_cell_header         { background: #805938; color: #FFFFFF; border-color: #FFFFFF; font-size: 12px; }
.sage_default_cell_subheader      { background: #444444; }
.sage_default_cell_section        { background: #222222; }

.sage_default_text_tiny           { color: #CCCCCC; }
.sage_default_text_small          { color: #CCCCCC; }
.sage_default_text_medium         { color: #CCCCCC; }
.sage_default_text                { color: #CCCCCC; }
.sage_default_text_big            { color: #CCCCCC; }
.sage_default_text_large          { color: #CCCCCC; }
.sage_default_text_body           { color: #CCCCCC; }

.sage_default_error_tiny          { color: #FF0000; }
.sage_default_error_small         { color: #FF0000; }
.sage_default_error_medium        { color: #FF0000; }
.sage_default_error               { color: #FF0000; }
.sage_default_error_big           { color: #FF0000; }
.sage_default_error_large         { color: #FF0000; }
.sage_default_error_body          { color: #FF0000; }

.sage_default_prompt_tiny         { color: #FFCC33; }
.sage_default_prompt_small        { color: #FFCC33; }
.sage_default_prompt_medium       { color: #FFCC33; }
.sage_default_prompt              { color: #FFCC33; }
.sage_default_prompt_big          { color: #FFCC33; }
.sage_default_prompt_large        { color: #FFCC33; }

.sage_default_note_tiny           { color: #FFFF00; }
.sage_default_note_small          { color: #FFFF00; }
.sage_default_note_medium         { color: #FFFF00; }
.sage_default_note                { color: #FFFF00; }
.sage_default_note_big            { color: #FFFF00; }
.sage_default_note_large          { color: #FFFF00; }

.sage_form_file                   { background: #444444; color: #FFFFFF; }
.sage_form_select                 { background: #444444; color: #FFFFFF; }
.sage_form_selectmedium           { background: #444444; color: #FFFFFF; }
.sage_form_selectsmall            { background: #444444; color: #FFFFFF; }
.sage_form_text                   { background: #444444; color: #FFFFFF; border-color: #999999; border-width: 1; border-style: inset; font-size: 13px; }
.sage_form_textsmall              { background: #444444; color: #FFFFFF; border-color: #999999; border-width: 1; border-style: inset; }
.sage_form_textarea               { background: #444444; color: #FFFFFF; border-color: #999999; }
.sage_form_submit                 { background-color: #B2B2B2; color: #333333; border-width: 1; border-top-color: #E5E5E5; border-left-color: #E5E5E5; border-right-color: #666666; border-bottom-color: #666666; height: 21; }
.sage_form_submitsmall            { background-color: #B2B2B2; color: #333333; border-width: 1; border-top-color: #E5E5E5; border-left-color: #E5E5E5; border-right-color: #666666; border-bottom-color: #666666; height: 19; }

.sage_page_menu                   { background: #000000; }
.sage_page_menu_body              { }

.sage_page_body                   { background: #E7E7E7; }
.sage_page_border                 { background: #000000; }
.sage_page_vborder                { background: #000000; }
.sage_page_hborder                { background: #000000; }

.sage_image_table                 { border-color: #FFFFFF; }

.sage_tab_table                   { }
.sage_tab_space                   { background: #444444; }
.sage_tab_active_line             { background: #805938; }
.sage_tab_active                  { background: #805938; }
.sage_tab_active_link             { color: #FFFFFF; }
.sage_tab_active_link:hover       { color: #FFFFFF; }
.sage_tab_text                    { }
.sage_tab_inactive                { background: #333333; }
.sage_tab_inactive_link           { color: #CCCCCC; }
.sage_tab_inactive_link:hover     { color: #FFFFFF; }

.sage_logo                        { color: #CCCCCC; font-size: 22px; }

.sage_points_big                  { color: #FFFFFF; }
.sage_points                      { color: #FFFFFF; }
.sage_points_small                { color: #FFFFFF; }
.sage_points_cell_active          { background: #FF9900; }
.sage_points_cell_open            { background: #CC0000; }
.sage_points_cell_closed          { background: #999999; }

.sage_cell_answer_header          { }
.sage_cell_answer_body            { }
.sage_cell_answer_body_alt        { }
.sage_cell_answer_header          { background: #0A1C31; }
.sage_cell_answer_body            { }
.sage_cell_answer_body_alt        { background: #0A1C31; }

.sage_cell_question_header        { }
.sage_cell_question_menu          { }
.sage_cell_question_body          { }
.sage_cell_question_body_alt      { }
.sage_cell_question_header        { }
.sage_cell_question_menu          { background: #0A1C31; }
.sage_cell_question_body          { }
.sage_cell_question_body_alt      { background: #0A1C31; }

.sage_forum_selfpost              { color: #FFCC00; }
.sage_forum_moderator             { color: #FFCC00; font-weight: bold; }
.sage_forum_guest                 { color: #00CC00; }

.sage_dividerline                 { background: #666666; }
.sage_default_cell_content_header { background: #335555; color: #FFFFCC; border-color: #FFFFFF; font-size: 12px; }
