
 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: Black;
	scrollbar-face-color: #111111;
	scrollbar-highlight-color: #222222;
	scrollbar-shadow-color: #000000;
	scrollbar-3dlight-color: #333333;
	scrollbar-arrow-color:  #F8A406;
	scrollbar-track-color: #060606;
	scrollbar-darkshadow-color: #000000;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	color : #DDDDDD;	
}

/* General font families for common tags */
font,th,td,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #DDDDDD;
}

a:link {
	text-decoration: none;
	color : #F8A406;
}

a:active {
	text-decoration: none;
	color : #FFFFFF; 	
}

a:visited {
	text-decoration: none;
	color : #F8A406;	
/*	color : #A56C03; 	*/
}

a:hover	{
	text-decoration: underline;
	color : #FFFFFF;
}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: Black; border: 1px solid #333333; }

/* This is the outline round the main forum tables */
/* .forumline	{ background-color: #111111; border: 1px none #333333; } */


/* Main table cell colours and backgrounds */
td.row1	{ background-color : #060606; }
td.row2	{ background-color: #000000; }
td.row3	{ background-color: #0C0C0C; }
td.inputrow { background-color: #111111; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
	background-color: #333333;
	background-image: url(images/table_cell_bg1.jpg);
	background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #F8A406; font-size: 11px; font-weight : bold;
	background-color: #333333;
	background-image: url(images/table_cell_bg1h.jpg);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
		background-image: url(images/table_cell_bg1h.jpg);
		background-color: #333333; border: #FFFFFF; border-style: none;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #000000; border-style: none; }
td.row3Right,td.spaceRow {
	background-color: #333333; border: #333333; border-style: solid; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 18px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #F8A406;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #CCCCCC; }
a.gen,a.genmed,a.gensmall { color : #F8A406; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color : #FFFFFF; text-decoration: underline; }
/* a.gen:visited,a.genmed:visited,a.gensmall:visited { color : #F8A406; text-decoration: none; } */



* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #F8A406; }
a.mainmenu		{ text-decoration: none; color : #F8A406;  }
a.mainmenu:visited { text-decoration: none; color : #F8A406; }
a.mainmenu:hover{ text-decoration: none; color : #White; }

/* Forum title: Text and link to the forums used in: index.php */
.menubar		{ font-weight: bold; font-size: 10px; color : #AAAAAA; }
a.menubar 	{ text-decoration: none; color : #AAAAAA; }
a.menubar:visited { text-decoration: none; color : #AAAAAA; }
a.menubar:hover{ text-decoration: none; color : #FFFFCC; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #FFFFFF}
a.cattitle		{ text-decoration: none; color : #FFFFFF; }
a.cattitle:visited		{ text-decoration: none; color : #FFFFFF; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color :  #AAAAAA; }
a.forumlink 	{ text-decoration: none; color : #AAAAAA; }
a.forumlink:visited{ text-decoration: none; color : #AAAAAA; }
a.forumlink:hover{
	text-decoration: underline;
	color : White;
}
a.forumlink:visited{

}

.forumdescr {
	color : #999999;
}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #CCCCCC;}
a.nav			{ text-decoration: none; color : #F8A406; }
a.nav:hover		{ text-decoration: underline;  color : White;  }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #DDDDDD; }
a.topictitle:link   { text-decoration: none; color : #F8A406; }
a.topictitle:visited { text-decoration: none; color : #A56C03; }
a.topictitle:hover	{ text-decoration: underline; color : White; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #DDDDDD;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #AAAAAA; }


/* The content of the posts (body of text) */
.postbody { font-size : 11px;}
a.postlink:link	{ text-decoration: none; color : #F8A406 }
a.postlink:visited { text-decoration: none; color : #A56C03; }
a.postlink:hover { text-decoration: underline; color : White;
}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #0099FF;
	background-color: Black; border: #777777; border-style: dashed;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #999999; line-height: 125%;
	background-color: Black; border: #777777; border-style: dashed;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCCCCC; letter-spacing: -1px;}
a.copyright		{ color: #FFFFFF; text-decoration: none;}
a.copyright:hover { color: #FFFFFF; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #F8A406;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	background-color : #111111;
	border-color: #222222;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #111111;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #111111;
	color : #DDDDDD;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #111111;
	font-weight : bold;
	/* border : 1px solid #999999; */
}

/* None-bold submit button */
input.liteoption {
	background-color : #111111;
	font-weight : normal;
	/* border : 1px solid #999999;	 */
}

input.checkbox {
	background-color : #000000;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #000000; border-style: none;  color : White;  }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

/* alternativeSuns specific styles */

hr {
	height: 0px;
	border: solid #222222; 0px;
 	border-top-width: 1px;	
}

td.maintable {
	
}

td.mainforumcell {
	background-image : url(images/trans.gif);
	border : solid #0F0F0F 1px;
	border-left-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 0px;
	border-top-width : 0px;
}

td.newpms {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-repeat: no-repeat;
	color : White;
	text-align : center;
	background-image : url(images/topimg_pm.jpg);
}

td.forumcolumns {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 9px;
	color : #666666;
	text-align : center;
	background-color : #0C0C0C;	
}

td.categorybar {
	background-image : url(images/table_cell_bg1.jpg);
	background-repeat : repeat-x;
	background-color : #0C0C0C;
}

td.tableborder {
	background-color: #333333;
}

td.stdtable1 {
	background-color: #0C0C0C;
	color : #FD4000;
}

a.faqlink {
	color: #F8A406;
	text-decoration: none;
}

.error {
	font-size : 11px; 
	font-weight: bold;
	color: #F8A406;
}

iframe.topicreview {
	border-color: #111111;
	border-width : 0px;
}
.PanelBorder{ border:1px #666666 solid; }