/* CSSFILE.css */



/* ===== colorset ===== */

/* white>> [rgb(255,255,255)][hex(#ffffff)] */

/* black>> [rgb(0,0,0)][hex(#000000)] */

/* darkblue>> [rgb(0,0,102)][hex(#000066)] */

/* navy>> [rgb(0,9,132)][hex(#000984)] */

/* royalblue>> [rgb(95,143,205)][hex(#5F8FCD)] */

/* lightblue>> [rgb(150,188,230)][hex(#96BCE6)] */

/* grayblue>> [rgb(192,208,225)][hex(#C0D0E1)] */

/* gray>> [rgb(204,204,204)][hex(#CCCCCC)] */

/* lightgray>> [rgb(222,222,222)][hex(#dedede)] */

/* red>> [rgb(255,0,0)][hex(#FF0000)] */



/* default links */

a:link {text-decoration: underline; color: Red;}

a:visited {text-decoration: underline; color: Red;}

a:active {text-decoration: underline; color: Red;}

a:hover {text-decoration: none; color: Orange;}

/* White */

a.white:link {text-decoration: underline; color: White;}

a.white:visited {text-decoration: underline; color: White;}

a.white:active {text-decoration: underline; color: White;}

a.white:hover {text-decoration: none; color: White;}

/* Black */

a.black:link {text-decoration: underline; color: Black;}

a.black:visited {text-decoration: underline; color: Black;}

a.black:active {text-decoration: underline; color: Black;}

a.black:hover {text-decoration: none; color: Black;}

/* Gray (None) */

a.gray:link {text-decoration: none; color: Gray;}

a.gray:visited {text-decoration: none; color: Gray;}

a.gray:active {text-decoration: none; color: Gray;}

a.gray:hover {text-decoration: underline; color: Gray;}

/* TOC (None) */

a.toc:link {text-decoration: none; color: Black;}

a.toc:visited {text-decoration: none; color: Black;}

a.toc:active {text-decoration: none; color: Black;}

a.toc:hover {text-decoration: none; color: Red; font-weight: bold;}

/* PrevNext */

a.prevnext:link {text-decoration: none; color: Red;}

a.prevnext:visited {text-decoration: none; color: Red;}

a.prevnext:active {text-decoration: none; color: Red;}

a.prevnext:hover {text-decoration: underline; color: Orange;}

/* PrevNext white */

a.prevnextwhite:link {text-decoration: none; color: White;}

a.prevnextwhite:visited {text-decoration: none; color: White;}

a.prevnextwhite:active {text-decoration: none; color: White;}

a.prevnextwhite:hover {text-decoration: underline; color: Black;}



/* body styles */

body.body {

	background-color: White;

	color: Black; 

	font-family: Arial, Verdana; 

	font-size: 12px;

	scrollbar-arrow-color: Black;

	scrollbar-highlight-color: #CCCCCC;

	scrollbar-shadow-color: rgb(245,245,245);

	scrollbar-base-color: rgb(204,204,204);

	scrollbar-face-color: White;

	scrollbar-3dlight-color: White;

	scrollbar-darkshadow-color: White;

	scrollbar-track-color: rgb(204,204,204);

}



/* text styles */

/* Arial Black */

.black9 {color: Black; font-family: Arial, Verdana; font-size: 9px;}
.black10 {color: Black; font-family: Arial, Verdana; font-size: 10px;}

.black12 {color: Black; font-family: Arial, Verdana; font-size: 12px;}

.black13 {color: Black; font-family: Arial, Verdana; font-size: 13px;}

.black15 {color: Black; font-family: Arial, Verdana; font-size: 15px;}

.black16 {color: Black; font-family: Arial, Verdana; font-size: 16px;}

.black18 {color: Black; font-family: Arial, Verdana; font-size: 18px;}

.black19 {color: Black; font-family: Arial, Verdana; font-size: 19px;}

.black20 {color: Black; font-family: Arial, Verdana; font-size: 20px;}

/* Blue */

.navy12 {color: #000066; font-family: Arial, Verdana; font-size: 12px;}

/* Gray */

.gray10 {color: Gray; font-family: Arial, Verdana; font-size: 10px;}

.gray12 {color: Gray; font-family: Arial, Verdana; font-size: 12px;}

/* Verdana Black */

.vblack10 {color: Black; font-family: Verdana, Arial; font-size: 10px;}

.vblack12 {color: Black; font-family: Verdana, Arial; font-size: 12px;}

.vblack13 {color: Black; font-family: Verdana, Arial; font-size: 13px;}

.vblack15 {color: Black; font-family: Verdana, Arial; font-size: 15px;}

.vblack18 {color: Black; font-family: Verdana, Arial; font-size: 18px;}

.vblack19 {color: Black; font-family: Verdana, Arial; font-size: 19px;}

.vblack20 {color: Black; font-family: Verdana, Arial; font-size: 20px;}

/* Verdana Gray */

.vgray10 {color: Gray; font-family: Verdana, Arial; font-size: 10px;}

.vgray12 {color: Gray; font-family: Verdana, Arial; font-size: 12px;}

/* Arial White */

.vwhite10 {color: White; font-family: Verdana, Arial; font-size: 10px;}

.vwhite12 {color: White; font-family: Verdana, Arial; font-size: 12px;}

.vwhite13 {color: White; font-family: Verdana, Arial; font-size: 13px;}

.vwhite15 {color: White; font-family: Verdana, Arial; font-size: 15px;}

.vwhite18 {color: White; font-family: Verdana, Arial; font-size: 18px;}

.vwhite19 {color: White; font-family: Verdana, Arial; font-size: 19px;}

.vwhite20 {color: White; font-family: Verdana, Arial; font-size: 20px;}

/* Verdana White */

.white10 {color: White; font-family: Arial, Verdana; font-size: 10px;}

.white12 {color: White; font-family: Arial, Verdana; font-size: 12px;}

.white13 {color: White; font-family: Arial, Verdana; font-size: 13px;}

.white14 {color: White; font-family: Arial, Verdana; font-size: 14px;}

.white15 {color: White; font-family: Arial, Verdana; font-size: 15px;}

.white18 {color: White; font-family: Arial, Verdana; font-size: 18px;}

.white19 {color: White; font-family: Arial, Verdana; font-size: 19px;}

.white20 {color: White; font-family: Arial, Verdana; font-size: 20px;}

/* special types */

.spacer {color: White; font-family: Arial, Verdana; font-size: 5px;}

.system {color: Black; font-family: system, arial, verdana;}



/* buttons */

input.button {background-color: White; border: Black 1px solid; color: Black; font-family: arial, verdana; font-size: 9px;}

/* images */

img.images {border-color: #5876b2;}

img.gallery {border-color: DarkGray;}

/* inputs */

input.checkbox {height: 9px;}

input.signup {border-color: #b2c3e7; color: black; font-family: Arial, Verdana; font-size: 8px; height: 18px; width: 75px;}

input.text {background-color: White; border: DarkGray 1px solid; color: Black; font-family: arial, verdana; font-size: 10px; height: 19px; width: 100%;}

/* textareas */

textarea.textarea {background-color: White; border: DarkGray 1px solid; color: Black; font-family: arial, verdana; font-size: 9px; scrollbar-3dlight-color: White; scrollbar-arrow-color: Black; scrollbar-base-color: White; scrollbar-darkshadow-color: White; scrollbar-face-color: White; scrollbar-highlight-color: Gray; scrollbar-shadow-color: White; width: 100%;}

/* selects */

select.select {background-color: White; border: Black 1px solid; color: Black; font-family: arial, verdana; font-size: 9px; scrollbar-3dlight-color: Navy; scrollbar-arrow-color: White; scrollbar-base-color: Navy; scrollbar-darkshadow-color: Navy; scrollbar-face-color: Navy; scrollbar-highlight-color: Navy; scrollbar-shadow-color: Navy; width: 100%;}

