body { 
          background: #F3F3F3;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          scrollbar-face-color:#F3F3F3;
          scrollbar-shadow-color:#000000;
          scrollbar-3dlight-color:#F3F3F3;
          scrollbar-arrow-color:#F3F3F3;
          scrollbar-base-color:#F3F3F3;
          scrollbar-darkshadow-color:#F3F3F3;
          scrollbar-highlight-color:#000000;
          scrollbar-track-color:#F3F3F3;
          }

img {
     cursor:crosshair;
     }

a:link {color:#000000 ; text-decoration:underline ; font-weight:normal ; cursor:help }
a:visited {color:#000000 ; text-decoration:underline ; font-weight:normal ; cursor:help } 
a:active {color:#000000 ; text-decoration:underline ; font-weight:normal ; cursor:help } 
a:hover {color:#FFA500 ; text-decoration:underline ; font-weight:normal ; cursor:help }

input, textarea {
          color:#000000;
          background: #FFFFFF; 
          border:1 solid #000000;
          font-family: Arial;
          font-size:7pt;
          letter-spacing: 2pt;
          }

.nav a,.nav a:link,.nav a:active,.nav a:visited{
     background: #FFFFFF;
     display: block;
     padding: 5px;
     color: #000000;
     font-weight: normal;
     text-decoration:none;
     text-align: center;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 2px;
     line-height:8pt;
     cursor:help;
     border-bottom: 1px solid #556579;
     }

.nav a:hover{
     background: #FFA500;
     color: #000000;
     text-decoration:underline;
     }

table {
     color: #000000;
     font-weight: normal;
     text-align: justify;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 2px;
     line-height:8pt;
     }

.content-title {
     background: #FFE2A3;
     display: block;
     padding: 5px;
     border-bottom:1px solid #000000;
     color: #000000;
     font-weight: bold;
     text-align: center;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 4px;
     line-height:8pt;
     cursor:text;
     }

.content { 
     display: block;
     padding-top: 10px;
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 10px;
     color: #000000;
     font-weight: normal;
     text-align: justify;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 2px;
     line-height:8pt;
     cursor:text;
     }

.side {
     display: block;
     padding: 5px;
     color: #000000;
     font-weight: normal;
     text-align: justify;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 2px;
     line-height:8pt;
     cursor:text;
     }

.side-title {
     background: #FFE2A3;
     display: block;
     padding: 5px;
     border-top:0px;
     border-bottom:1px solid #000000;
     color: #000000;
     font-weight: bold;
     text-align: center;
     font-size: 8pt;
     font-family: Arial; 
     letter-spacing: 4px;
     line-height:8pt;
     cursor:text;
     }

.link-name {
	font-size: 9pt;
                line-height: 14pt;
}