body { background-color: #CCCCCC; margin: 0px; padding: 0px; background-image: url(/images/bgmmute.jpg); }
.table1 {
	border-color: #000000;
	border-width: 1;
	background-color: #333333;
	padding: 5;
	margin: 5;
}

.article_text a:link            { color: #C88018; font-weight: bold; text-decoration: none; } 
.article_text a:hover           { color: #C88018; font-weight: bold; text-decoration: underline; }
.article_text a:active          { color: #C88018; font-weight: bold; text-decoration: none; }
.article_text a:visited         { color: #C88018; font-weight: bold; text-decoration: none; }

 
.postlink { font-family: Arial; color: #efefef; font-weight: bold; font-size: 11px; }
a.postlink:link { color: #c88018; text-decoration: none; }
a.postlink:hover { color: #A0B0E0; text-decoration: underline; }
a.postlink:visited { color: #c88018; text-decoration: none; }

.menumainsub  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #A0B0E0; text-decoration: none; }
a.menumain  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
a.menumain:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
a.menumain:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #C88018; text-decoration: none; }
a.menumain:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #C88018; text-decoration: none; background-color: #0B0A0A; }
.menumaintitle  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #C88018; }
.menumaintitle  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #C88018; text-decoration: none; }
a.menumaintitle:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #C88018; text-decoration: none; }
a.menumaintitle:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #C88018; text-decoration: none; }
a.menumaintitle:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #C88018; text-decoration: none; }
.mastermenu  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #666666; text-decoration: none; }
a.mastermenu:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #666666; text-decoration: none; }
a.mastermenu:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
a.mastermenu:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
/* News Story Title */
.storytitle { font-family: Arial; color: #C88018; font-weight: bold; font-size: 13px }
a.storytitle:link { color: #C88018; text-decoration: none; }
a.storytitle:hover { color: #A0B0E0; text-decoration: none; }
a.storytitle:active { color: #C88018; text-decoration: none; }
a.storytitle:visited { color: #C88018; text-decoration: none; }
.storyauth { font-family: Verdana; color: #CCCCCC; font-weight: bold; font-size: 11px }
.storydetail { font-family: Verdana; color: #CCCCCC; font-weight: normal; font-size: 10px }
.storyprintheader { font-family: Verdana; color: #666666; font-weight: bold; font-size: 14px }

.bg_printer_page { background-color: #FFFFFF; }
.article_title_prnt { font-family: Verdana; color: #000000; font-weight: bold; font-size: 13px }
.article_auth_prnt { font-family: Verdana; color: #000000; font-weight: bold; font-size: 11px }
.article_details_prnt { font-family: Verdana; color: #000000; font-weight: bold; font-size: 10px }
.adimage { border-top-width: thin; border-color: #000000; border-width: 1px; }

/* Page Body Links */
.bodylinks  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: none; }
a.bodylinks:link  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: underline; }
a.bodylinks:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: underline; }
a.bodylinks:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
a.bodylinks:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
.bodylinksub  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
.bodytitle  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #C88018; text-decoration: none; }
a.bodytitle:link  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
a.bodytitle:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
a.bodytitle:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: underline; }
a.bodytitle:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: underline; }
.bodylinksalt  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: none; }
a.bodylinksalt:link  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: underline; }
a.bodylinksalt:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666666; text-decoration: underline; }
a.bodylinksalt:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CCCCCC; text-decoration: underline; }
a.bodylinksalt:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CCCCCC; text-decoration: none; }

/* News related Styles */
a.newscathead:link  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #C88018; text-decoration: underline; }
a.newscathead:visited  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #C88018; text-decoration: underline; }
a.newscathead:active  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
a.newscathead:hover  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CCCCCC; text-decoration: none; }

.nonews { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: white; text-decoration:none; }

.newsauth:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: white; text-decoration:none; }
.newsauth:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: white; text-decoration:none; }
.newsauth:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #8f92b3; text-decoration:underline; }
.newsauth:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #8f92b3; text-decoration:underline; }

.newsbody { font-family: Arial; color: #efefef; font-size: 11px; line-height: 14px }
a.newsbody:link { font-family: Arial; color: #A0B0E0; text-decoration: none }
a.newsbody:visited { font-family: Arial; color: #A0B0E0; text-decoration: none }
a.newsbody:hover { font-family: Arial; color: #c88018; text-decoration: underline }
a.newsbody:active { font-family: Arial; color: #c88018; text-decoration: none  }

.newsdetails { font-family: Verdana; color: #e6e6e6; font-size: 10px }

.newstitle { font-family: Arial; color: #A0B0E0; font-weight: bold; font-size: 13px }
a.newstitle:link { color: #c88018; text-decoration: none }
a.newstitle:visited { color: #A0B0E0; text-decoration: none }
a.newstitle:hover { color: #A0B0E0; text-decoration: underline }
a.newstitle:active { color: #c88018; text-decoration: none }


.newslink { font-family: Arial; color: #efefef; font-weight: bold; font-size: 11px }
a.newslink:hover { color: #8f92b3; text-decoration: underline }
a.newslink:link { color: #A0B0E0; text-decoration: none }
a.newslink:visited { color: #9aa6e6; text-decoration: none }a {
}
