td.banner1 {
  background-image: url("assets/is_wow_02.jpg");
}

td.banner2 {
  background-image: url('assets/is_wow_03.jpg');
}

body {
  font-family: sans-serif;
  background: #000000;
  color: #ffffff;
  
  position: relative;
}

td {
   font-size: 13px;
}

td.menutop {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  
  background: #ffcc00;
  color: #000000;
  font-weight: bold;
}

.contentheader {
  background: #ffcc00;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

p.tiny {
  font-size: 10px;
}

td.menuitem {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 1px 1px 1px;
}

td.menuheader {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 1px 1px 1px;
  
  background: #ffcc00;
  color: #000000;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FFB019;
}

a:active {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}