/* CSS Document */
body {font-family:verdana,arial,sans-serif;font-size:11px;font-weight:normal;color:#333;background:#fff;line-height:16px;padding-top:20px;}
a {color:#3d140c;}
a:hover {color:#333;}
#main {width:800px;border:1px solid #000;}
#content {width:798px;background:#f7f7f7;border-top:1px solid #000;border-bottom:1px solid #000;}
#leftColResults {width:602px;background:#fff;padding:15px;}
#rightColResults {font-size:12px;width:195px;padding:15px;}
/* Top Links */
#logoTitle {text-align:left;vertical-align:bottom;}
#forSale {text-align:right;vertical-align:bottom;font-size:12px;font-weight:normal;padding-bottom:10px;}
#forSale span {font-size:12px;line-height:20px;}
/* Top Nav */
#topNav {font-family:arial,sans-serif;font-weight:bold;font-size:11px;text-transform:uppercase;letter-spacing:1px;}
.topNavUnit {font-weight:normal;width:1px;background:#fff;}
.topNavLink {text-align:center;}
.topNavLink a {color:#fff;text-decoration:none;display:block;padding:3px;}
.topNavLink a:hover {;text-decoration:none;background:#fff;}
/* Bottom Nav */
#bottomNav {font-family:arial,sans-serif;font-weight:normal;font-size:11px;text-transform:uppercase;letter-spacing:1px;}
.bottomNavUnit {font-weight:normal;background:#fff;width:1px;}
.bottomNavLink {text-align:center;}
.bottomNavLink a {color:#fff;text-decoration:none;display:block;padding:3px;}
.bottomNavLink a:hover {text-decoration:none;background:#fff;}
/* Search Results */
.bigLink {font-size:12px;font-weight:bold;}
#sisterKey {padding-bottom:12px;border-bottom:1px solid #ccc;margin-bottom:12px;font-size:11px;}
/* Search Box */
.small {font-size:10px;}
#searchBox2 {width:536px;padding:12px;border:1px solid #3d140c;}
#searchText {color:#fff;font-family:arial,sans-serif;font-weight:bold;font-size:16px;}
#searchText a {padding:3px 10px 3px 10px;border:1px solid #fff;text-decoration:none;color:#fff;font-family:arial,sans-serif;font-size:14px;line-height:24px;}
#searchText a:hover {color:#fff;}
#searchTextBox {padding-left:8px;padding-right:10px;}
/* Footer */
#portals {width:800px;font-weight:normal;font-size:11px;color:#666;line-height:16px;text-align:left;padding:12px 0 0 0;}
#portals a {color:#666;text-decoration:none;}
#portals a:hover {text-decoration:underline;}
#footer {color:#666;text-align:center;padding:12px;}
a.footerLink {color:#666;text-decoration:none;}
a.footerLink:hover {color:#666;text-decoration:underline;}
/* Popular Categories */
p.popLine {font-size:15px;font-weight:bold;color:#333;padding:0 0 0 10px;margin:0;}
#popular {width:100%;}
#popular td {width:33%;vertical-align:top;}
#popular td a {display:block;}
#popular td a.headLink {font-weight:bold;}