/* ================================
    CSS STYLES FOR DotNetNuke NukedSkins 101 by Nina Meiers - xd.com.au
	  - Updated & Patched August 08 for 2.04 Installs
   ================================
*/   

/* GENERAL */
.Body {
}

/* style for module titles */
.HeadBG  {
    font-family: Tahoma, Arial, Helvetica;
    font-size:  11px;
    font-weight: bold;
    color: #000000;
	 width: 100%;
}

.Head   {
    font-family: Tahoma, Arial, Helvetica;
    font-size:  12px;
    font-weight: bold;
    color: #000000;
}

.LeftPane {
padding: 2px 5px 5px 5px;

}

.ContentPane {
padding: 2px 5px 5px 5px;
/* background-color: #DFDFE0;*/
}

.RightPane {
padding: 2px 5px 5px 5px;
}

.Footer {
  	padding: 5px 5px 5px 15px;
}



/* text style used for most text rendered by modules */
.Normal
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
}

.NormalRed
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #ff0000
}

.NormalBold
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: bold
}



/* text style for the selected tab */
.SelectedTab {
    font-weight: bold;
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica;
    text-decoration: none;
}


/* hyperlink style for the selected tab */
A.SelectedTab:link {
    text-decoration:    none;
    color: black;
}

A.SelectedTab:visited  {
    text-decoration:    none;
    color: black;
}

A.SelectedTab:active   {
    text-decoration:    none;
    color: black;
}

A.SelectedTab:hover    {
    text-decoration:    none;
    color: black;
}

/* text style for the unselected tabs */
.OtherTabs {
    font-weight: bold;
    font-size: 10px;
    color:black;
    font-family: Tahoma, Arial, Helvetica;
    text-decoration: none;
}
    
/* hyperlink style for the unselected tabs */
A.OtherTabs:link {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:visited  {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:active   {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:hover    {
    text-decoration:    underline;
    color:black;
}

/* Main Menu */

.MainMenu_MenuContainer {
	border-bottom: #404040 0px solid;
	border-left: #FF8080 0px solid;
	border-top: #FF8080 0px solid;
	border-right: #404040 0px solid;
	background-color: Transparent;
}

.MainMenu_MenuBar {
	cursor: pointer;
	cursor: hand; 
	height:16;
}

.MainMenu_MenuItem {
	cursor: pointer;
	cursor: hand;
	color: #FFFF00;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	border-left: #000000 0px solid;
	border-bottom: #000000 0px solid;
	border-top: #000000 0px solid;
	border-right: #000000 0px solid;
}

.MainMenu_MenuIcon {
	cursor: pointer; 
	cursor: hand;
	background-color: #D2B48C;
	border-left: #000000 0px solid; 
	border-right: #000000 0px solid; 
	border-bottom: #000000 0px solid; 
	border-top: #000000 0px solid;
	text-align: center; 
	width: 15; 
	height: 21;
}

.MainMenu_SubMenu {
	z-index: 1000;
	cursor: pointer;
	cursor: hand;
	background-color: #CC9966;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='DimGray', Direction=135, Strength=3) ;
	border-bottom: #404040 0px solid;
	border-left: #FF8080 0px solid;
	border-top: #FF8080 0px solid;
	border-right: #404040 0px solid;
  color: #FFFF00
}

.MainMenu_MenuBreak {
	border-bottom: #404040 0px solid; 
	border-left: #FF8080 0px solid; 
	border-top: #FF8080 0px solid;  
	border-right: #404040 0px solid; 
	background-color: #000000; 
	height: 0px;
}

.MainMenu_MenuItemSel {
	background-color: #663300;
	cursor: pointer;
	cursor: hand;
	color: #CC9966;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
      }

.MainMenu_MenuArrow {
	font-family: webdings;
	font-size: 10pt; 
	color: #000066;
	cursor: pointer; 
	cursor: hand; 	border-right: #000000 0px solid; 
	border-bottom: #000000 0px solid; 
	border-top: #000000 0px solid;
  color: #FFFF00
}

.MainMenu_RootMenuArrow {
	font-family: webdings;
	font-size: 10pt; 
	cursor: pointer; 
	cursor: hand;
  color: #FFFF00
}
.menuarea {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#bdaf94', startColorstr='#7b6239', gradientType='1');
	background-color: #7B6239;
}

.menuarea2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#7b6239', startColorstr='#bdaf94', gradientType='1');
	background-color: #7B6239;
}
body {
	background-image: url(/Portals/6/Skins/gnorrath/paper017.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
html,body {
	height: 100%;
	width: 100%;
	margin:0%;
}
.header {


}

