/*****************************************************
Body and Common CSS
*****************************************************/
font,th,td,p
{
	FONT-SIZE: small;
	color:#000000; 
	font-family: Verdana,Arial,Helvetica,sans-serif;	
}

body 
{
 color: silver;
 margin: 0 0 0 0;
 cursor: default;
 font-family: Verdana, Arial, Helvetica, sans-serif;
	 background-color: #9999CC; 
	font-size: small;
}



th
{
	 FONT-SIZE: small;
    background-color: #666699;
    font-weight: bold;
}

td.HeaderBackgroundAlternate
{
    background-color: #EBEDF6;
    color: #666666;
    font-size: small;
    font-weight: bold;
}

A:link, A:visited, A:active {
	COLOR: #6A5ACD;
	TEXT-DECORATION: none;
}

A:hover {
	color: #FF9966;
}

.MainContent
{
	font-size: small;
	background-color: White;
	color: Black;
}


.ItemWindow
{
	width: 451px;
	height: 232px;
	text-align: left;
}
.ItemTitle
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.ItemData
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	width: 100%;
	padding: 7px;
}


/*****************************************************
General Text
*****************************************************/
.SmallText
{
	font-size: small;
	font-weight: normal;
}
.SmallBoldText
{
	font-size: small;
	font-weight: bold;
}

.LiteText
{
	color: Gray;
}

.SmallWhiteText
{
	font-size: small;
	color: White;
}

.SmallBoldWhiteText
{
	font-size: small;
	color: White;
	font-weight: bold;
}

.BoldText
{
	font-weight: bold;
}

.BoldRed
{
	color: Red;
	font-weight: bold;
}


/*****************************************************
Panel Design
*****************************************************/
.PanelHeader
{
	color: white;
	font-weight: bold;
	font-size: small;
	font-family: Verdana, Arial, Sans-Serif;
}

.PanelAlternateHeader
{
    background-color: #CCCCFF;
    color: #336699;
    font-weight: bold;
    font-size: small;
}

.PanelBody
{
	background-color: #EEF4F7;
	color: Black;
	font-size: small;
}

.PanelBodyAlternate
{
	background-color: #D4D9EC;
	color: #000000;
	font-size: small;
}

.PanelBodyHighlight
{
	background-color: #f1f1f1;
	color: Black;
	font-size: small;
}


.PanelBorder
{
    border: 1px #666699 solid; 
    background-color: #FFFFFF;
}


/*****************************************************
Site UI
*****************************************************/

.Site_Header
{
	font-family: Verdana;
	font-size: 9pt;
	color: white;
	background-color: #9999cc;
	border: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.Site_Footer
{
	border: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-bottom:0px;
	border-left: 0px;
	border-right: 0px;
}


.SiteGreeting
{
	color: #666666;
}

.HeaderTitle
{
	font-size: small;
    font-weight: bold;
    color: #666666;
}

.SubHeaderTitle
{
    font-weight: bold;
    color: #003399;
}




.GreetingBar
{
	background-color: #EEF4F7;
	color: #999999;
}



/*****************************************************
Form Elements
*****************************************************/
SELECT, INPUT, TEXTAREA
{
	font-family: Verdana, Arial, helvetica, Sans-Serif;
	font-size: small;
	color: #000000;
	background-color: #F6F6F6;
}

Input.Button
{
	color:#000000;
	background-color: #9999CC;
	font-weight: bold;
}

.FormLabel
{
	text-align: right;
	font-weight: bold;
	color:#000000;
}




/*****************************************************
General Anchor
*****************************************************/
a.BoldLink
{
    font-weight: bold;
    font-size: small;
}

a.BoldLink:Hover
{
   color: #FF9966;
   font-size: small;
}

a.SmallBoldLink
{
    font-weight: bold;
    font-size: small;
}

a.SmallLink, a.SmallBoldLink
{
	font-size: small;
}


a.SmallBoldLink:visited
{
	font-size: small;
}

a.SmallBoldLink:Hover
{
    color: #FF9966;
    font-size: small;
}

/*****************************************************
Text and Anchor to display when a user is online
*****************************************************/
.UserOnline, a.UserOnline, a.UserOnline:Visited, a.UserOnline:Hover, a.UserOnline:Link
{
    font-weight: bold;
    color: #0055E7;
}

.ModeratorOnline, a.ModeratorOnline, a.ModeratorOnline:Visited, a.ModeratorOnline:Hover, a.ModeratorOnline:Link
{
    font-weight: bold;
    color: darkblue;
}

.AdminOnline, a.AdminOnline, a.AdminOnline:Visited, a.AdminOnline:Hover, a.AdminOnline:Link
{
    font-weight: bold;
    color: black;
}




/*****************************************************
Text and Anchor to display when a user is online
*****************************************************/
.userOnlineLinkBold, a.userOnlineLinkBold, a.userOnlineLinkBold:Visited, a.userOnlineLinkBold:Hover, a.userOnlineLinkBold:Link
{
    font-weight: bold;
    color: #0055E7;
}

.moderatorOnlineLinkBold, a.moderatorOnlineLinkBold, a.moderatorOnlineLinkBold:Visited, a.moderatorOnlineLinkBold:Hover, a.moderatorOnlineLinkBold:Link
{
    font-weight: bold;
    color: darkblue;
}

.adminOnlineLinkBold, a.adminOnlineLinkBold, a.adminOnlineLinkBold:Visited, a.adminOnlineLinkBold:Hover, a.adminOnlineLinkBold:Link
{
    font-weight: bold;
    color: black;
}

/*****************************************************
Text and anchors used in the navigation menu
*****************************************************/
.menuTitle
{
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: navy;
}

a.menuTextLink:visited, a.menuTextLink:link
{
    text-decoration: none; 
    color: #013DA4;
}

a.menuTextLink:Hover
{
    color: #000000;
}

.menuText
{
    font-weight: bold;
    color: #FFFFFF;
}

a.MenuLink:visited, a.MenuLink:link
{
	font-size: xx-small;
    text-decoration: none; 
    color: #013DA4;
}

a.MenuLink:Hover
{
    color: #000000;
}



/*****************************************************
Text and anchors used in the search
*****************************************************/
.searchPager
{
	font-size: small;
    font-weight: bold;
}

.searchItem
{
    background-color: #DDEEFF; 
}

.searchAlternatingItem
{
    background-color: #FFFFFF;
}


/*****************************************************
Default separator style for PostList
*****************************************************/
td.flatViewSpacing
{
    height: 2px;
    background-color: #80B7FF;
}



/*****************************************************
Background color and text used in threaded view
*****************************************************/
td.threadTitle
{
    background-color: #D4D9EC;
}

.threadDetailTextSmall
{
	font-size: small;
    color: #0055E7;
}

.threadDetailTextSmallBold
{
	font-size: small;
    color: #0055E7;
    font-weight: bold;
}

td.PanelBodyHighlight
{
    background-color: #D4D9EC;
}

/*****************************************************
Text and links used in ForumGroupRepeater and ForumRepeater
*****************************************************/
.forumTitle
{
    font-weight: bold;
    color: #013DA4;
}


a.forumTitle:visited, a.forumTitle:link
{
    font-size: 12px;
    font-weight: bold;
    color: #013DA4;
}

a.forumTitle:hover
{
    color: #DD6900;
}

.forumName
{
    font-weight: bold;
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    color: navy;
}

a.forumName:hover
{
    color: #DD6900;
    text-decoration: underline;
}




/*****************************************************
Validation Text
*****************************************************/
.ValidationWarningSmall
{
    color: Red;
    font-size : small;
}

.ErrorMessage
{
    color: Red;
    font-size : small;
}

.Required
{
	color:Red;
	font-weight: bold;
}

/*****************************************************
Bottom Footer Text
*****************************************************/

.BottomText
{
	color: #ffffff;
	font-size: small;
}
.BottomLink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-align: center;
}
A.BottomLink:hover
{
	color: #cc0099;
	text-decoration: none;
}
A.BottomLink:link
{
	color: white;
	text-decoration: none;
}
A.BottomLink:visited
{
	color: white;
	text-decoration: none;
}
A.BottomLink:visited:hover
{
	color: #cc0099;
	text-decoration: none;
}


.highlight 
{
	background-color: #ffffcc;
	color: Black;
	font-weight: bold;
}

.quote 
{
	background-color: #eeeeee;
	color: Black;
	font-style: italic;
}

.DetailBackground
{
	background-color: #D4D9EC;
}

div#footer  
{ 
     color: #fff; 
     text-align: center;  
     padding: 1em 0 1em 0; 
     border-top: 1px solid gray; 
	font-size: x-small;
} 
div#copyright  
{ 
     color:#eeeeee; 
     font-style: oblique; 
}
