/*
Based on the original Style Sheet for the fiblack Theme for phpBB version 2+
Edited by Daz
http://www.forumimages.com
*/
/* General page style. The scroll bar colours only visible in IE5.5+ */

body{
background: #2e2e2e;
color: #e7e7e7;
font:12px Verdana,Arial,Helvetica,sans-serif;
scrollbar-3dlight-color: #6a6a6a;
scrollbar-arrow-color: #fc9b00;
scrollbar-darkshadow-color: #000000;
scrollbar-face-color: #444444;
scrollbar-highlight-color: #444444;
scrollbar-shadow-color: #000000;
scrollbar-track-color: #2e2e2e;
}
/* General font families for common tags */
font,th,td,p{color: #e7e7e7; font:12px Verdana,Arial,Helvetica,sans-serif}
a:link,a:active,a:visited,a.postlink:link{color:#dd6900;text-decoration:none}
a:hover{color: #767676;text-decoration:underline}
.postbody{font-size:12px}

hr{border:0px solid #000000; border-top-width:1px; height:0px}

/* This is the border line & background colour round the entire page */
.bodyline{background: #303030; border: 1px solid #ff8c00}

/* This is the outline round the main forum tables */
.forumline{background: #010101;border: 1px solid #d2a900}

/* This is for the error messages that pop up */
.errorline	{ background-color: #ff8c00; border: 1px solid #000000;
}

/* Main table cell colours and backgrounds */
td.row1{background: #272727}
td.row2{background: #303030}
td.row3{background: #414141}

/*
This is for the table cell above the Topics,Post & Last posts on the index.php page
By default this is the fading out gradiated silver background.
However,you could replace this with a bitmap specific for each forum
*/
td.rowpic{background: #010101 url(images/cellpic2.jpg) repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th{background: #444444 url(images/cellpic3.gif);
color: #d77700;
font-size:11px;
font-weight:bold;
height:25px}

td.cat,td.cathead,td.catsides,td.catleft,td.catright,td.catbottom{
background: #464646 url(images/cellpic1.gif);
border: #000000;
border-style:solid;
height:28px}

/*
Setting additional nice inner borders for the main table cells.
The names indicate which sides the border will be on.
Don't worry if you don't understand this,just ignore it:-)
*/
td.cat,td.cathead,td.catbottom{border-width:0px 0px 0px 0px;height:28px}
th.thhead,th.thsides,th.thtop,th.thleft,th.thright,th.thbottom,th.thcornerl,th.thcornerr{
border:#000000;
border-style:solid;
font-weight:bold;
height:28px}

td.row3right,td.spacerow{
background:#464646;
border: #000000;
border-style:solid
}
th.thhead,td.cathead{border-width:1px 1px 0px 1px}
th.thsides,td.catsides,td.spacerow{border-width:0px 1px 0px 1px}
th.thright,td.catright,td.row3right{border-width:0px 1px 0px 0px}
th.thleft,td.catleft{border-width:0px 0px 0px 1px}
th.thbottom,td.catbottom{border-width:0px 1px 1px 1px}
th.thtop{border-width:1px 0px 0px 0px}
th.thcornerl{border-width:1px 0px 0px 1px}
th.thcornerr{border-width:1px 1px 0px 0px}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
color: #9a9a9a;
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}
.subtitle,h2{
color:#e7e7e7;
font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* General text */
.gen{font-weight:bold}
.genmed{font-size:11px}
.gensmall{font-size:10px}

/* Forum category titles and forum links*/
.cattitle,.forumlink{font-weight:bold; letter-spacing:1px}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold; color:#daa520}

/* titles for the topics:could specify viewed link colour too */
.topictitle{color: #9a9a9a;font-size:11px;font-weight:bold}
a.topictitle:visited{color:#dd6900}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{color: #c0c0c0;font-size:11px}

/* Location,number of posts,post date etc */
.postdetails{color:#e7e7e7;font-size:10px}

/* The content of the posts (body of text) */
a.postlink:visited{color: #f2c406;text-decoration:none}

/* Quote & Code blocks */
.code{
background: #545454;
border: 1px solid #000000;
color: #fff8dc;
font:11px Courier,'Courier New',sans-serif
}
.quote{
background: #525252;
border: 1px solid #000000;
color:#e7e7e7;
font:11px/125% Verdana,Arial,Helvetica,sans-serif}

/* Copyright and bottom info */
.copyright{font:10px Verdana,Arial,Helvetica,sans-serif}
a.copyright{color:#ffeeee}
a.copyright:hover{color:#dd6900;text-decoration:underline}

/* Form elements */
input,textarea,select{
border-color: #5b5b5b;
color:#ffeeee;
font:normal 11px Verdana,Arial,Helvetica,sans-serif}

/* The text input fields background colour */
input.post,textarea.post,select{background:#303030}
input{text-indent:2px}

/* The buttons used for bbCode styling in message post */
input.button{
background: #000000; color:#dd6900; font:11px Verdana,Arial,Helvetica,sans-serif}

/* The main submit button option */
input.mainoption{background: #000000;font-weight:bold}

/* None-bold submit button */
input.liteoption{background: #000000;font-weight:normal}

/* This is the line in the posting page which shows the rollover
help line. This is actually a text box,but if set to be the same
colour as the background no one will know;)
*/
.helpline{background:#303030;border-style:none}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formie.css");
.table1 { 
   BORDER-RIGHT: #000000 1px dashed; 
   BORDER-TOP: #000000 1px dashed; 
   FONT-SIZE: 11px; 
   BORDER-LEFT: #000000 1px dashed; 
   COLOR: #000000; 
   LINE-HEIGHT: 125%; 
   BORDER-BOTTOM: #000000 1px dashed; 
   FONT-FAMILY: Verdana, Arial; 
   BACKGROUND-COLOR: #303030 
}