a:link  { 
  color: #0000A0;
  background: none;
}
a:visited { 
  color: #0000A0;
  background: none;
}
a:active {
  color: #0000A0;
  background: none;
}
a:hover {
	color: #000000;
	background: none;
	text-decoration: none;
}
p,table,td,tr {   
  font-size: 10pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
  display: inline;
  margin-bottom: 0;
}
body {
	color: #000000;
	background: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.tablesurround {
	background: #ffffff;
	color: #000000;
}
.tableborders {
	background: #387070;
	color: #FFFFFF;
}
.tdheader {
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
  background: #80BFBF;
}
.menubar{
	background: #D0E8E8;
	color: #000000;
	font-weight: bold;
}
.navigation{
	background: #80BFBF;
	color: #666666;
	font-size: 10pt;
	padding: 1px;
	margin: 1px;
	font-weight: bold;
	border: 1px solid #356A6A;
}
.new {
  font-size: 9pt;
  color: #FF0000;
  background: none;
}
.catandforum {
  font-size: 10pt;
}
.posttime {
	font-size: 10pt;
	background: #D0E8E8;
	color: #000000;
}
.threadtotal {
	font-size: 10pt;
	background: #EAF4F4;
	color: #000000;
}
.posttotal {
  font-size: 10pt;
  background: #EAF4F4;
  color: #000000;
}
.modline {
  font-size: 8pt;
  font-style: oblique;
}
.small {
  font-weight: normal;
  font-size: 8pt;
}
.standouttext {
  color: #ff0000;
  background: none;
}
.pollcolor {
	background: #ff0000;
	color: #000000;
	border: 1px solid #000000;
}
.welcome {
  background: #80BFBF;
  color: #000000;
}
.forumtitle {
  font-size: 10pt;
  font-weight: bold;
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: #EAF4F4;
  color: #000000;
}
.darktable {
  background: #D0E8E8;
  color: #000000;
}
.newlighttable {
	background: #418383;
	font-weight: bold;
	color: #FFFFFF;
}
.newdarktable {
	background: #214141;
	font-weight: bold;
	color: #FFFFFF;
}
.newpostsincat {
	background: #FFCC00;
	color: #000000;
}
.cleartable {
	background: #f7f7f7;
	color: #000000;
}
.alternatetable {
	background: #666699;
	color: #000000;
}
.newsubjecttable {
	background: #C6FFE2;
	font-weight: bold;
	color: #000000;
}
.subjecttable {
  background: #D0E8E8;
  color: #000000;
}
.footertable {
	background: #ffffff;
	color: #000000;
}                          
.formboxes{
  background-color: #ffffff;
  color: #000000;
  font-size: 10pt;
}
.buttons {
	background-color: #408080;
	color: #D0E8E8;
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5AADAD;
	border-right-color: #316262;
	border-bottom-color: #336666;
	border-left-color: #669999;
	font-weight: bold;
}
blockquote {
   font-size: 9pt; border: 1px solid #224444;
   margin: 0px 20px; padding: 0px 10px
}
blockquote .small {
	background: #224444;
	margin-left:-10px;
	padding: 1px 2px;
	color: #FFFFFF;
}
blockquote hr {
   visibility:hidden;
   height: 1px
}
.onbody{
  color: #000000;
  background: none;
}
.onbody a:link {
  color: #0000A0;
  background: none;
}
.onbody a:visited {
  color: #000000;
  background: none;
}
.onbody a:active {
  color: #0000A0;
  background: none;
}
.post:first-letter {
	font-weight: bold;
}
pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	display: block;
	white-space: pre;
}

.newlighttable a:link  { 
  color: #FFFFFF;
  background: none;
}
.newlighttable a:visited { 
  color: #FFFFFF;
  background: none;
}
.newlighttable a:active {
  color: #FFFFFF;
  background: none;
}
.newlighttable a:hover {
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.newdarktable a:link  { 
  color: #FFFFFF;
  background: none;
}
.newdarktable a:visited { 
  color: #FFFFFF;
  background: none;
}
.newdarktable a:active {
  color: #FFFFFF;
  background: none;
}
.newdarktable a:hover {
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}
