.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: verdana
; font-style: normal; text-decoration: none
}
.menu:hover {
	COLOR: #CC6600; TEXT-DECORATION: none
}

BODY {
	MARGIN-TOP: 0pt; SCROLLBAR-FACE-COLOR: #220022; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; SCROLLBAR-HIGHLIGHT-COLOR: #550055; SCROLLBAR-SHADOW-COLOR: #777777; SCROLLBAR-ARROW-COLOR: #008800; FONT-FAMILY: Verdana, Arial; SCROLLBAR-BASE-COLOR: #000000; BACKGROUND-COLOR: black; scrollbar-3d-light-color: #aaaaaa; scrollbar-dark-shadow-color: #220022
}