BODY{
 color : #fac832;
 background-color : #000050;
 background-image : url(wallpaper.gif);
 font-family : Arial,"‚l‚r ‚oƒSƒVƒbƒN";
 margin-top : 0px;
 margin-left : 0px;
 margin-bottom : 0px;
}
DIV{
 color : #fac832;
 font-family : Arial;
}
TABLE{
 background-color : #4007b6;
}
TH{
 color : #fac832;
 font-weight : lighter;
 font-family : Arial;
}
TD{
 color : #fac832;
 background-color : #000030;
 font-family : Arial;
}
A{
 text-decoration : none;
}
A:LINK{
 color : lime;
}
A:VISITED{
 color : #ff8000;
}
A:ACTIVE{
 color : white;
}
A:HOVER{
 color : #ffff80;
 text-decoration : underline;
}

