<style type="text/css">
<!--
A { text-decoration: none ;color:#4169E1; font-size: 12px; font-family: ‚l‚r ‚oƒSƒVƒbƒN;}
A:active {color: #808080 ;}
A:hover {background-color:#4169E1; color: #ffffff ;}
-->
TD{
  font-family: "‚l‚r ‚oƒSƒVƒbƒN";
  font-size : 12px;
}
BODY{
  font-size : 12px;
  font-family : "‚l‚r ‚oƒSƒVƒbƒN";
}

<!--
body
{scrollbar-face-color: #7eaafa;
scrollbar-shadow-color: #4169E1;
scrollbar-highlight-color: #95ebfd;
scrollbar-3dlight-color: #95ebfd;
scrollbar-darkshadow-color: #7eaafa;
scrollbar-track-color: #d7f3ff;
scrollbar-arrow-color: #ffffff;}
//-->
</style>
