<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
 <!-- <#achk_ver#> -->
 <html>
 <head>
 <script src="<#spch_js_path#>"></script>
 <script>
 		hide = '<#auto_hide#>' == '' ? '0' : '<#auto_hide#>';
 		asc = true;
 
 		function dounload() {
 			if (navigator.appName == 'Netscape') {
 				spellWin.frames[4].parentOpen = false;
 				spellWin.close();
 				return;
 			}
 
 			if (is_window_opened) {
 				spellWin.frames[4].parentOpen = false;
 				spellWin.close();
 			}
 		}
 </script>
 </head>
 <body bgcolor=#FFFFFF onunload="dounload()">
 	<form>
 		<input type=hidden name=cck_text value="">
 	</form>
 </body>
 </html>
 <!-- <#achk_ver#> -->	
