/* Make all body text maroon coloted 12 point Book antiqua wiht 16 point vertical spacing between lines of test and 12 point margins. Use old paper.gif as background
*/

body  {font-size: 20pt;
       font-family: "Book Antiqua";
	   color: #0000FF;
	   background:
	   line-height: 24pt;
	   margin-left: 12pt;
	   margin-right: 12pt;}
	   
	   /* Indent paragraphs */
	   
	   p {margin-left: 24pt;
	      margin-right: 24pt;}
		  
/* Make headings Viking Normal Bold with generous line spacing.
If user doesn't have Viking Normal, Lucida Handwriting
*/

h1 {font: 32pt Viking-Normal, Lucinda Handwriting;
    font-weight: bold;
	line-height: 40pt;}
	
h2 {font: 24pt Viking-Normal, Lucinda Handwriting;
	font-weight: bold;
	line-height: 30pt;}
	
	h3{font: 20pt Viking-Normal, Lucinda Handwriting;
	   font-weight: bold;
	   line-height 24pt}
	   
	   h4{font:16pt Viking-Normal, Lucinda Handwriting;
	   font-weight: bold;
	   line-height:20pt}
	   
	   h5{font: 14pt Viking-Normal, Lucina Handwriting;
	   font-weight:bold;
	   line-height:16pt}
	   
	   h6{font: 12pt Viking-Normal, Lucinda Handwriting;
	   font-weight=bold;
	   line-height=14pt}
		
/* Make links red. Make links flash black when acitivated */
a:link {color:#0000FF;}
a:visited {color: #A0B0E0;}
a: active {color:#FF0000;}		
		