BODY {
	background : Black url(../images/axeBG.gif) no-repeat fixed bottom;
	padding : 5px;
	background-color:Black;
	scrollbar-3d-light-color : Silver;
	scrollbar-base-color : Black;
	scrollbar-arrow-color : #A52A2A;
	scrollbar-dark-shadow-color : Black;
	scrollbar-face-color : Gray;
	scrollbar-highlight-color : Silver;
	scrollbar-shadow-color : Black;
}

BODY A {

}

BODY A:Hover {

}

  #MainTable {
    Font: 2ex/16px Arial, Helvetica, sans-serif;
	color : Black;
	background-color : Transparent;
  }
  
  #PageContent {
    Font: 12px Arial, Helvetica, sans-serif;
	color : White;
	text-align : center;
	border : 5 solid #304050;
	background-color : #778899;
	padding-top : 20px;
  }
  
  #LogBar {
    Font: 12px Arial, Helvetica, sans-serif;
	color : White;
	text-align : center;
	padding : 5px;
	background-color : Transparent;
	FILTER: progid:DXImageTransform.Microsoft.Chroma( Color=Black); 
  }
  
  #LogBar A {
    font-weight : bold;
	color : White;
	text-decoration : none;
  }
  
  #LogBar A:Hover {
    font-weight : bold;
	color : LightSteelBlue;
	text-decoration : underline;
  }
  
  #LinkBar {
    Font: 12px Arial, Helvetica, sans-serif;
	color : White;
	text-align : center;
	padding : 5px;
	background-color : Transparent;
  }
  
  #LinkBar A {
    font-weight : bold;
	color : White;
	text-decoration : none;
  }
  
  #LinkBar A:Hover {
    font-weight : bold;
	color : LightSteelBlue;
	text-decoration : underline;
  }
  
  .Box {
    background-color : White;
	Font: 2ex/16px Arial, Helvetica, sans-serif;
	padding : 5px;
	border : 1 solid black;
  }
  
  .Box A {
  }
  .Box A:Hover {
  }
  
  .Box TH {
    background-color : Black;
	color : white;
	Font: bold 2ex/16px "Comic Sans MS",Arial, Helvetica, sans-serif;
	border : 0;
  }
  .Box .Sub {
    background-color : Gray;
	color : white;
  }
  .Box .CONTENT {
    padding:4px;
	border-top : 0;
	background-color : White;
	Font: 2ex/16px Arial, Helvetica, sans-serif;
  }
  
  .Box .CONTENT LI A{
    color : black;
  }
  
  .Box .CONTENT STRONG {
    color : #CC0000;
  }
  
  .Box .CONTENT INPUT {

  }
  
  #GreenScreen A{
	font : bold 8px/12px Arial, Helvetica, sans-serif;
	color : Lime;
	text-decoration : none;
	width : 100%;
	text-align : center;
}
#GreenScreen A:Hover{
	font : bolder 8px/12px Arial, Helvetica, sans-serif;
	color : Black;
	text-decoration : none;
	background-color:Lime;
	width : 100%;
	text-align : center;
}