BODY {
	scrollbar-face-color: #4E677F;
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #ffffff;
	font-family: Arial;
	font-size: 8pt;
	line-height: 10pt;
	color: #333333;
	background-color: #000000;
}
.copywrite {
	font-size: 7pt;
	line-height: 10pt;
	color: #ffffff;
}

.newsfeed {
	font-size: 7pt;
	line-height: 10pt;
	color: #ffffff;
}

.textpad {
	padding: 1px;
}

.newsheader {
	line-height: 10pt;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	
}

.newspost {
	line-height: 10pt;
	color: #000000;
	font-size: 7pt;
	font-style: italic;
}
	
.eql_title {
	color:white;
	font-weight:bold;
	font-family: Arial;
}

a.eql_headline {
	color:white;
	font-family: Arial;
	font-size:8pt;
}

	a.eql_headline:hover {
	color:white;
}

a.eql_headline:visited {
	color:white;
}
.zebu {
	background-repeat: no-repeat;
	background-attachment: fixed;
}


A {
	color: #000000;
	text-decoration: underline;
	font-size: 8pt;
	line-height: 10pt;
}

A:hover {
	color: #000000;
	line-height: 10pt;
}

P {
	border-width: 1px;	
	border-style: none ;	
	border-color: white;
	font-size: 8pt;
	color: #000000;
	font-family: Arial;
	line-height: 10pt;
	padding: 3px 3px 3px 3px;
}

Table {
	font-size: 8pt;
	color: #000000;
	font-family: Arial;
	line-height: 10pt;
	padding: 0px;

}