  @font-face {
    font-family: Krylon;
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/KRYLON0.eot);
  }
  @font-face {
    font-family: Littlebits;
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/LITTLEB0.eot);
  }
  @font-face {
    font-family: "Lucida Handwriting";
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/LUCIDAH0.eot);
  }
H1
{
	text-align: center;
}
H2
{
	font-style: italic;
	text-align: center;
}
H3
{
	text-align:center;
}
P
{
	font: 12pt "times new roman";
}
A:link
{
	color:green;
	text-decoration : underline;
}
A:active
{
	color:orange;
	text-decoration : none;
}
A:hover
{
	color:red;
	text-decoration : none;
}
A:visited
{
	color:darkgreen;
	text-decoration : underline;
}
.tinytech
{
 	font-size: 8pt;
	text-decoration: none;
	text-align:left;
}

.sectionheader
{
font: 14pt Ariel;
font-weight: bold;
text-align: left;
color: #008000
}

.charheader
{
font: 11pt/20px Tahoma;
font-weight: bold;
text-align: right;
color: white
}

.chardata
{
font: 11pt/20px Tahoma;
font-weight: bold;
text-align: left;
color: #008000
}

.charnodata
{
font: 11pt/20px Tahoma;
font-weight: bold;
color: #A0A0A0
text-align:left;
}

.startletter
{
font-size: 36pt;
font-family: Krylon;
}

.menu
{
	font-size: 12pt;
	font-family: "Lucida Handwriting";
	text-align:left;
}
TD
{
  	text-align:left;
}
BODY
{
scrollbar-face-color: #009900;
scrollbar-highlight-color: #66CC33;
scrollbar-3dlight-color: #66CC00;
scrollbar-darkshadow-color: #669999;
scrollbar-shadow-color: #3399CC;
scrollbar-arrow-color: #FF3399;
scrollbar-track-color: #C0C0C0;
}