<style type="text/css">

body				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #cccccc; font-weight: 300;}
a 					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #ffb015; font-weight: 300;}
a:hover 			{color: #ffffff;}
ul					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #cccccc; font-weight: 300;}
ol					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #cccccc; font-weight: 300;}
td 					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #cccccc; font-weight: 300;}
p					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #cccccc; font-weight: 300;}

.menu				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffb015; font-weight: 300;}
.menu a				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffb015; font-weight: 300;}
.menu a:hover		{color: #ffffff;}

.menuHead			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #ffb015; font-weight: 600;}
.menuHead a			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 10pt; color: #ffb015; font-weight: 600;}
.menuHead a:hover	{color: #ffffff;}

</style>a:link {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #009933}
.maplink {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #993300; text-decoration: none}
