A:link {		text-decoration: none;
			border-width: 0px;
			color: white; }
A:active {		text-decoration: underline; }
A:visited {		text-decoration: none;
			border-width: 0px;
			color: white; }
IMG {			border-width: 0px; }
BODY {			background-color: #000000;
			color: #E8C6B2; }

