.subbttn {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: none;
text-align: center;
color: #001820;
background: URL(images/send.gif);
width: 45px;
height: 22px;
border: 0px;
}

input.text {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: none;
color: #001820;
background-color: #fffbf6;
border: 1px solid #7C594E;
}

select.text {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: none;
color: #001820;
background-color: #fffbf6;
border: 1px solid #532e2e;
}

textarea.text {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: none;
color: #001820;
background-color: #fffbf6;
border: 1px solid #532e2e;
}

p {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-indent: 15px;
text-decoration: none;
color: #001820;
}

td.text {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-indent: 15px;
text-decoration: none;
color: #001820;
}

td.text2 {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: none;
color: #001820;
}

td.head {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: bold;
text-decoration: none;
color: #001820;
}

th.head {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: bold;
text-decoration: none;
color: #001820;
}

th.columnhead {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: bold;
text-decoration: none;
text-align: left;
text-indent: 3px;
height: 14px;
background-color: #7C594E;
color: #fffaf3;
}

td.list {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-indent: 5px;
text-decoration: none;
color: #001820;
}

td.fineprint {
font-family: verdana, arial, helvetica;
font-size: 9;
font-weight: normal;
text-decoration: none;
color: #001820;
}

a:link {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: left;
color: #001820;
}

a:visited {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: left;
color: #001820;
}

a:hover {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: left;
color: #001f28;
}

a:link.alert {
font-family: verdana, arial, helvetica;
font-size: 11;
font-weight: bold;
text-decoration: underline;
text-align: center;
color: #001820;
}

a:visited.alert {
font-family: verdana, arial, helvetica;
font-size: 11;
font-weight: bold;
text-decoration: underline;
text-align: center;
color: #001820;
}

a:hover.alert {
font-family: verdana, arial, helvetica;
font-size: 11;
font-weight: bold;
text-decoration: underline;
text-align: center;
color: #001f28;
}

a:link.fineprint {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: center;
color: #001820;
}

a:visited.fineprint {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: center;
color: #001820;
}

a:hover.fineprint {
font-family: verdana, arial, helvetica;
font-size: 10;
font-weight: normal;
text-decoration: underline;
text-align: center;
color: #001f28;
}

BODY {
  margin-top: 0px;
  margin-left: 0px;
  scrollbar-base-color: #fffaf3; 
  scrollbar-face-color: #fffaf3; 
  scrollbar-track-color: #fffaf3; 
  scrollbar-arrow-color: #7C594E;
  scrollbar-highlight-color: #fffaf3; 
  scrollbar-3dlight-color: #532e2e; 
  scrollbar-shadow-color: #fffaf3;
  scrollbar-darkshadow-color: #532e2e;
}
