A#leftsidelink {
	color: #CCCCCC;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	}

A#leftsidelink:HOVER {
	color: White;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
		}
		
A#leftsidelink:Link {
	color: #CCCCCCC;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	}
	
A#rightsidelink {
	color: #000000;
	text-decoration: none;
	}

A#rightsidelink:HOVER {
	color: #999999;
	text-decoration: none;
	}
		
A#rightsidelink:Link {
	color: #000000;
	text-decoration: none;
	}
