.banner {
	margin-bottom: 17px;
}
.ny_left2 {
	float: left;
	width: 706px;
}
.ny_right2 {
	float: left;
	width: 247px;
	height: 500px;
	background-color: #99CC33;
	margin-left: 17px;
}
.wenzi1,.wenzi22 {
	font-weight: bold;
	color: #FFFFFF;
	width: 198px;
	margin-left: 19px;
	text-align: center;
	margin-top: 1px;
	height: 36px;
	padding-top: 8px;
	background-image: url(../images/sekuai_11.jpg);
	background-repeat: no-repeat;
}
.wenzi22 {
float:left;
}
.dshow_more {
float:right;
padding:13px 15px 0px 0px;
}
.wenzi2 {
	font-weight: bold;
	color: #FFFFFF;
	width: 198px;
	margin-left: 15px;
	text-align: center;
	height: 36px;
	padding-top: 8px;
	background-image: url(../images/sekuai_11.jpg);
	background-repeat: no-repeat;
	float:left;
}
.tupian {
	height: 157px;
	width: 160px;
	float: left;
	text-align: center;
	margin-right: 9px;
    margin-bottom:10px;
}
.tupian_end {
	height: 157px;
	width: 160px;
	float: left;
	text-align: center;
	margin-left: 9px;
	margin-right: 9px;
    margin-bottom:15px;
}
.tupian1 {
	height: 157px;
	width: 153px;
	float: right;
	margin: 0px;
	padding: 0px;
}

.wenzi {
	float: left;
	height: 24px;
	width: 156px;
	background-color: #F7F7F7;
	text-align: center;
	margin-top: 3px;
	color: #00376F;
	padding-top: 5px;
	margin-left:1px;
/*	width: 265px;
	float: right;*/
}
.tp_1 {
	height: 110px;
	width: 155px;
	border: 1px solid #EBEBEB;
	text-align: center;
	padding-top: 10px;
}
.bigt1,.bigt1_soft {
	clear:both;
	margin-top: 8px;
	margin-bottom: 10px;
}
.bigt1 {
	margin-left: 17px;
}
.bigt1_soft {
	margin-left: 28px;
}
.bigt_designshow {
    clear:both;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 17px;
}
.psjc {
	background-image: url(../images/shu_line_45.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D0EBF2;
	border-bottom-color: #D0EBF2;
	border-left-color: #D0EBF2;
	margin-top: 17px;
	height: 224px;
	float: left;
	width: 342px;
	margin-right: 17px;
}
.psjc1 {
	background-image: url(../images/shu_line_45.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D0EBF2;
	border-bottom-color: #D0EBF2;
	border-left-color: #D0EBF2;
	margin-top: 17px;
	height: 224px;
	float: left;
	width: 342px;
}
.psjc3 {
	background-image: url(../images/shu_line_45.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D0EBF2;
	border-bottom-color: #D0EBF2;
	border-left-color: #D0EBF2;
	margin-bottom: 17px;
	clear: both;
}
.tubiao {
	background-image: url(../images/jishu_22.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 33px;
	width: 10px;
	float: left;
}
.pswz {
	float: left;
	height: 15px;
	font-weight: bold;
	color: #4D4D4D;
	text-align: center;
	padding-top: 8px;
	margin-left: 8px;
}
.ny_more {
	float: right;
	text-align: center;
	height: 13px;
	padding-top: 13px;
	margin-right: 10px;
}
.tiao {
	height: 33px;
	width: 332px;
	padding-left: 10px;
}
.tiao1 {
	height: 33px;
	padding-left: 10px;
}
.psjc li {
	margin: 5px;
	padding: 0px;
	list-style-type: none;
	background-image: url(../images/index_cyhd_48.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	display: block;
	clear: both;
	height: 28px;
}
.psjc ul {
	padding: 0px;
	margin: 10px;
}
.psjc1 li {
	background-image: url(../images/index_cyhd_48.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 28px;
	list-style-type: none;
	display: block;
	margin: 5px;
	padding: 0px;
	clear: both;
}
.psjc1 ul {
	margin: 10px;
	padding: 0px;
}
.banner2 {
	margin-top: 17px;
	height: 80px;
	width: 706px;
	float: left;
}
.l_tubiao {
	background-image: url(../images/default_icon_13.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 33px;
	width: 10px;
	float: left;
}
.l_pswz {

	float: left;
	height: 15px;
	font-weight: bold;
	color: #00B8DB;
	text-align: center;
	padding-top: 9px;
	margin-left: 8px;
}
.jcny_kuang {
	border: 1px solid #D0EBF2;
	margin-top: 17px;
	margin-bottom: 17px;
}
.jcny_z {
	font-size: 14px;
	float: left;
	padding-left: 10px;
	background-image: url(../images/point_55.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #00376F;
}
.jcny_time {
	font-size: 14px;
	float: right;
	color: #999999;
}
.jcny_kuang li {
	background-image: url(../images/index_cyhd_48.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	list-style-type: none;
	display: block;
	clear: both;
	height: 22px;
	padding-top: 8px;
}
.jcny_kuang ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: 17px;
	margin-bottom: 17px;
	margin-left: 17px;
}
.jc_xkuang {
	background-color: #F4F4F4;
	height: 35px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DCDCDC;
}
.jcdb_wz {
	float: left;
	width: 225px;
	margin-left: 110px!important;
	margin-left: 60px;
	padding-top: 10px;
	vertical-align: middle;
}
.jc_xkuang input {
	margin-top: 5px;
	width: 30px;
	height: 23px;
}
/*h1 {
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	color: #666666;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}*/
.daohang {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #EEEEEE;
	border-bottom-color: #EEEEEE;
	height: 20px;
	width: 670px;
	margin-left: 17px;
	text-align: center;
	padding-top: 4px;
}
.jcny_dh2 {
	width: 654px;
	height: 53px;
	margin-left: 19px;
	margin-top: 5px;
	background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
	padding-top: 10px;
	line-height: 22px;
	padding-left: 10px;
}
.jcny_dh3 {
	width: 654px;
	height: 25px;
	margin-left: 19px;
	margin-top: 5px;
	background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
	padding-top: 6px;
	line-height: 22px;
	padding-left: 10px;
}
.cjny_nr {
	width: 642px;
	margin-top: 10px;
	margin-left: 40px;
	font-size: 14px;
	line-height: 24px;
	color: #464646;
}



.content_ny {

	height: 1%;
	width: 570px;
	margin-right: auto;
	margin-left: auto;
	clear: left;
	margin-top: 17px;
	margin-bottom: 0px;
	overflow: inherit;
}
/*.icon_blue {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	list-style-type: none;
	height: 32px;
}*/
.ny_left {
	height: 1%;
	width: 598px;
	margin-top: 17px;
	margin-bottom: 0px;
	float: left;
	overflow: hidden;
	margin-left: 17px!important;
	margin-left: 10px;
}
/*.main .ny_right .psjc3 li {
	list-style-type: none;
	background-image: url(../images/index_cyhd_48.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 28px;
	float: right;
	margin: 0px;
	padding: 0px;
}*/
.diyi {
	background-image: url(../images/point_55.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-top: 10px;
	width: 95%;
	padding-left: 5%;
	color: #00376F;
	height: 20px;
	display: block;
}
.psjc3 ul {
	padding: 0px;
	margin: 0px;
}


.ny_right1 {
	height: 310px;
}
.right_2 {
	margin-bottom: 17px;
}

.ny_right {
	float: right;
	width: 247px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px!important;
	margin-left: 15px;
}
.main_ny {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	margin-top:17px;
}
.r_pic {
	margin-top: 8px;
	float: right;
	width: 247px;
	background-color: #F7FDFE;
	background-image: url(../images/index_cyhd_21.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-bottom: 2px;
}

.r_11 {
    padding:17px 15px 0px 15px;
	margin-bottom: 17px;
}
/*.r_11 ul{
margin:0px;
padding:0px;
}
.r_11 li{
	list-style-type: none;
	width: 100%;
	background-image: url(../images/index_cyhd_48.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}*/
.pic_x {
	float: left;
	margin-left: 5px;
}
.kuang {
	background-color: #F5F5F5;
	border: 1px solid #DBDBDB;
	padding: 3px;
	width: 84px;
	float: left;
	margin-top: 8px;
}
.left1 {
	float: left;
	width: 598px;
	margin-top: 25px!important;
	margin-top: opx;
}

.left11 {
	border: 1px solid #CCCCCC;
	height: 63px;
	width: 84px;
	padding: 3px;
}

/*.TabbedPanelsContent li {
	background-image: url(../images/index_cyhd_21.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	list-style-type: decimal;
	width: 580px;
	float: left;
}*/
.1tiao {
	float: left;
	width: 580px;
}
.theory1 {
	width: 590px;
	float: left;
	margin-left: 12px;
}
.l_theory ul {
	margin: 0px;
	padding: 0px;
}
.resour_pic_title {
/*	display: block;*/
	clear: both;
	height: 28px;
}
