blockquote
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A
{
	COLOR: #660000;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.calendarEvent
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.calendarEventFear
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    background-color: #F4FFEC;
    TEXT-DECORATION: none
}

.calendarEventHate
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffecef;
    TEXT-DECORATION: none
}

.calendarEventSky
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    background-color: #ecf9ff;
    TEXT-DECORATION: none
}

.subForum
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.pending
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffea;
    TEXT-DECORATION: none
}
.approved
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f2fff2;
    TEXT-DECORATION: none
}
.lastwordbyline
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #7a84a5;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.guildLogo
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #834f4f;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.lastwordtext
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menuOff
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menuOn
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.adminlink
{
    FONT-SIZE: 10px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbarlinks
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbarheader
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbarsubheader
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbarsublinks
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbarsubmit
{
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.newscontent
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.newsdate
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.newssubject
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.smallcomments
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.smallcommentshi
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.comments
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f7f7f7;
    TEXT-DECORATION: none
}
.disabled
{
    FONT-WEIGHT: normal;
    COLOR: #c0c0c0;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
.prevnext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffff00;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.boardlinks
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.forumlinks
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.otherdate
{
    FONT-SIZE: 10px;
    COLOR: #660000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif
}

TD
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}

.grey
{
    FONT-SIZE: 10px;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}

.subTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.newsHeaderTitle
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
}
.newsHeaderLink
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
.newsHeaderTitle2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #7D87A8
}
SELECT
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
OPTION
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
FORM
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif
}
.gray4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #EBEBEB; font-weight: bold}
.gray5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #EBEBEB}
.gray1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #660000; background-color: #CCCCCC; font-weight: bold}
.gray2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #660000; background-color: #F7F7F7; font-weight: bold}
.gray3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #F7F7F7}
.counterMonths { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F7F7F7}
.counterDays { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F7F7F7}
.counterWeekendDays { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #FFFFDD}
.ref { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #660000; background-color: #F7F7F7; font-weight: bold}
li {  font-family: Verdana, Arial, Helvetica, sans-serif; list-style-type: square}
body {
COLOR: #000000;
margin: 0px;
FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 10px;
background-image : url('images/shading.gif');
background-position :  left top;
background-repeat : no-repeat;
background-color: #FFFFFF
}

dt {
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
pre {
    FONT-SIZE: 11px;
    FONT-FAMILY: Courier New, Courier, mono;
    TEXT-DECORATION: none
}

.navBackground {
background-image : url('images/navBackground.gif');
}
.blockText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-indent: 5pt;
}
caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	font-size: 9px;
	text-align: left;
}