body { 

	background: url('/bg.gif');
/*       background: #d6c399; */
       marginwidth: 0;
       marginheight: 0;
       margin: 0,0,0,0;
       margin-top: 0;
       font-family: "verdana", "arial", "geneva", sans-serif;
       font-size: 11px;

}
p { 
    margin-left: 60px;
    font-family: "verdana", "arial", "geneva", sans-serif;
     color: black;
     font-size: 12px;
}
li {
    font-family: "verdana", "arial", "geneva", sans-serif;        
     color: black;
     font-size: 12px;
}
ul { 
     font-family: "verdana", "arial", "geneva", sans-serif;
     color: black;
     font-size: 12px;
}
td { 
    font-family: "verdana", "arial", "geneva", sans-serif;
     color: black;
     font-size: 12px;
}
a {
      text-decoration: none;
      color: blue;
}
a:visited {
    color: darkblue;	
}
a:hover {
    color: black;
}
a:active{
    color: red;
    text-decoration: none;
}
input {
    font-size: 10px;
    font-family: "MS Sans Serif";
}
select {
    font-size: 10px;
    font-family: "MS Sans Serif";
}
#rr { 
      font-family: "Old English Text MT", "Times New Roman", "Times";
      color:#990000;
      font-size: 22px;
      font-weight: bold;
      }

#headerrow {
/*   background: url('/wimgs/dk.gif'); */
             background: #B1A67E; 
   color: black;
   font-size: 12px;
   font-weight: bold;
   margin: 0px;
}
#bigrow {
   color: black;
   font-size: 18px;
   font-weight: bold;
}

#regname { 
   color: navy;
   font-weight: bold;
           }
#sj { 
      font-size: 22px;
      font-weight: heavy;
 }

.copy { 
       color: black;
       font-size: 8px;
       font-family: verdana,helv;
}


.links {
   font-size: 9.5px;
   text-align: center;
}

.subject {
 font-size: 24px;
 font-weight: bold;
}

.Named {  font-weight: bold; color: #FFFF00}
.signed {  font-style: italic; color: #CC0099}
.nt { color: blue; text-decoration: none; }
#red { color: darkred; text-decoration: none; font-size: 10px; }
#notbold { font-weight: normal; }
#fs8 { font-size: 10px; }
#Administrator {
	color: DarkRed;
	font-weight: bold;
}
#Guru {
	color: Red;
	font-weight: bold;
}
#Sage {
	color: Darkgreen;
	font-weight: bold;
}
#Scholar {
	color: darkblue;
	font-weight: bold;
}
#User {
	color: Black;
	font-weight: bold;
}


dl {
color: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	Menu									*/
small.menu {
font-size: small;
color: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}


/*	Links unordered lists							*/
ul {
margin-left: 60px;
list-style: disc;
color: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	The link description							*/
span.descript {
font-size: 11px;
color: #333333;

font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	New links								*/
sup.new {
font-size: x-small;
color: #FFFFFF;
background: #FF3300;
font-weight: bold;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	Popular links								*/
sup.pop {
font-size: x-small;
color: #FFFFFF;
background: #00CCFF;
font-weight: bold;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	Links date and hits							*/
small.date {
font-size: x-small;
color: #666666;

font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	Number of links in categories						*/
small.numlinks {
font-size: x-small;
color: #666666;

font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This class is for "Looking for something in particular?"		*/
strong.search {
color: #000000;
font-weight: bold;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This class is for "More options"					*/
small.more {
font-size: small;
color: #000000;

font-weight: normal;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This is for main headers on all pages *apart* from the home page	*/
h1 {
margin-left: 40px;
font-size: 18px;
font-weight: bold;
border: none;
color: #FFFFFF;
background: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This class is for the main header on the Links home page		*/
h1.home {
margin-left: 40px;
font-size: 18px;
font-weight: bold;
border: none;
color: #FFFFFF;
background: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This class is for the error messages					*/
strong.error {
color: #FFFFFF;
background: #FF3300;
font-weight: bold;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This is used for the sub headers					*/
h2 {
   margin-left: 40px;
   background: #B1A67E; 
   color: black;
   font-size: 12px;
   font-weight: bold;
   border: none;
   font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This is for the margin for the form elements				*/
div.margin {
margin-left: 60px;
}

/*	This is for page $title_linked						*/
strong.title {
font-size: 11px;
font-weight: bold;
color: #000000;

font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This is  for Category Listings table cells				*/
td.catlist {
font-size: 11px;
color: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	Preformatted text							*/
pre {
margin-left: 60px;
font-size: 11px;
font-weight: bold;
color: #000000;

}

/*	This is for the page last updated text					*/
small.update {
font-size: x-small;
font-weight: bold;
color: #999999;
font-family: "verdana", "arial", "geneva", sans-serif;
}

/*	This is for the total number of links					*/
p.grandtotal {
margin-left: 60px;
font-size: 11px;
font-weight: bold;
color: #000000;
font-family: "verdana", "arial", "geneva", sans-serif;
}
