BODY {
	BACKGROUND: #000000
}
FONT            {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;}
		
TD              {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;}
		
BODY            {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;}
		
P               {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;}
		
DIV             {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;}
		
INPUT           {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #000000;}
		
TEXTAREA        {FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #000000;}
		
FORM            {BACKGROUND: #000000
         FONT-FAMILY: Verdana,Verdana;
		 FONT-SIZE: 10pt;
		 COLOR: #d5dce2;
		 }
		
HR		{COLOR: #d5dce2;}
		
A:link {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}



A:active {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}



A:visited {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}
A.lp:link {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}
A.lp:active {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}
A.lp:visited {FONT-FAMILY: Arial,Arial;
	COLOR: #8669C2;
	FONT-WEIGHT: bold;
}
A:hover {
	TEXT-DECORATION: none;
	FONT-WEIGHT: bold;
	COLOR: #6666FF;
}
.smaller {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Verdana;
}
.boxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #F4D22A; FONT-FAMILY: Verdana, Verdana;
}
.box {
	FONT-SIZE: 10pt; COLOR: #d5dce2; FONT-FAMILY: Verdana, Verdana;
}
.copyright {
	FONT-SIZE: 8pt; COLOR: #d5dce2; FONT-FAMILY: Verdana, Verdana;
}
.lspaced {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Verdana, Geneva, Swiss, SunSans-Regular; LETTER-SPACING: 0.5px
}
A {
	TEXT-DECORATION: none
}
.bg_medium	{background-color : #222222;}

.bg_light 	{background-color : #333333;}

.bg_dark 	{background-color : #111111;}

.bg_medium	{background-color : #222222;}

.bg_light 	{background-color : #333333;}

.bg_dark 	{background-color : #111111;}

.white 		{background-color : #444444;}

.black 		{background-color : #000000;}

.errortext 	{font-family : Verdana, Verdana, sans-serif;
                 font-size : 10pt;
                 color : red;
                font-weight : bold;}
		
.smalltext 	{font-family : Verdana, Verdana, sans-serif;
                 font-style : normal;
		 font-variant : normal;
		 font-weight : normal;
		 font-size : 8pt;}
		
.largetext 	{font-family : Verdana, Verdana, sans-serif;
                 font-style : normal;
                 font-variant : normal;
		 font-weight : normal;
		 font-size : 12pt;}




.errortext 	{font-family : Verdana, Verdana, sans-serif;
                 font-size : 10pt;
                 color : red;
                font-weight : bold;}
		
.smalltext 	{font-family : Verdana, Verdana, sans-serif;
                 font-style : normal;
		 font-variant : normal;
		 font-weight : normal;
		 font-size : 8pt;}
		
.largetext 	{font-family : Verdana, Verdana, sans-serif;
                 font-style : normal;
                 font-variant : normal;
		 font-weight : normal;
		 font-size : 12pt;}