 
<style type="text/css">
<!--
p {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #400000}
a:link {  text-decoration: none; font-size: 10pt; color: #800000}
a:visited {  color: #A66868; text-decoration: none; font-size: 10pt}
a:hover {  font-size: 10pt; color: #008000; text-decoration: underline}
a.header:hover { font-size: 12pt; color: #008000; text-decoration: underline; font-weight: bold} 
a.header:link { text-decoration: none; font-size: 12pt; color: #800000; font-weight: bold}
a.header:visited { color: #A66868; text-decoration: none; font-size: 12pt; font-weight: bold} 
.headers {  font-size: 12pt; font-weight: bold}
.copywrite {  font-size: xx-small; font-style: normal; font-family: "Times New Roman", Times, serif}
.teal {  font-weight: bold; color: teal}
.intable {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.black {  color: #000000}
.dates {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #400000}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt}
li {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #400000}
blockquote {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #400000}
-->
</style>

<span class="black"></span>