/*
 * yappa-ng, Theme Stylesheet:  zirkon
 *
 * created: 01.12.2002 by wizard@zirkon.at
 *
 */

body { 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 100%;
	background-color: #C6DEEF;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

/*
Navbar Top
*/
.selectionTable {
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	border:0;
	height:20px;
	vertical-align:middle;
	background-image:url(themes_zirkon_outernavbar.gif);
}
.bgcolor1 {
	background-color: #000000;
}
.bgcolor2 {
	background-color: #FFFFFF;
}
.bgcolor3 {
	background-color: #333333;
}
.bgcolor4 {
	background-color: #999999;
}
.fontcolor1 {
	color: #ffffff;
}
.outernavbarBg {
	background-image:url(themes_zirkon_outernavbar.gif);
}
.outernavbarRightBg {
	background-image:url(themes_zirkon_outernavbar.gif);
	text-align:right;
}
.upperNavbar {
	color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}
.upperNavbarBg {
	color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	background-image:url(themes_zirkon_outernavbar.gif);
}
.upperNavbar2Bg {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-image:url(themes_zirkon_outernavbar.gif);
}
.lowerNavbar {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
}
.lowerNavbarBg {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	background-image:url(themes_zirkon_outernavbar.gif);
}
.small {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.selectbox {
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #000000;
}
.headerMain {
	background-image:url(themes_zirkon_head-bkgd.gif);
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #000000;
}
.yappaLogo {
	background-image:url(themes_zirkon_yappa-ng_logo.gif);
	color: #000000;
}

/*
End Navbar
*/

.leftMenu {
	background-image:url(themes_zirkon_navlinks.gif);
}
a {
	text-decoration: none;
}

a.albumpath:link { font-weight:bold; font-style:normal; color:#0000FF; text-decoration:none; font-family: verdana, arial, helvetica, sans-serif; white-space:nowrap; }
a.albumpath:visited { font-weight:bold; font-style:normal; color:#808000; text-decoration:none; font-family: verdana, arial, helvetica, sans-serif; white-space:nowrap; }
a.albumpath:hover { font-weight:bold; font-style:normal; color:#E00000; text-decoration:none; font-family: verdana, arial, helvetica, sans-serif; white-space:nowrap; }
a.albumpath:active { font-weight:bold; font-style:normal; color:#E00000; text-decoration:underline; font-family: verdana, arial, helvetica, sans-serif; white-space:nowrap; }
a.albumpath:focus { font-weight:bold; font-style:normal; color:#00E000; text-decoration:underline; font-family: verdana, arial, helvetica, sans-serif; white-space:nowrap; }


.textTitle {
	font-size: 170%;
	color: #EEEEFF;
}
.textAlbumPath {
	font-family: Times New Roman, Times, serif;
	font-size: 100%;
}

a.info:link { font-weight:bold; font-style:normal; color:#0000FF; text-decoration:underline; }
a.info:visited { font-weight:bold; font-style:normal; color:#808000; text-decoration:underline; }
a.info:hover { font-weight:bold; font-style:normal; color:#E00000; text-decoration:none; }
a.info:active { font-weight:bold; font-style:normal; color:#E00000; text-decoration:underline; }
a.info:focus { font-weight:bold; font-style:normal; color:#00E000; text-decoration:underline; }

.textAlbumNavInfo {
	font-size: 60%;
}
.boldLink {
	font-weight: bold;
}
.linkImage {
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	color: #0000cc;
}
.linkImage:hover {
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	color: #ffffcc;
}
.albumCellA {
	background-color: #EEEEFF
}
.albumCellB {
	background-color: #DDDDFF
}
.menubarCell {
	background-color: #0033ff;
	background-image:url(themes_zirkon_navlinks.gif);
}
.menubarCell2 {
	background-color: #0033ff;
}
.albumCell {
	background-color: #CCCCCC
}
.subalbumsBar {
	background-color: #66CCFF;
}
.albumCellSelected {
	background-color: #AAAAAA
}

/*
          ##########  Single Image Page  ##########
*/
.imageLinkPrevnext {
	font-family: Times New Roman, Times, serif;
	font-size: 110%;
	font-weight: bold;
	font-style: normal;
	color:#0000FF;
}
.imageLinkNav {
	font-family: Times New Roman, Times, serif;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	color:#0000FF;
}
.imageNavbar {
	background-image:url(themes_zirkon_imageselection.gif);
	font-family: Times New Roman, Times, serif;
	background-color: #999999
}
.imageNavbarLeft {
	font-family: Times New Roman, Times, serif;
	background-color: #DDDDFF
}
.imageCell {
	font-family: Times New Roman, Times, serif;
	background-color: #999999
}
.imagemenuCell {
	font-family: Times New Roman, Times, serif;
	font-size: 80%;
	color:#000000;
	font-style: normal;
	white-space:nowrap;
}
.imagenameCell {
	background-color: #cccccc;
	font-size: 110%;
}
.imagecaptionCell {
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #424aa5;
	color: #ffff00;
	font-size: 80%;
	font-weight: bold;
	font-style: normal;
}
.imagedescriptionCell {
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #AAAAAA;
	color: #000000;
	font-size: 60%;
	font-weight: normal;
	font-style: normal;
}

/*
          ##########  Thumbnail Page  ##########
*/
.thumbnailCell {
	background-color: #DAE9FC;
}
/* Album Info */
.textNavlink {
	font-size: 80%;
}
.infoAlbumStatCell {
	font-family:  Times New Roman, Times, serif;
	color: #000000;
	font-size: 70%;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}
.infoAlbumTitleCell {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ffff00;
	font-size: 140%;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}
.infoAlbumInfoCell {
	font-family:Times New Roman, Times, serif;
	background-color:#DAE9FC;
	color:#000000;
	font-size:90%;
	font-weight:normal;
	font-style:italic;
	text-align:justify;
}
/* Thumbnails */
.thumbHeader {
	background-image:url(themes_zirkon_thumbshead.gif);
	color: #000000;
}
.textImageCaption {
	font-size: 80%;
}
.thumbTop10Table {
	background-image:url(themes_zirkon_thumbsbacktop.gif);
	font-size: 80%;
	margin-top: 0;
	margin-bottom:0;
}
.thumbStandardTable {
	background-image:url(themes_zirkon_thumbsback.gif);
	font-size: 80%;
	margin-top: 0;
	margin-bottom:0;
}
.thumbHeadTop10Cell {
	font-size: 80%;
	margin-top: 0;
	margin-bottom:0;
}
.thumbHeadCommentCell {
	font-size: 80%;
	margin-top: 0;
	margin-bottom:0;
}

/*
          ##########  Password Query  ##########
*/

.passwdTxtHead {
	font-family: Times New Roman, Times, serif;
	font-size: 300%;
	font-weight: bold;
	color: #ff0000;
	margin-bottom: 5px;
}
.passwdTxtMain {
	font-family: Times New Roman, Times, serif;
	font-size: 100%;
	margin-top: 0;
	margin-bottom:0;
}
.passwdTxtRequest {
	font-family: Times New Roman, Times, serif;
	font-size: 110%;
	margin-top: 0;
}
.passwdTxtAnnotation {
	font-size: 60%;
}
a.passwdTxtAnnotation:link { font-weight:bold; font-style:normal; font-size:100%; color:#0000FF; text-decoration:underline; }
a.passwdTxtAnnotation:visited { font-weight:bold; font-style:normal; font-size:100%; color:#808000; text-decoration:none; }
a.passwdTxtAnnotation:hover { font-weight:bold; font-style:normal; font-size:100%; color:#E00000; text-decoration:none; }
a.passwdTxtAnnotation:active { font-weight:bold; font-style:normal; font-size:100%; color:#E00000; text-decoration:underline; }
a.passwdTxtAnnotation:focus { font-weight:bold; font-style:normal; font-size:100%; color:#00E000; text-decoration:underline; }
.passwdTxtAlbum {
	font-size:100%;
	color:#660099;
	font-weight:bold;
	margin-top:0;
	margin-bottom:0;
}

/*
          ##########  Admin - Password Query  ##########
*/

.passwdAdminTxtHead {
	font-family: Times New Roman, Times, serif;
	font-size: 300%;
	font-weight: bold;
	color: #ff0000;
	margin-bottom: 0;
}
.passwdAdminTxtHead2 {
	font-family: Times New Roman, Times, serif;
	font-size: 200%;
	font-weight: bold;
	color: #ff0000;
	margin-top: 0;
	margin-bottom: 5px;
}
.passwdAdminCancel {
	font-family: Times New Roman, Times, serif;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
}

/*
          ##########  Top 10 and Album-Info ##########
*/

/* display text & link in thumbnail page */
.top10Table {
	border:0;
	width:100%;
	text-align:center;
}
.top10HeadBg {
	background-image:url(themes_zirkon_top10head.gif);
}
.hitsTop10Cell {
	font-size: 130%;
	text-align:center;
}
.captionsTop10Cell {
	background-color: #bdd6ef;
	font-size: 80%;
	font-style:italic;
	white-space:normal;
}
.headerTop10Title {
	font-size: 150%;
	font-weight:bold;
	font-style:normal;
}
.headerTop10Albumname {
	color: #ffff00;
	font-size: 130%;
	font-weight:bold;
	font-style:normal;
}
.top10BackBg {
	background-image:url(themes_zirkon_outernavbar.gif);
	color: #ffffff;
}
.aheaderTop10Back {
	color: #ffffff;
}
.headerTop10Back {
	color: #ffffff;
	font-size: 80%;
	font-weight:bold;
	font-style:normal;
}
.headerTop10Tabledescription {
	background-image:url(themes_zirkon_outernavbar.gif);
	color: #ffffff;
	font-size: 100%;
	font-weight:bold;
}
.headerTop10Statistic {
	background-color: #DAE9FC;
	font-size: 70%;
	font-style:normal;
	color:#E00000;
}
.headerTop10Fileinfo {
	background-color: #DAE9FC;
	font-size: 70%;
	font-style:normal;
	color:#000000;
}
.headerAlbumInfo {
	background-color: lightgrey;
	font-size: 100%;
	font-style:normal;
	color:#000000;
	font-weight:bold;
}
.aiLangSelDef {
	background-color: red;
	font-size: 70%;
	font-style:normal;
	font-weight:bold;
	color:#000000;
}
.aiLangSel {
	background-color: green;
	font-size: 70%;
	font-style:normal;
	font-weight:bold;
	color:#000000;
}
.aiLangDef {
	background-color: yellow;
	font-size: 70%;
	font-style:normal;
	font-weight:bold;
	color:#000000;
}
.iaUsed {
	background-color: yellow;
}
.iaNotUsed {
	background-color: #DAE9FC;
}
/*
          ########## Admin Module  ##########
*/
.adminHeading {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 150%;
	font-weight:bold;
	color: #000000;
	margin-bottom:5px;
}
.adminDescription {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 100%;
	font-weight:bold;
	color: #000000;
	margin-top:10px;
}
.adminAlbum {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 100%;
	font-weight:bold;
	color: red;
	margin-top:10px;
}
.adminComments {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 70%;
	font-style:italic;
	color: #000000;
}
.adminComments2 {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 70%;
	font-style:italic;
	font-weight:bold;
	color: #FF0000;
}
.adminDemo {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 90%;
	font-style:normal;
	color: blue;
}
.adminLanguage {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 90%;
	font-style:normal;
	color: #000000;
}
.adminSelection {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 80%;
	font-weight:bold;
	font-style:normal;
	color: #000000;
}
.adminStatus {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 120%;
	font-style:normal;
	font-weight:bold;
	color:red;
}
.adminInfoH2 {
	background-color: #DDDDFF;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 120%;
	font-weight:bold;
	color: #000000;
	margin-top:10px;
}
.adminInfoH3 {
	background-color: #DDDDFF;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 100%;
	font-weight:bold;
	color: #000000;
	margin-top:10px;
}
/*
          ##########  END !  ##########
*/
