/* phpVB2 theme for phpBB2
 * Created by Nick Mahon
 * http://nick.nineand3quarters.com/design.php
 * Inspired by vBulletin
 * http://www.vbulletin.com
 * Based on subSilver
 * http://www.subBlue.com
 */

/* Scrollbar Color and HR */

body               
{ scrollbar-3dlight-color: #B2AA9C; scrollbar-arrow-color: #B2AA9C; scrollbar-darkshadow-color: #000000; scrollbar-face-color: #203A58; scrollbar-highlight-color: #B2AA9C; scrollbar-shadow-color: #000000; scrollbar-track-color: #264568 }


/* Font Properties */

body             
{
font-family: Verdana, Tahoma; 
font-size: 10px; 
color: #383B3F
}

table            
{
font-family: Verdana, Tahoma; 
font-size: 10px; 
color: #383B3F
}

td               
{
font-family: Verdana, Tahoma; 
font-size: 10px; 
color: #383B3F
}

.smalltext       
{ 
font-family: Verdana; 
font-size : 10px; 
color: #383B3F
}

.mediumtext      
{ 
font-family: Verdana; 
font-size : 11px; 
color: #383B3F
}

.largetext       
{ 
font-family: Verdana; 
font-size : 13px; 
color: #383B3F
}

.catrowtext      
{ 
font-family: Verdana; 
font-size : 12px; 
color: #525F6A; 
font-weight: bold 
}

.toprowtext      
{ 
font-family: Verdana; 
font-size : 9px; 
color: #B0C6DA; 
font-weight: bold 
}


/* Cell Properties */


TD.row1	        
{ 
background-color: #EFEFEF;
font-family: Verdana; 
font-size : 13px; 
color: #494957
}     
     
TD.row2	        
{ 
background-color: #E6E6E6;
font-family: Verdana; 
font-size : 12px; 
color: #494957
}

TD.row3	        
{ 
background-color: #EFEFEF; 
font-family: Verdana; 
font-size : 12px; 
color: #383B3F
}

TD.catrow           
{ 
background-color: #98ABBC;
font-family: Verdana; 
font-size : 12px; 
color: #525F6A; 
font-weight: bold 
}

TD.toprow
{ background-color: #435464; 
font-family: Verdana; 
font-size : 9px; 
color: #B0C6DA; 
font-weight: bold 
}

TD.tableborder	  
{ 
background-color: #8095A7
}

TD.code	        
{ 
font-family: Courier, Courier New; 
font-size: 11px; color: #2F6982;
background-color: #E6E6ED; 
border: #555576; 
border-style: solid;
border-left-width: 1px; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px 
}

TD.quote	        
{ 
font-family: Verdana, Arial; 
font-size: 11px; 
color: #535353; 
line-height: 125%;
background-color: #E6E6ED; 
border: #555576; 
border-style: solid;
border-left-width: 1px; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px 
}


/* Link Properties */


a                         { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }  
a:link                    { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a:visited                 { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a:active                  { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a:hover                   { text-decoration: none; font-size: 11px; color: #304C6C; font-family: Verdana } 

a.forumlink               { text-decoration: underline; font-weight: bold; font-size: 13px; color: #304C6C; font-family: Verdana }
a.forumlink:link          { text-decoration: underline; font-weight: bold; font-size: 13px; color: #304C6C; font-family: Verdana }
a.forumlink:visited       { text-decoration: underline; font-weight: bold; font-size: 13px; color: #304C6C; font-family: Verdana }
a.forumlink:active        { text-decoration: underline; font-weight: bold; font-size: 13px; color: #304C6C; font-family: Verdana }
a.forumlink:hover         { text-decoration: none; font-size: 13px; font-weight: bold; color: #304C6C; font-family: Verdana }
   
a.topiclink               { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }  
a.topiclink:link          { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.topiclink:visited       { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.topiclink:active        { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.topiclink:hover         { text-decoration: none; font-size: 13px; color: #304C6C; font-family: Verdana }  
 
a.catlink                 { text-decoration: none; font-weight: bold; font-size: 13px; color: #525F6A; font-family: Verdana }   
a.catlink:link            { text-decoration: none; font-weight: bold; font-size: 13px; color: #525F6A; font-family: Verdana }
a.catlink:visited         { text-decoration: none; font-weight: bold; font-size: 13px; color: #525F6A; font-family: Verdana }
a.catlink:active          { text-decoration: none; font-weight: bold; font-size: 13px; color: #525F6A; font-family: Verdana }
a.catlink:hover           { text-decoration: underline; font-weight: bold; font-size: 13px; color: #525F6A; font-family: Verdana }
  
a.toprowlink              { text-decoration: none; font-size: 9px; color: #B0C6DA; font-family: Verdana }   
a.toprowlink:link         { text-decoration: none; font-size: 9px; color: #B0C6DA; font-family: Verdana }
a.toprowlink:visited      { text-decoration: none; font-size: 9px; color: #B0C6DA; font-family: Verdana }
a.toprowlink:active       { text-decoration: underline; font-size: 9px; color: #B0C6DA; font-family: Verdana }
a.toprowlink:hover        { text-decoration: underline; font-size: 9px; color: #B0C6DA; font-family: Verdana } 
     
a.smalllink               { text-decoration: underline; font-size: 10px; color: #304C6C; font-family: Verdana }   
a.smalllink:link          { text-decoration: underline; font-size: 10px; color: #304C6C; font-family: Verdana }
a.smalllink:visited       { text-decoration: underline; font-size: 10px; color: #304C6C; font-family: Verdana }
a.smalllink:active        { text-decoration: underline; font-size: 10px; color: #304C6C; font-family: Verdana }
a.smalllink:hover         { text-decoration: none; font-size: 10px; color: #304C6C; font-family: Verdana }   
  
a.mediumlink              { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }  
a.mediumlink:link         { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a.mediumlink:visited      { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a.mediumlink:active       { text-decoration: underline; font-size: 11px; color: #304C6C; font-family: Verdana }
a.mediumlink:hover        { text-decoration: none; font-size: 11px; color: #304C6C; font-family: Verdana }   
    
a.largelink               { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.largelink:link          { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.largelink:visited       { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.largelink:active        { text-decoration: underline; font-size: 13px; color: #304C6C; font-family: Verdana }
a.largelink:hover         { text-decoration: none; font-size: 13px; color: #304C6C; font-family: Verdana }         

/* Form elements */

input, textarea, select 
{
color : #000000;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 10px;
}