@charset "iso-8859-1";

A:link { COLOR: #000000; TEXT-DECORATION: none }
A:active { COLOR: #333366; TEXT-DECORATION: none }
A:visited { COLOR: #000000; TEXT-DECORATION: none }
A:hover { COLOR: #1679AA; TEXT-DECORATION: underline }

BODY {SCROLLBAR-FACE-COLOR: #1679aa; 
      SCROLLBAR-HIGHLIGHT-COLOR: #ced6dc; 
      SCROLLBAR-SHADOW-COLOR: #ced6dc; 
      SCROLLBAR-3DLIGHT-COLOR: #ced6dc; 
      SCROLLBAR-ARROW-COLOR: #ffbbcc; 
      SCROLLBAR-TRACK-COLOR: #ced6dc; 
      SCROLLBAR-DARKSHADOW-COLOR: #1679aa;
      color:#ffffff;
      background-color:#2A1A1A;
      FONT-SIZE: 10pt; 
      FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }

tr.titre { background-color:#cdceed }

td.Ctitre { 
    color:#ffffff;
    text-align:center;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    background: url(../images/bandeau.jpg) }

tr.ligne { background-color:#cdceed }
           
td.Ccase { color:#000000; 
    	   text-align:center;
    	   FONT-SIZE: 10pt; 
    	   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
         
tr {background-color:none; }

td {color:#ffffff;
    text-align:center;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }

text {	  color:#000000; 
          FONT-SIZE: 10pt; 
    	  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}