/* Class: Primary Navigation Bar	*/
td.primarynavigation {
	background-color : #313131;
}

a.topics {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	font-size : 9pt;
}

a.topics:link {
	color: #C1C1C1;
}

a.topics:visited {
	color: #787878;
}

a.topics:hover {
	color: #FFFFFF;
}

a.topics:active {
	color: #787878;
}

/* Class: Secondary Navigation Bar	*/
a.subtopic {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	font-size : 9pt;
}

a.subtopic:link {
	color: black;
}

a.subtopic:visited {
	color: #404040;
}

a.subtopic:hover {
	color: #111111;
}

a.subtopic:active {
	color: #FF4307;
}

td.secondarynavigation {
	background-color : #B6B471;
}

/* Class: Related Links Table	*/
table.tertiarynavigation {
	background-color : #5375AA;
}

a.relatedtopic {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
	font-size : 8pt;
}

a.relatedtopic:link {
	color: #FFFFFF;
}

a.relatedtopic:visited {
	color: #ABC1E3;
}

a.relatedtopic:hover {
	color: #ABC1E3;
}

a.relatedtopic:active {
	color: #FFFFFF;
}

.relatedtitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
}

/* Class: Bottom filler box	*/
td.arrowbox {
	background-color : #FFFFFF;
}

/* Class: Most popular links table	*/
table.mostpopular {
	background-color : #BD0000;
}

/* Class: Most popular links table	*/
table.marginbox {
	background-color : #BD0000;
}

/* Class: Most popular links table	*/
td.marginbox {
	background-color : #BD0000;
}

.bodytx {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}

a.feat {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: underline;
}

a.feat:link {
	color: #FFFFFF;
}

a.feat:visited {
	color: #E5C5C5;
}

a.feat:hover {
	color: #E5C5C5;
}

a.feat:active {
	color: #FFFFFF;
}

.populartitle {font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
}

/* Class: Main area containing search results	*/
td.results {background-color : White;}

.cat,.listing {	font-family: Arial, Verdana, Helvetica, sans-serif;	font-size: 8pt;	font-weight: normal;color: #03406B;}
.listingtitle {	font-family: Arial, Verdana, Helvetica, sans-serif;	font-size: 12pt;font-weight: bold;	color: Black;}
.listdesc {	font-family: Arial, Verdana, Helvetica, sans-serif;	font-size: 8pt;	font-weight: normal;color: #03406B;}
a.listtitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #03406B;
}
a.listurl {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #03406B;
}

/* Class: Footer bar	*/
a.cathd {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}

a.cathd:link {
	color: #03406B;
}

a.cathd:visited {
	color: #CCCCCC;
}

a.cathd:hover {
	color: #FFFFFF;
}

a.cathd:active {
	color: #333333;
}

a.cat {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

a.cat:link {
	color: #D0D0D0;
}

a.cat:visited {
	color: #666666;
}

a.cat:hover {
	color: #FFFFFF;
}

a.cat:active {
	color: #CCCCCC;
}

a.foot {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
}

a.foot:link {
	color: #D0D0D0;
}

a.foot:visited {
	color: #CCCCCC;
}

a.foot:hover {
	color: #FFFFFF;
}

a.foot:active {
	color: #CCCCCC;
}

.hdlink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #BCBCBC;
}

.footer {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
}

.quicklinks {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

.cathd {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #03406B;
}