BODY {           background-color: #411313;
                 background-image: url("grafx/bg.jpg");
            scrollbar-arrow-color: silver;
             scrollbar-base-color: #411313;
      scrollbar-dark-shadow-color: #411313;
            scrollbar-track-color: #411313;
                      font-family: Verdana, Arial;
                        font-size: 8pt;
                            color: silver;
     }


A:link    {color:"silver";}
A:visited {color:"silver";}
A:hover   {color:"#ffff00";}


.PictureFrame {      margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }


.TextFrame    {       width: 640px;
                     margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }

.TextLinkFrame{       width: 300px;
                     margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }

.Row1         {background-color: #aaaaaa;
                          color: black;
                    font-family: Verdana, Arial;
                      font-size: 12pt;
              }
.Row2         {background-color: silver;
                          color: black;
                    font-family: Verdana, Arial;
                      font-size: 10pt;
              }

.Cell1        {background-color: silver;
                          color:black;
              }
.Cell2        {background-color: #666666;
                          color:black;
              }
