/* Make all body text maroon coloted 12 point Book antiqua wiht 16 point vertical spacing between lines of test and 12 point margins. Use old paper.gif as background
*/

body  {font-size: 14pt;
       font-family: "Book Antiqua";
	   color: 663333;
	   background:
	   line-height: 16pt;
	   margin-left: 12pt;
	   margin-right: 12pt;}
	   
	   /* Indent paragraphs */
	   
	   p {margin-left: 24pt;
	      margin-right: 24pt;}
		  
/* Make headings Eastwood with generous line spacing.
If user doesn't have Viking Normal, Lucida Handwriting
*/

h1 {font: 30 pt Viking-Normal, Lucinda Handwriting:
    font-weight: bold;
	line-height: 30pt;}
	
h2 {font: 24 pt Viking-Normal, Lucinda Handwriting:
	font-weight: bold;
	line-height: 22pt;}
	
h3{font: 20pt Viking-Normal, Lucinda Handwriting;
	   font-weight: bold;
	   line-height 24pt}
	   
	   h4{font:16pt Viking-Normal, Lucinda Handwriting;
	   font-weight: bold;
	   line-height:20pt}
	   
	   h5{font: 14pt Viking-Normal, Lucina Handwriting;
	   font-weight:bold;
	   line-height:16pt}
	   
	   h6{font: 12pt Viking-Normal, Lucinda Handwriting;
	   font-weight=bold;
	   line-height=14pt}	
		
/* Make links blue.  Make links flash blue when acitivated */
a:link {color:#0000FF;}
a:visited {color: #A0B0E0;}
a: active {color:#ff0000;}		
		