body { 
margin: 1em 2em 1em 3em;
background-color: #ffd;
color: #000;
font-family: Times New Roman, Georgia, Minion Web, Palatino, Book Antiqua, Utopia, serif;
line-height:	1.5em;
}


DT, H1, H2, H3, H4 {
background-color: transparent;
color:	#036;
font-family: Georgia, Minion Web, Palatino, Book Antiqua, Utopia, Times New Roman, serif;
}

a:hover { 
color: #000; 
background: #ff2; 
text-decoration:	Underline;
}

.imageset1, .imageset2 {
border: 0;
}

.imageset1 {
margin: 1.5em 0 1.5em 1.5em;
float: right; 
}

.imageset2 {
margin: 1.5em 1.5em 1.5em 0;
float: left; 
}

.mainimage {
text-align: center;
padding: 1em 0 1em 0; 
border: 0;
}

.eqsites {
padding: 0;
margin: 0;
font-size: .8em; 
line-height:	1.2em;
text-align: center;
}

.pagedescription {
text-align: left;
padding: 0 0 0 0em; 
}

.summary {
margin: 3em;
border: solid 1px #000;
color: #000;
background-color: #ffc;
padding: 2em;
}

@media handheld {
	IMG { display: none; }
}

.articlelist {
padding: 0;
position: absolute;
left:50%;
top: 250px;
}

.storybody {
background-color: #ffe;
border: solid 1px #888;
color: #000;
padding: 2em;
margin: 2em;
}

.storynavigation {
font-size: small;
}

.applications, .articles, .aboutthissite {
margin-bottom: 1em;
}