/* CSS definition file containing sitestyle stylesheets */
BODY { font-family: Arial, Helvetica, Univers, 'Zurich BT', sans-serif; font-size: small; color: rgb(255,255,255); background-image: url("../../Background.gif");}
 A:active { color: rgb(255,255,255);}
 A:link { color: rgb(255,255,255);}
 A:hover { color: rgb(0,0,0);}
 A:visited { color: rgb(0,0,0);}
 .TextObject { font-family: Arial, Helvetica, Univers, 'Zurich BT', sans-serif; font-size: small; color: rgb(255,255,255);}
 P { font-family: Arial, Helvetica, Univers, 'Zurich BT', sans-serif; font-size: small; color: rgb(255,255,255);}
 