<style>

body { font-family: arial, helvetica, sans-serif;  font-size: 11px;  }

td { font-family: arial, helvetica, sans-serif;  font-size: 11px; }


a:link {color: #99CC99;  font-family: variable; text-decoration: none}

a:visited {color: #99CC99;  font-family: variable; text-decoration: none} 

a:active {color: #FFFFFF;  font-family: variable; text-decoration: none} 

A:hover {text-decoration: none; color: #FFFFFF}

</style>