BODY {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	background-color : #F4F4ED;
}
li {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	margin-left : 6px;
}
p {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
blockquote {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #003300;
}
td {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
h1 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
h2 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
h3 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : #222222;
}
A {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #1F2F53;
}
A:link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #1F2F53;
}
A:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #660000;
}
A:hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #36251B;
}
.sectionTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color : #FFFFFF;
	background-color : #4A382B;
	width : 100%;
}
.subSectionTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #222222;
	background-color : #DBDBD5;
	width : 100%;
}
.menuSection {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #FFFFFF;
	background-color : #4A382B;
	text-align : center;
	vertical-align : middle;
	padding : 1px;
	width: 100%;
}
.menuSectionSearch {
	font-size : 10px;
	font-weight : bold;
	color : #EFEFEF;
	background-color : #4A382B;
	text-align : center;
	vertical-align : middle;
	padding : 1px;
	border: 1px solid #000000;
	width : 140;
}
.menuSubsection {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #DBDBD5;
	padding : 1px;
	text-align : left;
	color: #000000;
	text-decoration : none;
	width: 100%;
	font-weight : bold;
	padding-left : 3px;
}
.menuBackground { 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px; 
	text-decoration : none; 
	text-align : left; 
	background-color: #A49E8A; 
	margin: 0px;
	padding: 0px;
}
.menuBackgroundRight { 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size : 10px; 
	text-decoration : none; 
	text-align : left; 
	background-color: #A49E8A; 
	margin: 0px; 
	padding: 0px; 
}
.menuItem {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding : 2px;
	color : #330000;
	text-decoration : none;
	width: 100%;
}
.menuItem:link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #330000;
	text-decoration : none;
}
.menuItem:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FFFF00;
	text-decoration : none;
}
.footerBackground {
	background-color: #A49E8A; 
}
hr {
	color : #222222;
	height : 1px;
	text-align : center;
}
.comment {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #330000;
}
.comment2 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #222222;
}
.newsHeadline {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	text-decoration : none;
}
.newsDate {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	vertical-align : middle;
	color : #000000;
	padding : 3px;
	font-weight : normal;
}
.newsTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #F0FFFF;
	text-align : left;
	padding : 3px;
}
.newsSubject {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #222222;
	text-align : left;
 	background-color: #331804;
	padding : 2px;
}
.newsCategory {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding : 2px;
}
.newsText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.newsName {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.newsComment {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #222222;
	font-size : 10px;
}
.pollTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size : 11px;
	font-weight : bold;
}
.pollChoice {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.pollVoted {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.pollAnswer {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.pollValueNum {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.pollValuePerc {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.pollTotal {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.pollValueTotal {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.poll100 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.pollPercSign {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.navTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 9px;
	color : #FEFEFE;
	text-decoration : none;
	text-align : left;
}
.navTitle:link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FEFEFE;
}
.navTitle:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #DAA520;
}
.navTitle:hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #DAA520;
}
.navMenu {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	width : 115px;
	background-color : #000000;
	color: #FEFEFE;
	font-size : 10px;
	text-align : center;
	text-decoration : none;
}
.navSubmenu {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	width : 115px;
	position : absolute;
	background-color : #000000;
	font-size : 10px;
	text-align : left;
	padding : 1px;
}
.navSubmenuLink {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FEFEFE;
	text-decoration : none;
	width : 100%;
}
.navSubmenuLink:link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FEFEFE;
	width : 100%;
}
.navSubmenuLink:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	background : #FEFEFE;
	width : 100%;
}
.navSubmenuLink:hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	background : #FEFEFE;
	width : 100%;
}
.submitButton {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EAEEFD;
	color: #222222;
	font-size: 10;
	text-align : center;
}
.searchButton {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EAEEFD;
	color: #222222;
	font-size: 10;
	text-align : center;
}
.searchText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #F0FFFF;
	width : 100%;
	text-align : center;
}
.search {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.searchTitle{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #FFFFFF;
	background-color : #4A382B;
	vertical-align : top;
	text-align : center;
	width: 100%;
}

