.White {  font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF}
.WhitePlain {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}
.White {  font-family: "Times New Roman", Times, serif; text-decoration: none}
.GaramondBlue {  font-family: Garamond; font-size: 16px; color: #00CCFF; text-decoration: none}
.WhiteTile {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none; line-height: normal; font-variant: normal}
.Tile {  background-attachment: fixed; background-repeat: repeat; background-image: url(../Template%20Images/Logo2.jpg)}
