<style>
.mstheme
{
	top-bar-button: url(strglobalc.gif);
	version: 1.0;
	navbutton-background-color:  rgb(102,153,255);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
}
body
{
	font-family: Arial, Helvetica;
	background-image: url(strbkgde.gif); 
}

h1
{
	font-family: Impact, Arial, Helvetica;
}
h2
{
	font-family: Impact, Arial, Helvetica;
}
h3
{
	font-family: Impact, Arial, Helvetica;
}
h4
{
	font-family: Impact, Arial, Helvetica;
}
h5
{
	font-family: Impact, Arial, Helvetica;
}
h6
{
	font-family: Impact, Arial, Helvetica;
}
</style>.
