a:link {color: #000099;
font-weight: bold;
text-decoration: none}

a:visited {color: #3366CC;
font-weight: bold;
text-decoration: none}

a:active {color: #FF9900;
font-weight: bold;
text-decoration: none}

a:hover {text-decoration: underline}

body {color: #000031;
font-family: Helvetica, Arial, Verdana;
font-size: 10pt;
margin: 0px;
}

h1 {color: #3366CC;
font-family: Helvetica, Arial, Verdana;
font-size: 20pt;
text-align: center}

h2 {color: #3366CC;
font-family: Helvetica, Arial, Verdana;
font-size: 16pt;
text-align: center}

h3 {color: #006699;
font-family: "'Times New Roman'", Times}

h4 {color: #999900;
font-family: "'Times New Roman'", Times}

h5 {color: #FF9900;
font-family: "'Times New Roman'", Times}

h6 {color: #3366CC;
font-family: "'Times New Roman'", Times}

p.c {text-align: justify}
p {text-align: center}

OPTION {color: #000031;
font-family: Helvetica, Arial, Verdana;
font-size: 10pt;}

TD {color: #000031;
font-family: Helvetica, Arial, Verdana;
font-size: 10pt;}