BODY
{
    BACKGROUND-COLOR: #f5deb3;
    BACKGROUND-IMAGE: url(./images/parchment.jpg);
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A
{
    COLOR: #800000;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff0000;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
A.navigation
{
    COLOR: #e0d0c0;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.navigation:hover
{
    COLOR: #ffefd5;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
B.navigation
{
    COLOR: #e0d0c0;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}
TABLE.bios
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TABLE
{
    FONT-SIZE: 10px
}
