body {
	scrollbar-3d-light-color: #9999CC;
	scrollbar-arrow-color: #336699;
	scrollbar-base-color: #9999BB;
	scrollbar-dark-shadow-color: #336699;
	scrollbar-face-color: #333366;
	scrollbar-highlight-color: #336699;
	scrollbar-shadow-color: #336699;
	margin-top:0px;
	background-image:url(images/background.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:#333366;
}

b {
	color:#FFD700;
}
.nav{
}

.nav table{
	width:100%;
}

.nav td{
	background-color:#336699;
	width:10%;
	border-bottom:1px #9999cc solid;
	border-right:1px #9999cc solid;
	text-align:center;
}

.nav a{
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
}

.nav a:hover{
	color:#9999CC;
}

.mayneed{
	text-align:center;
	background-color:none;
	font-style:italic;
	font-weight:bolder;
}

.main{
}

.main table{
	width:100%;
}

.main th{
	width:33.33%;
	color:#ffffff;
	background-color:#336699;
	border-bottom:1px #9999cc solid;
	text-align:left;
}

.main td{
	background-color:none;
	color:#ffffff;
}

.main a{
	color:#FFD700;
	font-weight:bold;
	text-decoration:none;
}

.main a:hover{
	color:#9999CC;
}

.text{
	color:#ffffff;
}

.mem{
}

.mem table{
	width:100%;
}

.mem th{
	width:16.66%;
	color:#ffffff;
	background-color:#336699;
	border-bottom:1px #9999cc solid;
	text-align:left;
}

.mem td{
	background-color:none;
    border-bottom:1px #9999cc solid;
	color:#ffffff;
}

.mem a{
	color:#FFD700;
	font-weight:bold;
	text-decoration:none;
}

.mem a:hover{
	color:#9999CC;
}
