.unnamed1 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0066CC}
.event-date {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666}
b {  font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #000066; font-size: 12px}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #333333}
.header {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt; color: #006600}
.credt {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #999999}
.storytitle {  color: #FFCC67; font-family: "Times New Roman", Times, serif; font-size: 12pt; font-weight: bold}
a:link {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #006600}
a:active {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #006600}
a:hover {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #663333; text-decoration: none}
a:visited {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold}
a {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #006600}
b.white {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF}
.header {  font-weight: bold; font-style: normal}
