font.the_header {font: bold 12pt verdana; color:#1C5DE3}
font.main_text {font: normal 10pt verdana; color:#000000}
font.top_menu {font: bold 9pt verdana; color:#FF0000}
a.top_menu {font: bold 9pt verdana; color:#FF0000; text-decoration:underline}
font.image {font: normal 12pt verdana; color:#FFFFFF}
a.image {font: normal 11pt verdana; color:#FFFF00}
