body { margin: 0px; padding: 0px; background-color: #fff; }
td   { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: small; }
img  { border-width: 0px; }
form { display: inline; }

a:link, a:active, a:visited { color: #31308C; text-decoration: underline; }
a:hover                     { color: #000084; text-decoration: underline; }

/* Content positioning */
.header-top { height: 37px; background-color: #424563; padding: 10px; }
.header-bot { padding: 2px 0px 0px 15px; background-color: #212042; border-style: none none solid none; border-width: 0px 0px 1px 0px; }
.footer     { padding: 3px; background-color: #212042; border-style: solid none none none; border-width: 1px 0px 0px 0px; border-color: #000; color: #fff; font-size: 9px; line-height: 11px; }

.leftside  { background-color: #efefef; width: 18em; padding: 10px; float: left; border-style: none solid solid none; border-width: 0px 1px 1px 0px; height: 100%; }
.rightside { padding: 15px 10px 0px 11px; }

ul    { list-style-type: none; padding: 0px 0px 0px 15px; margin: 1px 0px 0px 3px; vertical-align: middle; }
li    { list-style-type: none; }
li.ul { list-style-type: none; display: inline; }

/* Content */
.content        { padding: 0px 10px 10px 0px; }
.cblock         { margin-bottom: 5px; border-style: solid; border-width: 1px; }
.content-header { padding: 5px; background-color: #424563; color: #cecfef; font-size: medium; font-weight: bold; }
.content-row1   { padding: 5px; background-color: #efefef; color: #000; border-top: 1px solid; }
.content-row2   { padding: 5px; background-color: #e7e7e7; color: #000; border-top: 1px solid; }
.subblock       { border-style: dotted; border-width: 1px; padding: 4px; margin-bottom: 20px; background-color: #fff; }

.cheadline { font-weight: bold; font-size: small; }
.cauthor   { font-size: x-small; }
.cbody     { margin-left: 10px; margin-right: 10px; }

.man-headline { font-size: medium; font-weight: bold; }

/* Table */
th    { font-size: x-small; background-color: #424563; color: #cecfef; font-weight: bold; padding: 5px; }
.row1 { color: #000; background-color: #ffffff; font-size: x-small; padding: 5px; }
.row2 { color: #000; background-color: #e7e7e7; font-size: x-small; padding: 5px; }

/* Menu */
.menu-header { font-size: small; font-weight: bold; color: #212042; }
ul.menu      { list-style-type: none; padding: 0px 0px 0px 15px; margin: 1px 0px 0px 3px; vertical-align: middle; }
li.menu      { list-style-type: none; list-style-image: url(/images/box1.gif); font-size: x-small; }
li.menu-here { list-style-type: none; list-style-image: url(/images/box2.gif); font-weight: bold; font-size: x-small; }

.buttons { text-align: center; width: 100%; word-spacing: 10px; line-height: 15px; }
.ratebox { background-color: #fff; border-style: solid; border-width: 1px; text-align: center; font-size: x-small; line-height: 150%; }

/* ChangeLog, TOC */
ul.changelog  { list-style-type: none; padding: 0px 0px 0px 15px; margin: 1px 0px 0px 3px; vertical-align: middle; }
li.cl-bug     { list-style-type: none; list-style-image: url(/images/cl_bug.gif); font-size: x-small; line-height: 12px; }
li.cl-feature { list-style-type: none; list-style-image: url(/images/cl_feature.gif); font-size: x-small; line-height: 12px; }
li.cl-removed { list-style-type: none; list-style-image: url(/images/cl_removed.gif); font-size: x-small; line-height: 12px; }
li.cl-note    { list-style-type: none; list-style-image: url(/images/cl_note.gif); font-size: x-small; line-height: 12px; }

ul.toc      { list-style-type: none; padding: 0px 0px 0px 15px; margin: 0px 0px 0px 3px; vertical-align: middle }
li.toc      { list-style-type: none; list-style-image: url(/images/box1.gif); font-size: x-small; }
li.toc-here { list-style-type: none; list-style-image: url(/images/box2.gif); font-size: x-small; font-weight: bold; }

/* Code */
pre             { font-family: 'Courier New', Courier, Terminal; color: #000; }
pre.code-inline { font-size: small; display: inline; }
pre.code        { font-size: 9pt; border-style: dashed; border-width: 1px 1px 1px 1px; background-color: #fff; padding: 5px; margin-left: 20px; margin-right: 20px; }

/* Input */
.input { font-size: 10px; color: #000; background-color: #fff; border-width: 1px; border-style: solid; }

/* Misc */
.downloads { margin-left: 10px; margin-right: 10px; }
hr { height: 1px; width: 100%; color: #000; }