<style type="text/css">

.yourstyle {
font-family: Verdana, Arial;
font-size: 12px;
background-color: white;
padding: 4pt;
border: 2pt;
border-style: dashed;
border-color: navy;
display: list-item;
           }

td { font-size: 70%; font-family: Verdana, Arial, Helvetica, sans-serif;}

h4 { font-size: 16px; font-weight: bold; }

.m { font-size: 80%; }

.headings { font-size: 80%; font-weight: bold; }

.title { font-size: 12px; font-weight: bold; }


body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #FFFFFF; list-style-type: square;
scrollbar-face-color:#000000;
scrollbar-highlight-color:#FF8000;
scrollbar-3dlight-color:#89F89A;
scrollbar-darkshadow-color:#000000;
scrollbar-shadow-color:#941DE2;
scrollbar-arrow-color:#FFFF00;
scrollbar-track-color:#794BCD;

}
</style>a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; font-variant: small-caps; color: #006699; text-decoration: none}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: small-caps; text-transform: none; color: #006699; text-decoration: none}
