td {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a}
.MB_Heading {  font-family: Arial, Helvetica, sans-serif; font-size: medium; color: #334455; text-decoration: underline}
.MB_SubHead {  font-family: Arial, Helvetica, sans-serif; font-size: medium; color: #8b1a1a}
.MB_Body {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a}
.MB_Submit {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #334455}
.MB_Headlines {  font-family: Arial, Helvetica, sans-serif; font-size: small; color: #FFFFFF}
.MB_HeadlineList {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #334455; line-height: 10px}
.imagelink {  border-style: none}
.text  { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a }
body { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a }
div { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a }
p { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a }
p.text { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #8b1a1a } 