.title {		text-align: left;
			font-size: 72pt;
			font-style: italic;
			color: yellow;
			font-family: Arial, sans-serif; }
.content-item { 	text-align: left;
			font-size: 10pt;
			color: yellow;
			font-family: Arial, sans-serif; }
.heading {		text-align: left;
			font-size: 12pt;
			color: white;
			font-family: Arial, sans-serif; }
A:link {		text-decoration: none; }
A:active {		text-decoration: underline; }
A:visited {		text-decoration: none; }
A:hover {		text-decoration: underline; }
BODY {			background-color: #7D3F00; }

