/* Colors */

body {
	background-color: #ccc;
	}

body, .inputbox, .commentbox {
	color: #ccc;
	}

#content, #page {
	background-color: #1c1c1c;
	}

#content, #page, blockquote {
	border-color: #3c3c3c;
	}

#screen, #header {
	background-color: #000;
	}

.postmetadata, .commentmetadata a, #footer, #footer a, #slogan {
	color: #6c6c6c;
	}

.postmetadata a:hover, .commentsmeta a:hover, h2 a:hover, h1 a:hover, .widgettitle, #sidebar h3, #sidebar h2 a {
	color: #339933;
	}

a:hover, h2 a, h1 a, #navmenu a:hover, h3, #sidebar a:hover {
	color: #ffcc33;
	}

.commentauthor, .searchbox, .dropdown, .submitbutton {
	color: #999;
	}

#sidebar, #sidebar a, .postmetadata a, .commentsmeta a, #navmenu a {
	color: #9c9c9c;
	}

blockquote, .searchbox, .dropdown, .submitbutton, .searchbox, .dropdown, .inputbox, .commentbox, .submitbutton {
	background-color: #3c3c3c;
	} 

a {
	color: #22bb22;
	}

#footer a:hover {
	color: #000;
	}
	
.entry {
	border-bottom-color: #3c3c3c;
	}

.inputbox, .commentbox, .searchbox, .dropdown, .submitbutton {
	border-color: #6c6c6c;
	}

/* Images */

body {
	background-image: url(images/background.jpg);
	}

#header {
	background-image: url(images/titlebg.jpg);
	}

#screen {
	background-image: url(images/danuser1.jpg);
	}

#content {
	background-image: url(images/content.jpg);
	}

#character {
	background-image:url(images/logo_right.png);
	height: 33px; /* Height is variable, width is static 140px */
	}

#headerlink {
	width: 272px;
	}
	
#slogan, #navmenu {
	width: 478px;
	}