INPUT.ftsubbut
{
	color: white;
	font-family: Arial, Helvetica, Sans-Serif;
	cursor: hand;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none
}

.menuitem
{
	text-decoration: none;
	color:white
}


TD.Raised
{
	border-top: solid #FFFFFF 1px;
	border-left: solid #FFFFFF 1px;	
	border-right: solid #584300 1px;	
	border-bottom: solid #584300 1px;
}

a.link
{
	font-size: 10px;
	color: blue;
	letter-spacing: 0pt;
	text-decoration: none;
	font-family: verdana;
}

a.link:hover
{
	text-decoration: underline;
}

a.nound
{
	text-decoration: none
}

a.profile
{
	text-decoration: none
}

a.profile:hover
{
	text-decoration: underline
}