A{
	color : Black;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

A:LINK	{
	color : Black;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

A:HOVER{
	color : rgb(255, 0, 0);
	font : bold 12px Verdana, sans-serif;
	text-decoration : underline;
}

BODY {
	color : rgb(0, 0, 0);
	font : 12px Verdana, sans-serif;
}

TD {
	color : rgb(0, 0, 0);
	font : 12px Verdana, sans-serif;
}

.celltitle {
	background-color : rgb(0, 0, 0);
	color : rgb(255, 255, 255);
	font : bold 11pt Verdana;
}

.linkmenu {
	color : White;
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:ACTIVE {
	color : rgb(255, 0, 0);
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:HOVER {
	color : #DC143C;
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:LINK {
	color : rgb(255, 255, 255);
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.menuheader {
	color : rgb(203, 167, 56);
	font : bold 12px Verdana, Arial, sans-serif;
}

.menulink {
	color : rgb(255, 255, 255);
	font : normal normal 11px/normal Verdana;
	text-decoration : none;
}

.menulink:ACTIVE {
	color : rgb(255, 0, 0);
	font : normal normal 11px/normal Verdana;
	text-decoration : underline;
}

.menulink:HOVER {
	color : rgb(203, 167, 56);
	font : normal normal 11px/normal Verdana;
	text-decoration : underline;
}

.menulink:LINK {
	color : rgb(255, 255, 255);
	font : normal normal 11px/normal Verdana;
	text-decoration : none;
}

.newspost {
	color : rgb(0, 0, 0);
	font : normal normal normal 12px/normal Verdana;
}

.newspost:HOVER {
	color : rgb(255, 0, 0);
	font : bold normal 12px/normal Verdana;
	font-weight : bold;
	text-decoration : underline;
}

.newspost:LINK {
	color : Black;
	font : bold normal normal 12px/normal Verdana;
	font-weight : bold;
	text-decoration : none;
}

.newspostheader {
	background-color : #ebd8c3;
	font : bold 15px Verdana;
	color : Black;
}

.newssig {
	color : Black;
	font : normal normal 10px/normal normal Verdana;
	text-decoration : none;
	background-color : #ebd8c3;
}

.newssig:LINK {
	color : Black;
	font : bold normal normal 10px/normal Verdana;
	font-weight : bold;
	text-decoration : none;
	background-color : #ebd8c3;
}

.newssig:HOVER {
	color : Maroon;
	font : bold normal normal 10px/normal Verdana;
	font-weight : bold;
	text-decoration : underline;
	background-color : #ebd8c3;
}

.header {
	background-color : Black;
	font : bold 15px Verdana;
	color : White;
}

.spti {
	color : Maroon;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

