 @charset "gb2312";
.resour_main {
	width: 969px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 17px;
}
.resour_left {
	float: left;
	width: 476px;
}
.resour_right {
	float: right;
	width: 477px;
}
.resour_right_line {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.resour_menu_top {
}
.r_menu_left {
	float: left;
	height: 192px;
	width: 329px;
}
.resour_bottom_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.r_menu_pic {
	background-color: #C1E9FF;
	height: 96px;
}
.r_menu_link {
	height: 95px;
	width: 164px;
	background-color: #D6E5EA;
	float: left;
}
.r_menu_soft {
	background-color: #D8D8D8;
	float: right;
	height: 95px;
	width: 164px;
}
.r_menu_right {
	height: 192px;
	background-color: #C2E4FC;
	width: 147px;
	float: right;
}
.r_menu_end {
	height: 87px;
}
.r_menu_tools {
	float: left;
	height: 87px;
	width: 164px;
	background-color: #D3EFFF;
}
.r_menu_other {
	float: right;
	height: 87px;
	width: 312px;
	background-color: #D0D7DC;
}
.r_menu_pictitle {
	height: 51px;
	width: 71px;
	float: left;
	padding-top: 21px;
	padding-left: 28px;
}
.r_menu_pictext {
	float: right;
	width: 170px;
	padding-top: 45px;
}
.link_title {
	float: right;
	height: 24px;
	width: 88px;
	padding-top: 60px;
}
.link_text {
	width: 63px;
	float: left;
	text-align: center;
	padding-top: 15px;
	padding-left: 12px;
}
.soft_title {
	padding-top: 12px;
	padding-left: 15px;
}
.soft_text {
	padding-left: 18px;
	padding-top: 7px;
}
.flash_text {
	padding-top: 25px;
	padding-left: 20px;
}
.flash_title {
	padding-top: 60px;
	padding-left: 20px;
}
.tools_text {
	padding-left: 22px;
	padding-top: 9px;
}
.other_title {
	float: left;
	height: 27px;
	width: 94px;
	padding-top: 50px;
	padding-left: 20px;
}
.other_text {
	width: 160px;
	float: right;
	padding-top: 15px;
}
.l_height {

}
.resour_search {
	height: 50px;
	line-height: 50px;
}
.oklink_martop {
margin-top: 17px;
}
.oklink {
	background-image: url(../images/designresour_27.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D3ECF3;
	border-bottom-color: #D3ECF3;
	border-left-color: #D3ECF3;
}
.oklink_title {
	background-image: url(../images/designresour_26.jpg);
	background-repeat: no-repeat;
	height: 31px;
	background-position: 22px;
	line-height: 27px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 45px;
}
.link_more {
	float: right;
	padding-top: 10px;
	padding-right: 20px;
}
.link_more_resour {
	float: right;
	padding-top: 15px;
	padding-right: 20px;
}
.link_content2 {
	padding: 16px 0px 0px 16px !important;
	padding: 18px 0px 0px 8px;
}
.link_content {
    padding: 15px !important;
	padding: 15px 15px 15px 8px;
}
.link_content ul {
	padding: 0px;
	margin:0px;
}
.link_content li {
	margin:7px;
	list-style-type: none;
	float: left;
	width: 97px;
	background-color: #EAECF2;
	text-align: center;
	height: 22px;
	line-height: 23px;
}
.link_content li a{
	display: block;
	width: 100%;
}
.flash_height {

}
.resour_mytitlepic {
    display:block;
	margin: 0px;
	padding: 10px;
	border: 1px solid #EBEBEB;
	width: 108px;
	height: 77px;
}
.resour_mytext {
    display:block;
    margin: 0px;
	padding: 0px;
	width: 130px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.resour_mypic {
    width:130px;

	padding: 0px;
	float: left;
	margin-left: 8px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 22px !important;
	margin-bottom: 7px;
}
