
body, td, th {

	font-family: verdana, sans-serif, arial;
	color: black;
	font-size: 11px;
	line-height: 1.4em;

}

.navbar {

	font-family: verdana, sans-serif, arial;
	color: black;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.8em;

}

.memberhead { font-size:12px; font-weight: bold; color: cornflowerblue;}

.subhead {
	font-size: 10pt;
	font-weight: bold;
}

.waybig {
	font-size: 16pt;
}


A, a { 
	text-decoration: none; 
	color: navy;
}

A.button:hover { text-decoration: none }
A:hover { color: #3366FF; text-decoration: none}

.smallhead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold}

.topnavbar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 16pt; font-weight: bold; color: #333399}

