<!-- /* Style Sheet definitions need to be commented to hide them from incompatible Browsers.*/

BODY {
  background: #002800;
  color: #DDDDDD;
  }

A:link {
  color: #FEE6BA;
  }

A:visited {
  color: #9F875B;
}

A:hover {
  color: #FFFFFF;
  text-decoration : underline;
}

HR {
  color: #9F875B;
}

.BaseFont {
	font-family: "Arial";
	font-size: 10pt;
}

.NewsFont {
	font-family: "Arial";
	font-size: 10pt;
}

.NewsHeading {
	font-family: "Arial";
	font-size: 10pt;
	text-decoration: underline;
}

.SmallFont {
	font-family: "Arial";
	font-size: 8pt;
}

.BaseMsgFont {
	font-family: "Arial";
	font-size: 12pt;
}

.SmallMsgFont {
	font-family: "Arial";
	font-size: 10pt;
	color: #C4C4C4;
}

.DateFont {
	font-family: "Arial";
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
}

.TblBody {
	background: #000000;
}

.TblDate {
	color: #FFFFFF;
	background: #5E4925 url(http://con.xrgaming.net/gfx/header.jpg);
}

.TableDate {
	color: #FFFFFF;
	background: #5E4925 url(http://con.xrgaming.net/gfx/header.jpg);
}

.BaseHeading {
	font-family: "Arial";
	font-weight: bold;
	font-size: 12pt;
}

.LargeHeading {
	font-family: "Arial";
	font-weight: bold;
	font-size: 18pt;
}

.SmallHeading {
	font-family: "Arial";
	font-weight: bold;
	font-size: 10pt;
}

.MenuItem {
	font-family: "Arial";
	color: #FEE6BA;
	font-size: 8pt;
	text-decoration: none;
}

.MenuHeader {
	font-family: "Arial";
	color: #967C57;
	font-size: 10pt;
	font-weight : bold;
}

A.MenuItem {
  color: #FEE6BA;
  text-decoration : none;
}

A:visited.MenuItem {
  color: #FEE6BA;
  text-decoration : none;
}

A:hover.MenuItem {
  color: #FFFFFF;
  text-decoration : underline;
}

A.MenuHeader {
  color: #967C57;
  text-decoration : none;
}

A:visited.MenuHeader {
  color: #967C57;
  text-decoration : none;
}

A:hover.MenuHeader {
  color: #FFFFFF;
  text-decoration : none;
}

.LegalNotes {
  color: #BBBBBB;
  font-size : 8pt;
}

/* End Style Sheet commenting. */  -->