body,p,td,li {
	font-family: verdana;
	font-size: 12px;

}
.sm {
 	font-size: 9px;
}
.hr,#hr	 {
	background: #00428E;
	color: white;
}
#headerrow {
	background: #00428E;
	color: white;
}
#mh,.mh {
	background: #00428E;
	color: white;
	width:144;
	border: solid 1px black;
}

#welcome,.welcome {
	background: #00428E;
	color: white;
	text-align: center;
	align: center;
	border: solid 1px black;
	width: 200;}
.maintext {

}
a {
	text-decoration: none;
}
a:hover {
	color: navy;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}

.mli,#mli {
      list-style-image: url(icon.png);
}

#fs16,.fs16 {
	font-size: 16px;
}
.newshead {
 	background: #00428E;
	color: white;
	/*	background: #DEDEBB;  */
	margin: 3,3,3,3;
}	

.newsbot {
	background: #00428E; 
	color: white;
	border:1px solid black;
	margin: 3px; font-size:9px;
}
.subcat_links {
	font-weight:normal; font-face:Arial MT,Arial,Helvetica; font-size:11; text-decoration:none;
	}  
.g-head_links {
	font-color:white; font-face:Tahoma,Arial,Helvetica; font-size:12; text-decoration:none;
	}
.menu_links {
	font-weight:bold; font-face:Arial MT,Arial,Helvetica; font-size:10; text-decoration:none;
} 
.category_links {
	font-weight:bold; font-face:Arial MT,Arial,Helvetica; font-size:12; text-decoration:none;
} 


