body {
	scrollbar-face-color=#F4F2F8; 
	scrollbar-shadow-color=#F4F2F8; 
	scrollbar-highlight-color=#FFFFFF; 
	scrollbar-3dlight-color=#E8E3EF; 
	scrollbar-darkshadow-color=#DCD9E1; 
	scrollbar-track-color=#FDFCFE; 
	scrollbar-arrow-color=#CDC5D9;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #5F5F5F;
}

td {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #5F5F5F;
}

pre { 
	font-family: Geneva, Arial, Tahoma, Verdana, sans-serif; 		
	font-size: 11px;
	line-height: 12px;
	color: #4F4F4F;
}

b { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 		
	font-size: 11px;
	color: #807197;
}

i { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 		
	font-size: 11px;
}

li {
	color: #717171;
}

blockquote { 
	background: #F5F5F5;
}

a { 
	text-decoration: none;
	color: #807197;
}

a:hover {
	text-decoration: underline;
}

.date { 
	font-family: Geneva, Georgia, Tahoma, sans-serif; 
	font-size: 12px;
	color: #655480;
}

.sub { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 			
	font-size: 10px;
}

.spells { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 		
	font-size: 12px;
	font-weight: bold;
	color: #807197;
}