<style>
.mstheme
{
	separator-image: url(glohorsd.gif);
	list-image-1: url(globul1d.gif);
	list-image-2: url(globul2d.gif);
	list-image-3: url(globul3d.gif);

	nav-banner-image: url(globannd.gif);

	navbutton-horiz-normal: url(glohbudd.gif);
	navbutton-horiz-pushed: url(glohbusd.gif);

	navbutton-vert-normal: url(glovbudd.gif);
	navbutton-vert-pushed: url(glovbusd.gif);

	navbutton-home-normal: url(glohombd.gif);

	navbutton-next-normal: url(glonexbd.gif);

	navbutton-prev-normal: url(gloprebd.gif);

	navbutton-up-normal: url(gloupbd.gif);

}

.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(51,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}
</style>.
