BODY {
	SCROLLBAR-FACE-COLOR: #000000; FONT-SIZE: x-small; SCROLLBAR-HIGHLIGHT-COLOR: #000000; COLOR: #c0c070; SCROLLBAR-3DLIGHT-COLOR: #c0c070; SCROLLBAR-ARROW-COLOR: #c0c070; FONT-FAMILY: VERDANA; SCROLLBAR-DARKSHADOW-COLOR: #c0c070; SCROLLBAR-BASE-COLOR: #000000
}
A:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A:active {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline overline
}
.mainTable {
	FONT-SIZE: x-small
}
