/*
  The original XFiles Theme for phpBB version 2+
  Created by Scott Stubblefield
  http://www.realdealstubblefield.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body   {
	background-image: url(/img/stone.jpg); 
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color: #006699;
	scrollbar-darkshadow-color: #98AAB1;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-track-color: #EFEFEF;
}

/* General font families for common tags */
font,th,td,p  {
	color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
a:link,a:active,a:visited   {
	color: #D91401;
	text-decoration: none;
}
a:hover		 { color: #E8A500; text-decoration: none}
hr	 { border-style: solid; border-width: 1px 0px 0px 0px; border-color: #000000; height: 0px }

.forumline	  {
	background-color: #860000;
	border: solid 1px #000000;
}

/* Main table cell colours and backgrounds */
td.row1	  {
	background-color: #480100;
}
td.row2	   {
	background-color: #480100;
	border: none;
}
td.row3	  {
	background-color: #480100;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic  {
	background-image: url(images/cellpic2.jpg);
	background-repeat: repeat-y;
	background-color: #000000;
}

/* Header cells - the blue and silver gradient backgrounds */
th	  { color: #CCCCCC; font-weight: bold; font-size: 12px; background: #FFFFFF url(images/cellpic3.gif); height: 25px }

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom  { background: #860000url(images/cellpic1.gif);
	height: 26px;
	background-color: 860000;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR  { font-weight: bold; height: 28px }
td.row3Right,td.spaceRow   {
	background-color: #480100;
}

th.thHead,td.catHead  { font-size: 12px }
th.thSides,td.catSides,td.spaceRow	  { }
th.thRight,td.catRight,td.row3Right	  { }
th.thLeft,td.catLeft	   { }
th.thBottom,td.catBottom   { }
th.thTop	  { }
th.thCornerL  { }
th.thCornerR  { }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	 { color: #E8A500; font-weight: bold; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-decoration: none }


/* General text */
.gen {
	font-size : 13px;
	text-decoration: none;
}
.genmed {
	font-size : 12px;
	text-decoration: none;
}
.gensmall {
	font-size : 11px;
	text-decoration: none;
}
.gen,.genmed,.gensmall  {
	color: #CCCCCC;
	text-decoration: none;
}
a.gen,a.genmed,a.gensmall   { color: #D91401; text-decoration: none }
a.gen:hover,a.genmed:hover,a.gensmall:hover	  { color: #E8A500; text-decoration: none}


/* The register, login, search etc links at the top of the page */
.mainmenu		  {
	color: #CCCCCC;
	font-size: 10px;
	font-weight: bold;
}
a.mainmenu		  {
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}
a.mainmenu:visited  {
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}
a.mainmenu:hover  {
	color: #E8A500;
	text-decoration: none;
	font-weight: bold;
}


/* Forum category titles */
.cattitle		  {
	color: #CCCCCC;
	font-weight: bold;
	font-size: 12px;

}
a.cattitle		  { color: #CCCCCC; text-decoration: none }
a.cattitle:hover  {
	color: #E8A500;
	text-decoration: none;
}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		  { color: #CCCCCC; font-weight: bold; font-size: 12px }
a.forumlink 	  { color: #E8A500; text-decoration: none }
a.forumlink:hover  { color: #CCCCCC; text-decoration: none}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			  { color: #CCCCCC; font-weight: bold; font-size: 11px }
a.nav			  { color: #CC0000; text-decoration: none }
a.nav:visited  { color: #B40C0C; text-decoration: none }
a.nav:hover		  { color: #E8A500; text-decoration: none}


/* titles for the topics: could specify viewed link colour too */
.topictitle			  { color: #CCCCCC; font-weight: bold; font-size: 11px }
a.topictitle:link     { color: #E8A500; text-decoration: none }
a.topictitle:visited   { color: #A54425; text-decoration: none }
a.topictitle:hover	  { color: #FFFFFF; text-decoration: none}


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			 {
	color: #E8A500;
	font-size: 12px;
	font-weight: bold;
}

/* Location, number of posts, post date etc */
.postdetails		 { color: #FFFFFF; font-size: 11px}


/* The content of the posts (body of text) */
.postbody { font-size : 14px;}
a.postlink:link	  { color: #E8A500; text-decoration: none }
a.postlink:visited   { color: #E8A500; text-decoration: none }
a.postlink:hover   { color: #FFCC00; text-decoration: none}


/* Quote & Code blocks */
.code   {
	color: #000000;
	font-size: 14px;
	font-family: Courier, "Courier New", sans-serif;
	background-color: #CCCCCC;
	border: solid 1px #ffffff;
	line-height: 120%;
}

.quote   {
	color: #FFFFFF;
	font-style: italic;
	font-size: 13px;
	line-height: 125%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #cccccc;
	background-color: #000000;
}


/* Copyright and bottom info */
.copyright		 { color: #CCCCCC; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
a.copyright		 {
	text-decoration: none;
	color: #CCCCCC;
}
a.copyright:hover  { color: #E8A500; text-decoration: none}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 13px Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select  { background-color: #CFC7CA}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button  { color: #000000; font-size: 11px; font-family: Arial, Helvetica, sans-serif; background-color: #CCCCCC}

/* The main submit button option */
input.mainoption  { font-weight: bold; background-color: #8E8E8E}

/* None-bold submit button */
input.liteoption  { font-weight: normal; background-color: #8E8E8E}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline  { background-color: #480100; border: none }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
