/* By default (td, body..) use verdana in black */
body, td, th, tr {
	font-family: verdana, sans-serif;
}

body {
	background-image: url("/images/background.jpg");
	background-color: #EFE;
	margin:  0 42px;
	padding: 0 5px;
	text-align: center;
}

p.search {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	min-width: 200px;
}

.forumlink {
	font-weight: bold;
	font-size: larger;
	margin-top: 30px;
	margin-bottom: 50px;
}

.logo {
	margin: 5px 0 0 0;
}

.logo IMG {
	border: none;
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 40%;
}

.tagline {
	font-size: smaller;
	font-weight: bold;
	font-style: italic;
	color: #480100;
}
