BODY {
	background-image: url("stainbg.gif");
	background-color: #111;
        color: #FFF;
        margin: 50px 0px;
        padding: 0px;
        text-align: center;
}

#Content {
        width: 650px;
        margin: 10px auto;
        text-align: left;
        padding: 15px;
        border: 3px double #940;
	background-color: #555;
	background-image: url("parchment2.gif");
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
}

#Menu2 {
        float: right;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 10px;
        text-align: right;
        text-decoration: none;
}       

#Title {
        width: 650px;
        margin: 10px auto;
        text-align: left;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 24px;
}

EM#Head {
        text-decoration: overline underline;
	font-size: 14px;
	font-style: normal;
}

#Menu {
        width: 550px;
        margin: 10px auto;
        text-align: right;
        padding: 0px 0px 10px;
        background-color: #111;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 10px;
}

#Footer {
        width: 500px;
        margin: 10px auto;
        text-align: left;
        padding: 15px;
        border: 1px double #940;
        color: #DDD;
	background-image: url("parchment2.gif");
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 9px;
}

A:link {
        text-decoration: none;
        color: #FF0;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
}

A:visited {
        text-decoration: none;
        color: #FEA;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
}       

A:hover {
        text-decoration: overline underline;
        color: #F44;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
}

TD {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 11px;
}

