a {
  text-decoration: none;
}

a:hover {
  color: #FFCC33;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
}

.rbtop {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #1C3800;
; font-weight: bold
}

.rbtoptext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #1C3800;
}

.status1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #1C3800
}

.status2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #6E7866
}

.titre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #F7FFC1
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #F7FFC1
}

.text {  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #F7FFC1
}

TD{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#F7FFC1
}

td.slct {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
}

select {font-family:arial,helvetica; font-size:10px;}

input {font-family: arial,helvetica; font-size:10px;}
H1{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F7FFC1}.text0 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFCC00}

.navactive {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #6C9290}
