BODY{
 color : #fac832;
 background-color : black;
 font-family : Arial;
 margin-top : 0px;
 margin-left : 0px;
 margin-bottom : 0px;
 margin-right : 0px;
}
DIV{
 color : #fac832;
 font-family : Arial;
}
A{
 text-decoration : none;
}
A:LINK{
 color : lime;
}
A:VISITED{
 color : #ff8000;
}
A:ACTIVE{
 color : white;
}
A:HOVER{
 color : #ffff80;
 text-decoration : underline;
}
HR{
 color : #8080ff;
}
UL{
 margin-top : 0px;
 margin-left : 25px;
 margin-bottom : 0px;
}
OL{
 margin-top : 0px;
 margin-left : 25px;
 margin-bottom : 0px;
}
DL{
 margin-top : 0px;
 margin-left : 25px;
 margin-bottom : 1px;
}
H1{
 font-size : 175%;
 font-family : "Times New Roman";
 font-weight : lighter;
 background-color : navy;
 background-image : url(wallpaper_line_blue.gif);
 border-width : 3px 3px 3px 3px;
 border-bottom-style : double;
 border-color : #8080ff #8080ff #8080ff #8080ff;
 padding : 0px 10px 2px 10px;
 margin-top : 0px;
 margin-bottom : 0px;
 border-top-style : double;
 margin-left : auto;
 margin-right : auto;
 color : aqua;
}
H2{
 font-size : 175%;
 font-weight : lighter;
 margin-top : 0px;
 margin-bottom : 0px;
}
H3{
 font-size : 150%;
 font-weight : lighter;
 margin-top : 0px;
 margin-bottom : 0px;
}
H5{
 font-size : 75%;
 font-weight : lighter;
 margin-top : 0px;
 margin-bottom : 0px;
}
H6{
 font-size : 50%;
 font-weight : lighter;
 margin-top : 0px;
 margin-bottom : 0px;
}