A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: #cc6600; 
}
A:visited { 
  color: #666699;
}
A:active {
  color: #333366;
}
A:HOVER { 
  color: ; 
  background-color: ;
}
.onbody{
  color: ; 
}
.onbody A:LINK {
  color: ;
}
.onbody A:VISITED {
  color: ;
}
.onbody A:ACTIVE {
  color: ;
}
BODY,P,TABLE,TD,TR {   
  font-size: 9pt;
  font-family: Verdana, Helvetica, sans-serif;
  color: #000000;
}
FORM {
  display: inline;
}
BODY {
  background: #FFFFFF;
}
PRE {
  font-size: ;
  font-family: ;
}
.tablesurround {
  background: #8888AA;
}
.tableborders {
  background: #666699;
}
.tdheader {
  font-size: ;
  font-weight: ;
  color: #000000;
  background: #DEDFDF;
  font-family: Verdana, Helvetica, sans-serif;
}
.menubar{
  background: #DEDFDF;
  color: #000000;
}
.navigation{
  background: #BCBDBD;
  color: #000000;
  font-size: ;
  font-family: Verdana, Helvetica, sans-serif;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: ;
  color:     ;
}
.catandforum {
  font-size: ;
}
.posttime {
  font-size: ;
  font-style: ;
  text-align: ;
  background: #F7F7F7;
}
.threadtotal {
  font-size: ;
  background: #F7F7F7;
}
.posttotal {
  font-size: ;
  background: #F7F7F7;
  color: ;
}
.modcolumn {
  font-size: 9pt;
  background: #F7F7F7;
  color: ;
}
.small {
  font-size: 8pt;
  font-family: Verdana, Helvetica, sans-serif;
}
.standouttext {
  color: red;
}
.pollcolor {
  background: red;
}
.welcome {
  background: #BCBDBD;
  font-family: Verdana, Helvetica, sans-serif;
  color: #000000;
}
.forumtitle {
}
.forumdescript {
  font-size: ;
}
.lighttable {
  background: #f7f7f7;
  color: #000000;
}
.darktable {
  background: #E6E6E6;
  color: #000000;
}
.cleartable {
  background: #F7F7F7;
}
.alternatetable {
  background: #666699;
}
.subjecttable {
  background: #DEDFDF;
  color: #000000;
}
.footertable {
  background: #FFFFFF;
}                          
.formboxes{
  font-family: ;
  background-color: ;
  color: ;
  font-size: 9pt;
}
.buttons {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DEDFDF;
  color: #000000;
  font-size: 9pt;
}
    

    

    
    
