<style type="text/css">

     font.title {font-size: 16pt; color : #bbbbbb; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     h1.purple {font-size: 8pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.red {font-size: 8pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.pink {font-size: 8pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.orange {font-size: 8pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.yellow {font-size: 8pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.gray {font-size: 8pt; color : #aaaaaa; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.white {font-size: 8pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.green {font-size: 8pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.lblue {font-size: 8pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     h1.blue {font-size: 8pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.purple_8 {font-size: 8pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.red_8 {font-size: 8pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.pink_8 {font-size: 8pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.orange_8 {font-size: 8pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.yellow_8 {font-size: 8pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.gray_8 {font-size: 8pt; color : #aaaaaa; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_8 {font-size: 8pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.green_8 {font-size: 8pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.lblue_8 {font-size: 8pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.blue_8 {font-size: 8pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.purple_10 {font-size: 10pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.red_10 {font-size: 10pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.pink_10 {font-size: 10pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.orange_10 {font-size: 10pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.yellow_10 {font-size: 10pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.gray_10 {font-size: 10pt; color : #C9BFA0; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_10 {font-size: 10pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.green_10 {font-size: 10pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.lblue_10 {font-size: 10pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.blue_10 {font-size: 10pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.purple_12 {font-size: 12pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.red_12 {font-size: 12pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.pink_12 {font-size: 12pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.orange_12 {font-size: 12pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.yellow_12 {font-size: 12pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.gray_12 {font-size: 12pt; color : #aaaaaa; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_12 {font-size: 12pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.green_12 {font-size: 12pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.lblue_12 {font-size: 12pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.blue_12 {font-size: 12pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.purple_14 {font-size: 14pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.red_14 {font-size: 14pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.pink_14 {font-size: 14pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.orange_14 {font-size: 14pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.yellow_14 {font-size: 14pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.gray_14 {font-size: 14pt; color : #aaaaaa; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_14 {font-size: 14pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.green_14 {font-size: 14pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.lblue_14 {font-size: 14pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.blue_14 {font-size: 14pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.purple_16 {font-size: 16pt; color : #cc66ff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.red_16 {font-size: 16pt; color : #ff0000; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.pink_16 {font-size: 16pt; color : #ff0084; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.orange_16 {font-size: 16pt; color : #ff9900; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.yellow_16 {font-size: 16pt; color : #ffff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.gray_16 {font-size: 16pt; color : #aaaaaa; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_16 {font-size: 16pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.green_16 {font-size: 16pt; color : #00ff00; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.lblue_16 {font-size: 16pt; color : #00ffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.blue_16 {font-size: 16pt; color : #0094bd; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     font.white_18 {font-size: 18pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_20 {font-size: 20pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_22 {font-size: 22pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_24 {font-size: 24pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_26 {font-size: 26pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_28 {font-size: 28pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_30 {font-size: 30pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_32 {font-size: 32pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
     font.white_34 {font-size: 34pt; color : #ffffff; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

     A:link, A:visited, A:active {font-size: 10pt; color : #C9BFA0; font-family: Arial, Helvetica, sans-serif; text-decoration: none }

    .TA {scrollbar-3dlight-color:#ffffff;
           scrollbar-arrow-color:#ffffff;
           scrollbar-base-color:#ffffff;
           scrollbar-darkshadow-color:#ffffff;
           scrollbar-face-color:#000000;
           scrollbar-highlight-color:#aaaaaa;
           scrollbar-shadow-color:#aaaaaa;}

     BODY {background-attachment: fixed;}

</style>

