body
{
	font-size: 8pt;
	margin: 0px;
	color: white;
	font-family: Verdana;
	background-color: black;
}
.navtext
{
	color:Yellow; 
	BORDER-RIGHT: darkgray 2px outset;
	BORDER-TOP: darkgray 2px outset;
	FONT-SIZE: 8pt;
	BORDER-LEFT: darkgray 2px outset; 
	WIDTH: 150px;
	BORDER-BOTTOM: darkgray 2px outset; 
	BACKGROUND-COLOR:navy; 
	layer-background-color: navy;
}
h1
{
	color: #336699;
	font-size: 28px;
	font-family: Serif, Verdana;
}
h2
{
	font-size: 18px;
	color: #fff;
	font-family: Serif, Verdana;
}
h3
{
	
	font-size: 14px;
	color: #336699;
	font-family: Serif, Verdana;
}
A:link
{
	color: #ffcc33;
}

A:visited
{
	color: #ffcc33;
}

#header
{
	width: 800px;
	text-align: left;
	margin:0px;
	border:0;
	
}
#leftSide
{
	float:left;
	position:relative;
	margin:0px;
	padding: 0;
	border:0;
	position:relative;
	margin-top:0px;	
	width:200px;
}
#imgDragon
{
	position:absolute;
	left:153px;
}
#imgLeft
{
	position:absolute;
}
#leftSide
{
	width: 200px;
	float:left;
	background-image: url(images/left.jpg);
	background-repeat: no-repeat;
	height: 400px;
	text-align:left;
	clear: right;
}
#nav
{
	position:absolute;
	left:130px;
	top:94px;
	background-color: #336699;
	text-align: right;
	margin-left:100px;
}
#nav ul
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
	display:inline;

}
#nav li
{
	border-right: black 1px inset;
	padding-right: 10px;
	border-top: black 2px;
	display: inline;
	padding-left: 10px;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 0px;
	border-left: black 2px;
	color: #ffffff;
	padding-top: 3px;
	border-bottom: black 2px;
	font-family: Veranda;
	background-color: transparent;
}
#nav a:link, #nav a:visited, #nav a:active
{
	color: #FFFFFF;
	text-decoration:none;
}
#content
{
	text-align: left;
	margin-top: 75px;
	border: 1em auto;

}
#content p
{
	margin-left: 200px;
}
#content ul, #content ol
{
	margin-left: 235px;	
}

.newsHeader
{
	font-weight: bold;
	color: #fff;
	line-height: 18px;
	font-family: Verdana;
	background-color: #336699;
}
.signupHeader
{
	font-weight: bold;
	vertical-align: middle;
	color: #fff;
	font-family: Verdana;
	text-align: left;
}
#signupTable
{
	border-right: #336699 1px solid;
	border-top: #336699 1px solid;
	border-left: #336699 1px solid;
	border-bottom: #336699 1px solid;
}
#featureList
{

	margin-right:25px;
	width: 500px;

}
#ulFeatureLeft
{
	margin-top: 25px;
}
#ulFeatureLeft li
{

	margin-left: 75px;
	font-size: 10px;
	margin-bottom: 5px;
	width: 200px;
}
.toolList
{
	position:relative;
	top:-400px;
}
#ulFeatureRight
{
	margin-top: 25px;

}
#ulFeatureRight li
{
	width: 150px;
	font-size: 10px;
	margin-bottom: 5px;
}
.newsItems
{
	padding-right: 100px;
}
#featurePage
{
	padding-right: 25px;
	padding-bottom: 75px;
}
#featurePage h2, #featurePage h3
{
	margin-left: 200px;
}
#topTitle
{
	padding-left:250px;
}
#domainFAQ td
{
	padding-bottom: 20px;
	border-bottom: darkgray 1px solid;
}
