
		
		#purr-container {
			position: fixed;
			bottom: 0;
			right: 0;
			z-index:2147483647;
		}
		
		.notice {
			position: relative;
			width: 324px;
		}
		.notice .close	{position: absolute; top: 10px; right: 10px; display: block; width: 9px; height: 9px; text-indent: -9999px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABwSURBVBhXdY+hEQUhEEO3QfqgGCqgATwejcUikTg6uHtMGL75F5XdN8mCPd8ykPfezHLO+N47Hq21Nosxaq61yrBhv9mNClBD6MfmnAKotabAyd1a4THGYSklrXhICEF+N91jpRQ8l5xzMMbT+feTLxIJmEqZD7LgAAAAAElFTkSuQmCC) no-repeat;}
		
		.notice-body {
			font-family: Arial;
			/*margin-bottom:1px;
			margin-right:1px;*/
			min-height: 25px;
			padding: 5px 5px 5px 20px;
			background:#F9F9Cc;
			/*xbackground: url(./purr-example/purrTop.png) no-repeat left top;*/
			color: #000;
			border:1px solid #ccc;
			/*-moz-box-shadow: 5px 5px 2px #888;
			-webkit-box-shadow: 5px 5px 2px #888;
			box-shadow: 5px 5px 2px #888;*/
			
		}
				.notice-body p		{margin: 5px 30px 0 0; font-size: 13px; line-height: 1.4em;}
		
			.notice-body a:link {
			color:blue;
			}
			
			
			
		.notice-bottom {
			height: 22px;
			background: url(./purr-example/purrBottom.png) no-repeat left top;
		}
