body  { scrollbar-face-color: #dbccc9;
	scrollbar-shadow-color: #3b291f;
	scrollbar-highlight-color: #dbccc9;
	scrollbar-3dlight-color: #dbccc9;
	scrollbar-darkshadow-color: #3b291f;
	scrollbar-track-color: #dbccc9;
	scrollbar-arrow-color: #3b291f;

        font-family: verdana;
        font-size: 10px;
	font-style: normal;
	background-color: #DBCCC9;
        text-align: justify

	}



.title {letter-spacing: 0.1cm}

A:link {color: 3B291F; font-weight: bold; text-decoration: none} 
A:visited {text-decoration:line-through; color: 3B291F; font-weight: bold}
A:hover {text-decoration: none; color: #000000; font-weight: bold}



input, textarea, select, {font-size: 10px; font-family: tahoma; background:fixed; color:#846965; border:1; border-color:#3b291F; border-style:solid;