TD,BODY { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

A { color: #1C6ACB; text-decoration: underline; }
A.bookmark { color: #FFFFFF; font-weight: bold; font-size: 11px; }
A:hover { color: #FF9900; text-decoration: underline; }
A.category { color: #1C6ACB; font-weight: bold; font-size: 11px; text-decoration: underline; }
A.wheader:link { font-size:12px; font-weight: bold; color: #FFFFFF; text-decoration:underline; }
A.wheader:hover { font-size:12px; font-weight: bold; color: #FF9900; text-decoration:underline; }

li { font-family: Verdana, Arial, sans-serif; font-size: 13px; color: #000000; }

.head { color: #FFFFFF; font-size: 14px; font-weight: bold;  padding-bottom: 3px;  vertical-align: bottom;  }

.headlines{color:yellow; font-weight:bold; font-size:10px;}
.slogan{color:#1C6ACB; font-size:11px;font-weight:bold;}
.search{color:black; font-size:11px;font-weight:bold;}

.ttc{ font-size: 13px; color: #333333; font-weight: bold; }
.wheader{font-size:12px; font-weight:bold; color:white;}
.wtext{font-size:12px; color:white;}

.sheader{font-size:11px; color:white}
.linklist{line-height:18px;}
.h2{font-size:14px; font-weight:bold;}
.whiteh2 { color: #FFFFFF; font-size: 14px; font-weight: bold;}
.linkheader{color:red;font-weight:bold;font-size:11px;text-decoration:none;}

.textfield { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF; padding: 0px; border: 1px solid #333333; }
.submit { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: Black; background-color: #FF9900; padding: 0px; border: 1px solid #333333; }
