.covhunt {
	color : Teal;
	font-weight : bold;
	text-decoration : none;
}

.language {
	color : Purple;
	font-weight : bold;
	text-decoration : none;
}

.kael {
	color : Olive;
	font-weight : bold;
	text-decoration : none;
}


A:HOVER {
	color : Red;
}
H2 {
	text-align : center;
}
TD.data {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
BODY {
	background-color : White;
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
}
H1 {
	text-align : center;
}
.ezboard {
	background-color : #e5e5c3;
	color : #330000;
}
