P,TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	color : #ffffff;
}

P.date {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
}

P.sig {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	font-style : italic;
	color : #ffffff;
}

P.location {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
}

A:link,A:visited,A:hover,A:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	color : #ffffff;
	text-decoration: underline;
}

.bold { 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
 }
 
 .italics {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style : italic;
	color : #ffff00;
}