<style>
.mstheme
{
	top-bar-button: url(kdgbl.gif);
	version: 1.0;
	navbutton-background-color:  rgb(255,255,102);
}
.mstheme-topbar-font
{
	font-family: Century Schoolbook, Times New Roman, Times;
	color: rgb(255,255,102);
}
body
{
	font-family: Century Schoolbook, Times New Roman, Times;
	background-image: url(kdbkgnd.gif); 
}

h1
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h2
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h3
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h4
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h5
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h6
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
</style>.
