A
{
	color : #ff3366;
	font : 12px ARIAL;
	text-decoration : none;
}

A :hover
{
	color : #ff3366;
	font :  12px ARIAL;
	text-decoration : underline;
}

BODY
{
	color : #ff0000;
	font : 12px Verdana, sans-serif;
}
	

.normal
{
	color : #ffffff;
	font-family: ARIAL;
	font-size: 12px;	
	font-style : normal;
	font-weight : normal;
}

.smallformtext
{
	color : #2e4460;
	font-family: HELV;
	font-size: 11px;
	font-style : normal;
	font-weight : normal;
}

.formtext
{
	color : #2e4460;
	font-family: ARIAL;
	font-size: 12px;
	font-style : normal;
	font-weight : normal;
}

.formtext:hover
{
	color : #ff0000;
	font-family: ARIAL;
	font-size: 12px;
	font-style : normal;
	text-decoration : underline;	
}

.nsformtext
{
	color : #ff0000;
	font-family: ARIAL Narrow;
	font-size: 12px;
	font-style : normal;
	font-weight : normal;
	margin-left : 5px;
	margin-right : 5px;

}

.small
{
	color : #ffffff;
	font-family: HELV;
	font-size: 11px;
	font-style : normal
}

.small_center
{
	color : #ffffff;
	font-family: HELV;
	font-size: 11px;
	font-style : normal;
	text-align: center;
}


.header1
{
	color : #ffffff;
	font-family: Times;
	font-size: 22px;	
	font-style : italic;
	font-weight : normal;
}


.header2
{
	color : #ffffff;
	font-family: ARIAL;
	font-size: 12px;
	font-style : italic
}


.menu
{
	color : #FFFFFF;
	font : 12px ARIAL;
	text-decoration : none;
}

.menu :hover
{
	color : #FF0000;
	font : 12px ARIAL;
	text-decoration : underline;
	font-weight : normal
}

.menulink
{
	color : #ffff99;
	font : 12px ARIAL;
	text-decoration : none;
}

.menulink :hover
{
	color : #ff3366;
	font : 12px ARIAL;
	text-decoration : underline;
	font-weight : normal
}

.menulink2
{
	color : #330099;
	font : 12px ARIAL;
	text-decoration : none;
}

.menulink2 :hover
{
	color : #ff3366;
	font : 12px ARIAL;
	text-decoration : underline;
	font-weight : normal
}


