
 p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}  
 td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top}   
 pre { font-family: "Courier New", Courier, mono; font-size: 10pt}   
 caption { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt}  
 .subhead2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt}   
 h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt font-weight: light }   
 code { font-family: "Courier New", Courier, mono; font-size: 10pt}   
 th { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt ; font-weight: bold}   
 sup { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}   
 .bodyItalic { font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-size: 10pt}   
 h1 { font: bold normal 24pt Verdana, Arial, Helvetica, sans-serif}   
 h3 { font: bold normal 14pt Verdana, Arial, Helvetica, sans-serif}   
 h4 { font: bold normal 11pt Verdana, Arial, Helvetica, sans-serif}   
 li { font: 10pt Verdana, Arial, Helvetica, sans-serif}   
 ul { font: 10pt Verdana, Arial, Helvetica, sans-serif}   
 .buttons { font: bold normal 9pt Verdana, Arial, Helvetica, sans-serif}   
 h5 { font: bold normal 10pt Verdana, Arial, Helvetica, sans-serif}   
 h6 { font: bold normal 9pt Verdana, Arial, Helvetica, sans-serif}   
 body { background-color:#000000 }   
 a:link {color:#0000ff}   
 a:visited {color: #004080}   
 a:active {color:#808080}   
 a:hover {color:#808080; text-decoration: none}  
 
