<STYLE TYPE="text/css">
<!--
body 
{
background-image:
url("images/main_bg02.gif")
}

a { 
    color:A0410D;
    text-decoration:none;
}
 a:hover {
    color:black;
    text-decoration:underline;
}

FONT {
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : smaller;
}

H1 {
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : larger;
}

//-->

</STYLE>
