BODY
{
	background-color : #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
}

A:visited {color: navy;}
A:link {color: navy;}
A:hover {color: red;}
A:active {color: navy;}
A { text-decoration : none;}


.alert
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : RED;
}

.pageCount
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.losDefault
{
	font-family : Arial, Helvetica, sans-serif;
	background-color : #666666;
	color : white;
}

.losDarkShade
{
	background-color : #f0f0f0;
	color : black;
}

.losLightShade
{
	background-color : white;
	color : black;
}

.losDefaultDivider
{
	background-color : #888888;
}

TD
{
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
}


.topbar
{
	background-color : black;
	font-size : 18px;
	color : white;
}

.midbar
{
	background-color : #aaaaaa;
	font-size : 15px;
	color : white;
}


.menu
{
	background-color : #cccccc;
	font-size : 11px;
	color : black;
	font-weight : bold;
}
A.menu:visited {color: #000000;}
A.menu:link {color: #000000;}
A.menu:hover {color: #000000;}
A.menu:active {color: #000000;}

.menuSelected
{
	background-color : #666666;
	font-size : 11px;
	color : WHITE;
	font-weight : bold;
}
A.menuSelected:visited {color: WHITE;}
A.menuSelected:link {color: WHITE;}
A.menuSelected:hover {color: WHITE;}
A.menuSelected:active {color: WHITE;}


.menugray
{
	background-color : #CCCCCC;
	color : #000000;

}

.submenu
{
	background-color : #aaaaaa;
	font-size : 11px;
	color : navy;
	font-weight : bold;
}
A.submenu:visited {color: navy;}
A.submenu:link {color: navy;}
A.submenu:hover {color: navy;}
A.submenu:active {color: navy;}
A { text-decoration : none;}

.submenuSelected
{
	background-color : #f0f0f0;
	font-size : 11px;
	color : black;
	font-weight : bold;
}
A.submenuSelected:visited {color: black;}
A.submenuSelected:link {color: black;}
A.submenuSelected:hover {color: black;}
A.submenuSelected:active {color: black;}

.loswhite
{
	color: white;
}


.header
{
	font-size : 15px;
}

input
{
	font-size : 12px;
}