@charset "utf-8";
/* CSS Document */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */{
  border:0;
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,button, input, select, textarea {
  font: 16px/150% Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em{font-style:normal;}
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#333;}
a:hover { text-decoration: none; color:#0067A2; }
/** 重置图片元素 **/
img{ border:0px;}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/*清除浮动*/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clear{ clear:both;}/*清除浮动*/
body {
    font: 12px/150% "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    color: #666;
}
time { color: #777;}

/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block;}

/*文字排版
******************************/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f20 { font-size:20px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.noborder { border-style:none!important; border-width: 0!important ;}

/*定位
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; }
.fr { float:right;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: *css;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*.hidden { visibility:hidden;}*/
.none { display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height:0; }
.clearfix {
	ZOOM: 1
}

