body { 
margin-bottom: 0px; 
font-family: Arial; 
font-size: 11px 
}

a:link {  
color: #0000FF; 
text-decoration: none; 
font-family: Arial, sans-serif;
}

a:hover {  
color: #0000FF; 
text-decoration: underline; 
}

td, textarea, input, select {  
font-family: Arial, sans-serif; 
font-size: 11px
}

.sectionHead { 
font-size: 16px;	
line-height: 20px; 
font-weight: bold; 
color: #000000;
}

.tableDetail { 
background-color: #CCCCCC;
}

.tableHeading {
	color:#FFFFFF;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: bold;
	background-color: #424973;
	margin-left: 0px;
	line-height: 25px;
	width: 625px;

} 

.body2 {
	margin-bottom: 25px;
	margin-left: 30px;
	margin-right: 100px;
	margin-top: -5px;
	line-height: 150%;
	font-family: Arial, sans-serif;
	font-size: 11px;
	width: 550px;
	text-align: justify;


}

.leftHeading { 
color:#FFFFFF; 
font-family: Arial, sans-serif;
font-weight: bold;
text-decoration: bold; 
text-align: center;
background-color: #424973;
margin-left: 0px;
margin-bottom: -7px; 
line-height: 30px;
} 

.leftBody { 
margin-bottom: 0px; 
margin-left: 17px;
margin-right: 17px;
text-align: left;
line-height: 120%;
margin-top: 19px;
font-family: Arial, sans-serif; 
font-size: 10px; 
}
