  @font-face {
    font-family: Krylon;
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/KRYLON0.eot);
  }
  @font-face {
    font-family: Littlebits;
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/LITTLEB0.eot);
  }
  @font-face {
    font-family: "Lucida Handwriting";
    font-style:  normal;
    font-weight: normal;
    src: url(/style/fonts/LUCIDAH0.eot);
  }
H1
{
	text-align: center;
}
H2
{
	font-style: italic;
	text-align: center;
}
H3
{
	text-align:center;
}
P
{
	font: 12pt "times new roman";
}
A:link
{
	color:green;
	text-decoration : underline;
}
A:active
{
	color:orange;
	text-decoration : none;
}
A:hover
{
	color:red;
	text-decoration : none;
}
A:visited
{
	color:darkgreen;
	text-decoration : underline;
}
.tinytech
{
font-size: 8pt;
text-decoration: none;
}

.sectionheader
{
font: 14pt Ariel;
font-weight: bold;
text-align: left;
color: #008000
}

.charheader
{
font: 11pt/20px Tahoma;
font-weight: bold;
text-align: right;
color: white
}

.chardata
{
font: 11pt/20px Tahoma;
font-weight: bold;
text-align: left;
color: #008000
}

.charnodata
{
font: 11pt/20px Tahoma;
font-weight: bold;
color: #A0A0A0
}

.startletter
{
font-size: 36pt;
font-family: Krylon;
}

.menu
{
	font-size: 12pt;
	font-family: "Lucida Handwriting";
}