body
{
	font-size: 8pt;
	color: white;
	font-family: Verdana;
	background-color: black;
}
/**td
{
	font-size:8pt;
	color:White;
	font-family: Verdana;
	background-color:Black;
}**/
.navtext { BORDER-RIGHT: darkgray 2px outset; BORDER-TOP: darkgray 2px outset; FONT-SIZE: 8pt; BORDER-LEFT: darkgray 2px outset; WIDTH: 150px; COLOR: white; BORDER-BOTTOM: darkgray 2px outset; BACKGROUND-COLOR: navy; layer-background-color: navy }

A:link
{
	color: #ffcc33;
}

A:visited
{
	color: #ffcc33;
}
