A:link { COLOR: #000000; TEXT-DECORATION: none }
A:active { COLOR: #333366; TEXT-DECORATION: none }
A:visited { COLOR: #000000; TEXT-DECORATION: none }
A:hover { COLOR: #1679AA; TEXT-DECORATION: none }

BODY {SCROLLBAR-FACE-COLOR: #ACA8CD; 
      SCROLLBAR-HIGHLIGHT-COLOR: #D6D6E8; 
      SCROLLBAR-SHADOW-COLOR: #171722; 
      SCROLLBAR-3DLIGHT-COLOR: #D6D6E8; 
      SCROLLBAR-ARROW-COLOR: #171722; 
      SCROLLBAR-TRACK-COLOR: #171722; 
      SCROLLBAR-DARKSHADOW-COLOR: #000000;
      color:#FFFFFF;
      background: url(../images/elysee_background_top.gif);
      background-color:#000000;
      FONT-SIZE: 10pt; 
      FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }

tr.titre { background-color:#cdceed }

td.Ctitre { 
    color:#ffffff;
    text-align:center;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    background: url(../images/bandeau.jpg) }

td.Ltitre { 
    color:#ffffff;
    text-align:left;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    background: url(../images/bandeau.jpg) }

td.Rtitre { 
    color:#ffffff;
    text-align:right;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    background: url(../images/bandeau.jpg) }

tr.ligne { background-color:#C6C7FD }
           
td.Ccase { color:#000000; 
    	   text-align:center;
    	   FONT-SIZE: 10pt; 
    	   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
         
td.Lcase {color:#000000; 
          text-align:left;
          FONT-SIZE: 10pt; 
    	  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
		  
td.Rcase {color:#000000; 
          text-align:right;
          FONT-SIZE: 10pt; 
    	  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }

tr {background-color:none; }

td {color:#ffffff;
    text-align:center;
    FONT-SIZE: 10pt; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }

spe {background: url(../images/bleu.jpg) }

text {	  color:#000000; 
          FONT-SIZE: 10pt; 
    	  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

input {
	background-color: #D6D6E8;
	font-family: Verdana, Helvetica, Arial;
	font-size: xx-small;
	color: #171722;
}