/* Amended 25/4/3 */
/* Added classes for calendar and roster - Steve - 27/04/03 */

A:link, A:visited, A:active  { 
	color : #000099;	text-decoration : none; 
}

.rostrowhd{
	font-family: arial, Helvetica, sans-serif;
	background-color: #FFFF99;
	font-size : x-small;
}

.rostrow{
	font-family: arial, Helvetica, sans-serif;
	font-size: xx-small;
	background-color: #FFFFCC;
}

body{
	background-color : #332361;
	text-align: left;
	font-family: arial, sans-serif;
	font-size: 11pt;	
}
}

.small{
	font-size: smaller;
}

.large{
	font-size: small;
	color: Blue;
	font-weight: bold;
}

.cntr{
text-align: center;
}

.smalllnks{
	text-align: center;;
	font-size: xx-small;
	color: Blue;
	font-weight: bolder;
	text-decoration: none;
}

.smalllnksleft{
	text-align: left;
	font-size: xx-small;
	color: Blue;
	font-weight: bolder;
	text-decoration: none;
}

.smalllnksbld{
	text-align: center;;
	font-size: xx-small;
	color: Blue;
	font-weight: 900;
	text-decoration: none;
}

.warning{
	color: Red;
	font-weight: bolder;
}

.tblallies{
	border : thin dashed Green;
	background-color: #FFFFCC;
}

.tblfoes{
		border : thin dashed Red;
		background-color: #FFFFCC;
}

.newsdte{
	font-size: xx-small;	
}


/* calendar table on events.php */
.caltable {
	border: solid #000000 2px;
	background-color : #FFFFCC;
}

/* the month and year header */
.calcaption {
	font-size: 12pt;
	color: purple;
	font-weight: bold;	
}

/* top row cells which hold day names */
.calth {
	border: solid #000000 1px;
	font-size: x-small;
	color: blue;
}

/* day cells */
.todaycaltd{
	border: solid Red 1px;
	height: 80px;
	width: 150px;
	text-align: left;
	vertical-align: top;
	font-size: small;
	color: Red;
	font-weight: bolder;
}



.caltd {
	border: solid #000000 1px;
	height: 80px;
	width: 150px;
	text-align: left;
	vertical-align: top;
	font-size: x-small;
}

/* day cells with events */
.event {
	color: Purple;
	font-size: xx-small;
}

.calcaps{
color: White;
}

h1 {	text-align: left;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #11023a;
	margin: 12px 10px 10px 12px;}

p {	text-align: left;
	font-family: arial, sans-serif;
	font-size: 11pt;
	margin: 12px 10px 10px 12px;}

.infobit {font-size: 8pt;
 text-align: center;}

div {	text-align: left;
	font-family: arial, sans-serif;
	font-size: 11pt;
	margin: 12px 10px 10px 12px;} 
	
.tblguild {
	border : thin dashed #332361;
	font-family: arial, sans-serif;
	font-size: 11pt;
}



h1 {	text-align: left;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #11023a;
	margin: 12px 10px 10px 12px;}

p,li,div {	text-align: left;
	font-family: arial, sans-serif;
	font-size: 10pt;
	color: #11023a;
	margin: 12px 10px 10px 12px;}

.infobit {font-size: 8pt;
 text-align: center;}
 
 h2 {	text-align: left;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #11023a;
	margin: 12px 10px 10px 12px;}		
	
.alliance { background-color: #ccf;
	padding: 3px 0px 3px 0px;
	margin: 12px 10px 10px 12px;}	
	
.paddedcell { padding: 10px 10px 10px 10px; }	
