A {text-decoration: none; color: #0C44C9;}
A:hover {text-decoration: underline;}
BLOCKQUOTE {color: #072876; font-family: arial}

.menu {font-family: tahoma, arial; color: #DFDFE2; font-size: 11px;}
.menu:hover {text-decoration: none; color: #030716;}
.menutitle {font-family: arial; font-size: 13px; color: #D8C488; font-weight: bold; font-style: italic;}
.copyright {color: #001448;}

.event {font-family: arial; color: tan; font-size: 10px;}
.feat {font-family: tahoma, arial; color: #DFDFE2; font-size: 11px;}
.feat:hover {text-decoration: none; color: #D8C488;}
.feattitle {font-family: arial; font-size: 14px; color: #D8C488; font-weight: bold; font-style: italic;}
.feattext {font-family: arial; font-size: 11px;}
.artemail {font-family: arial; font-size: 10px; color:#DFDFE2;}

.newsquote {font-size: smaller;}
.newstitle {font-family: verdana; font-weight: bold; color: #313855; font-size: 17px;}
.newsdate {font-family: verdana, arial; font-size: 15px; color: black; font-weight: bold;}
.comments {font-family: verdana; font-size: 11px; font-weight: bold; color: #A2782E;}
.commentbar {font-family: verdana; font-size: 11px; color: tan;} 
.newstext {font-family: verdana, tahoma; font-size: 12px; color: #000000;} 
.newsreporter {font-family: verdana; font-size: 11px; color: gray;} 
.emailcomments {font-family: verdana; font-size: 12px; font-weight: bold; color: #001448;}

.main {}
.tiny {font-size: smaller;}
.regtext {font-family: arial,verdana; color: black; font-size: 12px;}
.lite {font-weight: bold; color: navy;}
.copyright {font-family: arial; color: 000000; font-size: 10px; text-align: center;}
.pagetitle {font-family: verdana, tahoma; color: #072876; font-size: 28px; font-weight: bold;}
.pagetitlelink {font-family: verdana, tahoma; color: #272F56; font-size: 15px; font-weight: bold;}
.pagesub {font-family: verdana; color: black; font-size: 25px;}
.upperbar {font-family: verdana; color: #001448; font-size: 11px;}
.emailit {font-family: verdana; color: #4A5491; font-size: 10px; font-weight: bold;}
.credit {font-family: verdana; color: black; font-size: 10px; font-weight: bold;}
.credit2 {font-family: verdana; color: #4A5491; font-size: 10px; font-weight: bold;}
.loretext {font-family: arial; color: black; font-size: 12px;}
.pgsub {font-family: verdana, tahoma; color: black; font-size: 15px; font-weight: bold;}
