a:link				{text-decoration: none; color: red; }
a:visited			{text-decoration: none; color: red; }
a:active			{text-decoration: none; color: red; }
a:hover				{color: red; }
body				{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
td					{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
p					{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
blockquote			{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
.heading			{color: cornflowerblue;}

a.dropdown			{font-family: arial, helvetica, sans-serif; color: #000000; font-size: 10px; text-decoration: none; font-weight: normal;}
a.dropdown:active	{font-family: arial, helvetica, sans-serif; color: #000000; font-size: 10px; text-decoration: none; font-weight: normal;}
a.dropdown:visited	{color: #000000; text-decoration: none;}
a.dropdown:hover	{color: #3399ff;}
a.dropdownb			{font-family: arial, helvetica, sans-serif; color: #ff3333; font-size: 10px; text-decoration: none; font-weight: normal;}
a.dropdownb:active	{font-family: arial, helvetica, sans-serif; color: #ff3333; font-size: 10px; text-decoration: none; font-weight: normal;}
a.dropdownb:visited	{color: #ff3333; text-decoration: none;}
a.dropdownb:hover	{color: #3399ff;}

.statmenu			{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a			{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:active	{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:visited	{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:hover	{font-family: arial, helvetica, sans-serif; color: yellow; text-decoration: none; font-size: 15px; font-weight: 600;}

a.statname			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 12px; color: #000000;}
	
.iewrap1			{position:relative;top:0px;}
.iewrap2			{position:absolute;}
#dropmenu0			{visibility:hide;z-index:100;}

.smallmenu			{font-family: arial, helvetica, sans-serif; font-size: 10px; color: #000000;}
.smallmenu a		{font-family: arial, helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none; font-weight: normal;}
.smallmenu a:visited{color: #000000;}
.smallmenu a:hover	{color: #3399ff;}

a.playmenu			{font-size:20pt; font-weight: bold; color: red; text-decoration: none;}
a.playmenu:visited	{font-size:20pt; font-weight: bold; color: red; text-decoration: none;}
a.playmenu:active	{font-size:20pt; font-weight: bold; color: red; text-decoration: none;}
a.playmenu:hover	{color: white}
.bold {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000}
.link {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FF0033}
