/* DarkEQ Theme modification for phpBB2
 * Subsilver originally created by subBlue design
 * http://www.subBlue.com
 */

body {
	background-color:#000000;
	scrollbar-face-color: #602C72;
	scrollbar-highlight-color: #602C72;
	scrollbar-shadow-color: #602C72;
	scrollbar-3dlight-color: #602C72;
	scrollbar-arrow-color: #E3DDFF;
	scrollbar-track-color: #333355;
	scrollbar-darkshadow-color: #000000;
	color : #E3DDFF;
}

font	{ font-family: Verdana, Arial, Helvetica, sans-serif }
td		{ font-family: Verdana, Arial, Helvetica, sans-serif }
th		{ font-family: Verdana, Arial, Helvetica, sans-serif }
P		{ font-family: Verdana, Arial, Helvetica, sans-serif }
hr		{ height: 0px; border: solid #c2cdd6 0px; border-top-width: 1px;}


/* Forum colours */
.bodyline	{ background="templates/DarkEQ/images/tile.gif" tracingsrc="templates/DarkEQ/images/tile.gif" tracingopacity="100"; border: #602C72; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.forumline	{ background-color:#111122; border: 1px #602C72 solid }


/* Main table cell colours and backgrounds */
TH			{
	background-color: #000022;
	height: 25px;
	font-size: 11px;
	line-height : 100%;
	font-weight: bold;
	color: #E3DDFF
}
TD.tablebg	{ background-color: #333344 }
TD.cat		{ background-color: #333388; height: 28px }
TD.row1		{ background-color: #222233 }
TD.row2		{ background-color: #2C2B3C }
TD.row3		{ background-color: #333344 }
TD.spaceRow { background-color: #333344; border: #602C72; border-style: solid; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px }
TD.rowpic	{ background-color: #FFFFFF }


/* Setting additional nice borders for the main table cells */
TD.catHead,TD.catSides,TD.catLeft,TD.catRight,TD.catBottom { background-color:#333366; height: 28px; border: #000000; border-style: solid; }

TD.catHead	 { height: 29px; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TD.catSides  { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TD.catLeft	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TD.catRight	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TD.catBottom { height: 29px; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }

TH.thHead,TH.thSides,TH.thTop,TH.thLeft,TH.thRight,TH.thBottom,TH.thCornerL,TH.thCornerR { border: #602C72; border-style: solid; }

TH.thHead	 { font-weight : bold; font-size: 12px; height: 25px; border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thSides	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thTop	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thLeft	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thRight	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thBottom  { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thCornerL { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thCornerR { border-left-width: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }

TD.row3Right	 { background-color: #111122; border: #111122; border-style: solid;  border-left-width: 0px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }

/* The largest text used in the index page title and toptic title etc. */
.maintitle	{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size : 22px;
	font-weight : bold;
	text-decoration : none;
	line-height : 120%;
	color : #FFFFFF;
}


/* General normal text */
.gen		{ font-size : 12px; color : #FFE8FF; }
a.gen		{ color: #FFE8FF; text-decoration: none; }
a.gen:hover	{ color: #FFE8FF; text-decoration: underline; }

/* General medium text */
.genmed		{ font-size : 11px; color : #FFE8FF; }
a.genmed		{ text-decoration: none; color : #FFE8FF; }
a.genmed:hover	{ text-decoration: underline; color : #FFE8FF; }


/* General small */
.gensmall		{ font-size : 10px; color : #FFE8FF; }
a.gensmall		{ color: #FFE8FF; text-decoration: none; }
a.gensmall:hover	{ color: #FFE8FF; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu			{ font-size : 11px; text-decoration : none; color : #E3DDFF }
a.mainmenu			{ text-decoration: none; color : #E3DDFF;  }
a.mainmenu:hover	{ text-decoration: underline; color : #E3DDFF; }


/* Forum categories */
.cattitle			{ font-size : 12px; line-height : 100%; letter-spacing: 1px; font-weight : bold; text-decoration : none; color : #E3DDFF }
a.cattitle			{ text-decoration: none; color : #E3DDFF; }
a.cattitle:hover	{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink			{ font-size : 12px; font-weight : bold; text-decoration : none; color : #E3DDFF; }
a.forumlink			{ text-decoration: none; color : #E3DDFF; }
a.forumlink:hover	{ text-decoration: underline; color : #E3DDFF; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-size : 11px; font-weight : bold; text-decoration : none; color : #E3DDFF;}
a.nav			{ text-decoration: none; color : #E3DDFF; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: can specify viewed link colour too */
.topictitle			{ font-size : 11px; font-weight : bold; text-decoration : none; color : #E3DDFF; }
a.topictitle		{ text-decoration: none; color : #E3DDFF; }
a.topictitle:hover	{ text-decoration: underline; color : #E3DDFF; }
a.topictitle:visited	{ text-decoration: none; color : #9C96B6; }
a.topictitle:visited:hover { text-decoration: underline; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; text-decoration : none; color : #E3DDFF;}
a.name			{ color: #E3DDFF; text-decoration: none;}
a.name:hover	{ color: #E3DDFF; text-decoration: underline;}


/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #E3DDFF; }
a.postdetails		{ color: #E3DDFF; text-decoration: none; }
a.postdetails:hover	{ color: #E3DDFF; text-decoration: underline; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 18px; color: #E3DDFF}

a.postlink	{ text-decoration: underline; color : #D8B7FF }
a.postlink:hover { text-decoration: underline; color : #D8B7FF }


/* Quote Code (currently not used) */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #EBE5FF;
	background-color: #676579; border: #602C72; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #EBE5FF; line-height: 125%;
	background-color: #676579; border: #602C72; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}
		}
a.quote { color: #D0B5FF; }
		
.signature	{ font-size : 11px; text-decoration : none; color : #333366; }
.editedby	{ font-size : 10px; line-height : 100%; color : #333333; }


/* Form elements */
input,textarea, select {
color : #000000;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 11px;
font-weight : normal;
border-color : #000022;
}

/* The text input fields background colour */
input.post, textarea.post, select {
background-color : #E4e4e4;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
background-color : #EFEFEF;
color : #000000;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 11px;
}


/* The main submit button option */
input.mainoption {
background-color : #D0D0D0;
font-weight : bold;
}

/* None bold submit button */
input.liteoption {
background-color : #D0D0D0;
font-weight : normal;
}

.helpline { background-color: #DEE3E7; border-style: none; }

/* Copyright and bottom info */
.copyright		{ font-family: Verdana, Arial, Helvetica, sans-serif; color: #BBBBDD; font-size: 10px; letter-spacing: -1px;}
a.copyright		{ color: #BBBBDD; text-decoration: none;}
a.copyright:hover { color: #E3DDFF; text-decoration: underline;}
