A {text-decoration: none; color: #264362; font-weight: bold;}
A:hover {text-decoration: underline; font-weight: bold;}

.sidebar {font-family: Verdana, Arial, Helvetica, sans-serif; color: #DEF010; font-size: 10px;}
.sidebar:hover {text-decoration: underline; color: #DEF010;}