body,textarea {
     	scrollbar-face-color: #330000;
     	scrollbar-highlight-color: #330000;
     	scrollbar-shadow-color: #660000;
     	scrollbar-3dlight-color: #330000;
     	scrollbar-arrow-color: #cccccc;
     	scrollbar-track-color: #000000;
     	scrollbar-darkshadow-color: #330000
 			  }

a:link.menulinks { text-decoration: none;}
a:visited.menulinks { text-decoration: none;}
a:active.menulinks { text-decoration: none;}
a:link {  text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif}
a:visited { text-decoration: none; color: #C0C0C0; font-family: Verdana, Arial, Helvetica, sans-serif}
a:hover {  text-decoration: underline overline}
a:active { text-decoration: underline overline }
