.member  {font-family: Arial;
         text-decoration: none;
         color: 333333;
         }
.officer {font-family: Arial;
         font-weight: bold;
         text-decoration: none;
         color: 3333FF;
         }
.mia     {font-family: Arial;
         font-size: 12pt;
         font-style: italic;
         text-decoration: none;
         color: 000000;
         }
.leader  {font-family: Arial;
         font-weight: bold;
         font-style: italic;
         text-decoration: none;
         color: CC9900;
         }
.title   {font-family: Arial;
         font-weight: bold;
         color: 000066;
         }