body,td,div,.p,a{font-family:arial,sans-serif; }
div,td{color:#000;}
a:link,.w,a.w:link,.w a:link{color:#00c;font-size: .8em;}
a:visited,.fl:visited{color:#551a8b;}
a:active,.fl:active{color:#f00;}
table.head
{ 
	padding: 2px;
	padding-left: 5px;
	background-color: #15288E; 
}
.title_txt
{
	font-size: 1.1em;
}
.title_txt02
{
		font-family:verdana;
    font-size: 12pt;
    COLOR: #FFFFFF;
}
.head_txt
{
	font-size: 10pt;
	color:#999999;
	font-weight:bold;
}
.head_txt02
{
		PADDING-BOTTOM: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #B3B3B3;
}
.search_txt
{
	color:#0000CC;
	font-size: 1.2em;
}
.search_txt02
{
		font-family:verdana;
    FONT-SIZE: 12pt;
    COLOR: #CCFFFF;
}	
.mail{
  font-family: verdana, arial;
	font-size: 10px;
	color:#666666;
}
a.title
{
	font-weight: normal;
	font-size: 1em;
}
a.title02
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
}
a.title_big
{
	font-weight: normal;
	font-size: 16px;
}
a.url
{
	font-weight: normal;
	color:#008000;
	font-size: .75em;
}
a.url02
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #008000;
		text-decoration: none;
}
a.catTitle1
{
	font-weight: bold;
	font-size: .8em;
}
a.catLink
{
	font-size: .8em;
}
ul
{
	list-style: outside;
	margin: 1px 1px 1px 11px;
	padding: 11px 1px 1px 1px;
}
li
{
	list-style: disc outside;
	margin: 1px 11px 1px 10px;
	padding: 1px 11px 1px 1px;
	color: #000000;
}
.desc
{
	color: black;
	font-size: .75em;
}
.desc02
{
    FONT-SIZE: 10pt;
    COLOR: black
}
.button
{
	background-color: #D5DCEB;
	font-weight: bold;
	color: #000000;
	font-size: 12px;
}
.button_sm {
	font-family:arial; font-weight:bold; FONT-SIZE: 8pt; 	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset;
}
.head_bg{
	background-image: url(http://static.appliedsemantics.com/images/domainpark/head_bg.gif); 
	background-position: top; 
	background-repeat: repeat-x;} 

