.bodytext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
.legal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF}
.link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: underline; font-weight: bold}
.link:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFDA67; text-decoration: underline; font-weight: bold}
/* BEGIN GLOBAL NAV STYLES*/
a.gnav_menu {
	background-color:#FFFFFF;
	color: #6A6A73;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	width: 100%;
}
a.gnav_menu:hover {
	background-color:#30303D;
	color: #FFFFFF;
	text-decoration: none;
}
/* END GLOBAL NAV STYLES*/.highlight { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: FFDA67; text-decoration: none }
.ruleheader {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.success { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF }
.link2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: underline; font-weight: bold }
.link2:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFDA67; text-decoration: underline; font-weight: bold }



