a:link              { font: 11px verdana; color: #FF6602; text-decoration: none }
a:active            { font: 11px verdana; color: #FF6602; text-decoration: none }
a:visited           { font: 11px verdana; color: #FF6602; text-decoration: none }
a:hover             { font: 11px verdana; color: #FFFFFF; text-decoration: none }

a.category:link     { font: 12px arial;   color: #FF6602; text-decoration: none; }
a.category:active   { font: 12px arial;   color: #FF6602; text-decoration: none; }
a.category:visited  { font: 12px arial;   color: #FF6602; text-decoration: none; }
a.category:hover    { font: 12px arial;   color: #FFFFFF; text-decoration: none; }

a.copyright:link    { font: 11px verdana; color: #FF6602; text-decoration: none; }
a.copyright:active  { font: 11px verdana; color: #FF6602; text-decoration: none; }
a.copyright:visited { font: 11px verdana; color: #FF6602; text-decoration: none; }
a.copyright:hover   { font: 11px verdana; color: #FFFFFF; text-decoration: none; }

img { border: 0; }

b, strong { font-weight : bold; }

body
{
  margin-top:    0;
  margin-bottom: 0;
  margin-left:   0;
  margin-right:  0;

  padding: 0;

  font:  11px verdana, geneva, arial, sans-serif;
  color: #5C5C5C;

  background-color:      #000000;
  background-image:      url('images/background.jpg');
  background-attachment: fixed;
}

select, option, textarea, input
{
  color:       #000000;
  font-size:   11px;
  font-family: Verdana;
}

input.checkbox
{
  background-color: #4C4D4D;
}

td, font
{
  font:  11px verdana, arial;
  color: #FFFFFF;
}

hr
{
  height: 1px;
  border: 0px;

  color: #404040;
  background-color: #404040;
}