body {
color: #cee76b;
background: #4A5A42;
font-family:Times new roman;
background-image: url(images/fond1.gif);
SCROLLBAR-FACE-COLOR: #80371f; SCROLLBAR-HIGHLIGHT-COLOR: #c45631; 
SCROLLBAR-SHADOW-COLOR: #652c18; SCROLLBAR-3DLIGHT-COLOR: black; 
SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-TRACK-COLOR: #333f25; 
SCROLLBAR-DARKSHADOW-COLOR: #492012; SCROLLBAR-BASE-COLOR: #652c18;
}

A:link {COLOR: #cee76b; TEXT-DECORATION: none}
A:visited {COLOR: #cee76b; TEXT-DECORATION: none}
A:active {COLOR: #FFFFBB; TEXT-DECORATION: none}
A:hover {COLOR: #FFFFBB; TEXT-DECORATION: none}


SELECT {color:#cee76b;
background-color:#333f25;
font-size:14px;
font-family:arial;}
INPUT {color:#cee76b;
background-color:#80371f;
font-size:14px;
font-family:arial;}


.menu {FONT: bold 16px Times new roman; COLOR: #cee76b; TEXT-ALIGN: left}
.texte {FONT: 16px Times new roman; COLOR: #cee76b; TEXT-ALIGN: left}


