.ttitre  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; font-weight: bold; cursor: default;}
.tnormal {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; font-weight: normal; cursor: default; text-transform:none;}
.tcodesave {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; font-weight: bold; cursor: default; background-color: #ddcfa8; text-transform:none;}
a.lientexte {color:#000000;text-decoration:none;}
a.lientexte:hover{color:#000000;text-decoration:underline;}