P  {}

H1  {
	font-family : Tolkien,Arial;
	font-weight : bold;
	font-style : normal;
	font-size : x-large;
	color : #FFCC33;
	padding : 4px;
	border-width : medium;
	border-color : #FFCC33;
	border-style : solid;
	text-align : center;
}

H2  {
	font-size : large;
	font-family : Tolkien,Arial;
	font-weight : bold;
	color : #FFCC33;
	font-style : normal;
	border-color : #FFCC33;
	border-style : solid;
	border-width : medium;
	padding : 4px;
	text-align : left;
}

H3  {
	font-size : x-small;
	font-family : Franklin Gothic Book,Arial,Helvetica,Verdana,Geneva;
	font-weight : bold;
	color : #FFCC33;
	text-align : center;
}

A  {
	font-weight : bold;
	color : #660066;
	text-decoration : none;
	padding : 3px;
}

A:Visited  {
	font-weight : bold;
	color : Purple;
}

A:Hover  {
	font-weight : bold;
	color : Blue;
}

BODY  {
	background-color : #4A004A;
	color : #660066;
	font-family : Franklin Gothic Book,Arial,Helvetica,Verdana,Geneva;
	font-size : 10pt;
}

.celldata  {
	background-color : #FFFFCC;
	border-width : medium;
	border-color : #FFCC33;
	border-style : solid;
	font-size : x-small;
	font-family : Franklin Gothic Book,Arial,Helvetica,Verdana,Geneva;
	font-weight : normal;
	font-style : normal;
	color : #660066;
	padding : 3px;
}

.cellheader  {
	font-size : medium;
	font-family : Tolkien,Arial,Helvetica,Verdana,Geneva;
	font-weight : bold;
	color : #FFCC33;
	text-align : left;
	padding : 4px;
	border-color : #FFCC33;
	border-style : solid;
	border-width : medium;
}

