html, body {
    font-family: ‚l‚r ‚oƒSƒVƒbƒN,Osaka;
    font-size: 10pt;
    background-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #99CC99;
    scrollbar-3dlight-color: #99CC99;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #99CC99;
}


#ibox {
    margin-top: 20px;
    padding: 10px 57px;
    height: 760px;
    width: 1036px;
    background-image: url('../img/in-back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}