BODY { font-family:verdana,arial; font-size:75%; margin-left:0px; }

A { color:#0038B8; text-decoration:none; }
A:link { color:#0038B8; }
A:hover { color:#0038B8; text-decoration:underline; }
A:visited { color:#0038B8; }

.Abold:hover { font-weight:bold; }
.Ared:hover { color:#FF0000; }
.Anavigation:hover { color:#FF0000; }
.Anavigationnews:hover { color:#FF0000; font-weight:bold; }

.tblFullwidth { width:50%; border:10; cellpadding:10; cellspacing:10; }

.inactiveemail { text-decoration:none }
.inactiveemail:active { color:#038B8; text-decoration:none; }
.inactiveemail:hover { color:#0038B8; text-decoration:underline overline; }
.inactiveemail:visited { color:#0038B8 }

.default { font-family:verdana; font-size:100%; margin-left:0px; }
