    <style type="text/css">
      .link           {font-family: Verdana,helvetica; font-size:10pt; color: #006600; text-decoration:none}
      .link:visited   {font-family: Verdana,helvetica; font-size:10pt; color: #006600; text-decoration:none}
      .link:hover     {font-family: Verdana,helvetica; font-size:10pt; color: #FFFFFF; text-decoration:underline + overline}
      .title          {font-family: Cursive; color: #006600; font-size: 32px; font-weight: bold}
      .subtitle       {font-family: Cursive; color: #006600; font-size: 14px; font-weight: bold}
      .menubar        {font-family: Verdana; color: #FFFFFF; font-size: 12px; font-weight: bold; text-decoration: none}
      .menubar:hover  {font-family: Verdana; font-size:12px; color: #006600; background:#C8C8AF}
      .menubarhl      {font-family: Verdana; font-size:12px; color: #006600; background:#C8C8AF; font-weight: bold}
      .newstitle      {font-family: Verdana; color: #FFFFFF; font-size: 22px; text-decoration: none}
      .newsbody       {font-family: Verdana; color: #FFFFFF; font-size: 13px; text-decoration: none}
      .tiny           {font-family: Verdana; color: #FFFFFF; font-size: 9px; text-decoration: none}
    </style>
