p.menu {color:#CCC;}
.bodyline {
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}
.postbody1 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699;
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color: #EFEFEF;
}
.postbody2 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699; 
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color:#999;
}




.postbody3 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699; 
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color: #D1D7Dc;
}
.maintitle {
	display:none;
	font-weight: bold;
	font-size: 22px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}
.gen {
	display:none;
	font-size : 12px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.forumline {
	background-color: #FFFFFF;
	border: 2px #006699 solid;
}
.header1 {
	color: #FF0000;
	font-size: 24px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	text-align: center;
}
.header2 {
	color: #FF0000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
.header3 {
	color: #000000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
.header4 {
	color: #000000;
	font-size: 14px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: normal;
}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #006600;
	background-color: #FAFAFA;
	border: #D1D7DC;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.hide { color:#0F6}





