p {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333
}
a { 
 	color: #006699; text-decoration: none
}
a:hover {
	color: #003366; text-decoration: underline
}
li {
	list-style-position: outside; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px
}
.border {
border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}
.GroupTitle {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF
}
.ColoumnHeader {  
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003366; line-height: normal; padding-top: 5px; padding-bottom: 5px
}
.ThreadTitle {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-decoration: none}
font {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px
}
.medBorder {  
	border: 2px #000033 solid
}
.ForumTitleBig {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003366
}
.ForumTitleSmall {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000
}
.ForumTitleBig {  
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000
}
.pmborder {  
	border-color: #FFFFFF #FFFFFF #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}
.button { 
border: 1px solid #666666;
}
.TextInput {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, arial; FONT-SIZE: 10px; WIDTH: 500px
}
.Button {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, arial; FONT-SIZE: 10px
}
.chattext {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, arial; FONT-SIZE: 10px; width: 750px;
}
body {
	background-color: #00000;
}
.tdLight {
	BACKGROUND-COLOR: #EEEEEE
}
.tdDark {
	BACKGROUND-COLOR: #CFCFCF;
}
.tdHeader {
	BACKGROUND-COLOR: #003366;
	color: #FFFFFF;
	background-image: url(grad.gif);

}
.tdHeaderFont {
	COLOR: #FFFFFF;
	font-weight: bold;
}
.tdLightest {
	BACKGROUND-COLOR: #FFFFFF
}
.tdBorder {
	BACKGROUND-COLOR: #CFCFCF
}
.tdQuote {
	BACKGROUND-COLOR: #F7F7F7
}
.thickborder {
	background-color: #CFCFCF;
	border: 1px solid #000000;
	padding: 2px;
}
.padded {
	padding: 5px;
}
.admincolour {
	color: #FF9900;
}
.modcolour {
	color: #669900;
}
.statuscolour {
	color: #006699;
}
.tdHeaderFontNB {
	COLOR: #FFFFFF;}
.Message {
	color: #FF0000;
}
.smallfont {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.VFTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
pre {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #000000;
}
.BoardDown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.signature {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
blockquote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.tdSeperator {
	background-color: #A4A8B3;
}
