/* CSS Document */
body {font-family:verdana,arial,sans-serif;font-size:11px;font-weight:normal;color:#333;background:#fff;line-height:16px;padding-top:20px;}
a {color:#3d140c;}
a:hover {color:#333;}
#main {width:800px;border:1px solid #000;}
/* Lander Layout */
#content {width:798px;padding:15px;border-top:1px solid #000;border-bottom:1px solid #000;}
#leftCol {width:155px;}
.centerCol {width:416px;padding-left:15px;padding-right:15px;}
#rightCol {width:167px;padding-top:2px;}
/* Top Links */
#logoTitle {text-align:left;vertical-align:bottom;}
#forSale {text-align:right;vertical-align:bottom;font-size:14px;font-weight:normal;padding-bottom:10px;}
#forSale div {font-size:12px;padding-top:2px;}
/* Top Nav */
#topNav {font-family:arial,sans-serif;font-weight:bold;font-size:11px;text-transform:uppercase;letter-spacing:1px;background:#3d140c;}
.topNavUnit {font-weight:normal;width:1px;background:#fff;}
.topNavLink {text-align:center;}
.topNavLink a {color:#fff;text-decoration:none;display:block;padding:3px;background:#3d140c;}
.topNavLink a:hover {color:#3d140c;text-decoration:none;background:#fff;}
/* Left Nav */
#sideNav {width:153px;font-family:arial,sans-serif;font-weight:normal;font-size:12px;border:1px solid #3d140c;}
.sideNavUnit {width:153px;}
.sideNavUnit a {color:#fff;background:#602014;text-decoration:none;display:block;padding:3px 3px 3px 10px;width:139px;}
.sideNavUnit a:hover {color:#602014;background:#fff;text-decoration:none;}
.sideNavSeparator {background:#666;border-bottom:1px solid #999;}
/* Bottom Nav */
#bottomNav {font-family:arial,sans-serif;font-weight:normal;font-size:11px;text-transform:uppercase;letter-spacing:1px;background:#602014;}
.bottomNavUnit {font-weight:normal;background:#fff;width:1px;}
.bottomNavLink {text-align:center;}
.bottomNavLink a {color:#fff;text-decoration:none;display:block;padding:3px;background:#602014;}
.bottomNavLink a:hover {color:#602014;text-decoration:none;background:#fff;}
/* Main Image & Text */
#mainImg {position:relative;}
#mainImg a {text-decoration:none;}
#mainImg a:hover {text-decoration:none;}
#mainImgKeyword {color:#3d140c;font-family:arial,sans-serif;font-weight:bold;font-size:16px;width:416px;padding-bottom:2px;text-transform:uppercase;display:block;cursor:hand;}
#mainImgKeyword a:hover {text-decoration:underline;}
#mainImgSrc {z-index:0;position:relative;padding:4px;border:1px solid #3d140c;}
#mainImgTextBox {z-index:1;position:absolute;width:406px;height:20px;background-color:#3d140c;filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=0.65);opacity:.65;-moz-opacity:.65;top:263px;left:5px;display:block;}
#mainImgText {z-index:2;position:absolute;width:401px;height:20px;color:#fff;font-family:verdana,arial,sans-serif;text-transform:uppercase;font-size:9px;line-height:18.5px;padding-left:5px;font-weight:bold;top:262px;left:4px;border-top:1px solid #fff;display:block;}
#mainImgText a {color:#fff;text-decoration:underline;}
#mainImgText a:hover {color:#fff;text-decoration:underline;}
#mainContent {width:416px;padding:15px 0 15px 0;}
#mainContent a {text-decoration:underline;}
#mainContent a:hover {text-decoration:underline;}
/* Right Ads */
.rightAd {width:159px;padding:3px;border:1px solid #000;margin-bottom:20px;cursor:hand;}
/* Right Components */
.comp {position:relative;margin-bottom:20px;}
.comp a {text-decoration:none;}
.comp a:hover {text-decoration:underline;}
.compKeyword {color:#3d140c;font-family:arial,sans-serif;font-weight:bold;font-size:12px;text-transform:uppercase;width:167px;letter-spacing:0.5px;cursor:hand;}
.compImg {z-index:0;position:relative;padding:3px;border:1px solid #3d140c;}
.compTextBox {z-index:1;position:absolute;width:159px;height:14px;background-color:#3d140c;filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=0.65);opacity:.65;-moz-opacity:.65;top:71px;left:4px;}
.compText {z-index:2;position:absolute;width:154px;height:14px;color:#fff;font-family:verdana,arial,sans-serif;text-transform:uppercase;font-size:9px;line-height:12.5px;padding-left:5px;font-weight:bold;top:70px;left:4px;border-top:1px solid #fff;}
.compText a, compText a:hover {color:#fff;text-decoration:underline;}
/* Content Box */
#contentBox {width:155px;border:1px solid #3d140c;padding:5px;}
#contentBoxInside {padding:5px;background:#fff;text-align:left;font-size:10px;line-height:14px;}
a.contentHeader {font-size:11px;font-weight:bold;line-height:16px;}
/* Newsletter Promo */
.newsHeader {font-size:11px;font-weight:bold;line-height:16px;color:#5a5a5a;font-family:arial,sans-serif;font-size:12px;}
#newsBox {width:159px;border:1px solid #3d140c;padding:3px;}
#newsBoxInside {padding:5px;text-align:left;font-size:10px;line-height:12px;color:#fff}
#newsBox input {width:107px;margin-right:8px;vertical-align:middle;}
#newsBox a {padding:3px 5px 3px 5px;border:1px solid #fff;text-decoration:none;color:#fff;background:#3d140c;font-family:arial,sans-serif;font-size:12px;line-height:12px;font-weight:bold;vertical-align:middle;}
/* Search Results */
.bigLink {font-size:12px;font-weight:bold;}
/* Search Box */
.small {font-size:10px;}
#searchBox {width:416px;padding:12px;background:#602014;border:1px solid #3d140c;}
#searchBoxDirectory {width:418px;padding:12px;background:#602014;border:1px solid #3d140c;}
#searchText {color:#fff;font-family:arial,sans-serif;font-weight:bold;font-size:16px;}
#searchText a {padding:3px 10px 3px 10px;border:1px solid #fff;text-decoration:none;color:#fff;background:#3d140c;font-family:arial,sans-serif;font-size:14px;line-height:24px;}
#searchText a:hover {color:#fff;}
#searchTextBox {padding-left:10px;padding-right:10px;}
/* Footer */
#portals {width:800px;font-weight:normal;font-size:11px;color:#666;line-height:16px;text-align:left;padding:12px 0 0 0;}
#portals a {color:#666;text-decoration:none;}
#portals a:hover {text-decoration:underline;}
#footer {color:#666;text-align:center;padding:12px;}
a.footerLink {color:#666;text-decoration:none;}
a.footerLink:hover {color:#666;text-decoration:underline;}
/* Sitemap */
.sitemapBoxHeader {height:20px;vertical-align:middle;padding-left:12px;background:#3d140c;color:#fff;font-weight:bold;}
.sitemapBox {padding:6px;vertical-align:top;line-height:20px;background:#fff;border:1px solid #000;border-top:0px;}