.caption { 
	color: navy; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 9pt; 
	font-style: italic
	}

.headingwhite { 
	text-align: center;
	color: white; 
	font-family: "Copperplate Gothic Light", "Times New Roman", Times, serif; 
	font-size: 16pt 
	}

.headingblue { 
	color: navy;  
	font-style: italic; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 12pt; 
	text-align: center
	}

.body { 
	color: white; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 10pt; 
	padding-left: 5px 
	}

.sidebody { 
	color: navy; 
	font-family: "Times New Roman", Times, serif; 
	text-align: left; 
	font-size: 8pt 
	}

.charter { 
	color: #CCCCCC; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 12pt; 
	MARGIN-LEFT: 5px 
	}

.chartertiny { 
	color: white; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 8pt; 
	MARGIN-LEFT: 5px;  
	font-style: italic; 
	text-align: center
	}

.members { 
	color: #6FE6E5; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 10pt; 
	MARGIN-TOP: -5px 
	}

.rankheading {
	color: #CCCCCC;
	font-family: "Times New Roman", Times, serif; 
	font-size: 14pt;
	}

.spells	{ 
	color: white; 
	font-family: "Times New Roman", Times, serif; 
	font-size: 12pt; 
	}