BODY
{
    BACKGROUND-COLOR: #003333;
    BACKGROUND-IMAGE: url("../images/cracked_back.jpg");
    BACKGROUND-ATTACHMENT: fixed;
    COLOR: tan;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tempus Sans ITC, Tahoma;
    MARGIN-LEFT: 10px;
    MARGIN-TOP: 10px
}

TABLE
{
    WIDTH: 600px;
    BACKGROUND-COLOR: tan;
    BACKGROUND-IMAGE: url("../images/storyback.jpg");
    BORDER-BOTTOM: 1px solid maroon;
    BORDER-LEFT: 1px solid maroon;
    BORDER-RIGHT: 1px solid maroon;
    BORDER-TOP: 1px solid maroon;
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tempus Sans ITC, Tahoma;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
.small
{
    FONT-FAMILY: Lucida Casual, Andale Mono, Tempus Sans ITC, Tahoma;
    FONT-SIZE: 8pt
}
P
{
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Andale Mono, Tempus Sans ITC, Tahoma;
    FONT-SIZE: 9pt
}
.zone
{
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: underline
}
.qtitle
{
    COLOR: maroon;
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    background-color: rgb(255,255,0);
    FONT-WEIGHT: bolder
}
.qinfo
{
    COLOR: rgb(0,0,128);
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    FONT-WEIGHT: bolder
}
H3
{
    COLOR: darkgreen;
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    FONT-WEIGHT: bolder
H5
{
    COLOR: darkgreen;
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    FONT-WEIGHT: bolder
}
H6
{
    COLOR: darkgreen;
    FONT-FAMILY: Lucida Casual, Verdana, Tahoma;
    FONT-WEIGHT: bolder
}
IMG
{
    BORDER-BOTTOM: maroon groove thin;
    BORDER-LEFT: maroon groove thin;
    BORDER-RIGHT: maroon groove thin;
    BORDER-TOP: maroon groove thin
}

.none
{
    BORDER-BOTTOM: none;
    BORDER-LEFT: none;
    BORDER-RIGHT: none;
    BORDER-TOP: none
}

A:link {COLOR: blue;
    TEXT-DECORATION: none}

A:visited {COLOR: blue;
    TEXT-DECORATION: none}

A:active {COLOR: darkgreen;
    TEXT-DECORATION: none}

A:hover {COLOR: darkgreen;
    TEXT-DECORATION: underline}






