<style>{  }
legend       { font-family: Arial; color: #FFFFFF; font-size: 10pt; background-color: #CC3333; text-align:center }
TH			{ font-family: Arial; font-size: 11pt; text-align: left }
P			{ font-family: Arial; font-size: 10pt  }
body font-family arial font-size 10pt td			{ font-family: Arial; font-size: 10pt }
.mainlink    { font-family: Arial; font-size: 10pt; color: #666666 }
a link       { text-decoration: none; color:#808080 }
a hover		 { text-decoration: underline; color:#111111 }


input        { font-size: 8pt; font-family: Arial; color: #808080 }
option       { font-family: Arial; font-size: 6pt; color: #808080 }
select       { font-family: Arial; font-size: 8pt; color: #CC3300 }
.small_links { font-family: Arial; font-size: 10pt }
-->
{  }
</style>