.list10 {
	FONT-SIZE: 10px; COLOR: #222222; LINE-HEIGHT: 110%
}
.list10w {
	FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 110%
}
.tx10 {
	FONT-SIZE: 10px; COLOR: #222222; LINE-HEIGHT: 160%
}
.tx11 {
	FONT-SIZE: 11px; COLOR: #222222; LINE-HEIGHT: 140%
}
.tx12 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 180%
}
.co12 {
	FONT-SIZE: 12px; COLOR: #000066
}
A:link {
	FONT-SIZE: 12px; COLOR: #272d76; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #272d76; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
