.Center { text-align: center }
.Gallery img { border: #A0D0FF ridge 3px; margin-bottom: 20px }
.Gallery th { margin-right: 20px }
.Main { margin-left: 1%; padding-bottom: 20px; width: 96% }
.NewsHeading { color: ivory; font-size: 20pt; font-weight: bold; margin-bottom: 20px; text-align: center }
.Roster td { background-color: #110d03; border-color: silver }
.Roster th { background-color: #110d03; border-color: silver; color: cornflowerblue }
a { text-decoration: underline }
a:active { color: #4169E1 }
a:hover { color: #6495ED }
a:link { color: #A0D0FF }
a:visited { color: #80A0D0 }
body { background-color: black; color: ivory; font-size: 10pt; font-family: 'Verdana', 'Arial', 'Helvetica'; margin: 0px }
/*html { scrollbar-3dlight-color: silver; scrollbar-arrow-color: cornflowerblue; scrollbar-base-color: darkgray; scrollbar-darkshadow-color: gray; scrollbar-face-color: darkgray; scrollbar-highlight-color: gray; scrollbar-shadow-color: silver; scrollbar-track-color: black }*/
table { color: ivory; font-size: 10pt; font-family: 'Verdana', 'Arial', 'Helvetica' }
td { color: ivory; text-align: left }
th { color: ivory }
