a { font-size:12px; }

a:link { text-decoration : none}
a:visited { text-decoration: none; }
a:active { text-decoration : none}
a:hover { font-weight: none ; color:#0000ff }
a:hover { text-decoration: underline; }

body { font-size:12px; }
dd { font-size:12px; }
dl { font-size:12px; }
dt { font-size:12px; }
div { font-size:12px; }
p { font-size:12px; }
table { font-size:12px; }
