a:link{
	color : #FF9900;
	text-decoration : none;
}

a:visited{
	color : #FF6600;
	text-decoration : none;
}

a:hover{
	color : #FF9900;
	text-decoration : underline;
}

a:active{
	color : #FFCC66;
	text-decoration : none;
}



body{
	background-color : #42518C;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	scrollbar-3dlight-color : #7A89C1;
	scrollbar-arrow-color : #FF9900;
	scrollbar-base-color : #2B3869;
	scrollbar-darkshadow-color : #000000;
	scrollbar-face-color : #2B3869;
	scrollbar-highlight-color : #2B3869;
	scrollbar-shadow-color : #2B3869;
	scrollbar-track-color : #2B3869;
}

.button {
	background : #405088;
	border : 1 solid #000000;
	color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	font-weight : bold;
}

.editbox {
	background : #000033;
	border : 1 solid #405088;
	color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

.formarea {
	background-color : #42518C;
	border-bottom-color : #38477C;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #596BB1;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #38477C;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #596BB1;
	border-top-style : solid;
	border-top-width : 1px;
	color : #FFFFFF;
	font-size : 10px;
}

.shoutbox {
	color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	text-align : left;
}

a.inlinelink:link {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:visited {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:active {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:hover {
	color : #FFFFFF;
	text-decoration : underline;
}

.table0 {
	background-color : #42518C;
	border-bottom-color : #38477C;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #596BB1;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #38477C;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #596BB1;
	border-top-style : solid;
	border-top-width : 1px;
	color : #FFFFFF;
	font-size : xx-small;
}

.table1 {
	background-color : #3C4B81;
	border-bottom-color : #38477C;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #596BB1;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #38477C;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #596BB1;
	border-top-style : solid;
	border-top-width : 1px;
	color : #FFFFFF;
	font-size : xx-small;
}
