body {
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #3399FF;
	scrollbar-shadow-color: #003399;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #008080;
	scrollbar-darkshadow-color: #000000;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 15px;

}

td {
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
a:hover {
	color: #FFCC33;
}
a:link {
	color: #3E8AE0;
	text-decoration: none;
}
a {
	color: #3E8AE0;
	text-decoration: none;
}
ul {
	list-style-image: url('file:///C:/Documents%20and%20Settings/Nicholas%20Piatek/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/KWW89225/images/bullet.gif');
}
hr {
	color: #993366;
	height: 1px;
}