A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #C0C0C0;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #C0C0C0;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #C0C0C0;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
BODY
{
	FONT-SIZE: small;
	COLOR: Silver;
	SCROLLBAR-ARROW-COLOR: silver;
	FONT-FAMILY: Arial;
	SCROLLBAR-BASE-COLOR: #152D47
}
.button
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    BACKGROUND-COLOR: #ff0000
}
.header
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	COLOR: Silver;
	SCROLLBAR-ARROW-COLOR: #ff0000;
	FONT-FAMILY: Arial;
	SCROLLBAR-BASE-COLOR: #000000;
	text-decoration : underline;
	text-transform : uppercase;
}
A.news
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #FFFF9C;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}
A.news:active
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #FFFF9C;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}
A.news:visited
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #FFFF9C;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}
A.news:hover
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: Silver;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none
}
.subheader
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 11pt;
	COLOR: Silver;
	SCROLLBAR-ARROW-COLOR: #ff0000;
	FONT-FAMILY: Arial;
	SCROLLBAR-BASE-COLOR: #000000;
	text-transform : uppercase;
}
.text
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: Silver;
	SCROLLBAR-ARROW-COLOR: #ff0000;
	FONT-FAMILY: Arial;
	SCROLLBAR-BASE-COLOR: #000000
}