BODY {SCROLLBAR-FACE-COLOR: black; SCROLLBAR-HIGHLIGHT-COLOR: black; SCROLLBAR-SHADOW-COLOR: black; SCROLLBAR-ARROW-COLOR: #304470; SCROLLBAR-TRACK-COLOR: black; SCROLLBAR-DARKSHADOW-COLOR: #303C58; SCROLLBAR-BASE-COLOR: #303C58; BACKGROUND-COLOR: black; scrollbar-3d-light-color: black; FONT-FAMILY: arial, tahoma, verdana; CURSOR: help; FONT SIZE=11; BACKGROUND-IMAGE: url(bg.jpg)}

A:link {CURSOR: help; COLOR: #284068; TEXT-DECORATION: none}

A:visited {CURSOR: help; COLOR: #284068; TEXT-DECORATION: none}

A:hover {CURSOR: help; COLOR: #7070A0; TEXT-DECORATION: none}

INPUT {color: white; background: #304058; font-size: 11px; font-weight: regular; font-family: arial, tahoma, verdana; text-align: left; border-width: 1px; border-style: solid; border-color: #7094A0; }

P {FONT-FAMILY: arial, tahoma, verdana; FONT SIZE=11; COLOR="#586880"}

BR {FONT-FAMILY: arial, tahoma; FONT SIZE=11; COLOR="#304058"}

