BODY
{
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-REPEAT: repeat-y;
    FONT: x-small Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 9pt;
    MARGIN: 0px;
	CURSOR: default
}
A
{
    COLOR: #0000ff;
}
A.menu
{
	COLOR: #0000ff;
	FONT-WEIGHT: bold
}
A:visited
{
    COLOR: #660066
}
A:active
{
    COLOR: #ff9900
}
A:hover
{
    COLOR: #ff9900
}
.upper
{
    BACKGROUND-COLOR: #000000;
    FONT-SIZE: 15px;
    MARGIN: 0px
}
.content
{
    MARGIN: 0px 0px 0px 110px;
    WIDTH: 440px
}
.footer
{
	FONT-SIZE: 8pt;
	COLOR: #0000aa
}