.noowsbody  { font-weight : bold; font-family : Arial, Futura, Helvetica, Sans-Serif; }

.noowstoolbarcontrols { font-size : 12px; font-family : Arial;  text-decoration : none; color : Black; }
.noowstoolbar  { font-size : 12px; font-family : Arial;  font-weight : bold; text-decoration : none; color : White; }
.noowstoolbar:Link  { font-size : 12px; font-family : Arial; font-weight : bold; text-decoration : none; color : White; }
.noowstoolbar:Visited  { font-size : 12px; font-family : Arial;	 font-weight : bold; text-decoration : none; color : White; }
.noowstoolbar:Active  { font-size : 12px; font-family : Arial; font-weight : bold; color : White; }
.noowstoolbar:Hover  { font-size : 12px; font-family : Arial; font-weight : bold; text-decoration : underline; color : White; }

.noowsthread { text-decoration : none; color : Black; }
.noowsthread:Visited { font-style: italic; text-decoration : none; color : Black; }
.noowsthread:Hover { text-decoration : underline; color : Black; }
.noowsthread:Active  { text-decoration : none; color : Black; }

.noowsheader { text-decoration : underline; color : Black; }
.noowsheader:Visited { font-style: italic; text-decoration : none; color : Black; }
.noowsheader:Hover { text-decoration : none; color : Black; }
.noowsheader:Active  { text-decoration : none; color : Black; }

.noowsheadline { text-decoration : underline; color : White; }
.noowsheadline:Link { text-decoration : underline; color : White; }
.noowsheadline:Visited { font-style: italic; text-decoration : none; color : White; }
.noowsheadline:Hover { text-decoration : underline; color : White; }
.noowsheadline:Active  { text-decoration : none; color : White; }

.noowsside { text-decoration : underline; color : Black; }
.noowsside:Visited { text-decoration : italic; text-decoration: none; color : Black; }
.noowsside:Hover { text-decoration : underline; color : Black; }
.noowsside:Active  { text-decoration : none; color : Black; }

.noowsstatusbar { text-decoration : none; color : White; }
.noowsstatusbar:Visited { text-decoration : none; color : White; }
.noowsstatusbar:Hover { text-decoration : underline; color : White; }
.noowsstatusbar:Active  { text-decoration : none; color : White; }

.noowseditor { text-decoration : none; color : White; }
.noowseditor:Visited { text-decoration : italic; text-decoration: none; color : White; }
.noowseditor:Hover { text-decoration : underline; color : White; }
.noowseditor:Active  { text-decoration : none; color : White; }

.noowsforumlist { text-decoration : underline; color : Black; }
.noowsforumlist:Visited { font-style: italic; text-decoration : none; color : Black; }
.noowsforumlist:Hover { text-decoration : underline; color : Black; }
.noowsforumlist:Active  { text-decoration : none; color : Black; }

.datebar { text-decoration : none; color : #CCCC00; }
.datebar:Link { text-decoration : underline; color : #CCCC00; }
.datebar:Visited { text-decoration : underline; color : #CCCC00; }
.datebar:Hover { text-decoration : none; color : #CCCC00; }
.datebar:Active  { text-decoration : none; color : #CCCC00; }
