body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF;
a {  color: #6600CC; font-weight: normal; text-decoration: none}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
a:hover { color: #FFFFFF; text-decoration: underline overline; background-color: #6600CC}

