BODY{
 color : #fac832;
 background-color : #000050;
 font-family : "‚l‚r ‚oƒSƒVƒbƒN","Times New Roman";
 background-image : url(wallpaper.gif);
 font-weight : lighter;
}
TABLE{
 background-color : #4007b6;
 font-size : 110%;
 font-weight : lighter;
}
TH{
 color : #fac832;
 font-family : "Times New Roman";
 font-weight : lighter;
}
TD{
 color : #fac832;
 background-color : #000030;
 background-image : url(wallpaper_line_darkblue.gif);
 font-family : "Times New Roman";
}
A{
 text-decoration : none;
}
A:LINK{
 color : lime;
}
A:VISITED{
 color : lime;
}
A:ACTIVE{
 color : white;
}
A:HOVER{
 color : #ffff80;
 text-decoration : underline;
}
HR{
 color : #8080ff;
}