body {
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #3399FF;
	scrollbar-shadow-color: #003399;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #008080;
	scrollbar-darkshadow-color: #000000;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 15px;

}

input {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #3399FF;
	padding-left: 3px;


}