.bbcode_toolbar
{
  height:25px;
}

.bbcode_toolbar_button_down
{
  width:  22px;
  height: 20px;
  border: 1px inset #000000;
  cursor: pointer;
  margin-right: 3px;
}

.bbcode_toolbar_button
{
  width:  22px;
  height: 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-right: 3px;
}

.bbcode_toolbar_button img
{
  position:relative;
  left: 2px;
  top: 2px;
}

.bbcode_toolbar_button_down img
{
  position:relative;
  left: 2px;
  top: 3px;
}