/* Links */

a:link{text-decoration:none ; font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:9fcfed}
a:active{text-decoration:none ; font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:000000}
a:visited{text-decoration:none ; font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:9fcfed}
a:hover{text-decoration:none ; font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:d8ac4f}
body{background-image:bg.gif}

/* Tags */

h1{font-family: Amerigo bt , Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:30pt ; color:d8ac4f ; text-align:left}
h2{font-family: Amerigo bt , Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:20pt ; color:d8ac4f ; text-align:left}
h3{font-family: Amerigo bt , Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:d8ac4f ; text-align:left}
p{font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:12pt ; color:3f98d0}
li{font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:11pt ; color:3f98d0}
hr{hr size:4 ; color:d8ac4f}

/* classes */

.bhead {font-family: arial black , Arial, Helvetica, sans-serif ; font-style:italic ; font-size:9pt ; color:black}
.btext {font-family: Arial, Helvetica, sans-serif  ; font-size:9pt ; color:black}
.copy {font-family: Arial, Helvetica, sans-serif ; font-size:7pt ; text-align:center}
.text {font-family: Arial, Helvetica, sans-serif  ; font-size:9pt}
.bold {font-family: Arial, Helvetica, sans-serif  ; font-weight:bold ; font-size:9pt ; color:b0c6ce}
.p2 {font-family: Arial, Helvetica, sans-serif  ; font-size:14pt}
.pm {font-family: Arial, Helvetica, sans-serif ; font-weight:bold ; font-size:10pt ; color:000000}

