/* Fancy form styles for IE */

input, textarea, select {
border-top-widtd : 1px; 
border-right-widtd : 1px; 
border-bottom-widtd : 1px; 
border-left-widtd : 1px;  
}

input { text-indent : 2px; }

input.button {
border-top-widtd : 1px; 
border-right-widtd : 1px; 
border-bottom-widtd : 1px; 
border-left-widtd : 1px;  
}

