BODY {
		font-family: Tahoma;
		font-size: 10pt;
		color: #000000;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;		
}

A { text-decoration: underline }
A:active { text-decoration: none; color: #0000a0 }
A:hover { text-decoration: none; color: #0000a0 }
A:visited { color: #303030 }

.fb { text-decoration: none }
.fb:active { text-decoration: none; color: #0000a0 }
.fb:hover { text-decoration: none; color: #0000a0 }
.fb:visited { color: #ff0000 }

.menu { color: #9999cc; text-decoration: none}
.menu:visited { color: #9999cc; text-decoration: none}
.menu:hover { color: #9999cc; text-decoration: underline}
.menu:active { color: #9999cc; text-decoration: underline}

.net { text-decoration: none }
.net:active { text-decoration: none; color: #0000a0 }
.net:hover { text-decoration: underline overline; color: #0000a0 }
.net:visited { color: #ff0000 }

.ql { color: #0000a0; text-decoration: none}
.ql:visited { color: #0000a0; text-decoration: none}
.ql:hover { color: #ff0000; text-decoration: underline}
.ql:active { color: #ff0000; text-decoration: underline}

BLOCKQUOTE {
	font-family: Times New Roman;
    color: #050056; 
	font-size: 10pt;	
}

