body { margin: 0; background-repeat : no-repeat;}

#character 
{
	width: 345px; 
	height: 400px; 
	position: absolute;
	border: 1px solid black;
	z-index: 2;
	top: 90px;
	left: 60px;
}
#character-alpha 
{
	filter:alpha(opacity=50);
	width: 345px; 
	height: 400px; 
	position: absolute;
	z-index: 1;
	top: 90px;
	left: 60px;
}

.box
{
	width: 345px; 
	height: 400px; 
	position: absolute;
	z-index: 3;
}

.slot
{
	position: absolute;
	width: 40px; 
	height: 40px;
	border: 1px solid black;
	font-size: 8px;
	font-family: Arial;
	color: white;
}

.slot  div { position: absolute; top: 0; left: 0; z-index:-1; }

#slot-ekip-1 {top: -1px;	left: 40px;z-index: 2;}
#slot-ekip-5 {top: -1px; left: 81px;z-index: 2;}
#slot-ekip-3 {top: -1px; left: 122px;z-index: 2;}
#slot-ekip-2 {top: -1px; left: 163px;z-index: 2;}
#slot-ekip-4 {top: -1px; left: 204px;z-index: 2;}

#slot-ekip-15 {top: 40px; left: -1px;z-index: 2;}
#slot-ekip-9 {top: 40px; left: 40px;z-index: 2;}
#slot-ekip-7 {top: 40px; left: 81px;z-index: 2;}
#slot-ekip-12 {top: 40px; left: 122px;z-index: 2;}
#slot-ekip-10 {top: 40px; left: 163px;z-index: 2;}
#slot-ekip-16 {top: 40px; left: 204px;z-index: 2;}

#slot-ekip-6 {top: 81px; left: -1px;z-index: 2;}
#slot-ekip-17 {top: 81px; left: 40px;z-index: 2;}
#slot-ekip-8 {top: 81px; left: 81px;z-index: 2;}
#slot-ekip-20 {top: 81px; left: 122px;z-index: 2;}
#slot-ekip-18 {top: 81px; left: 163px;z-index: 2;}
#slot-ekip-19 {top: 81px; left: 204px;z-index: 2;}

#slot-ekip-13 {top: 122px; left: 40px;z-index: 2;}
#slot-ekip-14 {top: 122px; left: 81px;z-index: 2;}
#slot-ekip-11 {top: 122px; left: 122px;z-index: 2;}
#slot-ekip-21 {top: 122px; left: 163px;z-index: 2;}
#slot-ekip-0 {top: 122px; left: 204px;z-index: 2;}

#slot-inv-1 {top: 173px;	left: 163px;z-index: 2;}
#slot-inv-2 {top: 214px;	left: 163px;z-index: 2;}
#slot-inv-3 {top: 255px;	left: 163px;z-index: 2;}
#slot-inv-4 {top: 296px;	left: 163px;z-index: 2;}
#slot-inv-5 {top: 173px;	left: 204px;z-index: 2;}
#slot-inv-6 {top: 214px;	left: 204px;z-index: 2;}
#slot-inv-7 {top: 255px;	left: 204px;z-index: 2;}
#slot-inv-8 {top: 296px;	left: 204px;z-index: 2;}

#xp{position: relative; width:80px; top: 113px; left: 254px; z-index=2}
#altXp{position: relative; width:80px; top: 340px; left: 254px; z-index=2}
#aaXp{position: relative; width:80px; top: 85px; left: 240px; z-index=2}

#grpXp{position: relative; width:100px; top: 85px; left: 235px; z-index=2}
#raidXp{position: relative; width:100px; top: 150px; left: 235px; z-index=2}

#text{position: absolute; top: 0px; width: 80px; z-index=2}
#color{position: absolute; top:15px; z-index=2;width: 80px;overflow: hidden}

#text2{position: absolute; top: 0px; width: 100px; z-index=2}
#color2{position: absolute; top:15px; left: 10px; z-index=2;width: 80px;overflow: hidden}
#text3{position: absolute; top: 22px; width: 100px; z-index=2}



.block-style
{
	color: #E0E0E0;
	font-family: Arial;
	font-size: 11px;
	line-height: 13px;
	z-index: 2;
}

#block1
{
	position: absolute;
	top: 10px;
	left: 255px;
	
}

#block2
{
	position: absolute;
	top: 60px;
	left: 255px;
}

#str
{
	position: absolute;
	top: 145px;
	left: 255px;
	z-index: 2;
}

#pr
{
	position: absolute;
	top: 255px;
	left: 255px;
	z-index: 2;
}

.money
{
	position: absolute;
	width: 74px; 
	height: 22px;
	border: 1px solid black;
	z-index: 2;
}

.money-img
{
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 2;
}
.money-text
{
	position: absolute;
	top: 3px;
	left: 21px;
	z-index: 2;
	
	font-size: 11px;
	font-family: Arial;
	color: white;
}

#money-platinum {top: 173; left: 81px;}
#money-gold {top: 194; left: 81px;}
#money-silver {top: 215; left: 81px;}
#money-copper {top: 236; left: 81px;}

#macaron
{
	position: absolute;
	top: 251px;
	left: 63px;
}

#last-updated
{
	position: absolute;
	top: 384px;
	left: 100px;
	width: 240px;
	
	font-size: 9px;
	font-family: Arial;
	color: white;
	text-align: right;
}

/* magelo  */
#magelo 
{
	width: 325px; 
	height: 150px; 
	position: absolute;
	padding-left: 9px;
	border: 1px solid black;
	font-size: 13px;
	font-family: Arial;
	color: white;
	z-index: 2;
	top: 340px;
	left: 415px;
}
#magelo-alpha
{
	filter:alpha(opacity=50);
	width: 325px; 
	height: 150px; 
	position: absolute;
	
	z-index: 1;
	top: 340px;
	left: 415px;
}

#screenshot-text
{
	width: 315px; 
	height: 127px; 
	position: absolute;
	z-index: 3;
	top: 2px;
	left: 0px;
	overflow: auto;
	
	font-size: 11px;
	font-family: Arial;
}

/* bank */

#bank
{
	top: 90px;
	left: 554px;
	//width: 96px; 
	width: 185px;
	height: 240px; 
	position: absolute;
	border: 1px solid black;
	z-index: 2;
	visibility: hidden;
}
#bank-alpha
{
	top: 90px;
	left: 554px;
	width: 185px; 
	height: 240px; 
	filter:alpha(opacity=50);
 	position: absolute;
	z-index: 1;
	visibility: hidden;
}

.bank-money
{
	position: absolute;
	width: 83px; 
	height: 22px;
	border: 1px solid black;
	z-index: 3;
}

#bank-slot-1 {top: 5px;	left: 6px;z-index: 3;}
#bank-slot-2 {top: 46px;left: 6px;z-index: 3;}
#bank-slot-3 {top: 87px;left: 6px;z-index: 3;}
#bank-slot-4 {top: 128px;left: 6px;z-index: 3;}
#bank-slot-5 {top: 5px;	left: 47px;z-index: 3;}
#bank-slot-6 {top: 46px;left: 47px;z-index: 3;}
#bank-slot-7 {top: 87px;left: 47px;z-index: 3;}
#bank-slot-8 {top: 128px;left: 47px;z-index: 3;}

#bank-slot-9 {top: 5px;	left: 93px;z-index: 3;}
#bank-slot-10 {top: 46px;left: 93px;z-index: 3;}
#bank-slot-11 {top: 87px;left: 93px;z-index: 3;}
#bank-slot-12 {top: 128px;left: 93px;z-index: 3;}

#bank-slot-13 {top: 5px;	left: 134px;z-index: 3;}
#bank-slot-14 {top: 46px;left: 134px;z-index: 3;}
#bank-slot-15 {top: 87px;left: 134px;z-index: 3;}
#bank-slot-16 {top: 128px;left: 134px;z-index: 3;}

#bank-platinum {top: 174; left: 6px;}
#bank-gold {top: 195; left: 6px;}

/* bag */

#bag 
{
	width: 96px; 
	height: 200px; 
	position: absolute;
	border: 1px solid black;
	z-index: 5;
	top: 90px;
	left: 415px;
	visibility: hidden;
	
}
#bag-alpha
{
	filter:alpha(opacity=50);
	width: 96px; 
	height: 200px; 
	position: absolute;
	z-index: 4;
	top: 90px;
	left: 415px;
	visibility: hidden;
}

#bag-slot-1 {top: 5px;	left: 6px;z-index: 5;}
#bag-slot-2 {top: 46px;left: 6px;z-index: 5;}
#bag-slot-3 {top: 87px;left: 6px;z-index: 5;}
#bag-slot-4 {top: 128px;left: 6px;z-index: 5;}
#bag-slot-5 {top: 169px;left: 6px;z-index: 5;}
		
#bag-slot-6 {top: 5px;	left: 47px;z-index: 5;}
#bag-slot-7 {top: 46px;left: 47px;z-index: 5;}
#bag-slot-8 {top: 87px;left: 47px;z-index: 5;}
#bag-slot-9 {top: 128px;left: 47px;z-index: 5;}
#bag-slot-10 {top: 169px;left: 47px;z-index: 5;}

/* adv */

#adv-text
{
	top: -1;
	left: -1;
	position: absolute;
	padding-left: 7px;
	padding-top: 9px;
	color: white;
	font-family: Arial;
	font-size: 11px;
}

#adv-cat
{
	top: 34;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 7px;
	padding-top: 2px;
}

#adv-data
{
	top: 60;
	left: -1;
	width: 337px; 
	height: 335px; 
	overflow: auto;
	
	position: absolute;
	padding-left: 9px;
	padding-top: 4px;

	
}

/* Leadership AA */

#leader-text
{
	top: -1;
	left: -1;
	position: absolute;
	padding-left: 7px;
	padding-top: 9px;
	color: white;
	font-family: Arial;
	font-size: 11px;
}

#leader-cat
{
	top: 34;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 7px;
	padding-top: 2px;
}

#leader-data
{
	top: 55;
	left: -1;
	width: 337px; 
	height: 335px; 
	
	position: absolute;
	padding-left: 9px;
	padding-top: 4px;
	
	
}


/* bio */


#bio-text
{
	top: 10;
	left: 10;
	width: 325px; 
	height: 350px; 
	border: 1px solid black;
	position: absolute;
	
	padding: 5px;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 11px;
	
	overflow: auto;
}


/* skill */

#skill-header
{
	top: -1;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}

#skill-data
{
	width: 335px; 
	height: 345px; 
	position: absolute;
	top: 25px;
	left: 9px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
}

/*  spell  */

#spell-header
{
	top: -1;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}

#spell-data
{
	width: 335px; 
	height: 345px; 
	position: absolute;
	top: 25px;
	left: 9px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
}

/*  focus  */

#focus-header
{
	top: -1;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}

#focus-data
{
	width: 335px; 
	height: 345px; 
	position: absolute;
	top: 25px;
	left: 9px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
	color: white;
}

/*  keys  */

#keys-header
{
	top: -1;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}

#keys-data
{
	width: 335px; 
	height: 345px; 
	position: absolute;
	top: 25px;
	left: 9px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
	color: white;
}

/*  flags  */

#flags-header
{
	top: -1;
	left: -1;
	right: -1; 
	height: 21px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}

#flags-data
{
	width: 335px; 
	height: 345px; 
	position: absolute;
	top: 25px;
	left: 9px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
	color: white;
}

/* Mod   */

#mod-header
{
	top: -1;
	left: -1;
	height: 400px; 
	width: 65px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 10px;
	padding-left: 4px;
	padding-top: 2px;
}
#mod-table-header
{
	top: -1px;
	left: 63px;
	right: -1px;
	height: 21px; 
	
	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}
#mod-data
{
	width: 267px; 
	height: 375px; 
	position: absolute;
	top: 25px;
	left: 73px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
	color: white;
}

/* Mod2   */

#mod2-header
{
	top: -1;
	left: -1;
	height: 400px; 
	width: 65px;

	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 10px;
	padding-left: 4px;
	padding-top: 2px;
}
#mod2-table-header
{
	top: -1px;
	left: 63px;
	right: -1px;
	height: 21px; 
	
	border: 1px solid black;
	position: absolute;
	
	color: white;
	font-family: Arial;
	font-size: 11px;
	padding-left: 9px;
	padding-top: 2px;
}
#mod2-data
{
	width: 267px; 
	height: 375px; 
	position: absolute;
	top: 25px;
	left: 73px;
	
	overflow: auto; 
	font-size: 11px;
	font-family: Arial;
	color: white;
}

/* debug */

#debug
{
	top: 90px;
	left: 415px;
	width: 325px; 
	height: 240px; 
	position: absolute;
	border: 1px solid black;
	z-index: 2;
	
	overflow: auto;
	font-size: 11px;
	font-family: Arial;
	color: white;
	
	visibility: hidden;
}
#debug-alpha
{
	top: 90px;
	left: 415px;
	width: 325px; 
	height: 240px; 
	filter:alpha(opacity=50);
 	position: absolute;
	z-index: 1;
	visibility: hidden;
}

/* misc */

.button
{
	width: 46px;
	height: 15px;
	background-image: url(/res/eq/misc/test.png);
	position: absolute;
	font-size: 10px;
	font-family: Arial;
	text-align: center;
	color: #e0e0e0;
	cursor: pointer;
}

.textFont { font-family: Arial; font-size: 11px; color: #E0E0E0; }
.textFont A {text-decoration : none;}
.textFont A:link { color: #739FC1 }
.textFont A:visited { color: #739FC1 }
.textFont A:hover { color: #739FC1;text-decoration : underline; }



