<style type="text/css">

body				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
td					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
a 					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 600;}
a:hover 			{color: #EDD877;}
b					{font-weight: bold;}
u					{text-decoration: underline;}

a.dropdown			{font-family: Verdana, arial, helvetica, sans-serif; color: #ffffff; font-size: 10px; text-decoration: none; font-weight: bold;}
a.dropdownb			{font-family: Verdana, arial, helvetica, sans-serif; color: #ffffff; font-size: 10px; text-decoration: none; font-weight: bold;}
.iewrap1			{position:relative; top:0px;}
.iewrap2			{position:absolute;}
#dropmenu0			{visibility:hide; z-index:100;}

</style>
