<style>
.mstheme
{
	nav-banner-image: url(expbanna.gif);
	separator-image: url(exphorsa.gif);
	list-image-1: url(expbul1a.gif);
	list-image-2: url(expbul2a.gif);
	list-image-3: url(expbul3a.gif);


	navbutton-horiz-normal: url(exphbuda.gif);
	navbutton-horiz-hovered: url(exphbuha.gif);
	navbutton-horiz-pushed: url(exphbusa.gif);

	navbutton-vert-normal: url(expvbuda.gif);
	navbutton-vert-pushed: url(expvbusa.gif);
	navbutton-vert-hovered: url(expvbuha.gif);

	navbutton-home-normal: url(exphomda.gif);
	navbutton-home-hovered: url(exphomha.gif);
	navbutton-home-pushed: url(exphomsa.gif);

	navbutton-next-normal: url(expnexda.gif);
	navbutton-next-hovered: url(expnexha.gif);
	navbutton-next-pushed: url(expnexsa.gif);

	navbutton-prev-normal: url(exppreda.gif);
	navbutton-prev-hovered: url(exppreha.gif);
	navbutton-prev-pushed: url(exppresa.gif);

	navbutton-up-normal: url(expupda.gif);
	navbutton-up-hovered: url(expupha.gif);
	navbutton-up-pushed: url(expupsa.gif);

}

.mstheme-bannertxt
{
	font-family: Book Antiqua, Times New Roman, Times;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Book Antiqua, Times New Roman, Times;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Book Antiqua, Times New Roman, Times;
	font-weight: bold;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
</style>.
