<STYLE TYPE="text/css">

body { background-color: black; color: silver }
.title { font-family: Verdana; color: silver }

.text { font-family: Verdana; font-size: medium; color: silver}
.date { font-family: Courier; font-weight: bold; color: silver }
.rite { font-family: Verdana; font-size: xx-small; color: silver}
.error { font-family: Verdana; color: yellow; font-weight: bold }
A:link { color: cyan; text-decoration: none; font-family: Verdana}
A:active { color: cyan; text-decoration: none; font-family: Verdana}
A:visited { color: purple; text-decoration: none; font-family: Verdana}
A:hover { color: red; font-weight: bold; font-family: Verdana}

</STYLE>
