body {
color: #000;
background: #fffff3;
margin: 50px;
}

a:hover { 
color: #f00;
}

.imageset1, .imageset2 {
border: 0;
}

.imageset1 {
margin: 1.5em 0 1.5em 1.5em;
float: right; 
}

.imageset2 {
margin: 1.5em 1.5em 1.5em 0;
float: left; 
}

.mainimage {
text-align: center;
padding: 1em 0 1em 0; 
border: 0;
}


.articlelist {
position: absolute;
left:50%;
top: 250px;
right: 20px;
}

.storylist ul, .articlelist ul {
list-style: none;
padding-left: 10px;
margin-left: 0px;
}
