<body bgcolor="#948C77" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

  <table width="100%" border="0" cellspacing="0" cellpadding="10">
    <tr> 
      <td><!-- #BeginEditable "content" --> 
        <p class="colorscheme"><font size="3"><b>Recruitment Requirements<br>
          </b></font></p>
        <ul>
          <b>General Requirements<font size="3"> </font></b> 
          <li><b>Resists:</b> Must be able to get 100/100 unbuffed resists 
                when 2 are asked and 150+ when only one is asked.</li>
          <li><b>Keys:</b> Must have Sebilis, Howling Stones, Shrine, and 
                VP(up to trak) keys.</li>
          <li><b>Raid attendance:</b> Must be able to make at least 50% of 
                the raids each month.</li>
          <li><b>Internet Connection:</b> Must have a solid internet connection. 
                If you go LD every fight you're useless to us.</li>
        </ul>
        <ul>
          <p><b>Class Requirements</b><br>
              : <a href="#brd">Bards</a> : <a href="#clr">Clerics</a> : <a href="#dru">Druids</a> 
              : <a href="#enc">Enchanters</a> : <a href="#mag">Magicians</a> 
              : <a href="#mnk">Monks</a> : <a href="#nec">Necromancers</a> 
              : <br>
                : <a href="#pal">Paladins</a> : <a href="#rng">Rangers</a> 
                : <a href="#rog">Rogues</a> : <a href="#shd">Shadowknights</a>: 
                <a href="#shm">Shaman</a> : <a href="#war">Warriors</a> 
                : <a href="#wiz">Wizards</a> : 
            </ul>
			  <hr width="90%" align="center">
            <center>
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="brd"></a><i><font size="4" color="#948C77"><b>Bards</b></font></i> 
                    : Recruitment Status (Open)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489" valign="top"> 
                    <ul>
                      <li>Required level: 60</li>
                      <li>Required AA skills: Innate run 3</li>
                      <li>Required Equipment: Two intant click buff items (jboots, 
                        telescope, grim aura earrings, etc), Enduring Breath item</li>
                      <li>Must have epic weapon.</li>
                      <li>Infravision or ultravision, either naturally or with 
                        items.</li>
                      <li>Know where every zone is and how to get to it.</li>
                      <li>Basically, you need to have your shit together. EV bards 
                        are not casual gamers. You don't have to have all your 
                        songs or have the best equipment. Amazing uber loot will 
                        come as you participate. But you must want to participate. 
                        We need people who want to help the team, not help themselves.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="clr"></a><i><font size="4" color="#948C77"><b>Clerics</b></font></i>
                    : Recruitment Status (Open)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489"> 
                    <ul>
                      <li>Not yet ready.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="dru"></a><i><font size="4" color="#948C77"><b>Druids</b></font></i> 
                    : Recruitment Status (Closed)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489"> 
                    <ul>
                      <li>Not yet ready.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <center>
                  <br>
                      <table width="90%" border="0" cellspacing="0" cellpadding="0">
                        <tr valign="top"> 
                          
                    <td colspan="2" bgcolor="#660000"><b><a name="enc"></a><i><font size="4" color="#948C77"><b>Enchanters</b></font></i> 
                      : Recruitment Status (Closed)</b></td>
                        </tr>
                        <tr valign="top"> 
                          <td bgcolor="#9E9481" width="100">&nbsp;</td>
                          <td bgcolor="#A69E8C" width="489"> 
                            <ul>
                              <li>Not yet ready.</li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </center>
               
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="mag"></a><i><font size="4" color="#948C77"><b>Magicians</b></font></i> 
                    : Recruitment Status (Open)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489" valign="top"> 
                    <ul>
                      <li>Required level: 60</li>
                      <li>Required equipment: 1 instant cast item, preferably 
                        2. </li>
                      <li>Required spells: Must have all raid spells.</li>
                      <li>Epic preferred but not needed. (Don't expect to get 
                        epic when you join.)</li>
                      <li>Preferably on COV faction. If not be willing to switch.</li>
                      <li>Must be able to attend 70% or more raids start 6cts 
                        weekdays and 1 cst weekends</li>
                      <li>1 month trial<br>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="mnk"></a><i><font size="4" color="#948C77"><b>Monks</b></font></i> 
                    : Recruitment Status (Closed)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489" valign="top"> 
                    <ul>
                      <li>Required level: 58 (60 preferred)</li>
                      <li>Required equipment: Two instant cast items.</li>
                      <li>Epic preferred, not required.</li>
                      <li>Be able to get 130 in any two resists unbuffed at the 
                        same time.</li>
                      <li>Be able to attend raids at least 4 times a week.</li>
                      <li>Good overall pulling knowledge.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="nec"></a><i><font size="4" color="#948C77"><b>Necromancers</b></font></i> 
                    : Recruitment Status (Open)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489" valign="top"> 
                    <ul>
                      <li>Required level: 60</li>
                      <li>Required AA skills: Must have second title, Sage.</li>
                      <li>Required spells: new summon corpse, sedulous subversion 
                        and all 54 and 54- spells.</li>
                      <li>1 Jboots</li>
                      <li> Circlet of shadow (prenerf).</li>
                      <li>Permanent EB item.</li>
                      <li>Reputation: Must be recommended by at least 12 EV and 
                        recommended by at least 1 EV necro.</li>
                      <li>Must be willing to spend at least 12 hours in raid per 
                        week and not receiving loot in first month.</li>
                      <li>Must have all expansions enabled.</li>
                      <li>Time zone: Not really a problem but better be US/Asia-Pacafic.</li>
                      <li>Language: Must have fluent english read/write ability 
                        . </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="pal"></a><i><font size="4" color="#948C77"><b>Paladins</b></font></i> 
                    : Recruitment Status (Open)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489"> 
                    <ul>
                      <li>Required level: 60</li>
                      <li>At least 18 AAXP points.</li>
                      <li>Must be willing to cast DS. A lot. Really, a whole lot.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="rng"></a><i><font size="4" color="#948C77"><b>Rangers</b></font></i> 
                    : Recruitment Status (Closed)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489"> 
                    <ul>
                      <li>Not yet ready.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <center>
                <br>
                <center>
                  <center>
                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                      <tr valign="top"> 
                        <td colspan="2" bgcolor="#660000"><b><a name="rog"></a><i><font size="4" color="#948C77"><b>Rogues</b></font></i> 
                          : Recruitment Status (Closed)</b></td>
                      </tr>
                      <tr valign="top"> 
                        <td bgcolor="#9E9481" width="100">&nbsp;</td>
                        <td bgcolor="#A69E8C" width="489" valign="top"> 
                          <ul>
                            <li>Required level: 60</li>
                            <li>Required items: 1 instant cast item (preferably 
                              2), permanent Enduring Breath item</li>
                            <li>Must be able to reach AT LEAST 130 in each resist 
                              unbuffed with at least 100 in magic resist at all 
                              times.</li>
                            <li>Must have epic weapon.</li>
                            <li>Must be LD less than 3.14159265358979323846% of 
                              the time.</li>
                            <li>You have 30 days to prove yourself.</li>
                          </ul>
                        </td>
                      </tr>
                    </table>
                    <br>
                  </center>
                </center>
                <hr width="90%" align="center">
                <br>
                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                  <tr valign="top"> 
                    <td colspan="2" bgcolor="#660000"><b><a name="shd"></a><i><font size="4" color="#948C77"><b>Shadowknight</b></font></i> 
                      : Recruitment Status (Closed)</b></td>
                  </tr>
                  <tr valign="top"> 
                    <td bgcolor="#9E9481" width="100">&nbsp;</td>
                    <td bgcolor="#A69E8C" width="489" valign="top"> 
                      <ul>
                        <li>Required level: 60</li>
                        <li>Required equipment: Circlet of Shadow (pre-nerf)</li>
                        <li> Overall decent knowledge of pulling. Know the basics 
                          of the use of darkness/dispell with FD to split a spawn, 
                          know when a mob is and isnt agroed when you are FD, 
                          etc.</li>
                        <li> Must have a solid knowledge of travel around Luclin 
                          and Velious.</li>
                      </ul>
                    </td>
                  </tr>
                </table>
                <br>
                <hr width="90%" align="center">
                <center>
                  <br>
                  <center>
                    <center>
                      <table width="90%" border="0" cellspacing="0" cellpadding="0">
                        <tr valign="top"> 
                          <td colspan="2" bgcolor="#660000"><b><a name="shm"></a><i><font size="4" color="#948C77"><b>Shaman</b></font></i> 
                            : Recruitment Status (Open)</b></td>
                        </tr>
                        <tr valign="top"> 
                          <td bgcolor="#9E9481" width="100">&nbsp;</td>
                          <td bgcolor="#A69E8C" width="489" valign="top"> 
                            <ul>
                              <li>Required level: 60</li>
                              <li>Required AA skills: Innate run 3, regen 3</li>
                              <li>Required spells: All level 60 spells with the 
                                exception of Group Focus.</li>
                              <li>Required equipment: Epic, 1 instant cast item</li>
                              <li>Must have stable internet connection</li>
                              <li>Must achieve at least 50% raid attendance during first 2 months</li>
                              <li>Must have very good knowledge of travel around Luclin and Velious</li>
                              <li>Must have patience and buff with a smile!</li>
                              <li>Must pay attention and follow directions well</li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                      <br>
                    </center>
                  </center>
                  <hr width="90%" align="center">
                  <br>
                </center>
              </center>
                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr valign="top"> 
                  <td colspan="2" bgcolor="#660000"><b><a name="war"></a><i><font size="4" color="#948C77"><b>Warriors</b></font></i> 
                    : Recruitment Status (Closed)</b></td>
                </tr>
                <tr valign="top"> 
                  <td bgcolor="#9E9481" width="100">&nbsp;</td>
                  <td bgcolor="#A69E8C" width="489"> 
                    <ul>
                      <li>Not yet ready.</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <hr width="90%" align="center">
              <br>
              <center>
                <center>
                  <center>
                    <center>
                    </center>
                    <center>
                      <table width="90%" border="0" cellspacing="0" cellpadding="0">
                        <tr valign="top"> 
                          <td colspan="2" bgcolor="#660000"><b><a name="wiz"></a><i><font size="4" color="#948C77"><b>Wizards</b></font></i> 
                            : Recruitment Status (closed)</b></td>
                        </tr>
                        <tr valign="top"> 
                          <td bgcolor="#9E9481" width="100">&nbsp;</td>
                          <td bgcolor="#A69E8C" width="489" valign="top"> 
                            <ul>
                              <li>Required level: 60</li>
                              <li>Required AA skills: Innate Run 3 (or Jboots), 
                                Spell Casting Fury3 </li>
                              <li>Requires spells: DB (up to Myga), GB (preferred, 
                                not mandatory), Concussion, Lure of Ice, Sunstrike, 
                                Icy Spear of the Soloist</li>
                              <li>Required equipment: 1 instant cast self only 
                                buff item usable in ANY zone, permanent Enduring 
                                Breath item</li>
                              <li>EPIC (preferred, not mandatory). If you don't 
                                have your epic, don't expect help with it for 
                                at least 2 months.</li>
                              <li>High level of knowledge of zones and ability 
                                to travel to any zone unassisted.</li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                      <br>
                      <center>
                        <center>
                          <center>
                            <center>
                            </center>
                          </center>
                        </center>
                      </center>
                    </center>
                  </center>
                </center>
              </center>
            </center>
            <!-- #EndEditable --></td>
        </tr>
      </table>
</body>