BODY {	background: darkblue; 
	color: white; 
	font-size: 10px; 
	font-family: Arial, sans-serif }
P { 	color: white; 
	font-size: 10px; 
	font-family: Arial, sans-serif }
.subheadshad { color: darkblue; 
	margin-left: 2px;
	margin-top: -39px;
	font-size: 24px; 
	font-weight: bold;
	font-family: Verdana; }
.subhead { color: white; 
	margin-left: 1px;
	margin-top: -31px;
	font-size: 24px; 
	font-weight: bold;
	font-family: Verdana; }
	.rowHead { color: white; 
background: darkblue;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.rowA { color: green; 
	background:#E8FFE8;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.rowB { color: green;
	background:#D3FFCE;
	font-size: 10px; 
	font-weight: bold;
	font-family: Verdana; }
.outsidelink { color: deepskyblue; 
	font-size: 10px; 
	font-family: Verdana; 
}
.footer { color: white; 
	font-size: 10px; 
	font-family: Verdana; 
	font-style:italic;
}
B { color: darkblue }
I { font-weight: bold }
A:link { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana; }
A:visited { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana; }
A:active { font-size: 10px; 
	text-decoration: none;
	color: darkblue;
	font-family: Verdana;
	font-style:italic;
	}
.headerlink { color: white; 
	font-size: 10px; 
	font-family: Verdana; 
}
.sortLink
{
	font-size: 16px;
	color: white;
	font-family: Veranda;
	font-weight: bold
}
