<STYLE type="text/css">													<!--
														A.leftmenu, A.leftmenu:link
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: red;
														text-decoration: underline;
														font : bold;
														font-weight : bold;
														font-size : smaller;
													}

														A.leftmenu:visited
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: FCE809;
														text-decoration: underline;
													}

														A.leftmenu:hover
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: FCE809;
														text-decoration:none;
														font : bold;
													}

													A.bbslink
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: White;
														text-decoration: underline;
														font : bold;
														font-weight : normal;
														font-size : xx-small;
													}

														A.bbslink:hover
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: FCE809;
														text-decoration:none;
													}

														A.bbslink:visited
													{
														font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: FCE809;
														text-decoration: underline;
													}
													.pagetext
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: red;
														text-decoration : none;
														font-size : 90%;
														font : normal;
													}

													.pagetextwhite
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: White;
														text-decoration : none;
														font-size : normal;
													}
													.pagetextredbold
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: red;
														text-decoration : none;
														font-size : normal;
														font-weight : bold;
													}
													.pagetextyellowbold
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: FCE809;
														text-decoration : none;
														font-size : normal
														font-weight : bold;
													}
													.title
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: red;
														text-decoration : none;
														font-size : large;
													}
													P.subtitle
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: Purple;
														text-decoration : none;
														font-size : large;
													}
													P.tableheadingtitle
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: White;
														text-decoration : none;
														font-size : larger;
													}

													.textbox
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: Red;
														background-color : F8B6B6;
														border-color : Red;
													}
													.textboxtext
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: Red;
														font-size : 90%
													}
													.textboxtextrequired
													{
														font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
														color: Red;
														font-weight : bold;
														font-size : 90%;
													}
													-->
</style>