@charset "EUC-JP";

	body {
		margin:20px 10px 5px 0px;
		background:#fff;		
	}

	A 				{ color: #003366; text-decoration: underline; }
	A:link		{ color: #003366; text-decoration: underline; }
	A:visited	{ color: #003366; text-decoration: underline; }
	A:active	{ color: #999999;  }
	A:hover		{ color: #999999;  }
	
	h1, h2, h3, h4, h5 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#CC9933;
		font-size:x-large;
		font-weight:bold;
		background:#fff;
		padding-left:15px;
	}

	#banner a,
	#banner a:link,
	#banner a:visited,
	#banner a:active,
	#banner a:hover {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		font-size: x-large;
		color: #CC9933;
		text-decoration: none;
	}

	.description {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:bold;
		background:#fff;
		text-transform:none;
		letter-spacing: none;
	}

	#content {
		position:absolute;
		left:250px;
		background:#fff;
		margin-right:5px;
		margin-bottom:5px;
	}

	#links { 
		width:220px;
		background:#fff;
		margin-top:39px;
		margin-left:5px;
		margin-right:5px;
		padding:10px;
		border:1px solid #666; 
	}

	.blog {
		padding-left:15px;
		padding-top:15px;
	}

	.blogbody {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:normal;
		background:#fff;
		line-height:140%;
		border-left:1px solid #666;
		border-right:1px solid #666;
		border-bottom:1px solid #666;
		padding:10px;
		overflow: hidden;
	}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
	}

	.title { 
		font-family: verdana, arial, sans-serif; 
		font-size: small; 
		color: #CCC; 
		font-weight:bold;	
	}

	#menu {
		margin-bottom:10px;
		background:#fff;
		font-family: verdana, arial, sans-serif;
		font-size:small;
		font-weight:bold;
	}

	.date {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif;  
		font-size: normal; 
		color: #999; 
		font-weight:bold;
		margin-top:10px;
		border-bottom:1px solid #666;	
	}

	.posted	{
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif;  
		font-size: x-small; 
		color: #999; 
	}

	.category { 
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif;  
		font-size: x-small; 
		color: #999; 
		text-align:right;
	}

	.calendar {
		font-family:  "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#666;
		font-size:x-small;
		font-weight:normal;
		padding:1px;
	}

	.calendarhead {	
		font-family: "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#CC9933;
		font-size:x-small;
		font-weight:bold;
		background:#fff;
		line-height:140%;
	}

	.side {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:x-small;
		font-weight:normal;
		background:#fff;
		line-height:140%;
	}

	.sidetitle {
		font-family: "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:x-small;
		font-weight:bold;
		background:#fff;
		line-height:140%;
		padding:2px;
		margin-top:10px;
		border-bottom:1px solid #666;
		letter-spacing: .2em;
	}

	.syndicate {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		font-size:xx-small;
		font-weight:bold;
		line-height:140%;
		padding:2px;
		margin-top:10px;
		text-align:center;
		background:#fff;
	}

	.powered {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:xx-small;
		font-weight:bold;
		border-top:1px solid #666;
		border-bottom:1px solid #666;
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:10px;
		text-align:center;
		letter-spacing: .2em
		}

	.comments-body {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:normal;
		background:#fff;
		line-height:140%;
		border-left:3px solid #666;
		padding-left:15px;
		margin-bottom:15px;
	}

	.comments-post {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#999;
		font-size:x-small;
		font-weight:normal;
		background:#fff;
		margin-bottom:25px;
		border-top:1px dashed #666;
	}

	.comments-head { 
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif;  
		font-size: small; 
		color: #CCC; 
		font-weight:bold;
		margin-bottom:15px;
		border-bottom:1px solid #666;		
	}

	.trackback-body {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:normal;
		background:#fff;
		line-height:140%;
		padding-top:15px;
	}

	.trackback-url {
		font-family: "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:normal;
		background:#fff;
		line-height:140%;
		padding:5px;
		border:1px dashed #999;
	}

	.trackback-post {
		font-family: "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:x-small;
		font-weight:normal;
		background:#fff;
		margin-bottom:20px;
	}

	#banner-commentspop {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#CC9933;
		font-size:large;
		font-weight:bold;
		background:#fff;
		padding-left:15px;
	}

	textarea {
		font-family: "Osaka-等幅", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		font-size:10px;
		font-weight:normal;
		margin-left: 15px;
		margin-right: 15px;
	}

	blockquote {
		font-family: "ヒラギノ角ゴ Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		font-size:small;
		color:#FFF;
		line-height:140%;		
		background-color: #fff;
		border-left: 10px solid Olive;
		padding: 5px;
		margin-left: 15px;
		margin-right: 15px;
		width: auto
	}

	.footer {
		color:Silver; 
		font-weight:normal;
		font-size: 9px; 
		font-family: verdana, arial;
		padding:2px;
		margin-top:10px;
		text-align:center;
	}

	.code{
		font-family: "Osaka-等幅", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif;
		font-size:small;
		color: White;
		line-height:140%;		
		background-color: #fff;
		border-left: 10px solid #666;
		padding: 5px;
		margin-left: 15px;
		margin-right: 15px;
		width: auto
	}

	.hot{
		color:Lime;
	}

<!-- 俺拡張分 -->

	#banner h2 {
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#000000;
		font-size:small;
		background:#fff;
	}

	h3.title {
		font-size: medium;
		padding: 5px;

		color: #000099;
		border-style: dotted;
		border-color: #999;
		border-width: 1px;
	}

	h4.subtitle{
		font-size: medium;
		border-color: #ccc;
		border-width:  0em 0em 1px 0em;
		border-style: solid;
		font-weight: bold;
	}

	.blog .category { 
		text-align:left;
	}

	.blogbody .category { 
		text-align:left;
	}

	.blogbody .comments-body {
		color:#666;
		border-style:none;
		margin-left:25px;
	}

	.blogbody blockquote{
		margin:1em;
		padding:0.5em;
		border:1px solid #c0c0c0;
		background-color:#eeeeee;
		font-family: "ヒラギノ明朝 Pro W6", Osaka, "ＭＳ Ｐゴシック", trebuchet MS, trebuchet, verdana, arial, sans-serif; 
		color:#333;
		font-size:small;
		font-weight:normal;
	}

	.blogbody blockquote.monospace{
		font-family:"ＭＳ ゴシック",monospace;
		margin:1em;
		padding:0.5em;
		border:1px solid #c0c0c0;
		background-color:#eeeeee;
		color:#333;
		font-size: 0.9em;
	}
