body {
	background-color: #e1e1e2;
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
	font-size: 1.0em;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
p {
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	line-height: 1.0em;
	font-size: 1.0em;
	margin: 0px; /* otherwise paragraph margin top is always outside the box */
	padding: 0px;
}
h1, h2, h3, h4, li {
	margin: 0px;
	padding: 0px;
}
#content {
	width: auto;
	background-color: white; /* page background */
	margin: 0px 160px 0px 160px;
	z-index: 4;
}
#header, #footer {
	position: relative;
	text-align: center;
	margin: 0px;
}
#header {
	height: 108px;
	padding: 0px;
	z-index: 1;
}
#footer {
	height: 50px;
	padding: 10px;
	visibility: hidden;
	line-height: 0.9em;
	font-size: 0.9em;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	z-index: 5;
}
#left, #right {
	background-color: white; /* page background */
	position: absolute;
	top: 108px;
	width: 160px;
}
#left {
	left: 5px;
	z-index: 2;
}
#right {
	right: 5px;
	z-index: 0;
}
.headbg {
	text-align:left;
	/* could put this in headinclude */
	background: url(/forums/images/misc/header_background.gif);
}
.pnavbar {
	font-size: 11px;
	font-weight: bold;
}
.block {
	padding: 0px;
	border: 5px solid white; /* page background */
	border-top: 0px;
	border-bottom: 10px solid white; /* page background */
	margin: 0px;
}
.blockheader {
	/* could put this in headinclude */
	background: #869bbf url(/forums/images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #ffffff; /* category strips */
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	padding: 3px;
	border: 0px solid #869bbf; /* category strips */
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.blockcontent, .altblockcontent {
	color: #000000; /* first alt font colour */
	font-size: 10px;
	margin: 0px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.blockcontent {
	background-color: #e1e4f2; /* first alt */
	border: 1px solid #0b198c; /* table border extra css */
	padding: 0px;
}
.blockfooter {
	background-color: #3e5c92; /* table footer */
	color: #ffffff; /* table footer font colour */
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	margin: 0px;
	padding: 0px;
	border: 2px solid #3e5c92; /* table footer border */
	border-top: 0px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.blockfooter a:link {
	color: #ffffff; /* table footer font colour */
	text-decoration: none;
}
.blockfooter a:visited {
	color: #ffffff; /* table footer font colour */
	text-decoration: none;
}
.textrow, .blockform, .boxform, .loginform {
	font-size: 10px;
	margin: 0px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.textrow {
	padding: 2px 2px;
	/* position: relative; */
}
.blockform, .loginform {
	padding: 0px;
}
.boxform {
	padding: 2px;
}
.newsfeed {
	text-align: center;
	margin: 0px;
	padding: 2px;
}
.gogif {
	padding: 0px 3px 0px 3px;
	margin: 0px;
}
hr {
	display: block;
	height: 2px;
	line-height: 2px;
	background-color: #d1d1e1; /* table border */
	color: #000;
	width: 80%;
	margin: 0px auto 5px auto;
	padding: 0;
}
.hr hr {
	display: none;
}
.alturl {
	white-space: nowrap;
}
.alturl a:link {
	text-decoration: none;
}
.alturl a:visited {
	text-decoration: none;
}
.alturl a:hover, .alturl a:active {
	text-decoration: underline;
}
