<STYLE TEXT="text/css">
<!-- 

H1 
{
	font : 16pt tahoma;
	color: #FFAA00;
	text-align: center;
	text-decoration: underline;
}

H2 
{
	font : 12pt tahoma; 
	color: #FFFF00;
	text-align: left;
	text-decoration: none;
}
H3 
{
	font : 12pt tahoma; 
	color: #FF0000;
	text-align:left;
	text-decoration: underline;	
}
H4
{
	font : 10pt arial;
	color: #aaaaff;
	text-align: left;
}
H5 
{
	font - size: 8pt; 
	color: #FF0000;
	text-align=center;
}
H6
{
	font : 10pt arial;
	color: #aaaaff;
	text-align: left;
	font-style: italic;
}

a :link 
{
	font-weight: demi-light;
	text-decoration: none;
}

.nav
{
	margin-left : 1px;
	background : #000000;
	color : #FFFF00;
	font : 8pt arial;
	text-decoration : none;
}

.nav :hover
{
	margin-left : 1px;
	background : #000000;
	color : #FF0000;
	font : 8pt arial;
	text-decoration : none;
}
.page
{
	font : 10pt arial;
	margin-left : 1px;
	background : #000000;
	color : #FFFF00;
	text-decoration : none;
}
.page :hover
{
	font : 10pt arial;
	margin-left : 1px;
	background : #000000;
	color : #FF0000;
	text-decoration : none;
}
.spell
{
 	margin-left : 1px;
	background : #000000;
	font : 8pt arial;
	text-decoration : none;
}

-->
</STYLE>