div.pgTopFive {
	width:142px;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
	padding:4px;
	margin:0px;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:10px;
	background-color:#7A5936;
	color:#FFFFFF;
	}
.pgTopFive a:link {
	color:#FFC432;
	text-decoration:none;
	font-weight: normal;
	}
.pgTopFive a:visited {
	color:#FFC432;
	text-decoration:none;
	font-weight: normal;
	}
.pgTopFive a:hover {
	color:#FFE452;
	text-decoration:underline;
	font-weight: normal;
	}

span.pgTopFiveHead {
	font-size:12px;
	font-weight:bold;
	color:#FFC432;
}

span.pgTopFiveType {
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}

ol.pgTopFiveList {
	margin-top:8px;
	margin-left:20px;
	margin-bottom:8px;
	marker-offset:0px;
	list-style-type:decimal;
	padding:0px;
	}