BODY {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.navtext {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	color: #CDD4F3;
}
.nava, .nava:link, .nava:visited, .nava:active {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFCC;
	text-decoration: none;
}
.nava:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
.navbold, .navbold:link, .navbold:visited, .navbold:active {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFCC;
	text-decoration: none;
}
.navbold:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
