body { color: #ffffff; font: 14px Arial, san-serif; }

a:link { color: #00ff00; font: 14px Arial, san-serif; font: bold; text-decoration: none; }
a:active { color: #ff0000; font: 14px Arial, san-serif; font: bold; text-decoration: none; }
a:visited { color: #00ff00; font: 14px Arial, san-serif; font: bold; text-decoration: none; }
a:hover { color #ff0000; font: 14px Arial, san-serif; font: bold; text-decoration: underline; }

.news { color: #ffffff; font: 14px Arial, san-serif; text-decoration: none; }
.news:link { color: #00ff00; font: 14px Arial, sans-serif; font-style: italic; font-weight: bold; text-decoration: none; }
.news:active { color: #ff0000; font: 14px Arial, sans-serif; font-style: italic; font-weight: bold; text-decoration: none; }
.news:visited { color: #00ff00; font: 14px Arial, sans-serif; font-style: italic; font-weight: bold; text-decoration: none; }
.news:hover { color: #ff0000; font: 14px Arial, sans-serif; font-style: italic; font-weight: bold; text-decoration: underline; }

.menuleft { color: #6699dd; font: 18px Arial; font: bold; text-decoration: none; }
.menuleft:link { color: #6699dd; font: 18px Arial; font: bold; text-decoration: none; }
.menuleft:visited { color: #6699dd; font: 18x Arial; font: bold; text-decoration: none; }
.menuleft:active { color: #ff0000; font: 18px Arial; font: bold; text-decoration: underline; }
.menuleft:hover { color: #ff0000; font: 18px Arial; font: bold; text-decoration: underline; }

.newsdate { color: #0099ff; font: 14px Verdana, Arial, Helvetica, sans-serif; }
.counter { color: #555555; font: 10px Verdana, Arial, Helvetica, sans-serif; }

.newsdude { color: #ffff00; font: 14px Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; }
.newsdude:link { color: #ffff00; font: 14px Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; }
.newsdude:visited { color: #ffff00; font: 14px Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; }
.newsdude:active { color: #ffff00; font: 14px Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; }
.newsdude:hover { color: #f00f00; font: 14px Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; text-decoration: underline; }
