a:link			{ color: white; font-weight: bold; }
a:visited		{ color: white; font-weight: bold; }
a:hover			{ color: yellow; font-weight: bold; }
a:active		{ color: white; font-weight: bold; }
a			{ text-decoration: none }

body			{
			background-color: black;
			color: white;
			font-weight: bold;
			text-align: center;
			font-size: 90%;
			font-family: Trebuchet MS; 
			scrollbar-arrow-color: #FFFFFF; 
			scrollbar-shadow-color: #FFFFFF; 
			scrollbar-highlight-color: #FFFFFF; 
			scrollbar-track-color: #FFFFFF; 
			scrollbar-face-color: #000000;
			}

		
#box			{
			width: 200px;
			height: 605px;
			background: #000000;
			border: 1px solid #FFFFFF;
			}
			
#if			{
			width: 800px;
			height: 603px;
			background: #000000;
			border: 1px solid #FFFFFF;
			}