.header { background-color: #660033; border-top: 3px solid #000000; border-left: 3px solid #000000; border-right: 3px solid #000000; border-bottom: 1px solid #000000; }
.search { background-color: #660033; border: 0px solid #333366; }
.searchbutton{ background-color: #660033; font-size: 11px; font-weight: bold; color: #FFFFCC; border: 0px #00000; width: 30px; height: 21px; }
.fontsearch { font-family: Verdana; font-size: 11px; font-weight: bold; color: #FFFFCC; }
.main { background-color: #CCCCCC; border-left: 3px solid #000000; border-right: 3px solid #000000; }
.navpage { background-color: #EED59C; margin: 3px; border: 1px solid #000000; }
.navpage a:link { font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000; }
.navpage a:hover { font-family: Verdana; font-size: 11px; font-weight: bold; color: #990000; }
.navpage a:visited { font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000; }
.navpage2 { font-family: Verdana; font-size: 11px; font-weight: bold; color: #660033; }
.navpage3 { font-family: Verdana; font-size: 11px; font-weight: normal; color: #660033; }
.featured { background-color: #EED59C; border-right: 3px solid #000000; border-left: 3px solid #000000; border-bottom: 1px solid #000000; }
.featuredfont { font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000; }
.products { background-color: #FFFFFF; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; margin-bottom: 6px; }
.products a:link { font-family: Verdana; font-size: 11px; font-weight: bold; color: #333333; }
.products a:hover { font-family: Verdana; font-size: 11px; font-weight: bold; color: #990000; }
.products a:visited { font-family: Verdana; font-size: 11px; font-weight: bold; color: #333333; }
.number { background-color: #660033; border: 1px solid #000000; margin-bottom: 2px; }
.number a:link { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.number a:hover { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFCC00; text-decoration: none;}
.number a:visited { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.navnumber { font-family: Verdana; font-size: 10px; font-weight: bold; color: #EED59C; text-decoration: none;}
.letter { background-color: #660033; border: 1px solid #000000; margin-bottom: 2px; }
.letter a:link { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.letter a:hover { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFCC00; text-decoration: none;}
.letter a:visited { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.footer { background-color: #EED59C; border-left: 3px solid #000000; border-right: 3px solid #000000; border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
.footer a:link { font-family: Verdana; font-size: 8px; font-weight: bold; color: #000000; text-decoration: none;}
.footer a:visited { font-family: Verdana; font-size: 8px; font-weight: bold; color: #000000; text-decoration: none;}
.footerfont1 { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; }
h1 { font-family: Verdana; font-size: 13px; font-weight: bold; color: #000000; }
h2 { font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000; }
.manufacturer { font-family: Verdana; font-size: 10px; color: #666666; }
.description { font-family: Verdana; font-size: 11px; color: #000000; }
.name { font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000; }
.img { border:1px solid #000000}
.navbar { background-color: #EFEFEF; border-left: 3px solid #000000; border-right: 3px solid #000000; border-bottom: 1px solid #000000; }
.navbar a:link { font-family: Verdana; font-size: 10px; font-weight: bold; color: #000000; text-decoration: none;}
.navbar a:hover { font-family: Verdana; font-size: 10px; font-weight: bold; color: #990000; text-decoration: none;}
.navbar a:visited { font-family: Verdana; font-size: 10px; font-weight: bold; color: #000000; text-decoration: none;}
.navbar1 { font-family: Verdana; font-size: 10px; font-weight: bold; color: #000000; }
.navfont { font-family: Verdana; font-size: 10px; font-weight: bold; color: #FFFFFF; }
.searchresults { background-color: #FFFFFF; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; margin-bottom: 6px; }
.searchresults a:link { font-family: Verdana; font-size: 11px; font-weight: bold; color: #333333; }
.searchresults a:hover { font-family: Verdana; font-size: 11px; font-weight: bold; color: #990000; }
.searchresults a:visited { font-family: Verdana; font-size: 11px; font-weight: bold; color: #333333; }