body           { background-color: #000000; background-image: url(images/eq_bg.png); color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
a:link         { color: #5bd3ff; background-color: #000000; text-decoration: underline; }
a:visited      { color: #00ce6b; background-color: #000000; text-decoration: underline; }
a:active       { color: #00ce6b; background-color: #000000; text-decoration: underline; }
a:hover        { color: #39b1dd; background-color: #000000; text-decoration: underline; }
a.elelink:link { color: inherit; }
a.elelink:visited { color: inherit; }
a.elelink:active { color: inherit; }
a.elelink:hover { color: inherit; }
table.standard { width: 600px; padding: 0; margin-left: auto; margin-right: auto; font-size: 10pt; }
table.mob      { width: 600px; padding: 0; margin-left: auto; margin-right: auto; font-size: 10pt; }
table.npc      { float: left; margin-right: 10px; margin-bottom: 5px; padding: 0; font-size: 10pt; }
td.mobimg      { width: 305px; vertical-align: top; margin: 0; padding: 0; }
td.mobdata     { width: 295px; vertical-align: top; margin: 0; padding: 0; }
div.imgcred    { font-size: 7.5pt; text-align: center; }
div.imgpair    { text-align: center; }
img.a          { display: block; margin-left: auto; margin-right: auto; text-align: center; }
div.center     { text-align: center; }
div.nav        { font-size: 8pt; text-align: center; }
div.pagehead   { font-size: 30pt; font-weight: bold; text-align: center; }
div.bighead    { font-size: 18pt; font-weight: bold; text-align: center; color: #ff0000; background-color: #000000; }
span.secthead  { font-size: 14.5pt; font-weight: bold; color: #ff0000; background-color: #000000; }
span.minorhead { font-size: 13.5pt; color: #ff0000; background-color: #000000; }
span.subhead   { font-size: 12pt; color: #ff0000; background-color: #000000; }
span.smhead    { font-size: 10pt; color: #ff0000; background-color: #000000; }
div.conv       { font-size: 10pt; margin-left: 5%; margin-right: 5%; }
span.npctalk   { color: #aaaaff; background-color: #000000; }
span.pctalk    { color: #aaaaaa; background-color: #000000; }
span.expgain   { color: #dddd80; background-color: #000000; }
span.npc       { color: #aaaaff; background-color: #000000; font-weight: bold; }
span.item      { color: #ffff80; background-color: #000000; font-weight: bold; }
span.spell     { color: #ff0000; background-color: #000000; font-weight: bold; }
span.zone      { color: #aaffaa; background-color: #000000; font-weight: bold; }
span.if        { color: #6666ff; background-color: #000000; }
span.update    { font-weight: bold; text-decoration: underline }
