/* @(#)style16.css	1.0 09/13/01 */
A:hover {color: #D60000; font-weight:normal;}

/* STYLE 16 */
.headline16 { text-overflow : ellipsis;white-space: nowrap; overflow: hidden; width: 250px; font-family:arial, helvetica, sans-serif; font-size:10.5pt; font-weight: normal;}
.time16 {  font-family:arial, helvetica, sans-serif; font-weight: normal;} 
.bul16 { color:424b71; font-family:arial, helvetica, sans-serif; font-weight: normal;}