A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: #0000FF;
}
A:visited { 
  color: #0000FF;
}
A:active {
  color: #0000FF;
}
A:HOVER { 
  color: #FF0000;
  background-color: ;
}

.onbody {
  color: #FFFF00; 
}
.onbody A:link {
  color: #FFFF00;
}
.onbody A:visited {
  color: #FFFF00;
}
.onbody A:active {
  color: #FFFF00;
}
.onbody A:hover {
  color: #ffffff;
}

BODY,P,TABLE,TD,TR {   
  font-size: 9pt;
  color: #ffffff;
  font-family: Verdana, Helvetica, sans-serif;
}
FORM {
  display: inline;
  margin-bottom: 0;
}
BODY {
  background: #081429;
}
PRE {
  font-size: ;
  font-family: ;
}

.tableborders {
  background: #323F53;
}

.tddetails {
    background: #323F53;
}

.tdbackground {
  font-size: 9pt;
  font-weight: ;
  color: #ffffff;
  background: #2C3749;
  font-family: Verdana, Helvetica, sans-serif;
}

.tdnothumbs {
  font-size: 9pt;
  font-weight: ;
  color: #000000;
  background: #3A485F;
  font-family: Verdana, Helvetica, sans-serif;
}

.menubar{
  background: #3A485F;
  font-size: 8pt;
  color: #FFFFFF;
}
.menubar A:link {
  color: #FFFFFF;
}
.menubar A:visited {
  color: #FFFFFF;
}
.menubar A:active {
  color: #FFFFFF;
}
.menubar A:hover {
  color: #00FF00;
}


.navigation{
  background: #DEDFDF;
  color: #000000;
  font-size: 8pt;
  font-family: Verdana, Helvetica, sans-serif;
}

.new {
  font-size: ;
  color:     ;
}

.catcolumn {
  font-size: 8pt;
  font-style: ;
  text-align: ;
  background: #43547C;
}

.photocol {
  font-size: 8pt;
  font-style: ;
  text-align: ;
  background: #3A4A6D;
}

.commentscol {
  font-size: 8pt;
  font-style: ;
  text-align: ;
  background: #43547C;
}

.lastphocol {
  font-size: 8pt;
  font-style: ;
  text-align: ;
  background: #3A4A6D;
}

.lastcommcol {
  font-size: 8pt;
  background: #43547C;
  color: ;
}

.small {
  font-size: 8pt;
  font-family: Verdana, Helvetica, sans-serif;
}
.medium {
  font-size: 10pt;
  font-family: Verdana, Helvetica, sans-serif;
}
.large {
  font-size: 12pt;
  font-family: Verdana, Helvetica, sans-serif;
}

.welcome {
  background: ;
  font-family: Verdana, Helvetica, sans-serif;
  color: #FFFFFF;
}

.forumtitle {
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: #f7f7f7;
  color: #000000;
}
.darktable {
  background: #F7F7F7;
  color: #000000;
}
.cleartable {
  font-size: 8pt;
  background: #F7F7F7;
}
.alternatetable {
  background: #DEDEDE;
  color: #000000;
}
.subjecttable {
  background: #DEDFDF;
  color: #000000;
}
.footertable {
  background: #FFFFFF;
}                          
.formboxes{
  font-family: ;
  background-color: ;
  color: ;
  font-size: 9pt;
}
.buttons {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DEDFDF;
  color: #000000;
  font-size: 9pt;
}

blockquote {
   font-size:9pt; border:1px solid #E6E6E6;
   margin:0px 20px; padding:0px 10px
}
blockquote .small {
   background:#E6E6E6;
   margin-left:-10px; padding:1px 2px
}
blockquote hr {
   visibility:hidden;
   height:1px
}
blockquote br {
   font-size:1px
}

