#search {background-image:url('/images/T18/imageslots/slotA/Dartboard_A0001.jpg')}
#pg2 #search {background-image:url('/images/T18/imageslots/slotD/Dartboard_D0001.jpg')}
#search .imgtext {background-image:url('/images/T18/imageslots/slotB/Dartboard_B0001.gif')}
#header .logo {background-image:url('/images/T18/imageslots/slotC/Dartboard_C0001.gif')}

/* --------------------------- */

* {padding:0; margin:0}
BODY {text-align:center;font-size:11px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#777;background-color:#EEE;}

#banner120x600a {margin:4px 3px}
#banner300x250a {text-align:center}

#wrap1 {background:transparent url('/images/T18/keylime_0001/0001.gif') repeat-x;padding:20px 0;}
#wrap5 {margin:0 auto;text-align:left; width:767px;}

#topbdr1 .ln1, #botbdr1 .ln1 {margin:0 7px;height:1px;background-color:#999}
#topbdr1 .ln2, #botbdr1 .ln2 {margin:0 5px;height:1px;border-width:0 2px;border-style:solid; border-color:#999; background-color:#FFF;}
#topbdr1 .ln3, #botbdr1 .ln3 {margin:0 4px;height:1px;border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}
#topbdr1 .ln4, #botbdr1 .ln4 {margin:0 3px;height:1px;border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}
#topbdr1 .ln5, #botbdr1 .ln5 {margin:0 2px;height:1px;border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}
#topbdr1 .ln6, #botbdr1 .ln6 {margin:0 1px;height:2px;border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}
#topbdr1 .ln7, #botbdr1 .ln7 {margin:0;height:1px;border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}

#cntbdr1 {border-width:0 1px;border-style:solid; border-color:#999; background-color:#FFF;}

#header {line-height:15px; padding:0 15px;margin-bottom:7px;}
#header .logo {height:50px;width:50px; background-repeat:no-repeat;background-position:center;background-color:transparent;}
#header .logo IMG {height:50px;width:50px;}
#header .title {padding-left:5px;vertical-align:bottom;padding-bottom:10px;}
#header .title A {text-decoration:none;}
#header .title H1 {font-size:11px;font-weight:normal;color:#666}
#header .title SPAN {display:block;font-size:20px;font-weight:bold;font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;text-transform:uppercase;color:#68D055;}
#header .sale {vertical-align:bottom;padding-bottom:10px;font-size:10px;line-height:12px; text-align:right;}
#header .sale A:link, #header .sale A:visited, #header .sale A:active, #header .sale A:hover {color:#FF8000;} 

#topnav {padding-bottom:1px;border-bottom:1px solid #999;background:url('/images/T18/keylime_0001/0006.jpg');}
#topnav DIV {text-align:center; border-bottom:1px solid #090;background:#68D055;}
#topnav DIV DIV {border-width:0;}
#topnav TABLE {margin:auto;}
#topnav A:link, #topnav A:visited, #topnav SPAN {display:block;padding:4px 14px;font-weight:bold;text-decoration:none;font-size:12px;font-family: Arial, Helvetica, sans-serif;color:#FFF;}
#topnav A:active, #topnav A:hover {background:#0A7ACD;}

#footer {padding-top:1px;border-top:1px solid #999; padding-bottom:0;background:url('/images/T18/keylime_0001/0006.jpg');}
#footer DIV {background:#68D055; border-top:1px solid #090; padding-top:0; padding-bottom:0;}
#footer DIV DIV {border-width:0}
#footer TD {padding:4px 6px;}
#footer .goto {text-align:left; width:100%}
#footer .goto A:link, #footer .goto A:visited, #footer .goto A:active, #footer .goto A:hover, #footer .goto SPAN {color:#FFF; font-size:10px; display:block; text-decoration:underline}
#footer .power {text-align:right;}
#footer .power SPAN {background:url('/images/T18/keylime_0001/0007.gif') no-repeat; width:116px; height:15px; display:block;}
#footer .power IMG {width:116px; height:15px;}

#cntbody .lftclm {vertical-align:top; width:188px; padding:1px; background-color:#F8F8F8}
	#pg3 #cntbody .lftclm {display:none;}
#cntbody .lftclm .clmhd {height:26px;margin-bottom:1px; background:#eee url('/images/T18/keylime_0001/0002.gif') no-repeat;}
#cntbody .midclm {vertical-align:top;border-left:1px solid #999;}
	#pg3 #cntbody .midclm {border-left:0;}
#cntbody .midclm {background:url('/images/T18/keylime_0001/0004.gif') repeat-x 0 157px;}
	#pg2 #cntbody .midclm {background:url('/images/T18/keylime_0001/0004.gif') repeat-x 0 100px;}
	#pg3 #cntbody .midclm {background:url('/images/T18/keylime_0001/0004.gif') repeat-x 0 -3px;}
#cntbody .rhtclm {vertical-align:top;width:126px; padding:1px; border-left:1px solid #999; background-color:#F8F8F8;}
	#pg3 #cntbody .rhtclm {display:none;}
#cntbody .rhtclm .clmhd {height:26px;margin-bottom:1px; background:#eee url('/images/T18/keylime_0001/0003.gif') no-repeat;}

#lftnav A:link, #lftnav A:visited {margin-top:1px;padding:4px 4px 4px 8px;font-weight:bold;text-decoration:none;font-size:11px;font-family:Arial, Helvetica, sans-serif;display:block;border-style:solid;border-width:0px 1px 1px 6px;border-color:#FFF #B7B7B7 #D7D7D7 #68D055;color:#0A7ACD;background-color:#FFF;}
#lftnav A:active, #lftnav A:hover {border-left-color:#0A7ACD;color:#FF8000; background:#FFF}

#search {text-align:center; width:447px;height:28px; padding-top:129px; background-repeat:no-repeat;background-position:bottom;background-color:transparent;}
	#pg2 #search {text-align:center; width:447px;height:28px; padding-top:72px; background-repeat:no-repeat;background-position:bottom;background-color:transparent;}
#search TABLE {margin-left:auto; margin-right:auto;}
#search .imgtext {height:20px;width:133px; background-repeat:no-repeat;background-position:bottom;background-color:transparent;}
#search .textbox {width:245px;}
#search .submit {width:33px;height:22px;margin-left:3px; background: transparent url('/images/T18/keylime_0001/0005.gif') no-repeat;}

#copy {color:#999;font-size:10px; padding:5px 15px 15px 15px;}

/* --------------------------- */

#featured {padding:15px;}
#featured TD {vertical-align:top;}
#featured .title H2 {font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;font-size:20px;color:#0A7ACD;background:url('/images/T18/keylime_0001/0008.gif') no-repeat 0 5px; padding:0 0 0 26px; line-height:30px;}
#featured .date {color:#999;font-size:10px;line-height:30px; text-align:right}
#featured TD DIV {padding:7px 4px 0px 18px;background:url('/images/T18/keylime_0001/0009.gif') no-repeat 4px 10px;}
#featured A:link, #featured A:visited {font-size:11px;font-weight:bold;text-decoration:underline;color:#FF8000;}
#featured A:active, #featured A:hover {color:#E05104;}

#directory {padding:15px;}
#directoryhd TD {padding:0;vertical-align:top;}
#directorycnt TD {padding:10px 15px 0px 27px;vertical-align:top;background:url('/images/T18/keylime_0001/0010.gif') no-repeat 4px 10px;}
#directory H2 {font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;font-size:20px;color:#0A7ACD;background:url('/images/T18/keylime_0001/0008.gif') no-repeat 0 5px; padding:0 0 0 26px; line-height:30px;}
#directory P {color:#888;line-height:normal;}
#directory H3, #directorycnt H3 A:link, #directorycnt H3 A:visited {font-size:12px;text-decoration:underline;color:#68D055;}
#directory H3 A:active, #directorycnt H3 A:hover {color:#FF8000}
#directory A:link, #directorycnt A:visited {font-size:11px;text-decoration:underline;color:#667C8E;}
#directory A:active, #directorycnt A:hover {color:#FF8000;}

/* --------------------------- */

#searchhead {margin:15px;}
#searchhead H2 {font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;font-size:17px;color:#FF8000;}
#searchhead H2 SPAN {color:#0A7ACD;}

#sponsored {font-size:12px; margin:15px; padding:5px; border:1px solid #CCC; background-color:#F0F9EA}
#sponsored A:link, #sponsored A:visited {font-size:12px;color:#0A7ACD;font-weight:bold}
#sponsored A:active, #sponsored A:hover {color:#FF8000}
#sponsored .sitename {color:#090;font-size:12px;}
#sponsored .info {color:#999;font-size:12px;}

#alsotry {margin:15px;background:url('/images/T18/keylime_0001/0010.gif') no-repeat left top; padding-left:20px;}
#alsotry A:link, #alsotry A:visited {font-size:12px; color:#0A7ACD;}
#alsotry A:active, #alsotry A:hover {color:#FF8000}

#listings {margin:15px;}
#listings UL {list-style-type:none; padding:0;font-size:13px;}
#listings LI {margin:15px 0}
#listings A:link, #listings A:visited {font-size:12px;color:#0A7ACD;}
#listings A:active, #listings A:hover {color:#FF8000}
#listings .sitename {color:#090;font-size:12px;}
#listings .info {color:#999;font-size:12px;}

#nextprev {margin:15px;font-weight:bold;color:#BBB;cursor:default;}
#nextprev .lft DIV {background:url('/images/T18/keylime_0001/0011.gif') no-repeat left; padding:5px 20px;text-decoration:underline}
#nextprev .rht DIV {text-align:right; background:url('/images/T18/keylime_0001/0010.gif') no-repeat right; padding:5px 20px;text-decoration:underline}
#nextprev A:link, #nextprev A:visited {color:#0A7ACD;}
#nextprev A:active, #nextprev A:hover {color:#FF8000;}

/* --------------------------- */

#emailresults {margin:15px;}
#emailresults DIV {font-size:11px;font-weight:bold;padding:7px 4px 0px 18px;color:#E02A00;background:url('/images/T18/keylime_0001/0009.gif') no-repeat 4px 10px;}
#emailresults P {font-size:12px;font-weight:bold;text-align:center;color:#0A7ACD;}
#emailresults P A:link, #results P A:visited {font-size:12px;text-decoration:underline;color:#FF8000}
#emailresults P A:active, #results P A:hover {color:#68D055;}

#emailtitle H2 {font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;font-size:20px;color:#0A7ACD;background:url('/images/T18/keylime_0001/0008.gif') no-repeat 0 5px; padding:0 0 0 26px; line-height:30px;}
#emailtitle {margin:15px 40px}
#emailtitle .date {color:#999;font-size:10px;line-height:30px; text-align:right}

#emailform {margin:15px 40px 30px 40px;}
#emailform TD, TH {padding:3px;}
#emailform TH {width:150px; padding:3px 0; vertical-align:top}
#emailform .price {font-size:10px; color:#999}
#emailform .submit {background:url('/images/T18/keylime_0001/0012.gif') no-repeat;width:94px;height:22px;}
#emailform .cancel, #emailform .cancel IMG  {background:url('/images/T18/keylime_0001/0013.gif') no-repeat; display:block; width:64px; height:22px;margin-bottom:1px;}
#emailform .form01 {width:25%;}
#emailform .form02, #emailform .form03 {width:50%;}
#emailform .form05 {width:33%;}
#emailform .form06 {width:12%;}
#emailform .form07, #emailform .form08 {width:70%;}
#emailform .form09 {width:100%;}
