/* Style Sheet */
	#page {
		margin-left: auto;
		margin-right: auto;
		width: 900px;
	}
	#container {
		background-color: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		padding: 1px;
		margin-left: auto;
		margin-right: auto;
		width: 775px;
		color:#333;
		font-size: 13px;
		font-weight: bold;
		float: left;
	}
	/************** CONTENT **********/
		#content {	
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		#content TABLE {
			border: 1px solid #00679D;				
			clear:left;
			font-size: 18px;
			font-weight: normal;
			height:30px;
			font-family: Arial, Helvetica, sans-serif;
			margin-left: auto;
			margin-right: auto;	
		}		
		#content TH {
			background-color: #6699CC;
			border-bottom: 1px solid  #00679D;
			color: #FFFFFF;
			font-size: 16px;
			font-weight: bold;
			width:600px;
			padding: 2px;
		}
		#content TH A {
			color: #333333;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;	
		}
		#content TD {
			font-size: 12px;
			font-weight: 600;
			color: #0069B5;		
			vertical-align: top;
			padding: 3px;
		}
		#content INPUT.SUBMIT {
			background: url(images/default_submit_background.gif) no-repeat bottom left;
			border: none;
			font-size: 8px;
			font-weight: bold;
			height: 16px;
			width: 54px;
		}
		#content A {
			color: #0069B5;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;		
		}
		#content FONT {
			color: #333333;
			font-weight: normal;
		}
	/************** BANNER ************/
		#banner-top {
			margin-bottom: 5px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 900px;
		}
		#banner-right {
			margin-left: 5px;
			float:left;		
		}

	/************** HEADER ************/	
		#header { /**/
			background: url(images/default_header.gif) no-repeat top left;		
			background-color: #FFFFFF;
			height: 100px;
			margin: 0px;
		}
	/************** FORM ************/	
		#form { /**/
			color: #666666;
			font-size: 12px;
			font-weight: normal;
			text-align: center;
		}
		#form TABLE {
			background-color: #EEEEEE;
			width: 775px;
			margin: 0px;
			padding: 0px;			
		}
		#form A { /**/
			text-decoration: none;
		}
		#form A:hover {
			text-decoration: underline;
		}
	/************** INQUIRY ************/
		#inquiry {
			background: url(images/default_inquiry_background.gif) no-repeat top left;		
			color: #FFFFFF;
			font-size: 18px;
			font-weight: normal;
			height:30px;
		}
		#inquiry TABLE {
			padding-left: 0px;
			margin-top: 3px;
		}
		#inquiry TD {
			font-size: 12px;
			font-weight: bold;
			padding-left: 5px;
			vertical-align: center;	
		}
		#inquiry INPUT.TEXT {
			background: url(images/default_input_background.gif) bottom left;
			border: none;
			margin-left: 1px;
			width: 40px;
		}
		#inquiry INPUT.SUBMIT {
			background: url(images/default_submit_background.gif) no-repeat bottom left;
			border: none;
			color: #666666;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: normal;
			height: 16px;
			width: 54px;
		}
	/************** SEARCH ************/	
		#search {
			background: url(images/default_search_background.gif) no-repeat top left;			
			clear: left;
			color: #FFFFFF;
			height: 24px;
		}
		#search form {
			margin-top: 3px;
			padding: 0px 0px;
		}
		#search TD {
			padding-left: 20px;
			text-align: left;
		}
		#search INPUT.TEXT {
			background: url(images/default_input_background.gif) bottom left;
			border: none;
			margin-left: 10px;			
			width: 150px;
		}
		#search INPUT.SUBMIT {
			background: url(images/default_submit_background.gif) no-repeat bottom left;
			border: none;
			color: #666666;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: normal;
			height: 16px;
			width: 54px;
		}
	/************** SUGGESTIONS **********/
		#suggestions {
			padding-top: 10px;
		}
		#suggestions SPAN {
			color: #0069B5;		
			border-bottom: 1px solid #00679D;
			font-size: 16px;
			font-weight: bold;		
		}
		#suggestions TABLE {
			border-left:1px solid #00679D;
			border-bottom: 1px solid #00679D;
		}
		#suggestions A {
			color: #0069B5;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;
		}
		#suggestions A:hover {
			text-decoration: underline;
		}
		#generic,#related {
			background-color: #FFFFFF;
			float:left;
		}
		#generic SPAN, #related SPAN {
			border-bottom: 1px solid #00679D;
			color: #0069B5;
			font-size: 16px;
		}
		#generic TABLE,#related TABLE {
			border-left: 1px solid #00679D;	
			width: 363px;
		}
		#generic TD {
			border-bottom: 1px solid #00679D;
			padding: 12px;
		}
		#related TD {
			border: none;
			border-bottom: 1px solid #00679D;
			font-size: 12px;			
			padding:9px;			
		}
		#generic B {
			color: #0069B5;		
		}
		#generic A {
			font-size: 12px;
			font-weight: normal;
			color: #333333;
			text-decoration: none;
		}
		#related B {
			color: #0069B5;		
		}
		#related A {
			font-weight: normal;
			color: #333333;
			padding-left: 8px;
			text-decoration: none;
		}
		#generic A:hover, #related A:hover {
			text-decoration: underline;
		}
		#generic UL, #related UL {
			color: #666666;
			font-size: 12px;
			font-weight: bold;			
			list-style-type: square;
			padding:7px;
		}
		#generic LI, #related LI {
			line-height: 16px;
		}
	/************** SEARCH RESULTS **********/
		#results {
			margin-top: 5px;		
		}
		#paid {
			color: #333333;
			float: left;
			font-size: 11px;
			font-weight: normal;
			width: 600px;
		}
		#paid SPAN {
			border-bottom: 1px solid #00679D;
			color: #0069B5;
			font-size: 16px;
			font-weight: bold;		
		}
		#paid TABLE {
			border-left:1px solid #00679D;
		}
		#paid TD {
			padding: 13px;
		}
		.description {
			color: #333333;
			text-decoration: none;
			font-size: 11px;
			font-weight: normal;
		}		
		.result_row {
			border-bottom: 1px solid #00679D;
		}
		.result_row_alt {
			border-bottom: 1px solid #00679D;
		}
		#paid A {
			color: #0069B5;
			font-size: 12px;
			text-decoration: none;
		}
		#paid A:hover {
			text-decoration: underline;
		}	
		
		#result_href A {
			color: #000000;
			font-size: 12px;
			text-decoration: none;
			display:block;
			width: 100%;
		}

		#result_href A:hover {
			text-decoration: none;
			color: #000000;
			display:block;
			width: 100%;
		}	

		#results_full_width_link A {
			display:block;
			width: 100%;
			font-weight: bold;		
			text-decoration: underline;
		}

		#results_full_width_link A:hover {
			display:block;
			width: 100%;
			font-weight: bold;		
			text-decoration: underline;
		}
	/************* FOOTER ***********/	
		#footer {
			padding: 10px 20px;			
		}
		#footerleft {
			float:left;
			vertical-align:top;
		}
		#footerright {
			float:right;
			position:relative; top:-22px;
		}

/* End Style Sheet */
