BODY {
	background-color	: #222222;
	color			: #FFFFFF;
        scrollbar-face-color            : #222222;
        scrollbar-shadow-color          : #222222;
        scrollbar-highlight-color       : #383838;
        scrollbar-3dlight-color         : #222222;
        scrollbar-darkshadow-color      : #383838;
        scrollbar-track-color           : #222222;
        scrollbar-arrow-color           : #383838;
}

BODY,TD,TH {
	font-size		: 11px;
	font-family		: verdana, verdana, verdana;
	margin			: 0px 0px 0px 0px;
}

INPUT, SELECT {
	font-size		 : 10px;
	font-family		 : verdana, verdana, verdana;	
	background-color	 : #c0c0c0;
	color			 : #000000;
}

.terms
{
        color: c0c0c0;
        text-decoration: none;
}

.checkout
{
        font-size: 11px;
        color: #c0c0c0;
        background-color: #333333;
        border:1px solid #666666;
}

.admin
{
        filter:glow(color:#666666, strength=4);
	height:0px;
	width:inherit;
	color: #6699FF;
	text-decoration: none;
	
}

.guildname 
{
	filter:glow(color:#666666, strength=4);height:0px;width:inherit
}  

.servname
{
        filter:glow(color:#444444, strength=2);height:0px;width:inherit
}

.checkbox
{
	background-color	: #222222;
}

.count
{
	font-size		: 11px;
	font-family		: verdana, verdana, arial;
}

.news
{
	background: #333333;
	color: #c0c0c0;
	font 11px verdana, geneva, arial;
}

.filters
{
	background: #282828;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #383838;
}

.flags
{
	font: 11px verdana;
	text-align: center;
	border: 1px solid #333333;
}

TH {
	background-color	: #444444;
	text-align: left;
}

.title_count {
	text-align		: right;
}

TD { 
	color			: #CCCCCC; 
}

.guild {
	color			: #6699CC;
}

.guild A {
	text-decoration		: none;
	color			: #6699CC;
}

.header {
	background-color	: #272F38;
	padding-top: 0px;
}

.content {
	background-color	: #333333;
	padding-top		: 10px;
	padding-bottom		: 10px;
	padding-left		: 10px;
	padding-right		: 10px;
}

.odd {
	background-color: #292929;
}

A {
	color			: #6699FF;
}

H1 {
	font-size		: 16px;
	font-weight		: bold;
	display			: none;
}

H2 {
	font-size		: 16px;
	font-weight		: bold;
}

H5 {
	margin-top		: 15px;
	margin-bottom		: 15px;
	font-weight		: normal;
	font-size		: 12px;
}

.footer 
{
	padding-top		: 10px;
	padding-bottom		: 5px;
	font-family		: verdana;
	font-size		: 9px;
	text-align		: center;
	text-decoration		: none;
}

LI 
{
	padding-bottom		: 5px;
	font-weight		: bold;
}

.normal 
{
	font-weight		: normal;
}

#dhtmltooltip {
position: absolute;
width: 50px;
border: 1px solid c0c0c0;
padding: 2px;
background-color: #333333;
visibility: hidden;
z-index: 100;
}

.textbox 
{
	background-color: #222222;
	color: #c0c0c0;
	border: 1px solid #666666;
	font-size: 10px;
}

