.bannermoduletext{
		font-size: 10pt;
}
.bannermodulelink{ 
	font-size: 10pt; 
	font-weight: bold; 
	color: #CC0000; 
	text-decoration: none;
}
.areatitle{
	font-size: 8pt; 
	font-style: normal; 
	font-weight: 500; 
	text-transform: uppercase; 
	color: #E7E7F7; 
	text-decoration: none;
	font-family: "Arial Black", "Helvetica Black", sans-serif;
}
.pagetitle{
	font-size: 10pt; 
	font-style: normal; 
	line-height: 12pt; 
	font-weight: normal; 
	color: #000099; 
	text-decoration: none;
; text-transform: uppercase; font-family: "arial black"
}
.footertext{
	font-size: xx-small; 
	font-style: normal; 
	line-height: 15pt; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none;
}
.footerlink:active{
	font-size: xx-small; 
	font-style: normal; 
	line-height: 15pt; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none;
}
.menuheadingtext{
	font-size: x-small; 
	font-weight: 500; 
	text-transform: uppercase; 
	color: #FFFFFF; 
	text-decoration: none; 
	text-indent: 10px;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
}
.menuheadingtable{
	padding-top: 20; 
	padding-bottom: 20; 
	padding-left: 0; 
	padding-right: 0;
}
.menutext{
	text-decoration : none;
	color : #000099;
}
.menumouseover{
	font-size: x-small;
	font-style: normal;
	background-color: white;
	text-decoration: none;
	font-weight: normal;
	color: #000099
}
.menumouseout{
	font-size: x-small;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #000099;
}
.menulink:hover{
	background-color: white; 
	font-size: x-small; 
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; 
	text-indent: 15px; 
	color: #000099;
}
.menulink:link,.menulink:active,.menulink:visited{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: x-small; 
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; 
	text-indent: 15px; 
	color: #000099;
}
body,td,h1,h2,h3,h4,h5,h6{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000099;}

.aa:link,.aa:visited,.aa:active{
	color: #0033ff;
	font-weight: bold;
	font-size: 120%;
}
.majorlink { font-weight: bold; text-decoration: underline; color: #000099 }
th {  font-weight: bold; color: #000099; text-decoration: none; background-color: #CCCCEB; font-size: x-small}
.tablecellsodd { font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; font-weight: normal; color: #000099; ; background-color: #E7E7F7}
.tablecellseven { font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; font-weight: normal; color: #000099; ; background-color: #FFFFFF}

.footerlink:link { 
	font-size: xx-small; 
	font-style: normal; 
	line-height: 15pt; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none;
 } .footerlink:visited { 
	font-size: xx-small; 
	font-style: normal; 
	line-height: 15pt; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none;
 } .moduletext { font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; font-weight: normal; color: #FFFFFF; ; background-color: #3366CC}
.modulemajorlink { font-weight: bold; text-decoration: none; color: #FFFFFF; background-color: #3366CC}
.whereami { font-size: x-small; font-style: normal; line-height: normal; font-weight: normal; color: #000099; text-decoration: none; ; text-transform: capitalize}
.accountinfo {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; color: #000099; text-decoration: none}
.head {  font-family: "arial black"; font-weight: 500; text-decoration: none}
.newslettervolume { font-size: 9pt; font-style: normal; font-weight: 300; text-transform: none; color: #E7E7F7; text-decoration: none; font-family: "Arial Black", "Helvetica Black", sans-serif; }
.newsletterheading { font-size: medium; font-weight: 500; text-transform: none; text-decoration: none; white-space: nowrap ; border-color: #000099 black black; border-top-width: 1px}
.sponsor {  background-color: #E7E7F7; height: auto; width: 90%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border: 1px #000099 solid; position: relative; clip:  rect(   )}
.newsletterteaser {  height: auto; width: auto; background-color: #FF6666; padding-right: 15px}
.newsletterheadline {  font-size: x-small; font-weight: 600; text-transform: none; text-decoration: none}
whereamilink { font-family: verdana, arial, helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal; text-decoration: none; text-indent: 15px; color: #FFFFFF; }
