/* Style Sheet for Mortalis Guild website. 			
 URL : www.mortalis.com 					
 Date : 12th May 2002 			*/

/* START : Generic Formatting */

BODY {
	border: 0
}
	
/* END */

/* Start Standard Text Formatting */
.txt		{color: #FFFFFF;
		font-family: arial, helvetica, sans serif;
		font-size: 10pt}
.header		{color: #99CCFF;
		font-family: arial, helvetica, sans serif;
		font-weight: bold;
		font-size: 10pt}


/* END */

/* START : Href Formatting */
.link			{color: #FFFFFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size: 10pt;
		 	text-decoration: none}

.link:hover		{color: #99CCFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size : 10pt;
	 		text-decoration: none}

.sml			{color: #FFFFFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size: 8pt;
		 	text-decoration: none}
			
.sml:hover {color: #99CCFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size : 9pt;
	 		text-decoration: none}

.news			{color: #99CCFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size: 10pt;
			font-weight: bold;
		 	text-decoration: none}

.news:hover		{color: #FFFFFF;
		 	font-family: arial, helvetica, sans serif;
		 	font-size : 10pt;
			font-weight: bold;
	 		text-decoration: none}
			
.rolecall {
	color: #FFFFFF;
	font : 10px "Courier New", Courier, monospace;
	font-size:10pt;
	text-decoration:none
}
/* END */
