BODY				 { scrollbar-3dlight-color: #B2AA9C; scrollbar-arrow-color: #B2AA9C; scrollbar-darkshadow-color: #000000; scrollbar-face-color: #203A58; scrollbar-highlight-color: #B2AA9C; scrollbar-shadow-color: #000000; scrollbar-track-color: #264568 }

A:link				 { text-decoration: none; font-family: arial,verdana; font-size: 11px }
A:active			 { text-decoration: none }
A:visited			 { text-decoration: none }
A:hover				 { text-decoration: underline }

.textnav			 { color: #ffffff; font-family: arial,verdana; font-weight: normal; font-size: 11px }
.textnav:link	 	 { color: #B2AA9C; font-weight: normal }
.textnav:active	 	 { color: #B2AA9C; font-weight: normal }
.textnav:visited	 { color: #B2AA9C; font-weight: normal }
.textnav:hover	 	 { color: #6E6358; font-weight: normal }

.texthead			 { color: #203A58; font-family: arial,verdana; font-weight: bold; font-size: 13px }
.texthead:link	 	 { color: #B2AA9C; font-weight: bold }
.texthead:active	 { color: #B2AA9C; font-weight: bold }
.texthead:visited	 { color: #B2AA9C; font-weight: bold }
.texthead:hover	 	 { color: #203A58; font-weight: bold }

.textmain			 { color: #203A58; font-family: arial,verdana; font-weight: normal; font-size: 11px }
.textmain:link	 	 { color: #386599; font-weight: normal }
.textmain:active	 { color: #386599; font-weight: normal }
.textmain:visited	 { color: #386599; font-weight: normal }
.textmain:hover	 	 { color: #203A58; font-weight: normal }

.textwhite			 { color: #ffffff; font-family: arial,verdana; font-weight: normal; font-size: 11px }
.textwhite:link	 	 { color: #000000; font-weight: bold }
.textwhite:active	 { color: #000000; font-weight: bold }
.textwhite:isited	 { color: #000000; font-weight: bold }
.textwhite:hover	 { color: #000000; font-weight: bold }

.textheadm			 { color: #B2AA9C; font-family: arial,verdana; font-weight: bold; font-size: 12px }