.menu{
		Font-size: larger;
		Font-weight: Bold;
		Color: #ffffff;
		background-color: #778899;
		color:#ffffff;
		text-Decoration: None
		}
.menuLink{
		color:#ffffff;
		text-Decoration: None
		}
.subMenu{ 
	background-color: #2F2F4F;
	font-weight: Bold;
	font-size: smaller;
	width: 155px;
	 }
.subMenuLink{
	color:#FFFFCC;
	width: 155px;
	text-Decoration: None;
}
.navyBold {
		Color: #ffffcc;
		font-weight: bold;
		}
.TopicHead {
		Color: #ffffff;
		font-weight: bold;
		text-decoration: underline;
		}
BODY {
	background-color : #000000;
	font-family : Arial, Helvetica, sans-serif;
}
TABLE{
	background-color : #2F2F4F;
	color : #ffffff;
}
TR.header{
	background-color : #778899;
}
TD.header{
	color : #ffffff;
	font-weight : Bold;
	font-size : larger;
}
TD{
	color : #ffffff;
}
A{
	color: #ffffff;
}