@charset "iso-8859-1";

/*******************************************************************************
*  st_gargoyles_v4.css : 2004.08.30
* -----------------------------------------------------------------------------
*  Version 4  browser specific stylesheet (primarily for IE4 & NN4)
*
*  This CSS will be seen by all browsers. So it is important that everything
*  defined in this stylesheet is redefined in st_gargoyles.css. Otherwise we
*  run the risk of a v4 style cascading down to a  v5 or better browser, which
*  could break the layout.
*******************************************************************************/

a, a:link, a:visited, a:active
{
	color: #009;
	text-decoration: none;
}
a:hover
{
	color: #f00;
	text-decoration: none;
}
.clear
{
	clear: both;
}
#leftColumn .hide
{
	display: none;
}
body
{
	font-family: arial, helvetica, sans-serif;
	/*/*/	font-size: 80%;	/* */
	background-color: #fff;
	color: #000;	
}
#outerColumnContainer
{
	padding-left: 200px;
}
#leftColumn
{
	position: absolute;
	left: 0;
	top: 5px;
	width: 200px;
}
#leftColumn .inside
{
	padding: 0 5px;
}
.leftBlock
{
	margin: 10px;
}
.leftBlock ul, .leftBlock ul li
{
	margin: 0;
	list-style-type: none;
}
.leftBlock ul li
{
	padding-bottom: 5px;
}
#masthead h1
{
	font-size: 120%;
	text-align: right;
	margin: 0;
}
#masthead h2
{
	font-size: 200%;
	text-align: center;
	margin: 0;
}
.leftBlock h3
{
	font-size: 110%;
	margin-bottom: 0;
	padding-bottom: 0;
}
td, th
{
	vertical-align: top;
}
.bookmark
{
	float: right;
}
.bookmark a
{
	color: #000;
}
.bookmark img
{
	border-width: none;
}
.vnav ul, .vnav ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer
{
	text-align: center;
}

/*/*//*/
	body
	{
	}
	.leftBlock
	{
		margin: 0 10px 10px;
	}
	.leftBlock ul
	{
		margin: 0 0 0 -2em;
	}
	th, td, div
	{
		color: #000;
	}
	td a
	{
		color: #009;
	}
	.askLibraries td input
	{
		margin-top: 5px;
	}
	ul.nshnav, ul.nshnav li
	{
		list-style-type: none;
	}
	ul.nshnav
	{
		margin: 0 0 0 -2em;
	}
	ul.nshnav li
	{
		list-style: none;
		display: inline;
	}
	.vnav
	{
		margin: 0;
		padding: 0;
		margin-top: -1em;
	}
	#mainMenu 
	{
		margin-top: 1em;
	}

/* End NN4 Hacks */

/******************************************************************************/
