 BODY {
  font:				x-small Arial, Helvetica, sans-serif;
  background-color :		black;
  background-image :            url(/images/bkground.jpg);
  background-repeat: 		no-repeat;
  background-attachment:	fixed;
  background-position:		top center;
  font-family :			Arial, Helvetica, sans-serif;
  font-size :			x-small;
  color:			White;
 }

 TABLE.transparent {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
 }

 TABLE.novae {
//  border-collapse:	collapse;
  font:			x-small Arial, Helvetica, sans-serif;
  color:		white;
  text-align:		left;
 }

 TABLE.bkk {
  font:			x-small Arial, Helvetica, sans-serif;
  color:		white;
  text-align:		left;
 }

 TABLE.recrut {
  border:		thin solid #ff7f40;
//  border-collapse:	collapse;
  font:			x-small Arial, Helvetica, sans-serif;
  color:		white;
  text-align:		left;
 }

 TABLE.char {
  border:		thin solid #ff7f40;
 }

 TD.avatar {
  text-align:		center;
  width:		152px;
  height:		200px;
  border:		thin solid #ff7f40;
 }
 TD.profil {
  color:		white;
  background-color:	#2E2E2E;
  text-align:		center;
  width:		250px;
  height:		200px;
  font:			small Arial, Helvetica, sans-serif;
  border:		thin solid #ff7f40;
 }
 TD.story {
  color:		white;
  background-color:	#2E2E2E;
  text-align:		center;
  font:			x-small Arial, Helvetica, sans-serif;
  border:		thin solid #ff7f40;
 }

 DIV.table-title {
  font:			bold x-small Arial, Helvetica, sans-serif;
  color:		white;
  background-color:	black;
  text-align:		center;
 }
 TR.title {
  background-image:	url(/images/fond.jpg);
  font:			bold small Arial, Helvetica, sans-serif;
  text-align:		center;
 }
 TD.title {
  background-image:	url(/images/fond.jpg);
  font:			bold small Arial, Helvetica, sans-serif;
  text-align:		center;
 }

 TR.sub-title {
  background-image:	url(/images/fond.jpg);
  font:			bold xx-small Arial, Helvetica, sans-serif;
  text-align:		center;
 }
 TD.sub-title {
  background-image:	url(/images/fond.jpg);
  font:			bold xx-small Arial, Helvetica, sans-serif;
  text-align:		center;
 }

 TR.invalid-cell-header {
  color:		white;
  background-color:	#171717;
  font:			xx-small Arial, Helvetica, sans-serif;
 }
 TD.invalid-cell-header {
  color:		white;
  background-color:	#171717;
  font:			xx-small Arial, Helvetica, sans-serif;
 }

 TR.default-cell-header {
  color:		white;
  background-color:	#2E2E2E;
  font:			xx-small Arial, Helvetica, sans-serif;
 }

 TD.default-cell-header {
  color:		white;
  background-color:	#2E2E2E;
  font:			xx-small Arial, Helvetica, sans-serif;
 }

 TR.focused-cell-header {
  color:		white;
  background-color:	#454545;
  font:			xx-small Arial, Helvetica, sans-serif;
 }
 TD.focused-cell-header {
  color:		white;
  background-color:	#454545;
  font:			xx-small Arial, Helvetica, sans-serif;
 }

 TR.highlighted-cell-header {
  color:		white;
  background-color:	#C0C000;
  font:			xx-small Arial, Helvetica, sans-serif;
 }
 TD.highlighted-cell-header {
  color:		white;
  background-color:	#C0C000;
  font:			xx-small Arial, Helvetica, sans-serif;
 }

 TR.invalid-cell {
  color:		white;
  background-color:	#171717;
  text-align:		center;
 }
 TD.invalid-cell {
  color:		white;
  background-color:	#171717;
  text-align:		center;
 }

 TR.item {
  color:		white;
  background-color:	#2E2E2E;
  text-align:		left;
 }

 TR.default-cell {
  color:		white;
  background-color:	#2E2E2E;
  text-align:		center;
 }
 TD.default-cell {
  color:		white;
  background-color:	#2E2E2E;
  text-align:		center;
 }

 TR.focused-cell {
  color:		white;
  background-color:	#454545;
  text-align:		center;
 }
 TD.focused-cell {
  color:		white;
  background-color:	#454545;
  text-align:		center;
 }

 TR.highlighted-cell {
  color:		white;
  background-color:	#C0C000;
  text-align:		center;
 }
 TD.highlighted-cell {
  color:		white;
  background-color:	#C0C000;
  text-align:		center;
 }

 TR.dark-cell {
  color:		white;
  background-color:	#2E2E2E;
 }
 TD.dark-cell {
  background-color:	#2E2E2E;
 }

 TR.light-cell {
  background-color:	#454545;
 }
 TD.light-cell {
  background-color:	#454545;
 }

 DIV.error {font-weight: bold; text-align: center; color: red}
 DIV.info {color: yellow}
 DIV.pc {color: white; font-style: italic; margin-left: 1cm}
 DIV.npc {color: white; font-style: italic; margin-left: 2cm}
 DIV.image {margin-top: 5mm; margin-bottom: 5mm; text-align: center}
 DIV.note {color: white; font-style: italic; margin-left: 3cm; margin-right: 3cm; text-align: center}
 DIV.pfaction {color: green; font-style: italic; margin-left: 3cm}
 DIV.nfaction {color: red; font-style: italic; margin-left: 3cm}

 TABLE.legend {}

 TABLE.members {
//    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
 }
 TR.members {background-image: url(/images/fond.jpg); font-family: Arial, Helvetica, sans-serif; font-size: xx-small; color: #FFFFFF}

 TABLE.news {
//  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; font-size: xx-small;
 }
 TR.news {
  background-image: url(/images/fond.jpg);
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF; font-size: xx-small;
 }
 TD.news {}

 TR.char {background-color: #2E2E2E}
 TD.char {font-weight: bold}
 TD.command {font-family: Arial, Helvetica, sans-serif; font-size: xx-small}

 TR {font-size: x-small}
 TR.odd {background-color: #FFE5C0; color: #000000}
 TR.even {background-color: #F0E5C0; color: #000000}

 TD.title {  background-image: url(/images/fond.jpg); }

 a{
  font-family : Arial, Helvetica, sans-serif;
  color:#D7C163;
  text-decoration:underline;
 }

 a:hover{
  font-family : Arial, Helvetica, sans-serif;
  color:#FFB153;
  text-decoration:underline;
 }

 input.radio {background: F9F9F9; color:#000000}
 body,table,tr,td,textarea,select,input {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
 }

.chkbox{
	border: 1px;
}

 A.ssmItems:link         {color:#D7C163;text-decoration:none;}
 A.ssmItems:hover        {color:#FFB153;text-decoration:none;}
 A.ssmItems:active       {color:#D7C163;text-decoration:none;}
 A.ssmItems:visited      {color:#D7C163;text-decoration:none;}

