body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #CCCCCC; background-color: #000000;
scrollbar-face-color: #000000; 
scrollbar-shadow-color: #666666; 
scrollbar-highlight-color: #999999; 
scrollbar-3dlight-color: #6600CC; 
scrollbar-darkshadow-color: black; 
scrollbar-track-color: #000000; 
scrollbar-arrow-color: #999999; background-color: #000000}
a {  color: #FFFFFF; font-weight: normal}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #CCCCCC}
a:hover { color: #FFFFFF; text-decoration: underline overline; background-color: #6600CC}

p {  color: #CCCCCC}
