BODY {
	FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(images/eq_bg.png); COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
A:link {
	COLOR: #5bd3ff; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #00ce6b; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #00ce6b; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #39b1dd; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
A.elelink:link {
	
}
A.elelink:visited {
	
}
A.elelink:active {
	
}
A.elelink:hover {
	
}
TABLE.standard {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 600px; MARGIN-RIGHT: auto; PADDING-TOP: 0px
}
TABLE.mob {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 600px; MARGIN-RIGHT: auto; PADDING-TOP: 0px
}
TABLE.npc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; FLOAT: left; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
TD.mobimg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 305px; PADDING-TOP: 0px
}
TD.mobdata {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 295px; PADDING-TOP: 0px
}
DIV.imgcred {
	FONT-SIZE: 7.5pt; TEXT-ALIGN: center
}
DIV.imgpair {
	TEXT-ALIGN: center
}
IMG.a {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV.center {
	TEXT-ALIGN: center
}
DIV.nav {
	FONT-SIZE: 8pt; TEXT-ALIGN: center
}
DIV.pagehead {
	FONT-WEIGHT: bold; FONT-SIZE: 30pt; TEXT-ALIGN: center
}
DIV.bighead {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #ff0000; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
SPAN.secthead {
	FONT-WEIGHT: bold; FONT-SIZE: 14.5pt; COLOR: #ff0000; BACKGROUND-COLOR: #000000
}
SPAN.minorhead {
	FONT-SIZE: 13.5pt; COLOR: #ff0000; BACKGROUND-COLOR: #000000
}
SPAN.subhead {
	FONT-SIZE: 12pt; COLOR: #ff0000; BACKGROUND-COLOR: #000000
}
SPAN.smhead {
	FONT-SIZE: 10pt; COLOR: #ff0000; BACKGROUND-COLOR: #000000
}
DIV.conv {
	FONT-SIZE: 10pt; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%
}
SPAN.npctalk {
	COLOR: #aaaaff; BACKGROUND-COLOR: #000000
}
SPAN.pctalk {
	COLOR: #aaaaaa; BACKGROUND-COLOR: #000000
}
SPAN.expgain {
	COLOR: #dddd80; BACKGROUND-COLOR: #000000
}
SPAN.npc {
	FONT-WEIGHT: bold; COLOR: #aaaaff; BACKGROUND-COLOR: #000000
}
SPAN.item {
	FONT-WEIGHT: bold; COLOR: #ffff80; BACKGROUND-COLOR: #000000
}
SPAN.spell {
	FONT-WEIGHT: bold; COLOR: #ff0000; BACKGROUND-COLOR: #000000
}
SPAN.zone {
	FONT-WEIGHT: bold; COLOR: #aaffaa; BACKGROUND-COLOR: #000000
}
SPAN.sf {
	COLOR: #ff6666; BACKGROUND-COLOR: #000000
}
SPAN.if {
	COLOR: #6666ff; BACKGROUND-COLOR: #000000
}
SPAN.update {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
