<style>
.mstheme
{
	nav-banner-image: url(globanna.gif);
	separator-image: url(glohorsa.gif);
	list-image-1: url(globul1a.gif);
	list-image-2: url(globul2a.gif);
	list-image-3: url(globul3a.gif);


	navbutton-horiz-normal: url(glohbuda.gif);
	navbutton-horiz-hovered: url(glohbuha.gif);
	navbutton-horiz-pushed: url(glohbusa.gif);

	navbutton-vert-normal: url(glovbuda.gif);
	navbutton-vert-pushed: url(glovbusa.gif);
	navbutton-vert-hovered: url(glovbuha.gif);

	navbutton-home-normal: url(glohomda.gif);
	navbutton-home-hovered: url(glohomha.gif);
	navbutton-home-pushed: url(glohomsa.gif);

	navbutton-next-normal: url(glonexda.gif);
	navbutton-next-hovered: url(glonexha.gif);
	navbutton-next-pushed: url(glonexsa.gif);

	navbutton-prev-normal: url(glopreda.gif);
	navbutton-prev-hovered: url(glopreha.gif);
	navbutton-prev-pushed: url(glopresa.gif);

	navbutton-up-normal: url(gloupda.gif);
	navbutton-up-hovered: url(gloupha.gif);
	navbutton-up-pushed: url(gloupsa.gif);

}

.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(102,51,0);
	text-align: center;
	vertical-align: middle;
}
</style>.
