body		{
			font-family: MS UI Gothic;
			font-size: 10pt;
			color: #928A70;
			background-color: #1C0F09;
			scrollbar-face-color: #1C0F09;
			scrollbar-highlight-color: #1C0F09;
			scrollbar-shadow-color: #1C0F09;
			scrollbar-3dlight-color: #928A70;
			scrollbar-arrow-color: #928A70;
			scrollbar-track-color: #1C0F09;
			scrollbar-darkshadow-color: #928A70;
			scrollbar-width: 30
		}

table	{ font-family: MS UI Gothic; font-size: 10pt }

tr	{ font-family: MS UI Gothic; font-size: 10pt }

td	{ font-family: MS UI Gothic; font-size: 10pt }

a:visited 	{ text-decoration: none; color: #928A70 }

a:link 	{ text-decoration: none; color: #928A70 }

a:hover	{ text-decoration: none; color: #C8C4B7 }

a:active	{ text-decoration: none; color: #928A70 }

TEXTAREA	{
			background-color: #1C0F09;
			BORDER-RIGHT: #928A70 1px solid;
			BORDER-LEFT: #928A70 1px solid; 
			BORDER-BOTTOM: #928A70 1px solid;
			BORDER-TOP: #928A70 1px solid; 
			FONT-SIZE: 12px; 
			COLOR: #FFFFFF; 
		}
			
INPUT 		{
			background-color: #1C0F09;
			BORDER-RIGHT: #928A70 1px solid; 
			BORDER-LEFT: #928A70 1px solid; 
			BORDER-TOP: #928A70 1px solid; 
			BORDER-BOTTOM: #928A70 1px solid;
			FONT-SIZE: 12px; 
			COLOR: #FFFFFF; 
		}
