
.forum_list_header_entry    { background-color:#666666; }
.forum_list_header_author   { background-color:#666666; }
.forum_list_header_count    { background-color:#666666; }
.forum_list_header_date     { background-color:#666666; }
.forum_msg_header2          { background-color:#666666; }
.forum_header               { letter-spacing:0.1ex;font-weight:bold; }
.forum_msg_body             { border:2px solid #666666; }
.forum_jump                 { margin:2px;border:2px solid #666666; }
.forum_answer               { margin:2px; }
.forum_summary              { margin:2px; }

.voteBox                    { width:100%; margin-bottom:15px; border:1px solid #666666; }
.voteHeading                { background-color: #666666; font-weight:bold; }
.voteContent                { margin:0px; }
.voteResultPositive         { color:#ff0000; font-weight:bold; }
.voteResultNegative         { font-weight:bold; }
	