body {background-color : #94A6AD;}

.text { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E;}
.text A {text-decoration : none;}
.text A:link { color: #1E2A33 }
.text A:visited { color: #1E2A33 }
.text A:hover { color: #B42C29; }

.text2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E;}
.text2 A {text-decoration : none;}
.text2 A:link { color: #295489; }
.text2 A:visited { color: #295489; }
.text2 A:hover { color: #295489; text-decoration : underline; }

.text3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E;}
.text3 A {text-decoration : underline;}
.text3 A:link { color: #295489;}
.text3 A:visited { color: #295489;}
.text3 A:hover { color: #295489;}

.title { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #F4EEEE;}
.title  A {text-decoration : none;}
.title  A:link { color: #B42C29; }
.title  A:visited { color: #B42C29; }
.title  A:hover { color: #B42C29; }

.cadre-bg{background-color :#C8D7E0 ;}

.input { border: 1px solid #9BB0CF; }

.header { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #CED7E7;}

.profile-link { cursor: pointer; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #295489;}

.note { font-family: Arial; color:#FF0000; font-size: 8pt}
