a:hover {  background-color: #000095; color: #FFFFFF; text-decoration: none}
a:link {  color: #FFFFFF; text-decoration: none}
a:visited {  color: #FFFFFF; text-decoration: none}
a:active {  color: #FFFFFF; text-decoration: none}
