body	{
	Background-color:#000000;  
	text-color:#FFFFFF;
              background-image:url(kw.jpg);
	background-attachment:fixed;
	background-position:top left;	
	background-repeat: no-repeat;
}

a	{
	color:white;
	text-decoration: none
	}
a:hover 	{
	color:ADD8E6;
	/* text-decoration:underline; */
	text-transform: uppercase
	}

i	{
	color:#4682B4
	}
b	{
	color:#4682B4
	}
#menu	{
	width: 100%;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:white;
	vertical-align:top
	}
#poem	{
	width:225px
	}
#car	{
	background-image: url("mustback.gif");
	text-color:white
	}
#desire
	{
	float:right;
	}



/* #links 		{text-transform:uppercase; width: 100%; border-bottom:3px solid red; text-align:center; background-color: #FFFFF0}
td.links	{font-family:Arial, Helvetica, sans-serif; font-size:8pt; border-style:groove; border-width:5px; border-color:red} 

#calendar	{float:right; border-style:groove; border-width:10px; border-color:red; vertical-align:top}
td		{width:65px; background-color:white; font-size:8pt; border-style:solid; border-width:1px; border-color:blue} 
th		{background-color:#ADD8E6; font-family:Arial, Helvetica, sans-serif; border-style:solid; border-width:1px; border-color:blue}
th.prev		{background-color:white; background-image: none; border-style:none}
th.next		{background-color:white; background-image: none; border-style:none}
table b		{background-color:ADD8E6; color:black; text-align:right}
td.next		{background-image: url(back.jpg)}
td.prev		{background-image: url(back.jpg)}
td.weekend 	{background-color: pink; background-image: none} */