/*
** Allgemeines Verhalten der Links. Bitte hier keine Farben definieren weil
** diese sonst global sind und nicht überall passen!
*/

A:link    { text-decoration: none      }
A:visited { text-decoration: none      }
A:active  { text-decoration: none      }

/*
** Text
*/

.textbold { font-family: Helvetica, Arial; font-size: 12px; color: #FFFFFF; font-weight: bold }
.menutext { font-family: Helvetica, Arial; font-size: 14px }
.news	    { font-family: Helvetica, Arial; font-size: 14px }
.newsuhr  { font-family: Helvetica, Arial; font-size: 10px }
.standard { font-family: Helvetica, Arial; font-size: 14px }
.standbold { font-family: Helvetica, Arial; font-size: 14px; font-weight: bold }
.standboldred { font-family: Helvetica, Arial; font-size: 14px; color: Maroon; font-weight: bold }
