.INNER-CONTAINER-TOP
{
	background-image: url(/images/v2/shared/backgrounds/forum_inner_container_top.png);
	width: 832px;
}

.INNER-CONTAINER-MIDDLE
{
	background-image: url(/images/v2/shared/backgrounds/forum_inner_container_middle.png);
	width: 832px;
}

.INNER-CONTAINER-BOTTOM
{
	background-image: url(/images/v2/shared/backgrounds/forum_inner_container_bottom.png);
	width: 832px;
}