<style>
.mstheme
{
	top-bar-button: url(autoglb.gif);
	version: 1.0;
	navbutton-background-color:  rgb(153,0,0);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(255,255,255);
}
body
{
	font-family: Century Schoolbook, Times New Roman, Times;
	background-image: url(autobkgnd.gif); 
}

h1
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h2
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h3
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h4
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h5
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
h6
{
	font-family: Century Schoolbook, Times New Roman, Times;
}
</style>.
