body {
	background-image:  url(images/viking.jpg);
	color:#ffffff;
	background-color:#C7B398;
	margin:20px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif, ;

	}
h1 {	
	font:bold 28px/35px papyrus;
	margin:0px 0px 15px 0px;
	padding:0px;
	color:black;
	position:center
	}
h2 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	color:#52412C;
	}
h3 {
	font:bold 11px/3px Papyrus;
	margin:0px 0px 16px 0px;
	padding:0px;
	color:black;
	}
p {
	font:11px/15px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	color:#ffffff;
	}
Wibble {
	font:11px/15px Papyrus;
	margin:0px 0px 16px 0px;
	padding:0px;
	color:#ffffff;
	}
.Content>p {margin:0px;}
.Content>p+p {text-indent:30px;}

a {
	color:black;
	font-size:11px;
	font-family:verdana, arial, helvetica, sans-serif, papyrus;
	font-weight:600;
	text-decoration:none;
	}
a:link {color:black; text-decoration: none; }
a:visited {color:#52412C; text-decoration: none; }
a:active {color:#A0A0A0; text-decoration: none; }
a:hover {color:black; background:FFFF99 ;text-decoration: none;}
  

/* All the content boxes belong to the content class. */
.content {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 210px 20px 170px;
	border:1px solid #52412C;
	background-color:#A48F74;
	padding:10px;
	z-index:3;
	}

#leftMenu {
	position:absolute;
	width:150px;
	top:20px;
	left:20px;
	border:1px solid #52412C;
	background-color:#A48F74;
	padding:10px;
	z-index:2;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#navAlpha {width:128px;}
		
#rightMenu {
	position:absolute;
	width:190px;
	top:20px;
	right:20px;
	border:1px solid #52412C;
	background-color:#A48F74;
	padding:10px;
	z-index:1;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:168px;
	}
/* Again, "be nice to Opera 5". */
body>#navBeta {width:168px;}

#td1 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 0px 16px; 
	FONT: 14px px papyrus; 
	COLOR: white; 
	PADDING-TOP: 0px; 
	BACKGROUND-COLOR: black
}

#td2 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 0px 16px; 
	FONT: 10px px verdana, arial, helvetica, sans-serif; 
	COLOR: black; 
	PADDING-TOP: 0px; 
	BACKGROUND-COLOR: white

}.name { 
    font-family: Papyrus; 
	line-height: 15px; 
	font-weight: bold
      }
