body  { font-family: verdana;
        font-size: 8pt;
    	font-style: normal;
    	background-color: #ffffff;
        text-align: left
	}


A:link {color: 6684A7; font-weight: bold; text-decoration: none} 
A:visited {text-decoration:underline; color: 6684A7; font-weight: bold}
A:hover {text-decoration: none; color: #000000; font-weight: bold}