
body{
	BackGround : url(images/BG.gif) ! important;
	Color : #000000 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : 8pt ! important;
	Font-Style : normal ! important;
	Font-Weight : normal;
	}


H1{
	Color : #000000 ! important;
	Font-Family : Verdana, Arial, Helvetica, sans-serif ! important;
	Font-Size : 10pt ! important;
	Font-Weight : bold ! important;
	}


H2{
	Color : #000000 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : 10pt ! important;
	}


A:link{
	Color : #000040 ! important;
	Font-Family : verdana, arial, helvetica,sans-serif ! important;
	Font-Size : inherit ! important;
	}


A:hover{
	Color : #339999 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : inherit ! important;
	}


A:visited{
	Color : #000033;
	Font-Family : verdana, arial, helvetica,sans-serif ! important;
	Font-Size : inherit ! important;
	}


H3{
	Color : #000000 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : 14pt ! important;
	Font-Weight : normal ! important;
	}


TD{
	Color : #000000 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : 8pt;
	}


TR{
	Color : #000000 ! important;
	Font-Family : verdana, arial, helvetica, sans-serif ! important;
	Font-Size : 8pt ! important;
	Font-Style : normal ! important;
	Font-Weight : normal;
	}


H4{
	Color : #000000;
	Font-Family : verdana, sans-serif;
	Font-Size : 14pt;
	Font-Style : normal;
	Font-Weight : normal;
	Line-Height : inherit;
	}


H5{
	Color : #004080 ! important;
	Font-Family : verdana, arial, helvetica ! important;
	Font-Size : xx-small ! important;
	Font-Style : normal;
	Font-Weight : bold ! important;
	}
