A{
	color : White;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

A:LINK	{
	color : White;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

A:HOVER{
	color : rgb(255, 0, 0);
	font : bold 12px Verdana, sans-serif;
	text-decoration : underline;
}

BODY {
	color : White;
	font : 12px Verdana, sans-serif;
}

TD {
	color : White;
	font : 12px Verdana, sans-serif;
}

.celltitle {
	background-color : rgb(0, 0, 0);
	color : rgb(255, 255, 255);
	font : bold 11pt Verdana;
}

.linkmenu {
	color : White;
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:ACTIVE {
	color : rgb(255, 0, 0);
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:HOVER {
	color : #DC143C;
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.linkmenu:LINK {
	color : rgb(255, 255, 255);
	font : 10px Verdana;
	font-weight : bold;
	text-decoration : none;
}

.menuheader {
	color : rgb(203, 167, 56);
	font : bold 12px Verdana, Arial, sans-serif;
}

.menulink {
	color : rgb(255, 255, 255);
	font : normal normal 11px/normal Verdana;
	text-decoration : none;
}

.menulink:ACTIVE {
	color : rgb(255, 0, 0);
	font : normal normal 11px/normal Verdana;
	text-decoration : underline;
}

.menulink:HOVER {
	color : rgb(203, 167, 56);
	font : normal normal 11px/normal Verdana;
	text-decoration : underline;
}

.menulink:LINK {
	color : rgb(255, 255, 255);
	font : normal normal 11px/normal Verdana;
	text-decoration : none;
}

.newspost {
	color : White;
	font : normal normal normal 12px/normal Verdana;
}

.newspost:HOVER {
	color : White;
	font : bold normal 12px/normal Verdana;
	font-weight : bold;
	text-decoration : underline;
}

.newspost:LINK {
	color : Red;
	font : bold normal normal 12px/normal Verdana;
	font-weight : bold;
	text-decoration : none;
}

.newspostheader {
	font : bold 15px Verdana;
	color : rgb(203, 167, 56);
}

.newssig {
	color : White;
	font : normal normal 10px/normal normal Verdana;
	text-decoration : none;
	background-color : #222234;
}

.newssig:LINK {
	color : White;
	font : bold normal normal 10px/normal Verdana;
	font-weight : bold;
	text-decoration : none;
	background-color : #222234;
}

.newssig:HOVER {
	color : Maroon;
	font : bold normal normal 10px/normal Verdana;
	font-weight : bold;
	text-decoration : underline;
	background-color : #222234;
}

.header {
	background-color : Black;
	font : bold 15px Verdana;
	color : White;
}

.spti {
	color : White;
	font : bold 12px Verdana, sans-serif;
	text-decoration : none;
}

.main_font { color: black; font-family: verdana; font-weight: bold; font-size: 10pt}
.font_body { color: black; font-family: verdana; font-size: 10px}
.font_white { color: white; font-family: verdana; font-size: 10px}
.menu {color: FFFFFF; font-family: verdana; font-size: 12px}
.spti2 {color: FFFFFF; font-family: verdana; font-weight: bold; font-size: 14px}
.link:link { color: white}
.link:visited { color: white}
.link:active { color: white}
.link:hover { color: gold}
.font_small { color: black; font-family: verdana; font-weight: bold; font-size: 10px}
.link_blue:link { color: white}
.link_blue:visited { color:gold}
.link_blue:active { color: maroon}
.link_blue:hover { color: A1ABB4}
.masthead {font-family: verdana; font-size: 10px; color: black; font-weight: bold}
#td728 {background-color:45477E}
#tdchannel {background-color:45477E}
#tdmain {background-color:45477E}
#trmasthead {background-color:000000}
#trmain {background-color:45477E}

#bodybg {background-color:222234}