<style type=text/css>
<!--
body {
	scrollbar-arrow-color: #DDDDDD;
	scrollbar-3dlight-color: #111111;
	scrollbar-highlight-color: #555555;
	scrollbar-face-color: #333333;
	scrollbar-shadow-color: #111111;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #111111;
	font-family: Helvetica, Arial, 'ms ui gothic', '?l?r ?o?S?V?b?N';
	background-color : #000000;
	color : #EEEEEE;
    font-size: 10pt
}

.scbox{
	border-top : 1px solid #AAAAAA ;
	border-bottom : 1px solid #AAAAAA ;
	border-left : 1px solid #AAAAAA ;
	border-right : 1px solid #AAAAAA ;
	background-color : #333333 ;
	color : #EEEEEE ;
	font-size : 10pt;
}

.scimgbox{
	border-color : #666666 ;
	background-color : #333333 ;
	border-width : 4px ;
	border-style : double ;
	margin : 2px ;
	padding : 2px
}

.scgreen10 { font-size: 10px; color:#00AA00}
.scgreen11 { font-size: 11px; color:#00AA00}
.scgreen12 { font-size: 12px; color:#00AA00}

.scgrey10 { font-size: 10px; color:#999999}
.scgrey11 { font-size: 11px; color:#999999}
.scgrey12 { font-size: 12px; color:#999999}
.scgrey13 { font-size: 13px; color:#999999}

.scyellow10 { font-size: 10px; color: #FFFF00}
.scyellow11 { font-size: 11px; color: #FFFF00}
.scyellow12 { font-size: 12px; color: #FFFF00}
.scyellow13 { font-size: 13px; color: #FFFF00}

.scblue10 { font-size: 10px; color: #6666FF}
.scblue11 { font-size: 11px; color: #6666FF}
.scblue12 { font-size: 12px; color: #6666FF}
.scblue13 { font-size: 13px; color: #6666FF}

.scred10 { font-size: 10px; color: #FF4444}
.scred11 { font-size: 11px; color: #FF4444}
.scred12 { font-size: 12px; color: #FF4444}
.scred13 { font-size: 13px; color: #FF4444}

.scsofty10 { font-size: 10px; color: #FFFF99}
.scsofty11 { font-size: 11px; color: #FFFF99}
.scsofty12 { font-size: 12px; color: #FFFF99}
.scsofty13 { font-size: 13px; color: #FFFF99}

.scorange10 { font-size: 10px; color: #FF9900}
.scorange11 { font-size: 11px; color: #FF9900}
.scorange12 { font-size: 12px; color: #FF9900}
.scorange13 { font-size: 13px; color: #FF9900}

.sctext { text-decoration: none; color: #DDDDDD}
.sctext10 { font-size: 10px; color: #DDDDDD}
.sctext11 { font-size: 11px; color: #DDDDDD}
.sctext12 { font-size: 12px; color: #DDDDDD}
.sctext13 { font-size: 13px; color: #DDDDDD}

.scnav11 { font-size: 11px; color: #BBBBBB; font-weight: bold; text-decoration: none}
.scnav12 { font-size: 12px; color: #BBBBBB; font-weight: bold; text-decoration: none}
.scnav11on { font-size: 11px; color:#FFFFFF; font-weight: bold; text-decoration: none}
.scnav12on { font-size: 12px; color:#FFFFFF; font-weight: bold; text-decoration: none}

.sclink { text-decoration: none}
.sclinkb {font-weight: bold}
.sclink10 { font-size: 10px}
.sclink11 { font-size: 11px}
.sclink12 { font-size: 12px}
.sclink13 { font-size: 13px}

A:active {color: #FFFF00; text-decoration: none}
A:hover {color: #FFFFFF; text-decoration: underline}


-->
</style>

