BODY {
	background-color	: #000000;
	color			: #c0c0c0;

}

A:link{color:"6699FF"; text-decoration: none}
A:active{color:"6699FF"; text-decoration: none}
A:visited{color:"6699FF"; text-decoration: none}
A:hover{color:"#6699FF"; text-decoration: underline;}

body
{scrollbar-face-color: #000000; 
scrollbar-shadow-color: #000000; 
scrollbar-highlight-color: #000000; 
scrollbar-3dlight-color: #444444; 
scrollbar-darkshadow-color: #000000; 
scrollbar-track-color: #222222; 
scrollbar-arrow-color: #444444}

BODY,TD,TH {
	font-size		: 11px;
	font-family		: verdana, verdana, verdana;
	margin			: 0px
}

TD { 
	color			: #CCCCCC; 
}


.headauth, .headname, .headrace, .headclass, .headaa, .headhp, .headmana, .headatk, .headac, .headlevel, .headrank, .headview {
	color			: #ffffff;
}

TH {
	background-color	: #444444;
	text-align		: left;
}

TD { 
	color			: #c0c0c0; 
}

.classdivider {
	color			: #ffffff;
	font-weight		: bold;
}
