@charset "utf-8";
/* CSS Document */
*{
    font-family: "微软雅黑";
    text-decoration: none!important;
}
body{
    background:#fff!important;
}
.navbar{margin-bottom: 0px!important; }
.carousellocal{bottom:5%!important;left:70%!important;}
.header{height:80px; border-bottom:2px solid #fff!important; width:100%;position: html!important; background: rgba(255,255,255,0.5);  z-index: 99999;}
.header2{ background: rgba(255,255,255,1);box-shadow:0px 2px 5px #999;}
.navbarimg{ margin-right: 145px;}
@media (min-width:1200px) {
.pageactive{background: #76b8df!important;}
.pageactive a{color:#fff!important;}
.logo {
    margin-right: 100px;
    margin-*css: 15px;
}
.headnav{width:600px;}
.headnav li{float:left;width: 75px;text-align: center;height:78px;}
.headnav li a{line-height: 78px;height:78px; display:block;color:#323232;padding-*css:0;padding-bottom:0;}
.headnav .cur{border-bottom: 2px solid #2290d0;background: none;}
.headnav li:hover{border-bottom: 2px solid #2290d0;background: none; }

.headnav li a:hover{color:#2290d0;}

.headnav li ul{display: none;width:500px;}
.headnav li:hover ul{display:block; position:relative;left: 0; *css: 0px; z-index:100;background:#E6E6E6;}
.headnav li ul li{background: #fff;color: #000; float:left;}
.headnav li ul li a{line-height: 50px!important;height:50px!important;}
.headnav li:hover ul li{border:0;background: #fff;color: #000;line-height: 50px;height:50px;}

.tel{color:#2290d0;font-weight: 600;font-size: 18px; line-height: 30px; margin-left: 30px;}
.tel img{margin-*css: 10px; margin-right: 10px;}
.headercenter{width:1200px; margin: 0 auto;}
.aboutus{width:1200px; margin: 0 auto;}
.indextitle{text-align: center; margin: 0 auto;color:#4c4c4c; margin-bottom: 20px;}
.indextitle p{font-size: 30px;}
.indextitle font{font-size: 26px;height: 60px;line-height: 50px;width: 110px;border-bottom: 2px solid #2290d0;display: block;margin: 0 auto;}
.abcenter{width:480px;margin-left:75px; margin-right: 75px;}
.abcenter em{color:#595959; font-size:20px;font-style: normal;font-weight: 500;width:100%; display: block;text-align: center;    height: 40px; line-height: 20px;}
.abcenter p{font-size: 16px;line-height: 28px;word-spacing:8px; letter-spacing: 1.5px;}
.home{width:100%;display: block;height:740px;background: #f5f5f5; margin-*css: 100px;}
.homeshow ul li{width:390px;height:390px;float:left; margin-left: 5px; margin-right: 5px;} 
.homein{width:1200px; margin: 0 auto;padding-*css:98px;}

.znjj{background: url(../images/home1.jpg) no-repeat;width:390px; height:390px;}
.qhnt{background: url(../images/home2.jpg) no-repeat;width:390px; height:390px;}

.video{width:390px; height: 390px;margin: 0 auto; background: black;}
#video{width: 390px;height: 390px;}
.case{    width: 100%;display: block;padding-*css:98px;    background: #fff;}
.mis-stage {
    width: 1700px;
    text-align: center;
    margin: 0 auto;
}
.informationin{ width:1200px; margin: 0 auto;}
.newsconent{width:100%;}
.focus{height: 478px;width:1200px;margin:40px auto 0 auto;}
.focus .right{float:right;width: 600px;}
.focus .right li{width:600px;height:120px;display: block;padding:20px;}
.information{ width: 100%;display: block;padding-*css:98px;    background: #f5f5f5; padding-bottom: 98px;}
.newstime{width:125px;text-align: center;color: #333;font-weight: bold;}
.newstime em{width:125px;height:70px;line-height:50px;font-size: 38px;    display: block;}
.newstime span{font-size: 16px; word-spacing:8px; letter-spacing: 2px;}
.newsshow{width:435px;color: #333;}
.honor{width: 100%;display: block;padding-*css:98px;    background: #fff;padding-bottom: 98px;}
.honorin{width:1200px; margin: 0 auto;    padding-*css: 50px;}
.honorin ul li{ float:left;width:280px;height:210px; margin-left: 10px; margin-right: 10px;}
.honorin ul li img{width:100%;}
.nybanner{height:350px;}
.position{width:1200px; margin: 0 auto;padding:20px 0 20px 0;font-size: 16px; color: #666;}
.nytitle{width:1200px; margin: 0 auto;padding:50px 0 50px 0; text-align: center;}
.nytitle h1{font-size: 46px;}
.nytitle i{
width:25px;height: 25px;display: block; border: 1px solid #e2e1e1;    margin: 0 auto;
transform:rotate(50deg);
-ms-transform:rotate(50deg); /* Internet Explorer */
-moz-transform:rotate(50deg); /* Firefox */
-webkit-transform:rotate(50deg); /* Safari 和 Chrome */
-o-transform:rotate(50deg); /* Opera */
}
.nytitle em{
    color:#666;
    margin-*css: 20px;
    display: block;
}
.nytitle font{display: block;width:650px;margin: 0 auto;font-size: 18px;color:#666;line-height: 30px;margin-*css: 30px; }
.nytitle label{width:120px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.usshow{width:1200px; margin: 0 auto;}
.usshow img{ float:left;margin-right: 20px;}
.usshowfont {
    width: 460px;
}
.usshowli{margin-bottom: 80px;}
/*-------fun-facts------*/
section {
    background-color: #fff;
    padding: 90px 0;
}
#fun-facts {
  background-image: url("../images/nybj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#fun-facts ul li {
  background-color:#4cabdb;
  display: inline-block;
  list-style: outside none none;
  margin: 24px 18px;
  min-height:194px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transition-duration: 0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -ms-transition-duration:0.5s;
  vertical-align: middle;
  width: 147px;
  z-index: 11;
  cursor:pointer;
}
#fun-facts ul li::after {
  background: #4cabdb none repeat scroll 0 0;
  bottom: 0px;
  content: "";
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  *css: 0px;
  width: 100%;
  z-index: -1;
  transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -ms-transition-duration:0.3s;
}
#fun-facts ul li:hover:after {
  bottom: -113px;
  height: 222%;
  *css: -113px;
}
#fun-facts ul {
	padding:0;
	text-align:center;
}
#fun-facts ul li p{
	font-size:18px;
	line-height:26px;
	color:#fff;
	font-weight:300;
}
#fun-facts ul li i.fa {
  color: #fff;
  font-size: 32px;
  line-height: 30px;
  margin-*css: 44px;
  transition-duration: 0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -ms-transition-duration:0.5s;
  margin-bottom: 20px;

  
}
#fun-facts ul li:hover i.fa {
  margin-*css: 32px;
}
#fun-facts ul li:hover h4 {
  color: #fff;
  display: block;
  font-size: 12px;
  height: auto;
  line-height: 30px;
  margin: 10px 0;
  opacity: 1;
  text-align: center;
}
#fun-facts ul li h4 {
  display: block;
  font-size: 0;
  line-height: 0;
  margin: 0;
  opacity: 0;
  transition-duration: 0.2s;
  -moz-transition-duration:0.2s;
  -o-transition-duration:0.2s;
  -webkit-transition-duration:0.2s;
  -ms-transition-duration:0.2s;
}
.abback ul{width:1200px; margin: 0 auto;}
.advantage{width:1200px; margin: 0 auto;}
.advantageli{margin-bottom:30px;margin-*css: 30px;}
.advantageicon1{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv1.png) 30px no-repeat; }
.advantageicon1:hover{background: url(../images/adv01.png) no-repeat;}

.advantageicon2{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv2.png) 30px no-repeat; }
.advantageicon2:hover{background: url(../images/adv02.png) no-repeat;}

.advantageicon3{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv3.png) 30px no-repeat; }
.advantageicon3:hover{background: url(../images/adv03.png) no-repeat;}

.advantageicon4{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv4.png) 30px no-repeat; }
.advantageicon4:hover{background: url(../images/adv04.png) no-repeat;}

.advantageicon5{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv5.png) 30px no-repeat; }
.advantageicon5:hover{background: url(../images/adv05.png) no-repeat;}

.advantageicon6{width:119px;height:119px;display:block;border:1px solid #4cabdb; margin-right:40px;padding:30px;
background: url(../images/adv6.png) 30px no-repeat; }
.advantageicon6:hover{background: url(../images/adv06.png) no-repeat;}

.advantage font{width:410px; display: block;}
.advantagefont h3{margin-*css: 0px;  margin-bottom: 35px;    color: #4c4c4c;}
.advantagefont font{color:#808080;}
.proshow{width:1200px; margin:0 auto;margin-*css: 98px;}
.proshow ul li{width:360px;height:305px; float:left;margin-left: 20px;margin-right: 20px;position:relative; margin-bottom: 30px;}
.proshow ul li img{width:360px;height:305px; display: block;}
.proshow ul li span{background: #333;height:45px;display: block;display:none; text-decoration:none;text-align: center;}
.proshow ul li:hover{cursor:pointer} 
.proshow ul li:hover span{ display:block;position:absolute; bottom:-2px; left:0;color:#FFF;width:360px; 
z-index:10;height:45px; line-height:45px; background:#000;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.probg{width:100%; background: url(../images/probg.jpg) 50% no-repeat; height: 265px;padding: 80px 0px;margin: 60px 0px;}
.probgbox{width:400px; margin: 0 auto; text-align: center; color:#fff;}
.probgbox h1{font-size: 40px;}
.probgbox span{font-size: 26px;}
.product{width:1200px;margin: 0 auto;}

.casetitle{font-size:24px;   
 height: 60px;
    line-height: 60px;}
.prev{width: 1200px; margin:0 auto;text-align: center; margin-*css: 20px;}
.nyhonor{width:1200px; margin: 0 auto;}
.honorbox{width:1200px; margin: 0 auto;padding:0!important;}
.honorbox ul li{color:#808080;line-height: 2.5em;}
.honortitle font{font-size: 36px; color:#1a1a1a;text-align: center;margin: 0 auto;width:100%;    display: block;}
#single{ margin-*css: 50px;    margin-bottom: 150px;}
.nyculture{width:1200px; margin: 0 auto;}
.culturebox{padding:0px!important;}
.culturebox p{margin-bottom:30px; font-size: 16px;color:#666; line-height: 30px;}
.scaleimg {width:363px; height: 310px; overflow: hidden;}
.scaleimg img{  cursor: pointer;  transition: all 0.6s;  }
.scaleimg img:hover{transform: scale(1.05);  }  
.graybox{background: #f2f2f2;width:140px!important; height:115px; margin-*css: 150px;}
.culturedown p{    margin-bottom: 40px;
    margin-*css: 40px;}
.scaleimg2 {width:235px; height: 305px; overflow: hidden;}
.scaleimg2 img{  cursor: pointer;  transition: all 0.6s;  }
.scaleimg2 img:hover{transform: scale(1.05);  }  

.scaleimg3{width:305px; height: 250px; display: block; margin-*css: 55px; overflow: hidden;}
.scaleimg3 img{  cursor: pointer;  transition: all 0.6s;  }
.scaleimg3 img:hover{transform: scale(1.05);  }  
.culturebox{ margin-bottom: 50px;}
.culturebrand{background: url(../images/culturebrand.png) 50% no-repeat;height:806px;width:100%; margin-bottom: 98px;}

.culturebrandtitle{width:1200px; margin: 0 auto;padding:50px 0 50px 0; text-align: center;}
.culturebrandtitle h1{font-size: 46px; color:#fff;}
.culturebrandtitle i{
width:50px;height: 40px;display: block;   margin: 0 auto;
background: url(../images/nytitle3.png) no-repeat;
}
.culturebrandtitle label{width:120px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.brandstory{width:100%;}
.brandstoryin{width:1200px; margin: 0 auto;    overflow: hidden;}
.storytitle{width:1200px; margin: 0 auto; text-align: center;    margin-bottom: 75px;}
.storytitle h1{font-size: 46px;}
.storytitle i{
width:62px;height: 40px;display: block;   margin: 0 auto;
background: url(../images/nytitle4.png) no-repeat;
}
.storytitle label{width:120px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.storytitle font{display: block;width:650px;margin: 0 auto;font-size: 18px;color:#666;line-height: 30px;margin-*css: 30px; }
.communicate{width:1200px; margin: 0 auto;  overflow: hidden;    margin-bottom: 98px;} 
.communicate h3{color:#4c4c4c; font-size: 32px;text-align: center; margin-bottom: 45px;}
.communicate p{color:#808080; font-size: 20px;text-align: center;font-size: 16px; color:#808080; margin-*css:45px; line-height: 30px; }
.communicate ul{ margin-*css:85px;}
.nynews{width:1200px; margin: 0 auto;}
.nynewstitle{padding-left:10px;border-left:4px solid #c40000;height:30px;line-height: 30px;font-size: 22px;color:#333;margin-*css: 50px;/* margin-bottom: 60px; */}
.rmnews{margin-*css: 50px;float: left;}
.rmnews ul li{width:360px; height:240px; display: block; float:left; margin-left: 20px; margin-right: 20px;position: relative; }
.news-mask{
    font-size: 14px;
    padding:45px;
    line-height: 30px;
    width:360px;
    height: 240px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    *css: 0;
    opacity: 0;
    color:#fff;
    z-index: 200;}
.nynewslist{width:100%; height:100%;}
.nynewslist ul li{width:100%;height:215px; display: block;padding:40px 0px;    float: left; border-bottom:9px solid #f2f2f2;}
.nynewstitle{padding-left:10px;border-left:4px solid #c40000;height:30px;line-height: 30px;font-size: 22px;color:#333;/* margin-bottom: 50px; */}
.nynewstime{width:160px;text-align: center;color: #808080;background: #f2f2f2;padding:28px 0;height: 130px;    margin-right: 60px;}
.nynewstime em{line-height: 40px;font-size: 32px;display: block;}
.nynewstime span{font-size: 20px;word-spacing:8px;letter-spacing: 2px;}
.nynewsshow{width:970px;color: #333;}
.nynewsshow font{width:100%;display: block;font-size: 22px;height:50px;line-height: 50px;color: #333;}
.nynewsshow span{width:100%;display: block;height: 90px;overflow:hidden;text-overflow:ellipsis;font-size: 16px;color: #808080;line-height: 40px;}
.pro-page{width: 300px;height: 30px;/* margin: 0 auto; */margin-*css: 30px;float: right;margin-bottom: 30px;}
.pro-page ul{ float: left;}
.pro-page ul li{height: 30px;margin-left: 10px;float: left;border: 1px solid #eeeeee;text-align: center;line-height: 30px;color: #396eb3;}
.pro-page ul .c{border: 1px solid #eeeeee;height: 30px; background:#76b8df;padding: 0px 10px; color: white;}
.pro-page ul li a{padding: 0px 10px;display: block;}
.pro-page ul li a:hover{height: 30px;background: #76b8df; color: #fff; padding: 0px 10px;}
.contact{width:1200px; margin: 0 auto;    height: 400px;}
.contactlist img{margin: 0 auto;width: 140px;text-align: center;display: block;}
.contactlist span{    
    text-align: center;
    width: 100%;
    display: block;
    margin-*css: 30px;
    line-height: 30px;font-size: 14px;color:#838383;}

.contactlist em{    
    text-align: center;
    width: 100%;
    display: block;
    margin-*css: 30px;
    line-height: 30px;font-size: 18px;color:#545454;}
.map{width:1200px; margin: 0 auto;}
.message{width:1200px; margin: 0 auto;margin-*css: 120px; margin-bottom: 95px;}

.message h1{font-size: 28px;text-align: center;}
.messagebtn{width:160px;height:40px;    background: #6ec8f0;color: #fff; font-size: 16px;border-radius: 5px;margin-right: 20px; }
.submitmessage span{color:#ff5502;}
.Prodetail{margin: 0 auto;}
/*header*/
#header{ border-bottom:1px solid #383838; height:46px; position:relative;  line-height:46px;color:#FFFFFF; }
#header h1{font-size:12px; font-weight:normal; background:url(news.png) no-repeat 50px center; padding-left:163px;}
#header span{ position:absolute; right:10px; *css:0px;color:#9A9A9A;font-size:12px; font-weight:normal; }
#header span a{ color:#9A9A9A; margin:0 3px;}

/*wrapper*/
#wrapper{ width:960px;  margin:0 auto;}
.titleh3{ height:70px; line-height:70px; text-align:center; background:url(../images/ico/dot.gif) repeat-x left bottom; width:910px; margin:0 auto; font-size:26px; color:#000;}
.titleh4{text-align:center; font-size:12px; color:#000; font-weight:normal; padding:10px 0 20px 0px;}

.imgnav{ width:788px; margin:10px auto;}
#content{margin:0px auto;  line-height:19px;}
#content p{ text-indent:2em; color:#333;}

.imgnav{  position:relative; margin:0 auto; width:788px;}
#img{ z-index:10; width:788px; position:relative; text-align:center;}
#img img{ height:300px; display:none;}
#front{ position:absolute; left:0px; *css:0px; z-index:10; cursor:pointer;  width:394px; height:578px; background:url(../images/ico/blank.gif); }
#front a{  position:absolute; left:20px; *css:224px;display:block; background:url(../images/ico/imgSlideLeft.png) no-repeat; width:104px; height:104px; display:none;}
#next{  position:absolute; right:0px; *css:0px; z-index:10;cursor:pointer; width:394px; height:578px;  background:url(../images/ico/blank.gif);}
#next a{  position:absolute; right:20px; *css:224px; display:block; background:url(../images/ico/imgSlideRight.png) no-repeat; width:104px; height:104px; display:none;}

#cbtn{position:relative; height:122px; margin-*css:12px; }
#cbtn ul{position:relative; width:10000px; height:122px;}
#cbtn ul li{float:left;padding:8px 3px 3px 3px;width: 160px;height: 90px;cursor:pointer;text-align:center;margin-right:20px;position:relative;}
#cbtn ul li img{width: 160px;height: 90px;display:block;}
#cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:12px; line-height:16px; padding:0 5px;}
.ctrl div{ clear:both;}
#cSlideUl{width:690px; height:116px;overflow:hidden; position:relative; *css:10px; margin:0 auto;}
.picSildeLeft{cursor:pointer; position:absolute; *css:32px; left:10px; z-index:9;}
.picSildeRight{cursor:pointer; position:absolute; *css:32px; right:10px; z-index:9;}
.protitle{width:100%; display: block;text-align: center; margin-bottom: 30px;}
.protitle h1{font-size: 26px;}
.protitle p{height:100px; line-height: 100px;}
.projs{width:1200px;margin: 0 auto;margin-*css: 60px;margin-bottom: 60px;}
.projs p{text-align: center;color: #666;font-size: 16px;width:700px;margin: 0 auto;}
.features{width:1200px; margin: 0 auto;}
.featuresli{     
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;}
.featuresli p{ font-size: 18px; color:#2290d0;}
.featuresli font{font-size: 12px;     width: 495px; display: block;}
.newsdetailnr p{color:#666;line-height: 30px!important; font-size: 16px!important;}
.newsdetailnr span{color:#666;line-height: 30px!important; font-size: 16px!important;}
.caseintroduce p{}
}
.news-mask p{ text-align: center;font-size: 16px;}
.rmnews ul li:hover .news-mask{opacity: 1;filter:alpha(opacity=100);}
.rmnews ul li img{width:360px; height:240px;}

@media (max-width: 375px) {
    .newsdetailnr img{width:100%;}
.newsdetailnr{width:100%}
.protitle h1{font-size: 2em;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.submitmessage span {
    color: #ff5502;
}
.header{height:30px;}
.navbarimg{padding-left:10px;padding-right: 10px;}
.navbarimg img{width:100px;}
.indextitle{text-align: center; margin: 0 auto;color:#4c4c4c; margin-bottom: 20px;}
.indextitle p {
    font-size: 1.8em;
}
.indextitle font{font-size: 1.5em;height: 60px;line-height: 50px;width: 110px;border-bottom: 2px solid #2290d0;display: block;margin: 0 auto;}
.abcenter em{color:#595959; font-size:20px;font-style: normal;font-weight: 500;width:100%; display: block;text-align: center;    height: 40px; line-height: 20px;}
.abcenter p {
    font-size: 1em;
    line-height: 2em;
    word-spacing: 8px;
    letter-spacing: 1.5px;
    padding: 0px 10px 0 10px;
    text-indent: 2em;
}
.homein{margin: 0 auto;padding-*css:20px;}
.home{width:100%;display: block;height:100%;background: #f5f5f5;}
.homeshow ul li{width:100%;height:100%;float:left;    margin-bottom: 10px;} 
.znjj{background: url(../images/home1.jpg) no-repeat;width:100%; height:100%;}
.video{width:100%; height:390px;}
.case{    width: 100%;display: block;padding-*css:20px;    background: #fff;overflow: hidden;}
.mis-stage {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.informationin{ width:100%; margin: 0 auto;}
.newsconent{width:100%;}
.focus{height: 478px;width:100%;margin:40px auto 0 auto;}
.focus .right{float:right;width:100%;}
.focus .right li{width:100%;height:120px;display: block;}
.information{ width: 100%;display: block;padding-*css:20px;    background: #f5f5f5; padding-bottom: 20px;}
.newstime{width:30%;text-align: center;color: #333;font-weight: bold;}
.newstime em{height:70px;line-height:50px;font-size: 38px;    display: block;}
.newstime span{font-size: 16px; word-spacing:8px; letter-spacing: 2px;}
.newsshow{width:70%;color: #333;}
.honor{width: 100%;display: block;padding-*css:20px;    background: #fff; padding-bottom: 65px;}
.honorin{width:100%; margin: 0 auto;}
.honorin ul li{ float:left;}
.honorin ul li img{width:100%;}
.nybanner{height: 180px;    overflow: hidden;}
.position{padding:15px;}
.nytitle{text-align: center;}
.nytitle h1{font-size: 2em;}
.nytitle i{
width:25px;height: 25px;display: block; border: 1px solid #e2e1e1;    margin: 0 auto;
transform:rotate(50deg);
-ms-transform:rotate(50deg); /* Internet Explorer */
-moz-transform:rotate(50deg); /* Firefox */
-webkit-transform:rotate(50deg); /* Safari 和 Chrome */
-o-transform:rotate(50deg); /* Opera */
}
.nytitle em{
    color:#666;
    margin-*css: 10px;
    display: block;
}
.nytitle font{display: block;margin: 0 auto;font-size: 1em;color:#666;line-height: 30px; }
.usshow{padding:0 15px 0 15px}
.usshow img{ float:left;width:20%;}
.usshowfont{width:80%;}
.usshowli{margin-bottom: 20px;}
.advantage{padding-bottom: 60px;height: 600px;}
.advantagefont h3{margin-*css: 10px;  margin-bottom: 10px; color: #4c4c4c;text-align:center; font-size: 1.5em;}
.mpro img{width:100%; height:100%;}
.mpro{margin-bottom: 10px;}
.casetitle{font-size:1.5em;text-align: center}
.nycase h3{text-align: center;}
.mblank{width:100%;height:100%;}
.mcasepic img{width:100%; margin-*css: 10px; margin-bottom: 10px;}
.nytitle label{width:100px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.honorbox img{width:100%;}
.honorbox ul li{color:#808080;line-height: 2.5em;}
.honortitle font{ color:#1a1a1a;text-align: center;margin: 0 auto;width:100%;display: block; font-size: 1.8em;}
.culturebrand{width: 100%;background: url(../images/culturebrand.png) no-repeat;background-size: 100% 100%;height: 160px;margin-bottom: 20px;}
.culturebrandtitle{text-align: center; color:#fff;}
.storytitle{width:100%; margin: 0 auto; text-align: center;}
.storytitle h1{font-size: 46px;}
.storytitle i{
width:62px;height: 40px;display: block;   margin: 0 auto;
background: url(../images/nytitle4.png) no-repeat;
}
.storytitle label{width:120px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.storytitle font{display: block;margin: 0 auto;/* font-size: 18px; */color:#666;line-height: 30px;margin-*css: 30px;margin-bottom: 20px;}
.communicate ul li img{width:100%}
.communicate h3{color:#4c4c4c;font-size: 1.5em;text-align: center;/* margin-bottom: 21px; *//* margin-*css: 20px; */}
.communicate p{color:#808080;font-size: 20px;text-align: center;font-size: 1em;color:#808080;/* margin-*css:45px; */line-height: 30px;}
.nynewslist{width:100%; height:100%;}
.nynewslist ul li{width: 100%;
    height: 120px;
    display: block;
    /* padding: 40px 0px; */
    float: left;
    border-bottom: 9px solid #f2f2f2;}
.nynewstitle{padding-left:10px;border-left:4px solid #c40000;height:30px;line-height: 30px;font-size: 22px;color:#333;/* margin-bottom: 50px; */}
.nynewstime{width:160px;text-align: center;color: #808080;background: #f2f2f2;padding:28px 0;height: 130px;    margin-right: 60px;}
.nynewstime em{line-height: 40px;font-size: 40px;display: block;}
.nynewstime span{font-size:28px; word-spacing:8px; letter-spacing: 2px;}
.nynewsshow{width:970px;color: #333;}
.nynewsshow font{width:100%;display: block;font-size: 32px;height:50px;line-height: 50px;color: #333;}
.nynewsshow span{width:100%;display: block;height: 90px;overflow:hidden;text-overflow:ellipsis;font-size: 20px;color: #808080;line-height: 45px;}
.contactlist img{width: 50%;
    margin: 0 auto;
    display: block;}
.contactlist em {
    text-align: center;
    width: 100%;
    display: block;
    line-height: 30px;
    font-size: 18px;
    color: #545454;
}
.contactlist span {
    text-align: center;
    width: 100%;
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #838383;
}
.messagebtn{width:160px;height:40px;    background: #6ec8f0;color: #fff; font-size: 16px;border-radius: 5px;margin-right: 20px;}
.message h1{font-size: 28px;text-align: center;}
.submitmessage{color:#ff5502;}
.protitle{width:100%; display: block;text-align: center;}
.protitle h1{font-size: 2em;}
.projs{margin: 0 auto;margin-*css: 20px;}
.projs p{text-align: center;color: #666;font-size: 1em;}
.featuresli{ margin-*css: 25px; margin-bottom: 25px;}
.featuresli p{ font-size: 1.2em; color:#2290d0;}
.featuresli font{font-size: 1em; }
.communicate ul li {
    height: 220px;
    overflow: hidden;
}
}
@media (max-width: 414px) {
.protitle h1{font-size: 2em;}
.submitmessage span {
    color: #ff5502;
}
.header{height:30px;}
.navbarimg{padding-left:10px;padding-right: 10px;}
.navbarimg img{width:100px;margin-*css: 10px;}
.indextitle{text-align: center; margin: 0 auto;color:#4c4c4c; margin-bottom: 20px;}
.indextitle p{font-size: 1.8em;}
.indextitle font{font-size: 1.5em;height: 60px;line-height: 50px;width: 110px;border-bottom: 2px solid #2290d0;display: block;margin: 0 auto;}
.abcenter em{color:#595959; font-size:20px;font-style: normal;font-weight: 500;width:100%; display: block;text-align: center;    height: 40px; line-height: 20px;}
.abcenter p {
    font-size: 1em;
    line-height: 2em;
    word-spacing: 8px;
    letter-spacing: 1.5px;
    padding: 0px 10px 0 10px;
    text-indent: 2em;
}
.homein{margin: 0 auto;padding-*css:20px;}
.home{width:100%;display: block;height:100%;background: #f5f5f5;}
.homeshow ul li{width:100%;height:100%;float:left;    margin-bottom: 10px;} 
.znjj{background: url(../images/home1.jpg) no-repeat;width:100%; height:100%;}
.video{background: url(../images/video.jpg) no-repeat;width:100%; height:390px;}
.case{    width: 100%;display: block;padding-*css:20px;    background: #fff;overflow: hidden;}
.mis-stage {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.informationin{ width:100%; margin: 0 auto;}
.newsconent{width:100%; }
.focus{height: 478px;width:100%;margin:40px auto 0 auto;}
.focus .right{float:right;width: 100%;}
.focus .right li{width:100%;height:120px;display: block;}
.information{ width: 100%;display: block;padding-*css:20px;    background: #f5f5f5; padding-bottom: 20px;}
.newstime{width:30%;text-align: center;color: #333;font-weight: bold;}
.newstime em{height:70px;line-height:50px;font-size: 38px;    display: block;}
.newstime span{font-size: 16px; word-spacing:8px; letter-spacing: 2px;}
.newsshow{width:70%;color: #333;}
.honor{width: 100%;display: block;padding-*css:20px;    background: #fff; padding-bottom: 65px;}
.honorin{width:100%; margin: 0 auto;}
.honorin ul li{ float:left;}
.nybanner{height: 180px;    overflow: hidden;}
.position{padding:15px;}
.nytitle{text-align: center;padding: 10px 15px;}
.nytitle h1{font-size: 2em;}
.nytitle i{
width:25px;height: 25px;display: block; border: 1px solid #e2e1e1;    margin: 0 auto;
transform:rotate(50deg);
-ms-transform:rotate(50deg); /* Internet Explorer */
-moz-transform:rotate(50deg); /* Firefox */
-webkit-transform:rotate(50deg); /* Safari 和 Chrome */
-o-transform:rotate(50deg); /* Opera */
}
.nytitle em{
    color:#666;
    margin-*css: 10px;
    display: block;
}
.nytitle font{display: block;margin: 0 auto;font-size: 1em;color:#666;line-height: 30px; }
.usshow{padding:0 15px 0 15px}
.usshow img{ float:left;width:20%;}
.usshowfont{width:80%;}
.usshowli{margin-*css: 20px;}
.advantagefont h3{margin-*css: 10px;  margin-bottom: 10px; color: #4c4c4c;text-align:center; font-size: 1.5em;}
.advantage{padding-bottom: 60px;height: 600px;}
.casetitle{font-size:1.5em; text-align: center;}
.nycase h3{text-align: center;}
.mblank{width: 100%;
    height: 60px;
    display: block;
    float: left;
    }
.honorbox img{width:100%;}
.honorbox ul li{color:#808080;line-height: 2.5em;}
.culturebrand{width: 100%;background: url(../images/culturebrand.png) no-repeat;background-size: 100% 100%;height: 150px;margin-bottom: 20px;}
.culturebrandtitle{text-align: center; color:#fff;}
.storytitle{width:100%; margin: 0 auto; text-align: center;}
.storytitle h1{    font-size: 2em;}
.storytitle i{
width:62px;height: 40px;display: block;   margin: 0 auto;
background: url(../images/nytitle4.png) no-repeat;
}
.storytitle label{width:120px; margin: 0 auto; border-bottom:2px solid #e2e1e1;}
.storytitle font{display: block;margin: 0 auto;/* font-size: 18px; */color:#666;line-height: 30px;margin-*css: 30px;margin-bottom: 20px;}
.communicate ul li img{width:100%}
.nynewstitle{padding-left:10px;border-left:4px solid #c40000;height:30px; line-height: 30px; font-size: 22px; color:#333; margin-bottom: 20px;}
.messagebtn{width:160px;height:40px;  background: #6ec8f0;color: #fff; font-size: 16px;border-radius: 5px;margin-right: 20px;}
.message h1{font-size: 28px;text-align: center;    float: left; width: 100%;}
.contactlist img{width: 50%;
    margin: 0 auto;
    display: block;}
.contactlist em {
    text-align: center;
    width: 100%;
    display: block;
    line-height: 30px;
    font-size: 18px;
    color: #545454;
}
.contactlist span {
    text-align: center;
    width: 100%;
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #838383;
}
.protitle{width:100%; display: block;text-align: center;}
.protitle h1{font-size: 2em;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.projs{margin: 0 auto;margin-*css: 20px;}
.projs p{text-align: center;color: #666;font-size: 1em;}
.featuresli{ margin-*css: 25px; margin-bottom: 25px;}
.featuresli p{ font-size: 1.2em; color:#2290d0;}
.featuresli font{font-size: 1em; }
.mcasepic img{width:100%; margin-*css: 10px; margin-bottom: 10px;}
.nynewslist ul li {
    width: 100%;
    height: 120px;
    display: block;
    /* padding: 40px 0px; */
    float: left;
    border-bottom: 9px solid #f2f2f2;
}
.mpro img {
    width: 100%;
    height: 100%;
}
.mpro {
    margin-bottom: 10px;
}
.communicate ul li img{width:100%}
.communicate h3{color:#4c4c4c;font-size: 1.5em;text-align: center;/* margin-bottom: 21px; *//* margin-*css: 20px; */}
.communicate p{color:#808080;font-size: 20px;text-align: center;font-size: 1em;color:#808080;/* margin-*css:45px; */line-height: 30px;}
.communicate ul li {
    height: 220px;
    overflow: hidden;
}
}





.ableft{width:68px;height:273px;border: 1px solid #898989;
padding-left:20px;padding-right:20px;padding-*css:60px;text-align: center;line-height: 40px;font-size: 24px;color: #9d9d9d;}
.abright{width: 500px;height:275px;}
.znjj p{color:#fff;font-size: 30px;text-align: center;padding-*css: 150px;}
.znjj font{width:30px; margin: 0 auto; border-bottom: 2px solid #f08300;    display: block;}
.znjj em{font-size: 16px;text-align: center;display: block;width:120px; height: 48px;margin: 0 auto;line-height: 48px;border-radius: 20px;}
.znjj em a{color:#f08300;}
.znjj em:hover{border:2px solid #f08300;}



.qhnt p{color:#fff;font-size: 30px;text-align: center;padding-*css: 150px;}
.qhnt font{width:30px; margin: 0 auto; border-bottom: 2px solid #f08300;    display: block;}
.qhnt em{font-size: 16px;text-align: center;display: block;width:120px; height: 48px;margin: 0 auto;line-height: 48px;border-radius: 20px;}
.qhnt em a{color:#f08300;}
.qhnt em:hover{border:2px solid #f08300;}


.casein{width:1200px; margin: 0 auto;    padding-*css: 50px;}
.newstab{width:1200px;height: 50px;margin: 0 auto;display: block;text-align: center;}
.newstitle {
    width: 158px;
    height: 48px;
    display: block;
    float: left;
    line-height: 50px;
    border: 1px solid #76b8df;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    color:#fff;    margin-bottom: 15px;
}
.newstitletab {
    background: #76b8df;
    display: block;
    border-radius: 5px;
}
.newstitle{
    color: #76b8df;cursor: pointer
}
.newstitletab{
    color: #fff;cursor: pointer
}


.newsshow font{width:100%; display: block;font-size:18px;height:50px; line-height: 50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.newsshow span{width:100%; display: block;height:40px;overflow:hidden; text-overflow:ellipsis;}
/*news切换*/

.focus .left{float:left;width: 600px;height:478px;position:relative;overflow:hidden;}
.focus .left li{position:absolute;left:0;*css:0;width: 600px;height: 478px;z-index:1;opacity:0;filter:alpha(opacity=0);}
.focus .left li.active{z-index:2;}
.focus .left li p{display:none;}


.focus .right li:hover,.focus .right li.active{color:#fff;background-position:-120px -120px; }
.focus .right li i{ background-repeat:no-repeat; width:60px; height:60px; float:left; margin:15px 19px 0px 0;}
.focus .right li i.i1{background-position:0 0;}
.focus .right li i.i2{background-position:0 -60px;}
.focus .right li i.i3{background-position:0 -120px;}
.focus .right li i.i4{background-position:0 -180px;}
.focus .right li.newstime:hover{background:#000;}
.focus .right li:hover{background:#605e63; }
.focus .right li:hover em{color:#fff;}
.focus .right li:hover span{color:#fff;}
.focus .right li:hover font{color:#fff;}
/*底部*/
.bottom{background: #2a2a2a;width:100%;height:320px; color:#808080;}
.bottomup{width:1200px;margin: 0 auto;padding-*css:35px;padding-bottom:20px;height:250px;}
.bottomdown{background: #1f1f1f;height:70px;}
.bottomdownin{width:1200px;margin: 0 auto;padding-*css: 10px;padding-bottom:15px;}
.ft-logo{background: url(../images/bottomlogo.png) 5px no-repeat;padding-left:224px;height:55px;line-height:55px;}
.ft-logo a,.ft-logo .line{ margin-right:15px; color:#808080;}
.ft-logo p{letter-spacing:1px;margin: 0;}
.ft-address{background: url(../images/location.png) 5px no-repeat;padding-left: 38px;line-height:55px;}
.ft-address p{margin: 0;}
.bottomnav{float:left;}
.bottomnav em{width:85px;display: block;height:35px; font-size: 20px;color:#f2f2f2;line-height: 35px;border-bottom:1px solid #737373;
margin-bottom: 20px;}
.bottomnav ul li{height:30px;line-height: 30px;width:140px;}
.bottomnav ul li a{color:#737373;}
.bottomtel ul li{width:360px;height:50px;}
.li-tel{    
    padding-left: 42px;
    background: url(../images/telbj.png) no-repeat 0px 5px;
    line-height: 1.3;
    margin-bottom: 15px;
}
.li-fox{
    padding-left: 42px;
    background: url(../images/telbj.png) no-repeat 0px -54px;
    line-height: 1.3;
    margin-bottom: 15px;
}
.li-phone{
    padding-left: 42px;
    background: url(../images/telbj.png) no-repeat 0px -108px;
    line-height: 1.3;
    margin-bottom: 15px;
}
.bottomtel{margin-left: 100px;}
.bottomtel ul li strong{font-size:20px;}
.bottomweixin{}
.bottomweixin ul li{width:175px;float:left; margin-right: 20px;}
.bottomweixin ul li p{text-align: center;margin-*css: 10px;}
.bottomweixin ul li img{    display: block; margin: 0 auto;    width: 120px;}

/*底部*/
.mbottom{
    background: #2a2a2a;   
    padding:10px 15px 0 15px;
    height: 45px;
    width: 100%;
    color: #fff;
    margin-*css: 10px;
    text-align: center;
    position: html;
    bottom: 0;
    color:#fff;
    z-index: 999;
}
.mbottom a{color:#fff;}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-*css: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none!important;
    border-radius: 4px;
}
.usshow p{color:#333;}



.ban{ width:500px; height:600px; position:relative; overflow:hidden;}
.ban2{ width:500px; height:500px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; *css:0;}
.ban2 ul li{ width:500px; height:500px;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-*css:10px; width:500px;}
.num ul{ position:absolute; left:0; *css:0;}
.num ul li{ width:80px; height:80px; margin-right:5px; padding:1px;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-*css:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-*css:40px;cursor:pointer;float:right;}
.prev1{ position:absolute; *css:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; *css:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; *css:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:html; -position:absolute; left:50%; *css:50%; margin-left:-255px; margin-*css:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; *css:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; *css:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}

.nycase{padding:0px!important;margin-bottom: 35px;}
.nycase ul li{margin-*css: 10px;margin-bottom: 10px;padding:0px!important;    color: #999999;font-size: 12px;}
.nycase span p{text-indent: 2em;line-height: 1.5em;    color: #808080;}

.prev a{background: #4cabdb;width: 100px;height: 30px;display: block;line-height: 30px;color: #FFF;text-align: center;margin: 0 auto;cursor:pointer;}
.prev a:hover{color: #FFF;}

.prevnews  .page{text-align: center;}
.prevnews  .page li{list-style: none; line-height: 48px; display: inline;margin-left: 30px;}



.honorshowbg {
    background: #88c2e4;
    padding: 80px 40px;
    border-radius: 15px;
}
.label-info {
    background-color: #2290d0!important;
        font-size: 18px!important;
    padding: 10px 15px!important;
        margin-right: 20px;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
div.indexmaindiv{height:270px;margin:0px auto;width: 1200px;}
div.indexmaindiv div.playerstyles{width:168px;height:44px;background:url('../images/playstyles.png') no-repeat;}
div.indexmaindiv1{margin-*css:25px;}
div.indexmaindiv1 div.stylesgoleft{float:left;width:27px;height:27px;background:url('../images/caseleft.png') no-repeat left *css;margin:106px 5px 0px 0px;cursor:pointer;}
div.indexmaindiv1 div.playerdetail{width: 250px;/* height:245px; */font-family:'微软雅黑';}
div.indexmaindiv1 div.playerdetail div.detailimg{width: 250px;height: 200px;}
div.indexmaindiv1 div.playerdetail div.detailimg img{width: 250px;height: 200px;}
div.indexmaindiv1 div.playerdetail div.teanames{text-align:center;font-size: 18px;margin-*css:5px;color:#404040;}
div.indexmaindiv1 div.playerdetail div.teadetail{width: 240px;height: 45px;margin: 5px 5px;color:#666;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
div.indexmaindiv1 div.playerdetail .checkdetail{width:134px;height:27px;display:block;background:url('../images/checkdetail.png') no-repeat;margin:18px;}
div.indexmaindiv1 div.stylesgoright{float:left;width:27px;height:27px;background:url('../images/caseright.png') no-repeat;margin:106px 0px 0px 15px;cursor:pointer;}

/*滚动*/
div.maindiv1{float:left;width: 1110px;height: 300px;overflow:hidden;position:relative;}
div.maindiv1 ul{position:absolute;left:0;*css:0;}
div.maindiv1 ul li{float:left;width: 250px;height: 300px;margin-left: 13px;margin-right: 13px;/* background: #000; */}

html { overflow-x: hidden; overflow-y: auto; }
/*荣誉*/
.friend{margin:0 auto;overflow:hidden;width:1120px;border-radius: 15px;background: #88c2e4;padding: 65px 0px;margin-*css: 60px;margin-bottom: 98px;}
.mr_frbox{ }
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:46px;margin: 75px 10px 0 0;width:28px;}
.mr_frUl{float:left;height:176px;margin-left:10px;}
.mr_frBtnR{float:right;margin-*css: 75px;cursor:pointer;width:28px;height:46px;}
.mr_frUl ul li{display:inline;float:left;width:234px;overflow:hidden;position:relative;margin-left: 20px;}
.mr_frUl ul li a img{/*display:block;*/width:100%;}
.mr_zhe{width:300px;position:absolute;*css:0;background:rgba(78, 164, 181, 0.65) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=80);background:#4ea4b5;/*实现IE背景透明*//*height:389px;*/left:0;right:0;}
.mr_zhe_i h1{text-align:center;font-size:182px;height:138px;line-height:138px;margin-*css:72px;margin-bottom:64px;font-weight:bold;color:#fff;}
.mr_zhe_p{margin-bottom:60px;}
.mr_zhe_p h3{text-align:center;font-size:15px;font-weight:bold;color:#fff;line-height:30px;}
.mr_zhe_p h3 span{display:block;margin:0 auto;width:260px;font-size:18px;border-bottom:1px solid #f4f4f4;}
.mr_zhe_hover{bottom:-596px;height:200px;position:absolute;width:300px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=80);background:#0a0a0a;/*实现IE背景透明*/}
.mr_zhe_hover h1{text-align:center;height:40px;line-height:40px;margin:22px 0;color:#fff;}

.banner{width:100%;overflow:hidden;height:700px;position:relative}
.banList{position:absolute;left:50%;margin-left:-960px;height:700px}
.banList li{height:700px;opacity:0;position:absolute;transform:scale(0);transition:transform 0.5s ease 0s, opacity 1.5s ease 0s;z-index:1;}
.banList li.active{opacity:1;transform:scale(1);z-index:2;}
.fomW{position:absolute;bottom:80px;left:50%;height:20px;z-index:9;width:1000px;margin-left:-500px}
.jsNav{text-align:center;}
.jsNav a{display:inline-block;background:#fff;width:15px;height:15px;border-radius:50%;margin:0 5px;}
.jsNav a.current{background:#2290d0;cursor:pointer}




/*图片轮播*/
.detail_context_pic{width:680px;margin-*css:20px;margin-bottom:20px;overflow:hidden;}
.detail_context_pic_*css{width:680px;overflow:hidden;text-align:center;position:relative;z-index:1; height: 350px;}
.detail_context_pic_bot{width:680px;height:107px;overflow:hidden;margin-*css:20px;}
.detail_picbot_left{float:left;width:30px;height:107px;overflow:hidden;}
.detail_picbot_left a{display:block;width:30px;height:107px;}
.detail_picbot_mid{float:left;width:620px;border-*css:1px solid #dddddd;border-bottom:1px solid #dddddd;height:77px;overflow:hidden;padding-*css:15px;padding-bottom:13px;}
.detail_picbot_mid ul{height:77px;width:620px;overflow:hidden;position:relative;}
.detail_picbot_mid ul li{float:left;height:77px;margin-left:25px;display:inline;width:94px;text-align:center;overflow:hidden;position:relative;}
.detail_picbot_mid ul li img{height:73px;max-width:90px;}
#pic1{max-width:680px;}
.selectpic{border:2px solid red;}
.detail_picbot_right{float:left;width:30px;height:107px;overflow:hidden;}
.detail_picbot_right a{display:block;width:30px;height:107px;}
#preArrow{left:0px;}
#nextArrow{right:0px;}
.contextDiv{cursor:pointer;height:100%;width:65%;position:absolute;*css:0px;z-index:5;background:url("blank") repeat;}
.contextDiv span{position:absolute;*css:65%;margin-*css:-20%;width:39px;height:50px;}
#preArrow_A{left:16px;background:url('http://img1.askci.com/images/pic_left.png') 0px 0px no-repeat;display:none;}
#nextArrow_A{right:16px;background:url('http://img1.askci.com/images/pic_right.png') 0px 0px no-repeat;display:none;}

#miaoshuwarp{position:relative;bottom:0;z-index:1;width:680px;text-align:left;}
.miaoshu{position:absolute;width:660px; padding:0 10px; bottom:0;height:30px; line-height:30px;color:White;font-size:14px;z-index:3;background:url("http://img1.askci.com/images/bcgL.png") repeat-x; font-family:"宋体";}

.bodymodal{width:100%;height:100%;overflow:hidden;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;z-index:1100;position:html;*css:0px;left:0px;display:none;}
.first*css_left{width:300px;height:250px;margin-right:30px;overflow:hidden;float:left;}
.first*css_right{float:left;width:270px;overflow:hidden;}
.close2{height:17px;}
.close2 a{background:url('http://img1.askci.com/images/close.jpg') 0px 0px no-repeat;width:15px;height:15px;display:block;float:right;}
.replay{height:24px;margin-*css:20px;overflow:hidden;}
.replay h2{float:left;font-size:16px;}
.replay p{float:left;margin-left:15px;display:inline;line-height:24px;padding-right:25px;background:url('http://img1.askci.com/images/replay.png') right no-repeat;}
.replay p a{color:white;font-size:14px;}
.replay p a:hover{color:#FF702D;text-decoration:underline;}
.pictwo{width:270px;height:88px;overflow:hidden;margin-*css:20px;}
.pictwo ul li{width:120px;height:88px;float:left;margin-right:15px;position:relative;overflow:hidden;}
.pictwo ul li img{width:120px;height:88px;}
.imgdivtext{position:absolute;bottom:0px;height:25px;width:120px;background:rgba(0, 0, 0, 0.6);line-height:25px;text-align:center;left:0px;z-index:4;*background:#000;*filter:alpha(opacity=50);}
.imgdivtext a{color:White;font-size:14px;font-weight:bold;}
.imgdivtext a:hover{color:#FF702D;text-decoration:underline;}
.returnbtn {margin-*css:35px;margin-left:50px;}
.returnbtn a{width:115px;height:22px;border:1px solid #ccc;padding:5px 15px;line-height:22px;text-align:center;color:White;font-size:16px;display:block;}
.returnbtn a:hover{color:#FF702D;border:1px solid #8d5a00;}

.first*css{width:600px;padding:20px 40px;margin-left:-40px;background:#1C1C1C;position:html;left:0px;z-index:1200;color:White;display:none; height: 310px;}
.end*css{width:600px;padding:20px 40px; margin-left:-40px;background:#1C1C1C;position:html;left:0px;z-index:1200;color:White;display:none;height: 310px;}

.pronav ul li{float: left;margin-*css: 15px;}
.pronav ul li a{display: block;width: 160px; height: 50px;border:1px solid #76b8df;text-align: center; line-height: 50px;border-radius: 5px;}
.pronav ul li a:hover{background: #76b8df; color: white;}
.pronav ul li .hover{background: #76b8df; color: white;}

.prolist ul li{ width: 360px;height: 305px;float: left;margin:30px 20px;position: relative;}
.prolist ul li img{width: 360px;height: 305px;display: block;}
.prolist ul li span {background: #333;height: 45px;display: block;display: none;text-decoration: none;text-align: center;}
.prolist ul li:hover{cursor:pointer} 
.prolist ul li:hover span{ display:block;position:absolute; bottom:-2px; left:0;color:#FFF;width:360px; 
z-index:10;height:45px; line-height:45px; background:#000;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}


.clear{clear: both;}

.nycase{color:#808080;}
.nycase p{line-height: 1.8em;}
.nycase table tr{line-height: 36px;}