<style>
a:link
{
	color: rgb(153,255,153); 
}
a:visited
{
	color: rgb(0,0,0); 
} 
a:active 
{
	color: rgb(255,102,0);
}
body
{
	background-color: rgb(102,51,204);
	color: rgb(255,255,255);
}
table
{
	table-border-color-light: rgb(153,102,255);
	table-border-color-dark: rgb(102,0,153); 
}
h1
{
	color: rgb(255,102,0);
}
h2
{
	color: rgb(255,153,0); 
}
h3
{
	color: rgb(255,204,0); 
}
h4
{
	color: rgb(255,204,0);
}
h5
{
	color: rgb(255,204,0);
}
h6
{
	color: rgb(255,204,0);
}
</style>.
