/*============================*/
/* Nav Menu Guides            */

#mainnav {
  float: left;
  width: 160px;
  margin-left: 5px;

  margin-top: 0px;
}

#mainnav ul { /* since I started by setting all margins and padding to 0, I need to recreate it on those elements where I need it */
  font-size: 0.7em;
  list-style: none;
}

#mainnav li {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*============================*/

/*============================*/
/* Nav Menu elements          */
.navmenu {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.navmenu h2 {
  font-size: 0.9em;
  color: #000000;
  background-color: ;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #CFAE9A;
  text-align: left;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navmenu .navmenuselected {
  color: #000000;
  background-color: ;
  font-weight: bold;
}

.navmenu .navmenuselected:hover, .navmenu .navmenuselected:visited:hover {
  color: #BC7B18;
  background-color: #D8D0C3;
  font-weight: bold;
}

.navmenu .navmenuselected:link, .navmenu .navmenuselected:visited {
  color: #000000;
  background-color: ;
}

.navmenu :link {
  color: #000000;
  background-color: ;
  display: block;
  text-decoration: none;
}

.navmenu :visited {
  color: #000000;
  background-color: ;
  display: block;
  text-decoration: none;
}

.navmenu :link:hover, .navmenu :visited:hover {
  color: #BC7B18;
  background-color: #D8D0C3;
  text-decoration: none;
}

/*============================*/
/* NavMenu Level 2            */
.navmenu .navmenulevel2 {
  margin-left: 10px;
  padding-left: 10px;
}

.navmenu .navmenulevel2 :link, .navmenu .navmenulevel2 :visited {
  color: #555555;
}

.navmenu .navmenulevel2 :link:hover, .navmenu .navmenulevel2 :visited:hover {
  color: #000000;
}
/*============================*/

/*============================*/
/* NavMenu Level 3            */
.navmenu .navmenulevel3 {
  margin-left: 10px;
  padding-left: 20px;
}

.navmenu .navmenulevel3 :link, .navmenu .navmenulevel3 :visited {
  color: #AAAAAA;
}

.navmenu .navmenulevel3 :link:hover, .navmenu .navmenulevel3 :visited:hover {
  color: #000000;
}
/*============================*/

/*============================*/
/* AdminLink                  */
.navmenu .navadminlink :link, .navmenu .navadminlink :visited {
  color: #AA0000;
}

.navmenu .navadminlink :link:hover, .navmenu .navadminlink :visited:hover {
  color: #FF0000;
}
/*============================*/