
A:link {
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none
}
A:visited {
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none
}
A:active {
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none
}
A:hover {
FONT-SIZE: 12px; 
COLOR: #1A7E0F; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: solid;
}
BODY {
FONT-SIZE: 12px; 
CURSOR: default; 
COLOR: #ffffff; 
BACKGROUND-color: #620909; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}


P {
FONT-SIZE: 12px; 
COLOR: #ffffff; 
LINE-HEIGHT: 1.4; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none
}
TABLE {
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none
}
SELECT {
background:#621414;
color:#DDDDDD;
font:11px Arial,Helvetica,sans-serif;
BORDER-TOP: #390C0C 2px solid; 
BORDER-BOTTOM: #DE8686 1px solid; 
BORDER-LEFT: #390C0C 2px solid; 
BORDER-RIGHT: #DE8686 1px solid;

}
TD.content {
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 1px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 1px solid;
background:#621414;
FONT-SIZE: 12px;
COLOR: #ffffff;
TEXT-DECORATION: none
FONT-FAMILY:  arial, helvetica, verdana, sans-serif;

}
TD.extra {
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 2px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 2px solid;
background:#621414;
}

TD.story1 {
BORDER-TOP: #450808 2px solid; 
BORDER-BOTTOM: #AB4444 1px solid; 
BORDER-LEFT: #450808 2px solid; 
BORDER-RIGHT: #AB4444 1px solid; 
BACKGROUND: #4E1515;
}
TD.story2 {
BORDER-TOP: #450808 2px solid; 
BORDER-BOTTOM: #AB4444 1px solid; 
BORDER-LEFT: #450808 2px solid; 
BORDER-RIGHT: #AB4444 1px solid; 
BACKGROUND: #4E1515;
}
hr {
border-top: 1px solid #220505;
border-bottom: 1px solid #B3B3B3;
height: 2px;
width: 100%;
}
UL {
	LIST-STYLE-TYPE: square
}
.center {
	TEXT-ALIGN: center
}
.justify {
	TEXT-ALIGN: justify
}
.right {
	TEXT-ALIGN: right
}
H1 {
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none
}
.heading {
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR: #ffffff; 
FONT-FAMILY: Tahoma; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none
}
BODY {
SCROLLBAR-base-COLOR: #620909; 
SCROLLBAR-ARROW-COLOR: #ffffff;
}
/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #621414; border:0px solid; border-color:#5E799C #ffffff #ffffff #5E799C;}

/* This is the outline round the main forum tables */
.forumline	{ background-color: #621414; border:0px solid; border-color:#5E799C #ffffff #ffffff #5E799C;}

.tableicon	{
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 1px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 1px solid;
background:#621414;}
/* Main table cell colours and backgrounds */

td.row1	{
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}

td.row2	{
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#6D2121;
}

td.row3	{
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#280C0C;
}


td.rowpic { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}


th	{
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 20px;
background-image: url(../../../themes/Xmas2/forums/images/row2.gif);
background-repeat: repeat-x;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;	
	
}

th.1	{
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 20px;
background-image: url(../../../themes/Xmas2/forums/images/row2.gif);
background-repeat: repeat-x;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;	
}
td.space {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 20px;
background-image: url(../../../themes/Xmas2/forums/images/row2.gif);
background-repeat: repeat-x;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;	
}
td.spaceRow {
color: #621414; font-size: 11px; font-weight : bold;
height: 20px;
background-image: url(../../../themes/Xmas2/forums/images/row1.gif);
background-repeat: repeat-x;
	
}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
font-weight: bold; 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
height: 28px; 
}
td.row3Right {
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}

th.thHead,td.catHead { 
font-size: 12px; 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
}
th.thSides,td.catSides	 { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}
th.thRight,td.catRight,td.row3Right	 { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}
th.thLeft,td.catLeft	  { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
}
th.thBottom,td.catBottom  { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
}
th.thTop	 { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}
th.thCornerL { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
}
th.thCornerR { 
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414; 
}


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
font-weight: bold; 
font-size: 22px; 
font-family: Arial,Verdana, Helvetica, sans-serif;
text-decoration: none; 
line-height : 120%; 
color : #ffffff;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #ffffff; }
a.gen,a.genmed,a.gensmall { color: #ffffff; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #1A7E0F; text-decoration: none; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #ffffff;}
a.mainmenu		{ text-decoration: none; color : #ffffff;}
a.mainmenu:hover{ text-decoration: none; color : #1A7E0F;}


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 0px; color : #ffffff}
a.cattitle		{ text-decoration: none; color : #ffffff; }
a.cattitle:hover{ text-decoration: none; color : #1A7E0F;}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #ffffff; }
a.forumlink 	{ text-decoration: none; color : #ffffff; }
a.forumlink:hover{ text-decoration: NONE; color : #1A7E0F; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #31AA27;}
a.nav:link		{ text-decoration: none; color : #31AA27; }
a.nav:visited		{ text-decoration: none; color : #31AA27; }
a.nav:hover		{ text-decoration: NONE; color : #ffffff;}

.menutitle			{font-size: 11px; color : #ffffff; }
a.menutitle:link   { text-decoration: none; color : #ffffff; }
a.menutitle:visited { text-decoration: none; color : #ffffff; }
a.menutitle:hover	{ text-decoration: NONE; color : #B00D0D; }

.marqueetitle			{font-size: 12px; color : #ffffff; }
a.marqueetitle:link   { text-decoration: none; color : #ffffff; }
a.marqueetitle:visited { text-decoration: none; color : #ffffff; }
a.marqueetitle:hover	{ text-decoration: NONE; color : #B00D0D; }

/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #ffffff; }
a.topictitle:link   { text-decoration: none; color : #ffffff; }
a.topictitle:visited { text-decoration: none; color : #ffffff; }
a.topictitle:hover	{ text-decoration: NONE; color : #1A7E0F; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #ffffff;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #ffffff; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #ffffff; }
a.postlink:visited { text-decoration: none; color : #ffffff; }
a.postlink:hover { text-decoration: NONE; color : #1A7E0F;}


/* Quote & Code blocks */
.code {
font-family: Courier, 'Courier New', sans-serif; 
font-size: 11px; 
color: #1A7E0F;
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 2px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 2px solid;
background:#280C0C;
}

.quote {
font-family: Courier, 'Courier New', sans-serif; 
font-size: 11px; 
color: #1A7E0F;
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 2px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 2px solid;
background:#280C0C;
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px;}
a.copyright		{ color: #ffffff; text-decoration: none;}
a.copyright:hover { color: #1A7E0F; text-decoration: NONE;}


/* Form elements */
TEXTAREA {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-TOP: #450808 2px solid; 
BORDER-BOTTOM: #AB4444 1px solid; 
BORDER-LEFT: #450808 2px solid; 
BORDER-RIGHT: #AB4444 1px solid; 
BACKGROUND: #621E1E;
}

input {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-TOP: #450808 2px solid; 
BORDER-BOTTOM: #AB4444 1px solid; 
BORDER-LEFT: #450808 2px solid; 
BORDER-RIGHT: #AB4444 1px solid; 
BACKGROUND: #621E1E;
}

input.user {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-TOP: #1b1b1b 2px solid; 
BORDER-BOTTOM: #ffffff 1px solid; 
BORDER-LEFT: #1b1b1b 2px solid; 
BORDER-RIGHT: #ffffff 1px solid; 
BACKGROUND: #7C7C7C;
}
input.noborder {
background:#;
color:#393939;
font:11px Arial,Helvetica,sans-serif;
BORDER-TOP: #26313B 0px solid; 
BORDER-BOTTOM: #F5F8FA 0px solid; 
BORDER-LEFT: #26313B 0px solid; 
BORDER-RIGHT: #F5F8FA 0px solid;
}
/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #621E1E;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}

/* The main submit button option */
input.mainoption {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}

/* None-bold submit button */
input.liteoption {
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-RIGHT: #390C0C 2px solid; 
BORDER-TOP: #DE8686 1px solid; 
BORDER-BOTTOM: #390C0C 2px solid;
BORDER-LEFT: #DE8686 1px solid;
background:#621414;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { 
color : #ffffff;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
BORDER-RIGHT: #DE8686 1px solid; 
BORDER-TOP: #390C0C 2px solid; 
BORDER-BOTTOM: #DE8686 1px solid;
BORDER-LEFT: #390C0C 2px solid;
background:#280C0C; 
}

.container {
   border-style: none;
   border-width: 1px;
}

.eq2_title {
   font-family: Verdana, Arial, Helvetica;
   font-weight: bold;
}

a.eq2_headline {
   font-family: Verdana, Arial, Helvetica;
   font-size: 10px;
}
