/* NecroGnomicon - the Dark Age Translation */
/* Last Style Sheet Update: March 15, 2004 */

BODY {
	background: url(images/ngback.gif) black;
	margin-top: 0;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: 7px;
	}

P, UL, OL {
	font: 14px "Times New Roman", Times, serif;
	color: #000000;
	}

/* Translator's notes */
P.TRANS {
	font: 12px "Times New Roman", Times, serif;
	}

/* TL Report Feedback */
P.FEED {
	font: italic 14px "Times New Roman", Times, serif;
	color: #660066;
	}

/* Data table normal formatting */
TR {
	text-align: left
	vertical-align: top;
	font: 13px "Times New Roman", Times, serif;
	color: #000000;
	}

/* Standard data table header */
TH {
	background: url(images/leatherback.jpg) #993333;
	vertical-align: bottom;
	font: bold 14px "Times New Roman", serif;
	color: #DDDDDD;
	}

/* Data table subdivision */
TH.SUB {
	background: black;
	vertical-align: bottom;
	text-align: left;
	font: bold 13px "Times New Roman", serif;
	color: #DDDDDD;
	}

/* Data/text table minor heading */
TH.MIN {
	background: black;
	vertical-align: top;
	text-align: right;
	font: bold 13px "Times New Roman", serif;
	color: #DDDDDD;
	}

/* Standard data table cell */
TD {
	text-align: left;
	vertical-align: top;
	}

/* Navigation menu */
TD.NAV {
	text-align: center;
	width: 110;
	}

/* Main content */
TD.CON {
	background: url(images/greyskin.gif) #CCCCCC;
	color: #000000;
	}

/* Right column */
TD.RC {
	text-align: center;
	width: 110;
	font: bold italic 13px "Times New Roman", Times, serif;
	color: #CCCCCC;
	}

/* Numeric table data */
TD.NUM {
	text-align: center;
	}

/* Picture inset container */
TD.STORYINSET {
	background: url(images/leatherback.jpg) #993333;
	text-align: center;
	font: 12px "Times New Roman", Times, serif;
	color: #DDDDDD;
	}

/* Text table subheader */
TD.ROWLABEL {
	font: bold 13px "Times New Roman", Times, serif;
	color: #000000;
	}

/* Spell table color coding */
TD.BUFF {
	background: #CCFFCC;
	}

TD.PETBUFF {
	background: #99CC99;
	}

TD.IPETBUFF {
	background: #99CC99;
	font: bold;
	}

TD.PETHEAL {
	background: #CCFFFF;
	font: bold;
	}

TD.SUMMON {
	background: #999999;
	}

TD.LIFETAP {
	background: #CC99FF;
	}

TD.ILIFETAP {
	background: #CC99FF;
	font: bold;
	}

TD.POWERTAP {
	background: #33CCFF;
	}

TD.POWERXFER {
	background: #00FFFF;
	}

TD.DEBUFF {
	background: #FFFFCC;
	}

TD.IDEBUFF {
	background: #FFFFCC;
	font: bold;
	}

TD.AEDEBUFF {
	background: #FFFF33;
	}

TD.IAEDEBUFF {
	background: #FFFF33;
	font: bold;
	}

TD.DAMAGE {
	background: #FFCC99;
	font: bold;
	}

TD.AEDAMAGE {
	background: #FFCC00;
	}

TD.DOT {
	background: #FF99CC;
	font: bold;
	}

TD.AEDOT {
	background: #FF6699;
	}

TD.DSHIELD {
	background: #CC9999;
	font: bold;
	}

/* Big Centered Text - Toast */
H1 {
	font: bold 20px "Times New Roman", Times, serif;
	text-align: center;
	color: #993333;
	}

/* Main Content Section Header */
H2 {
	font: bold italic 22px "Times New Roman", Times, serif;
	text-align: left;
	color: #993333;
	}

/* Main Content Subsection Header */
H3 {
	font: bold 18px "Times New Roman", Times, serif;
	text-align: left;
	color: #666666;
	}

/* Menu Items */
H4 {
	font: bold 13px "Times New Roman", Times, serif;
	text-align: center;
	color: #FF0000;
	position: relative;
	width: 100;
/*	height: 0; removed for Mozilla Firebird compatibility */
	top: 0;
	left: 0;
	filter: glow(color=#772222);
	}

H4.ACTIVE {
	filter: glow(color=white);
	}

H4.SUBACTIVE {
	filter: glow(color=#DDDDDD);
	}

/* Main Content Sub-Subsection Header */
H5 {
	font: bold 16px "Times New Roman", Times, serif;
	text-align: left;
	color: black;
	}

/* Copyright */
H6 {
	font: bold italic 10px "Times New Roman", Times, serif;
	text-align: center;
	color: #888888;
	}

/* Links */
a, a:visited {
    text-decoration: none;
/*	color: #993333; */
	color: #DD0000;
	}

a:hover, a:active {
	text-decoration: none;
/*	color: #FF0000; */
	color: #FF0000;
	}
