/* style-sheet for House Azuviir */

  P {
    font-family: "Bookman Old Style","Arial";
    color: black;
    }
  
TD {
    font-family: "Bookman Old Style","Arial";
    color: black;
    }

/* end of data */

