p, body, td { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #000000; margin: 0px 7px 0px 7px; }

A { color: #1C6ACB; text-decoration: underline; }
A:hover { color: #FF9900; text-decoration: underline;}

.white14 { color: #FFFFFF; font-size: 14px; font-weight: bold; }
.white19 { color: #FFFFFF; font-size: 19px; font-weight: bold; }
.orange {color: #FF6600; text-decoration: underline; }

li { font-family: Verdana, Arial, sans-serif; font-size: 13px; color: #000000; }

.category { font-size: 11px; font-weight: bold;  vertical-align: top;  padding-top: 3px; }
.catlink { color: #000000; font-weight: bold; font-size: 11px; text-decoration: underline; }
.catlink:hover { color: #333333; font-weight: bold; font-size: 11px; text-decoration: underline; }

#search { color: #FFFFFF; font-size: 11px; }
#search .textfield { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF; padding: 0px; border: 1px solid #333333; }
#search .submit { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: Black; background-color: #FFFFFF; padding: 0px; border: 1px solid #333333; }
