.MyHeadingOne
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MyHeadingTwo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.nounderline
{
    TEXT-DECORATION: none
}
.textfont
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rates
{
    FONT-SIZE: 12px;
    COLOR: #660000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.greensubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003333;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newssubject
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #0000cd;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetime
{
    FONT-STYLE: italic;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetimebold
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetime2
{
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tinytext
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Text12pt
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Text12ptBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.HOH_TableText
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-COLOR: Black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: 1pt
}
.HOH_HeadText
{
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-COLOR: Black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: 1pt
}
.HOH_TableText_Noborder
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
