.menu
{
	margin-left : 1px;
	color : #FFFFFF;
	font : 11px Verdana;
	text-decoration : none;
}

.menu :hover
{
	margin-left : 1px;
	color : #FF0000;
	font : 11px Verdana;
	text-decoration : underline;
}

.menu :link
{
	margin-left : 1px;
	color : #FFFFFF;
	font : 11px Verdana;
	text-decoration : none;
}