a.white:link	{ color: #FFFFFF ; font-weight: normal;text-decoration: underline }
a.white:visited	{ color: #FFFFFF ; font-weight: normal;text-decoration: underline }
a.white:active	{ color: #808080 ; font-weight: normal ;text-decoration: underline}
a.white:hover	{ color: #808080  ; font-weight: none ;text-decoration: underline}
a.white:over	{ color: #808080; font-weight: none ;text-decoration: underline}
a.black:link	{ color: #000000 ; font-weight: normal;text-decoration: underline }
a.black:visited	{ color: #000000 ; font-weight: normal;text-decoration: underline }
a.black:active	{ color: #000000 ; font-weight: normal ;text-decoration: underline}
a.black:hover	{ color: #FFFFFF  ; font-weight: none ;text-decoration: underline}
a.black:over	{ color: #FFFFFF; font-weight: none ;text-decoration: underline}