<!-- /* Style Sheet definitions need to be commented to hide them from incompatible Browsers.*/

BODY {
	background-color: #202040;
	background-image: url(http://con.xrgaming.net/gfx/back.jpg);
	color: #c4c4c4;
	text-color: #C4C4C4;
}

A:link{
	color: #C4C480;
}

A:visited{
	color: #A0A070;
}

.BaseFont {
	font-family: "Times New Roman";
	font-size: 10pt;
	color: #C4C4C4;
}

.NewsFont {
	font-family: "Times New Roman";
	font-size: 10pt;
	color: #C4C4C4;
}

.NewsHeading {
	font-family: "Times New Roman";
	font-size: 10pt;
	text-decoration: underline;
	color: #C4C4C4;
}

.SmallFont {
	font-family: "Times New Roman";
	font-size: 8pt;
}

.BaseMsgFont {
	font-family: "Times New Roman";
	font-size: 12pt;
	color: #C4C4C4;
}

.SmallMsgFont {
	font-family: "Times New Roman";
	font-size: 10pt;
	color: #C4C4C4;
}

.DateFont {
	font-family: "Times New Roman";
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
}

.TblBody {
	background-image: url(http://con.xrgaming.net/gfx/back.jpg);
}

.TblDate {
	color: #000000;
	background-color: #C4C4C4;
	background-image: url(http://con.xrgaming.net/gfx/cback.jpg);
}

.BaseHeading {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 12pt;
	color: #C4C4C4;
}

.LargeHeading {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 18pt;
	color: #C4C4C4;
}

.SmallHeading {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 10pt;
	color: #C4C4C4;
}

.MenuItem {
	font-family: "Times New Roman";
	color: #C4C480;
	font-size: 10pt;
	text-decoration: none;
}

.MenuHeading {
	font-family: "Times New Roman";
	color: #C4C480;
	font-size: 10pt;
	text-decoration: underline;
}

/* End Style Sheet commenting. */  -->