<style>
a:link
{
	color: rgb(51,51,204); 
}
a:visited
{
	color: rgb(102,153,204); 
} 
a:active 
{
	color: rgb(255,51,0);
}
body
{
	background-color: rgb(255,204,153);
	color: rgb(0,0,0);
}
table
{
	table-border-color-light: rgb(255,153,51);
	table-border-color-dark: rgb(0,0,0); 
}
h1
{
	color: rgb(102,0,0);
}
h2
{
	color: rgb(102,102,0); 
}
h3
{
	color: rgb(204,51,0); 
}
h4
{
	color: rgb(153,102,0);
}
h5
{
	color: rgb(204,51,51);
}
h6
{
	color: rgb(102,0,102);
}
</style>.
