@charset "iso-8859-1";

/*******************************************************************************
*  st_gargoyles.css : 2005.06.28
* -----------------------------------------------------------------------------
*  A modification on the Skidoo Too layout
*******************************************************************************/

/* begin with generic selectors so that they can be overridden if needed
 * by classes deeper in the stylesheet
 */
.clear
{
	clear: both;
	padding-bottom: 1px;	/* for Gecko-based browsers */
	margin-bottom: -1px;	/* for Gecko-based browsers */
}
.hide, .divider
{
	display: none;
}
.inside
{
	/* glitch in IE caused by vertical padding in this class, so 0 padding is
	 * set here and those blocks that need the vertical padding must be 
	 * applied to the parent element. the purpose of this class is to provide
	 * horizontal padding without using hacks to get around IE's broken box 
	 * model. so it's okay to apply vertical padding to the parent element, 
	 * just not horizontal padding.
	 */
	padding: 0 1em;
}

/* margin values and font sizes for headings, and margins on paragraphs
 * and lists are not consistent across browser platforms. to achieve a
 * consistent look we need to explicity set these values here. it may
 * seem an odd way to declare the margins like this but you never
 * know what kind of horizontal padding a browser may be using on an
 * element, and I only want to change the vertical padding.
 *
 * pixels are used here, rather than ems, because I want a consistent
 * margin on the different headings. if I use ems, 1em for an h1 element
 * is much larger than 1em on an h6 element. I don't wnat this.
 *
 * salt to taste
 */
ul, ol, dl, p, h1, h2, h3, h4, h5, h6
{
	margin-top: 14px;
	margin-bottom: 14px;
	padding-top: 0;
	padding-bottom: 0;
}
h1
{
	font-size: 220%;
}
h2
{
	font-size: 190%;
}
h3
{
	font-size: 160%;
}
h4
{
	font-size: 130%;
}
h5
{
	font-size: 100%;
}
h6
{
	font-size: 70%;
}

/* alter some HTML elements' default style
 */
a, a:link, a:visited, a:active
{
	text-decoration: underline;
}
a:hover
{
	text-decoration: none;
}
a img
{
	border-width: 0;
}
code
{
	font-family: "Courier New", Courier, monospace;
}
label
{
	cursor: pointer;
}
table
{
	font-size: 100%;
}
td, th
{
	vertical-align: top;
}
span.strike
{
	text-decoration: line-through;
}


body
{
	padding: 70px 0 20px 0;
	margin: 0 3%;
	min-width: 35em;	/* IE doens't understand this property. I use ems rather
				   than pixels so that the layout shouldn't break even
				   when the browser's default size is set very large */
	background-color: #fff;
	color: #000;
	font-size: 100.1%;
}
#pageWrapper
{
	border: solid 1px #000;
	border-width: 1px;
	margin: 0 10px 0 40px;	/* set side margins here 'cause IE doesn't like it set
				   on the body element */
	width: auto;
	background-color: #ccc;
	color: #000;
}
#outerColumnContainer
{
	/* reserves space for the left and right columns. you can use either
	 * padding, margins, or borders, depending on your needs. however you 
	 * can use the border method to create a background color for both left
	 * and right columns
	 */
	padding: 0 0 0 135px;
}
#innerColumnContainer
{
	width: 100%;
	z-index: 1;
}
#middleColumn
{
	float: right;
	margin: 0 0 0 -1px;
	width: 100%;
	z-index: 1;
}
#masthead
{
	background-color: #ddd;
	color: #000;
	border: solid 1px #000;
	left: auto;
	margin: 0 10px -25px 30px;
	padding: 0 10px;
	position: relative;
	text-align: center;
	top: -25px;
	width: auto;
	/* \*/
		position: static;
		margin-top: -25px;
		margin-bottom: 0;
		top: auto;
	
}
#masthead h1
{
	font-size: 150%;
	left: auto;
	margin: 0 0 -1em 0;
	padding: 0;
	position: relative;
	text-align: right;
	top: -1em;
	width: 100%;
}
#masthead h2
{
	color: #000;
	font-size: 400%;
	line-height: 1em;
	margin: 0 0 -0.14em 0;
	padding: 0;
	text-align: right;
}
#content
{
	background-color: #eee;
	color: #000;
	border: solid 1px #333;
	margin: 15px 10px 0 0;
	padding: 0 10px 0 40px;
}
#content h3.pageTitle
{
	border: solid 1px #000;
	border-width: 0 0 1px 0;
	font-size: 200%;
	margin: 0;
	padding: 10px 15px;
}
#contentColumnContainer
{
	margin: 10px 30% 10px 0;
	border-right: solid 1px #000;
}
#innerContent
{
	float: left;
	margin: 0 -1px 0 0;
	width: 100%;
}
#rightColumn
{
	/*	R = #contentColumnContainer's right margin width
	 *	N = width for #rightColumn
	 *	------------------------------------------------
	 *	N = R / ( ( 100 - R ) / 100 )
	 */
	float: right;
	width: 42.85%;
	margin: 0 -42.85% 0 1px;
}
#leftColumn
{
	float: left;
	left: auto;		/* reset v4 css */
	margin: -50px -24px 0 -155px;
	position: relative;	/* reset v4 css */
	top: auto;		/* reset v4 css */
	width: 180px;
	z-index: 4;
}
#leftColumn .inside
{
	padding: 0;
}
#cornerLogo
{
	width: 180px;
	height: 171px;
	margin: 0 -11px;
	overflow: visible;
	position: relative;
	z-index: 10;
}
#cornerLogo .placeHolder
{
	width: 168px;
	height: 163px;
	border: solid 1px #000;
	background-color: #D6DBE4;
	color: #000;

	/* IE/Mac is really anal about the right margins on this and the
	 * parent object. It's forced me to go absolute positioned to
	 * keep IE/Mac in line.
	 */
	position: absolute;
	top: -27px;
	left: 14px;
}
#cornerLogo .placeHolder p
{
	text-align: center;
}
.leftBlock
{
	background-color: #ddd;
	border: solid 1px #000;
	margin: 25px 0;
	padding: 0 5px;
	z-index: 0;
}
.leftBlock .vnav
{
	margin: -1px 0 5px 0;
}
.leftBlock h3
{
	background-color: #ddd;
	color: #000;
	border: solid 1px #000;
	font-size: 120%;
	margin: -10px 0 0 0;
	padding: 2px 6px;
}
#mainMenu
{
	margin-top: -15px;
}
#mainMenu .vnav
{
	margin-top: 23px;
}
.leftTextBlock
{
	font-size: 88%;
	padding: 0 7px;
}
.leftTextBlock p
{
	margin: 5px 0;
}
#footer
{
	clear: right;
	padding: 10px 24px 10px 34px;
}
#footer p
{
	padding: 0;
	margin: 0;
}


/* vertical navigation stuff. mostly exactly as seen in the vnav.css styleheet
 * in the original skidoo layout.
 */
.vnav
{
	margin: 10px 0;
}
.vnav ul, .vnav ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}
.vnav ul
{
	border: solid 1px #000;
	border-bottom-width: 0;
}
.vnav ul li
{
	border-bottom: solid 1px #000;
}
.vnav ul li, .vnav ul li a
{
	margin: 0;
	padding: 0;
	line-height: normal;
	display: block;
}
.vnav ul li a
{
	display: block;
	padding: 2px 5px 3px 5px;
}
.vnav ul li a, .vnav ul li a:link, .vnav ul li a:visited, .vnav ul li a:active, .vnav ul li a:hover
{
	text-decoration: none;
	cursor: pointer;
}
.vnav h3
{
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 126%;
}

/* horizontal navigation stuff. mostly exactly as seen in the hnav.css styleheet
 * in the original skidoo layout.
 */
.hnav
{
	border: solid 1px #000;
	margin: 0;
	padding: 3px 0 4px 0;
	white-space: nowrap;
}
.hnav ul span.divider
{
	display: none;
}
* html .HNAV
{
	padding: 0;	/* IE5/Win will resize #hnav to fit the heights of its
			   inline children that have vertical padding. So this
			   incorrect case selector will remove that padding */
}
.hnav ul
{
	text-align: center;
	list-style-type: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}
.hnav ul li
{
	display: inline;
	white-space: nowrap;
	margin: 0;
}
.hnav ul li a, .hnav ul li a:link, .hnav ul li a:visited, .hnav ul li a:active, .hnav ul li a:hover
{
	margin: 0 -1px 0 0;
	padding: 3px 10px 4px 10px;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	cursor: pointer;
}
.hnav ul li a, .hnav ul li a:link, .hnav ul li a:visited, .hnav ul li a:active, .hnav ul li a:hover
{
	text-decoration: none;
}


/* some generic/utility selectors
 */
.bottomBorderOnly
{
	border-width: 0 0 1px 0;
}

/* WHY IE Sucks:
 * 	It's the hasLayout hack. This silly thing that IE needs to render elements
 *	correctly. It's dumb. It's annoying. Try removing this block of CSS
 *	and watch IE crumble.
 */
* html #masthead,
* html #masthead h2,
* html #leftColumn,
       .leftBlock h3, 
* html #rightColumn
{
	position: relative;
}
* html #innerColumnContainer
{
	/* \*/
		position: relative;
	/* because IE Mac doesn't do z-index right with this element having a
	 * a position value of relative.
	 */
}
* html #masthead,
* html #content,
* html #contentColumnContainer,
* html .vnav,
* html .vnav ul li a/**/,
* html .hnav, 
* html .hnav ul li a,
* html .leftBlock,
* html .leftBlock h3
{
	/* \*/
		height: 0.01%;
	/* the empty comment in the .vnav ul li a selector is to keep that 
	 * particular selector from being processed by IE5.0/Win
	 */
}
* html div
{
	overflow: visible;
}
* html body
{
	/* \*/
		word-wrap: break-word;
	/* invalid CSS but keeps IE from breaking horribly under narrow viewports */
}

/******************************************************************************/
