body {
  padding: 0px;
  background-color: #363B49;
  font-family: Arial, Verdana, Helvetica;
  font-size: 10px;
  FONT-COLOR: #FFFFFF;

scrollbar-3dlight-color:#8C9192;
scrollbar-arrow-color:#ffffff;
scrollbar-darkshadow-color:#4A4E65;
scrollbar-face-color:#8C9192;
scrollbar-highlight-color:#4A4E65;
scrollbar-shadow-color:#000000;
scrollbar-track-color:#383D4C;; 
  }

a:link       { color: #FFFFFF; text-decoration: none }
a:active     { color: #FFFFFF; text-decoration: none }
a:visited    { color: #FFFFFF; text-decoration: none }
a:hover      { color: #6666CC; text-decoration: underline }

font { FONT-FAMILY: Verdana; FONT-SIZE: 11px; FONT-COLOR: #FFFFFF}

ul, li {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #FFFFFF;
}

table, td {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #FFFFFF;
}
p, div {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFFFFF;
}

.ButtonOn       {
BACKGROUND-COLOR: #98A8A8;
COLOR: #336699;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 11px;
font-weight: bold;
border-top: 1px outset #4A4E65;
border-right: 1px outset #CCCCCC;
border-bottom: 1px outset #788890;
border-left: 1px outset #98A8A8;
}
.ButtonOff      {
BACKGROUND-COLOR: #788890;
COLOR: #000000;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 11px;
font-weight: bold;
border-top: 1px outset #4A4E65;
border-right: 1px outset #CCCCCC;
border-bottom: 1px outset #788890;
border-left: 1px outset #98A8A8;
}
.3DBRD {
BORDER-RIGHT: 2px groove #4A4E65;
BORDER-TOP: 2px groove #4A4E65;
BORDER-LEFT: 2px groove #cccccc;
BORDER-BOTTOM: 2px groove #788890;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
/*
TEXTAREA{border-left:1px outset #98A8A8; border-right:1px outset #98A8A8; 
border-top:1px outset #98A8A8; border-bottom:1px outset #98A8A8; 

FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
FONT-SIZE: 11px; font-weight: bold; 

}
*/
input {
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
FONT-SIZE: 11px; 
FONT-COLOR: #000000;
background-color:#E0E0E0; 
color: #000000; 
font-weight: bold;
border-left:1px outset #98A8A8; 
border-right:1px outset #BDC7C6; 
border-top:1px outset #98A8A8; 
border-bottom:1px outset #CCCCCC; 
} 
textarea  {
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 11px;
font-color: #000000;
font-weight: bold;
border-style:solid; 
border-width:1px; 
border-color:#98A8A8; 
background-color:#E0E0E0; 
color:#000000; 
border-left:1px outset #98A8A8; 
border-right:1px outset #BDC7C6; 
border-top:1px outset #98A8A8; 
border-bottom:1px outset #CCCCCC; 
}
form {
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 11px; 
FONT-COLOR: #000000;
margin:0; 
padding:0;
} 

select { 
FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
border-style:solid;
border-width:1px;  
font-size:11px; 
font-weight:normal; 
border-color:#98A8A8; 
background-color:#E0E0E0; 
color: #000000; 
}

.header         {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.subheader      {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.side           {BACKGROUND: none; COLOR: #253B56; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.copyright      {BACKGROUND: none; COLOR: #ffffff; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.sidehead       {BACKGROUND: none; COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.description    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.poll           {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}

.title          {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.content        {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 11px; FONT-FAMILY: Verdana}
.storytitle     {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.storycat       {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: underline}
.boxtitle       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.boxcontent     {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana}
.option         {BACKGROUND: none; COLOR: #cccccc; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}
.tiny           {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; FONT-FAMILY: 
Verdana; TEXT-DECORATION: none}

A.sidenav:link {color: #63A5DF; font-size: 11px; TEXT-DECORATION: none}
A.sidenav:active {color: #63A5DF; font-size: 11px; TEXT-DECORATION: none}
A.sidenav:visited {color: #63A5DF; font-size: 11px; TEXT-DECORATION: none}
A.sidenav:hover {color: #ffffff; font-size: 11px; TEXT-DECORATION: none}

.high {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
font-style: normal;
color: #3BB878;
}
.moderate {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-style: normal;
font-weight: bold;
color: #101D3F;
}
.low {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-style: normal;
font-weight: bold;
color: #800000;
}
.closed {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-style: normal;
font-weight: bold;
color: #330000;
}

