h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; margin-right: 0px; margin-left: 12px; color: #000000; font-weight: bold;  margin-top: 12px; margin-bottom: 12px}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; margin-right: 0px; margin-bottom: 0px; margin-left: 12px; font-weight: bold; color: #333333;  margin-top: 12px}
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #333333 ; margin-right: 6px; margin-left: 12px}
h4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #333333 ; margin-right: 6px; margin-left: 12px}
.pointer {  cursor: default }
.menucelloff {  background-color: #D2D9DD }
.menucellover {  background-color: #666666 }
ul {  font-family: "Trebuchet MS", sans-serif; font-size: 13px; margin-left: 56px; margin-right: 36px; }
ol {  font-family: "Trebuchet MS", sans-serif; font-size: 13px; margin-left: 56px; margin-right: 36px; }
.errormessage { font-family: "Trebuchet MS", sans-serif; font-size: 13px; color: red; } 
td { font-family: "Trebuchet MS", sans-serif; font-size: 13px;  } 
.maintable {  background-color: #FFFFFF}
.maintable p {  margin-top: 6px; margin-right: 36px; margin-bottom: 6px; margin-left: 36px; font-family: "Trebuchet MS", sans-serif; font-size: 13px; line-height: 18px; color: #222222; }
.maintable h4 .byline {  font-size: 9px; color: #AAAAAA; }
.maintable b {  color: #111111; font-weight: bold; }
.maintable a:link { color: #336699; text-decoration: underline; }
.maintable a:visited {  color: #660066;  text-decoration: underline; }
.maintable a:hover {  color: #336699; text-decoration: underline; }
.maintable a:active { color: #660066; text-decoration: underline; }
.sidebarmid  { color: #CCCCCC }
.sidebarmid p  {  margin-right: 12px; margin-left: 12px; border-style: none ; font-family: "Trebuchet MS", sans-serif; font-size: 13px; color: #CCCCCC}
.sidebarmid a:link { color: #B8CFCF; text-decoration: underline ; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.sidebarmid a:visited {  color: #CCCCCC; text-decoration: underline ; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.sidebarmid a:hover {  color: #E4E0D3; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.sidebarmid a:active { color: #B8CFCF; text-decoration: underline ; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.sidebar  {  border-style: none ; background-color: #FFFFFF}
.sidebar p  {  margin-top: 12px; margin-right: 16px; margin-bottom: 0px; margin-left: 24px ; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #999999}
.sidebar a:link {  color: #669999; text-decoration: underline }
.sidebar a:visited {  color: #669999;  text-decoration: underline }
.sidebar a:hover {  color: #333333; text-decoration: underline}
.sidebar a:active {  color: #669999; text-decoration: underline }
.copyright {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #999999}
.sidebarpq {  border: #999999; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px}

.guildheader { color: #FFFFFF; text-decoration: none;
             font-size: 10pt; font-family: Arial,Helvetica; font-weight: bold;}
.guildrow { color: #666666;  text-decoration: none;
             font-size: 10pt; font-family: Arial,Helvetica; }
.guildcell { background-color: #FFFFFF; }
.guildcell a:link {  text-decoration: none}
.guildcell a:visited {  text-decoration: none}
.guildcell a:hover {  text-decoration: underline}
.guildcell a:active { text-decoration: underline}

.calendarday { background-color: #FFFFFF; font-size: 8pt; font-family: Arial, Helvetica, sans-serif;}
.calendarheader { color: #FFFFFF; font-size: 9pt; font-weight: bold;}
