<style type="text/css">
a	{ font-family: Arial;font-size: 9pt;text-decoration:none;color:black; }
a:link	{ font-family: Arial;font-size: 9pt;text-decoration:none;color:black; }
a:visited	        { font-family: Arial;font-size: 9pt;text-decoration:none;color:black; }
a:active	        { font-family: Arial;font-size: 9pt;text-decoration:none;color:black; }
body 			{ font-family:Arial; font-size: 9pt; margin:0px; }
body.DetailBody 	{ margin-right:2px;margin-left:2px;background-color:#CCFFFF; }
body.footer		{ margin:0px; background-color:#99CCCC;	}
table.CalHeader 	{ background-color:#99CCCC;height:60px; }
td.CalTitle 		{ font-size:18pt; background-color:#669999;color:#CCFFFF; }
table.DetailHeader 	{ background-color:#669999;margin:0px; }
td.CalMonth 		{ font-size:16pt;color:black; }
table.MonthDayHdr 	{ background-color:#669999; }
td 			{ font-family:Arial; font-size: 9pt; }
td.DayHeader 		{ height:40px; font-family:Arial; font-size: 10pt; font-weight: bold; }
td.cell			{
  			  border-color:#669999;
		   	  border-width:.1em;
		   	  border-bottom-style:none;
		   	  border-top-style:none;
		   	  border-right-style:solid;
		  	  border-left-style:none;
		  	}

td.bottomcell		{
   			  border-color:#669999;
   			  border-width:.1em;
   			  border-bottom-style:solid;
   			  border-top-style:none;
   			  border-right-style:solid;
    	 		  border-left-style:none;
		  	}

td.numbercell		{
			  color:#669999;
  			  border-color:#669999;
   			  border-width:.1em;
   			  border-bottom-style:none;
   			  border-top-style:none;
   			  border-right-style:solid;
  	 		  border-left-style:none;
	  	 	}

td.FillDay		{
			  background-color:#CCCCCC;
			  border-color:#669999;
			  border-width:.1em;
			  border-bottom-style:none;
			  border-top-style:none;
			  border-right-style:solid;
			  border-left-style:none;
			}

td.bottomFillDay 	{
			  background-color:#CCCCCC;
		   	  border-color:#669999;
		   	  border-width:.1em;
		   	  border-bottom-style:solid;
		   	  border-top-style:none;
		   	  border-right-style:solid;
		  	  border-left-style:none;
		  	}

td.FillDay2 		{
			  border-color:#669999;
			  border-width:.1em;
			  border-bottom-style:none;
			  border-top-style:none;
 			  border-right-style:solid;
			  border-left-style:none;
			}

td.bottomFillDay2	{
			  border-color:#669999;
			  border-width:.1em;
			  border-bottom-style:solid;
			  border-top-style:none;
			  border-right-style:solid;
			  border-left-style:none;
			}

div.banner		{ background-color:#CCCCCC; }

.show 			{ font-family: verdana, arial; cursor:hand; }
.hide 			{ display:none; background-color:white;cursor:hand; }

</style> 
