/* Internet Explorer CSS Hacks */

.searchbox {
	margin: 0;
	}
	
#character {
	margin: -17px 0 0 0;
	}
	
.archivedropdown {
	width: 142px;
	}

.gravatarimage {
	margin: 18px 0 0 10px;
	}

.commentwrap {
	margin-top: -14px;
	margin-bottom: 20px;
	}

h2 {
	margin: 0;
	}

#postleft {
	margin-top: -5px;
	}