BODY { margin-left:20; margin-top:15; font-family:verdana, arial, helvetica, sans-serif; font-size:80%; }

TABLE            { font-size:100%; }
TABLE.info       { margin-left:32; border-top:1 black solid; border-bottom:1 black solid; }
TABLE.infoCenter { align:center; }

.note { float:right; width:33%; margin-left:8; border:1px black solid; padding:10px; background-color:#FFFFEE; text-align:center; }
.button { font-size:8pt; font-weight:bold; color:white; background-color:#003399; }

A              { color:#003399; text-decoration:none; }
A:hover        { text-decoration:underline; }
A:visited      { color:#003399; }
A.Aimage:hover { border:2 solid #003399; }

.heading1 { color:#FFFFFF; background-color:#003399; font-size:100%; font-weight:bold; text-align:center; }
.heading2 { color:#CC0000; font-size:120%; font-weight:bold; text-align:center; }

.applyBorder { border:2 solid #003399; }
.removeBorder { border:2 solid #FFFFFF; }

