BODY { BACKGROUND-POSITION: center top; SCROLLBAR-FACE-COLOR: #eee9bf; BACKGROUND-ATTACHMENT: 
fixed; SCROLLBAR-HIGHLIGHT-COLOR: #500050; SCROLLBAR-3DLIGHT-COLOR: #2f2f4f; SCROLLBAR-ARROW-COLOR: 
#2f2f4f; SCROLLBAR-TRACK-COLOR: #000033; SCROLLBAR-DARKSHADOW-COLOR: #500050; 
BACKGROUND-COLOR: #000000; scrollbar-shadow-colour: #500050 ; color: #000000} A { TEXT-DECORATION: 
none } A:hover { TEXT-DECORATION: underline } INPUT { BORDER-RIGHT: #eeeeee 1px 
solid; BORDER-TOP: #eeeeee 1px solid; BACKGROUND: #2f2f4f; BORDER-LEFT: #eeeeee 
1px solid; COLOR: #000033; BORDER-BOTTOM: #eeeeee 1px solid } .inputbox { BORDER-RIGHT: 
#eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; BACKGROUND: #2f2f4f; BORDER-LEFT: 
#eeeeee 1px solid; COLOR: #000033; BORDER-BOTTOM: #eeeeee 1px solid } SELECT { 
BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; BACKGROUND: #000033; 
BORDER-LEFT: #eeeeee 1px solid; COLOR: #000033; BORDER-BOTTOM: #eeeeee 1px solid 
} .whosonline { } .whosonline A:link { COLOR: #ffffff } .whosonline A:visited 
{ COLOR: #ffffff } .whosonline A:hover { COLOR: #000033 } .whosonline A:active 
{ COLOR: #ffffff } .Navigation { FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #2f2f4f; 
FONT-FAMILY: Arial; LETTER-SPACING: -1px ; background-color: #000033} A { COLOR: #FFFFFF} .NewsTitle { FONT-WEIGHT: 
700; FONT-SIZE: 15px; COLOR: #000033; LETTER-SPACING: -1px } .NewsHeader { BORDER-RIGHT: 
#241318 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #748378 1px solid; PADDING-LEFT: 
4px; FONT-WEIGHT: 700; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; BORDER-LEFT: #748378 
1px solid; COLOR: #000033; PADDING-TOP: 4px; BORDER-BOTTOM: #241318 1px solid; FONT-FAMILY: 
arial; BACKGROUND-COLOR: #000033} .NewsContent { BORDER-RIGHT: #242424 1px solid; 
PADDING-RIGHT: 8px; BORDER-TOP: #848484 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 
11px; PADDING-BOTTOM: 8px; BORDER-LEFT: #848484 1px solid; COLOR: #000033; PADDING-TOP: 
8px; BORDER-BOTTOM: #242424 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #4f4f4f 
} .ClassHeader { BORDER-RIGHT: #241318 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: 
#748378 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 
3px; BORDER-LEFT: #748378 1px solid; COLOR: #000033; PADDING-TOP: 3px; BORDER-BOTTOM: 
#241318 1px solid; FONT-FAMILY: "Magic Cards"; BACKGROUND-COLOR: #000033} .ClassHeaderName 
{ BORDER-RIGHT: #241318 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #748378 1px 
solid; PADDING-LEFT: 8px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; 
BORDER-LEFT: #748378 1px solid; COLOR: #000033; PADDING-TOP: 3px; BORDER-BOTTOM: 
#241318 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #000033} .ClassHeaderName 
{ FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #FFFFFF; FONT-FAMILY: arial; LETTER-SPACING: 
-1px } .ClassContent { BORDER-RIGHT: #242424 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: 
#848484 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: 
#848484 1px solid; COLOR: #000033; PADDING-TOP: 3px; BORDER-BOTTOM: #242424 1px 
solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #4f4f4f } .ClassContentBold { BORDER-RIGHT: 
#242424 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #848484 1px solid; PADDING-LEFT: 
8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #848484 1px solid; COLOR: 
#000033; PADDING-TOP: 3px; BORDER-BOTTOM: #242424 1px solid; FONT-FAMILY: arial; 
BACKGROUND-COLOR: #4f4f4f } .ClassContentBoldLeader { BORDER-RIGHT: #242424 1px 
solid; PADDING-RIGHT: 3px; BORDER-TOP: #848484 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 
11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #848484 1px solid; COLOR: #000033; PADDING-TOP: 
3px; BORDER-BOTTOM: #242424 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #4f4f4f 
} .ClassContentAlt { BORDER-RIGHT: #343434 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: 
#949494 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: 
#949494 1px solid; COLOR: #000033; PADDING-TOP: 3px; BORDER-BOTTOM: #343434 1px 
solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #5f5f5f } .ClassContentAltBold { 
BORDER-RIGHT: #343434 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #949494 1px solid; 
PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #949494 
1px solid; COLOR: #000033; PADDING-TOP: 3px; BORDER-BOTTOM: #343434 1px solid; 
FONT-FAMILY: arial; BACKGROUND-COLOR: #5f5f5f } .ClassContentAltBoldLeader { BORDER-RIGHT: 
#343434 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #949494 1px solid; PADDING-LEFT: 
8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #949494 1px solid; COLOR: 
#000033; PADDING-TOP: 3px; BORDER-BOTTOM: #343434 1px solid; FONT-FAMILY: arial; 
BACKGROUND-COLOR: #5f5f5f } .ClassContentBold { FONT-WEIGHT: 700 } .ClassContentAltBold 
{ FONT-WEIGHT: 700 } 