BODY {
background: url(/eq/gfx/eq_back_new.gif);
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #232E26;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
text-decoration: none;
margin:  0px;
border:  0px;
padding: 0px;
scrollbar-face-color: #847860;
scrollbar-highlight-color: #C1B08C;
scrollbar-shadow-color: #C1B08C;
scrollbar-3dlight-color: #321D20;
scrollbar-arrow-color: #C1B08C;
scrollbar-track-color: #313124;
scrollbar-darkshadow-color: #321D20;
}
.uocss {  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #D9C895;
}
.uodate {  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #575757;
}
.dimposted {  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #9B9B9B;
}
.dimposted2 {  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: bold;
	font-weight: normal;
	color: #D9C895;
}
.uopollquestion {  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #AEA893;
}
.menuheader
{
	color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.menuheader2
{
	color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-variant: small-caps;
}
A:hover
{
	COLOR: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
}
A:visited
{
	color: #C0BBAB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
A:link
{
	color: #E3E1DB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
A:active
{
	color: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
A.set1:link
{
	color: #E3E1DB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
A.set1:visited
{
	color: #C0BBAB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
A.set1:active
{
	color: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}
A.set1:hover {color: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}
A.set2:link {color: #E3E1DB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
A.set2:visited {color: #C0BBAB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
A.set2:active {color: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
A.set2:hover {color: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
A.set3:visited {color: #FFCC66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
A.set3:active {color: #FFCC66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
A.set3:hover {color: #FFCC66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
A.set3:link {color: #FFCC66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.headlines
{
	COLOR: #AEA893; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
}
.headlines A:hover
{
	COLOR: #ffffff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
}
.headlines A:visited
{
	color: #C0BBAB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
.headlines A:link
{
	color: #E3E1DB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
.headlines A:active
{
	color: #d6b46a;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
.lmenu {  
	color: #D9C895;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.spoiler {  
	color: #cccccc;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
}
.time_date {  
	color: #E3E1DB;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.newsTitle {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style: normal;
 	font-variant: normal;
	color: #CCCCCC
}
.boxtitle
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	BACKGROUND: none;
}.boxcontenthtml { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #CCC6AC; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; BACKGROUND: none; }
.subtext1 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #A0AEC9; ; text-align: left}
.headlines2 { COLOR: #AEA893; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold }
.scrolltext { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #5A3D1F; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none; }
.copyright { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #C0BBAB; ; text-align: left }
.boxcontent2 { FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #F2E4D7; FONT-SIZE: 9px; FONT-WEIGHT: normal; TEXT-DECORATION: none; BACKGROUND: url(none); ; font-variant: normal; text-transform: none; clip:   rect(   ); line-height: 12px}
