/*** MAIN CHARACTERISTICS ***/

TABLE, TR, TD		{ font-family: Geneva, Tahoma, Verdana; font-size: 11px; color: #000000; }
BODY      			{ font-family: Geneva, Tahoma, Verdana; font-size: 11px; color: #000000; background-color: #FFFFFF; }
a:link, a:visited, a:active  	{ text-decoration:underline; color: #525E90; }


/*** CATEGORY HEADERS, NAVIGATION, MISCELLANEOUS ***/

#category		{ font-size: 11px; font-weight: bold; color: #FFFFFF; line-height: 120%; padding-left: 5px;}
#category a:link, #category a:visited,#category a:active  { text-decoration: none; color: #FFFFFF; }
#category a:hover 		{ text-decoration: underline; }
#nav              		{ font-size: 11px; font-weight: bold; }
#nav a:link, #nav a:visited,#nav a:active  { text-decoration: underline; color: #525E90; }
#redirect         		{ font-size: 11px; font-weight: bold;  }
#highlight        		{ font-size : 10px; color: #3D3B3B; }
#highlight a:link, #highlight a:visited, #highlight a:active { text-decoration: underline; color: #58557F; }
#highlight a:hover		{ text-decoration: underline; }


/*** VIEWING TOPICS ***/

#signature         		{ font-size: 11px; color: #3D3B3B; line-height: 13px; }
#postdetails       		{ font-size: 11px; color: #000000; }
#postcolor         		{ font-family: Geneva, Verdana, Tahoma; font-size: 11px; color: #000000; line-height: 16px; }
#membertitle       		{ font-size: 10px; color: #3D3B3B; background-color: #D9E1EB; }
#normalname        	                { font-size: 12px; color: #000000; padding-bottom: 2px; }
#unreg             		{ font-size: 11px; font-weight: bold;  color: #3D3B3B; }
.buttontext 		{ text-decoration: none; font-size: 10px; color: #8190A5; font-weight: bold; }
.buttontext a:link, .buttontext a:visited, .buttontext a:active { text-decoration: none; color: #8190A5; }
.buttontext a:hover                    { text-decoration: none; color: #525E90; }


/*** TITLES ***/

#titlelarge          		{ font-size: 12px; font-weight: bold; line-height: 120%; color: #FFFFFF; }
#titlelarge a:link, #titlelarge a:visited, #titlelarge a:active { color: #FFFFFF; }
#titlemedium         	                { font-weight: bold; font-size: 11px; color: #FFFFFF; background-color: #525E90; line-height: 120%; padding-left: 10px; }
#titlemedium  a:link, #titlemedium  a:visited, #titlemedium  a:active { text-decoration: none; }
#titlemedium a:hover 	{ text-decoration: underline; }


/*** CONTROL PANEL ***/

#controlpanel    		{ font-size: 10px; font-weight: bold; line-height: 120%; }
#usermenu        		{ font-size : 12px; line-height: 120%px; color: #000000; }
#tabs            		{ border: 1px solid #333366; vertical-align: middle; font-size: 11px; }


/*** FORUM AND TOPIC LINKS ***/

#member                                  { background-color: #D9E1EB; }
#linky         		{ font-weight: bold; font-size: 11px; color: #D1D6E9; }
#linky  a:link, #linky  a:visited, #linky  a:active   { text-decoration: underline; color: #DCE1F2; }
#linkthru         		{ font-family: Geneva, Verdana, Tahoma; font-size: 11px; color: #000000; font-weight: bold; }
#linkthru  a:link, #linkthru  a:visited, #linkthru  a:active   { text-decoration: underline; color: #525E90; font-weight: bold; }
#linkthru a:hover 		{ text-decoration: underline; color : #5264A8; }
#desc             		{ font-size: 11px; color : 3D3B3B; }
#copyright        		{ font-family: Arial; font-size: 9px; text-decoration: none; line-height: 12px; color: #3D3B3B; letter-spacing: 1px; }
#QUOTE 			{ font-family:Verdana, Arial; font-size:10px; color: #333333; background-color: #FFFFFF; border: 1px solid Black;padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; }
#CODE 			{ font-family:Verdana, Arial; font-size:10px; color: #333333; background-color: #FFFFFF;  border: 1px solid Black; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; }
#ME     			{ font-family:Verdana, Arial; font-size:12px; color: #CC0000; text-align:center; font-weight: bold; }
.bottom 			{ vertical-align: bottom; }
.forminput    		{ font-size: 10px; background-color: #FFFFFF; font-family: Geneva, Verdana, Tahoma; vertical-align:middle; border: 1px solid #99A2C1; }
.textinput    		{ font-size: 11px; font-family: Geneva, Verdana, Tahoma; vertical-align: middle; background-color: #FFFFFF; border: 1px solid #99A2C1; }
#small 			{ font-family: arial; font-size: 9px; }
#date  			{ font-size: 10px; color: #5E5E5E; }