 body { 
	scrollbar-face-color: #D8E2E7;
	scrollbar-shadow-color: #D8E2E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #96AABD;
	scrollbar-darkshadow-color: #96AABD;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: 606D79; 

	BACKGROUND-COLOR: #000000;
	background-attachment: fixed; 
	background-image: url(http://www.sonic.net/~goodrow/dbn/images/bg.jpg); 
	background-repeat: no-repeat; 
	background-position: left top; 
	font-family: verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #CCCCCC; 
	text-decoration: none; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;  
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px;  
	border: thin none }
	

	h4 { font-size: 13px; font-weight: bold;  }
	i { font-size: 13px; font-style: italic;  }
	.m { font-size: 12px;  }
	.td { font-size: 12px;  }
	.headings { font-size: 11px; font-weight: bold; }
	.title { font-size: 13px; color: #E8E8E8; font-weight: bold; font-family: verdana, helvetica, sans-serif; }
	.usertitle { font-size: 12px; font-weight: bold; color: #A0A0A0 }
	.inputbox { font-size: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;}
	.inputbutton { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	
	.newsbody { font-family: verdana, Helvetica, sans-serif; font-size: 13px; color: #CCCCCC; }
	.newstitle { font-family: verdana, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #000000}
	.newsdate { font-family: verdana, Helvetica, sans-serif; font-size: 16px; font-style: italic; font-weight: bold; color: #ff9933}
	.newsby { font-family: verdana, Helvetica, sans-serif; font-size: 11px; font-style: italic; color: #009933} 
	
	.textinputshort { font-size: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;} 

	TEXTAREA, .bginput {FONT-SIZE: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;}

	BUTTON { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	


	A:link {text-decoration: none; font-weight: bold; font-style: none; color: #00BFFF}

	A:visited {text-decoration: none; font-weight: bold; font-style: none; color: #00BFFF}

	A:hover {text-decoration: none; font-weight: bold; font-style: none; color: #B0C4DE}

	A:active {text-decoration: none; font-weight: bold; font-style: none; color: #FFFF00}


