/* Style sheet */

BODY {	/* BODY設定 */
	background-image: url(wp-g-l-o.gif);
	color: Black;
}
A:link {	/* 未訪問リンク */
	color: blue;
}
A:visited {	/* 訪問済リンク */
	color: Purple;
}
A:active {	/* アクティブリンク */
	color: Red;
}
A:hover{	/* ターゲット中リンク */
	color: Fuchsia;
}
H1 {	/* 見出し1 */
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}
H2 {	/* 見出し2 */
	text-align: center;
	font-size: 120%;
}
TABLE {	/* 表 */
	text-align: center;
}
THEAD {	/* 表ヘッダ */
	text-align: center;
	background-color: Silver;
	font-size: 90%;
	font-weight: bold
}
TFOOT {	/* 表フッタ */
	text-align: center;
	background-color: Silver;
	font-size: 90%;
	font-weight: bold
}
.warn {	/* 注意書き */
	text-align: center;
	border: Solid Navy;
}
.info {	/* 説明書き */
	text-align: center;
}
.credit {	/* クレジット */
	text-align: center;
	font-size: 75%;
}
.link {		/* リンク表示 */
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.nrm {	/* 通常表示 */
	text-align: center;
}
.small {	/* 小さく表示 */
	text-align: center;
	font-size: 75%;
}
HR {	/* 区切り線 */
	height: 3;
}
.formabout {	/* 入力欄説明 */
	text-align: center;
	font-size: 90%;
	font-weight: bold
}
COLGROUP.forminfo {	/* 入力欄説明 */
	text-align: right;
	font-size: 90%;
	font-weight: bold
}
COLGROUP.form {	/* 入力欄 */
	text-align: left;
}
.male {	/* 統計用 */
	color: Blue;
}
.female {	/* 統計用 */
	color: Red;
}
