/* Style sheet */

BODY {	/* BODY設定 */
	background-color: #F0F0F0;
	color: #000000;
}
A:link {	/* 未訪問リンク */
	color: #80C000;
}
A:visited {	/* 訪問済リンク */
	color: #508000;
}
A:active {	/* アクティブリンク */
	color: #FF0000;
}
A:hover{	/* ターゲット中リンク */
	color: #FF8000;
}
H1 {	/* 見出し1 */
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}
H2 {	/* 見出し2 */
	text-align: center;
	font-size: 120%;
}
TABLE {	/* 表 */
	text-align: center;
	background-color: #FFFFFF;
}
THEAD {	/* 表ヘッダ */
	text-align: center;
	color: #FFFFFF;
	background-color: #000050;
	font-size: 90%;
	font-weight: bold
}
HR {	/* 区切り線 */
	height: 3;
}
.warn {	/* 注意書き */
	font-size: 80%;
	text-align: center;
	border: Solid Navy;
}
.info {	/* 説明書き */
	color: Black;
	text-align: center;
	background-color: Yellow;
}
.credit {	/* クレジット */
	text-align: center;
	font-size: 75%;
}
.link {		/* リンク表示 */
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.center {	/* 中央に表示 */
	text-align: center;
}
