html{
height:100%;
}
form{
height:100%;
}

body{
width:1024px;
font-weight:bold;
height:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:#000000;
background-image:url(/pics/2423/eosking_brownback5a.gif);
border-bottom:#000000 thick none;
border-top:#000000 thick none;
border-right:#000000 thick none;
border-left:#000000 thick none;
background-color:#996633;
text-align:left;
font-size:15px;
font-family:arial;
}
.replyButton a:link, .replyButton a:active, .replyButton a:visited{
color:#FFFFFF;
}
a:link, a:active, a:visited{
color:#000000;
}

h1{
background-image:url(/pics/2423/none);
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-family:arial;
font-size:18px;
}
h2{
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-family:arial;
font-size:18px;
}
#center{
background-image:url(/pics/2423/wheatbkg.jpg);






display:block;

















































font-weight:normal;
padding:10px 0px 0px 15px;
margin:10px 65px 0px 310px;
color:#000000;
height:100%;
border-bottom:#996633 thick ridge;
border-top:#996633 thick ridge;
border-right:#996633 thick ridge;
border-left:#996633 thick ridge;
background-color:#996633;
text-align:left;
font-size:15px;
font-family:arial;
vertical-align:top;
}
img{
border:0px;
}
#left1_leftCell{
background-image:url(/pics/2423/wheatbkg.jpg);







display:inline;
font-weight:bold;
height:1725px;
width:200px;
padding:10px 0px 0px 10px;
margin:10px 15px 0px 80px;
color:#000000;
border-bottom:#996633 thick ridge;
border-top:#996633 thick ridge;
border-right:#996633 thick ridge;
border-left:#996633 thick ridge;
background-color:#996633;
text-align:right;
font-size:20px;
font-family:arial;
position:absolute;
left:0px;
}
#left1_leftCell a:link, #left1_leftCell a:active, #left1_leftCell a:visited{
color:#000000;
}
#TopRaiders{

display:inline;
font-weight:normal;

background-color:transparent;
color:#FFFFFF;
width:100px;
padding:0px 0px 0px 0px;
margin:0px 20px 15px 0px;
text-align:right;
font-size:15px;
font-family:arial;
}
#EQNews{
background-image:none;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
width:140px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#right1_rightCell{


background-color:transparent;
color:#FFFFFF;
font-weight:normal;
border-bottom:#CCCCCC thick none;
border-top:#CCCCCC thick none;
border-right:#CCCCCC thick none;
border-left:#CCCCCC thick none;
width:0px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:15px;
font-family:arial;
position:absolute;
height:0px;
right:0px;
}
#EQNews a:link, #EQNews a:active, #EQNews a:visited{
color:#FFFFFF;
}
.newsTitle{











height:30px;



width:95%;





border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
background-color:transparent;
font-weight:normal;

background-repeat:repeat-x;
color:#000000;
padding:10px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:14px;
font-family:arial;
}
.newsBody a:link, .newsBody a:active, .newsBody a:visited{
color:#996633;
}
.newsBody{
width:100%;



border-bottom:#111111 medium none;
border-right:#111111 medium none;
border-left:#111111 medium none;
background-color:transparent;
border-top:#111111 medium none;
font-weight:normal;

color:#000000;
padding:0px 0px 10px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:12px;
font-family:arial;
}
.calendarHeader{
background-image:url(/pics/2423/DONbg.PNG);


background-color:#333333;
border-bottom:#111111 thick ridge;
border-top:#111111 thick ridge;
border-right:#111111 thick ridge;
border-left:#111111 thick ridge;
font-weight:normal;
color:#FFFFFF;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;

}
.calendarDay a:link, .calendarDay a:active, .calendarDay a:visited{
color:#FFFFFF;
}
.calendarDay{
font-weight:normal;
border-bottom:#FFFFFF medium solid;
border-top:#FFFFFF medium solid;
border-right:#FFFFFF medium solid;
border-left:#FFFFFF medium solid;
height:75px;
width:75px;
background-color:#333333;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
.calendarOtherMonth{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#111111;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
.encountersHeader{

border-bottom:#111111 thin ridge;
border-top:#111111 thin ridge;
border-right:#111111 thin ridge;
border-left:#111111 thin ridge;
background-color:transparent;
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:15px;
font-family:arial;

}
.encountersHeader a:link, .encountersHeader a:active, .encountersHeader a:visited{
color:#FFFFFF;
}
.encountersTable a:link, .encountersTable a:active, .encountersTable a:visited{
color:#FFFFFF;
}
.encountersTable{
font-weight:normal;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:transparent;
color:#FFFFFF;
width:95%;
padding:0px 25px 0px 25px;
margin:0px 0px 50px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.galleryTable a:link, .galleryTable a:active, .galleryTable a:visited{
color:#FFFFFF;
}
.galleryTable{
border-bottom:#FF9900 medium ridge;
border-top:#FF9900 medium ridge;
border-right:#FF9900 medium ridge;
border-left:#FF9900 medium ridge;
background-color:#000000;
color:#FFFFFF;
padding:25px 25px 25px 25px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#btnHome a:link, #btnHome a:active, #btnHome a:visited{
color:#FFFFFF;
}
#btnNews{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnRoster{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnRaids{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnGallery{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnLoot{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnItems{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnForums{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
.rosterOuterTable{
border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
font-weight:normal;
background-color:transparent;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 100px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.rosterHeader td{

border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
background-color:transparent;
font-weight:normal;
color:#FFFFFF;
padding:15px 0px 15px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:15px;
font-family:arial;

}
.rosterHeader td a:link, .rosterHeader td a:active, .rosterHeader td a:visited{
color:#FFFFFF;
}
.rosterItem td a:link, .rosterItem td a:active, .rosterItem td a:visited{
color:#FFFFFF;
}
.rosterAlternateItem td{
background-image:url(/pics/2423/none);


border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
font-weight:normal;
background-color:#2F3238;
color:#FFFFFF;
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.rosterItem td{
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
background-color:transparent;
font-weight:normal;
color:#FFFFFF;
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.rosterAlternateItem td a:link, .rosterAlternateItem td a:active, .rosterAlternateItem td a:visited{
color:#FFFFFF;
}
#TopRaiders a:link, #TopRaiders a:active, #TopRaiders a:visited{
color:#FF9900;
}
.adminNav{
background-image:url(/pics/2423/none);
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
#RandomPlayer{
height:250px;
width:125px;
font-weight:normal;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:transparent;
color:#FFFFFF;
padding:5px 5px 5px 5px;
margin:10px 15px 10px 15px;
text-align:center;
font-size:11px;
font-family:arial;
}
#topten{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
padding:0px 0px 0px 0px;
margin:25px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.itemTableHeader{
height:20px;
width:100%;

border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:transparent;
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:15px;
font-family:arial;

}
.itemTableHeader a:link, .itemTableHeader a:active, .itemTableHeader a:visited{
color:#FFFFFF;
}
.itemTable a:link, .itemTable a:active, .itemTable a:visited{
color:#FFFFFF;
}
.itemTable{
height:400px;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
font-weight:normal;
width:95%;
background-color:transparent;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.loginTable{
height:300px;
width:500px;
color:#FFFFFF;
font-weight:normal;
border-bottom:White thin none;
border-top:White thin none;
border-right:White thin none;
border-left:White thin none;
background-color:transparent;
padding:0px 25px 0px 25px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:15px;
font-family:arial;
}
.loginButton{
height:30px;
width:60px;
font-weight:bold;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:transparent;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:10px 0px 0px 0px;
text-align:center;
font-size:16px;
font-family:arial;
}
.topRaidInfo{
color:#FFFFFF;
font-weight:normal;
width:95%;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:50px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.participantItemTable a:link, .participantItemTable a:active, .participantItemTable a:visited{
color:#FFFFFF;
}
.participantItemTable{
font-weight:normal;
width:100%;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:transparent;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.participantList{

font-weight:normal;

width:400px;
color:#FFFFFF;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.participantList a:link, .participantList a:active, .participantList a:visited{
color:#FFFFFF;
}
#top{
background-image:url(http://eqhalcyons.guildwizard.com/pics/2423/banner1.jpg);













display:block;
height:222px;
width:871px;

font-weight:normal;
border-bottom:#996633 thick ridge;
border-top:#996633 thick ridge;
border-right:#996633 thick ridge;
border-left:#996633 thick ridge;
background-color:#996633;
padding:0px 0px 0px 0px;
margin:10px 0px 0px 80px;
text-align:left;
font-size:11px;
font-family:garamond;
}
.participantListHeader{
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
font-weight:normal;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
background-repeat:repeat-x;
background-image:url(/pics/2423/none);
}
.playerOuterTable{
font-weight:normal;
border-bottom:White thin none;
border-top:White thin none;
border-right:White thin none;
border-left:White thin none;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 50px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.playerOuterTable a:link, .playerOuterTable a:active, .playerOuterTable a:visited{
color:#FFFFFF;
}
.profileRaidHeader{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.profileRaidGrid{
border-top:#FFFFFF thin solid;
font-weight:normal;
color:#FFFFFF;
border-bottom:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 20px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.profileLootGrid{
font-weight:normal;
border-top:#FFFFFF thin solid;
color:#FFFFFF;
border-bottom:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 15px 0px;
text-align:center;
font-size:14px;
font-family:arial;}
.rosterPager td a:link, .rosterPager td a:active, .rosterPager td a:visited{
color:#FFFFFF;
}
.rosterPager td{
color:#FFFFFF;
font-weight:normal;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:12px;
font-family:arial;
}
.purchaseOuterTable{
height:1000px;
width:100%;
font-weight:normal;
border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
color:#FFFFFF;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 50px 0px;
text-align:left;
font-size:13px;
font-family:arial;
}
.purchaseOuterTable a:link, .purchaseOuterTable a:active, .purchaseOuterTable a:visited{
color:#FFFFFF;
}
.purchaseHeader{

color:#FFFFFF;
font-weight:normal;
border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;

}
.purchasePager{
font-weight:normal;
border-bottom:#111111 thin ridge;
border-top:#111111 thin ridge;
border-right:#111111 thin ridge;
border-left:#111111 thin ridge;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:13px;
font-family:arial;
}
.forumListOuter a:link, .forumListOuter a:active, .forumListOuter a:visited{
color:#FFFFFF;
}
.forumStatsTable{

background-color:transparent;
padding:0px 0px 0px 0px;
margin:15px 0px 15px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;

}
.forumListOuter{


height:100px;


width:100%;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#666666 thin solid;
border-left:#666666 thin solid;

}
.forumListHeader{











border-bottom:#FFFFFF thin solid;
background-color:transparent;
color:#FFFFFF;
font-weight:normal;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;

}
.threadListOuter{
font-weight:normal;
border-bottom:#333333 medium none;
border-top:#333333 medium none;
border-right:#333333 medium none;
border-left:#333333 medium none;
background-color:transparent;
color:#FFFFFF;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:14px;
font-family:arial;
}
.threadListHeader{




background-color:transparent;
height:30px;
width:100%;
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;

}
.forumNav a:link, .forumNav a:active, .forumNav a:visited{
color:Black;
}
.forumNav{

background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;

}
.pmHeader{
font-weight:normal;
width:95%;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.pmHeader a:link, .pmHeader a:active, .pmHeader a:visited{
color:#FFFFFF;
}
.pmOuterTable{
height:0%;
font-weight:normal;
background-color:transparent;
color:#FFFFFF;
border-bottom:#000000 thin none;
border-top:#000000 thin none;
border-right:#000000 thin none;
border-left:#000000 thin none;
width:90%;
padding:25px 0px 25px 0px;
margin:30px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.pmOuterTable a:link, .pmOuterTable a:active, .pmOuterTable a:visited{
color:#FFFFFF;
}
.raidOuterTable a:link, .raidOuterTable a:active, .raidOuterTable a:visited{
color:#FFFFFF;
}
.raidOuterTable{
height:700px;
width:100%;
font-weight:normal;
border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
background-color:transparent;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 50px 0px;
text-align:left;
font-size:14px;
font-family:arial;
}
.raidHeader{




border-bottom:#2F3238 thin ridge;
border-top:#2F3238 thin ridge;
border-right:#2F3238 thin ridge;
border-left:#2F3238 thin ridge;
background-color:transparent;
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:15px;
font-family:arial;

}
.raidHeader a:link, .raidHeader a:active, .raidHeader a:visited{
color:#FFFFFF;
}
.messageOuter a:link, .messageOuter a:active, .messageOuter a:visited{
color:#FFFFFF;
}
.messageOuter{

font-weight:normal;
border-bottom:#333333 thin none;
border-top:#333333 thin none;
border-right:#333333 thin none;
border-left:#333333 thin none;
width:100%;
background-color:transparent;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.messageHeader{
height:25px;
width:0%;












background-color:transparent;
border-bottom:#666666 thin solid;
border-top:#666666 thin solid;
border-right:#666666 thin solid;
border-left:#666666 thin solid;
font-weight:normal;
color:#FFFFFF;
padding:5px 0px 5px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:15px;
font-family:arial;

}
.messageHeader a:link, .messageHeader a:active, .messageHeader a:visited{
color:#FFFFFF;
}
.quickReplyBox a:link, .quickReplyBox a:active, .quickReplyBox a:visited{
color:#FFFFFF;
}
.quickReplyBox{
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#000000;
color:#FFFFFF;
height:200px;
width:300px;
padding:5px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:14px;
font-family:arial;
}
.quickReplyButton{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#FFFFFF;
color:#000000;
padding:2px 10px 2px 10px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:arial;
}
.calendarHeader a:link, .calendarHeader a:active, .calendarHeader a:visited{
color:#FFFFFF;
}

.replyButton{
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
height:25px;
width:50px;
padding:0px 0px 0px 0px;
margin:50px 50px 50px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.pmMessageHeader{
height:50px;





background-color:transparent;

font-weight:normal;
width:100px;
border-bottom:#333333 thin solid;
border-top:#333333 thin solid;
border-right:#333333 thin solid;
border-left:#333333 thin solid;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:50px 0px 50px 0px;
text-align:center;
font-size:18px;
font-family:arial;

}
.pmMessageHeader a:link, .pmMessageHeader a:active, .pmMessageHeader a:visited{
color:#FFFFFF;
}
.pmMessageBody a:link, .pmMessageBody a:active, .pmMessageBody a:visited{
color:#FFFFFF;
}
.pmMessageBody{
display:block;
height:800px;


font-weight:normal;
width:90%;
border-bottom:#333333 medium none;
border-top:#333333 medium none;
border-right:#333333 medium none;
border-left:#333333 medium none;
background-color:transparent;
color:#FFFFFF;
padding:25px 0px 25px 0px;
margin:30px 0px 100px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
#Visits{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:18px;
font-family:arial;
}
.purchaseHeader a:link, .purchaseHeader a:active, .purchaseHeader a:visited{
color:#FFFFFF;
}
.itemTableAlternatingRow{
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:14px;
font-family:arial;
}
#right1_rightCell a:link, #right1_rightCell a:active, #right1_rightCell a:visited{
color:#FFFFFF;
}
#center a:link, #center a:active, #center a:visited{
color:#000000;
}
.adminNav a:link, .adminNav a:active, .adminNav a:visited{
color:#FFFFFF;
}
.newsTable{


background-color:transparent;
border-bottom:#CCCCCC thick none;
border-top:#CCCCCC thick none;
border-right:#CCCCCC thick none;
border-left:#CCCCCC thick none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:24px;
font-family:arial;
}
.newsTitle a:link, .newsTitle a:active, .newsTitle a:visited{
color:#996633;
}
.newsSeperator{
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:arial;
}
.calendarOtherMonth a:link, .calendarOtherMonth a:active, .calendarOtherMonth a:visited{
color:#FFFFFF;
}
.purchaseItem{
border-bottom:#2F3238 thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.topRaidInfo a:link, .topRaidInfo a:active, .topRaidInfo a:visited{
color:#FFFFFF;
}
.loginTable a:link, .loginTable a:active, .loginTable a:visited{
color:#FFFFFF;
}
.profileRaidGrid a:link, .profileRaidGrid a:active, .profileRaidGrid a:visited{
color:#FFFFFF;
}
.profileRaidHeader a:link, .profileRaidHeader a:active, .profileRaidHeader a:visited{
color:#FFFFFF;
}
.profileLootGrid a:link, .profileLootGrid a:active, .profileLootGrid a:visited{
color:#FFFFFF;
}
.encountersAlternateRow{
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:#2F3238;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:14px;
font-family:arial;
}
.forumStatsTable a:link, .forumStatsTable a:active, .forumStatsTable a:visited{
color:#FFFFFF;
}
.forumListHeader a:link, .forumListHeader a:active, .forumListHeader a:visited{
color:#FFFFFF;
}
.forumListCategory{
background-image:url(/pics/2423/catbg.gif);




color:#FFFFFF;











background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:18px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;

}
.forumListItems{








height:50px;
width:100%;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;

}
.forumListAlternate{



height:50px;
width:100%;
background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;

}
#proboards{
background-color:#000000;
height:10000px;
width:600px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
#pbforums{
background-color:#000000;
height:0%;
width:0%;
padding:0px 15px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:11px;
font-family:arial;
}
#calendarpage{
background-color:#000000;
height:2000px;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
.purchaseAlternate{
background-image:url(/pics/2423/none);

background-color:#2F3238;
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.threadListRow{
background-color:transparent;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.threadListRow2{
background-color:transparent;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}

.pmRowStyle{
color:#FFFFFF;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:16px;
font-family:arial;
}
.pmAlternate{
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:16px;
font-family:arial;
}
.messageRowStyle{



border-bottom:#666666 thin solid;
border-top:#666666 thin solid;
border-right:#666666 thin solid;
border-left:#666666 thin solid;

background-color:transparent;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.raidAlternate{


background-color:#2F3238;
border-bottom:#FFFFFF thin solid;
border-top:#2F3238 thin solid;
border-right:#2F3238 thin solid;
border-left:#2F3238 thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.messageAvatarColumn{



width:15%;
background-color:transparent;
border-bottom:#666666 thin solid;
border-top:#666666 thin solid;
border-right:#666666 thin solid;
border-left:#666666 thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:16px;
font-family:arial;
}
.appQuestionText{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.messageAlternate{


border-bottom:#666666 thin solid;
border-top:#666666 thin solid;
border-right:#666666 thin solid;
border-left:#666666 thin solid;

background-color:transparent;
padding:15px 0px 15px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.pmRowStyle a:link, .pmRowStyle a:active, .pmRowStyle a:visited{
color:#FFFFFF;
}
#Links1{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:12px;
font-family:arial;
}
#popupchat{
padding:0px 0px 0px 0px;
margin:0px 0px 30px 0px;
font-weight:normal;
text-align:center;
font-size:12px;
font-family:arial;
}
.playerGeneralInfo{
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
#Visitors{
color:#000000;
padding:5px 0px 25px 0px;
margin:10px 20px 25px 10px;
font-weight:normal;
text-align:left;
font-size:24px;
font-family:garamond;
}
#news{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:12px;
font-family:arial;
}
#TEXTLINKS1{
height:100%;
width:80px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:justify;
font-size:12px;
font-family:arial;
display:block;
}
#NEWSTEXT{
padding:30px 0px 0px 20px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:arial;
}
#CHARTERTEXT{
padding:0px 0px 0px 65px;
margin:0px 0px 40px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
display:block;
}
#textlinkshorizon{
color:#FFFFFF;
padding:0px 0px 20px 15px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
#textlinkshorizon a:link, #textlinkshorizon a:active, #textlinkshorizon a:visited{
color:#FFFFFF;
}
#formlinks{
padding:210px 0px 0px 750px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#linksverticalright{
border-bottom:#111111 medium none;
border-top:#111111 medium none;
border-right:#111111 medium none;
border-left:#111111 medium none;
padding:0px 0px 0px 60px;
margin:10px 0px 20px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#TITLESDON{
padding:5px 0px 0px 0px;
margin:0px 15px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#PROGRESSION{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#MEMBEROFTEHX{
border-bottom:#111111 medium none;
border-top:#111111 medium none;
border-right:#111111 medium none;
border-left:#111111 medium none;
padding:0px 0px 0px 0px;
margin:20px 0px 20px 15px;
font-weight:normal;
text-align:center;
font-size:15px;
font-family:arial;
}
.forumListCategory a:link, .forumListCategory a:active, .forumListCategory a:visited{
color:#FFFFFF;
}
#DONdragon{
height:89px;
width:727px;
border-bottom:White thin none;
border-top:White thin none;
border-right:White thin none;
border-left:White thin none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 160px;
font-weight:normal;
text-align:center;
font-size:15px;
font-family:arial;
}
.dkpStats{
border-bottom:#111111 medium none;
border-top:#111111 medium none;
border-right:#111111 medium none;
border-left:#111111 medium none;
padding: px 0px  px 0px;
margin:15px 0px 15px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
.playerBiography{
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
padding:0px 0px 0px 0px;
margin:15px 0px 15px 0px;
font-weight:normal;
text-align:center;
font-size:14px;
font-family:arial;
}
.msgPageList{
border-bottom:#333333 thin dotted;
border-top:#333333 thin dotted;
border-right:#333333 thin dotted;
border-left:#333333 thin dotted;
padding:15px 0px 15px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
#MEMBERHIGHLIGHT{
border-bottom:#111111 medium none;
border-top:#111111 medium none;
border-right:#111111 medium none;
border-left:#111111 medium none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#VisitorsDON{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#charter{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:12px;
font-family:arial;
}
#roster{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:12px;
font-family:arial;
}
#recentraids{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:12px;
font-family:arial;
}
#purchases{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:11px;
font-family:arial;
}
#login{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:11px;
font-family:arial;
}
#FAQ{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#application{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#contact{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 15px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#Links{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 0px;
font-weight:normal;
text-align:right;
font-size:20px;
font-family:arial;
}
#buttonforum{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#LINKSGLOW{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#TIMELINE{
border-bottom:#000000 thin solid;
border-top:#000000 thin solid;
border-right:#000000 thin solid;
border-left:#000000 thin solid;
padding:0px 0px 0px 0px;
margin:0px 10px 0px 0px;
font-weight:normal;
text-align:right;
font-size:15px;
font-family:arial;
}
#loginhtml{
border-bottom:#000000 thick none;
border-top:#000000 thick none;
border-right:#000000 thick none;
border-left:#000000 thick none;
background-color:transparent;
color:#000000;
width:100%;
padding:20px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#loginhtml a:link, #loginhtml a:active, #loginhtml a:visited{
color:#000000;
}
#homer{
padding:0px 0px 0px 0px;
margin:0px 15px 0px 0px;
font-weight:normal;
text-align:right;
font-size:14px;
font-family:arial;
}
#newforums{
color:#CCCCCC;
width:135px;
padding:0px 0px 0px 0px;
margin:5px 15px 0px 15px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#newforums a:link, #newforums a:active, #newforums a:visited{
color:#FF9900;
}
#haldrag{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:11px;
font-family:arial;
}
#bluebg{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:15px;
font-family:arial;
}
.itemTablePageRow{
background-color:#2F3238;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}
#leaders{
padding:0px 0px 0px 0px;
margin:15px 15px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#EQDKP{
width:800px;
height:3600px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#holidays{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:arial;
}
#leftkills{
padding:0px 0px 0px 0px;
margin:30px 15px 0px 0px;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:arial;
}
#navigationwheat{
padding:0px 60px 0px 0px;
margin:0px 0px 0px 5px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#recruitingwheat{
padding:0px 0px 0px 0px;
margin:40px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#recruitingefforts{
padding:0px 0px 0px 0px;
margin:20px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#progression{
height:1px;
padding:0px 0px 0px 0px;
margin:30px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#leadershipwheat{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#visitors{
padding:0px 0px 0px 0px;
margin:35px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:15px;
font-family:arial;
}
#lion{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:15px;
font-family:arial;
}
#creedwheat{
padding:0px 0px 0px 0px;
margin:40px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:24px;
font-family:arial;
}
#creed{
padding:0px 0px 0px 0px;
margin:15px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:14px;
font-family:arial;
}

