/* Style Sheet for Dark Templars Guild website. 			
 URL 		: www.darktemplarsguild.co.uk 					
 Date 		: 23rd April 2002
 Updated 	: 2nd May 2003 						

 Author 	: Alan Jenkins (al@functionfirst.co.uk) */

BODY			{margin: 0;
				background-color: #A8A8A0;
				scrollbar-3d-light-color : #A997C4;
				scrollbar-arrow-color : #000000;
				scrollbar-base-color : #000000;
				scrollbar-dark-shadow-color : #000000;
				scrollbar-face-color : #5E5F4F;
				scrollbar-highlight-color : #999999;
				scrollbar-shadow-color : #000000}

SELECT			{ background-color: #CCCCCC;
				font-color: #000000;
				font-family: arial, helvetica, sans-serif;
				font-size: 10px }

OPTION			{background-color: #cccccc;
				color: #000000;
				font-family: arial, helvetica, sans-serif;
				font-size: 10px }

TEXTAREA		{background-color: #cccccc;
				color: #000000;
				font-family: arial, helvetica, sans-serif;
				font-size: 12px }

INPUT			{background-color: #cccccc;
				color: #000000;
				font-family: arial, helvetica, sans-serif;
				font-size: 10px }

INPUT.formInput	{background-color: #898376;
				color: #000000;
				font: 10;
				border-style: solid;
				border-color: #000000;
				border-width: 1}

INPUT.disabled	{background-color: #CCCCCC;
				color: #000000;
				font: 10;
				border-style: solid;
				border-color: #000000;
				border-width: 1}

INPUT.formBtn	{background-color: #898376;
				cursor: hand;
				font: 10;
				border-style: solid;
				border-color: #000000;
				border-width: 1}

/* BEGIN : Links */
.link			{color: #000000;
			 	font-family: arial, helvetica, sans serif;
			 	font-size: 10pt;
			 	text-decoration: underline}

.link:hover		{color: #454545;
			 	font-faily: arial, helvetica, sans serif;
			 	font-size : 10pt;
		 		text-decoration: none}

.sml			{color: #000000;
			 	font-family: arial, helvetica, sans serif;
			 	font-size: 8pt;
			 	text-decoration: none}

.sml:hover		{color: #CC6600;
			 	font-family: arial, helvetica, sans serif;
			 	font-size : 8pt;
			 	text-decoration: none}

.wlnk			{color: #EEEEEE;
			 	font-family: arial, helvetica, sans serif;
			 	font-size: 8pt;
			 	text-decoration: underline}

.wlnk:hover		{color: #CCCCCC;
			 	font-family: arial, helvetica, sans serif;
			 	font-size : 8pt;
			 	text-decoration: none}		 			

/* BEGIN : Page Text */
.massive		{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-weight: bold;
				font-size: 12pt}
						
.header			{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-weight: bold;
				font-size: 10pt}

.txt			{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt}

.notice			{color: #FFFFFF;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt}

.wtxt			{color: #CCCCCC;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt}

.sml			{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 8pt}

.rollOnA		{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt;
				background-color: #CCCCCC;
				text-decoration: none}

.rollOffA		{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt;
				background-color: #B0ACA3;
				text-decoration: none}
				
.rollOnB		{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt;
				background-color: #CCCCCC;
				text-decoration: none}

.rollOffB		{color: #000000;
				font-family: arial, helvetica, sans serif;
				font-size: 10pt;
				background-color: #898376;
				text-decoration: none}

/* End Style Sheet */