BODY	{COLOR:#000000;MARGIN-TOP:2px;MARGIN-LEFT:0px;MARGIN-RIGHT:0px}
A, BODY, INPUT, OPTION, SELECT, TEXTAREA, TABLE, TD, TR {FONT-SIZE:11px;FONT-FAMILY:tahoma,sans-serif}
SELECT,OPTION,TEXTAREA		{PADDING-LEFT:2px}
TABLE 	{BORDER:0px}
A		{COLOR:#000099;TEXT-DECORATION:none}
A:hover	{TEXT-DECORATION:underline}
.A	{HEIGHT:20px;BORDER:1px solid #000000;TEXT-DECORATION:none;BACKGROUND-IMAGE:url(http://64.4.36.24/bgcolor.gif)}
.B	{COLOR:#8D8D8D;HEIGHT:20px;BORDER:1px solid #8D8D8D;TEXT-DECORATION:none;BACKGROUND-IMAGE:url(http://64.4.36.24/bgcolor.gif)}
.C	{PADDING-LEFT:2px}
.D	{FONT-SIZE:24px;COLOR:#FFFFFF}
.E	{FONT-SIZE:12px;COLOR:#FFFFFF;FONT-WEIGHT:BOLD}
.E:hover	{TEXT-DECORATION:none}
.F	{COLOR:#FFFFFF;FONT-WEIGHT:BOLD}
.G	{COLOR:#FFFFFF}
.H2	{COLOR:#800000}
.I	{COLOR:#800000;FONT-WEIGHT:BOLD}
.J	{COLOR:#000000}
.K	{COLOR:#000000;FONT-WEIGHT:BOLD}
.L	{COLOR:#000000;FONT-WEIGHT:BOLD;FONT-SIZE:18px}
.M	{COLOR:#FFFFFF;FONT-WEIGHT:BOLD;FONT-SIZE:18px}
.N	{HEIGHT:24px;BACKGROUND-IMAGE:url(http://64.4.36.24/bgcolor.gif)}
.O TD	{HEIGHT:20px;WHITE-SPACE:nowrap}
.O A	{COLOR:#000000;TEXT-DECORATION:none !important}
.P	{PADDING-LEFT:4px;PADDING-RIGHT:4px;CURSOR:hand}
.Q	{COLOR:#FFFFFF;PADDING-LEFT:4px;PADDING-RIGHT:4px;BACKGROUND-COLOR:#4791C5;CURSOR:hand}
.Q A	{COLOR:#FFFFFF}
.R	{COLOR:#8D8D8D;PADDING-LEFT:4px;PADDING-RIGHT:4px}
.S	{COLOR:#8D8D8D;PADDING-LEFT:3px;PADDING-RIGHT:3px;BACKGROUND-COLOR:#e9f2f8;BORDER:1px solid #336699}
.T	{PADDING-LEFT:3px;PADDING-RIGHT:3px;BACKGROUND-COLOR:#e9f2f8;BORDER:1px solid #336699;CURSOR:hand}
.U	{BACKGROUND-COLOR:#e9f2f8;LAYER-BACKGROUND-COLOR:#e9f2f8;VISIBILITY:hidden;POSITION:absolute;Z-INDEX:100;PADDING:1px;OVERFLOW:visible;BORDER:solid 1px #4791C5;TOP:0px;LEFT:0px;WHITE-SPACE:nowrap;CURSOR:hand}
.V	{HEIGHT:1px;PADDING:0px;BORDER-TOP:1px solid #4791C5}
.W	{PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.X	{BACKGROUND-COLOR:#FFFFFF;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.y	{COLOR:#8D8D8D;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;PADDING-BOTTOM:1px}
.Z	{BACKGROUND-COLOR:#FFFFFF;COLOR:#8D8D8D;PADDING-LEFT:5px;PADDING-RIGHT:5px;PADDING-TOP:1px;;PADDING-BOTTOM:1px}
.AA	{BACKGROUND-COLOR:#FFFFFF;BORDER:1px solid #FFFFFF}
.BB	{FONT-WEIGHT:BOLD}
.CC	{COLOR:#336699;FONT-WEIGHT:BOLD}
.DD	{COLOR:#000099}
.EE	{BORDER:1px solid #FFFFFF;EMPTY-CELLS:show;BORDER-COLLAPSE:collapse}
.EE	TD	{BORDER-TOP:1px solid #C1CDD8;HEIGHT:23px;PADDING-LEFT:1px;PADDING-RIGHT:1px}
.FF	{COLOR:#10659E}
TR.H	{BACKGROUND-COLOR:#C1CDD8}
.GG	{BACKGROUND-COLOR:#FFFFCC;BORDER:1px solid #96965E;PADDING:5px;MARGIN-TOP:12px;MARGIN-BOTTOM:12px}
.HH	{COLOR:#e9f2f8;FONT-WEIGHT:BOLD}
.II	{COLOR:#800000;HEIGHT:1px}
TR.HL	{BACKGROUND-COLOR:#e9f2f8;CURSOR:hand}
TR.SL	{BACKGROUND-COLOR:#C1CDD8}
.JJ 	{background-color:#FFFFFF;border:1px solid #A0C6E5;padding:4px;overflow-x:hidden;overflow-y:auto;vertical-align:top;width:170px}
.RTE	{FONT-SIZE:12px;FONT-FAMILY:tahoma,sans-serif}
.KK	{HEIGHT:12px;WIDTH:15px;MARGIN-LEFT:5px}
.LL {PADDING-LEFT:1px}
.MM {vertical-align:middle;margin-top:1px}
.NN {visibility:hidden;position:absolute;top:0px;left:0px;width:0px;height:0px;z-index:98;border-style:hidden;border:none}
.OO {border:0px;cell-spacing:0px;margin:0px;width:100%;}