A:{text-decoration: none;color:white;}
A:link{text-decoration:none;color:white;}
A:visited{text-decoration:none;color:#d0d0d0;}
A:hover{text-decoration: underline;color:RED;}

.bg {font-family:webdings;
	 text-decoration:none;
	 font-size:22px;
	 color:cornsilk;
    }

.bg2 {font-family:webdings;
	 text-decoration:none;
	 font-size:20px;
	 color:Cornsilk;
    }
.bg3 {font-family:webdings;
	 text-decoration:none;
	 font-size:20px;
	 color:Cornsilk;
    }

.bg4 {font-family:arial;
	 text-decoration:none;
	 font-size:11px;
	 color:white;
    }

.bg5 {font-family:ghostwhite;
	 text-decoration:none;
	 font-size:18px;
	 color:white;
    }

.bg6 {font-family:arial;
	 text-decoration:none;
	 font-size:13px;
	 color:white;
    }
.tree {line-height:90%;font-size:medium;color:steelblue;}
