body {font-size: 12 pt; font-family: verdana, arial, helvetica;}
h1 {font-size: 16 pt; text-align: center; text-decoration: underline; font-weight: bold;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a.menu {color: gold;}
a.content {color: darkblue;}
.menu {color: lightblue;)
.content {color: #336600;}