/* $Id: default.css,v 1.2 2004/09/24 00:18:00 carls Exp $ */
/* Based on the original Style Sheet for the PNTheme v2 Theme for phpBB version 2+
Edited by Daz  - http://www.forumimages.com
Updated for use on PNphpBB2 by Carls */

/* General text */
.gensmall
{
  font-size:11px;

}

.genmed
{
  font-size:10px;
}

/* titles for the topics:could specify viewed link colour too */
.topictitle
{
  font-size:11px;
  font-weight:bold;
  text-align:left;

}

a.topictitle:visited
{
  color:#5493b4;
}

a.topictitle:hover
{
  color:#dd6900;
}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name
{
  font-size:11px;
  font-weight: bold;
}

/* Begin moving tword phpbb 2.2 style data */
p.breadcrumbs
{
  margin: 0px;
  float: left;
  font-weight: bold;
  white-space: normal;
}

p.datetime
{
  margin: 0px;
  float: right;
  white-space: nowrap;
}

/* Added for Mozilla - still need to look at the black background problem though */
iframe
{
  border:0;
}

hr{border: 0px solid #000000;border-top-width:1px;height:0px}

/* Form elements */
form
{
  display:inline;
}

input
{
  margin-bottom:2px;
  margin-top:2px;
  text-indent:2px;
}

input,textarea,select
{
  border-color:#000000;
  color:#000000;
  font-size:11px;
}


/* Fancy form styles for IE */
input,textarea,select,input.button
{
  border-width:1px;
  font:normal 11px Verdana,Arial,Helvetica,sans-serif;
}

/* The buttons used for bbCode styling in message post */
input.button
{
  background:#fafafa;
  color:#000000;
}

input.catbutton
{
  background:#fafafa;
  color:#000000;
  font-size:10px;
}

/* None-bold submit button */
input.liteoption
{
  background: #fafafa;
  color:#000000;
}

/* The main submit button option */
input.mainoption
{
  background:#fafafa;
  color:#000000;
  font-weight:bold;
}

/* The text input fields background colour */
input.post,textarea.post,select
{
  background: #ffffff;
  color:#000000;
}

/* Category gradients*/
td.cat
{
  font-weight:bold;
  letter-spacing:1px;
  color:#000000;
  background-color:#ffffff;  
  background: url(../cellpics/light_blue/cellpic1.jpg);
  height:27px;
}
td.catRupt
{
  font-weight:bold;
  letter-spacing:1px;
  color:#000000;
  background-color:#ffffff;  
  background: url(../cellpics/light_blue/cellpic1.jpg);
  height:27px;
}

/* Main table cell colours and backgrounds */
td.row1
{
  background:#c0c0c0;
  color:#000000;
}

td.row2
{
  background:#d0d0d0;
  color:#000000;
}

td.row3
{
  background:#e0e0e0;
  color:#000000;
}

td.spacerow
{
  background:#cad9ea;
  color:#000000;
}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic
{
  background-color:#ffffff;
  background:url(../cellpics/light_blue/cellpic2.jpg);
  background-repeat: repeat-y;

}

/* Attach mod specific */
td.attachrow
{
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  color: ;
  border-color: ;
}

td.attachheader
{
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  color: ;
  border-color: ;
  background-color: ;
}

table.attachtable
{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  color: ;
  border-color: ;
  border-collapse: collapse;
}

/* Header cells */
th.thc, th
{
  background-color:#eeeeee;
  background:url(../cellpics/light_blue/cellpic3.jpg);
  font-size:11px;
  color:#ffffff;
  font-weight:bold;
  white-space:nowrap;
  text-align:center;
  height:27px;
  vertical-align: middle;
}

th.thc a:link, th.thc a:active, th.thc a:visited, th a:link, th a:active, th a:visited
{
  color: #000000;
}

th.thc a:hover, th a:hover
{
  color: #dd6900;
}

/* Header cells */
th.thl
{
  background-color:#eeeeee;
  background:url(../cellpics/light_blue/cellpic3.jpg);
  font-size:11px;
  color:#ffffff;
  font-weight:bold;
  white-space:nowrap;
  text-align:left;
  height:27px;
  vertical-align: middle;
}

th.thl a:link, th.thl a:active, th.thl a:visited
{
  color: #000000;
}

th.thl a:hover
{
  color: #dd6900;
}

/* This is for the error messages that pop up */
.errorline
{
  background:#add8e6;
  color:#000000;
  border:1px solid #006699;
  text-align:left;
}

/* This is the border line & background colour round the entire page */
.bodyline
{
  background:#c0c0c0;
  color:#000000;
  border:1px solid #000000;
  text-align:left;
}

/* This is the outline round the main forum tables */
.forumline
{
  background:#ffffff;
  color:#000000;
  border:1px solid #000000;
  text-align:left;
}

/* This is the line in the posting page which shows the rollover
help line. This is actually a text box,but if set to be the same
colour as the background no one will know;)*/
.helpline
{
  background:#d9e2ec;
  border-style:none;
  color:#000000;
  text-align:left;
}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1
{
  font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
  text-align:left;
}

/*logo size in header*/
.mainlogo
{
  font:bold 24px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
  text-align:left;
}

.logosmall
{
  font:bold 8px/100% "Tr;ebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
  text-align:left;
}

.mainheader
{
  font:bold 16px/100%;
  background: #eeeeee;
  text-align:left;
}

.authheader
{
  background:#eeeeee;
  font-size:10px;
  text-align:left;
}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav
{
  font-weight: bold;
  color : #000000;
  text-align:left;
}

a.nav
{
  text-decoration: none;
  font-weight: bold;
  color : #000000;
  text-align:left;
}

a.nav:hover
{
  text-decoration: underline;
  color : #dd6900;
}

.postbody
{
  font:12px/125% Verdana,Arial,Helvetica,sans-serif;
  text-align:left;
}

/* Location,number of posts,post date etc */
.postdetails
{
  color:#000000;
  font-size:10px;
  text-align:left;
}

.subtitle,h2
{
  color:#000000;
  font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  text-decoration:none;
  text-align:left;
}

/* This is the gradient background at the top of the page */
/* Not currently used in PNphpBB */
.topbkg
{
  background:url(../cellpics/light_blue/cellpic_bkg.jpg);
  background-repeat: repeat-x;
}

/* Quote blocks
.quote
{
  background:#ffffff;
  border:1px solid #ffffff;
  color:#000000;
  font:11px/125% Verdana,Arial,Helvetica,sans-serif;
  text-align:left;
}
*/

/* Code blocks 
.codetitle
{
  background: #ffffff;
  border:1px solid #ffffff;
  padding:5px;
  width:90%;
  font-weight:bold;
  text-align:left;
  margin-top:10px;
  text-align:left;
}
*/

/* Pagination */
.pi_current
{
	background-color: #eeeeee;
	border: 1px solid #000000;
	padding:1px 3px 1px 3px;
	color: #000;
  font-size:10px;
	font-weight:normal;
	margin-right:1px;
}

.pi_link
{
	background-color: #ffffff;
	border: 1px solid #ffffff;
	padding:1px 3px 1px 3px;
	color: #000;
  font-size:10px;
	font-weight:normal;
	margin-right:1px;
}

.pi_firstlast
{
	background-color: #ffffff;
	border: 1px solid #ffffff;
	padding:1px 3px 1px 3px;
	color: #000;
  font-size:10px;
	font-weight:bold;
	margin-right:1px;
}

.pi_plain
{
  background-color: #ffffff;
	border: 1px solid #ffffff;
	padding:1px 3px 1px 3px;
	color: #000;
  font-size:10px;
	font-weight:normal;
	margin-right:1px;
}

.pi_current a:active,
.pi_current a:visited,
.pi_current a:link,
.pi_link a:active,
.pi_link a:visited,
.pi_link a:link,
.pi_firstlast a:active,
.pi_firstlast a:visited,
.pi_firstlast a:link
{
	text-decoration:none;
	color: #000;
  font-size:10px;
	font-weight:normal;
}

/* Inline images */
.inlineimg
{
  vertical-align: middle;
}

.navbar
{
	background: #ffffff;
	padding:3px;
	text-align:center;
	white-space:nowrap;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

/* FI DivExpand - Daz - ForumImages.com - START */ 
/* Code  */ 
.codetitle,.code
{
  border:1px solid #ffffff;
  padding:2px 2px 3px 3px
} 

.codetitle
{
  background: #ffffff;
  text-indent:2px;
  font-weight:bold;
  margin:10px 20px 0 20px;
} 

.code
{
  background:#ffffff;
  border-top-width:0;
  color:#060; 
  font: 12px Courier,'Courier New',sans-serif;
  overflow:auto;
  height:40px; 
  margin:0 20px 0 20px;
} 

/* Quote blocks */ 
.quotetitle,.quote
{
  border: 1px solid #ffffff;
  padding:2px 2px 3px 3px;
} 

.quotetitle
{
  background:#ffffff;
  text-indent:2px;
  font-weight:bold;
  margin:10px 20px 0 20px;
} 

.quote
{
  background:#ffffff;
  border-top-width:0;
  color:#444; 
  overflow:auto;
  height:40px;
  margin:0 20px 10px 20px;
} 
/* FI DivExpand - Daz - ForumImages.com - END */