A
{
    COLOR: yellow;
    FONT-FAMILY: Tahoma,Verdana,Arial;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: yellow;
    FONT-FAMILY: Tahoma,Verdana,Arial;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: yellow;
    FONT-FAMILY: Tahoma,Verdana,Arial;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: white;
    FONT-FAMILY: Tahoma,Verdana,Arial
}
BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ff0066;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma,Verdana,Arial;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: none
}
#EventTD
{
    FONT-WEIGHT: bold;
    COLOR: #cccb7c;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
#EventDataTD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    COLOR: #cccb7c;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #302e2e
}

#SizedTD
{
    FONT-SIZE: 10pt
}
TD
{
    FONT-SIZE: 10pt
}
#MemberOptionLabelTD
{
    FONT-WEIGHT: bolder;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: linen;
    TEXT-ALIGN: center
}
#MemberListFields
{
    FONT-SIZE: x-small;
    COLOR: lightcoral;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
#GlobalPageTitle
{
    FONT-SIZE: x-large;
    COLOR: lightcoral;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    TEXT-ALIGN: center
}
#MemberListFieldsTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: x-small;
    COLOR: lightcoral;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
