<style type="text/css">
<!--
body			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
td			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
a			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #cccccc; font-weight: 600;}
a:hover			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 600;}

.menu:hover		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #cccccc; font-weight: 600;}

.dropdown		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
.dropdown:hover		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #cccccc; font-weight: 300;}

.dropdownb		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #ffffff; font-weight: 300;}
.dropdownb:hover	{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #cccccc; font-weight: 300;}
.statmenu			{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a			{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:active	{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:visited	{font-family: arial, helvetica, sans-serif; color: white; text-decoration: none; font-size: 15px; font-weight: 600;}
.statmenu a:hover	{font-family: arial, helvetica, sans-serif; color: #c70606; text-decoration: none; font-size: 15px; font-weight: 600;}
a.statname			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 12px; color: #ffffff;}
-->
</style>