body {
font-family: verdana, arial, helvetica, sans-serif;
line-height: 18px;
}

A:hover { 
background: transparent;
color: #F00;  
}

h1, h2, h3 {
font-weight: normal;
color: #55a;
}

.description {
color: #444;
margin-top: 5px;
font-size: 12px
}

#content {
float: left;
width: 64%;
padding-bottom: 20px;
padding-right:0;
}

#links {
float: right;
width: 35%;
font-size: 12px;
}

h1 {
margin-bottom: 10px;
font-size: 18px;
}

.entrybody {
border: 1px solid #aaa;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
padding: 10px;
color: #000;
background: #eef;
font-size: 12px;
}

h1, .description, .mainlinks {
margin-left: 20px;
background: #fff;
}

.mainlinks {
font-size: 12px;
}


h2 {
font-size: 14pt;
padding: 2px;
margin-top: 0px;
}

h3 {
font-size: 12pt;
}

.side {
font-size: 12px;
margin-bottom:25px;
padding-right: 10px;
}

.logoimage {
margin-left: 20px;
}

.powered {
color: #555;
background: #fff;
}

ul, ol {
margin-top: 0px;
margin-left: 0px;
padding-left: 15px;
}

ul {
list-style: circle;
}