A {
	COLOR: white; TEXT-DECORATION: none
}
A:active {
	COLOR: White;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: White;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #C1B9A9 ; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #6A6144; SCROLLBAR-HIGHLIGHT-COLOR:  #6A6144; SCROLLBAR-SHADOW-COLOR: #483E23; SCROLLBAR-3DLIGHT-COLOR: #6A6144; SCROLLBAR-ARROW-COLOR: #483E23; SCROLLBAR-TRACK-COLOR: #483E23; SCROLLBAR-DARKSHADOW-COLOR: #483E23;color:silver;BACKGROUND:#483E23; MARGIN: 0px; FONT: 6pt Verdana, Arial, Helvetica, sans-serif;
}
.com {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica,  Lucida, sans-serif; BACKGROUND-COLOR: #6e757d
}
.button {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #000000 1px solid; COLOR: white; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica,  Lucida, sans-serif; BACKGROUND-COLOR:#6A6144
}
.textinput {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #000000 1px solid; COLOR: white; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica,  Lucida, sans-serif; BACKGROUND-COLOR:#6A6144
}