
.orange  {  color: #fffcc8  }
.sidenav {  font-family: Arial; font-size: 10pt }
.red {  color: #ffffff  } 

.size8 {  font-family: Arial; font-size: 8pt }
.size10 {  font-family: Arial; font-size: 10pt }
.bold10 {  font-family: Arial; font-size: 10pt; font-style: bold }
.size14 {  font-family: Arial; font-size: 14pt }
.bold14 {  font-family: Arial; font-size: 14.5pt; font-style: bold }
.size19 {  font-family: Arial; font-size: 19pt }

