A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: #0000B0; 
}
A:visited { 
  color: #004284;
}
A:active {
  color: #333366;
}
A:HOVER { 
  color: ; 
  background-color: ;
}
.onbody{
  color: ; 
}
.onbody A:LINK {
  color: #004284;
}
.onbody A:VISITED {
  color: #0000B0;
}
.onbody A:ACTIVE {
  color: ;
}
BODY,P,TABLE,TD,TR {   
  font-size: 9pt;
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
  color: #000000;
}
FORM {
  display: inline;
  margin-bottom: 0;
}
BODY {
  background: #F0F8FF;
}
PRE {
  font-size: ;
  font-family: ;
}
.tablesurround {
  background: ;
}
.tableborders {
  background: #004284;
}
.tdheader {
  font-size: ;
  font-weight: ;
  color: #000000;
  background: #CFE1FE;
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}
.menubar{
  background: #CFE1FE;
  color: #000000;
}
.navigation{
  background: #B3D0FD;
  color: #000000;
  font-size: ;
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: ;
  color:     ;
}
.catandforum {
  font-size: ;
}
.posttime {
  font-size: ;
  font-style: ;
  text-align: ;
  background: #E0ECFE;
}
.threadtotal {
  font-size: ;
  background: #E0ECFE;
}
.posttotal {
  font-size: ;
  background: #E0ECFE;
  color: ;
}
.modcolumn {
  font-size: 9pt;
  background: #E0ECFE;
  color: ;
}
.small {
  font-size: 8pt;
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}
.standouttext {
  color: red;
}
.pollcolor {
  background: red;
}
.welcome {
  background: #0000B0;
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
.forumtitle {
  background: #CFE1FE;
}
.forumdescript {
  font-size: ;
}
.lighttable {
  background: #E0ECFE;
  color: #000000;
}
.darktable {
  background: #CFE1FE;
  color: #000000;
}
.cleartable {
  background: #E0ECFE;
}
.alternatetable {
  background: #004284;
}
.subjecttable {
  background: #CFE1FE;
  color: #000000;
}
.footertable {
  background: #FFFFFF;
}                          
.formboxes{
  font-family: ;
  background-color: ;
  color: ;
  font-size: 9pt;
}
.buttons {
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
  background-color: #BBD6FD;
  color: #000000;
  font-size: 9pt;
}
blockquote        {font-size:9pt; border:1px solid #B3D0FD; margin:0px 20px; padding:0px 10px}
blockquote .small {background:#B3D0FD; margin-left:-10px; padding:2px}
blockquote hr     {visibility:hidden; height:1px}
blockquote br     {font-size:1px}

    