SELECT{
	COLOR: Black;
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: bold;
	}

OPTION{
	color : Black;
}

P{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: #DEDECE;
	LINE-HEIGHT: 15px
}

TH {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: bold 11px;
	COLOR: #DEDECE;
	LINE-HEIGHT: 15px
}
TD
{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: White;
	LINE-HEIGHT: 15px
}
INPUT{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: #302C28;
	LINE-HEIGHT: 15px
}
TEXTAREA{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: Black;
	LINE-HEIGHT: 15px
}
TEXT{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: Black;
	LINE-HEIGHT: 15px
}
FORM{
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font: normal bold 11px;
	COLOR: #C8BEB4;
	LINE-HEIGHT: 15px
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #6F685F;
	background-image: URL('http://www.kenned.com/chp/themes/!!PixelTwo/images/back1.jpg');
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	scrollbar-face-color: #6F685F;
	scrollbar-shadow-color: #6F685F;
	scrollbar-highlight-color:#DEDECE;
	scrollbar-3dlight-color: #6F685F;
	scrollbar-darkshadow-color: #062610;
	scrollbar-track-color: #4A5239;
	scrollbar-arrow-color: #DEDECE;
}
DIV{
COLOR: #DEDECE;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
TEXT-DECORATION: none;
}

A{
COLOR: #ff9900;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
TEXT-DECORATION: none;
}

A:link {
COLOR: #ff9900;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
TEXT-DECORATION: none;

}
A:visited {
COLOR: #ff9900;
FONT-SIZE: 11px;
FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
TEXT-DECORATION: none;
}
A:hover {
	COLOR: ff0000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	;
	TEXT-DECORATION: underline;
}
A:active {
COLOR: ff0000;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
TEXT-DECORATION: none;
}
.pn-normal {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	TEXT-DECORATION: none;
}
.pn-normal A:link {
  COLOR: GOLD;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
  font-weight : bold;
}
.pn-normal A:visited {
  COLOR:  GOLD;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
  font-weight : bold;
}
.pn-normal A:hover {
  COLOR: #DEDECE;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    text-decoration : underline;
}
.pn-normal A:active {
  COLOR: GOLD;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.pn-title {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #DEDECE;
}
.pn-title A:link { 
  COLOR: #DEDECE; 
  FONT-SIZE: 12px; 
  FONT-WEIGHT: bold; 
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica; 
  TEXT-DECORATION: none; 
}
.pn-title A:visited { 
  COLOR: #DEDECE; 
  FONT-SIZE: 12px; 
  FONT-WEIGHT: bold; 
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  TEXT-DECORATION: none; 
}
.pn-title A:hover { 
  COLOR: #DEDECE;
  FONT-SIZE: 12px; 
  FONT-WEIGHT: bold; 
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica; 
  TEXT-DECORATION: underline; 
}
.pn-title A:active { 
  COLOR: #4A5239;
  FONT-SIZE: 12px; 
  FONT-WEIGHT: bold; 
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.pn-sub {  
  font-family: Tahoma, Verdanna, Arial, Helvetica; 
  font-size: 10px; 
  font-weight: normal; 
  color: #FFFFFF; 
}
.pn-sub A:link { 
  COLOR: #DEDECE; 
  FONT-SIZE: 10px;
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  font-style : normal;  
  TEXT-DECORATION: none;
}
.pn-sub A:visited {
	COLOR: #DEDECE;
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-style : normal;
}
.pn-sub A:hover {
	COLOR: GOLD;
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
	TEXT-DECORATION: underline;
	font-style : normal;
}
.pn-sub A:active { 
  COLOR: #918A82; 
  FONT-SIZE: 10px;
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  TEXT-DECORATION: none;
  font-style : normal; 
}
.jrr-disclaimer {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: normal;
	color: #C8BEB4;
}
.jrr-disclaimer A:link {
  COLOR: #DEDECE;
  FONT-SIZE: xx-small;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-disclaimer A:visited {
  COLOR: #DEDECE;
  FONT-SIZE: xx-small;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-disclaimer A:hover {
  COLOR: White;
  FONT-SIZE: xx-small;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
  }
.jrr-disclaimer A:active {
  COLOR: #4A5239;
  FONT-SIZE: xx-small;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-disclaimer {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: normal;
	color: #C8BEB4;
}
.jrr-article {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	color: Black;
}
.jrr-article A:link {
  COLOR: #4E4336;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-article A:visited {
  COLOR: #4E4336;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-article A:hover {
  COLOR: #4E4336;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
  }
.jrr-article A:active {
  COLOR: #4A5239;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-forum {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	color: White;
}
.jrr-forum A:link {
  COLOR: #C8BEB4;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-forum A:visited {
  COLOR: #C8BEB4;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-forum A:hover {
  COLOR: #C8BEB4;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
  }
.jrr-forum A:active {
  COLOR: #4A5239;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.jrr-title 
	{
	COLOR: #DEDECE;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: none;
}
.jrr-title A
	{
	COLOR: #DEDECE;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: none;
}
.jrr-title A:active
	{
	COLOR: #918A82;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: none;
}
.jrr-title A:hover
	{
	COLOR: White;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: underline;
}
.jrr-title A:link
	{
	COLOR: #DEDECE;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: none;
}
.jrr-title A:visited
	{
	COLOR: #DEDECE;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  FONT-WEIGHT: bold;
	  TEXT-DECORATION: none;
}

.jrr-articletext {
  COLOR: #4E4336;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none; 
}

.jrr-articletext A {
  COLOR: #fff8d8;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none; 
}

.jrr-articletext A:hover{
  COLOR: #ffffff;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
}

.jrr-articletext A:link {
  COLOR: #ffffff;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none; 
}

.jrr-articletext A:visited {
  COLOR: #ffffff;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}

.jrr-articletexttitle{
  COLOR: #4E4336;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.rightblock {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: White;
}
.rightblock A:link {
  COLOR: #DEDECE;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.rightblock A:visited {
  COLOR: #DEDECE;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.rightblock A:hover {
  COLOR: #DEDECE;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
  }
.rightblock A:active {
  COLOR: #DEDECE;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
}
.leftblock {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: White;
}
.leftblock A:link {
  COLOR: #C8BEB4;
  FONT-SIZE: 11px;
  font-weight: bold;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.leftblock A:visited {
  COLOR: #C8BEB4;
  FONT-SIZE: 11px;
  font-weight: bold;  
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.leftblock A:hover {
  COLOR: White;
  FONT-SIZE: 11px;
  font-weight: bold;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
        text-decoration : overline underline;
        }
.leftblock A:active {
  COLOR: #859070;
  FONT-SIZE: 11px;
  font-weight: bold;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
}
.midblock {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	color: White;
}
.midblock A:link {
  COLOR: #DEDECE;
  font-weight: bold;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.midblock A:visited {
  COLOR: #DEDECE;
  font-weight: bold;
  FONT-SIZE: 11px;
  FONT-FAMILY:  Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: none;
}
.midblock A:hover {
  COLOR: White;
   font-weight: bold;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline overline;
  }
.midblock A:active {
  COLOR: #859070;
  font-weight: bold;
  FONT-SIZE: 11px;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
  TEXT-DECORATION: underline;
}
.jrr-cast-text{
	COLOR: Black;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-cast-text A:link{
	COLOR: #093617;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-cast-text A:visited{
	COLOR: #093617;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-cast-text A:active{
	COLOR: #4A5239;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-cast-text A:hover{
	COLOR: Black;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: underline;
	font-weight: normal;
}
.jrr-headermenu{
	COLOR: Black;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-headermenu A:link{
	COLOR: White;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-headermenu A:visited{
	COLOR: White;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-headermenu A:active{
	COLOR: #859070;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-headermenu A:hover{
	COLOR: Black;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: underline overline;
	font-weight: normal;
}
.jrr-semantics{
	COLOR: White;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.jrr-semantics A:link{
	COLOR: #DEDECE;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.jrr-semantics A:visited{
	COLOR: #DEDECE;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.jrr-semantics A:active{
	COLOR: #859070;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.jrr-semantics A:hover{
	COLOR: Black;
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	TEXT-DECORATION: underline overline;
	font-weight: bold;
}
.pn-logo {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: White;
}
.pn-logobig {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: White;
	letter-spacing : 3px;
	}
.parchcolor
	{
	COLOR: #C8BEB4;
	  FONT-SIZE: 11px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  TEXT-DECORATION: none;
}
.jrr-normal
	{
	COLOR: White;
	  FONT-SIZE: 9px;
	  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	  TEXT-DECORATION: none;
}
.pn-pagetitle{
	COLOR: #DEDECE;
}

.jrr-smallbrown {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: normal;
	color: #302C28;
}

.jrr-smallblack {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-weight: normal;
	color: #000000;
}

.jrr-smallgreen {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: normal;
	color: #093617;
}

.jrr-mailwaiting {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: normal;
	font-weight: bold;
	color: gold;
}

.jrr-smallgold-n {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: normal;
	color: gold;
}

.jrr-smallgold-b {
	font-family: Tahoma, Verdanna, Arial, Helvetica;
	font-size: xx-small;
	font-weight: bold;
	color: gold;
}
.pn-sublogin {  
  font-family: Tahoma, Verdanna, Arial, Helvetica; 
  font-size: 10px; 
  font-weight: normal; 
  color: #FFFFFF; 
}
.pn-sublogin A:link { 
  COLOR: GOLD; 
  FONT-SIZE: 10px;
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  font-style : normal;  
  TEXT-DECORATION: none;
}
.pn-sublogin A:visited {
	COLOR: GOLD;
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
	TEXT-DECORATION: none;
	font-style : normal;
}
.pn-sublogin A:hover {
	COLOR: GOLD;
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
	TEXT-DECORATION: underline;
	font-style : normal;
}
.pn-sublogin A:active { 
  COLOR: #DEDECE; 
  FONT-SIZE: 10px;
  FONT-FAMILY: Tahoma, Verdanna, Arial, Helvetica;
  TEXT-DECORATION: none;
  font-style : normal; 
}