a                   {font-size: 9pt; line-height: 14pt; color: #FFFFFF; text-decoration: underline; font-family: ""; font-weight: }
a:hover          {color: #000000;; font-family: ""}
a:active          {color: #FFFFFF;}
blockquote     { font-family: ""; font-size: 9pt; line-height: 14pt; color: #000000}

.bold               { font-family: ""; font-size: 10pt; line-height: 14pt; font-weight: bold; color: #FFFFFF}
.boldB             { font-family: ""; font-size: 9pt; line-height: 14pt; font-weight: bold; color: #000000}
.nomal             { font-family: ""; font-size: 8pt; line-height: 14pt; color: #ffffff}
.nomalB           { font-family: ""; font-size: 9pt; line-height: 14pt; color: #000000}


a.tiny:link		{ font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:visited	{ font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:hover	{ font-family: Arial,Helvetica; color: #646464; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:active	{ font-family: Arial,Helvetica; color: #ffff00; font-weight: lighter; font-style: normal; font-size: 8pt; }

a.big:link		{ font-family: ""; color: #000000; font-weight: bold; font-style: normal; font-size: 9pt; }
a.big:visited	{ font-family: ""; color: #000000; font-weight: bold; font-style: normal; font-size:9pt; }
a.big:hover	{ font-family: ""; color: #ffffff; font-weight: bold; font-style: normal; font-size: 9pt; }
a.big:active	{ font-family: ""; color: #ffff00; font-weight: bold; font-style: normal; font-size: 9pt; }.boldE { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; line-height: 14pt; font-weight: bold; color: #FFFFFF}
.boldEB { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; line-height: 14pt; font-weight: bold; color: #000000}
.sub { font-family: ""; font-size: 9pt; line-height: 14pt; color: #281E00; margin-left: 10pt}
.boldER { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; line-height: 14pt; font-weight: bold; color: #660000}
.nomalG { font-family: ""; font-size: 9pt; line-height: 14pt; color: #6D6D6D}
