BODY
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: black
}
.content
{
    FONT-SIZE: 12px;
    MARGIN: 5px 10px;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: black
}
.menuitem
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: yellow;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #003399;
    TEXT-DECORATION: none
}
A
{
    FONT-SIZE: 12px;
    COLOR: yellow;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
.newsdate
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    PADDING-BOTTOM: 5px;
    COLOR: orange;
    FONT-FAMILY: Tahoma
}
.column
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.newsbody
{
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    COLOR: white;
    FONT-FAMILY: Tahoma
}
.newsurl
{
}
TH
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma
}
TD
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Tahoma
}
.calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    WIDTH: 90px;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    HEIGHT: 80px;
    BACKGROUND-COLOR: whitesmoke
}
.calendar A
{
    FONT-SIZE: 12px;
    COLOR: blue;
    FONT-FAMILY: Tahoma
}
.today
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lightskyblue
}
.today A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: blue;
    FONT-FAMILY: Tahoma
}
