/* By default (td, body..) use verdana in black */
body, td, th, tr
{
	font-size: small;
	font-family: verdana, sans-serif;
}
body
{
	background-image: url("/images/background.jpg");
	background-color: #EFE;
	margin:  0 42px;
	padding: 0 5px;
	text-align: center;
}

.forumlink {
	font-weight: bold;
	font-size: larger;
	margin-top: 30px;
	margin-bottom: 50px;
}

.tagline {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #480100;
}
