/* CSS definition file containing sitestyle stylesheets */
BODY { background-image: url("./nl_back.gif");}
 .TextObject { font-size: small;}
 H1 { font-family: Arthur; font-size: small;}
 .TextNavBar { font-size: small;}
 