A:link, A:visited, A:active, A:hover { 
  text-decoration: none;
  font-weight:     bold;
}
A:link  { 
  color: #99d629; 
}
A:visited { 
  color: #cc9900;
}
A:active {
  color: white;
}
A:HOVER { 
  color: #bb00ff; 
  background-color: #000000;
}
.onbody{
  color: #EEEEEE; 
}
.onbody A:LINK {
  color: orange;
}
.onbody A:VISITED {
  color: green;
}
.onbody A:ACTIVE {
  color: white;
}
BODY,P,TABLE,TD,TR {   
  font-size:   12pt;
  font-family: helvetica,arial;
  color: #CCCCCC;
}
BODY {
  background: #000044;
}
PRE {
  font-size:   11pt;
  font-family: courier;
}
.tableborders {
  background: #000000;
}
.tdheader {
  font-size:   13pt;
  font-weight: bold;
  color:       #dddddd;
  background:  #990077;
  font-family: arial;
}
.menubar{
  background: black;
  color: yellow;
}
.navigation{
  background: #000000;
  color: yellow;
  font-size:   10pt;
  font-family: helvetica,arial;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: 9pt;
  color:     yellow;
}
.catandforum {
  font-size: 10pt;
}
.posttime {
  font-size: 10pt;
  font-style: oblique;
  text-align: center;
  background: #990066;
}
.threadtotal {
  font-size: 10pt;
  background: #990066;
}
.posttotal {
  font-size: 10pt;
  background: #660066;
  color: #CCCCCC;
}
.modcolumn {
  font-size: 10pt;
  background: #660066;
  color: #CCCCCC;
}
.small {
  font-size:   10pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: white;
}
.pollcolor {
  background: white;
}
.welcome {
  background: black;
  font-family: Times new roman;
  color: yellow;
}
.forumtitle {
}
.forumdescript {
  font-size: 10pt;
}
.lighttable {
  background: #990066;
  color: #CCCCCC;
}
.darktable {
  background: #660066;
  color: #CCCCCC;
}
.cleartable {
  background: #000044;
}
.alternatetable {
  background: #000000;
}
.subjecttable {
  background: #660066;
  color: #CCCCCC;
}
.footertable {
  background: #660066;
}                          
.formboxes{
  font-family: geneva, arial, sans-serif;
  background-color: #ff9900;
  color: #000000;
  font-size: 10pt;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  background-color: #66cc00;
  color: #000000;
  font-size: 10pt;
}
