BODY {
	FONT-FAMILY: Verdana, Helvetica, Arial;
                FONT-SIZE: 12px;
                SCROLLBAR-BASE-COLOR: #A7937D;
	SCROLLBAR-ARROW-COLOR: #000000;
}
TD {
        color: black;
        font-size: 12px;
        font-family: verdana, arial, sans-serif;
        }
SELECT {
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	FONT-SIZE: 11px;
	COLOR: #000000;
	BACKGROUND-COLOR: #CFCFCF
}
TEXTAREA, .bginput {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	COLOR: #000000;
	BACKGROUND-COLOR: #CFCFCF
}
select 
{
		background-color : #cfcfcf;
		font-size: 10;
		color: #000000;
		font-family: verdana, arial,tahoma;
		text-align: center;
		
}
.checkbox 
{		
		border-style: ridge;
   		border-width: 0;
		background-color : #DADADA;
		font-size: 10;
		font-family: verdana, arial,tahoma;
}
A:link, A:visited, A:active {
	COLOR: #000020;
}
A:hover {
	COLOR: #880000;
}
#cat A:link, #cat A:visited, #cat A:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
#cat A:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
}
#ltlink A:link, #ltlink A:visited, #ltlink A:active {
	COLOR: #000020;
	TEXT-DECORATION: none;
}
#ltlink A:hover {
	COLOR: #880000;
	TEXT-DECORATION: underline;
}
.thtcolor {
	COLOR: #ffffee;
}

.lf {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 14px;
}

.nf {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
	FONT-SIZE: 12px;
}

.sf {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
	FONT-SIZE: 10px;
}

.option {
        FONT-FAMILY: arial, helvetica, sans-serif;
        FONT-SIZE: 20px;
	font-weight: BOLD;
	color: #330000;
}

.content {
        FONT-FAMILY: verdana, arial, helvetica, sans-serif;
        FONT-SIZE: 10px;
        font-weight: NORMAL;
        color: #000000;
}

.spellname {
        FONT-FAMILY: arial, helvetica, sans-serif;
        FONT-SIZE: 15px;
        font-weight: BOLD;
        color: #000000;
}

.sectionlist {
        FONT-FAMILY: verdana, arial, helvetica, sans-serif;
        FONT-SIZE: 12px;
        font-weight: NORMAL;
        color: #000000;
}

.centertitle {
        FONT-FAMILY: verdana, arial, helvetica, sans-serif;
        FONT-SIZE: 12px;
        font-weight: BOLD;  
        color: #FFFFFF;
}
