
body,td,p {
	font-family: verdana;
	font-style: normal;
        font-size: 10px;
        font-color: #000000;
	background-color: #F7E8E8;

}
td.titulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #9F7878;
	font-size: 12pt;
	border-bottom: 2px solid #9F7878;
	font-weight: bold;

}

td.head {
	border: 1px dotted #000000;


}


input, textarea, select, {font-size: 8pt; font-family: tahoma; background:fixed; color:9F7878; border:1; border-color:#9F7878; border-style:solid
}
A:link {color: #2F5CB4; font-weight: normal; text-decoration: none} 
A:visited {text-decoration: none; color: #A43374; font-weight: normal}
A:hover {text-decoration: none; color: #9F7878; font-weight: normal}


