html, body {
    font-family: ‚l‚r ‚oƒSƒVƒbƒN,Osaka;
    font-size: 10pt;
    color: #333333;
    background-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #99CC99;
    scrollbar-3dlight-color: #99CC99;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #99CC99;
}


img {
    border: 0px none #FFFFFF;
}



#menu {
    padding-left: 70px;
    height: 20px;
    width: 230px;
}

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 20px;
    width: 230px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}


#m01 a,#m01 a:link,#m01 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    background-image: url('../img/menu-back2.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m01 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m02 a,#m02 a:link,#m02 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 80px;
    background-image: url('../img/menu-back2.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m02 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m03 a,#m03 a:link,#m03 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    background-image: url('../img/menu-back2.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m03 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m04 a,#m04 a:link,#m04 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    display: block;
}

#m04 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}



#waku {
    padding: 0px 55px;
    height: 1301px;
    width: 670px;
    background-image: url('../img/tokutei/back.gif');
    background-repeat: no-repeat;
    background-position: left top;
}


/* header */
#h-left {
    margin-top: 35px;
    margin-left: 2px;
    float: left;
    width: 350px;
}


#h-right {
    text-align: right;
    margin: 0px;
    padding: 0px;
    float: right;
    height: 95px;
    width: 300px;
}


/* ‚±‚±‚©‚çƒRƒ“ƒeƒ“ƒc */
#main {
    padding: 20px 95px;
    clear: both;
    width: 480px;
    background-color: #FFFFFF;
}



.h2-box {
    line-height: 130%;
    text-align: left;
    padding: 10px;
    width: 470px;
}

.h2-box table {
    margin-top: 20px;
	text-align:left;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	width: 470px;
    border: 0px solid #CCCC99;
}

.h2-box th {
    font-size: 10pt;
    color: #003300;
    font-weight: normal;
    text-align: left;
    padding: 5px;
    border: 2px solid #FFFFFF;
    width: 120px;
    background-image: url('../img/tokutei/th-back.gif');
    background-repeat: repeat;
    background-position: left top;
}

.h2-box td {
	font-size: 10pt;
	color: #666666;
	padding: 5px;
	border-bottom: 2px solid #FFFFFF;
	background-color: #f0f8ff;
}

.h2-box caption {
    font-size: 9pt;
    color: #336666;
    text-align: left;
}



.h2-box li {
    margin-bottom: 8px;
}

.li-box {
    line-height: 130%;
    padding: 5px 5px 10px 5px;
}





.footer {
    line-height: 130%;
    text-align: right;
    padding: 5px 10px 0px;
    width: 470px;
}


