BODY
{
	scrollbar-face-color       : #524239;
	scrollbar-arrow-color	   : #FFCC66;
	scrollbar-highlight-color  : #81685A;
	scrollbar-3dlight-color    : #BBA89D;
	scrollbar-shadow-color     : #241E1A;
	scrollbar-darkshadow-color : #000000;
	scrollbar-track-color      : #241E1A;
	font-family                : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

A:LINK
{
	text-decoration : none;
	color           : blue;
}

A:VISITED
{
	text-decoration : none;
	color           : darkviolet;
}

A:ACTIVE
{
	text-decoration : underline;
	color           : red;
}

A:HOVER
{
	text-decoration : underline;
	color           : red;
}

A.menu:LINK
{
	text-decoration : none;
	color           : white;
}

A.menu:VISITED
{
	text-decoration : none;
	color           : white;
}

A.menu:ACTIVE
{
	text-decoration : underline;
	color           : blue;
}

A.menu:HOVER
{
	text-decoration : underline;
	color           : mistyrose;
}

.com
{
	font-size   : 10pt;
	line-height : 150%;
	font-family : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

.list
{
	font-size   : 9pt;
	font-family : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

BLOCKQUOTE.news
{
	font-size    : 10pt;
	line-height  : 150%;
	font-family  : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

PRE
{
	font-family   : Arial, '‚l‚r ‚oƒSƒVƒbƒN';
	font-size     : 8pt;
	color         : white;
	line-height   : 100%;
	margin-left   : 5px;
	margin-top    : 2px;
	margin-bottom : 2px;
}

.b1 {
	background    : #CAB495;
	border-top    : #F5F2EB 1px solid;
	border-left   : #F5F2EB 1px solid;
	border-bottom : #71592f 1px solid;
	border-right  : #71592f 1px solid;
	font-size     : 9pt;
	font-family   : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

.b2 {
	background    : #524239;
	border-top    : #71592f 1px solid;
	border-left   : #71592f 1px solid;
	border-bottom : #171311 1px solid;
	border-right  : #171311 1px solid;
	font-size     : 9pt;
	font-family   : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

.g1 {
	background    : #CCCCCC;
	border-top    : #FFFFFF 1px solid;
	border-left   : #FFFFFF 1px solid;
	border-bottom : #999999 1px solid;
	border-right  : #999999 1px solid;
	font-size     : 9pt;
	font-family   : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}