.body_table { background-color: #FFFFFF; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
body { font-family: "tahoma", "±¼¸²"; font-size: 9pt;background-color: #676F8B; margin-top: 5px; margin-bottom: 0px}
td { font-family: "Verdana", "±¼¸²"; font-size: 9pt; color: #000000}
.text1 { font-family: "Verdana", "±¼¸²"; font-size: 9pt; color: #FFFFFF}

a.m:link { font-family: "tahoma"; font-size: 11 ; text-decoration:none; color:#000000;}
a.m:visited { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color: #000000;}
a.m:hover { font-family: "tahoma"; font-size: 11 ; text-decoration: underline; color:#305A61;}
a.m:active { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#000000;}

a.fw:link { font-family: "tahoma"; font-size: 11 ; text-decoration:none; color:#white;}
a.fw:visited { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color: #white;}
a.fw:hover { font-family: "tahoma"; font-size: 11 ; text-decoration: underline; color:#305A61;}
a.fw:active { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#white;}

td.t { background-color:#496AA0; font-family:"verdana", "±¼¸²"; font-size:13; color:#FFFFFF;line-height:140%}
td.f1 { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#000000;}
td.ft { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#676F8B;padding-left:5;font-weight: bold}

select.f { font-family: "tahoma"; font-size: 10 ; text-decoration: none; color:#000000;}

f1 { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#000000;}

font.f { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:yellow;}
font.f1 { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#000000;}
font.f2 { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:#666666;}
font.f3 { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:red;}

font.fw { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:white;}

input.button 		{font-family:µ¸¿ò,±¼¸²; font-size:11px;background-color:d9d9e6;border:solid 1 #A7A7A7;color:#525252;height:15}
.box 		{font-family:µ¸¿ò,±¼¸²; font-size:12px;background-color:ffffff;border:solid 1 #A7A7A7;color:#525252;height:16}