body {
	font-family: "verdana","arial";
	font-size: 11px;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 5px;
    scrollbar-face-color: #0A152B;
    scrollbar-arrow-color: #035D8A;
	scrollbar-highlight-color: #035D8A;
}
.lay_tabulka {
	width: 100%;
}
.lay_sl {
	text-align: center;
	vertical-align: top
}
.lay_sll {
	text-align: left;
	vertical-align: top
}
.lay_slr {
	text-align: right;
	vertical-align: top
}
.lay_slhlavni {
	vertical-align: top	
}
.zahlavi {
	width: 100%;
	position: relative
}
.zapati {
	width: 100%;
	text-align: center
}
A {
	font-size: 100%;
	font-style: normal;
	font-variant: normal
}
A:link {
	color: #0473AB
}
A:visited {
	color: #0473AB
}
A:hover {
	color: #FF0000
}
A:active {
	color: #0473AB
}
A.clanek:link {
	color: #0473AB;
	text-decoration: none
}
A.clanek:visited {
	color: #0473AB;
	text-decoration: none
}
A.clanek:hover {
	color: #FF0000;
	text-decoration: none
}
A.clanek:active {
	color: #0473AB;
	text-decoration: none
}
.formular
{
    font-family : "verdana","arial";
    font-size : 12px;
    color : #FFFFFF;
    border-color : #cc9900 #cc9900 #cc9900 #cc9900;
    background-color : #0A152B;
    text-align: left;
    font-weight: normal
}
.z {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 12px;
	font-weight: normal
}
.zmiddle {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 11px;
	font-weight: normal
}
.zsmall {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}
.zsmallng {
	color: #000000;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}
.zbarva {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 13px;
	font-weight: normal
}
.nadpis {
	color: #cc9900;
	text-decoration: underline;
	font-family: "verdana","arial";
	font-weight: bold;
	text-align: center;
	font-size: 20px
}
.nadpis18 {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 18px
}
.podnadpis {
	color: #FFFFCC;
	font-family: "verdana","arial";
	text-align: center;
	font-size: 16px	
}
.clanadpis {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-weight: normal;
	font-size: 18px
}
.clatext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-weight: normal;
	font-size: 13px
}
.clatext_m {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-weight: normal;
	font-size: 10px
}
.biltucne {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 13px;
	font-weight: bold
}
.malemodre {
	color: #0473AB;
	font-family: "verdana","arial";
	font-size: 11px;
	font-weight: normal
}
.anketamale {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: normal	
}
.chybastredni {
	color: #FF0000;
	font-family: "verdana","arial";
	text-align: center;
	font-size: 16px	
}
.mezera {
	width: 5px
}
.ohr {	
	width: auto
}
.planakci {
	font-family: "verdana","arial";
	font-size: 10px	
}.modryram {
	border-top-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-style: solid;
	border-color: #035D8A;
	padding: 6px;
	background-color: #000000
}
.premodryram {
	border-top-width: 0px; 
	border-left-width: 0px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-style: double;
	border-color: #003098;
	padding: 6px;
	background-color: #000000
}
.novdatum {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtit {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtitduraz {
	color: #FF0000;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: normal	
}
.kaltext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: normal
}
.kalclanek {
	background-color: #C7F1C7
}
.kaldnesni {
	background-color: #C1E0FF
}
.planakci {
	font-family: "verdana","arial";
	font-size: 10px	
}
.headnews {
	font-family: "verdana","arial";
	font-size: 11px	
}
.headnewstxt {
	font-family: "verdana","arial";
	font-size: 12px	
}
.textbox {
	background: transparent;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-family: "verdana","arial","helvetica";
	font-size: x-small;
	text-align: left;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #FFFFFF
}
A.frum:visited {
	color: #0473AB;
	text-decoration: none
}
A.frum:hover {
	color: #FF0000;
	text-decoration: none
}
A.frum:active {
	color: #0473AB;
	text-decoration: none
}
.frumnadpis {
	color: #cc9900;
	text-decoration: underline;
	font-family: "verdana","arial";
	font-weight: bold;
	text-align: center;
	font-size: 20px
}
.frumhlavi {
	background-color: #000000;
	color: #cc9900;
	font-family: "verdana","arial";
	font-weight: bold;
	text-align: center;
	font-size: 10px
}
.frumhlram {
	background-color: #035D8A;
	background-color: #000000
}
.frumvnram {
	background-color: #035D8A
}
.frumodskoky {
	background-color: #000000;
	font-family: "verdana","arial";
	font-size: 11px;
	font-weight: normal;
}
.frumz {
	background-color: #0A152B;
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 12px;
	font-weight: normal
}
.frumzneg {
	background-color: #0C121D;
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 12px;
	font-weight: normal
}
.frumzmiddle {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 11px;
	font-weight: normal
}
.frumzsmall {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}
.frumzsmallng {
	color: #000000;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}
.frumzsmallred {
	color: #FF0000;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}
.frumzsmallp {
	color: Silver;
	font-family: "verdana","arial";
	font-size: 9px;
	font-weight: normal
}

