
body,td,p {
	font-family: verdana;
	font-style: normal;
        font-size: 10px;
        font-color: #000000;

}
A:link {color: #95754C; font-weight: bold; text-decoration: none} 
A:visited {text-decoration: none; color: #BA9E7A; font-weight: bold}
A:hover {text-decoration: none; color: #95754C; font-weight: bold}


