a:link {
	text-decoration: none ;
	color: #000070;
}
a:visited {
	text-decoration: none;
	color: #000040;

}
a:hover {
	color: white;
	background-color: 404080;
	text-decoration: none;
}
a:active {
	text-decoration: none ;
	color: #8080FF;
}

/*　ボディ　*/
.body {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	background-color: #FFFFFF;
	clip:   rect(   );
}
.head {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333333;
	border-style: none;
}

/*　メニュー背景　*/
.menuBack { 
	
	font-size : 12px;
	color : #333333;
	text-decoration : none; 
	text-align : left; 
	background-color: #EAEAEA;
	border : 0px none;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	width: 141px;
}
/*　メニュー見出し部　*/
.menuSection {
	font-size : 12px;
	font-weight : bold;
	color : #EFEFEF;
	background-color: #333333;
	text-align : center;
	vertical-align : middle;
	border: 1px #000000 solid;
	
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}
.menuSection:hover {
	color : #000000;
	background-color: #C5BA9A;
	text-decoration : none;
	border: 1px #000000 solid;
}
.menuSubsection {
	font-size : 11px;
	background-color : #DBDBD5;
	text-align : left;
	border: 1px solid #000000;
	color: #000000;
	text-decoration : none;
}
.menuSubsection:hover {
	color : #000000;
	background-color: #C5BA9A;
	text-decoration : none;
}

/*　メニューリンク部　*/
.menuItem {
	font-size : 12px;
	color : #000000;
	text-decoration : none;
	width: 100%;
	text-align : left;

	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}
.menuItem:link {
	color : #000000;
	text-decoration : none;
}
.menuItem:active {
	color : #000000;
	background-color: #CCCCCC;
}
.menuItem:hover {
	color : #000000;
	background-color: #B6B6AB;
	text-decoration : none;
}

/*　news 日付　*/

.newsDate {
	font-size : 12px;
	margin: 5px 2px 2px 2px;
	padding: 5px 2px 2px 2px;
	font-weight: normal;
	text-align: right;
}

/*　news 内容　*/

.newsSubject {
	font-size : 12px;
	font-weight : normal;
	color : #000000;
	text-align : left;
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	border: 0px none;
 	background-color: #FFFFFF;
	line-height: 16px;
	letter-spacing: 0.5px;
}

/*　プロフィール部　*/

.profile{
	font-size: 9pt;
	color : #333333;
 	background-color: #EFEFEF;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	border-bottom: dashed 1px #767679;
	font-weight: normal;
	text-align: center;
}
.profile02{
	font-size: 9pt;
	color : #333333;
 	background-color: #EFEFEF;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	border-bottom: dashed 1px #767679;
	font-weight: normal;
	text-align: left;
}
.profile03{
	font-size: 9pt;
	color : #333333;
 	background-color: #EFEFEF;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	border-bottom: dashed 1px #767679;
	font-weight: normal;
	text-align: right;
}
