a					{color:#FFFFCC; font-family: verdanna, arial; font-size: 12px; font-weight: bold; text-decoration: none; }
a:link				{text-decoration: none; color: #FFFFCC; }
a:active			{text-decoration: none; color: red; }
a:hover				{color:#FFFFFF; }
body				{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
td					{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
p					{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
blockquote			{font-family: arial, helvetica, sans-serif; font-size: 10pt;}
.heading			{color: cornflowerblue;}
.timestamp 			{color: #FFFFCC; font-family: arial, verdana; font-size: 11px;}

h1					{font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold;}
h2					{font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold;}
.title1				{font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold;}
.title2				{font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold;}

.manualtitle1		{color: #FFCC33; font-family: arial, helvetica, sans-serif; font-size: 12pt; font-weight: bold;}
a.manualtitle1		{color: #FFCC33; font-family: arial, helvetica, sans-serif; font-size: 12pt; font-weight: bold;}
.manualtitle2		{font-family: arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold;}

a.tinylink {color: #FFFFCC; font-family: arial, verdana; font-size: 10px; text-decoration: none;}
a.tinylink:hover {color: #FFFFFF;}

.smalltitle {color: #FFCC33; font-family: arial, verdana; font-size: 12px; font-weight: bold; text-decoration: none;}
a.smalltitle {color: #FFCC33; font-family: arial, verdana; font-size: 12px; font-weight: bold; text-decoration: none;}
asmalltitle:hover {color: #FFFFFF;}

a.mlinklevel1 {color: #FFCC33; font-family: arial, verdana; font-size: 12px; font-weight: bold; text-decoration: none;}
a.mlinklevel1:hover {color: #FFFFFF;}

a.mlinklevel2 {padding-left:24px; display:block;	color:#FFFFCC; font-family: verdanna, arial; font-size: 12px; font-weight: bold; text-decoration: none;}
a.mlinklevel2:hover {color:#FFFFFF;}

a.mexpander {color: #888888; font-family: terminal; courier;}

.libtitle		{letter-spacing: 0.5em; text-transform: uppercase; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: none; font-size: 13pt; color: #FFCC33; font-weight: 600;}

.libsubtitle	{font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: none; font-size: 13pt; color: #FFCC33; font-weight: 600; font-style: italic;}

.norepeat {  background-image: url(images/main_bg.jpg); background-repeat: no-repeat}
.norepeat_sub {  background-image: url(images/main_bg_sub.jpg); background-repeat: no-repeat}

.statusName { font-size: 8pt; }
.statusUp { font-size: 8pt; color: #99FF00; }
.statusDown { font-size: 8pt; color: #FF0000; }

/* BEGIN GLOBAL NAV STYLES*/
a.gnav_menu {
	background-color:#FFFFFF;
	color: #6A6A73;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	text-decoration: none;
	width: 100%;
}
a.gnav_menu:hover {
	background-color:#30303D;
	color: #FFFFFF;
	text-decoration: none;
}
/* END GLOBAL NAV STYLES*/

.border {  border: #999999}

td.archivebox  {border: solid 1px #58708F; padding: 5px;}
.sidebar {  font-family: Arial, Helvetica, sans-serif; font-size: -2px; font-style: normal}
