FONT		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px; COLOR: #FFFFFF}
TD		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
BODY { 
	background-color: #005500;
	background-image: url(/themes/EmeraldAxe/images/marble.gif);
	background-attachment: fixed;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: Verdana; 
	font-size: 14px;
	color: #FFFFFF;
	SCROLLBAR-FACE-COLOR: #66AA66; 
	SCROLLBAR-3DLIGHT-COLOR: #C1DCC1; 
	SCROLLBAR-HIGHLIGHT-COLOR: #AAD0AA;
	SCROLLBAR-DARKSHADOW-COLOR: #1A2B1A
	SCROLLBAR-SHADOW-COLOR: #FF0000;
	SCROLLBAR-ARROW-COLOR: #000000; 
	SCROLLBAR-TRACK-COLOR: #006600 
}
P		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
DIV		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
INPUT		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
TEXTAREA	{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
FORM 		{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px}
.title 		{COLOR: #55FF55; FONT-SIZE: 16px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	{COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.indexcontent 	{background-color: #000000; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
A:link          {COLOR: #55FF55; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:active        {COLOR: #ffffff; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:visited       {COLOR: #55DD55; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A:hover         {COLOR: #55FF55; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.linkbar	 	{FONT-SIZE: 10px;}
A.linkbar:link	 	{FONT-SIZE: 10px;}
A.linkbar:visited	 	{FONT-SIZE: 10px;}
A.linkbar:hover	 	{FONT-SIZE: 10px;}
A.linkbar:active	 	{FONT-SIZE: 10px;}
.storytitle 	{COLOR: #FFFFFF; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	{COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxtitle 	{COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.boxcontent 	{COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
A.boxcontent:link          {COLOR: #55FF55; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.boxcontent:active        {COLOR: #ffffff; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.boxcontent:visited       {COLOR: #55DD55; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.boxcontent:hover         {COLOR: #55FF55; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.calendarday 	{background-color: #004400; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
.option 	{COLOR: #FFFFFF; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tiny		{COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
