@charset "iso-8859-1";

  a.menu:link {color: black; font-size: 9pt; font-weight: bold; text-decoration: none; font-family: Arial, Lucida Sans Unicode, Verdana;}
  a.menu:visited {color: #001779; font-size: 9pt; font-weight: bold; text-decoration: none; font-family: Arial, Lucida Sans Unicode, Verdana;}
  a.menu:hover {color: #4D66D3; font-size: 9pt; font-weight: bold; text-decoration: none; font-family: Arial, Lucida Sans Unicode, Verdana;}

  a.newstextlink:link {color: black; font-size: 9pt; font-family: Arial, Lucida Sans Unicode, Verdana;}
  a.newstextlink:visited {color: #001779; font-size: 9pt; font-family: Arial, Lucida Sans Unicode, Verdana;}
  a.newstextlink:hover {color: #4D66D3; font-size: 9pt; font-family: Arial, Lucida Sans Unicode, Verdana;}
   
  .menuformat {color: black; font-size: 9pt; font-weight: bold; font-family: Arial, Lucida Sans Unicode, Verdana; margin-left: 40px; margin-top: 5px;}
  .newstext {color: black; font-size: 9pt; font-family: Arial, Lucida Sans Unicode, Verdana; margin-left: 5px; margin-top: 5px;}
  .newstextcap {color: black; font-size: 11pt; font-weight: bold; font-family: Arial, Lucida Sans Unicode, Verdana; margin-left: 5px; margin-top: 5px;}
  .newsheader {color: black; font-size: 9pt; font-weight: bold; font-family: Arial, Lucida Sans Unicode, Verdana; margin-left: 8px;}


