BODY {
	background-image :  url(/eq/images/ally/background.jpg);
	background-repeat : repeat-x;
	background-color: Black;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	color : White;
; font-family: Arial, Verdana, sans-serif
}
A {
	color : White;
	text-decoration : none;
	 font-family: Arial, Verdana, sans-serif;
}
A:ACTIVE {
	font : Arial, Verdana, sans-serif;
	color : White;	
	text-decoration : none;
}
A:VISITED {
	font : Arial, Verdana, sans-serif;
	color : White;		
	text-decoration : none;
}
A:HOVER {
	font : Arial, Verdana, sans-serif;
	color : #0099CC;
	text-decoration : underline;
}
H1 {
	font-family: Arial, Verdana, sans-serif;
 	color : #0099CC;	
}
H2 {
	border-bottom: thin solid #0099CC;
	font-family: Arial, Verdana, sans-serif;
 	color : #0099CC;	
}
P {
	font : Arial, Verdana, sans-serif;
	color : White;		
	text-decoration : none;	
}
.NavItem {
	font-family : Verdana, Arial, sans-serif;
	font-size : x-small;
	color : #0099CC;
}
A.NavLink {
	font-family : Arial, Verdana,  sans-serif;
	font-size : x-small;
	color : White;
}
.MenuHeading {
	font : Arial, Verdana, sans-serif;
	font-size : small;
	font-weight : bold;
	color : #0099CC;
}
.MenuItem {
	font : x-small Arial, Verdana, sans-serif;
	color : White;
}
.Copyright {
	font : xx-small Arial, Verdana, sans-serif;
	color : White;	
}
.NewsText {
	font : small Arial, Verdana, sans-serif;
	color : White;		
	text-decoration : none;
	padding-left : 10px;
}