/*
	Chronicles Theme for phpBB2
	Created by Jakob Persson
	http://www.eddingschronicles.com
	
	Partially based on subSilver Theme by subBlue
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #676767;
	background-image : url(images/border_background.jpg);
	scrollbar-face-color: #4E6072;
	scrollbar-highlight-color: #70879E;
	scrollbar-shadow-color: #3E4B58;
	scrollbar-3dlight-color: #63798D;
	scrollbar-arrow-color: #D4D4D4;
	scrollbar-track-color: #45525F;
	scrollbar-darkshadow-color: #384654;
	color: #FFFFFF:
}

a {
	text-decoration: none;
}

a:hover {
	color:	#FFE081;
	text-decoration: underline;
}

/* General font families for common tags */
/* font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif } */

font,th,td,p { font-family: "Book Antiqua", "Palatino Linotype", Palatino, Times, serif; }

hr	{ height: 0px; border: solid #000000; 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{
	background-color: #484848;
	border: 1px outset #000000;
	background-image : url(images/body_background.jpg);
}

/* This is the outline round the main forum tables */
.forumline	{
	background-color: #000000;
	border: 2px #5B0B0B solid;
	/*background-image : url(images/gen_background.jpg);*/
}


/* Main table cell colours and backgrounds */

td.row1	{
	background-color: #BA9F70;
	background-image : url(images/gen_background.jpg);
}
td.row2	{
	background-color: #AB8C5B;
	background-image : url(images/gen_background2.jpg);
}

td.row3	{
	background-color: #AB8C5B;
	background-image : url(images/gen_background3.jpg);
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
	background-color: #9E8052;
	background-image: url(images/cellpic2.jpg);
	background-repeat: repeat-x;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #C0C0C0;
	font-size: 16px;
	font-weight : bold;
	background-color: #424242;
	height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	background-image: url(images/cellpic2.jpg);
	background-color:#9E8052;
	border: #000000;
	border-style: solid;
	height: 28px;
	background-repeat: repeat-x;
}

.admincolor {
	color: #D4000A;
}

a.admincolor:hover {
	color:	#FFE081;
	text-decoration: underline;
}


.modcolor {
	color: #006300;
}

a.modcolor:hover {
	color:	#FFE081;
	text-decoration: underline;
}



/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}


th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #404040; border-style: solid; height: 28px; }


td.row3Right,td.spaceRow {
	background-color: #BA9F70; border: #404040; border-style: solid; background-image : url(images/gen_background.jpg);}


th.thHead,td.catHead { font-size: 16px; border-width: 0px 0px 0px 0px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px; }
th.thBottom,td.catBottom  { border-width: 0px 0px 0px 0px; }
th.thTop	 { border-width: 0px 0px 0px 0px; }
th.thCornerL { border-width: 0px 0px 0px 0px; }
th.thCornerR { border-width: 0px 0px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Book Antiqua", "Palatino Linotype", Palatino, Times, serif;
			text-decoration: none; line-height : 120%; color : #FFE081;
}


/* Description */
.maindescr	{
	font-size: 16px; 
	font-family: "Book Antiqua", "Palatino Linotype", Palatino, Times, serif;
	color : #FFE081;
}


/* General text */
.gen {
	font-size : 12px;
	font-family: Verdana, , Arial, Helvetica, sans-serif;
}


.genmed { font-size : 11px; 	font-family: Verdana, , Arial, Helvetica, sans-serif; }
.gensmall { font-size : 10px; 	font-family: Verdana, , Arial, Helvetica, sans-serif; }
.gen,.genmed,.gensmall { color : #FFE081; }
a.gen,a.genmed,a.gensmall { color: #FFE081; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #FFFFFF; text-decoration: underline; }

/* General text inside table*/
.gentbl { font-size : 12px; 	font-family: Verdana, , Arial, Helvetica, sans-serif;}
.gentblmed { font-size : 11px; 	font-family: Verdana, , Arial, Helvetica, sans-serif;}
.gentblsmall { font-size : 10px; 	font-family: Verdana, , Arial, Helvetica, sans-serif;}
.gentbl,.gentblmed,.gentblsmall { color : #000000; }

a.gentbl,a.gentblmed,a.gentblsmall { 
	color: #6A3921; 
	text-decoration: none; 
}

a.gentbl:hover,a.gentblmed:hover,a.gentblsmall:hover { 
	color: #FFE081; 
	text-decoration: underline; 
}


/*Newest user, shown on forum index page */
a.newestuser {	color : #FFE081; }
a.newestuser:visited {	color : #FFE081; }
a.newestuser:hover {	color : #FFFFFF; }
a.newestuser:active {	color : #FFFFFF; }



/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 14px; color : #FFE081 }
a.mainmenu		{ text-decoration: none; color : #FFE081;  }
a.mainmenu:hover{ text-decoration: underline; color : #FFFFFF; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 14px ; letter-spacing: 1px; color : #FFE081}
a.cattitle		{ text-decoration: none; color : #FFE081; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 16px; color : #733A1A; }
a.forumlink 	{ text-decoration: none; color : #733A1A; }
a.forumlink:hover{ text-decoration: underline; color : #FFE081; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 14px; color : #FFE081;}
a.nav			{ text-decoration: none; color : #FFE081; }
a.nav:hover		{ text-decoration: underline; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.navtbl			{
	font-weight: bold;
	font-size: 14px;
	color : Black;
}

a.navtbl			{
	text-decoration: none;
	color : #733A1A;
}

a.navtbl:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 14px; color : #FFE081; }
a.topictitle   { text-decoration: none; color : #733A1A; }
a.topictitle:visited { text-decoration: none; color : #733A1A; }
a.topictitle:hover	{ text-decoration: underline; color : #FFE081; }

.topictype {
	font-family: "Book Antiqua", "Palatino Linotype", Palatino, Times, serif;
	font-size: 14px;
	color: #000000;
}

.jumpbox {
	text-align: right;	
}


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name	{ font-size : 14px; color : #000000;}
a.name	{ font-size : 14px; color : #000000; }
a.name:visited	{ font-size : 14px; color : #404040; }
a.name:hover	{ font-size : 14px; color : #FFE081; }


/* Location, number of posts, post date etc */
.postdetails	{
	font-size : 10px;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td.spaceRow {
	background-color: #A48553;
	background-image : url(images/gen_background3.jpg);
}


/* The content of the posts (body of text) */
.postbody {
	font-size : 16px;
	color : #000000;
}

a.postlink	{ text-decoration: none; color : #FFFFFF }
a.postlink:visited { text-decoration: none; color : #FFFFFF; }
a.postlink:hover { text-decoration: underline; color : #FFE081}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #A48553;
	border: #000000;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	background-image : url(images/gen_background3.jpg);
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFE081;
	line-height: 125%;
	background-color: #A48553;
	border: #000000;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	background-image : url(images/gen_background3.jpg);
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFE081; letter-spacing: -1px;}
a.copyright		{ color: #FFE081; text-decoration: none;}
a.copyright:hover { color: #FFE081; text-decoration: underline;}





/* Form elements */
input,textarea {
	font-size: 11px;
	color : #000000;
	background-color : #A48553;
	background-image: url(images/gen_background.jpg);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-color : #A48553 #C7B188 #C7B188 #A48553;
}


textarea {
	scrollbar-face-color: #7E0000;
	scrollbar-highlight-color: #BC0000;
	scrollbar-shadow-color: #660000;
	scrollbar-3dlight-color: #CE3100;
	scrollbar-arrow-color: #FFE081;
	scrollbar-track-color: #560000;
	scrollbar-darkshadow-color: #660000;	
}

/* The text input fields background colour */
input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #CE6300;
	color : #FFE081;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-color : #CE3100 #9C0000 #9C0000 #CE3100;
	background : url(images/body_background.jpg);
}

input.checkbox {
	background-image: url(images/gen_background2.jpg);
	border-color : #A48553 #C7B188 #C7B188 #A48553;	
}


input.radio {
	background-image: url(images/gen_background2.jpg);
	border-color : #A48553 #C7B188 #C7B188 #A48553;	
}

input.login {
	background-image: url(images/gen_background3.jpg);
	border-color : #A48553 #C7B188 #C7B188 #A48553;	
}



/* The main submit button option */
input.mainoption {
	background-color : #CE6300;
	color : #FFE081;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-color : #CE3100 #9C0000 #9C0000 #CE3100;
	background : url(images/body_background.jpg);
}

/* None-bold submit button */
input.liteoption {
	background-color : #CE6300;
	color : #FFE081;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-color : #CE3100 #9C0000 #9C0000 #CE3100;
	background : url(images/body_background.jpg);
}


select {
	font-size: 11px;
	color : #FFE081;
	background-color:  #6A3921 ;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-color : #A48553 #C7B188 #C7B188 #A48553;
}


/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { 
	color : #000000;	
	background-color: #A48553; 
	background-image: url(images/gen_background2.jpg);	
	border-style: none; 
}

