/* $Id: style.css,v 1.10 2004/09/24 13:39:20 ryan Exp $ */
body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; background-color: #000000; color: #ffffff;}

a:active {  text-decoration: none; color: #0099FF; }
a:link {  text-decoration: none; color: #0099FF; }
a:visited {  text-decoration: none; color: #0099FF; }
a:hover {  text-decoration: underline; color: #0099FF; }

a.titleLink:active { color: #57A2ED; }
a.titleLink:link { color: #57A2ED; }
a.titleLink:visited { color: #57A2ED; }
a.titleLink:hover { text-decoration: underline; color: #395175; }

a.forumTitleLink:active { color: #57A2ED; }
a.forumTitleLink:link { color: #57A2ED; }
a.forumTitleLink:visited { color: #57A2ED; }
a.forumTitleLink:hover { text-decoration: underline; color: #395175; }


/* Forms */
input { font-size: 11px; background-color: #000000; border-color: #333333; color: #ffffff }
option { font-size: 11px; background-color: #000000; border-color: #333333; color: #ffffff }
select { font-size: 11px; background-color: #000000; border-color: #333333; color: #ffffff }
textarea { font-size: 11px; background-color: #000000; border-color: #333333; color: #ffffff }
input.submit { border: 1px solid #333333; text-align: center; font-size: 11px; background-color: #333333; }

/* Body */
#mainBody { margin: 0px; }
#container { text-align: center; }
#bold { font-weight: bold; }
#top { vertical-align: top; }

.siteMap1 { font-size:16px;  }
.siteMap2 { font-size:14px;  }
.siteMap3 { font-size:12px;  }




/* Header */
#headerBackground { text-align: center; margin-bottom: 10px; margin: 0px auto;}


/* Footer */
#footer { width: 750px; font-size:9px; text-align: center; margin: 0px auto;}

/* Boxes (Generic) */
#boxTitle { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: center; }
#boxTitleLeft { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: left; }
#box { border: 1px solid #333333; width: 95%; margin: 0px auto;}
#boxBody { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; padding: 2px; text-align: left; margin: 0px;}
#boxCell { text-align: left; padding: 1px; vertical-align: top; font-size: 11px; }
#boxCell-padding { text-align: center; padding: 5px; vertical-align: center; font-size: 11px; }
#boxCell-alt { text-align: left; padding: 1px; vertical-align: top; background-color: #707070; font-size: 11px;}
#boxCell-alt-center { text-align: center; padding: 1px; vertical-align: top; background-color: #707070; font-size: 11px;}
#box-400 { border: 1px solid #333333; width: 400px; margin: 0px auto;}
#box-200 { border: 1px solid #333333; width: 200px; margin: 0px auto;}
#box-invis { border: 0px; margin: 0px auto; }
#boxCell-right { text-align: right; font-size: 11px; padding: 1px; }
#boxCell-center { text-align: center; font-size: 11px; }
#boxCell-bold { text-align: left; font-weight: bold; font-size: 11px; vertical-align: top;}
#boxCell-bold-alt { text-align: left; font-weight: bold; font-size: 11px; background-color: #707070; vertical-align: top;}
#boxCell-bold-center { font-weight: bold; font-size: 11px; text-align: center;}
#boxCell-bold-right { font-weight: bold; text-align: right; font-size: 11px; }
#smallText { font-size: 9px; text-align: left; font-weight: normal; }
.smallText { font-size: 9px; text-align: left; font-weight: normal; }
#smallText-center { font-size: 9px; text-align: center;  }
#smallText-right { font-size: 9px; text-align: right;  }

/* Gallery */
#gallery-box { border: 1px solid #333333; width: 95%; margin: 0px auto; }
#gallery-box td { vertical-align: top; }
.gallery-box-title { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: left; padding: 1px 1px 1px 1px; }
.gallery-category-title { font-weight: bold; font-size:12px; text-align: left; }
.gallery-description    { font-weight: normal; font-size:10px; text-align: left; padding: 0px; }
.gallery-category-table { border: 1px solid #333333; width: 95%; margin: 5px auto; }
.gallery-table { border: 1px solid #333333; margin: 5px auto; }
.gallery-subcategory-table { border: 1px solid #333333; width: 98%; margin: 5px auto; }
#gallery-summary-body { text-align: left; vertical-align: top; padding: 1px 0px 1px 5px;}
#gallery-spacer { height: 10px; }
#gallery-body { text-align: center; vertical-align: top; padding: 5px; margin: 10px;}
#gallery-cat-header { text-align: left; padding: 3px; font-size: 13px;}
#gallery-cat-header-small { text-align: left; padding: 3px; font-size: 11px;}
#gallery-cat-header-small-bold { text-align: left; padding: 3px; font-size: 11px; font-weight:bold;}
.galleryImage {
    /*padding: 4px;*/
    margin:  2px;
    border:  1px solid black;
}
#galleryImageCell-new { text-align: center; vertical-align: top; padding: 2px; border: 1px solid #333333; background: #6C93CC;}
#galleryImageCell { text-align: center; vertical-align: top; padding: 2px; border: 1px solid #333333;}

/* General */
#paging { font-size: 9px; text-align: left; padding: 1px; }
#attn { font-size: 9px; color: #FF0000;  }
.attn { font-size: 9px; color: #FF0000;  }
#hover { font-size: 11px; }
legend { font-size: 11px; font-weight: bold; color: #ffffff; }


/* News & Search*/
#newsSubTitle { font-weight: bold; font-size: 9px; padding: 2px; text-align: left; }
#newsTable { width: 525px; border: 1px solid #333333; text-align: left; margin: 0px auto; }
#newsNoBGTitle { font-weight: bold; font-size: 12px; border-bottom: 1px solid #333333; text-align: left; }
#newsBrowse { width: 95%; margin: 0px auto;}

/* FAQ */
#faq-box { border: 1px solid #333333; width: 95%; margin: 0px auto;}
#faq-box-title { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: left; padding: 1px 1px 1px 5px;}
#faq-summary-body { text-align: left; vertical-align: top; padding: 1px 0px 1px 5px;}
#faq-spacer { height: 10px; }
#faq-body { text-align: left; vertical-align: top; padding: 5px;}

/* Content (Upper Level) */
#leftContent { position: absolute; left:10px; top:110px; width:200px; }
#mainContent { margin: 0px 10px 10px 225px; background: red;}


/* Paragraphs */
p { margin-top: 0px; margin-bottom: 0px; }
p.p1 { text-align: center; padding: 5px; }
p.padding { padding: 5px; }

/* Forums */
#quotaBox { border: 1px solid #333333; width: 150px; margin: 0px auto; padding: 3px;}
#forumBox { border: 1px solid #333333; width: 95%; margin: 0px auto;  }
#forumBox-border { border: 1px solid #333333; width: 95%; margin: 0px auto; padding: 3px; border-collapse: collapse; border-spacing: 0px; }
#forumPoll { border: 1px solid #333333; width: 90%; margin: 0px auto; padding: 3px; border-collapse: collapse; border-spacing: 0px; }
#blankBox { border: 0px; width: 95%; margin: 0px auto; padding: 3px; }
#forumTitle1 { padding: 2px; font-weight: bold; font-size:12px; background-color: #282828; border-bottom: 1px solid #333333; text-align: left; }
#forumTitle1-noborder { padding: 2px; font-weight: bold; font-size:12px; background-color: #282828; text-align: left; }
#forumTitle1-thin { height: 5px; font-weight: bold; font-size:12px; background-color: #282828; border-bottom: 1px solid #333333; text-align: left; padding-left: 5px; }
#forumTitle1-right { padding: 2px; font-weight: bold; font-size:12px; background-color: #2828283; border-bottom: 1px solid #333333; text-align: right; padding-left: 5px; }
#forumTitle1-center { padding: 2px; font-weight: bold; font-size:12px; background-color: #282828; border-bottom: 1px solid #333333; text-align: center; padding-left: 5px; }
#forumTitle1-topborder { padding: 2px; font-weight: bold; font-size:12px; background-color: #282828; border-top: 1px solid #333333; border-bottom: 1px solid #333333; text-align: left;  }
#forumTitle2 { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: center; }
#forumTitle2-left { font-weight: bold; font-size:12px; background-color: #003366; border-bottom: 1px solid #333333; text-align: left; }
#smileBox { text-align: center; padding: 2px; vertical-align: top; background-color: #E0E0E0; }
#forumLarge { text-align: left; font-size: 13px; }
#forumLarge-right { text-align: right; font-size: 13px; }
#forumLarge-bold { font-size: 13px; font-weight: bold; }
#forumHeader1 { font-size: 13px; width: 95%; padding: 3px; text-align: left;}



#forumCell { color:#000000;text-align: left; padding: 1px; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; vertical-align:top; }
#forumCell-option { color:#000000;width: 40px; text-align: center; padding: 1px; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; vertical-align:top;  }
#forumCell-alt { color:#000000;text-align: left; padding: 1px; background-color: #ACACAC; font-size: 11px; border: 1px solid #333333; vertical-align:top; }
#forumCell-150 {color:#000000; width: 150px; text-align: left; padding: 1px; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; vertical-align: top; }
#forumCell-alt-150 { color:#000000;width: 150px; text-align: left; padding: 1px; background-color: #ACACAC; font-size: 11px; border: 1px solid #333333; vertical-align: top;}
#forumCell-right {color:#000000; text-align: right; padding: 1px; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; vertical-align: top; }
#forumCell-alt-right {color:#000000; text-align: right; padding: 1px; background-color: #ACACAC; font-size: 11px; border: 1px solid #333333; vertical-align: top;}
#forumCell-noborder { color:#000000;text-align: left; padding: 1px; font-size: 11px; background-color: #ACACAC; vertical-align: top;  }
#forumCell-alt-noborder{ color:#000000;text-align: left; padding: 1px; background-color: #ACACAC; font-size: 11px; vertical-align: top; }
#forumCell-noborder-right {color:#000000; text-align: right; padding: 1px; font-size: 11px; background-color: #ACACAC; vertical-align: top;  }
#forumCell-alt-noborder-right{color:#000000; text-align: right; padding: 1px; background-color: #ACACAC; font-size: 11px;  vertical-align: top;}
#forumCell-alt-center { color:#000000;text-align: center; padding: 1px; background-color: #ACACAC; font-size: 11px; border: 1px solid #333333; }
#forumCell-center {color:#000000; text-align: center; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; }
#forumCell-bold {color:#000000; font-weight: bold; font-size: 11px;  background-color: #ACACAC; border: 1px solid #333333; padding: 1px; vertical-align:top; }
#forumCell-bold-alt { color:#000000;font-weight: bold; font-size: 11px; background-color: #ACACAC; border: 1px solid #333333; padding: 1px; vertical-align:top; }

/* CHAT */
.system { color: #B8D6EC; font-weight: bold; }
.selfMessage { color: #FF6D6D; font-style: italics; }

/* TABS */
.tab { font-size: 11px; background-color: #000000; border: 1px solid #333333; border-width: 1px 1px 0px 1px; }
.tab-on { font-size: 11px; background-color: #333333; color: #ffffff; border: 1px solid #333333; border-width: 1px 1px 0px 1px; }
#tabBox { border: 0px; width: 95%; margin: 0px auto;  }

/* MENU */
.m0table0 { text-align: left; padding: 1px; background: #00000;}
.m0table { background: white; padding: 1px; text-align: left; border: 1px solid #333333; background: #00000;}
/* Style for outer tag, mout (mouse out) state */
.m0mouto { background: black; }
/* Style for outer tag, mover (mouse over) state */
.m0movero { background: #ACACAC; border: 1px solid #333333; padding: 1px;}
/* Style for outer tag, mdown (mouse down) state */
.m0mdowno { background: black; }
/* Style for inner tag, mover (mouse over) state */
.m0inner { font-family: Tahoma, MS Sans Serif, Verdana, sans-serif; font-size: 12px; padding: 3px;background: #00000; }

.mout {	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; background-color: #000000; text-decoration: none; width: 100%; padding: 0px;}
.mover { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; background-color: #333333; text-decoration: none; width: 100%; padding: 0px;}
