<style type="text/css">
a            { font-family: verdana; 
               font-size: 8pt;
               text-decoration: none; }
a:hover      {
	color: #FF9933;
	text-decoration: underline;
	font-weight: bold;
}
a.title      { font-family: verdana; 
               font-size: 10pt;
               font-weight: bold;
               text-decoration: none; }
A:link        { font-weight: bold; text-decoration: none; color: #005177; }
A:visited     { text-decoration: none; color: #005177; font-weight: bold; }
A:hover       {
	text-decoration: underline;
	color: #CC6633;
	font-weight: bold;
}
BODY          { scrollbar-face-color: #AFC6DB; scrollbar-shadow-color: #000000; scrollbar-highlight-color: #DEE7EF;
                scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #AFC6DB;
                scrollbar-track-color: #F5F5F5; scrollbar-arrow-color: ##DEE7EF; font-family: Verdana, Helvetica, Arial; 
                font-size:12px; margin-top: 0; margin-left: 0; margin-right: 0; padding-top: 0; padding-left: 0; 
                padding-right: 0; }
text          { font-family: Verdana, Helvetica, Arial; font-size: 11px; }
TD            { font-family: Verdana, Helvetica, Arial; color: #000000; font-size: 11px; }
input         { background-color: #DEE7EF; font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #000000; }
textarea      { background-color: #DEE7EF; font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #000000; }
select        { background-color: #AFC6DB; font-family: Verdana, Helvetica, Arial; font-size: 7pt; color: #000000; }


body         { font-family: verdana; 
               font-size: 8pt; }
td           { font-family: verdana; 
               font-size: 8pt; }
h4           { font-family: verdana; 
               font-size: 8pt; }
textarea     { border: 1px solid #000000;
               scrollbar-arrow-color:#000000;
               scrollbar-track-color: #66ccff;
               scrollbar-base-color: #000000; }
body         { scrollbar-arrow-color:#FFFFFF;
               scrollbar-track-color: #66ccff;
               scrollbar-base-color: #000000; }

select       { font-family: verdana;
               font-size: 8pt; }


.title       { font-family: verdana; 
               font-size: 8pt;
               text-decoration: none; }
.usertitle   { font-family: verdana; 
               font-size: 8pt;
               text-decoration: none; }
.m           { font-family: Verdana;
               font-size: 8pt;
               text-decoration: none; }
.headings    { font-family: verdana; 
               font-size: 8pt;
               text-decoration: none; }
.inputbox    { font-family: verdana; 
               font-size: 8pt;
               text-decoration: none; }
               background-color: #FFFFFF;
               color: #000000; 
               border: 1 solid #000000; }
.inputbutton { font-family: verdana; 
               font-size: 7pt;
               background-color: #336699;
               color: #FFFFFF;
               border: 1px solid #222222; }


.ezop        { color: #0066CC; }
.admin       { color: #00CC66; }
.mod         { color: #00CC66; }
.user3       { color: #0066CC; }
.user2       { color: #CC6600; }
.user1       { color: #CC6600; }

#content     { width: 90%;
               background: #FFFFFF;
               border: 1px solid #222222; }

</style>
