.mstheme
{
	separator-image: url(acnvrule.gif);
	list-image-1: url(bullet.gif);
	list-image-2: url(acnvbul2.gif);
	list-image-3: url(acnvbul3.gif);
	nav-banner-image: url(acnvbnr.gif);
	navbutton-horiz-normal: url(cnvhbs.gif);
	navbutton-horiz-hovered: url(cnvhbh.gif);
	navbutton-horiz-pushed: url(cnvhbp.gif);
	navbutton-vert-normal: url(cnvvbs.gif);
	navbutton-vert-hovered: url(cnvvbh.gif);
	navbutton-vert-pushed: url(cnvvbp.gif);
	navbutton-home-normal: url(cnvhomes.gif);
	navbutton-home-hovered: url(cnvhomeh.gif);
	navbutton-home-pushed: url(cnvhomes.gif);
	navbutton-next-normal: url(cnvnexts.gif);
	navbutton-next-hovered: url(cnvnexth.gif);
	navbutton-next-pushed: url(cnvnexts.gif);
	navbutton-prev-normal: url(cnvprevs.gif);
	navbutton-prev-hovered: url(cnvprevh.gif);
	navbutton-prev-pushed: url(cnvprevs.gif);
	navbutton-up-normal: url(cnvups.gif);
	navbutton-up-hovered: url(cnvuph.gif);
	navbutton-up-pushed: url(cnvups.gif);
}
.mstheme-bannertxt
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 7;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Tolkien;
	color: rgb(0, 0, 102);
	font-size: 3;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url(bullet.gif);
}
ul ul
{
	list-style-image: url(acnvbul2.gif);
}
ul ul ul
{
	list-style-image: url(acnvbul3.gif);
}
