.fondo {
			 background-color: black; 
			 }
BODY {
    scrollbar-base-color:#AFA880;
     }			 
A:hover{ /*Etiqueta formulario (input en formularios, listados)*/
			 font-family: Arial; 
			 font-size: 12; 
			 color: #AFA880; 
			 border-style: solid;
			 border-right-width: 0px;
			 border-left-width: 0px;
			 border-bottom-width: 1px;
			 border-top-width: 1px;
 			 text-decoration: none; 		 
			 }
.texto {
			font-family: verdana, helvetica;
			font-size: 10px;
			color: rgb(198,192,177);
			}
.formulario {
			font-family: verdana, helvetica;
			font-size: 9px;
			color: rgb(0,0,0);			
			border-style: solid;
			border-top-width: 1px;
		  border-right-width: 1px;
			border-left-width: 1px;
			border-bottom-width: 1px;				
			border-color: #000000;
			}			
.titulofecha {
			font-family: verdana, helvetica;
			font-size: 10px;
			color: rgb(217,219,216);
			}
A{ /*Etiqueta formulario (input en formularios, listados)*/
			 font-family: Arial; 
			 font-size: 12; 
			 color: #AFA880; 
 			 text-decoration: none; 		 
			 }
			 
.tabla {
			 font-family: tahoma; 
			 font-size: 11; 
			 color: #FFFFFF; 
 			 text-decoration: none; 		 			 	
			 }
.login {
			 font-family: tahoma; 
			 font-size: 10; 
			 color: #FFFFFF; 
 			 text-decoration: none; 		 			 	
			 }		
.enlace {
			 font-family: tahoma; 
			 font-size: 10; 
			 color: #CFB85F; 
 			 text-decoration: none; 		 			 	
			 }					 	 
.menu {
			font-family: verdana, helvetica;
			font-size: 10px;
			color: #CFB85F;
		}
.trNormal{
					background-color: #2F2F2D;
		     }
.trNormalOver {
			        background-color: rgb(100,96,93);
			        }