body {
	scrollbar-face-color=#303030; 
	scrollbar-shadow-color=#4D4D4D;
	scrollbar-highlight-color=#000000; 
	scrollbar-3dlight-color=#4D4D4D; 
	scrollbar-darkshadow-color=#000000; 
	scrollbar-track-color=#000000; 
	scrollbar-arrow-color=#FFFFFF;
}

td {
	font-family: Geneva, Verdana, Arial;
	font-size: 10px;
	color: #EFEFEF;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-transform: uppercase;
	font-weight: bold;
	color: #E60000;
}

.links {
	text-decoration: none;
	color: #EFEFEF;
}
pre {
	font-family: Geneva, Arial, Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 11px;
}