 BODY {
  font:			x-small;
 }

 TABLE.novae {
  font:			x-small arial;
  color:		white;
  text-align:		left;
 }

 TABLE.char {
  border:		1 solid #ff7f40;
 }
 TD.avatar {
  text-align:		center;
  width:		152px;
  height:		200px;
  border:		1 solid #ff7f40;
 }
 TD.profil {
  background-color:	#2E2E2E;
  text-align:		center;
  width:		250px;
  height:		200px;
  font:			small;
  border:		1 solid #ff7f40;
 }
 TD.story {
  background-color:	#2E2E2E;
  text-align:		center;
  font:			x-small;
  border:		1 solid #ff7f40;
 }

 DIV.table-title {
  font:			bold x-small arial;
  color:		white;
  text-align:		center;
 }
 TR.title {
  background-image:	url(/images/fond.jpg);
  font:			bold;
  text-align:		center;
 }
 TD.title {
  background-image:	url(/images/fond.jpg);
  font:			bold;
  text-align:		center;
 }

 TR.sub-title {
  background-image:	url(/images/fond.jpg);
  font:			bold xx-small;
  text-align:		center;
 }
 TD.sub-title {
  background-image:	url(/images/fond.jpg);
  font:			bold xx-small;
  text-align:		center;
 }

 TR.invalid-cell-header {
  background-color:	#171717;
  font:			xx-small;
 }
 TD.invalid-cell-header {
  background-color:	#171717;
  font:			xx-small;
 }

 TR.default-cell-header {
  background-color:	#2E2E2E;
  font:			xx-small;
 }
 TD.default-cell-header {
  background-color:	#2E2E2E;
  font:			xx-small;
 }

 TR.focused-cell-header {
  background-color:	#454545;
  font:			xx-small;
 }
 TD.focused-cell-header {
  background-color:	#454545;
  font:			xx-small;
 }

 TR.highlighted-cell-header {
  background-color:	#C0C000;
  font:			xx-small;
 }
 TD.highlighted-cell-header {
  background-color:	#C0C000;
  font:			xx-small;
 }

 TR.invalid-cell {
  background-color:	#171717;
  text-align:		center;
 }
 TD.invalid-cell {
  background-color:	#171717;
  text-align:		center;
 }

 TR.default-cell {
  background-color:	#2E2E2E;
  text-align:		center;
 }
 TD.default-cell {
  background-color:	#2E2E2E;
  text-align:		center;
 }

 TR.focused-cell {
  background-color:	#454545;
  text-align:		center;
 }
 TD.focused-cell {
  background-color:	#454545;
  text-align:		center;
 }

 TR.highlighted-cell {
  background-color:	#C0C000;
  text-align:		center;
 }
 TD.highlighted-cell {
  background-color:	#C0C000;
  text-align:		center;
 }

 TR.dark-cell {
  background-color:	#2E2E2E;
 }
 TD.dark-cell {
  background-color:	#2E2E2E;
 }

 TR.light-cell {
  background-color:	#454545;
 }
 TD.light-cell {
  background-color:	#454545;
 }

 DIV.error {font-weight: bold; text-align: center; color: red}
 DIV.info {color: yellow}
 DIV.pc {color: white; font-style: italic; margin-left: 1cm}
 DIV.npc {color: white; font-style: italic; margin-left: 2cm}
 DIV.image {margin-top: 5mm; margin-bottom: 5mm; text-align: center}
 DIV.note {color: white; font-style: italic; margin-left: 3cm; margin-right: 3cm; text-align: center}
 DIV.pfaction {color: green; font-style: italic; margin-left: 3cm}
 DIV.nfaction {color: red; font-style: italic; margin-left: 3cm}

 TABLE.legend {}

 TABLE.members {border-collapse: collapse; font-family: arial; font-size: xx-large; text-align: center}
 TR.members {background-image: url(/images/fond.jpg); font-family: arial; font-size: xx-small; color: #FFFFFF}

 TABLE.news {border-collapse: collapse; font-family: arial; text-align: center; font-size: xx-small}
 TR.news {background-image: url(/images/fond.jpg); font-family: arial; color: #FFFFFF; font-size: xx-small}
 TD.news {}

 TR.char {background-color: #2E2E2E};
 TD.char {font-weight: bold}
 TD.command {font-family: arial; font-size: xx-small}

 TR {font-size: x-small}
 TR.odd {background-color: #FFE5C0; color: #000000}
 TR.even {background-color: #F0E5C0; color: #000000}

 TD.title {  background-image: url(/images/fond.jpg); }
