.menu {
        font-size    : 10px;
        font-family  : Verdana, Helvetica;
        color        : #50004D;
	text-decoration: none;
}
.menu:hover {
        font-size    : 10px;
        font-family  : Verdana, Helvetica;
        color        : #000000;
	text-decoration: underline;
}
.bd {
        font-size    : 12px;
        font-family  : Verdana, Helvetica;
        color        : #50004D;
	text-decoration: none;
}
.bd:hover {
        font-size    : 12px;
        font-family  : Verdana, Helvetica;
        color        : #000000;
	text-decoration: underline;
}
.text_field {
        width        : 150px;
        font-size    : 10px;
        font-family  : Verdana, Helvetica;
        font-color   : #50004D;
        border       : 1px solid #1E2E1D;

}
.text_field_sm {
        width        : 50px;
        font-size    : 10px;
        font-family  : Verdana, Helvetica;
        font-color   : #50004D;
        border       : 1px solid #1E2E1D;

}
.text_field_large {
        width        : 300px;
        font-size    : 10px;
        font-family  : Verdana, Helvetica;
        font-color   : #50004D;
        border       : 1px solid #1E2E1D;

}
.default {
	font-family: Verdana, Helvetica;
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
.none {
	font-family: Verdana, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
}
.title {
	font-family: Verdana, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
}
.default_link {
	font-family: Verdana, Helvetica;
	font-size: 15px;
	color: #50004D;
	text-decoration: underline;
}
.default_link:hover {
	font-family: Verdana, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
}
.small {
	font-family: Verdana, Helvetica;
	font-size: 10px;
	color: #50004D;
	text-decoration: none;
}
.small:hover {
	font-family: Verdana, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}
.mf_table {
        width        : 170px;
        font-size    : 10px;
        font-family  : Comic Sans MS;
        font-color   : #651618;
        border       : 1px solid #651618;

}
.mf_td {
        width        : 50%;
        font-size    : 10px;
        font-family  : Comic Sans MS;
        font-color   : #651618;
        border       : 0px;
}
.mf_a {
        font-size    : 10px;
        font-family  : Comic Sans MS;
        color        : #651618;
	text-decoration: none;
}
.mf_a:hover {
        font-size    : 10px;
        font-family  : Comic Sans MS;
        color        : #000000;
	text-decoration: underline;
}
.mf_img {
        border       : 0px;
}
.mf_tr_title {
        font-size    : 10px;
        font-family  : Comic Sans MS;
        color        : #651618;
        background-color: #E5D4D4;
	text-decoration: none;
}
