a:link, A:visited, A:Active { text-decoration: none }

.rostertext {
	Font-Size : 8pt;
}

.textbox1 {
	border-bottom: #004488 1px solid;
	border-left: #004488 1px solid;
	border-right: #004488 1px solid;
	border-top: #004488 1px solid;
	color: #0000A0;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

.button1 {
	border-bottom: #004488 1px solid;
	border-left: #004488 1px solid;
	border-right: #004488 1px solid;
	border-top: #004488 1px solid;
	color: #0000A0;
	background-color: white;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}