
body {color: #AED3D4; 
background-color: #000000; 
	font-family: 'trebuchet ms',  'arial', 'sans-serif'; 
	font-size: 'x-small'; 
	scrollbar-3dlight-color:#39A8AD; 
	scrollbar-arrow-color:#39A8AD;
	scrollbar-base-color:#black;
	scrollbar-darkshadow-color:#13898F;
	scrollbar-face-color:#061C1C;
	scrollbar-track-color: #052626;
	scrollbar-highlight-color:#1F4F4F;
	scrollbar-shadow-color:#03383B}
