body {
	background-color: #5F5E61;
	scrollbar-face-color: "#808080;
	scrollbar-highlight-color: "#5F5E61;
	scrollbar-shadow-color: "#5F5E61;
	scrollbar-3dlight-color: "#5F5E61;
	scrollbar-arrow-color:  #ffffff;
	scrollbar-track-color: #9a9aa2;
	scrollbar-darkshadow-color: "#5F5E61;
}


 font,th,td,p  { Font-size: 12; Font-family: Verdana, Arial, Helvetica }
 hr	       { height: 0px; border: solid #D1D7DC 0px; border-top-width: 2px;}
 A:link        { color: #000000; TEXT-DECORATION: underline }
 A:visited     { color: #000000; TEXT-DECORATION: underline }
 A:active      { color: #efefef; TEXT-DECORATION: underline }
 A:hover       { color: #efefef; TEXT-DECORATION: none }