/* ベース設定 */
BODY {
	color:#001155;			/* 文字色：紺 */
	background-color:#FFFFFF;	/* 背景色：白 */
	line-height:110%;		/* 行送り：１１０％ */
	font-size:10pt;			/* サイズ：10pt */
}

TABLE {
	line-height:110%;		/* 行送り：１１０％ */
	font-size:10pt;			/* サイズ：10pt */
}

/* リンク */
A {text-decoration:none;font-weight:bold;}
A:link		{color:#001155;}
A:visited	{color:#001155;}
A:active	{color:#FF22AA;}
A:hover		{color:#FF22AA;text-decoration:underline;}

SPAN.new {
	color:#FF0000;
	font-size:9pt;
}

