BODY
{
	scrollbar-face-color       : #524239;
	scrollbar-arrow-color	   : #FFCC66;
	scrollbar-highlight-color  : #81685A;
	scrollbar-3dlight-color    : #BBA89D;
	scrollbar-shadow-color     : #241E1A;
	scrollbar-darkshadow-color : #000000;
	scrollbar-track-color      : #241E1A;
	font-family                : Verdana, '‚l‚r ‚oƒSƒVƒbƒN';
}

A:LINK
{
	text-decoration : none;
	color           : blue;
}

A:VISITED
{
	text-decoration : none;
	color           : darkviolet;
}

A:ACTIVE
{
	text-decoration : underline;
	color           : red;
}

A:HOVER
{
	text-decoration : underline;
	color           : red;
}

A.menu:LINK
{
	text-decoration : none;
	font-weight     : bold;
	font-size       : 9pt;
	color           : white;

}

A.menu:VISITED
{
	text-decoration : none;
	font-weight     : bold;
	font-size       : 9pt;
	color           : white;
}

A.menu:ACTIVE
{
	text-decoration : underline;
	font-weight     : bold;
	font-size       : 9pt;
	color           : blue;
}

A.menu:HOVER
{
	text-decoration : underline;
	font-weight     : bold;
	font-size       : 9pt;
	color           : mistyrose;
}

.story
{
	font-size   : 11pt;
	line-height : 150%;
}

.com
{
	font-size   : 10pt;
	line-height : 150%;
}

.list
{
	font-size   : 9pt;
}

.large
{
	font-size   : 11pt;
	font-weight : bold;
}

.med
{
	font-size   : 10pt;
	font-weight : bold;
}

.small
{
	font-size   : 9pt;
	font-weight : bold;
}

.mini
{
	font-size   : 8pt;
	font-weight : bold;
}

BLOCKQUOTE.news
{
	font-size    : 10pt;
	line-height  : 150%;
}

PRE.code
{
	font-family   : Arial;
	font-size     : 8pt;
	color         : white;
	line-height   : 100%;
	margin-left   : 5px;
	margin-top    : 2px;
	margin-bottom : 2px;
}

TH
{
	font-size   : 10pt;
	white-space : nowrap;
}

.b1 {
	background    : #CAB495;
	border-top    : #F5F2EB 1px solid;
	border-left   : #F5F2EB 1px solid;
	border-bottom : #71592f 1px solid;
	border-right  : #71592f 1px solid;

}

.g1 {
	background    : #CCCCCC;
	border-top    : #FFFFFF 1px solid;
	border-left   : #FFFFFF 1px solid;
	border-bottom : #999999 1px solid;
	border-right  : #999999 1px solid;
}