body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8px;
	SCROLLBAR-FACE-COLOR: #6692C1;
	SCROLLBAR-HIGHLIGHT-COLOR: #94CDF8;
	SCROLLBAR-SHADOW-COLOR: #495257;
	SCROLLBAR-3DLIGHT-COLOR: #94CDF8;
	SCROLLBAR-ARROW-COLOR: #05111F;
	SCROLLBAR-TRACK-COLOR: #0C2749;
	SCROLLBAR-DARKSHADOW-COLOR: #495257;
	SCROLLBAR-BASE-COLOR: #123458;
	color: #000000;
	vlink: #FFFFFF;

}
SELECT {
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	FONT-SIZE: 11px;
	COLOR: #000000;
	BACKGROUND-COLOR: #CFCFCF
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;

}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;

}

.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.xbig {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.expanded {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: justify;
}

.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}

.dashorange {border-right: 1pt dashed #FF6600
}

.form	{border: 1pt #999999 solid; height: 17px; margin: 0; width: 94%; font-family: Verdana; font-size: 10px; color: "#666666"
}

.formsubmit {border: 1pt #999999 solid; height: 17px; margin: 0; width: 55px; font-family: Verdana; font-size: 10px; background-color: white; color: "#666666"; font-weight: bold;
}

form	{margin: 0 
}

TEXTAREA{border-left:1px outset #000000; border-right:1px outset #999999; border-top:1px outset #000000; border-bottom:1px outset #CCCCCC; background-image: url('http://forums.mortalis.com/styles/grey/images/bginput.gif'); BACKGROUND-COLOR: #333333;  COLOR: #aaaaaa; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; font-weight: bold; 
}

A:visited 	{
	TEXT-DECORATION: none;
	color: #000000;
	font-weight: normal;


}

A:hover	{
	color: #B9E8F9;
	text-decoration: none;


}

A:link	{
	color: #000000;
	text-decoration: none;
                font-weight: normal;

}
A:active 	{
	color: #FFFFFF;
	text-decoration: none;
}
.3DBRD {
	BORDER-RIGHT: 2px groove #05324F;
	BORDER-TOP: 2px groove #80B8F1;
	BORDER-LEFT: 2px groove #80B8F1;
	BORDER-BOTTOM: 2px groove #05324F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.but {font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt }

.ButtonOn	{
	BACKGROUND-COLOR: #99CCFF;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 9px;
	font-weight: bold;
	border-top: 2px outset #B1DBFC;
	border-right: 2px outset #1667C9;
	border-bottom: 2px outset #0066CC;
	border-left: 2px outset #99CCFF;
}

.ButtonOff	{
	BACKGROUND-COLOR: #6699CC;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 9px;
	font-weight: bold;
	border-top: 2px outset #6FAEEE;
	border-right: 2px outset #0D4073;
	border-bottom: 2px outset #0D4073;
	border-left: 2px outset #3399FF;
}
.bginput  { border-left:1px outset #000000; border-right:1px outset #999999; border-top:1px outset #000000; border-bottom:1px outset #CCCCCC; background-image: url('/images/bginput.gif'); BACKGROUND-COLOR: #333333;  COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; font-weight: bold;  } 

.newscontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	z-index: auto;
	height: auto;
	width: auto;
	border: thin none;

}

.whitetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
