.title{
 font-size : 180%;
 color : aqua;
 font-family : "Times New Roman";
 font-weight : lighter;
 background-color : navy;
 background-image : url(wallpaper_line_blue.gif);
 border-width : 3px 3px 3px 3px;
 border-style : double double double double;
 border-color : #8080ff #8080ff #8080ff #8080ff;
 padding : 0px 10px 2px 10px;
 margin-top : 2px;
}
.subtitle{
 color : red;
 font-size : 80%;
}
.table_trade{
 border-width : 0pt 0pt 0pt 0pt;
}
.th_title{
 font-family : "Times New Roman";
 background-color : #605bff;
 background-image : url(wallpaper_line_lightblue.gif);
}
.th_header{
 color : #fac832;
 background-color : #8080ff;
 font-weight : lighter;
 font-family : "Times New Roman";
 border-width : 1pt 1pt 1pt 1pt;
 border-style : solid solid solid solid;
 border-color : #4007b6 #4007b6 #4007b6 #4007b6;
 background-image : url(wallpaper_line_lightblue.gif);
}
.th_header_s{
 color : #fac832;
 background-color : #8080ff;
 font-family : "Times New Roman";
 font-size : 70%;
 font-weight : bold;
 border-width : 1pt 1pt 1pt 1pt;
 border-style : solid solid solid solid;
 border-color : #4007b6 #4007b6 #4007b6 #4007b6;
 background-image : url(wallpaper_line_lightblue.gif);
}
.th_page{
 background-image : url(wallpaper_line_lightblue.gif);
}
.td_lightcolor{
 background-color : #000050;
}
.td_trade{
 background-image : url(wallpaper_trade.gif);
 background-color : #000080;
 border-width : 0pt 0pt 0pt 0pt;
}
.str_aqua{
 color : aqua;
}
.str_blue{
 color : #8080ff;
}
.str_orange{
 color : #fead4b;
}
.str_red{
 color : red;
}
.question{
 color : aqua;
 text-decoration : underline;
}
.log{
 color : #ffffff;
}
.log_faction{
 font-size : 90%;
}
.delete{
 color : gray;
}
.impact{
 font-size : large;
 color : red;
}
.translation{
 font-size : x-small;
 font-style : italic;
 color : #ffffff;
}
.str_white{
 color : white;
}
.str_black{
 color : #666666;
}
.str_grey{
 color : #cccccc;
}
.str_green{
 color : #80ff80;
}
.div_text{
 font-size : 120%;
 font-family : "Times New Roman";
 font-weight : lighter;
}
.td_line_red{
 background-color : #800000;
 background-image : url(wallpaper_line_red.gif);
}
.td_line_blue{
 background-color : #000080;
 background-image : url(wallpaper_line_blue.gif);
}
.td_line_lightblue{
 background-color : #6666ff;
 background-image : url(wallpaper_line_lightblue.gif);
 background-repeat : repeat;
}
.td_line_green{
 background-color : #009900;
 background-image : url(wallpaper_line_green.gif);
}
