p {
	font-family: tahoma,arial, verdana Helvetica, Geneva; 
	font-size: 8pt;
	color: #000000; 
	margin: 3px
	}

table {
	border: 0;
	font-family: tahoma;
	font-size: 8pt;
	color: #000000;

	}
	

        A:link    {font-weight: none; text-decoration: underline; color: #000000; }
        A:visited {font-weight: none; text-decoration: underline; color: #000000; }
        A:active  {font-weight: none; text-decoration: underline; color: #000000; }
        A:hover   {font-weight: none; text-decoration: none; color: #2D3951; }

BODY {
	scrollbar-face-color: #808080;
	scrollbar-3dlight-color: #CACACA; 
	scrollbar-highlight-color: #000000;
	scrollbar-shadow-color: #000000; 
	scrollbar-darkshadow-color: #717171;
	scrollbar-track-color: #C0C0C0; 
	scrollbar-arrow-color:#000000
	}


#divCont {
	position:absolute;
	width:100;
	height:215;
	overflow: hidden;
	clip:rect(0,100,215,0)
	visibility:hidden
	}

#divCont2 {
	position:absolute;
	width:130;
	height:225;
	overflow: hidden;
	clip:rect(0,125,225,0)
	visibility:hidden;
	}
#divText {
	position:absolute;
	top:0;
	left:0
	} 

#divScroll {
	position:absolute;
	top:30;
	left:110;
	z-index: 2
	} 
