.wb404_imagediv {
    float: left;
    padding-right: 10px;
}

.wb404_image {
    width: 152px;
    height: 55px;
}

.wb404_text {
    /* If you wish, add style to the Wayback 404 text here */
    /* font-size: 0.8em; */
}
