/* Main page classes */

a:link				{color: #9999CC; text-decoration: none}
a:visited			{color: #666699; text-decoration: none}
a:active			{color: #9999CC; text-decoration: none}
a:hover				{color: #AAAADD; text-decoration: none}

.chatLayer			{position: absolute; width: 100%; z-index: 1; left: 0px; top: -63px}
.bottomLayer		{position: absolute; width: 101%; z-index: 1; left: 0px; top: 0px}
.main				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; font-weight: bold; margin-left: 0px; margin-top: 0px}
.mini				{font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 7pt; margin-left: 0px; margin-top: 0px}