
BODY.body{
	background-color:lavender;
	color:dimgray;
	line-height:150%;
	margin:15px 10px 5px 10px;
}

H1{
	font-size:160%;
	line-height:100%
}

A{color:dimgray}
A:active{color:lavender; background:dimgray}
A:hover{color:darkred; background:ivory}

A.nd{text-decoration:none}

A.link{
	text-decoration:none;
	color:lightsalmon;
	font-weight:bold;
	font-size:130%
}
A.link:hover{
	color:lightsalmon;
	background:lavender
}
A.link:active{
	color:lightsalmon;
	background:lavender
}

STRONG{color:lightsalmon}

ADDRESS{
text-align:right;
font-style:normal;
}

BLOCKQUOTE{
	margin:0% 0% 0% 0%;
	padding:4px 4px 4px 4px;
	border-width:0 medium;
	border-style:none groove;
	line-height:150%;
}

.bar{
	border-width:0 medium;
	border-style:none groove;
	padding: 5px 5px 5px 5px;
}

.boyaki{
	font-size: 100%;
	font-weight:600;
	color:ivory;
	background:gray;
	margin:0% 0% 0% 0%;
	padding:4px 4px 4px 4px;
	border-width:thin;
	border-style:none;
}

.nullbox{
	font-size: 100%;
	font-weight:600;
	color:gray;
	background:gray;
	margin:0% 0% 0% 0%;
	padding:4px 4px 4px 4px;
	border-width:thin;
	border-style:none;
}

.strike{text-decoration:line-through}

.title{
	font-size:large;
	font-weight:480;
}

.textbox{
	color:gray;
	background:sandybrown;
	margin:0% 0% 0% 0%;
	padding:4px 4px 4px 4px;
	border-width:thin;
	border-style:none;
}

.content{margin:0px 5% 0px 5%}

.movelink{text-align:right}

.shortcut{
	background:lightgrey;
	padding:4px;
	border-width:thin;
	border-style:none;
}

.square{color:gray}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
