body{
  margin: 0px; 
  background-color: #eeeeee;
}
#palette{ width:710px; margin-top: 30px; }
#tl{ width:5px; height:5px; background:url(grey_tl.gif) no-repeat; }
#t{ width:100%; height:5px; background:url(grey_t.gif) repeat-x; }
#tr{ width:5px; height:5px; background:url(grey_tr.gif) no-repeat; }
#l{ width:5px; height:100%; background:url(grey_l.gif) repeat-y; }
#r{ width:5px; height:100%; background:url(grey_r.gif) repeat-y; }
#bl{ width:5px; height:5px; background:url(grey_bl.gif) no-repeat; }
#b{ width:100%; height:5px; background:url(grey_b.gif) repeat-x; }
#br{ width:5px; height:5px; background:url(grey_br.gif) no-repeat; }
#content{ background: #fff; height:300px; padding:10px; 
  font-family: arial, verdana, sans-serif; color: #666; font-size: 9pt;
}
#content strong{ color: #1682cc; }
.hd1,.hd1 td{ font-family: verdana, sans-serif; /*color: #0F9FCF; font-size: 8pt;*/
 color:#459BD6; font-size:7pt;
}
#nav{ font-family:verdana, sans-serif; color:#fff; font-size:7pt; font-weight:bold;
  background: #116399 url(nav1.gif) repeat-x; height:23px; margin:0; 
  border-bottom: 2px #007297 solid; margin-bottom: 1px;
}
#nav a{ color:#fff; text-decoration:none; margin: 0px 5px 0px 5px;}
#nav td{ padding-top: 3px; }
.search{ height: 42px; background: url(nav_bar2.gif) #039 repeat-x;
  margin: 0px; margin-top: 1px;
}
.search td{ font-family: verdana, sans-serif; font-size: 8pt; color: #fff; }
.featured{ background: url(bkg1.gif) #C7B079 no-repeat; width: 100%; height: 197px; margin: 0px; }
.box{ width:215px; height:197px; border:1px #1479BF solid; }
.box td{ font-family: verdana, sans-serif; font-size: 10px; color: #666; }
.box div{ text-align: left; }
.box li{ list-style-image: url(li.gif); }
.whereami,.whereami font,.whereami b font font{ 
  color: #003377; font-weight: normal; text-decoration: none; }
.whereami_s,.whereami_s font{ color: #000; font-weight: bold; text-decoration: none; }
a.whereami:hover{ text-decoration: underline; }
#siteDescription { font-family:Arial, Helvetica, sans-serif; 
  font-size:12px; color:#666; text-align:left; }
#siteDescription h2 { font-size:10px; margin:0px; }
#siteDescription div { margin-bottom:12px; }
#siteDescription a { font-weight:bold; text-decoration:none; color: #666;}
#siteDescription a:hover {text-decoration:underline; }
.menutext{ font-size: 11px; }
a.menutext, .menutext a, a.menutext b{ color: #1682CC; text-decoration: none; }
.content{ font-size: 10pt; }
.about_link a{ display: block;}

/* used in 101 pages */
h1{ color: #003377; font-size: 17px; }
h2{ color: #459BD6; font-size: 14px; }

.error { color: red }
.footer a{ color: #666; }
.footer a:hover{ text-decoration: none; }