.mstheme
{
	separator-image: url(cnvrule.gif);
	list-image-1: url(cnvbull1.gif);
	list-image-2: url(cnvbull2.gif);
	list-image-3: url(cnvbull3.gif);
	nav-banner-image: url(cnvbnr.gif);
	navbutton-horiz-normal: url(cnvphb.gif);
	navbutton-horiz-hovered: url(cnvphb.gif);
	navbutton-horiz-pushed: url(cnvphbp.gif);
	navbutton-vert-normal: url(cnvpvb.gif);
	navbutton-vert-hovered: url(cnvpvb.gif);
	navbutton-vert-pushed: url(cnvpvbp.gif);
	navbutton-home-normal: url(cnvhome.gif);
	navbutton-home-hovered: url(cnvhome.gif);
	navbutton-home-pushed: url(cnvhome.gif);
	navbutton-next-normal: url(cnvnext.gif);
	navbutton-next-hovered: url(cnvnext.gif);
	navbutton-next-pushed: url(cnvnext.gif);
	navbutton-prev-normal: url(cnvprev.gif);
	navbutton-prev-hovered: url(cnvprev.gif);
	navbutton-prev-pushed: url(cnvprev.gif);
	navbutton-up-normal: url(cnvup.gif);
	navbutton-up-hovered: url(cnvup.gif);
	navbutton-up-pushed: url(cnvup.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	vertical-align: top;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(cnvbull1.gif);
}
ul ul
{
	list-style-image: url(cnvbull2.gif);
}
ul ul ul
{
	list-style-image: url(cnvbull3.gif);
}
