A:link, A:visited, A:active, A:hover { 
  text-decoration: none;
  font-weight:     bold;
}
A:link  { 
}
A:visited { 
}
A:active {
}
A:HOVER { 
  color: white;
  background-color: black;
}
.onbody{
  background: #FFFFEE;
}
.onbody A:LINK {
}
.onbody A:VISITED {
}
.onbody A:ACTIVE {
}
BODY,P,TABLE,TD,TR {   
  font-size:   12pt;
  font-family: helvetica,arial;
  color: #000000;
}
BODY {
  background: #FFFFFF;
}
PRE {
  font-size:   11pt;
  font-family: courier;
}
.tableborders {
  background: #000000;
}
.tdheader {
  font-size:   13pt;
  font-weight: bold;
  color:       #000000;
  background:  #CCCCFF;
  font-family: arial;
}
.menubar{
  background: #CCCCFF;
  color: blue;
}
.navigation{
  background: #CCCCFF;
  color: blue;
  font-size:   10pt;
  font-family: helvetica,arial;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: 9pt;
  color:     red;
}
.catandforum {
  font-size: 10pt;
}
.posttime {
  font-size: 10pt;
  font-style: oblique;
  text-align: center;
  background: #EEEEFF;
}
.threadtotal {
  font-size: 10pt;
  background: #EEEEFF;
}
.posttotal {
  font-size: 10pt;
  background: #DDDDFF;
}
.modcolumn {
  font-size: 10pt;
  background: #DDDDFF;
}
.small {
  font-size:   10pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: blue;
}
.pollcolor {
  background: blue;
}
.welcome {
  background: #DDDDFF;
  font-family: Times new roman;
  color: black;
}
.forumtitle {
}
.forumdescript {
  font-size: 10pt;
}
.lighttable {
  background: #EEEEFF;
  color: #000000;
}
.darktable {
  background: #DDDDFF;
  color: #000000;
}
.cleartable {
  background: #FFFFFF;
}
.alternatetable {
  background: #FFFFFF;
}
.subjecttable { 
  background: #DDDDFF;
}
.footertable {
  background: #DDDDFF;
}
.formboxes{
  font-family: geneva, arial, sans-serif;
  background-color: #CCCCFF;
  color: #000000;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  background-color: #CCCCFF;
  color: #000000;
}
