TD { padding: 2px; border-color: darkgreen }

div.emote, div.social, div.gsay, div.ooc, div.say, div.shout, div.spellname{
	line-height: 150%;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 3em;
	margin-right: 3em;
 font-size: smaller; font-family: Arial, Helvetica, sans-serif;	background-color: #E4E4E4;
} /* */

div.social { color: black }
div.say { color: black }
div.gsay { color: teal }
div.ooc { color: blue }
div.emote { color: darkblue }
div.shout { color: red }

.spellname { color: black }

