.item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	line-height: 13px;
	clip:     rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;















}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
