body { scrollbar-face-color: #122538;
       scrollbar-shadow-color: black;
       scrollbar-highlight-color: #6E6E6E;
       scrollbar-3dlight-color: #1F1F1F;
       scrollbar-darkshadow-color: #1F1F1F;
       scrollbar-track-color: #3C3C3C;
       scrollbar-arrow-color: #C0C0C0;
       font-family: arial, helvetica;
       background: #122538;
       color: #DEE0B0}
A { color : #F2CF7E;
    text-decoration: none}
A:hover  { text-decoration: underline}
.roster { font-size: 12px}
.leftblock { background-image: url("Images/lower.gif");
             background-position: top left;
             background-repeat: no-repeat}
.header { padding: 0 0 0 3;
          font-size: 12px;
	    background-image: url("Images/header.gif");
          background-position: top left;
          background-repeat: no-repeat }
.block { padding: 5px;
         font-size: 12px}
.desert { background-image: url("Images/desert.gif");
             background-position: top left;
             background-repeat: no-repeat }         
.join { background-image: url("Images/cnr_join.gif");
             background-position: top right;
             background-repeat: no-repeat }
.family { background-image: url("Images/cnr_family.gif");
             background-position: top right;
             background-repeat: no-repeat }
.tales { background-image: url("Images/cnr_tales.gif");
             background-position: top right;
             background-repeat: no-repeat }