/*
** Body
*/

/* TODO *******************
BODY {
	Scrollbar-Arrow-Color:			#E6E6E6;
	Scrollbar-3dlight-Color:		#464646;
	Scrollbar-Highlight-Color:	#C7C7C7;
	Scrollbar-Face-Color: 			#787878;
	Scrollbar-Shadow-Color: 		#404040;
	Scrollbar-Track-Color: 			#414141;
	Scrollbar-Darkshadow-Color:	#464646;
}
*/

/*
** Genereller Font und Größe
*/

BODY, TH, TD, P, INPUT, SELECT {
	font-family:			Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:				13px;
}

/*
** Generelle Links
*/

A:link, A:visited {
	font-weight:			bold;
	Color:					#800A07;
	Text-Decoration:	None;
}

A:hover, A:active {
	font-weight:			bold;
	Color:						#59587C;
	Text-Decoration:	Underline;
}

/*
** Normaler Text
*/

.P0 {
	font-size:				13px;
}

.P1 {
	font-size:				13px;
	text-align:				justify;
}

.P2 {
	font-size:				13px;
	text-indent:			20px;
	text-align:				justify;
}

.P8 {
	font-size:				13px;
	color:					#FFCC33;
}

/*
** Kleiner Text
*/

.P3 {
	font-size:				11px;
}

.P4 {
	font-size:				11px;
	text-align:				justify;
}

.P5 {
	font-size:				11px;
	color:					#FFFFFF;
	text-align:				justify;
}

/*
** Großer Text
*/

.P6 {
	font-size:				15px;
}

.P7 {
	font-size:				15px;
	color:					#FFCC66;
	text-indent:			10px;
}

/*
** Smallcaps Text
*/

.S0 {
	font-size:				13px;
	font-variant:			small-caps;
}

.S3 {
	font-size:				11px;
	font-variant:			small-caps;
}

/*
** mpp_TitleA()
*/

.H0 {
	font-family:			"Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:				22px;
	font-weight:			bold;
	color:					#800A07;
	text-indent:			10px;
	background-image:	url(/pics/news-04.jpg);
	
} 

.H1 {
	font-family:			"Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:				15px;
	font-weight:			bold;
}

/*
border-bottom:		2px groove white;
** mpp_TitleE()
*/

.H5 {
	font-family:			"Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:				11px;
	line-height:			17px;
	font-weight:			bold;
	color:						#BDA277;
	text-align:				center;
}

/*
** mpp_TitleF()
*/

.H6 {
	font-family:			"Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:				11px;
	line-height:			17px;
	font-weight:			bold;
	color:						#B4A58E;
	text-align:				center;
}

/*
** Text gutes Menü
*/

.goodmenu {
	font-family:			Verdana, Arial, Helvetica, sans-serif;
	font-size:				11px;
	color:						#444444;
}

/*
** Link gutes Menü
*/

A.goodlink:link, A.goodlink:visited {
	font-weight:			normal;
	Color:						#444444;
	Text-Decoration:	None;
}

A.goodlink:aktive, A.goodlink:hover {
	font-weight:			normal;
	Color:						#B00000;
	Text-Decoration:	none;
}

/*
** Text böses Menü
*/

.evilmenu {
	text-align:				center;
	font-size:				11px;
	color:						#DDDDDD;
}

/*
** Link böses Menü
*/

A.evillink:link, A.evillink:visited {
	font-weight:			normal;
	Color:						#D1C1AA;
	Text-Decoration:	None;
}

A.evillink:aktive, A.evillink:hover {
	font-weight:			normal;
	Color:						#E00000;
	Text-Decoration:	none;
}

/*
** Datenlinks
*/

A.dblink:link, A.dblink:visited	{
					font-weight:		normal;
					Color:			#800A07;;
					Text-Decoration:	None;
				}
					
A.dblink:active, A.dblink:hover	{
					font-weight:		normal;
					Color:			#59587C;
					Text-Decoration:	Underline;
				}


/*
** Generelle Eingaben
*/

/*
INPUT, SELECT, TEXTAREA {
	font-size: 13px;
	background: white;
	border: 1px solid black;
}
*/

/*
** News Datum
*/

.newsdateline {
	/* border-top:				2px groove #DDDDDD;
	border-bottom:		2px groove #DDDDDD; */
	background-color:	#666666;
	background-image: url(/pics/background_datum.jpg);
}

/*
** News Headline
*/

.newsheadline {
	background-color:	#FFFFFF;
	background-image:	url(/pics/news-01.png);
	color:						#E8CD3B;
}

.newsheadline2 {
	background-color:	#FFFFFF;
	background-image:	url(/pics/news-03.png);
	color:						#E8CD3B;
}


BLOCKQUOTE.news {
	Font-Family:			Arial, Helvetica, sans-serif;
	Font-Size:				11px;
	Font-Weight:			Normal;
	Text-Align:				Justify;
	background-image: 		URL(/pics/background-02.jpg);
	Color:					#000000;
	border:						1px solid #000000;
	padding:				4px;
}

UL.news {
	list-style-type:	square;
	list-style-position: inherit;
	font-size:			11px;
	}

/* TODO ***************
UL.news {
	Font-Family:			Arial, Helvetica, sans-serif;
	Font-Size:				13px;
}
*/
.tableborder {
	border:	1px solid #59587C;

			}


/*
** Eingabe Login
*/

.userlogin {
	font-size: 11px;
	width: 102px;
	color:						#FFFFFF;
	background-color: #8F8878;
	border:						1px solid #B0A894;
}

/*
** Login Button
*/

.userpress {
	font-size: 11px;
	width: 104px;
	background-color:	#BDA277;
	border: 1px solid #A98200;
	
}

/*
** Votes
*/

.uservotes {
	font-size:				11px;
	color:						#B4A58E;
}

/*
** Copyright
*/

.copyright {
	Font-Family:			Tahoma, Verdana, Arial, Helvetica, sans-serif;
	Font-Size:				11px;
	Color:						#EEEEEE;
	Text-Decoration:	None;
}

A.copyright:link, A.copyright:visited {
	Font-Family:			Tahoma, Verdana, Arial, Helvetica, sans-serif;
	Font-Size:				11px;
	Font-Weight:			Bold;
	Color:						#FFCC00;
	Text-Decoration:	None;
}

A.copyright:hover, A.copyright:active {
	Font-Family:			Tahoma, Verdana, Arial, Helvetica, sans-serif;
	Font-Size:				11px;
	Font-Weight:			Bold;
	Color:						#FFFFFF;
	Text-Decoration:	Underline;
}

.middleheadline {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: E8CD3B;
	background-image: url(/pics/news-01.png);
	background-repeat: no-repeat;
	line-height: 16px;
	text-align: center;
}

/*
** mPortal styles
*/

table.mportal {
	border: 1px solid #444444;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	margin: 0px;
}

table.mportal th {
	background: #781e00;
	padding: 4px;
	color: #ffcc00;
}

table.mportal td {
	padding: 2px 4px 2px 4px;
	border-bottom: 1px solid #888888;
}

table.mportal td img {
	border: 1px solid #000000;
}

table.mportal td.comment {
	background: #aaaaaa;
	font-size: 11px;
	text-align: justify;
}

table.mportal td.submit {
	background: #888888;
	color: #dddddd;
}

table.mportal tr.alternaterow1 {
}

table.mportal tr.alternaterow2 {
	background: #aaaaaa url(/pics/background-01.jpg);
}
