A:link
{
    COLOR: white;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: white;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: orange;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana;
    BACKGROUND-COLOR: #444444;
    SCROLLBAR-TRACK-COLOR: #444444;
	SCROLLBAR-FACE-COLOR: #444444;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #222222;
    SCROLLBAR-DARKSHADOW-COLOR: 222222;
    SCROLLBAR-3DLIGHT-COLOR: #222222;
    SCROLLBAR-ARROW-COLOR: yellow;
}
TR,TD,P
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana;
}
DIV TABLE TR TD BLOCKQUOTE
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana;
    MARGIN: 5px 15px;
}
.history-date
{
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana;
	TEXT-ALIGN: right;
	BACKGROUND-COLOR: #1E90FF
}
.head
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #ffff00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    MARGIN: 5px;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.menu1
{
    FONT-SIZE: 10pt;
    MARGIN: 5px;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.subject
{
    FONT-SIZE: 9pt;
    COLOR: #ff99cc;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.date
{
    FONT-SIZE: 8pt;
    COLOR: #ffff00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.category
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffff00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.subcategory
{
    FONT-SIZE: 9pt;
    COLOR: #ffff00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.em
{
    FONT-SIZE: 9pt;
    COLOR: #00ff00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.disem
{
    FONT-SIZE: 9pt;
    COLOR: #777777;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.me
{
    FONT-SIZE: 9pt;
    COLOR: #335500;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.npc
{
    FONT-SIZE: 9pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.tbl0-0
{
	BACKGROUND-COLOR: #006633;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl0-1
{
	BACKGROUND-COLOR: #000033;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl0-2
{
	BACKGROUND-COLOR: #003333;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl1-0
{
	BACKGROUND-COLOR: #006666;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl1-1
{
	BACKGROUND-COLOR: #000066;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl1-2
{
	BACKGROUND-COLOR: #003366;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl2-0
{
	BACKGROUND-COLOR: #006699;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl2-1
{
	BACKGROUND-COLOR: #000099;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl2-2
{
	BACKGROUND-COLOR: #003399;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-0
{
	BACKGROUND-COLOR: #0066CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-1
{
	BACKGROUND-COLOR: #0033CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-2
{
	BACKGROUND-COLOR: #0066CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-0
{
	BACKGROUND-COLOR: #0066FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-1
{
	BACKGROUND-COLOR: #0000FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-2
{
	BACKGROUND-COLOR: #0033FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl00
{
	BACKGROUND-COLOR: #006633;
	WIDTH: 120pt
}
.tbl01
{
	BACKGROUND-COLOR: #000033;
	WIDTH: 120pt
}
.tbl02
{
	BACKGROUND-COLOR: #003333;
	WIDTH: 120pt
}
.tbl10
{
	BACKGROUND-COLOR: #006666;
	WIDTH: 120pt
}
.tbl11
{
	BACKGROUND-COLOR: #000066;
	WIDTH: 120pt
}
.tbl12
{
	BACKGROUND-COLOR: #003366;
	WIDTH: 120pt
}
.tbl20
{
	BACKGROUND-COLOR: #006699;
	WIDTH: 120pt
}
.tbl21
{
	BACKGROUND-COLOR: #000099;
	WIDTH: 120pt
}
.tbl22
{
	BACKGROUND-COLOR: #003399;
	WIDTH: 120pt
}
.tbl30
{
	BACKGROUND-COLOR: #0066CC;
	WIDTH: 120pt
}
.tbl31
{
	BACKGROUND-COLOR: #0033CC;
	WIDTH: 120pt
}
.tbl32
{
	BACKGROUND-COLOR: #0066CC;
	WIDTH: 120pt
}
.tbl40
{
	BACKGROUND-COLOR: #0066FF;
	WIDTH: 120pt
}
.tbl41
{
	BACKGROUND-COLOR: #0000FF;
	WIDTH: 120pt
}
.tbl42
{
	BACKGROUND-COLOR: #0033FF;
	WIDTH: 120pt
}