	/* 通常のテキストサイズ */
BODY {
	FONT-SIZE			:	12pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	}
	/* リンク文字の装飾 */
A	{
	TEXT-DECORATION		:	NONE;
	}
	/* リンク文字の装飾 */
A:LINK {
	TEXT-DECORATION		:	NONE;
	}
	/* 訪問済みリンク文字の装飾 */
A:VISITED {
	TEXT-DECORATION		:	NONE;
	}
	/* マウスオーバー時の色 */
A:HOVER	{
	COLOR				:	#FFCC66;
	}
	/* 投稿者名、タイトルの文字サイズ */
.W1 {
	FONT-SIZE			:	12pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	}
	/* テキストフィールド等の背景色とボーダー */
.FC {
	color				:	#990033;
	font-weight			:	500;
	font-size			:	10pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	background			:	#FFCC66;
	border-style		:	ridge;
	border-color		:	#FFCC66;
	}
	/* ボタンのスタイル */
.FD {
	color				:	#990033;
	BACKGROUND			:	#FFCC66;
	font-weight			:	500;
	font-size			:	10pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	border				:	thin outset #FFCC66;
	}
	/* 予備-1(^_^;) */
.W2 {
	FONT-SIZE			:	10pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	}
	/* 予備-2(^_^;) */
.W3 {
	FONT-SIZE			:	14pt;
	font-family			:	"MS UI Gothic", "ＭＳ ゴシック", "Osaka－等幅";
	}

