.MyHeadingOne
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MyHeadingTwo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.nounderline
{
    TEXT-DECORATION: none
}
.textfont
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rates
{
    FONT-SIZE: 12px;
    COLOR: #660000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.greensubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003333;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newssubject
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #0000cd;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetime
{
    FONT-STYLE: italic;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetimebold
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.newsdatetime2
{
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tinytext
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Text12pt
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Text12ptBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.HOH_HeadText
{
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-COLOR: Black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: 1px
}
.HOH_TableText
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-COLOR: Black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: 1px
}
.HOH_TableTextCell1
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-LEFT-COLOR: Black;
    BORDER-LEFT-STYLE: solid;
    BORDER-LEFT-WIDTH: 2px
}
.HOH_TableTextCell2
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-LEFT-COLOR: Black;
    BORDER-LEFT-STYLE: solid;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: Black;
    BORDER-BOTTOM-STYLE: solid;
    BORDER-BOTTOM-WIDTH: 1px
}
.HOH_TableTextCell3
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-LEFT-COLOR: Black;
    BORDER-LEFT-STYLE: solid;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: Black;
    BORDER-BOTTOM-STYLE: solid;
    BORDER-BOTTOM-WIDTH: 1px
}
.HOH_TableTextCell4
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-LEFT-COLOR: Black;
    BORDER-LEFT-STYLE: solid;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: Black;
    BORDER-RIGHT-STYLE: solid;
    BORDER-RIGHT-WIDTH: 2px;
    BORDER-BOTTOM-COLOR: Black;
    BORDER-BOTTOM-STYLE: solid;
    BORDER-BOTTOM-WIDTH: 1px
}
.HOH_TableTextDivider
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-TOP-COLOR: Black;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: Black;
    BORDER-BOTTOM-STYLE: solid;
    BORDER-BOTTOM-WIDTH: 2px
}
.HOH_TableBorder2px
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-COLOR: Black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: 2px
}
.HOH_TableTop1px
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-TOP-COLOR: Black;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-WIDTH: 1px
}
.HOH_TableTop2px
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-TOP-COLOR: Black;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-WIDTH: 2px
}
.HOH_TableText_Noborder
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
