body
{
	background-color: #000;
	color: #FFF;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial,Veranda;
	font-size: 12px;
}
h1
{
	font-family: Serif;
	color: #FFF;
	font-size: 24px;
}
h2
{
	font-family: Serif;
	font-size: 20px;
	color: #EC850C;
}
h3
{
	font-family: Serif;
	font-size: 16px;
	color: #EC850C;
}
img
{
	border: 0px;
}
hr
{
	clear: both;
	color: #22221e;
}
#header
{
	background-image: url(images/head_back.jpg);
	
}
#left
{
	position:absolute;
	top: 115px;
	left:0px;
	width: 165px;
	float: left;
}
#content
{
	margin-left: 165px;
	padding-left: 15px;
	padding-right: 50px;
	border-left: outset 1px #EC850C;
	height: 100%;
}
#leftNav
{
	font-size: 11px;
	font-family: Verdana;
	background-color: #1f2221;
}
#leftNav ul
{
	margin:0px;
	padding:0px;
}
#leftNav li
{
	padding: 6px 0px 6px 5px;
}

a:link, a:active, a:visited
{
	color: #EC850C;
	text-decoration:none;
}
a:hover
{
	color: #ffde74;
}
.floatLeft
{
	float:left;
}
.floatRight
{
	float: right;
}
#homeFeatures
{
	float:left;
	width: 400px;
	font-size: 11px;
}
#homeFeatures ul
{
	margin:0px;
	padding:0px;
}
#homeFeatures li
{
	padding-left: 15px;
}
#guildSpotlight
{
	float:right;
}
#guildSpotlight img
{
	float: left;
}
#currentNews
{
	clear: both;
	width: 80%;
}
#currentNews h2
{
	font-size: 14px;
}
#signupTable
{
	width: 600px;
	border: solid 2px #1f2221;
}
#signupTable th
{
	
	text-align: right;
	background-color: #1f2221;
}