body,td,th {
	color: #FFFFFF;
}
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(img/stone.jpg);
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
td{
	font-size:12px;
}
.titlebar{
background-image:url(img/titlebar.gif);
height:47px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#DDDDDD;
padding-left:25px;
}
.textbox{
background-image:url(img/box_inner.gif);
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding: 5px 10px 5px 10px;
}
.textbox_large{
background-image:url(img/box_inner_large.gif);
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding: 5px 10px 5px 10px;
}
a{
color:#FFFF00;
}
img{
	border:0px;
}
.loginbar{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-right:35px;
}
.gray_black {
	color:black;
	background-color:#AAAAAA;
}
.gray_black a{
	color:black;
	text-decoration:none
}
.dgray_black {
	color:black;
	background-color:#808080;
}
.dgray_white {
	color:white;
	background-color:#304050;
}
.blue_white {
	color:white;
	background-color:#000050;
}
.lblue_white {
	color:white;
	background-color:#1033A0;
}
.red_white {
	color:white;
	background-color:#500000;
}
.lred_white {
	color:white;
	background-color:#A00010;
}
.newsSubTitle {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFCC00;
	text-align:left;
	padding-left:5px;
}
