/*
  The original Boyz Theme for phpBB version 2+
  Created by Zarron Media
  http://www.zarron.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body   { background-color: #000000; scrollbar-3dlight-color: #D1D7DC; scrollbar-arrow-color: #006699; scrollbar-darkshadow-color: #98AAB1; scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #DEE3E7; scrollbar-track-color: #EFEFEF  }

/* General font families for common tags */
font,th,td,p  { color: #a9a9a9; font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited   { color: #c0c0c0 }
a:hover		 { color: #1AB41A; text-decoration: underline }
hr	 { border-style: solid; border-width: 1px 0px 0px 0px; border-color: #8694b5; height: 0px }

.forumline	  { background-color: #40485c; border: solid 2px #2d3546 }

/* Main table cell colours and backgrounds */
td.row1	  { background-color: #2d3546 }
td.row2	   { background-color: #363f52; border: none }
td.row3	  { background-color: #273043 }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic  { background: #ffffff url(images/cellpic2.jpg) repeat-x }

/* Header cells - the blue and silver gradient backgrounds */
th	  { color: #f00; font-weight: bold; font-size: 11px; background: #c0c0c0 url(images/cellpic3.gif); height: 25px }

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom  { background: #d1d7dc url(images/cellpic1.gif); height: 28px }


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR  { font-weight: bold; height: 28px }
td.row3Right,td.spaceRow   { background-color: #273043 }

th.thHead,td.catHead  { font-size: 12px }
th.thSides,td.catSides,td.spaceRow	  { }
th.thRight,td.catRight,td.row3Right	  { }
th.thLeft,td.catLeft	   { }
th.thBottom,td.catBottom   { }
th.thTop	  { }
th.thCornerL  { }
th.thCornerR  { }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	 { color: #c0c0c0; font-weight: bold; font-size: 22px; line-height: 120%; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-decoration: none }


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall  { color: #c0c0c0 }
a.gen,a.genmed,a.gensmall   { color: #c0c0c0; text-decoration: none }
a.gen:hover,a.genmed:hover,a.gensmall:hover	  { color: #1AB41A; text-decoration: underline }


/* The register, login, search etc links at the top of the page */
.mainmenu		  { color: #677595; font-size: 11px }
a.mainmenu		  { color: #677595; text-decoration: none }
a.mainmenu:visited  { color: #677595; text-decoration: none }
a.mainmenu:hover  { color: #1AB41A; text-decoration: underline }


/* Forum category titles */
.cattitle		  { color: #a9a9a9; font-weight: bold; font-size: 12px; letter-spacing: 1px }
a.cattitle		  { color: #a9a9a9; text-decoration: none }
a.cattitle:hover  { color: #1AB41A }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		  { color: #c0c0c0; font-weight: bold; font-size: 12px }
a.forumlink 	  { color: #c0c0c0; text-decoration: none }
a.forumlink:hover  { color: #1AB41A; text-decoration: underline }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			  { color: #c0c0c0; font-weight: bold; font-size: 11px }
a.nav			  { color: #c0c0c0; text-decoration: none }
a.nav:visited  { color: #c0c0c0; text-decoration: none }
a.nav:hover		  { color: #1AB41A; text-decoration: underline }


/* titles for the topics: could specify viewed link colour too */
.topictitle			  { color: #c0c0c0; font-weight: bold; font-size: 11px }
a.topictitle:link     { color: #c0c0c0; text-decoration: none }
a.topictitle:visited   { color: #c0c0c0; text-decoration: none }
a.topictitle:hover	  { color: #1AB41A; text-decoration: underline }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			 { color: #c0c0c0; font-size: 11px }

/* Location, number of posts, post date etc */
.postdetails		 { color: #c0c0c0; font-size: 10px }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	  { color: #c0c0c0; text-decoration: none }
a.postlink:visited   { color: #c0c0c0; text-decoration: none }
a.postlink:hover   { color: #1AB41A; text-decoration: underline }


/* Quote & Code blocks */
.code   { color: #d3d3d3; font-size: 11px; font-family: Courier, "Courier New", sans-serif; background-color: #6175a0; border: solid 1px #20242e }

.quote   { color: #d3d3d3; font-style: italic; font-size: 11px; line-height: 125%; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #6175a0; border: solid 1px #20242e }


/* Copyright and bottom info */
.copyright		 { color: #c0c0c0; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; letter-spacing: -1px }
a.copyright		 { color: #c0c0c0; text-decoration: none }
a.copyright:hover  { color: #1AB41A; text-decoration: underline }


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select  { background-color: #c0c0c0 }

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button  { color: #000000; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #c0c0c0 }

/* The main submit button option */
input.mainoption  { font-weight: bold; background-color: #8694b5 }

/* None-bold submit button */
input.liteoption  { font-weight: normal; background-color: #8694b5 }

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline  { background-color: #8694b5; border: none }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
