BODY {
	scrollbar-face-color: #A8A28C;
	scrollbar-arrow-color: #EDECE8;
	scrollbar-track-color: #6F5839;
	scrollbar-shadow-color: #000033;
	scrollbar-highlight-color: #EDECE8;
	scrollbar-3dlight-color: #EDECE8;
	scrollbar-darkshadow-Color: #000033;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	background-color : #F4F4ED;
}
li {
	font-size : 12px;
	margin-left : 6px;
}
p {
	font-size : 12px;
}
blockquote {
	font-size : 12px;
	color : #660000;
}
td {
	font-size : 12px;
}
h1 {
	font-size : 14px;
	font-weight : bold;
}
h2 {
	font-size : 12px;
	font-weight : bold;
}
h3 {
	font-size : 10px;
	font-weight : bold;
	color : #000000;
}
A:link {
	color : #330000;
	text-decoration: underline;
}
A:active {
	color : #990000;
}
A:hover {
	color : #CC0000;
	text-decoration : underline;
}
A:visted {
	color : #000066;
}
.sectionTitle {
	font-size : 13px;
	font-weight : bold;
	color : #FFFFFF;
	background-color : #4A382B;
	width : 100%;
	border: 1px solid #212D47;
}
.subSectionTitle {
	font-size : 11px;
	color : #000000;
	background-color : #DBDBD5;
	width : 100%;
	border: 1px solid #212D47;
	text-indent : 8px;
}
.menuBackground { 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px; 
	text-decoration : none; 
	text-align : left; 
	background-color: #A49E8A;
	border : 0px none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 141px;
}
.menuSection {
	font-size : 11px;
	font-weight : bold;
	color : #EFEFEF;
	background-color : #4A382B;
	text-align : center;
	vertical-align : middle;
	border: 1px #000000 solid;
}
.menuSection:hover {
	color : #000000;
	background-color: #C5BA9A;
	text-decoration : none;
	border: 1px #000000 solid;
}
.menuSubsection {
	font-size : 10px;
	background-color : #DBDBD5;
	text-align : left;
	border: 1px solid #000000;
	color: #000000;
	text-decoration : none;
}
.menuSubsection:hover {
	color : #000000;
	background-color: #C5BA9A;
	text-decoration : none;
}
.menuItem {
	font-size : 10px;
	color : #330000;
	text-decoration : none;
	width: 100%;
	text-align : left;
	padding : 1px;
}
.menuItem:link {
	color : #330000;
	text-decoration : none;
}
.menuItem:active {
	color : #FFFF00;
	background-color: #CCCCCC;
}
.menuItem:hover {
	color : #000000;
	background-color: #C6C6BB;
	text-decoration : none;
}
hr {
	color : #212D47;
	height : 2px;
	text-align : center;
}
.comment {
	font-size : 10px;
	color : #330000;
}
.comment2 {
	font-size : 10px;
	color : #660000;
	font-style : italic;
}
.newsHeader {
	font-size : 12px;
    font-weight: bold;
	color : #FFFFFF;
 	background-color: #331804;
 	border: #000000; 
 	border-style: solid; 
 	border-top-width: 1px; 
 	border-right-width: 1px; 
 	border-bottom-width: 1px; 
 	border-left-width: 1px;
}
.newsHeadline {
	font-size : 12px;
	font-style : normal;
	color: #000000;
}
.newsDate {
	font-size : 10px;
	vertical-align : middle;
	border: 1px #000000 none; 
	padding : 3px;
	font-weight : normal;
	 color: #000000;
}
.newsTitle {
	font-size : 11px;
	font-weight : bold;
	color : #FEFEFE;
	text-align : left;
	border: 1px solid #000000;
	padding : 3px;
}
.newsSubject {
	font-size : 11px;
	font-weight : bold;
	color : #000000;
	text-align : left;
	border: 0px none;
 	background-color: #A8A28C;
	padding : 2px;
}
.newsCategory {
	font-size : 10px;
	padding : 2px;
}
.newsText {
	font-size : 12px;
}
.newsName {
	font-size : 10px;
}
.newsComment {
	color : #222222;
	font-size : 10px;
}
TD.newshot { 
	background-color : Red;  
}
TD.newswarm  { 
	background-color : Teal;  
	}
	
TD.newscold  {
	background-color : Black;
}
.newsTitle2 {
	color : Black;
	font-family : "Tahoma", "Comic Sans MS", Arial, sans-serif;
	font-size : xx-small;
}
.pollTitle {
	color : #2F3F4F;
	font-size : 11px;
	font-weight : bold;
}
.pollChoice {
	font-size : 10px;
}
.pollVoted {
	font-size : 10px;
}
.pollAnswer {
	font-size : 10px;
}
.pollValueNum {
	font-size : 10px;
}
.pollValuePerc {
	font-size : 10px;
}
.pollTotal {
	font-size : 10px;
	font-weight : bold;
}
.pollValueTotal {
	font-size : 10px;
	font-weight : bold;
}
.poll100 {
	font-size : 10px;
	font-weight : bold;
}
.pollPercSign {
	font-size : 10px;
	font-weight : bold;
}
.navTitle {
	font-weight : bold;
	font-size : 9px;
	color : #FEFEFE;
	text-decoration : none;
	text-align : left;
}
.navTitle:link {
	color : #FEFEFE;
}
.navTitle:active {
	color : #DAA520;
}
.navTitle:hover {
	color : #DAA520;
}
.time    {
	behavior: url(#default#time2);
}
.navMenu {
	width : 110;
	background-color : #000000;
	color: #FEFEFE;
	font-size : 10px;
	text-align : center;
	text-decoration : none;
	z-index: 1;
}
.navSubmenu {
	width : 115;
	position : absolute;
	background-color : #000000;
	text-decoration : none;
	font-size : 10px;
	text-align : left;
	padding : 1px;
	z-index: 1;
}
.navSubmenuLink {
	color : #FEFEFE;
	text-decoration : none;
	width : 100%;
}
.navSubmenuLink:link {
	color : #FEFEFE;
	width : 100%;
	text-decoration : none;
}
.navSubmenuLink:active {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	text-decoration : none;
}
.navSubmenuLink:hover {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	text-decoration : none;
}
.submitButton {
	background-color: #C5BA9A; 
	color: #000000; 
	font-family: Verdana;
	font-size: 10;
	border: 1px solid #222222;
	text-align : center;
}
.searchButton {
	background-color: #C5BA9A; 
	color: #000000; 
	font-family: Verdana;
	font-size: 10;
	border: 1px solid #222222;
	text-align : center;
}
.searchText {
	font-size: 10px;
	color: #FEFEFE;
	width : 100%;
	text-align : center;
}
.search {
	font-size: 10px;
	width : 130px;
	border: 1px solid #222222;
}
.searchTitle{
	font-size : 11px;
	font-weight : bold;
	color : #EFEFEF;
	background-color : #6F5839;
	border: 1px solid #222222;
	vertical-align : top;
	text-align : center;
	width: 100%;
}
.servermonitor { 
	font-family : sans-serif; 
	color : #FFFFFF; 
	font-size : 1px; 
} 
.servername { 
	font-size : 10px;
	font-weight : bold;
} 
.menuBackgroundRight { 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px; 
	text-decoration : none; 
	text-align : left; 
	background-color: #A49E8A; 
	border : 0px none; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	width: 142px;
	clip:  rect(   );
}
