BODY {
	background-image : url(gifs/parchment.gif);
	background-color : #FFEBCD;
	font-family : Verdana;
	font-size : 8pt;
	color : Black;
}

A:ACTIVE, A:FOCUS, A:LINK, A:VISITED {
	color : Maroon;
}

A:HOVER {
	color : Green;
}

TD {
	font-family : Verdana;
	font-size : 8pt;
}

Title {
	font-family : Verdana;
	font-size : 8pt;
	font-variant : small-caps;
	font-weight : bold;
	color : White;
}

