.mstheme     { separator-image: url(divider.gif); list-image-1: url(bullet1.gif); 
               list-image-2: url(bullet2.gif); list-image-3: url(bullet3.gif); 
               nav-banner-image: url(banneractive.gif); 
               navbutton-horiz-normal: url(buttonnav0.gif); 
               navbutton-horiz-hovered: url(buttonnav1.gif); 
               navbutton-horiz-pushed: url(buttonnav1.gif); 
               navbutton-vert-normal: url(buttonnav0.gif); 
               navbutton-vert-hovered: url(buttonnav1.gif); 
               navbutton-vert-pushed: url(buttonnav1.gif); 
               navbutton-home-normal: url(buttonquicklink.gif); 
               navbutton-home-hovered: url(buttonquicklink.gif); 
               navbutton-home-pushed: url(blhomep.gif); 
               navbutton-next-normal: url(buttonquicklink.gif); 
               navbutton-next-hovered: url(buttonquicklink.gif); 
               navbutton-next-pushed: url(blnextp.gif); 
               navbutton-prev-normal: url(buttonquicklink.gif); 
               navbutton-prev-hovered: url(buttonquicklink.gif); 
               navbutton-prev-pushed: url(blprevp.gif); navbutton-up-normal: 
               url(buttonquicklink.gif); navbutton-up-hovered: 
               url(buttonquicklink.gif); navbutton-up-pushed: url(blupp.gif) }
.mstheme-bannertxt { font-family: Arial, Arial, Helvetica; color: rgb(255, 255, 255); font-size: 6; 
               font-style: normal; font-weight: normal; text-align: left }
.mstheme-horiz-navtxt { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-vert-navtxt { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-navtxthome { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtnext { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtprev { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtup { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
ul           { list-style-image: url('bullet1.gif') }
ul ul        { list-style-image: url('bullet2.gif') }
ul ul ul     { list-style-image: url('bullet3.gif') }
a:link       { color: rgb(255, 0, 0) }
a:active     { color: rgb(234, 204, 205) }
a:visited    { color: rgb(192, 192, 192) }
body         { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255) }
table        { table-border-color-light: rgb(234, 204, 205); table-border-color-dark: 
               rgb(164, 40, 53) }
h1           { color: rgb(255, 0, 0) }
h2           { color: rgb(255, 0, 0) }
h3           { color: rgb(255, 0, 0) }
h4           { color: rgb(255, 0, 0) }
h5           { color: rgb(255, 0, 0) }
h6           { color: rgb(255, 0, 0) }
button       {  }
label        {  }
.mstheme-text {  }
textarea     {  }
fieldset     {  }
legend       {  }
select       {  }
caption      {  }
th           {  }
.mstheme-bannertxt a:link { color: rgb(255, 0, 0) }
.mstheme-bannertxt a:active { color: rgb(234, 204, 205) }
.mstheme-bannertxt a:visited { color: rgb(192, 192, 192) }
.mstheme-bannertxt-g { font-family: Arial, Arial, Helvetica; color: rgb(255, 255, 255); font-size: 6; 
               font-style: normal; font-weight: normal; text-align: left }
.mstheme-bannertxt-g a:link { color: rgb(255, 0, 0) }
.mstheme-bannertxt-g a:active { color: rgb(234, 204, 205) }
.mstheme-bannertxt-g a:visited { color: rgb(192, 192, 192) }
.mstheme-bannertxt-s { font-family: Arial, Arial, Helvetica; color: rgb(255, 255, 255); font-size: 6; 
               font-style: normal; font-weight: normal; text-align: left }
.mstheme-bannertxt-s a:link { color: rgb(255, 0, 0) }
.mstheme-bannertxt-s a:active { color: rgb(234, 204, 205) }
.mstheme-bannertxt-s a:visited { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt a:link { color: rgb(255, 0, 0) }
.mstheme-horiz-navtxt a:active { color: rgb(234, 204, 205) }
.mstheme-horiz-navtxt a:visited { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt-g { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-horiz-navtxt-g a:link { color: rgb(255, 0, 0) }
.mstheme-horiz-navtxt-g a:active { color: rgb(234, 204, 205) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-horiz-navtxt-gs a:link { color: rgb(255, 0, 0) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(234, 204, 205) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxthome a:link { color: rgb(255, 0, 0) }
.mstheme-navtxthome a:active { color: rgb(234, 204, 205) }
.mstheme-navtxthome a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxthome-g { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxthome-g a:link { color: rgb(255, 0, 0) }
.mstheme-navtxthome-g a:active { color: rgb(234, 204, 205) }
.mstheme-navtxthome-g a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxthome-gs { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxthome-gs a:link { color: rgb(255, 0, 0) }
.mstheme-navtxthome-gs a:active { color: rgb(234, 204, 205) }
.mstheme-navtxthome-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtnext a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtnext a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtnext a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtnext-g { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtnext-g a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtnext-g a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtnext-g a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtnext-gs { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtnext-gs a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtnext-gs a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtnext-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtprev a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtprev a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtprev a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtprev-g { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtprev-g a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtprev-g a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtprev-g a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtprev-gs { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtprev-gs a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtprev-gs a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtprev-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtup a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtup a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtup a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtup-g { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtup-g a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtup-g a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtup-g a:visited { color: rgb(192, 192, 192) }
.mstheme-navtxtup-gs { font-family: arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: top }
.mstheme-navtxtup-gs a:link { color: rgb(255, 0, 0) }
.mstheme-navtxtup-gs a:active { color: rgb(234, 204, 205) }
.mstheme-navtxtup-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-topbar-font a:link { color: rgb(255, 0, 0) }
.mstheme-topbar-font a:active { color: rgb(234, 204, 205) }
.mstheme-topbar-font a:visited { color: rgb(192, 192, 192) }
.mstheme-topbar-font-g { font-family: arial, Arial, Helvetica; color: rgb(255,255,255); font-size: 8pt; 
               font-weight: bold; text-align: right; vertical-align: top }
.mstheme-topbar-font-g a:link { color: rgb(255, 0, 0) }
.mstheme-topbar-font-g a:active { color: rgb(234, 204, 205) }
.mstheme-topbar-font-g a:visited { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt a:link { color: rgb(255, 0, 0) }
.mstheme-vert-navtxt a:active { color: rgb(234, 204, 205) }
.mstheme-vert-navtxt a:visited { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt-g { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-vert-navtxt-g a:link { color: rgb(255, 0, 0) }
.mstheme-vert-navtxt-g a:active { color: rgb(234, 204, 205) }
.mstheme-vert-navtxt-g a:visited { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt-gs { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme-vert-navtxt-gs a:link { color: rgb(255, 0, 0) }
.mstheme-vert-navtxt-gs a:active { color: rgb(234, 204, 205) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt { font-family: Arial, Arial, Helvetica; color: rgb(234, 204, 205); font-size: 2; 
               font-style: normal; font-weight: bold; vertical-align: bottom }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(buttonquicklink.gif) }
.mstheme-topbar-font { font-weight: bold; color: rgb(255,255,255); font-family: 
               arial, Arial, Helvetica; text-align: right; font-size: 8pt; 
               vertical-align: top }
body         { background-image: url('stone_background.jpg'); font-family: 
               arial, Arial, Helvetica }
h1           { font-family: arial, Arial, Helvetica }
h2           { font-family: arial, Arial, Helvetica }
h3           { font-family: arial, Arial, Helvetica }
h4           { font-family: arial, Arial, Helvetica }
h5           { font-family: arial, Arial, Helvetica }
h6           { font-family: arial, Arial, Helvetica }
