.btnheader {  
font-family: Verdana, Tahoma;
color: #0C0F4C; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.header {  
font-family: Verdana, Tahoma;
color: #F0E7BE; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.headerblue {  
font-family: Verdana, Tahoma;
color: #7E8AFF; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.bigheader {  
font-family: Verdana, Tahoma;
color: #0C0F4C; 
font-size: 14px; 
font-weight: bold;
line-height: 12pt
}

.btntext {  
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
TD {  
font-family: Verdana, Tahoma;
color: #D7CEA4; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
SELECT, INPUT, TEXTAREA {
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
.text {  
font-family: Verdana, Tahoma;
color: #000000; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
.textwhite {  
font-family: Verdana, Tahoma;
color: #FFFFFF; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
.link {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}

A:link {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
A:visited {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
A:hover {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
.btnlink {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
text-decoration: none
}
.btnlink:hover {
font-family: Verdana, Tahoma;
color: #FFB019; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
.forumlink:link {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.forumlink:visited {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.forumlink:hover {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
.links:link {
font-family: Verdana, Tahoma;
color: #FF9900; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.links:visited {
font-family: Verdana, Tahoma;
color: #FF9900; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.links:hover {
font-family: Verdana, Tahoma;
color: #FF9900; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
body {
scrollbar-base-color:#F1E4D5;
background-color: #000000; 
margin: 0px;    
font-family: Verdana, Tahoma;
color: #D7CEA4; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
table.ttb {
background-color: #282828;
color: #FFFFFF;
margin: 0px;
border-bottom: 2px solid #888;
border-right: 2px solid #888;
border-top: 2px solid #EEE;
border-left: 2px solid #EEE;
font-size: 14px;
}
table.ttb a:link { color: #8888FF; }
table.ttb a:visited { color: #7777EE; }
#table.ttb td {
#  text-decoration: bold;
#}
table.ttb h6 {
font-size: 10px;
}
span.quality   { color: #FFFFFF; }
span.quality-1 { color: #FFCC00; }
span.quality0  { color: #808080; }
span.quality1  { color: #FFCC00; }
span.quality2  { color: #00FF00; }
span.quality3  { color: #0068FF; }
span.quality4  { color: #8000FF; }
span.quality5  { color: #FF0000; }
span.quality6  { color: #FF8000; }
span.quality,span.quality-1,span.quality0,span.quality1,span.quality2,span.quality3,span.quality4,span.quality5,span.quality6 {
display: block;
font-weight: bold;
}
<!--
background-image: /images/background.jpg;       
background-position: center;        
background-attachment: fixed;  
background-repeat: no-repeat;
-->
