a:link {text-decoration: none; color: #808080}
a:visited {text-decoration: none; color: #808080}
a:active {text-decoration: none; color: #C0C0C0}
a:hover {text-decoration: underline; color: #FFFFFF}
body {	SCROLLBAR-FACE-COLOR: #000000;
	SCROLLBAR-HIGHLIGHT-COLOR: #000000;
	SCROLLBAR-SHADOW-COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #808080;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #808080;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;}
