@charset "iso-8859-1";


BODY {scrollbar-face-color: #333333;    scrollbar-shadow-color: #999999;      scrollbar-highlight-color: #333333;      scrollbar-3dlight-color: #999999;      scrollbar-darkshadow-color: #666666;      scrollbar-track-color: #333333;      scrollbar-arrow-color: #999999;      font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      font-weight:bold;      color : #FFFFFF;}

FONT {font-size : 12px;}

.verysmall {font-size : 9px; font-family : Arial, Helvetica, sans-serif;}

.small {font-size : 10px;}

.normal {font-size : 12px;}

.big {font-size : 20px;}

FORM {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      color : #333333;      font-weight:bold;}

TEXTAREA, INPUT, SELECT {background-color: #333333;        font-family : Arial, Helvetica, sans-serif;     font-size: 10px;     color: #FFFFFF;         font-weight:bold;        BORDER: #9900CC thin solid;     border-width: 1px;}

.formmenu TEXTAREA, INPUT, SELECT {background-color: #333333;        font-family : Arial, Helvetica, sans-serif;     font-size: 10px;     color: #FFFFFF;         font-weight:bold;        BORDER: #1A404D thin solid;     border-width: 1px;}

.noborder {background-color: #FBC155;        font-family : Arial, Helvetica, sans-serif;     font-size: 10px;     color: #485F18;         font-weight:bold;        BORDER: none;}

.button {background-color: #333333;        font-family : Arial, Helvetica, sans-serif;     font-size: 11px;     color: #FFCD64;         font-weight:bold;        border-bottom: #56771F thin solid;      border-left: #568D21 thin solid;      border-right: #56771F thin solid;     border-top: #568D21 thin solid;     border-width: 1px;}

TD {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      color : #FFFFF;}

A {cursor: hand;      color: #999999;      font-family:  Arial, Helvetica, sans-serif;      font-size: 12px;      font-weight: bold;      text-decoration: none;}

A:Visited {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      font-weight:bold;      color : #FFFFF;      text-decoration : none;}

A:Active {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      color : #6699FF;      font-weight:bold;}

A:Hover {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      font-weight:bold;      color : #FFFFFF;      text-align : center;}

A.menu {cursor: hand;      color: #666666;      font-family:  Arial, Helvetica, sans-serif;      font-size: 12px;      font-weight: bold;      text-decoration: none;}

A.menu:Visited {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      font-weight:bold;      color : #666666;      text-decoration : none;}

A.menu:Active {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      color : #6C6C6C;      font-weight:bold;}

A.menu:Hover {font-size : 12px;      font-family : Arial, Helvetica, sans-serif;      font-weight:bold;      color : #6C6C6C;      text-align : left;      text-decoration : underline overline;}

A.menulink {
display: block;
width: 100px;
text-align: left;
text-decoration: none;
font-family:arial;
font-size:12px;
color: #666666;
BORDER: none;
border: none;
}

A.menulink:hover {
border: none;
background-color:#FF9900;
}