// body { scrollbar-3dlight-color:#333333; scrollbar-arrow-color : #FFC076; scrollbar-face-color : #AA0000; scrollbar-highlight-color : #DF1600; scrollbar-shadow-color : #3F0000; scrollbar-darkshadow-color:#000000; scrollbar-track-color : #111111; scrollbar-base-color : #000000; margin-bottom : 0px; margin-left : 0px; margin-right : 0px; margin-top : 0px; 	}

select { background-color: #FFCF63}

.select2 {
	background-color : #E5E2BA;
}

h1,.h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; }
h3,.h3 { font-size: 10pt; font-weight: bold; color: #FFC076; }

.bold { font-size: 10pt; font-weight: bold; color: #FFFFFF; }

.cathd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #03406B; }

.cat,.listing { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #03406B; }

.hddate { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #BCBCBC; }
.hdlink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #BCBCBC; }

.bodytx { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #03406B; }
.deviltx { 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
	text-decoration : none;
}

a { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; }
a:link { color: #03406B; }
//a:visited { color: #666666; }
a:visited { color: #03406B; }
a:hover { color: #111111; }
a:active { color: #FF4307; }

a.cathd { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; font-weight: bold; }
a.cathd:link { color: #03406B; }
a.cathd:visited { color: #03406B; }
a.cathd:hover { color: #6292B4; }
a.cathd:active { color: #FF4307; }

a.cat { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; }
a.cat:link { color: #03406B; }
a.cat:visited { color: #666666; }
a.cat:hover { color: #6292B4; }
a.cat:active { color: #FF4307; }

a.feat { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline; }
a.feat:link { color: #03406B; }
a.feat:visited { color: #03406B; }
a.feat:hover { color: #111111; }
a.feat:active { color: #FF4307; }

a.foot { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none; }
a.foot:link { color: #BCBCBC; }
a.foot:visited { color: #BCBCBC; }
a.foot:hover { color: #6292B4; }
a.foot:active { color: #FF4307; }

a.topics { font-weight: bold; font-size: 12px }

.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; }

.quicklinks { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; }

/*	Primary Navigation Bar									*/
a.topics {font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; font-weight: bold; font-size : 9pt;}
a.topics:link {
	color: #FFFF9C;
}
a.topics:visited {
	color: #FFFFCE;
}
a.topics:hover { color: yellow; }
a.topics:active { color: #FF4307; }
td.primarynavigation {
	background-color : #191919;
}

/*	Secondary Navigation Bar									*/
a.subtopic {font-family: Verdana, Arial, Helvetica, sans-serif;	text-decoration: underline;	font-weight: bold;	font-size : 9pt;}
a.subtopic:link {color: black; }
a.subtopic:visited {color: #404040;}
a.subtopic:hover { color: #111111; }
a.subtopic:active { color: #FF4307; }
td.secondarynavigation {	background-color : #B6B471;
}
.h2 { font-size: 16px; font-weight: bold; color: #000000; ; font-family: Arial, Helvetica, sans-serif}
.advertise { font-size: 12px; font-weight: bold; color: #8B6214; ; font-family: Arial, Helvetica, sans-serif }
