a:link,a:active,a:visited{font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular;text-decoration:none;color:midnightblue}
a:hover{font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular;text-decoration:underline overline}
a{font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular}
td,tr{font-size:10pt;color:#000000;font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular}
.default{font-size:10pt;color:#000000;font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular}
H1{color:#000080;font-weight:bold;font-size:14pt;line-height:18px;font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular;margin-top:5px;margin-left:10px}
H2{color:#c0c0c0;font-weight:bold;font-size:12pt;line-height:16px;font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular;clear:right;margin-left:20px}
ul{margin-left:20px;}
.nav_font{font-weight:bold;font-size:8pt;color:#000000;font-family:Arial,Verdana,Helvetica,Geneva,Swiss,SunSans-Regular;text-decoration:none;color:white}
