
body {
	background-color:#ffffff 
}


a:link {
	font-weight: bold;
	text-decoration:none;
	color: #000066 
}


a:visited {
	font-weight: bold;
	text-decoration:none;
	color: #000099 
}


a:active {
	font-weight: bold;
	color:#660066 
}


a:hover {
	font-weight: bold;
	text-decoration:underline;
	color:#DD0000 
}


p.date0 {
	font-size: 14px;
	font-weight: bold;
	color:#EEA500 
}


p.date {
	font-size: 14px;
	font-weight: bold;
	color:#EEA500
}


p.date6 {
	font-size: 14px;
	font-weight: bold;
	color:#0000cc 
}


span.title {
	font-size: 12px;
	font-weight: bold;
	
}


span.maru {
	color: #990000 
}


p.news {
	font-size: 12px;
	color:#FFFFFF 
}


div.time {
	color:#333333;
	text-align: right;
	
}


span.name {
	font-size: 10px;
	color: #aaaaaa 
}


span.update {
	font-size: 10px;
	color: #ffffff 
}


tr {
	line-height: 150%;
	font-size: 12px 
}


tr.font10 {
	font-size: 10px 
}

