.title{
 font-size : 180%;
 color : aqua;
 font-family : "Times New Roman";
 background-color : navy;
 border-top-width : 3px;
 border-left-width : 3px;
 border-right-width : 3px;
 border-bottom-width : 3px;
 border-style : double double double double;
 border-top-color : #8080ff;
 border-left-color : #8080ff;
 border-right-color : #8080ff;
 border-bottom-color : #8080ff;
 font-weight : lighter;
}
.subtitle{
 color : red;
 font-size : 80%;
}
.th_title{
 font-size : 180%;
 font-family : "Times New Roman";
 font-weight : lighter;
}
.th_header{
 background-color : #8080ff;
 font-family : "Times New Roman";
}
.th_header_s{
 background-color : #8080ff;
 font-family : "Times New Roman";
 font-size : 70%;
 font-weight : bold;
}
.th_page{
 font-size : 160%;
 letter-spacing : 3px;
 font-weight : lighter;
}
.td_lightcolor{
 background-color : #000050;
}
.td_trade{
 background-image : url(wallpaper_trade.gif);
 background-color : #000080;
}
.str_aqua{
 color : aqua;
}
.str_blue{
 color : #8080ff;
}
.str_orange{
 color : #fead4b;
}
.str_red{
 color : red;
}
.question{
 color : aqua;
 text-decoration : underline;
}
.log{
 color : #ffffff;
}
.log_faction{
 line-height : 90%;
 font-size : x-small;
}
.delete{
 color : gray;
}
.impact{
 font-size : large;
 color : red;
}
.translation{
 font-size : x-small;
 font-style : italic;
 color : #ffffff;
}
.str_white{
 color : white;
}
.str_black{
 color : #666666;
}
.str_grey{
 color : #cccccc;
}
.str_green{
 color : #80ff80;
}
.div_text{
 font-size : 120%;
 font-family : "Times New Roman";
 font-weight : lighter;
}
.td_line_red{
 background-color : #800000;
 background-image : url(wallpaper_line_red.gif);
}
.td_line_blue{
 background-color : #000080;
 background-image : url(wallpaper_line_blue.gif);
}
.td_line_lightblue{
 background-color : #6666ff;
 background-image : url(wallpaper_line_lightblue.gif);
}
.td_line_green{
 background-color : #009900;
 background-image : url(wallpaper_line_green.gif);
}
