body {  font-family: Verdana, sans-serif; font-size: 8pt;
	background-image: url(../Images/backtile.gif);
	scrollbar-face-color: #392439;
	scrollbar-highlight-color: #DED3CE;
	scrollbar-shadow-color: #392439;
	scrollbar-3dlight-color: #392439;
	scrollbar-arrow-color:  #94796B;
	scrollbar-track-color: #94796B;
	scrollbar-darkshadow-color: #392439;
}
p { font-family: Verdana, sans-serif; font-size: 8pt}
SELECT { color: #AD9A94; font-family: Verdana, sans-serif; font-size: 8pt; background-color: #342334}
INPUT { font-family: Verdana, sans-serif; font-size: 8pt}
TEXTAREA { font-family: courier, sans-serif;font-size: 8pt}
hr { color: #413030; height: 1px  }

a:link {  color: #806A5C; text-decoration: none}
a:visited {  color: #806A5C; text-decoration: none}
a:active {  color: #806A5C; text-decoration: none}
a:hover {  color: #806A5C; text-decoration: underline}

.trtopforum {  color: #E5D5BC; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-variant: small-caps; text-align: center; font-weight: bold; background-image: url(../forum/images/top_tr_tile.gif)}
.trlineforum {  color: #E5D5BC; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-image: url(../forum/images/line_tr_tile.gif)}
.trlineforumsmall {  color: #E5D5BC; font-family: Verdana, sans-serif; font-size: 7pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;}
.trlineforumnoback {FONT-SIZE: 8pt; COLOR: #e5d5bc; FONT-FAMILY: Verdana, sans-serif}

.trtopthread { background-color: #413030; color: #FFFFFF; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-variant: small-caps; font-weight: bold; background-image: url(../forum/images/top_tr_tile.gif)}
.trtopthreadlong { background-color: #413030; color: #FFFFFF; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-variant: small-caps; font-weight: bold; background-color: #806A5C}
.trlinethreadone { color: #000000; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-color: #DED1DB; vertical-align: top}
.trlinethreadtwo { color: #000000; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-color: #DED3CE; vertical-align: top}

.nom { font-weight: bold}
.surnom { font-style: italic}
.titre { font-weight: bold}

.imgbordered { border-color:#DED3CE; border-style:solid; border-top-width:1px; border-bottom-width:1px; border-right-width:1px; border-left-width:1px; }

.citation { color: #000000; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-color: #EEEEEE; vertical-align: top; border: 1px solid; border-color: #92A6B0 #FFFFFF #FFFFFF #92A6B0; }

.reattrib {  text-decoration: line-through;}
.armobye { text-decoration: line-through;}

.armoselecttry {  background-color: #413030; color: #e5d5bc; font-family: Verdana, sans-serif; font-size: 8pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-variant: small-caps; font-weight: normal; background-image: url(../forum/images/top_tr_tile.gif)}
.armoselectbye { background-color: #000000; color: #e5d5bc; font-family: Verdana, sans-serif; font-size: 7pt; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-variant: small-caps; font-weight: normal; }

.aforum {font-family: Verdana, sans-serif; font-size: 8pt;}
a.aforum:link {  color: #E5D5BC; text-decoration: none;}
a.aforum:visited {  color: #E5D5BC; text-decoration: none;}
a.aforum:active {  color: #E5D5BC; text-decoration: none;}
a.aforum:hover {  color: #E5D5BC; text-decoration: underline;}

.outforum {font-family: Verdana, sans-serif; font-size: 7pt; color: #D2BB96;}
a.outforum:link {  color: #CBB6DB; text-decoration: none;}
a.outforum:visited {  color: #CBB6DB; text-decoration: none;}
a.outforum:active {  color: #CBB6DB; text-decoration: none;}
a.outforum:hover {  color: #CBB6DB; text-decoration: underline;}
