BODY {
                font-family: Tahoma;
                font-size: 10pt;
                color: #000000;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;                
}

A { text-decoration: none }
A:active { text-decoration: underline; color: #0000a0 }
A:hover { text-decoration: underline; color: #0000a0 }
A:visited { color: #303030 }

.menu { color: #DDDDDD; text-decoration: none}
.menu:visited { color: #DDDDDD; text-decoration: none}
.menu:hover { color: #DDDDDD; text-decoration: underline}
.menu:active { color: #DDDDDD; text-decoration: underline}

.main { color: #003333; text-decoration: none}
.main:visited { color: #336666; text-decoration: none}
.main:hover { color: #003333; text-decoration: underline}
.main:active { color: #003333; text-decoration: underline}


.news { color: #303030; text-decoration: underline}
.news:visited { color: #336666; text-decoration: none}
.news:hover { color: #336666; text-decoration: none}
.news:active { color: #336666; text-decoration: none}

BLOCKQUOTE {
        font-family: Times New Roman;
    color: #050056; 
        font-size: 10pt;        
}