/*   http://www.geocities.com/nenelar/nenelar.css   */

body {
	color:#333;
	background-color: #EFEFEF;
	background-attachment: fixed;
	margin:0px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
	}
	
h1 {
	margin:0px 0px 0px 0px;
	padding:0px;
	font-size:28px;
	font-weight:900;
	color: White;
	}
	
h2 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 0px 0px;
	padding:0px;
	color: #666666;
	}
	
h3 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	}
	
p {
	font-family:verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
	
.counter {
		margin:0px 0px 0px 0px;
		font-weight: bold;
		text-align: center;
}
.Content>p {margin:0px;}
.Content>p+p {text-indent:30px;}

td {
	margin:0px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
	}

td.highlight {
	color: #666666;
   background-color: #DCDCDC;
	margin:0px;
	padding:0px;
	font:11px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	}
	
th {
   background-color: #708090;
	margin:0px;
	padding:0px;
	font:13px verdana, arial, helvetica, sans-serif;
	color: White;
	font-weight: bold;
	}
	
a {
	color: #6699FF;
	font-family:verdana, arial, helvetica, sans-serif;
	text-decoration:none;
	}
	
a:link {color: #9999CC;}
a:visited {color: #666699;}
a:hover {text-decoration : underline;}
  
.content {
	position : relative;
	width:auto;
	min-width:120px;
	margin: 15px 5px 20px 135px;
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index : 4;
	}
	
.menu { 
	color : #878787;
	font-family : verdana, arial, helvetica, sans-serif;
	}
	
.menu:hover {
	color : #FFFFFF;
	text-decoration : none; 
	}
	
.menutitle { 
	color : White;
	font-family : verdana, arial, helvetica, sans-serif; 
	font-weight:bold;
	border-bottom : 1px groove Black;
	margin-bottom : 0px;
	margin-top : 10px;
	font-size : 13px;
	}
	
.menutitle:hover {
	color : #FFFFFF;
	font-family : verdana, arial, helvetica, sans-serif;
	font-weight:bold;
	text-decoration : none;
	}
	
.disclaimer {
	font-style : italic;
	font-size : smaller;
}

.warn {
	color: maroon;
}

#header { 
   color: white;
   margin-top:0px;
   height:40px;
   border-color:black;
   border-style:solid;
   border-width:0px 0px 1px 0px;
   background-color: #708090;
   z-index:1;
   padding-left : 5px;
   
   }

#topnav { 
   margin-top:0px;
   height:15px;
   border-color:black;
   border-style:solid;
   border-width:0px 0px 1px 0px;
   background-color: #DCDCDC;
   z-index:1;
   padding-left : 5px;
   }   
   
#leftnav {
	position: absolute;
	margin-top: 50px;
	top: 20px;
	left: 5px;
	width: 120px;
	border:1px solid black;
	background-color: #DCDCDC;
	padding:10px;
	z-index: 3;
}
		