/**
 * Feuille de style EverQuest - JeuxOnline
 *
 * @version $Revision$, $Date$
 */

body	{ margin: 5px 0; background-image: url(/images/papierfond.jpg); background-color: black; color: black; }
a { color: #660000 }
a:active { color: #CC0000 }

.texte a, .news a { text-decoration: none }

td, th, a, h1, h2, .titre, .newstitle, .signature, .lienHeadlines, .news, .cite, .cell, .cell2, .cell3, .chatBanner, .footnote, .titretab, .titretab2, .liens, .date, .texte { font-family: Arial, Helvetica, Sans-Serif; }

h1	{ color: black; font-size: 14pt; text-align: center; font-weight: bold; margin-top:  1em }
h2	{ color: black; font-size: 12pt; text-align: left;   font-weight: bold; margin-left: 1em; font-style: italic; }

.titre		{ color: white;   font-size: 12pt; text-align: center; font-weight: bold; }
.newstitle	{ color: #4C4018; font-size: 15pt; font-style: italic; font-weight: bold; }
.signature	{ color: #A85A06; font-size: 10pt; font-style: italic; }
a.signature	{ color: #A85A06; }

.newshead	{ margin-left: 1em; margin-top: 0.5em; margin-bottom: 0.5em; }

em	{ font-style: normal; color:#542B06; font-weight:600; }

.news	{ color: black;   font-size: 11pt; text-align: justify; margin: 0 1em; }
.cite	{ color: #542B06; font-size: 11pt; text-align: justify; margin: 0 1.5em; }
.date	{ color: black;   font-size: 14pt; text-align: center;  font-weight: bold; margin-top: 1em }

.cite a { text-decoration: none }
.cite a:hover { color: blue }

.liens	{ font-size: 11px; }
.lien1	{ color: white; text-decoration: none; }
a.lien1:hover	{ color: #dfc597 }
.lien2	{ color: gray;  text-decoration: none; }
.lien3	{ color: #dfc597; text-decoration: none; }

a.lienSurBackground	{ font-size: 11pt; color: white; text-decoration: none }

.footnote		{ color: white; font-size: 8pt; text-align:center }

caption { background-color: black; font-family: Arial; color: white; font-weight: bold; font-size: 13pt; text-align: left; text-indent: 1em; }

.titretab, .titretab2	{ color: black; background-color: #aaaaaa; font-size: 10pt; font-weight: bold; }
.titretab2		{ text-align: center; }

.cell	{ color: black;	font-size: 10pt; }
.cell2	{ color: black; font-size: 10pt; text-align: center; }
.cell3	{ color: black;	font-size: 8pt;  text-align: center; }
.bgcell1	{ background-color: #cca96a }
.bgcell2	{ background-color: #e3c99b }

.rcell1, .rcell2, .rcell1c, .rcell2c, .rcell1a, .rcell2a, th { color: black;  font-size: 10pt; border-style: solid; border-width: 1px; }

.rcell1, .rcell1c { background-color: #cca96a; border-color: #e3d0af #a17b37 #a17b37 #e3d0af; }
.rcell2, .rcell2c { background-color: #e3c99b; border-color: #fcf9f4 #c99841 #c99841 #fcf9f4; }
.rcell1c { text-align: center; }
.rcell2c { text-align: center; }
.rcell1a { border-color: #e3d0af #a17b37 #a17b37 #e3d0af; }
.rcell2a { border-color: #fcf9f4 #c99841 #c99841 #fcf9f4; }

th 	{ text-align: center; background-color: #aaaaaa; border-color: #dddddd #777777 #777777 #dddddd; font-weight: bold; }
th.left { text-align:left }
th a { text-decoration: none; color: black }
th a:hover { text-decoration: none; color: blue; }

.relief th { font-family: Arial; font-size: 10pt; font-weight: bold; text-align: left; }
.relief td { font-family: Arial; font-size: 10pt }
.relief td.c1, .relief td.c1a, .relief th.c1 { background-color: #d6be94; border-style: solid; border-width: 1px; border-color: #e2cfb0 #ccab76 #ccab76 #e2cfb0 }
.relief td.c2, .relief td.c2a, .relief th.c2 { background-color: #e3c99b; border-style: solid; border-width: 1px; border-color: #efdcbd #e0b97c #e0b97c #efdcbd }
.relief td.c2a:hover { background-color: #f3d9aB; }

.texte	{ color: black; font-size: 11pt; text-align: justify; margin: 0 1em; }

form { margin: 0 }

input.sable, textarea.sable, select.sable  { color: black; background-color: #dfc597 }


.serveurNom, .serveurUp, .serveurDown { font-family: Arial, Helvetica, Sans-Serif; font-size: 11px; text-decoration: none }
.serveurNom  { color: white }
.serveurUp   { color: #40FF40 }
.serveurDown { color: red }

.lienHeadlines		{ font-size: 11px; text-decoration: none; margin: 0 3px 6px 3px; color: white; }
a.lienHeadlines 	{ color: white;   }
a.lienHeadlines:hover 	{ color: #dfc597; }

td.bordNewsHautCentre   { background-image: url(/images/haut2.gif);    }
td.bordNewsCentreGauche { background-image: url(/images/gauche2.gif);  }
td.bordNewsCentre       { background-image: url(/images/centre5.gif);  }
td.bordNewsCentreDroit  { background-image: url(/images/droite2.gif);  }
td.bordNewsBasCentre    { background-image: url(/images/bas2.gif);     }

td.bordMenuGauche { background-image: url(/images/stone-bord-gauche.gif);  }
td.bordMenuCentre { background-image: url(/images/stone.gif); }
td.bordMenuDroit  { background-image: url(/images/stone-bord-droit.gif);  }

td.bordMenuDownCentre { background-image: url(/images/stone-down-center.gif);  }

.menuJOG { background-color:black; color:white; font-family: Verdana; font-size: 10px }

.chatBanner { font-size: 11pt; text-align: center; color: white; }

.stick { line-height: 0 }
.nobr { white-space: nowrap }