@charset "UTF-8";
/* CSS  */



body {
	background: #f2f2f2;
	color: #000;
	font-family: Arial, Helvetica, sans-serif, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}
p {
	line-height: 1.3em;
	margin: 0;
	padding: 2px 0;
}
dl {
	clear: both;
	line-height: 2em;
}
dt {
	clear: both;
	float: left;
	width: 6em;
}
dd {
	margin-left: 6em;
}
.dl_bottom {
	border-bottom: 1px solid #FFF;
	margin-bottom: 15px;
}
h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 16px;
	line-height: 1em;
	margin:0;
	padding: 0;
}
a, a:link {
	color: #0000ff;
	text-decoration: none;
}

a:visited{
	color: #9900ff;
	text-decoration: none;
}

a:hover {
	color: #c0c0c0;
	text-decoration: none;
}
.clear_both {
	clear: both;
	font-size: 1px;
	height: 1px;
}
.img_border {
	border: 1px solid #635B8A;
}
#wrapper {
	margin: 0 auto;
	width: 810px;
}
#header {
	background: url(../img/header_bg.gif) no-repeat;
	height: 66px;
	padding-right: 15px;
	text-align: right;
}
#content_wrap {
	background: url(../img/content_bg.gif) repeat-y;
	text-align: left;
}
#footer {
	clear: both;
	color: #FFF;
	background:url(../img/footer_bg.gif) no-repeat;
	height: 32px;
	padding: 8px 14px 0;
	text-align: right;
}
/*　========== TEXT ===========　*/

.text_orange {
	color: #D46E00;
}
/*　========== HEADER ===========　*/
	
#header div {
	margin: 25px 0 0;
}
/*　=====================　*/


#content {
	padding: 15px 10px;
}
#cont_right {
	float: right;
	margin-right: 15px;
	width: 530px;
}
.concept_title h1 {
	background: url(../img/title_02_bg.gif) no-repeat;
	color: #635B8A;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
}
#cont_left {
	float: left;
	width: 225px;
}
#cont_left p {
	background: url(../img/navi_title_bg.gif) no-repeat top center;
	font-weight: bold;
	font-size: 13px;
	line-height: 1em;
	height: 30px;
	margin: 0;
	padding: 12px 0 0;
	text-align:center;
	color: #FFF;
}
#cont_left ul {
	list-style-type: none;
	margin: 0 20px 15px 20px;
	padding: 0 0 5px;
}
#cont_left li {
	background: url(../img/navi_li_bullet.gif) no-repeat 0 5px;
	border-bottom: 1px dotted #CCC;
	margin: 0;
	padding: 5px 0 5px 30px;
}
