.mstheme     { separator-image: url(indhorsa.gif); list-image-1: url(indbul1a.gif); 
               list-image-2: url(indbul2a.gif); list-image-3: 
               url(indbul3a.gif); nav-banner-image: url(indbanna.gif); 
               navbutton-horiz-normal: url(indhbuda.gif); 
               navbutton-horiz-hovered: url(indhbuha.gif); 
               navbutton-horiz-pushed: url(indhbusa.gif); 
               navbutton-vert-normal: url(button.gif); 
               navbutton-vert-hovered: url(buttonbluehighlight.gif); 
               navbutton-vert-pushed: url(indvbusa.gif); 
               navbutton-home-normal: url(indhomda.gif); 
               navbutton-home-hovered: url(indhomha.gif); 
               navbutton-home-pushed: url(indhomsa.gif); 
               navbutton-next-normal: url(indnexda.gif); 
               navbutton-next-hovered: url(indnexha.gif); 
               navbutton-next-pushed: url(indnexsa.gif); 
               navbutton-prev-normal: url(indpreda.gif); 
               navbutton-prev-hovered: url(indpreha.gif); 
               navbutton-prev-pushed: url(indpresa.gif); navbutton-up-normal: 
               url(indupda.gif); navbutton-up-hovered: url(indupha.gif); 
               navbutton-up-pushed: url(indupsa.gif) }
.mstheme-bannertxt { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(153, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-horiz-navtxt { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(255, 255, 255); 
               font-size: 2; font-style: normal; font-weight: bold }
.mstheme-vert-navtxt { font-family: Copperplate Gothic Light; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtnext { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtprev { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtup { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
ul           { list-style-image: url('indbul1a.gif') }
ul ul        { list-style-image: url('indbul2a.gif') }
ul ul ul     { list-style-image: url('indbul3a.gif') }
a:link       { color: rgb(255, 204, 0) }
a:active     { color: rgb(255, 102, 0) }
a:visited    { color: rgb(255, 153, 0) }
body         { background-color: rgb(102, 102, 102); color: rgb(204, 204, 204) }
table        { table-border-color-light: rgb(153, 153, 153); table-border-color-dark: 
               rgb(0, 0, 0) }
h1           { color: rgb(204, 255, 255) }
h2           { color: rgb(255, 255, 153) }
h3           { color: rgb(255, 255, 255) }
h4           { color: rgb(255, 255, 204) }
h5           { color: rgb(255, 255, 102) }
h6           { color: rgb(255, 255, 153) }
button       { background-color: rgb(0, 0, 102); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
.mstheme-text {  }
textarea     { color: rgb(0, 0, 0) }
fieldset     { color: rgb(0, 0, 0) }
legend       { color: rgb(102, 102, 102) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(102, 102, 102) }
th           { color: rgb(0, 0, 0) }
.mstheme-bannertxt a:link { color: rgb(51, 102, 204) }
.mstheme-bannertxt a:active { color: rgb(153, 0, 0) }
.mstheme-bannertxt a:visited { color: rgb(102, 102, 102) }
.mstheme-bannertxt-g { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(153, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-bannertxt-g a:link { color: rgb(51, 102, 204) }
.mstheme-bannertxt-g a:active { color: rgb(153, 0, 0) }
.mstheme-bannertxt-g a:visited { color: rgb(102, 102, 102) }
.mstheme-bannertxt-s { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(153, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-bannertxt-s a:link { color: rgb(51, 102, 204) }
.mstheme-bannertxt-s a:active { color: rgb(153, 0, 0) }
.mstheme-bannertxt-s a:visited { color: rgb(102, 102, 102) }
.mstheme-horiz-navtxt a:link { color: rgb(51, 102, 204) }
.mstheme-horiz-navtxt a:active { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt a:visited { color: rgb(102, 102, 102) }
.mstheme-horiz-navtxt-g { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(255, 255, 255); 
               font-size: 2; font-style: normal; font-weight: bold }
.mstheme-horiz-navtxt-g a:link { color: rgb(51, 102, 204) }
.mstheme-horiz-navtxt-g a:active { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(102, 102, 102) }
.mstheme-horiz-navtxt-gs { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(255, 255, 255); 
               font-size: 2; font-style: normal; font-weight: bold }
.mstheme-horiz-navtxt-gs a:link { color: rgb(51, 102, 204) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxthome a:link { color: rgb(51, 102, 204) }
.mstheme-navtxthome a:active { color: rgb(153, 0, 0) }
.mstheme-navtxthome a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxthome-g { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxthome-g a:link { color: rgb(51, 102, 204) }
.mstheme-navtxthome-g a:active { color: rgb(153, 0, 0) }
.mstheme-navtxthome-g a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxthome-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxthome-gs a:link { color: rgb(51, 102, 204) }
.mstheme-navtxthome-gs a:active { color: rgb(153, 0, 0) }
.mstheme-navtxthome-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtnext a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtnext a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtnext a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtnext-g { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtnext-g a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtnext-g a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtnext-g a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtnext-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtnext-gs a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtnext-gs a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtnext-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtprev a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtprev a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtprev a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtprev-g { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtprev-g a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtprev-g a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtprev-g a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtprev-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtprev-gs a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtprev-gs a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtprev-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtup a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtup a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtup a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtup-g { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtup-g a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtup-g a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtup-g a:visited { color: rgb(102, 102, 102) }
.mstheme-navtxtup-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtup-gs a:link { color: rgb(51, 102, 204) }
.mstheme-navtxtup-gs a:active { color: rgb(153, 0, 0) }
.mstheme-navtxtup-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-topbar-font a:link { color: rgb(51, 102, 204) }
.mstheme-topbar-font a:active { color: rgb(153, 0, 0) }
.mstheme-topbar-font a:visited { color: rgb(102, 102, 102) }
.mstheme-topbar-font-g { font-family: Arial, Helvetica; color: rgb(204,204,204); font-size: 8pt }
.mstheme-topbar-font-g a:link { color: rgb(51, 102, 204) }
.mstheme-topbar-font-g a:active { color: rgb(153, 0, 0) }
.mstheme-topbar-font-g a:visited { color: rgb(102, 102, 102) }
.mstheme-vert-navtxt a:link { color: rgb(51, 102, 204) }
.mstheme-vert-navtxt a:active { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt a:visited { color: rgb(102, 102, 102) }
.mstheme-vert-navtxt-g { font-family: Copperplate Gothic Light; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-vert-navtxt-g a:link { color: rgb(51, 102, 204) }
.mstheme-vert-navtxt-g a:active { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(102, 102, 102) }
.mstheme-vert-navtxt-gs { font-family: Copperplate Gothic Light; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-vert-navtxt-gs a:link { color: rgb(51, 102, 204) }
.mstheme-vert-navtxt-gs a:active { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(102, 102, 102) }
.mstheme-vert-navtxt { font-family: Copperplate Gothic Light; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: url(indglob.gif) }
.mstheme-topbar-font { color: rgb(204,204,204); font-size: 8pt; font-family: Arial, Helvetica }
body         { background-image: url('dkbody.jpg'); font-family: 
               'Trebuchet MS', Arial, Helvetica }
button       { font-size: 8pt; font-style: normal; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-family: 'Trebuchet MS', Arial, Helvetica; font-style: 
               normal }
fieldset     { font-family: Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { vertical-align: none; color: #FFFFCC; font-weight: normal; font-style: normal; 
               font-size: 24pt; font-family: Copperplate Gothic Bold; 
               text-align: none }
h2           { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: normal; font-size: 
               18pt; font-weight: normal }
h3           { font-family: 'Trebuchet MS', Arial, Helvetica; font-size: 14pt; font-weight: 
               normal; font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; font-family: 
               'Trebuchet MS', Arial, Helvetica }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               'Trebuchet MS', Arial, Helvetica }
h6           { font-family: 'Trebuchet MS', Arial, Helvetica; font-size: 8pt; font-style: 
               normal; font-weight: normal }
label        { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-family: Arial, Helvetica; font-style: normal }
legend       { font-style: normal; font-size: 8pt; font-family: 
               'Trebuchet MS', Arial, Helvetica }
marquee      { font-family: 'Trebuchet MS', Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt; 
               border-style: solid; border-width: 1pt }
table        { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: normal }
textarea     { font-style: normal; font-size: 8pt; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
th           { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: normal }
