html, body {
    font-family: ‚l‚r ‚oƒSƒVƒbƒN,Osaka;
    font-size: 10pt;
    background-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #99CC99;
    scrollbar-3dlight-color: #99CC99;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #99CC99;
}


img {
    border: 0px none #FFFFFF;
}



#menu {
    padding-left: 53px;
    height: 20px;
    width: 270px;
}

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 20px;
    width: 270px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}


#m01 a,#m01 a:link,#m01 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m01 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m02 a,#m02 a:link,#m02 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 80px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m02 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m03 a,#m03 a:link,#m03 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 90px;
    background-image: url('../img/menu-back.gif');
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}

#m03 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}


#m04 a,#m04 a:link,#m04 a:visited {
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    height: 17px;
    width: 50px;
    display: block;
}

#m04 a:hover {
    font-size: 10pt;
    color: #669966;
    text-decoration: none;
}



/* HOME */
#h-waku {
    padding-top: 10px;
    height: 805px;
    width: 1150px;
    background-image: url('../img/home/back.gif');
}

#h-main {
    height: 760px;
    width: 1036px;
    background-color: #FFFFFF;
}


.h-lef {
    float: left;
    height: 760px;
    width: 328px;
}


.h-cen {
    float: left;
    width: 385px;
}

.h-cen ul {
    text-align: left;
    margin: 10px 0px 0px;
    padding: 0px 0px 0px 40px;
    list-style-type: none;
    width: 200px;
}

.h-cen li.cm01 {
    font-size: 11pt;
    color: #CC6600;
    padding-top: 2px;
    padding-left: 30px;
    list-style-type: none;
    height: 13px;
    width: 170px;
    background-image: url('../img/home/buret01.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

.cm01 a,.cm01 a:link,.cm01 a:visited {
    font-size: 11pt;
    color: #CC6600;
    text-decoration: none;
}

.cm01 a:hover {
    color: #CC9966;
    text-decoration: underline;
}



.h-cen li.cm02 {
    font-size: 11pt;
    color: #FF69B4;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 30px;
    list-style-type: none;
    height: 13px;
    width: 170px;
    background-image: url('../img/home/buret02.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

.cm02 a,.cm02 a:link,.cm02 a:visited {
    font-size: 11pt;
    color: #FF69B4;
    text-decoration: none;
}

.cm02 a:hover {
    color: #FFCCFF;
    text-decoration: underline;
}


.h-cen li.cm03 {
    font-size: 11pt;
    color: #6495ED;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 30px;
    list-style-type: none;
    height: 13px;
    width: 170px;
    background-image: url('../img/home/buret03.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

.cm03 a,.cm03 a:link,.cm03 a:visited {
    font-size: 11pt;
    color: #6495ED;
    text-decoration: none;
}

.cm03 a:hover {
    color: #99CCFF;
    text-decoration: underline;
}


.h-rig {
    float: right;
    height: 760px;
    width: 323px;
}

.h-rig02 {
    height: 740px;
    width: 323px;
}


.h-rig02 table {
    text-align: left;
    margin-top: 30px;
}


#footer {
    text-align: right;
    padding-top: 5px;
    padding-right: 58px;
    clear: both;
}