body,td,p {
	font-family: verdana;
	font-style: normal;
        font-size: 10px;
        font-color: #031E4F;
	background-color: #FFFFFF;
    text-align: justify;


}


input, textarea, select { font-size: 8pt; font-family: tahoma; background:fixed; color:031E4F; border:1; border-color:#031E4F; border-style:solid
}
A:link {color: 031E4F; font-weight: bold; text-decoration: none} 
A:visited {text-decoration: none; color: 031E4F; font-weight: bold}
A:hover {text-decoration: none; color: #031E4F; font-weight: bold}
