<style>
.mstheme
{
	nav-banner-image: url(artbanna.gif);
	separator-image: url(arthsepa.gif);
	list-image-1: url(artbul1a.gif);
	list-image-2: url(artbul2a.gif);
	list-image-3: url(artbul3a.gif);


	navbutton-horiz-normal: url(artnvhna.gif);
	navbutton-horiz-hovered: url(artnvhha.gif);
	navbutton-horiz-pushed: url(artnvhsa.gif);

	navbutton-vert-normal: url(artnvvna.gif);
	navbutton-vert-pushed: url(artnvvsa.gif);
	navbutton-vert-hovered: url(artnvvha.gif);

	navbutton-home-normal: url(arthomna.gif);
	navbutton-home-hovered: url(arthomha.gif);
	navbutton-home-pushed: url(arthomsa.gif);

	navbutton-next-normal: url(artnexna.gif);
	navbutton-next-hovered: url(artnexha.gif);
	navbutton-next-pushed: url(artnexsa.gif);

	navbutton-prev-normal: url(artprena.gif);
	navbutton-prev-hovered: url(artpreha.gif);
	navbutton-prev-pushed: url(artpresa.gif);

	navbutton-up-normal: url(artupbna.gif);
	navbutton-up-hovered: url(artupbha.gif);
	navbutton-up-pushed: url(artupbsa.gif);

}

.mstheme-bannertxt
{
	font-family: Garamond, Times New Roman, Times;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
</style>.
