. { font-size: 8pt; font-family: Arial }
td { vertical-align: top; font-size: 7pt}
.val { text-align: center; font-size: 8pt }
.lbl { background-color: #888888; font-weight: bold; color: white}
.des { }
.msg { background-color: #DDDDDD; font-style: italic; padding: 0pt }


