@charset "iso-8859-1";


#pageWrapper, #masthead, #content, #leftColumn .leftBlock, #cornerLogo .placeHolder, 
#leftColumn .vnav ul, #leftColumn .vnav ul li
{
	border-color: #336666;
}
#masthead, #leftColumn .leftBlock h3
{
	border-color: #454;
}
#content h3.pageTitle, #contentColumnContainer, #content .hnav, #content .hnav ul li a
{
	border-color: #aba;
}

/* now comes the normal line of things, fonts and colors being set
 */
body
{
	background-color: #fff;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#pageWrapper
{
	background-color: #BEC2EB;
	color: #000;
	font-size: 80%;	/* set your default font size here. */
}
#masthead
{
	background-color: #6477AA;
	color: #fff;
}
#masthead h1, #cornerLogo .placeHolder
{
	color: #676;
}
#masthead h2
{
	color: #EEF3F9;
}
#content
{
	background-color: #f7fff7;
	color: #000;
}
#content h3.pageTitle
{
	color: 000;
}
#content .hnav ul a, #content .hnav ul a:link, #content .hnav ul a:visited, #content .hnav ul a:active
{
	color: #000;
	background-color: #ded;
}
#content .hnav ul a:hover
{
	color: #000;
	background-color: #eff;
}
#leftColumn .leftBlock
{
	background-color: #AFCAE4;
	color: #fff;
}
#leftColumn .leftBlock h3
{
	background-color: #6699CC;
	color: #fff;
}
#leftColumn .vnav ul a, #leftColumn .vnav ul a:link, #leftColumn .vnav ul a:visited, #leftColumn .vnav ul a:active
{
	color: #000;
	background-color: #cdc;
}

#leftColumn .vnav ul li a:hover
{
	color: #000;
	background-color: #f7f7f7;
}
#rightColumn
{
	/*	font-size: 90%;	*/
}
#footer
{
	color: #898;
	font-family: verdana, helvetica, sans-serif;
	font-size: 90%;
	text-align: center;
}

/******************************************************************************/
