
 A:link   {
     color: #0000FF;
     text-decoration: underline;
  }

 A:visited {
     color: #003366;
     text-decoration: underline;
  }

 A:active  {
     color: #FF3333;
     text-decoration: none;
  }

 A:hover   {
     color: #CC0000;
     text-decoration: underline overline;
  }



BODY {
        scrollbar-arrow-color:#666666;
	scrollbar-base-color:#666666;
	scrollbar-shadow-color:#666666;
	scrollbar-track-color:#F3F3F3;
	scrollbar-face-color:#DBDBFF;
	scrollbar-highlight-color:#666666;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
}

abbr, acronym, dfn, .popup {
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    border-style: dashed;
    border-color: green;
    border-width: 0px 0px 2px 0px;
    cursor: help;
  }

  .title {
    font-size   : 16t;
    line-height : 16pt;
  }
  .main {
    font-size   : 12pt;
    line-height : 20pt;
    color: #666666;Å@Å@
  } 
  .main3 {
    font-size   : 11pt;
    line-height : 16pt;
    color: #666666;
  }
  .big {
    font-size   : 18pt;
    line-height : 24pt;
  }
  .main2 {
    font-size   : 13pt;
    line-height : 14pt;
  }
  .mini {
    font-size   : 9pt;
    line-height : 14pt;
    color       : #000000;
  }
  .mini2 {
    font-size   : 9pt;
    line-height : 14pt;
    color       : #666666;
  }
  .mini3 {
    font-size   : 10pt;
    line-height : 13pt;
    color       : #333333;
  }
  .up {
    font-size   : 8pt;
    line-height : 10pt;
    color: #FF0000;
  }
  .midashi {
    font-size   : 14pt;
    line-height : 15pt;
    color       : #0000FF;
  }
  .link {
    font-size   : 10pt;
    line-height : 11pt;
    color       : #666699
  }
  .link2 {
    font-size   : 13pt;
    line-height : 15pt;
    color       : #FFFFFF
  }
