<style type="text/css">

a:link				{color: cyan;}
a:visited			{color: cyan;}
a:hover 			{color: orange;}

H1					{ font-size: 20; background:gold;}
TABLE				{ background:#505050;}

.header				{ font-size: 30pt; }
.subHeader			{ font-size: 15pt; background:gold;}

</style>
