BODY {
	background: #4a77a6;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
	text-align: justify;
}

BODY.smallwindow {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
	text-align: justify;
}

.smalltext {
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 10px;
}

.mediumtext {
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 12px;
}

.largetext {
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
}

.texthead1 {
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 24px;
}

.charactername {
	color : white;
	font-weight : bold;
	font-family :  Arial, sans-serif;
	font-size: 24px;
}

.charactersubtitle {
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 16px;
}

.charactertext {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
}

.characterdescription {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 12px;
}

.characterskill {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 18px;
}

.rostertext {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
}

.rosterskills {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 12px;
}

.rosterhead {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 20px;
}

.rosterguildname {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 24px;
}

.tablehighlight {
	background: #702e58;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 14px;
	text-align: justify;
}

.dingbutton {
	background: #333366;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 12px;
}

.dingbuttonsmall {
	background: #333366;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 10px;
}

.dingbuttonlit {
	background: #666699;
	color : white;
	font-family :  Arial, sans-serif;
	font-size: 12px;
}

.loginbox {
	background: white;
	color : #333366;
	font-family :  Arial, sans-serif;
	font-size: 18px;
}

.smallbox {
	color : #333366;
	font-family :  Arial, sans-serif;
}

.formtextarea {
	background: white;
	color : #333366;
	font-family :  Arial, sans-serif;
	font-size: 14px;
}

H2 {
	font-size: 14pt;
	color: #87CEFA;
}

H3 {
	font-size: 13pt;
	color: #7FFFD4;
}

H4 {
    font-size: small;
	font-variant: small-caps;
	font-weight: bold;
	color : white;
	}

A {
	text-decoration: none;
	color: #87CEFA;
}

A:Hover {
	text-decoration: underline;
	color: white;
}

A.faqlink {
	text-decoration: none;
	color: white;
}

A.faqlink:Hover {
	text-decoration: underline;
	color: #87CEFA;
}

HR {
	color: blue;
	height: 1pt;
}
