A {color:#292F91; text-decoration:none; font-style:none; font-family:arial;}
A:hover {color:#1A65D6;}
A:active {color:#1A65D6;}

font {font-family:arial;}

.head1 {color:#E0E0E0; font-size:12pt; font-weight:bold;}
.head2 {color:#000000; font-size:10pt; font-weight:bold;}

.headlines1 {color:#C0C0C0; font-size:10pt; font-weight:bold;}
.headlines2 {color:#C0C0C0; font-size:'10';}

.text1 {color:#000000; font-size:10pt;}

.sig {color:#000000; font-size:8pt;}

.general {color:#000000; font-size:10pt;}
.meeting {color:#1A65D6; font-size:10pt; font-weight:bold;}
.hunt {color:#131A6F; font-size:10pt; font-weight:bold;}
.epic {color:#088E18; font-size:10pt; font-weight:bold;}
.special {color:#C53421; font-size:10pt; font-weight:bold;}

.lvl51 {color:#3333FF; font-size:10pt; font-weight:bold;}
.lvl55 {color:#990000; font-size:10pt; font-weight:bold;}
.lvl60 {color:#006600; font-size:10pt; font-weight:bold; font-style:italic}
.luxy {color:#FF00FF; font-size:10pt; font-weight:bold;}