body, td { font-family: Verdana, Helvetica, sans-serif; font-size: 10pt; color: #000000; }
body { scrollbar-face-color: #785838; scrollbar-highlight-color: #D7BB84;
scrollbar-shadow-color: #54412C, scrollbar-3dlight-color: #000000;
scrollbar-arrow-color: #FFCC33; scrollbar-track-color: #D7BB84;
scrollbar-darkshadow-color: #54412C; font-size: 10pt; color: #000000;
font-family: Verdana, Helvetica, sans-serif; }

.nsfix { font-family: Verdana, Helvetica, sans-serif; font-size: 10pt; color: #000000; }


td.featurebar { font-size: 8pt; color: #FFFFFF; }
td.menubar { font-size: 8pt; }
td.sscaption { font-size: 8pt; color: #FFFFFF; }

a { color: #732A45; }
a:hover { color: #732A45; }
a:active { color: #732A45; }

a.featurebar { color: #FFC432; }
a.featurebar:hover { color: #FFC432; }
a.featurebar:active { color: #FFC432; }

a.textad { font-size: 7.5pt; color:#ECC213;	text-decoration:underline; }
a.textad:hover { color:#ECC213; text-decoration:underline; }

.subpagehead { font-size: 13pt; color: #FFFFFF; }
.titlebarhead { font-size: 10pt; color: #FFFFFF; }
.featurebarhead { font-size: 9pt; color: #FFC432; }

.newsdayhead { font-size: 10pt; color: #FFFFFF; }
.headline { font-size: 11pt; font-weight: bold; color: #000000; }
.byline { font-size: 7.5pt;	color: #000000; }
.newsitem { font-size: 10pt; }
.newsitem blockquote { color: #493D17; }

blockquote.quote { color: #493D17; }

.menuhead { font-size: 10pt; color:#FFC432; }
.menuhead a { color: #FFC432; text-decoration:none; }
.menuhead a:hover { color: #FFC432; text-decoration:underline; }
.menuhead a:active { color: #FFC432; text-decoration:underline; }
a.menu { color: #FFFFFF; text-decoration:none; }
a.menu:hover { color: #ECC213; text-decoration:underline; }
a.menu:active { color: #ECC213; text-decoration:underline; }

.nav { font-size: 9pt; }
.nav a { color:#FFC432;	text-decoration: none; }
.nav a:hover { color: #FFFFFF; text-decoration:underline; }



.disclaimer { font-size: 7.5pt; color:#FFFFFF; }
.disclaimer a { color:#ECC213; text-decoration: underline; }
.disclaimer a:hover	{ color:#FFFFFF; text-decoration: underline; }


.aTitle1 { font-size: 13pt;	font-weight: bold; }
.aDesc { font-size: 9pt; }
.aBy { font-size: 8pt; }


.networklist { color: #FFFFFF; }
.networklist a { color: #FFFFFF; text-decoration:none; }
.networklist a:hover { color: #ECC213; text-decoration:underline; }
.networklist a:active { color: #ECC213; text-decoration:underline; }

.heading  { font-size: 14pt; font-weight: bold; font-family: Arial; }
.subheading { font-size: 12pt; font-weight: bold; }
.table { color: #000000; }
.tablehead { color: #000000; font-weight: bold;}
.tablekey { color: #9F2150; }
.tablesmall { color: #000000; font-weight: bold; font-size:8pt;}

.form {  color: #FFCC33; background-color: #54412C; arrow-color: #FFCC33; track-color: #D7BB84}

	