a:link{ text-decoration:underline; color:#6666CC; }
a:visited{ text-decoration:underline; color:#996699; }
a:active{ text-decoration:underline; color:#FF6699; }
a:hover{ text-decoration:underline; color:#FF6699; }
body{ font-size:11pt; color:#737373  ; background-color:#ffffff; background-image:url(); margin-left:4%; margin-right:4%; }
tr,td{ font-size:11pt; color:#737373  ; }
hr{ color:#aaaaaa; }
#mid{ font-size:11pt; }
#small{ font-size:10pt; }
#kanri{ color:#ff9999; } /* 管理人コメントの色 */
#log{ width:630; border-style:solid; border-color:#9999CC; }
#log-0{ background-color:#FFCC66; } /* ランキング順位 */
#log-1{ background-color:#FF9933; } /* タイトル */
#log-2{ background-color:#FFCCFF; } /* カテゴリ */
#log-3{ background-color:#FFFFFF; } /* 紹介文 */
#log-4{ background-color:#FFFFFF; } /* 管理人コメント */
#title-bar{ background-color:#A7C2DD; color:#000000; font-size:13pt; } /* タイトルバー */
#mid-bar{ background-color:#DDDDDD; } /* 中段バー */
