.BaseFont {
	FONT-SIZE: 10pt; COLOR: #CCCCCC; FONT-FAMILY: Impact, ‚l‚r ‚oƒSƒVƒbƒN, Verdana, Arial, Helvetica
}
.MTitle {
	FONT-SIZE: 13px; TEXT-ALIGN: left; COLOR: white; FONT-FAMILY: Times New Roman, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 3px solid; BORDER-TOP: #DDDDDD 3px solid; BORDER-LEFT: #DDDDDD 3px solid; BORDER-BOTTOM: #222222 3px solid; BACKGROUND-COLOR: #808080
}
.MList {
	FONT-SIZE: 12px; TEXT-ALIGN: left; COLOR: white; FONT-FAMILY: Impact, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 2px solid; BORDER-TOP: #DDDDDD 2px solid; BORDER-LEFT: #DDDDDD 2px solid; BORDER-BOTTOM: #222222 2px solid; BACKGROUND-COLOR: #000000
}
A {
	COLOR: #99DDDD; TEXT-DECORATION: none
}
A:visited {
	COLOR: #99DDDD; TEXT-DECORATION: none
}
A:hover {
	COLOR: #99FFDD; TEXT-DECORATION: underline
}
