body {  font-family: Tahoma, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; margin-top: 0px; margin-left: 0px; margin-bottom: 0px; background-color: #ffffff; color: #000000}
a:link {  color: #E3EBEF; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; text-decoration: none}
a:visited {  color: #A8C5D4; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; text-decoration: none}
a:active {  color: #669DBA; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; text-decoration: none}
a:hover {  color: #8FD1A5; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; text-decoration: none}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; font-weight: normal}
p {  color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
font.titlebig {  font-family: Verdana, Helvetica, sans-serif; font-size: 28px; font-style: normal; color: #000000;}
font.credits {  font-family: Verdana, Helvetica, sans-serif; font-size: 8px; font-style: normal; color: #000000;}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-size: 10pt; font-weight: normal}
div {  color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
.LeftNavLinks {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: underline}
.darkbackground {  background-color: #006699}
.litebackground {  background-color: #6699CC}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: 663300}
.heading {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #FFFFFF; background-color: #006699}
.subhead1 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #000000; background-color: #6699CC}
.mediumbackground {  background-color: #3366CC}
.subhead2 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #336699}
.cellhead1 { width: 70; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; background-color: #3075B6}
.cellhead2 { width: 30; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; background-color: #3075B6}
.celldark { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; background-color: #4589C9}
a { color: #0066CC; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; text-decoration: underline}
.text {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: 10pt}
