.rollcall {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
.Normal {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; font-weight: normal}
.links {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #33FFFF; text-decoration: none}
.header { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FFFFFF}
.bigheader { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold ; color: #8080c0}
.subheader { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold ; color: #33ffcc}
