body {			font-family: verdana;
				font-size: 12px;
}
td {			font-family: verdana;
				font-size: 12px;
				vertical-align: top;
				border-top: 1px solid #EEEEEE;
}
td.big {		font-family: verdana;
				font-size: 16px;
				border: none;
}
td.formCell {	border:none;
}
.popup {		border: 2px solid black;
				background-color: #F9F9C5;
				width: 350px;
				padding: 3px;
				position: absolute;
				display: none;
}