<style>
.mstheme
{
	nav-banner-image: url(atvbnr.gif);
	separator-image: url(atvrule.gif);
	list-image-1: url(atvbull1.gif);
	list-image-2: url(atvbull2.gif);
	list-image-3: url(atvbull3.gif);


	navbutton-horiz-normal: url(tvhbs.gif);
	navbutton-horiz-hovered: url(tvhbh.gif);
	navbutton-horiz-pushed: url(tvhbp.gif);

	navbutton-vert-normal: url(tvvbs.gif);
	navbutton-vert-pushed: url(tvvbp.gif);
	navbutton-vert-hovered: url(tvvbh.gif);

	navbutton-home-normal: url(tvhomes.gif);
	navbutton-home-hovered: url(tvhomeh.gif);
	navbutton-home-pushed: url(tvhomep.gif);

	navbutton-next-normal: url(tvnexts.gif);
	navbutton-next-hovered: url(tvnexth.gif);
	navbutton-next-pushed: url(tvnextp.gif);

	navbutton-prev-normal: url(tvprevs.gif);
	navbutton-prev-hovered: url(tvprevh.gif);
	navbutton-prev-pushed: url(tvprevp.gif);

	navbutton-up-normal: url(tvups.gif);
	navbutton-up-hovered: url(tvuph.gif);
	navbutton-up-pushed: url(tvupp.gif);

}

.mstheme-bannertxt
{
	font-family: brush script mt italic, arial, helvetica;
	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(255,204,0);
	text-align: center;
	vertical-align: middle;
}
</style>.
