
	body
	{
		scrollbar-3d-light-color: White;
		scrollbar-arrow-color: White;
		scrollbar-base-color: Black;
		scrollbar-dark-shadow-color: Black;
		scrollbar-face-color: Black;
		scrollbar-highlight-color: #FAEBD7;
		scrollbar-shadow-color: White;
		CURSOR: url(http://www.theholystorm.org/khs.cur);
	}
