/* Base class, the rest inherit from this */
TABLE, TR, TD     { font: 10px Verdana; color:#2F2945}
BODY      { font: 10px Verdana; color:#000000; background-color: #F8F8FB }
a:link, a:visited, a:active  { text-decoration:underline; color:#000033 }
a:hover                      { color:#0000FF }
/* Category Headers - Navigation - Misc Stuff */
#category         { font-size:11px; font-weight : bold; color : #FCFAE3; height: 24px }
#category a:link, #category a:visited,#category a:active  { text-decoration: none; color : #FCFAE3; }
#category a:hover { text-decoration: underline }
#nav              { font-size:10px; font-weight : bold;  }
#nav a:link, #nav a:visited,#nav a:active  { text-decoration: underline; color : #000000 }
#redirect         { font-size:11px; font-weight:bold;  }
#highlight        { font-size : 10px; color : #3D3D75 }
#highlight a:link, #highlight a:visited, #highlight a:active { text-decoration: underline; color:#3D3D75 }
#highlight a:hover{ text-decoration: underline }
/* Viewing Topics Stuff */
#signature         { font-size:10px; color:#6F9AC6 }
#postdetails       { font-size:10px; color:#000000 }
#postcolor         { font-size:11px; color:#000000; line-height : 150%; }
#membertitle       { font-size:10px; font-style: italic; line-height:150%; color:#000033 }
#normalname        { font-size:11px; font-weight : bold; color:#000033; padding-bottom:2px }
#unreg             { font-size:11px; font-weight:bold;  color:#990000 }
.buttontext { font-size:10px; color:#000000; text-decoration:none;}
/* Titles n' stuff */
#titlelarge          { font-size:10px; font-weight:bold; line-height:150%; color : #FCFAE3 }
#titlelarge a:link, #titlelarge a:visited, #titlelarge a:active { color:#FCFAE3 }
#titlemedium         { font-size:10px; font-weight:bold; line-height:150%; color:#000000; height: 28px; background-image: url(images/topcell.gif); padding-left: 10px; }
#titlemedium  a:link, #titlemedium  a:visited, #titlemedium  a:active { text-decoration: none; color : #000000 }
#titlemedium a:hover { text-decoration: underline }
/* Menu - Control Panel Stuff */
#controlpanel    { font-size:10px; font-weight:bold; line-height:150% }
#usermenu        { font-size : 12px; line-height:150%; color : #000000}
#tabs            { border:1px solid #333366; vertical-align:middle; font-size: 11px; }
/* Forum Links - Topic Links */
#linkthru         { font-size:10px; color : #000033 }
#linkthru  a:link, #linkthru  a:visited, #linkthru  a:active   { text-decoration: underline; color : #000033 }
#linkthru a:hover { text-decoration: underline; color : #000033 }
#desc             { font-size:10px; color : #555555 }
#copyright        { font-family: Arial; font-size : 9px; text-decoration: none; line-height : 12px; color: #000000; letter-spacing: 1px}
#QUOTE { font-family:Verdana, Arial; font-size:10px; color: #333333; background-color: #FFFFFF; border : 1px solid Black;padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; }
#CODE { font-family:Verdana, Arial; font-size:10px; color: #333333; background-color: #FFFFFF;  border : 1px solid Black; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; }
#ME     { font-family:Verdana, Arial; font-size:12px; color: #CC0000; text-align:center; font-weight: bold; }
.bottom { vertical-align: bottom }
.forminput    { font-size: 8pt; background-color: #CCCCCC; font-family: verdana, helvetica, sans-serif; vertical-align:middle }
.textinput    { font-size: 10pt; font-family: verdana, helvetica, sans-serif;vertical-align:middle }
#small { font-family: arial; font-size:9px }
#date  { font-size:10px; color : #AAAACC }