body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
	background-color: #FFFFFF;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #003366;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #FFFFFF;
}
INPUT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;}
SELECT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;}
TEXTAREA {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;}
TD {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt}
a:link { color: #003366; text-decoration: underline;}
a:visited { color: #003366; text-decoration: underline;}
a:active { color: #003366; text-decoration: underline;}
a:hover { color: #003366; text-decoration: none; }
p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;; text-align: justify}
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #003366}
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal}
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal}
h4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline}
h5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003366}
h6 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}
hr {  height: 1px;}
.titre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #003366}
.copyright { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; text-align: center}
