/* Global stuff */

/* BLACK body { background-color:#000000; layer-background-color:#000000 } */
body { color:#000000; background-color:#f8f8f8; /* layer-background-color:#f8f8f8 */ }

p,td { color:#000000 }
/* BLACK a:link { color:#c0c0ff } */
a:link { color:#4040ff }
/* BLACK a:visited { color:#8080ff; } */
a:visited { color:#4040ff }
/* BLACK a:active { color:#ff0000; font-style:italic } */
a:active { color:#ffffff }

/* Highlighted text */

/* BLACK div.high { color:#ffff80 } */
div.high { font-weight:bold }
/* BLACK span.high { color:#ffff80 } */
span.high { font-weight:bold }
/* BLACK p.high { color:#ffff80 } */
p.high { font-weight:bold }

/* "Lowlighted" text */

div.low { font-size:80% }
span.low { font-size:80% }
p.low { font-size:80% }

/* Typical "quite large" heading */

/* BLACK p.head1 { text-align:center; color:#ffff80; font-size:175%; font-family:serif } */
p.head1 { text-align:center; color:#000000; font-size:175%; font-family:sans-serif }

/* Typical "larger" heading */

/* BLACK p.head2 { text-align:center; color:#ffff80; font-size:150%; font-family:serif } */
p.head2 { text-align:center; color:#000000; font-size:150%; font-family:sans-serif }

/* Footnote with email address etc. */

/* BLACK p.foot { text-align:center; font-size:85%; font-family:serif } */
p.foot { text-align:center; font-size:85%; font-family:serif }

/* News page + events page */

/* BLACK tr.news { color:#404020 } */
tr.news { background-color:#404080 }
td.news-date { color:#ffffff }
td.news-space { }
/* BLACK td.news-title { color:#ffff80 } */
td.news-title { color:#ffff80  }

/* Menu frame */

/* BLACK body.menu { background-color:#000000; layer-background-color:#000000 } */
body.menu { background-color:#6666ff; /* layer-background-color:#6666ff */ }

/* BLACK a.menu { color:#c0c0ff } */
a.menu { color:#ffffff }
span.menu { color:#ffffff }

/* Roster */

span.roster-inactive { color:gray }
span.roster-chart-name { color:yellow }
td.roster-chart-inactive { background-color:gray; color:#ffffff }
table.roster { background-color:#e0e0e0; }
table.roster-levels { background-color:#e0e0e0; margin:1cm}

/* Images */

/* BLACK span.img-title { color:yellow } */
span.img-title { font-weight:bold }

/* 
--------------------------------------------------------------------------------
color: 

Internet Explorer 3.0:
- This property does not apply to form fields
		      
4.0+:
- This porperty now applies to form fields, and the OPTION element
as well (only 'color' and 'background-color' apply to individual
OPTION elements in IE4+)
		      
Netscape 4.x:
- This property does not apply to form fields, HR, DT/DD, or
TABLE elements.
- Applying this property to LI elements only applies the effect to 
the list marker, not the item content.
        
Opera 3.5:
- This property does not apply to form fields or HR elements

--------------------------------------------------------------------------------

Internet Explorer
3.0:
- Keyword values of "smaller"/"larger" both treated as "small"

- Negative values for length measurements are converted to
positive values, not ignored as they should be.

- Percentages are based on the default font-size for an element,
not the font-size of the parent.

4.0+:
- Default font-size is now "small", not "medium".
		      
Netscape
4.0:
- Default font-size is "small", not "medium" as expected.

- Using the keyword "smaller" from the default font size ("small")
sets the size to "xx-small", not "x-small" as expected.

- Using the keyword "larger" from the default font size ("small")
sets the size to an almost-"large" size, but not exactly the same.

- Percentages under 100% quickly make the text content unreadable
(as well as changing the color of the text.)

- 100% is not the same as the default font size.

- Percentages are based on the default font-size, not the
font-size of the parent.
           
- If you use the 'font' property, you MUST specify
                BOTH the 'font-size' and 'font-family' sub-components
                of this property or else the style declaration will be ignored - 
                even if you have also set the 'font-size' and 'font-family' 
                properties individually for the same selector! Specifying both 
                of these sub-properties for 'font' is actually required under 
                the specifications, but Netscape is the only browser that 
                requires it. IE and Opera are fine if you only use one of these.
		     
Opera
3.5:
- Using the keyword "smaller" from the default font size ("medium")
sets the size to "x-small", not "small" as expected.
        

*/

