body, td {
	color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
hr {
	color: #121E2F;
}
ul {
	list-style: url(images/en/bulletArrow.gif);
}
li {
	padding-bottom: 12px;
}
li strong {
	color: white;
}
.box {
	border: 1px solid #243F64;
	background-color: black;
	padding: 20px;
}
.ltblue {
	color: #88AEC0;
}

td.gn2_text { 
	border:0px; 
	color:white;
	font-family: Verdana,Arial,Helvetica; 
	font-weight: bold; 
	font-size:12px; 
	margin:0px; 
	padding-left:3px;  
}
.gn2_dropMenu { 
	border: 0px solid #9A999E; 
	filter: alpha(opacity=100,finishopacity=85,style=1,startX=20,endX=100,startY=20,endY=100);
	left: 500px; 
	margin: 0px;
	padding: 0px;  
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 202px; 
	z-index:100;
}		
a.gn2_dropItem {
	background-color:#30303C;
	color: #FFFFFF;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}
a.gn2_dropItem:hover { 
	background-color: #ffffff;
	color: #000000;  
	filter: blur(add=1,strength=0);
}
a.gn2_separator {
	background-color:#30303C;
	color: #FFFFFF;
	cursor: default;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}
a.gn2_hover { }
.gn2_flyout { 
	left: 100px; 
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 150px; 
	z-index:101;
}