body, ul, ol, blockquote { font-family: Arial, Helvetica, Verdana }
p           { font-family: Arial, Helvetica, Verdana }
td          { font-family: Arial, Helvetica, Verdana; vertical-align: top }
th          { font-family: Arial, Helvetica, Verdana; color: #FFFFFF; vertical-align: top }
h1          { font-family: Arial, Helvetica, Verdana; font-weight: bold }
h2          { font-family: Arial, Helvetica, Verdana; font-weight: bold }
h3          { font-family: Arial, Helvetica, Verdana; font-weight: bold }
h4          { font-family: Arial, Helvetica, Verdana; font-weight: bold }
b, strong   { font-family: Arial, Helvetica, Verdana; font-weight: bold }
i, em       { font-family: Arial, Helvetica, Verdana; font-weight: italics }
A:link      { color: #0000CC }
A:visited   { color: #990000 }
A:active    { color: #0000CC }
A:hover     { color: #0000CC }
