<style>
a:link
{
	color: rgb(153,153,0); 
}
a:visited
{
	color: rgb(204,153,102); 
} 
a:active 
{
	color: rgb(153,0,102);
}
body
{
	background-color: rgb(255,255,204);
	color: rgb(51,51.0);
}
table
{
	table-border-color-light: rgb(153,153,51);
	table-border-color-dark: rgb(153,102,0); 
}
h1
{
	color: rgb(204,153,51);
}
h2
{
	color: rgb(102,102,102); 
}
h3
{
	color: rgb(102,51,0); 
}
h4
{
	color: rgb(204,153,51);
}
h5
{
	color: rgb(102,102,0);
}
h6
{
	color: rgb(102,51,0);
}
</style>.
