body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.header {
	background-image: url(/templates/images/1/bg.gif);
}


.divide {
	height: 1px;
	background-image: url(/templates/images/1/leftnav_divider.gif);
}

.cathead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: #999999;
	color: #FFFFFF;
}


.line1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 16px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}
.line1:visited {
	color: #990000;
}
.line1:active {
	color: #990000;
}
.line1:link {
	color: #990000;
}
.line1:hover {
	color: #FF9900;
}


.line2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        line-height: 16px;
        font-weight: normal;
}


.vislink {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        line-height: 16px;
        font-weight: normal;
        color: #990000;
        text-decoration: underline;
}
.vislink:visited {
        color: #990000;
}
.vislink:active {
        color: #990000;
}
.vislink:link {
        color: #990000;
}
.vislink:hover {
        color: #FF9900;
}


.flink {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: normal;
        color: #990000;
        text-decoration: underline;
}
.flink:visited {
        color: #990000;
}
.flink:active {
        color: #990000;
}
.flink:link {
        color: #990000;
}
.flink:hover {
        color: #FF9900;
}


.navlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}
.navlink:visited {
        color: #333333;
}
.navlink:active {
        color: #333333;
}
.navlink:link {
        color: #333333;
}
.navlink:hover {
        color: #FF9900;
}
