body		{
			background-color: #FFEAB3;
			scrollbar-face-color: #FFAE00;
			scrollbar-highlight-color: #B57D00;
			scrollbar-shadow-color: #B57D00;
			scrollbar-3dlight-color: #FFAE00;
			scrollbar-arrow-color: #B57D00;
			scrollbar-track-color: #B57D00;
			scrollbar-darkshadow-color: #B57D00;
			scrollbar-width: 30;
			font-family: MS UI Gothic;
			font-size: 10pt
		}
			
table		{ font-family: MS UI Gothic; font-size: 10pt }
				
a:visited 		{ text-decoration: none; color: #B57D00 }

a:link 		{ text-decoration: none; color: #B57D00 }

a:hover		{ text-decoration: underline; color: #FFAE00 }

a:active		{ text-decoration: none; color: #FFAE00 }

font.c2		{ font-family: Verdana; font-size: 8pt }

font.c3		{ font-family: Verdana; font-size: 10pt }

TEXTAREA	{
			background-color: #FFEAB3;
			BORDER-RIGHT: #B57D00 1px solid;
			BORDER-LEFT: #B57D00 1px solid; 
			BORDER-BOTTOM: #B57D00 1px solid;
			BORDER-TOP: #B57D00 1px solid; 
			FONT-SIZE: 12px; 
			COLOR: #000000; 
		}
			
INPUT 		{
			background-color: #FFEAB3;
			BORDER-RIGHT: #B57D00 1px solid; 
			BORDER-LEFT: #B57D00 1px solid; 
			BORDER-TOP: #B57D00 1px solid; 
			BORDER-BOTTOM: #B57D00 1px solid;
			FONT-SIZE: 12px; 
			COLOR: #000000; 
		}
