/*NTFORUMS*/
.NTForums_Grid
{
	border-right: #dcdcdc 1px solid;
	border-top: #dcdcdc 1px solid;
	font-size: 12px;
	border-left: #dcdcdc 1px solid;
	width: 100%;
	border-bottom: #dcdcdc 1px solid;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_Cell1
{
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
	background-color: #d3d3d3;
}
.NTForums_Cell2
{
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
	background-color: #dcdcdc;
}
.NTForums_Cell2 INPUT
{
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_GroupRow
{
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	font-family: Tahoma, Verdana, Arial;
	background-color: #336699;
}
.NTForums_GroupRow A
{
	font-size: 13px;
	color: #ffffff;
}
.NTForums_GroupRow A:link
{
	font-size: 13px;
	color: #ffffff;
}
.NTForums_GroupRow A:visited
{
	font-size: 13px;
	color: #ffffff;
}
.NTForums_GroupRow A:hover
{
	text-decoration:underline;
}
.NTForums_ForumRow2
{
	font-size: 12px;
	color: black;
	font-family: Tahoma, Verdana, Arial;
	background-color: #e6e6fa;
}

.NTForums_ForumRow2 A:link
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow2 A:visited
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow2 A:active
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow2 A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow
{
	font-size: 12px;
	color: black;
	font-family: Tahoma, Verdana, Arial;
	background-color: #f5f5f5;
}
.NTForums_ForumRow A:link
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow A:visited
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow A:active
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRow A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRowNew
{
	font-size: 12px;
	color: black;
	font-family: Tahoma, Verdana, Arial;
	background-color: #ffff99;
}
.NTForums_ForumRowNew A:link
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRowNew A:visited
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRowNew A:active
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumRowNew A:hover
{
	font-weight: bold;
	font-size: 12px;
	color: #000080;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_ForumHeader
{
	font-weight: bold;
	font-size: 11px;
	color: #696969;
	font-family: Tahoma, Verdana, Arial;
	background-color: #e6e6fa;
}
.NTForums_ForumSubRow
{
	padding-right: 2px;
	padding-left: 2px;
	font-size: 10px;
	margin-left: 2px;
	color: black;
	margin-right: 2px;
	border-bottom: #000000 1px solid;
	font-family: Tahoma, Verdana, Arial;
	background-color: #f5f5f5;
}
.NTForums_ForumSubRow2
{
	padding-right: 2px;
	padding-left: 2px;
	font-size: 10px;
	margin-left: 2px;
	color: black;
	margin-right: 2px;
	font-family: Tahoma, Verdana, Arial;
	background-color: #f5f5f5;
}
.NTForums_Crumb
{
	font-size: 12px;
	color: black;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_Subject
{
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 5px;
	margin-left: 10px;
	color: black;
	padding-top: 5px;
	font-family: Tahoma, Verdana, Arial;
}
.NTForums_Pager
{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial;
	text-align: right;
}
.NTForums_Pager A
{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial;
	text-align: right;
}
.NTForums_Button
{
	cursor:hand;
	border-right: #000000 1px solid;
	padding-right: 2px;
	border-top: #000000 1px solid;
	display: block;
	padding-left: 2px;
	font-weight: bold;
	font-size: 9pt;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#7DA1C4, EndColorStr=#336699);
	padding-bottom: 5px;
	border-left: #000000 1px solid;
	width: 100px;
	color: #ffffff;
	padding-top: 5px;
	border-bottom: #000000 1px solid;
	font-family: Tahoma, Verdana, Arial;
	background-color: #336699;
	text-align: center;
	text-decoration: none;
}
.NTForums_Button A
{
	color: White;
	text-decoration:none;
}
.NTForums_Button A:link
{
	color: White;
}
.NTForums_Button A:visited
{
	color: White;
}
.NTForums_Button A:hover
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#336699, EndColorStr=#7DA1C4);
	text-decoration: underline;
}
.NTForums_Image
{
	border-right: gray 1px solid;
	padding-right: 5px;
	border-top: gray 1px solid;
	padding-left: 5px;
	padding-bottom: 5px;
	margin: 5px;
	border-left: gray 1px solid;
	padding-top: 5px;
	border-bottom: gray 1px solid;
	position: static;
	background-color: #f5f5f5;
}
.NTForums_Quote
{
	border-right: #a9a9a9 1px solid;
	padding-right: 5px;
	border-top: #a9a9a9 1px solid;
	display: block;
	padding-left: 5px;
	font-size: 8pt;
	padding-bottom: 5px;
	margin: 10px;
	border-left: #a9a9a9 1px solid;
	padding-top: 5px;
	border-bottom: #a9a9a9 1px solid;
	background-color: #f5f5f5;
}
.NTForums_Editor
{
	font-size:10pt;
	color:#000000;
	padding-left:5px;
}
.NTForums_SmallButton
{
	font-size: 8pt;

}
.emot
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-style: none;
	padding-top: 0px;
	border-right-style: none;
	border-left-style: none;
	background-color: transparent;
	border-bottom-style: none;
}