@charset "UTF-8";
/* CSS Document */
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	background-image: url(images/main-bg.gif);
	background-repeat: repeat-x;
}

* html body {
}

img {
	border: 0px;
}

h1 {
	color: #a60000;
	font-size: medium;
	font-weight: bold;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #a60000;
	padding-left: 5px;
}

a:link { 
	color: #000;
	text-decoration: none;
}
	
a:visited { 
	color: #000;
	text-decoration: none;}
	
a:hover { 
	color: #000;
	text-decoration: none;
}

#footer a:link { 
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
	
#footer a:visited { 
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;	
}
	
#footer a:hover { 
	color: #FFF;
	font-size: 11px;
	text-decoration: none;	
}

#banner {
	clear: both;
	height: 306px;
	width: 776px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #A50000;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #A50000;
}

#container {
	margin: 0px auto;
	text-align: left;
	width: 776px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #A50000;
	border-left-color: #A50000;
}

#content {
	clear: both;
	width: 776px;
	background-image: url(images/content-bg.gif);
	background-repeat: repeat;
}

#footer {
	background: url(images/footer-bg.gif) no-repeat;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 108px;
	padding-top: 20px;
	text-align: center;
	width: 776px;
}

#headlines {
	background: #1F1F1F;
	height: 189px;
	width: 254px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#left {
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 80px;
	width: 462px;
	background-color: #FFF;
	background-image: url(images/content-top-bg.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

#left p {
	font-size: small;
	font-weight: normal;
	line-height: 2em;
}

#nav {
	clear: both;
	display: block;
	height: 43px;
	width: 776px;
	background-image: url(images/nav-bg.gif);
	background-repeat: repeat-x;
}

#nav ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #7E0000;
	text-decoration: none;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #A50000;
	padding-left: 5px;
}

#nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align:center;
}

.nlink, .nlinkend {
	float:left;
	width:auto;
	list-style: none;
	display:inline;
	text-align:center;
	padding-top: 15px;
	padding-left: 17px;
	padding-right: 17px;
	height:28px;
}
.nlink{
	background-image: url(images/nav-line.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.nlinkend {
	background-image: none;
}
#right {
	float: left;
	width: 274px;
}

#right p {
	margin-top: 0px;
}

* html #right p {
	margin-top: -5px;
}
	
#stats {
	background: #494949;
	padding: 10px;
	width: 254px;
}

#stats img {
	margin-left: 30px;
	margin-top: 20px;
}

* html #stats {
	height: 170px;
}

.date {
	color: #827961;
	font-weight: bold;
}

.flt-lft {
	float: left;
	margin-right: 20px;
}

.flt-rgt {
	float: right;
}

.heading1 {
	background: url(images/heading-bg-1.gif) no-repeat;
	color: #909090;
	display: block;
	font-family: arial, tahoma;
	font-size: 12px;
	font-weight: bold;
	height: 21px;
	margin-bottom: 12px;
	padding-left: 40px;
	padding-top: 4px;
	width: 181px;
}

* html .heading1 {
	margin-bottom: 5px;
}

.heading1 a {
	text-decoration: none;
}

.heading1 a:hover {
	color: #909090;
	text-decoration: none;
}

.heading2 {
	background: url(images/heading-bg-2.gif) no-repeat;
	color: #909090;
	display: block;
	font-family: arial, tahoma;
	font-size: 14px;
	font-weight: bold;
	height: 21px;
	margin-bottom: 5px;
	padding-left: 38px;
	padding-top: 4px;
	width: 161px;
}
