BODY {
	FONT-SIZE: 12pt; BACKGROUND: #000000; COLOR: #FFFFFF; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, Verdana, Arial, Helvetica
}
.BaseFont {
	FONT-SIZE: 12pt; COLOR: #CCCCCC; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, Verdana, Arial, Helvetica
}
A {
	COLOR: #99DDDD; TEXT-DECORATION: none
}
A:visited {
	COLOR: #99DDDD; TEXT-DECORATION: none
}
A:hover {
	COLOR: #99FFDD; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 12pt; COLOR: #99DDDD; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, Verdana, Arial, Helvetica
}
.listH {
	BACKGROUND: #444444
}

.listI {
	BACKGROUND: #333333
}

.QuestFrame {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #DDDDDD 2px solid; BORDER-TOP: #222222 2px solid; BORDER-LEFT: #222222 2px solid; BORDER-BOTTOM: #DDDDDD 2px solid; BACKGROUND-COLOR: #666666
}
.QuestTitle {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 2px outset; BORDER-TOP: #DDDDDD 2px outset; BORDER-LEFT: #DDDDDD 2px outset; BORDER-BOTTOM: #222222 2px outset; BACKGROUND-COLOR: #333333
}
.QuestHeader {
	FONT-SIZE: 14px; HEIGHT: 20px; TEXT-ALIGN: center; COLOR: white; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 1px outset; BORDER-TOP: #DDDDDD 1px outset; BORDER-LEFT: #DDDDDD 1px outset; BORDER-BOTTOM: #222222 1px outset; BACKGROUND-COLOR: #777777
}
.QuestInfo1 {
	FONT-SIZE: 14px; COLOR: #111111; TEXT-ALIGN: center; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BACKGROUND-COLOR: #AAAAAA
}
.QuestInfo2 {
	FONT-SIZE: 14px; COLOR: #111111; FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BACKGROUND-COLOR: #AAAAAA
}
