BODY {

scrollbar-arrow-color : white;
scrollbar-base-color : #8C0000;
scrollbar-dark-shadow-color : #cccccc;
scrollbar-face-color : #333333;
scrollbar-highlight-color : #000000;
scrollbar-shadow-color : gray;
scrollbar-3d-light-color : gray;

}


H1 {text-align:left; font: bold 16px "Verdana", "Arial"; color: #FFFFFF}

H2 {text-align:left; font: bold 13px "Verdana", "Arial"; color: #FFFFFF} 

P  {text-align:left;
    text-indent:0pt;
    font: 13px "Arial", "verdana"; color: #FFFFFF}
P.left {text-align:left; text-indent:0pt; font: 13pt "arial", "verdana"; color: #FFFFFF}

A:link {color:#C60000;
        text-decoration:none}
A:visited {color:#999999;text-decoration:none}
A:hover {color:#FD0000; text-decoration: underline}
A:active {color:C60000; text-decoration: underline}

BLOCKQUOTE {text-align:left;
    text-indent:0pt;
    font: 10pt "Verdana", "Arial"}

body {  background-color: #000000}
h3 {  font: bold 13px "Verdana", "Arial"; text-align:center;}
ol {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; word-spacing: normal; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; list-style-position: outside; list-style-type: lower-roman; position: relative; left: auto; clip:   rect(   ); height: auto}
.psmall { text-align:left; text-indent:0pt; font: 10px "Arial", "verdana"; color: #FFFFFF }
.update {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999}
.sidebar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF}
.qote { text-align:left; font: italic normal 11px "Verdana", "Arial"; color: #FFFFFF }
ul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; text-indent: 10pt; word-spacing: normal; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; list-style-position: outside; list-style-type: disc; position: relative; left: auto; clip: rect( ) }
