h1 {  font-size: xx-large; font-style: italic; font-weight: bold; position: absolute; filter: Shadow(Color=#A58181, Direction=135); border-color: black black #996633 #CBA072; text-align: left; overflow: hidden; clip:      rect(   ); white-space: normal; text-transform: none; font-family: "Times New Roman", "Times", "serif"; letter-spacing: 0.2ex; text-indent: 0.1em; padding-bottom: 0px; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: thin; border-left-width: 1em}
BODY {
	BACKGROUND-IMAGE: url(../background2.gif); COLOR: #ffff99; BACKGROUND-COLOR: #574544
}
A {
	COLOR: #FFFFEE; TEXT-DECORATION: none
}
H3 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #c4c4ff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #9999ff 1em solid; BORDER-BOTTOM: #9999ff thin solid; BACKGROUND-COLOR: #e4e4e4
}
A:visited {
	COLOR: #FFFFDD
}
A:hover {
	COLOR: #ff3333; TEXT-DECORATION: underline
}
H4 {
	BORDER-RIGHT: #9999ff 1px solid; BORDER-TOP: #9999ff 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #9999ff 1em solid; WIDTH: 20em; BORDER-BOTTOM: #9999ff 1px solid; BACKGROUND-COLOR: #e4e4e4
}
.grad1 {  color: #FFFF33}
.grad2 {  color: #EAEA00}
.grad3 {  color: #CACA00}
.grad4 {  color: #B7B700}
.grad5 {  color: #939300}
.grad6 {  color: #737300}
.bgc1_1 {  background-color: #333333}
.bgc1_2 {  background-color: #413434}
.bgc1_3 {  background-color: #574544}
.bgc2_1 {  background-color: #996633}
.bgc2_2 {  background-color: #B57E42}
.bgc2_3 {  background-color: #CBA072}
