<style>
.mstheme
{
	nav-banner-image: url(astrbane.gif);
	separator-image: url(strrulee.gif);
	list-image-1: url(astrbul1e.gif);
	list-image-2: url(strbul2e.gif);
	list-image-3: url(strbul3e.gif);


	navbutton-horiz-normal: url(strhorzbtnne.gif);
	navbutton-horiz-hovered: url(strhorzbtnhe.gif);
	navbutton-horiz-pushed: url(strhorzbtnse.gif);

	navbutton-vert-normal: url(strvertbtnne.gif);
	navbutton-vert-pushed: url(strvertbtnse.gif);
	navbutton-vert-hovered: url(strvertbtnhe.gif);

	navbutton-home-normal: url(strhomebtnne.gif);
	navbutton-home-hovered: url(strhomebtnhe.gif);
	navbutton-home-pushed: url(strhomebtnse.gif);

	navbutton-next-normal: url(strnextbtnne.gif);
	navbutton-next-hovered: url(strnextbtnhe.gif);
	navbutton-next-pushed: url(strnextbtnse.gif);

	navbutton-prev-normal: url(strprevbtnne.gif);
	navbutton-prev-hovered: url(strprevbtnhe.gif);
	navbutton-prev-pushed: url(strprevbtnse.gif);

	navbutton-up-normal: url(strupbtnne.gif);
	navbutton-up-hovered: url(strupbtnhe.gif);
	navbutton-up-pushed: url(strupbtnse.gif);

}

.mstheme-bannertxt
{
	font-family: Haettenschweiler, Arial, Helvetica;
	color: rgb(0,51,102);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(0,51,102);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(0,51,102);
	text-align: right;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(0,51,102);
	text-align: right;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(0,51,102);
	text-align: left;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(0,51,102);
	text-align: right;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(0,51,102);
	text-align: left;
	vertical-align: middle;
}
</style>.
