<style>
.mstheme
{
	separator-image: url(kdrule.gif);
	list-image-1: url(kdbull1.gif);
	list-image-2: url(kdbull2.gif);
	list-image-3: url(kdbull3.gif);

	nav-banner-image: url(kddbnr.gif);

	navbutton-horiz-normal: url(kddhnd.gif);
	navbutton-horiz-pushed: url(kddhns.gif);

	navbutton-vert-normal: url(kddvnd.gif);
	navbutton-vert-pushed: url(kddvns.gif);

	navbutton-home-normal: url(kddhom.gif);

	navbutton-next-normal: url(kddnex.gif);

	navbutton-prev-normal: url(kddpre.gif);

	navbutton-up-normal: url(kddup.gif);

}

.mstheme-bannertxt
{
	font-family: Century Schoolbook, Times New Roman, Times;
	color: rgb(102,0,102);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}
</style>.
