form {margin:0px;padding:0px}
select.how {font:9pt arial}
option.how {color:#000099}
input,textarea,input.home {font:9pt courier,monospaced}
p,td,.text,ul,li,option,select {font:10pt arial;color:#000000}
b,strong {font-weight:bold}
i,em {font-style:italic}
div.box {margin:10px}
div.box2 {margin:0px 10px 10px 10px}

.small,select,option {font:8pt arial;color:#000000}

.title {font:bold 14pt arial;color:#CC0000}
.blue {font:bold 10pt arial;color:#000099}

.red {font:bold 10pt arial;color:#CC0000}
.redbold {font:bold 10pt arial;color:#CC0000}
.smallredbold {font:bold 8pt arial;color:#CC0000}
.redboldbig {font:bold 14pt arial;color:#CC0000}

.white {font:8pt arial;color:#FFFFFF}
.whitebold {font:bold 10pt arial;color:#FFFFFF}
.boxboldwhite {font:bold 8pt arial;color:#FFFFFF}

.boxbigblue {font:bold 12pt arial;color:#000099}
.lightbluebold {font:bold 10pt arial;color:#99CCFF}
.vhname {font:bold 16pt arial;color:#FFFFFF;text-transform:uppercase}
.vhprice {font:bold 16pt arial;color:#FFCC66}
.vhheader {font:bold 12ptverdana,sans-serif;color:#3366CC}
.popupblue {font:bold 12pt arial;color:#99CCFF}
.black {font:bold 8pt arial;color:#000000}

a:link {color:#0033ff}
a:visited {color:#0033ff}
a:active {color:#0033ff}
a:hover {color:#CC0000}
a.small:link {font-size:8pt}
a.small:visited {font-size:8pt}
a.small:active {font-size:8pt}
a.small:hover {fon-sizet:8pt}
a.bold:link {font-weight:bold}
a.bold:visited {font-weight:bold}
a.bold:active {font-weight:bold}
a.bold:hover {font-weight:bold}

a.redtop:link {font:8pt arial;color:#CC0000}
a.redtop:visited {font:8pt arial;color:#CC0000}
a.redtop:active {font:8pt arial;color:#CC0000}
a.redtop:hover {font:8pt arial;color:#000099}

a.more:link {font:bold 8pt arial;color:#000099;text-decoration:none}
a.more:active {font:bold 8pt arial;color:#000099;text-decoration:none}
a.more:visited {font:bold 8pt arial;color:#000099;text-decoration:none}
a.more:hover {font:bold 8pt arial;color:#CC0000;text-decoration:none}
a.info:link {font:bold 10pt arial;color:#CC0000;text-decoration:none}
a.info:active {font:bold 10pt arial;color:#CC0000;text-decoration:none}
a.info:visited {font:bold 10pt arial;color:#CC0000;text-decoration:none}
a.info:hover {font:bold 10pt arial;color:#CC0000;text-decoration:none}

a.white:link {font:8pt arial;color:#FFFFFF;text-decoration:none}
a.white:active {font:8pt arial;color:#FFFFFF;text-decoration:none}
a.white:visited {font:8pt arial;color:#FFFFFF;text-decoration:none}
a.white:hover {font:8pt arial;color:#FFCC66;text-decoration:underline}
a.whitebold:link {font:bold 8pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold:active {font:bold 8pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold:visited {font:bold 8pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold:hover {font:bold 8pt arial;color:#FFCC66;text-decoration:underline}
a.whitebold2:link {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold2:active {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold2:visited {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.whitebold2:hover {font:bold 10pt arial;color:#FFCC66;text-decoration:underline}

a.black:link {font:bold 10pt arial;color:#000000;text-decoration:none}
a.black:active {font:bold 10pt arial;color:#000000;text-decoration:none}
a.black:visited {font:bold 10pt arial;color:#000000;text-decoration:none}
a.black:hover {font:bold 10pt arial;color:#333333;text-decoration:underline}

a.boxblue:link {font:bold 10pt arial;color:#000099;text-decoration:none}
a.boxblue:active {font:bold 10pt arial;color:#000099;text-decoration:none}
a.boxblue:visited {font:bold 10pt arial;color:#000099;text-decoration:none}
a.boxblue:hover {font:bold 10pt arial;color:#CC0000;text-decoration:underline}
a.boxsmallblue:link {font:bold 12pt arial;color:#000099}
a.boxsmallblue:active {font:bold 12pt arial;color:#000099}
a.boxsmallblue:visited {font:bold 12pt arial;color:#000099}
a.boxsmallblue:hover {font:bold 12pt arial;color:#FFFFFF}
a.boxsmallblue2:link {font:bold 8pt arial;color:#000099}
a.boxsmallblue2:active {font:bold 8pt arial;color:#000099}
a.boxsmallblue2:visited {font:bold 8pt arial;color:#000099}
a.boxsmallblue2:hover {font:bold 8pt arial;color:#CC0000}
a.boxsmallred:link {font:bold 8pt arial;color:#CC0000}
a.boxsmallred:active {font:bold 8pt arial;color:#CC0000}
a.boxsmallred:visited {font:bold 8pt arial;color:#CC0000}
a.boxsmallred:hover {font:bold 8pt arial;color:#000099}
a.boxbigred:link {font:bold 10pt arial;color:#CC0000}
a.boxbigred:active {font:bold 10pt arial;color:#CC0000}
a.boxbigred:visited {font:bold 10pt arial;color:#CC0000}
a.boxbigred:hover {font:bold 10pt arial;color:#000099}

a.why:link {font:bold 10pt arial;color:#660000;text-decoration:none}
a.why:active {font:bold 10pt arial;color:#660000;text-decoration:none}
a.why:visited {font:bold 10pt arial;color:#660000;text-decoration:none}
a.why:hover {font:bold 10pt arial;color:#FFCC66;text-decoration:none}
a.why2:link {font:bold 10pt arial;color:#CC0000}
a.why2:active {font:bold 10pt arial;color:#CC0000}
a.why2:visited {font:bold 10pt arial;color:#CC0000}
a.why2:hover {font:bold 10pt arial;color:#FFCC66}

a.vhname:link {font:bold 16pt arial;color:#FFFFFF;text-decoration:none;text-transform:uppercase}
a.vhname:active {font:bold 16pt arial;color:#FFFFFF;text-decoration:none;text-transform:uppercase}
a.vhname:visited {font:bold 16pt arial;color:#FFFFFF;text-decoration:none;text-transform:uppercase}
a.vhname:hover {font:bold 16pt arial;color:#FFCC66;text-decoration:underline;text-transform:uppercase}
a.vhprice:link {font:bold 16pt arial;color:#FFFFFF;text-decoration:none}
a.vhprice:active {font:bold 16pt arial;color:#FFFFFF;text-decoration:none}
a.vhprice:visited {font:bold 16pt arial;color:#FFFFFF;text-decoration:none}
a.vhprice:hover {font:bold 16pt arial;color:#FFCC66;text-decoration:underline}
a.vhmore:link {font:bold 8pt arial;color:#CC0000;text-decoration:none}
a.vhmore:active {font:bold 8pt arial;color:#CC0000;text-decoration:none}
a.vhmore:visited {font:bold 8pt arial;color:#CC0000;text-decoration:none}
a.vhmore:hover {font:bold 8pt arial;color:#000099;text-decoration:underline}
a.vhlink:link {font:8pt arial;color:#000000}
a.vhlink:active {font:8pt arial;color:#000000}
a.vhlink:visited {font:8pt arial;color:#000000}
a.vhlink:hover {font:8pt arial;color:#CC0000}

a.popupblue:link {font:bold 10pt arial;color:#99CCFF;text-decoration:none}
a.popupblue:active {font:bold 10pt arial;color:#99CCFF;text-decoration:none}
a.popupblue:visited {font:bold 10pt arial;color:#99CCFF;text-decoration:none}
a.popupblue:hover {font:bold 10pt arial;color:#FFFFFF;text-decoration:underline}
a.popupvhname:link {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhname:active {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhname:visited {font:bold 10pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhname:hover {font:bold 10pt arial;color:#FFCC66;text-decoration:underline}
a.popupvhprice:link {font:bold 14pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhprice:active {font:bold 14pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhprice:visited {font:bold 14pt arial;color:#FFFFFF;text-decoration:none}
a.popupvhprice:hover {font:bold 14pt arial;color:#FFCC66;text-decoration:underline}

a.request:link {font:8pt arial;color:red;text-decoration:none}
a.request:visited {font:8pt arial;color:red;text-decoration:none}
a.request:active {font:8pt arial;color:red;text-decoration:none}
a.request:hover {font:8pt arial;color:red;text-decoration:underline}
a.buynow:link {font:bold 10pt arial;color:blue;text-decoration:none}
a.buynow:visited {font:bold 10pt arial;color:blue;text-decoration:none}
a.buynow:active {font:bold 10pt arial;color:blue;text-decoration:none}
a.buynow:hover {font:bold 10pt arial;color:red;text-decoration:underline}

a.bluebold:link  {font:bold 10pt arial;color:#000099}
a.bluebold:visited {font:bold 10pt arial;color:#000099}
a.bluebold:active {font:bold 10pt arial;color:#000099}
a.bluebold:hover {font:bold 10pt arial;color:#CC0000}

a.boldred:link {font:bold 10pt arial;color:#CC0000}
a.boldred:visited {font:bold 10pt arial;color:#CC0000}
a.boldred:active {font:bold 10pt arial;color:#CC0000}
a.boldred:hover {font:bold 10pt arial;color:#000099}