.header {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 24px; font-style: normal; font-weight: bold; color: #CCCCCC}
.copyrights {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 10px; font-style: normal; color: #F0F0F0}
.text {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style: normal; color: #000000}
.text_yellow {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px; font-style: normal; color: #FFCC00}
.small_header {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-style: normal; font-weight: bold; color: #CCCCCC}
.text_yellowlarge { font-family: Georgia, "Times New Roman", Times, serif; font-size: 18px; font-style: normal; color: #E6E6E6; font-weight: bold}
.textshield {  font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: normal; color: #CCCCCC}
.textshieldbold { font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #CCCCCC }
