BODY { FONT-SIZE: 12px; 
		COLOR: #003366; 
		FONT-FAMILY: tahoma, arial, sans-serif; 
		BACKGROUND-COLOR: #022990 } 
table
{
	FONT-SIZE: 13px; 
	FONT-FAMILY: tahoma, arial, sans-serif; 
} 
		
			.highlight {background-color:yellow;}

			A.Cats { FONT-WEIGHT: bold; 
					FONT-SIZE: 13px; 
					
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
			A.Cats:visited { FONT-WEIGHT: bold; 
					FONT-SIZE: 13px; 
					
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
			A.Cats:active { FONT-WEIGHT: bold; 
					FONT-SIZE: 13px; 
					
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
			A.Cats:hover { FONT-WEIGHT: bold; 
					FONT-SIZE: 13px; 
					
					FONT-FAMILY: verdana,sans-serif; 
					BACKGROUND-COLOR: #ffcc30; 
					TEXT-DECORATION: underline } 

			A.NVsbsmalltxt { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; 
					COLOR: #022990; 
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: none } 	
					
			 .subCats { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; 
					COLOR: #022990; 
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
					
			A.subCats { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; 
					COLOR: black; 
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
					
			A.subCats:visited { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; COLOR: black; 
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
			A.subCats:active { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; 
					COLOR: black; 
					FONT-FAMILY: verdana,sans-serif; 
					TEXT-DECORATION: underline } 
			A.subCats:hover { FONT-WEIGHT: normal; 
					FONT-SIZE: 12px; 
					COLOR: #022990; 
					FONT-FAMILY: verdana,sans-serif; 
					BACKGROUND-COLOR: #ffcc30; 
					TEXT-DECORATION: underline }
						
			.mouseOverEventCat{background:#003366;
					color:white;
					cursor:hand}
			.mouseOutEventCat{background:transparent;
					color:black}
			.mouseOutEventSubCat{background:transparent;
					color:#3749F3}				
			
			.bratheadline { FONT-WEIGHT: normal; 
					FONT-SIZE: 13px; 
					COLOR: #000000; 
					FONT-STYLE: normal; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratcopy { FONT-SIZE: 12px; 
					COLOR: #000000; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratheadline-start { FONT-WEIGHT: bold; 
					FONT-SIZE: 14px; 
					COLOR: #cc0000; 
					FONT-STYLE: italic; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratbullets-question { FONT-WEIGHT: bold; 
					FONT-SIZE: 24px; 
					COLOR: #cc0000; 
					FONT-STYLE: normal; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratbullets-answer { FONT-WEIGHT: bold; 
					FONT-SIZE: 24px; 
					COLOR: #000000; 
					FONT-STYLE: normal; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratcopy-title { FONT-WEIGHT: bold; 
					FONT-SIZE: 17px; 
					COLOR: #cc0000; 
					FONT-STYLE: normal; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratcopy-times { FONT-SIZE: 13px; 
					COLOR: #000000; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratcopy-indent { LIST-STYLE: none none outside; 
					FONT-SIZE: 13px; 
					COLOR: #000000; 
					TEXT-INDENT: 10pt; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratcopy-subtext { FONT-SIZE: 11px; 
					COLOR: #000000; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratlink-bodyBig { FONT-SIZE: 13px; 
					COLOR: #000000; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratlink-head { FONT-WEIGHT: bold; 
					FONT-SIZE: 12px; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.bratlink-body { FONT-SIZE: 13px; 
					COLOR: #000000; 
					FONT-FAMILY: Arial, Helvetica, sans-serif }
					
			.resulthead { FONT-SIZE: 10px; 
					COLOR: #666666; 
					FONT-FAMILY: Arial: }
					
			.resulturl { FONT-SIZE: 10px; 
					COLOR: #666666; 
					FONT-STYLE: italic; 
					FONT-FAMILY: Arial }
					
			.resulttitle { FONT-WEIGHT: bold; 
					FONT-SIZE: 16px; 
					COLOR: black; 
					FONT-FAMILY: Arial;			
					
					}
					
			.resultdesc { FONT-SIZE: 12px; 
					FONT-FAMILY: Arial }
					
			.featuredhead { FONT-WEIGHT: bold; 
					FONT-SIZE: 13px; 
					FONT-FAMILY: Arial }
			
			.BNav{FONT-WEIGHT: normal;
					FONT-SIZE: 10px;
					COLOR: #000000;
					FONT-FAMILY: arial}
					
			.BNav:visited{FONT-WEIGHT: normal;
					FONT-SIZE: 10px;
					COLOR: #000000;
					FONT-FAMILY: arial}
					
			.BNav:active{FONT-WEIGHT: normal;
					FONT-SIZE: 10px;
					COLOR: #000000;
					FONT-FAMILY: arial}
				
			.BNav:hover{FONT-WEIGHT: normal;
					FONT-SIZE: 10px;
					FONT-FAMILY: arial;	
					BACKGROUND-COLOR: #6497e9}
					
			.s123title { FONT-WEIGHT: bold; 
					FONT-SIZE: 16px; 
					COLOR: black; 
					FONT-FAMILY: Arial;
					text-decoration: Underline; }
					
			.s123desc { FONT-SIZE: 12px; 
					FONT-FAMILY: Arial }