TH.A_Red A:link   {color : red;}
TH.A_Red A:visited{color : red;}
TH.A_Red A:active {color : red;}
TH.A_Red A:hover  {color : #ffffa2;}
TD.A_Red A:link   {color : red;}
TD.A_Red A:visited{color : red;}
TD.A_Red A:active {color : red;}
TD.A_Red A:hover  {color : #ffffa2;}
