/*
** Links
*/

A:link    { text-decoration: none      }
A:visited { text-decoration: none      }
A:active  { text-decoration: underline }
A:hover   { text-decoration: underline }

/*
** Linker Menü-Frame
*/

.M1 { Font-Family: Arial, Helvetica; Font-Size: 14px; }

.F1 { Font-Family: Arial, Helvetica; Font-Size: 12px; }

