A:link { color: #C0C0C0 ; text-decoration: none; }
A:active { color: #C0C0C0 ; text-decoration: none; }
A:visited { color: #C0C0C0 ; text-decoration: none; } 
A:hover { color: #FFFF00 ; text-decoration: underline; } 

TH, TD.menu, TD.white 
	{	color: #FFFFFF;
		font-size: 12px;
		height: 18px;
		PADDING-BOTTOM: 5px;
		PADDING-LEFT: 5px;
		PADDING-RIGHT: 5px;
		PADDING-TOP: 5px;
		font-family: Helvetica, Univers, Arial, Verdana, Geneva, sans-serif;
	}

TD 
	{	color: #000000;
		font-size: 12px;
		height: 18px;
		PADDING-BOTTOM: 5px;
		PADDING-LEFT: 5px;
		PADDING-RIGHT: 5px;
		PADDING-TOP: 5px;
		font-family: Helvetica, Univers, Arial, Verdana, Geneva, sans-serif;
	}

p, p.text, TD.text
	{	color: #C0C0C0;
		font-size: 9pt;
		PADDING-BOTTOM: 0px;
		PADDING-LEFT: 5px;
		PADDING-RIGHT: 5px;
		PADDING-TOP: 0px;
		font-family: Geneva, Helvetica, Univers, Arial, Verdana, sans-serif;
	}

printable
	{	color: #FFFFFF;
		font-size: 12pt;
		PADDING-BOTTOM: 0px;
		PADDING-LEFT: 5px;
		PADDING-RIGHT: 5px;
		PADDING-TOP: 0px;
		font-family: Courier New, Courier, CG Courier, MS Courier;
	}
	
.update_full
	{ 	font-family: Geneva, Helvetica, Univers, Arial, Verdana, sans-serif;
		font-size: 12px;
		text-decoration: bold;
		color: #000000;
		background-color: #FFFFFF;
	 }

.update_empty
	{ 	font-family: Geneva, Helvetica, Univers, Arial, Verdana, sans-serif;
		font-size: 12px;
		color: #000000;
		background-color: #999999;
	 } 