a                                 { color: #3366AA; }
a:hover                           { color: #FF6600; }

body                              { }

.sage_table_page                  { background: #FFFFFF; }

.sage_body                        { background: #EEEEEE; }

.sage_borderline                  { background: #000000; }

.sage_line                        { background: #6699CC; }

.sage_textbar_table               { background-color: #DDEEFF; color: #000000; }
/*
.sage_tab_table_stats             { background-color: #DDEEFF; color: #000000; }
*/

.sage_default_table               { background: #FFFFFF; border-width: 0; }
.sage_default_cell_content        { background: #FFFFFF; }
.sage_default_cell_body           { background: #FFFFFF; }
.sage_default_cell_body_alt       { background: #EEEEEE; }
.sage_default_cell_list           { background: #FFFFFF; }
.sage_default_cell_list_alt       { background: #EEEEEE; }
.sage_default_cell_menu           { background: #EEEEEE; padding: 4; }
.sage_default_cell_form           { background: #FFFFFF; }
.sage_default_cell_active         { background: #FFFFFF; }
.sage_default_cell_info           { background: #FFFFFF; }
.sage_default_cell_footer         { background: #FFFFFF; }
.sage_default_cell_header         { background: #6699CC; color: #FFFFFF; border-color: #FFFFFF; }
.sage_default_cell_header         { background: #999999; color: #FFFFFF; border-color: #FFFFFF; }

.sage_default_text_tiny           { }
.sage_default_text_small          { }
.sage_default_text_medium         { }
.sage_default_text                { }
.sage_default_text_big            { }
.sage_default_text_large          { }
.sage_default_text_body           { }

.sage_default_error_tiny          { color: #FF0000; }
.sage_default_error_small         { color: #FF0000; }
.sage_default_error_medium        { color: #FF0000; }
.sage_default_error               { color: #FF0000; }
.sage_default_error_big           { color: #FF0000; }
.sage_default_error_large         { color: #FF0000; }
.sage_default_error_body          { color: #FF0000; }

.sage_default_prompt_tiny         { color: #222222; }
.sage_default_prompt_small        { color: #222222; }
.sage_default_prompt_medium       { color: #222222; }
.sage_default_prompt              { color: #222222; }
.sage_default_prompt_big          { color: #222222; }
.sage_default_prompt_large        { color: #222222; }

.sage_default_note_tiny           { color: #FF0000; }
.sage_default_note_small          { color: #FF0000; }
.sage_default_note_medium         { color: #FF0000; }
.sage_default_note                { color: #FF0000; }
.sage_default_note_big            { color: #FF0000; }
.sage_default_note_large          { color: #FF0000; }

.sage_form_file                   { background: #EEEEEE; border-color: #999999; border-width: 1; border-style: inset; }
.sage_form_select                 { background: #EEEEEE; }
.sage_form_selectmedium           { background: #EEEEEE; }
.sage_form_selectsmall            { background: #FFFFFF; }
.sage_form_text                   { background: #EEEEEE; border-color: #999999; border-width: 1; border-style: inset; font-size: 13px; }
.sage_form_textsmall              { background: #FFFFFF; border-color: #999999; border-width: 1; border-style: inset; }
.sage_form_textarea               { background: #EEEEEE; border-color: #999999; border-width: 1; border-style: inset; }

.sage_page_menu                   { background: #FFFFFF; }
.sage_page_menu_body              { }

.sage_page_body                   { background: #E7E7E7; }
.sage_page_border                 { background: #000000; }
.sage_page_vborder                { background: #000000; }
.sage_page_hborder                { background: #000000; }

.sage_image_table                 { border-color: #FFFFFF; }

.sage_tab_table                   { }
.sage_tab_space                   { background: #FFFFFF; }
.sage_tab_active                  { background: #6699CC; }
.sage_tab_active_link             { color: #FFFFFF; }
.sage_tab_active_link:hover       { color: #FFFFFF; }
.sage_tab_text                    { }
.sage_tab_inactive                { background: #EEEEEE; }
.sage_tab_inactive_link           { }
.sage_tab_inactive_link:hover     { color: #666666; }

.sage_logo                        { color: #6699CC; }

.sage_faqqle_points_big             { color: #FFFFFF; }
.sage_faqqle_points                 { color: #FFFFFF; }
.sage_faqqle_points_small           { color: #FFFFFF; }
.sage_faqqle_points_active          { background: #FF9900; }
.sage_faqqle_points_open            { background: #CC0000; }
.sage_faqqle_points_closed          { background: #666666; }

.sage_cell_answer_header          { }
.sage_cell_answer_body            { }
.sage_cell_answer_body_alt        { }
.sage_cell_answer_header          { background: #EEEEEE; }
.sage_cell_answer_body            { }
.sage_cell_answer_body_alt        { background: #EEEEEE; }

.sage_cell_question_header        { }
.sage_cell_question_menu          { }
.sage_cell_question_body          { }
.sage_cell_question_body_alt      { }
.sage_cell_question_header        { }
.sage_cell_question_menu          { background: #EEEEEE; }
.sage_cell_question_body          { }
.sage_cell_question_body_alt      { background: #EEEEEE; }

.sage_forum_selfpost              { }
.sage_forum_moderator             { }
.sage_forum_guest                 { }

.sage_dividerline                 { background: #FFFFFF; }

.sage_default_cell_content_header { background: #6699CC; color: #FFFFFF; border-color: #FFFFFF; }
