.bgc1_1 {  background-color: #815BFF; color: #FFFFFF}
.bgc1_2 {  background-color: #9A7DFF; color: #FFFFFF}
.bgc1_3 {  background-color: #AE97FF; color: #FFFFFF}
.bgc1_4 {  background-color: #C4B3FF}
.bgc1_5 {  background-color: #E8E1FF}
.gray1 {  color: #000000}
.gray2 {  color: #414141}
.gray3 {  color: #626262}
.gray4 {  color: #7D7D7D}
.gray5 {  color: #8F8F8F}
.gray6 {  color: #A5A5A5}
.bgc2_1 {  background-color: #999999; color: #FFFFFF}
.bgc2_2 {  background-color: #B4B4B4; color: #FFFFFF}
.bgc2_3 {  background-color: #CCCCCC}
.bgc2_4 {  background-color: #DBDBDB}
.bgc2_5 {  background-color: #E6E6E6}
