body,td { font-family: Tahoma, Arial, sans-serif; font-size: 11px; }
b { color: #4682B4; font-size: 12px; }
hr { border-top: 1px solid #999999; }
select,input { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: #000000; background-color: #999999; }
textarea { font-family: Tahoma, Arial, sans-serif; color: #000000; background-color: #999999; }
.istyle { font-family: monospace; font-size: 12px; color: #000000; background-color: #999999; }
.headline { font-size: 12px; font-weight: bold; color: #FFFFFF; }
.price { font-size: 11px; font-weight: bold; color: #FFFFFF; }
.smblue { font-size: 11px; font-weight: bold; color: #4682B4; }
.big { font-size: 22px; font-weight: bold; }
.c1 { font-size: 12px; }