BODY
{
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 8pt;
	scrollbar-face-color: #ffffff; scrollbar-shadow-color: #000000; 
	scrollbar-highlight-color: #ffffff; scrollbar-3dlight-color: #757575; 
	scrollbar-darkshadow-color: #ffffff; scrollbar-track-color: #ffffff; 
	scrollbar-arrow-color: #757575;
	
	
}

A:link
{
	color: #ffffff; 
	text-decoration: underline;
	font-size: 8pt;
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
}
A:visited
{
	color: #ffffff;
	text-decoration: underline;
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

A:hover
{
	color: #ffffff;
	text-decoration: overline
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

P      { font-size: 8pt }


.menu {
font : bold 10px Verdana, Arial, Helvetica, sans-serif;
line-height : 16px;
}

.menu a,.menu a:link,.menu a:active,.menu a:visited {
display : block;

color : #000000;
text-decoration : none;
line-height : 16px;
}

.menu a:hover {

color : #c0c0c0;
cursor : pointer;
text-decoration : none;

}












