BODY {
	background-color	: #222222;
	color							: #FFFFFF;
}

BODY,TD,TH {
	font-size					: 11px;
	font-family				: verdana, verdana, verdana;
	margin						: 0px;
}

INPUT, SELECT {
	font-size					: 11px;
	font-family				: verdana, verdana, verdana;	
}


TH {
	background-color	: #444444;
}

TD { 
	color							: #CCCCCC; 
}

.guild {
	color							: #6699CC;
}

.guild A {
	text-decoration		: none;
	color							: #6699CC;
}

.header {
	background-color	: #272F38;
}

.content {
	background-color	: #333333;
	padding-top				: 10px;
	padding-bottom		: 10px;
	padding-left			: 10px;
	padding-right			: 10px;
}

.odd {
	background-color: #292929;
}

TH {
	text-align				: left;
}

A {
	color							: #6699FF;
}

H1 {
	font-size					: 16px;
	font-weight				: bold;
	display						: none;
}

H2 {
	font-size					: 16px;
	font-weight				: bold;
}

H5 {
	margin-top				: 15px;
	margin-bottom			: 15px;
	font-weight				: normal;
	font-size					: 12px;
}

.footer {
	padding-top				: 10px;
	padding-bottom		: 5px;
	font-family				: verdana, verdana, verdana;
	font-size					: 9px;
	text-align				: center;
}

LI {
	padding-bottom		: 5px;
	font-weight				: bold;
}

.normal {
	font-weight				: normal;
}