<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
 <!-- <#achk_ver#> -->	
 <html>
 <head>
 <script language="javascript">
 //<!--
 var parentOpen = true;
 
 function dounload() {
 	if (parentOpen)
 		if (parent.opener)
 			parent.opener.is_window_opened = false;
 }
 
 //-->
 </script>
 
 </head>
 <body onunload="dounload()">
 <form name=frmSpell target=mid method=post action="" lang="">
 	<input type=hidden name=slang value="">
 	<input type=hidden name=intlang value="">
 	<input type=hidden name=text value="">
 	<input type=hidden name=cmd value="">
 	<input type=hidden name=trg_url value="">
 	<input type=hidden name=trg_wnd value="">
 	<input type=hidden name=txt_ctrl value="">
 	<input type=hidden name=svc_time value="">
 	<input type=hidden name=statinfo value="">
 	<input type=hidden name=customerid value="">
 	<input type=hidden name=schema value="">
 	<input type=hidden name=schema_url value="">
 	<input type=hidden name=spp_langs value="">
 	<input type=hidden name=bnr value="">
 	<input type=hidden name=hide value="">
 	<input type=hidden name=saw value="">
 	<input type=hidden name=ssrv_host value="">
 </form>
 </body>
 </html>
 <!-- <#achk_ver#> -->	
