BODY {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;		
}
p {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
}
blockquote {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #050056; 
	font-size : 12px;
}
td {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
}
h1 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
h2 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
h3 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
}
li {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	margin-left : 6px;
}
.sectionTitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
.areaTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
}
.contentTitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	padding-top : 8px;
}
.content {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
}
.content:visited {
}
.content:active {
	text-decoration : none;
}
.content:link {
}
.newsStats {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	padding-bottom : 2 px;
	background-color : #663333;
}
.newsSubject {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 13px;
}
.newsSubject:visited {
}
.newsSubject:active {
	text-decoration : none;
}
.newsSubject:link {
}
.newsCat {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.newsText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
}
.newsText:visited {
}
.newsText:active {
	text-decoration : none;
}
.newsText:link {
}
.newsText:p {
}
.newsName {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
}
.newsName:visited {
}
.newsName:active {
	text-decoration : none;
}
.newsName:link {
}
A {
	text-decoration : none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A:visited {
	color : #0000A0;
}
A:active {
	text-decoration : none;
	color : #0000A0;
}
A:link {
	color : #0000A0;
}
A:hover {
	color : #303030;
	text-decoration : underline;
}
.pollTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}
.pollOption {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.screenShot {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.menuTop {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #FFCC00;
	font-weight : bold;
}
.menuSection {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : #99CCFF;
}
.menuSubsection {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #99CCFF;
}
.menuList {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}
.menuSublist {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.menuSublist:link {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #EFEFEF;
	font-size : 10px;
}
.menuSublist:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #DEDEDE;
	font-size : 10px;
}
.menuSublist:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FFFFFF;
	font-size : 10px;
	text-decoration : underline;
}
.comment {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.comment:link {
}
.comment:active {
}
.comment:visited {
}
.comment2 {
	font-size : 11px;
}
hr {
	height : 1px;
}
.faqTableFont {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.faqGroupName {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
.faqGroupNameLink {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
.faqGroupDescription {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.faqGroupNameTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
.faqQuestion {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 12px;
		font-weight : bold;
}
.faqAnswer {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.faqUpdated {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #663300;
}
.faqQuestionLink {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.faqHR {
	height : 1px;
	width : 500px;
	text-align : center;
}
.faqSend {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.faqInputEmail {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.faqSubmit {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.menu { 
	color: #9999cc; 
	text-decoration: none
}
.menu:visited { 
	color: #9999cc; 
	text-decoration: none
}
.menu:hover { 
	color: #9999cc; 
	text-decoration: underline
}
.menu:active { 
	color: #9999cc; 
	text-decoration: underline
}
.net {
	text-decoration: none 
}
.net:active { 
	text-decoration: none; 
	color: #0000a0 
}
.net:hover { 
	text-decoration: underline overline; 
	color: #0000a0 
}
.net:visited { 
	color: #ff0000 
}
.ql { 
	color: #0000a0; 
	text-decoration: none
}
.ql:visited { 
	color: #0000a0; 
	text-decoration: none
}
.ql:hover { 
	color: #ff0000; 
	text-decoration: underline
}
.ql:active { 
	color: #ff0000; 
	text-decoration: underline
}
.fb { 
	text-decoration: none 
}
.fb:active { 
	text-decoration: none; 
	color: #0000a0 
}
.fb:hover { 
	text-decoration: none; 
	color: #0000a0 
}
.fb:visited { 
	color: #ff0000 
}
LI.top {
	list-style-type : square;
	color : #050056;
	font-size : xx-small;
	text-align : right;
}