/*###################################
Stylesheet credited to AlForAdmin.com
###################################*/

a:link, a:visited, a:active { 
	color : #CAD5E1;
	background-color : transparent;
	text-decoration : none; 
}
A:hover { 
	color : white;
	 background-color : transparent;
	 text-decoration : underline; 
}
p, table, td, tr { 
	font-size : 10pt; 
	font-family : Verdana, Helvetica, Arial, sans-serif; 
}
BODY {
	background: #243142; 
	color: white; 
	font: 10pt verdana,arial,helvetica,sans-serif; 
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
/*####################################################################################
 # WARNING  UNCOMMENTING THE NEXT 2 LINES WILL UNVALIDATE THIS STYLE SHEET           #
 # HOWEVER, IT WILL GIVE YOU A MATCHING SCROLLBAR FOR THIS STYLE SHEET               #
 ###################################################################################*/
/*
	SCROLLBAR-BASE-COLOR: #2A3C52;
	SCROLLBAR-ARROW-COLOR: #CCCCCC; 
*/
}
PRE { 
	font-size : 8pt; 
	font-family : monospace, courier new, courier, fixed, sans-serif;
}
IMG {
	border-color : white;
}
.tableborders { 
	background : black;
}
.tdheader { 
	color : #CCCCCC; 
	font-family : Verdana, Helvetica, sans-serif; 
	background : url('../testforum/grad.gif'); 
	 
}
.small { 
	font-size : 8pt; 
	font-family : Verdana, Helvetica, sans-serif; 
}
.lighttable { 
	background : #1A2633; 
	color : #CCCCCC; 
}
.darktable { 
	background : #121C29; 
	color : #CCCCCC; 
}
.pollcolor { 
	background : red; 
	color : black; 
}
.categoryheader {
	background : #2A3C52 url('../testforum/grad.gif'); 
	 
}
categoryheader a:hover, categoryheader a:link, categoryheader a:visited { 
	color : #CCCCCC; 
	font-family : Verdana, Helvetica, sans-serif; 
	background : transparent; 
}

.time { 
	font-size : 8pt; 
	color : #CCCCCC; 
	background-color : transparent; 
}
.copyright { 
	font-size : 8pt; 
	color : #CCCCCC; 
	font-family : Verdana, Helvetica, sans-serif; 
	background : transparent; 
}
.bbtitle { 
	font-size : 12pt; 
	color : #CCCCCC;
	font-family : Verdana, Helvetica, sans-serif; 
	background : transparent; 
}
.visited { 
	color : #CCCCCC; 
	background-color : transparent; 
}
.link { 
	color : #CCCCCC; 
	background-color : transparent; 
}
blockquote { 
	font-size: 10pt; 
	border: 1px solid #000000; 
	background: #51657C; 
	color: black; 
	margin: 0px 20px; 
	padding: 0px 10px 
}
blockquote .small {
	font-size: 8pt; 
	background : #121C29; 
	color : #CCCCCC; 
	margin-left:-10px; 
	padding:1px 2px 
}
blockquote hr { 
	visibility:hidden; 
	height:1px; 
}
hr {
	color : #4A5A60; 
	background-color : transparent; 
}
.topiclink { 
	color : #CCCCCC; 
	text-decoration : none; 
}