
	.myBodyTag{
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-style: normal;
		font-weight: bold;
		background-color: #000000;
	
		
	}

	A:active {
		text-shadow: 1em 1px;
		text-decoration: none;
		color: crimson
	}

	A:link {
		text-shadow: 1px 1px;
		text-decoration: none;
		color: crimson
	}

	A:hover {
		text-shadow: 1px 1px;
		text-decoration: none;
		color: red
	}

	A:visited {
		text-shadow: 1px 1px;
		text-decoration: none;
		color: slategray
	}

	<!-- ******************************************************* -->

	.myHrTag{
		color: #330066
	}

	<!-- ******************************************************* -->

	.myText {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px 1px yellow;
		color: firebrick
	}

	.myTextBold {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330066
	}

	.myNormalText {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: normal;
		text-shadow: 1px 1px;
		color: red
	}

	.mySmallText {
		font-family: "Times New Roman", Times, serif;
		font-size: 10pt;
		text-shadow: 1px 1px;
		color: #FF0033
	}

	.mySubHeader {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330066
	}

	.myHeader {
		font-family: "Times New Roman", Times, serif;
		font-size: 16pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330066
	}

	.myRulesHeader {
		font-family: "Times New Roman", Times, serif;
		font-size: 24pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330066
	}
	
	.mymenuText {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330000
	}

	.mymenu2Text {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: #330000
		bgcolor=#c0c0c0
	}

	.myWhiteText  {
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt;
		font-weight: bold;
		text-shadow: 1px 1px;
		color: white
	}