P,TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	color : #7A7A7A;
}

P.date {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	font-style : normal;
	color : #7A7A7A;
}

P.sig {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	font-style : italic;
	color : #7A7A7A;
}

P.location {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-weight : bold;
	font-style : normal;
	color : #7A7A7A;
}

A:link,A:visited,A:hover,A:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	color : #7A7A7A;
	text-decoration: underline;
}