a:link {
  color: #FFC610;
  text-decoration: underline;
}

a:visited {
  color: #FFC610;
  text-decoration: underline;
}

a:hover {
  color: yellow;
  text-decoration: none;
  font-style: italic;
}

a:active {
  color: yellow;
  font-weight: normal;
  text-decoration: none;
}

body {
  background-color: #184242;
  color: #FFFFFF;
  font-family: Tahoma, Verdana, Arial, Helvetica;
  margin: 0;
  padding: 0;
}

.darkshade {
  background-color: #186563;
}

.lightshade {
  background-color: #10AAA5;
}

.medshade {
  background-color: #298E8C;
}

.logobar {
  background-color: #184242;
  color: #000000;
  font-size: 10px;
  height: 19px;
  padding-left: 10px;
  vertical-align: middle;
  word-spacing: 15px;
}