a:link              { font: 11px verdana; color: #7C201B; text-decoration: underline; }
a:active            { font: 11px verdana; color: #7C201B; text-decoration: underline; }
a:visited           { font: 11px verdana; color: #7C201B; text-decoration: underline; }
a:hover             { font: 11px verdana; color: #CA6F6A; text-decoration: underline; }

a.copyright:link    { font: 9px verdana; color: #7C201B; text-decoration: none; }
a.copyright:active  { font: 9px verdana; color: #7C201B; text-decoration: none; }
a.copyright:visited { font: 9px verdana; color: #7C201B; text-decoration: none; }
a.copyright:hover   { font: 9px verdana; color: #CA6F6A; text-decoration: none; }

body
{ margin-top:    0px;
  margin-bottom: 0px;
  margin-left:   0px;
  margin-right:  0px;

  padding: 0;
  font-size:   11px;
  font-family:Arial, Helvetica, sans-serif;

  background-image:url(images/);
  background-color: #2E2E2E;
 }
img { border: 0; }

select, option, textarea, input
{
  color:       #000000;
  font-size:   11px;
  font-family: Verdana;
}

hr
{
	height: 1px;
	border: 0px;
	color: #C0BA9F;
}

.pluginname1
{
  font-family: verdana;
  font-size:   12px;
  font-weight: bold;
  color: 7C201B;
}

.pluginname2
{
  font-weight: bold;
  color: #D3DBE9;
  padding-top: 6px;
}
#logoleft {
	background-image: url(images/kurenai_logoleft.gif);
	background-color: #7C201B;
	background-repeat: no-repeat;
	background-position: left center;
	height: 77px;
    width: 32px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#logoright {
	background-image: url(images/kurenai_logoright.gif);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #7C201B;
	height: 77px;
	width: 668px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	vertical-align: middle;
	padding-right: 6px;
}
#header {
	background-color: #000000;
	background-image: url(random.php);
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
#photo {
	background-color: #000000;
	background-image: url(random.php);
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
#footer {
    background-image: url(images/footer3.jpg);
	background-color: #000000;
	margin-bottom: 0px;
	height: 40px;
	padding-left: 0px;
	padding-right: 0px;
}
#navbar {
    background-image: url(images/navbar6.jpg);
	background-color: #000000;
	margin-bottom: 0px;
	height: 40px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 0px;
}
.text1
{
  font:  bold normal 10px Verdana, Arial, Helvetica, sans-serif;
}
.content1 {
	background-color: F3F1E9;
	margin: 0px;
	display: block;
	padding: 8px;
	font-size: 11px;
}
.content1 td
{
  font:  11px verdana, arial;
}
#plugintopleft {
	background-image: url(images/kurenai_plug_topleft.gif);
	background-repeat: no-repeat;
	background-position: left center;
	width: 191px;
	height: 23px;
	background-color: #7C201B;
	text-indent: 5pt;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 11px;
}
#plugintopright {
	background-image: url(images/kurenai_plug_topright.gif);
	background-repeat: no-repeat;
	background-position: right center;
	width: 9px;
	height: 23px;

}
#pluginbottom {
	background-image: url(images/kurenai_plug_bottom.jpg);
	background-repeat: no-repeat;
	height: 21px;
	width: 198px;
	background-position: center;
}

#redlineleft {
	background-position: right bottom;
	height: 346px;
	width: 0px;
}
#redlineleft2 {
	background-repeat: no-repeat;
	height: 29px;
	width: 20px;
}
#redlineleft3 {
	background-repeat: no-repeat;
	height: 20px;
	width: 32px;
	float: left;
}
#redlineright {
	background-position: right;
	height: 346px;
	width: 0px;
}
#redlineright2 {
	background-repeat: no-repeat;
	height: 29px;
	width: 20px;
}
#redlineright3 {
	background-repeat: no-repeat;
	height: 20px;
	width: 32px;
	float: right;
}
.plugin {
	padding: 2px 2px 2px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.plugin td
{
  font:  11px verdana, arial;
}