 body { 
	scrollbar-face-color: #666666;
	scrollbar-shadow-color: #666666;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #333333;
	scrollbar-arrow-color: #000000; 

	BACKGROUND-COLOR: #333333;
	font-family: verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #CCCCCC; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;  
}
	
	.navtitle { font-size: 18px; color: #D8E2E7; font-weight: bolder; letter-spacing: -3px; font-family: verdana, helvetica, sans-serif; }
	h4 { font-size: 16px; font-weight: bold;  }
	i { font-size: 13px; font-style: italic;  }
	hr { color: #CCCCCC; size:1; width:300; noshade; }
	.m { font-size: 12px;  }
	.td { font-size: 12px;  }
	.headings { font-size: 11px; font-weight: bold; }
	.title { font-size: 13px; color: #E8E8E8; font-weight: bold; font-family: verdana, helvetica, sans-serif; }
	.usertitle { font-size: 12px; font-weight: bold; color: #A0A0A0 }
	.inputbox { font-size: 12px; border-top: #000000 solid thin; border-bottom: #000000 solid thin; border-right: #000000 solid thin; border-left: #000000 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #CCCCCC; BACKGROUND-COLOR: #494949;}
	.inputbutton { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	
	.newsbody { font-family: verdana, Helvetica, sans-serif; font-size: 13px; color: #CCCCCC; }
	.newstitle { font-family: verdana, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #000000}
	.newsdate { font-family: verdana, Helvetica, sans-serif; font-size: 16px; font-style: italic; font-weight: bold; color: #ff9933}
	.newsby { font-family: verdana, Helvetica, sans-serif; font-size: 11px; font-style: italic; color: #009933} 
	
	.textinputshort { font-size: 12px; border-top: #000000 solid thin; border-bottom: #000000 solid thin; border-right: #000000 solid thin; border-left: #000000 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #CCCCCC; BACKGROUND-COLOR: #494949;} 

	TEXTAREA, .bginput {FONT-SIZE: 12px; border-top: #000000 solid thin; border-bottom: #000000 solid thin; border-right: #000000 solid thin; border-left: #000000 solid thin; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #CCCCCC; BACKGROUND-COLOR: #494949;}

	BUTTON { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	

ul 
{
list-style-image: url("http://darkbreednorrath.com/themes/Shadowbane/images/smallball.gif")
}
	A:link {text-decoration: none; font-weight: bold; font-style: none; color: #FF9900}
	A:visited {text-decoration: none; font-weight: bold; font-style: none; color: #FF9900}
	A:hover {text-decoration: underline; font-weight: bold; font-style: none; color: #FFCC33}
	A:active {text-decoration: none; font-weight: bold; font-style: none; color: #FFFFCC}

a.nav:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #FFFFFF; font-weight: normal; height: auto; width: 100%; background-color: #182651; border: 1px #182651 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px}
a.nav:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #000000; text-decoration: none; background-color: #7A85B1; font-weight: normal; height: auto; width: 100%; left: auto; top: auto; border: 1px #7A85B1 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px}
a.nav:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #FFFFFF; text-decoration: none; font-weight: normal; height: auto; width: 100%; background-color: #182651; border: 1px #182651 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px}
a.nav:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #000000; text-decoration: none; background-color: #A6ADD2; font-weight: bold; height: auto; width: 100%; border: 1px #A6ADD2 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px}

