.underline2 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #666666; text-decoration: underline overline; font-variant: normal}
.smallpoint {  font-family: Verdana, Arial, Helvetica, sans-serif, cursive, fantasy; font-size: 10px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666; text-transform: none}
.links {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
	text-decoration: underline overline;
	list-style-type: disc;
	font-variant: normal;
	text-transform: capitalize;
	line-height: normal;
	font-weight: 400;
; border-style: none


}
.regtext {  font-family: Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #666666}
