/* NecroGnomicon Main Style Sheet */
/* Last Updated: March 19, 11:27 */

BODY {
	background: url(images/ngback.gif) black;
	margin-top: 0;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: 7px;
	}

P, UL, OL {
	font: 14px "Times New Roman", Times, serif;
	color: #000000;
	}

P.TRANS {
	font: 12px italic "Times New Roman", Times, serif;
	color: #663333;
	}

TH {
	background: url(images/leatherback.jpg) #993333;
	vertical-align: bottom;
	font: bold 14px "Times New Roman", serif;
	color: #CCCCCC;
	}

TH.SPELL {
	text-align: left;
/*	width: 150; */
	}

TD.NAV {
	background: url(images/leatherback.jpg) #993333;
	text-align: center;
	vertical-align: top;
	width: 100;
	color: #FF0000;
	}

TD.CON {
	background: url(images/greyskin.gif) #CCCCCC;
	text-align: left;
	vertical-align: top;
	width: 600;
	color: #000000;
	}

TD.SPELL {
	text-align: left;
	vertical-align: top;
/*	width: 150; */
	font: bold 16px "Times New Roman", serif;
	color: #000000;
	}

TD.DESC {
	text-align: left;
	vertical-align: top;
/*	width: 150; */
	font: 14px "Times New Roman", Times, serif;
	color: #333333;
	}

TD.COM {
	text-align: left;
	vertical-align: top;
/*	width: 450; */
	font: 14px "Times New Roman", Times, serif;
	color: #993333;
	}

TD.STORY {
	text-align: left;
	vertical-align: middle;
	width: 250;
	font: 14px "Times New Roman", Times, serif;
	color: #000000;
	}

/* Menu Highlight */
H1 {
	font: bold 28px "Times New Roman", Times, serif;
	text-align: center;
	color: #FFFFFF;
	}

/* Main Section Header */
H2 {
	font: bold italic 22px "Times New Roman", Times, serif;
	text-align: left;
	color: #993333;
	}

/* Main List Element Highlight */
H3 {
	font: bold 18px "Times New Roman", Times, serif;
	text-align: left;
	color: #666666;
	}

/* Menu Items */
H4, H5 {
	font: bold 15px "Times New Roman", Times, serif;
	text-align: center;
	color: #FF0000;
	position: relative;
	width: 100;
/*	height: 0; */
	top: 0;
	left: 0;
	filter: glow(color=black);
	}

H4.ACTIVE {
	filter: glow(color=#006633);
	}

/* Tagline */
H6 {
	font: bold italic 13px "Times New Roman", Times, serif;
	text-align: center;
	color: #999999;
	}

a, a:visited {
    text-decoration: none;
	color: #FF0000;
    }

a:hover, a:active {
          text-decoration: none;
		  color: #009900;
          }