A:link {color:#E60000;
        text-decoration:none}
A:visited {color:#B4B4B4;text-decoration:none}
A:hover {color:#F0342F; text-decoration: underline}
A:active {color:#E60000; text-decoration: underline}
