IMG {position: absolute; top: 0px; left: 0px; }
body {color: #AED3D4; 
background-color: #000000; 
	font-family: 'trebuchet ms',  'fantasy', 'sans-serif'; 
	font-size: 'x-small'; 
	scrollbar-3dlight-color:#39A8AD; 
	scrollbar-arrow-color:#39A8AD;
	scrollbar-base-color:#black;
	scrollbar-darkshadow-color:#13898F;
	scrollbar-face-color:black;
	scrollbar-highlight-color:#D7F8F9;
	scrollbar-shadow-color:#03383B}