B {
	COLOR: #DCDDF2
}
BODY {
	FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px;
	SCROLLBAR-BASE-COLOR: #122134;
	SCROLLBAR-ARROW-COLOR: #FFF788;
}
TD {
	FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
SELECT {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
INPUT {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
TEXTAREA {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif
}
.headline {
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
