.item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	line-height: 11px;
	clip:   rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
















}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFF00;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	line-height: 11px;
	clip:   rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	text-decoration: none;
	padding-right: 2px;




}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFF00;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	line-height: 11px;
	clip:   rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	text-decoration: none;
	padding-bottom: 2px;



}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFF00;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	clip:   rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	font-weight: normal;
	text-decoration: underline;
	padding-bottom: 2px;
	line-height: 11px;




}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFF00;
	visibility: inherit;
	vertical-align: text-top;
	border: none;
	list-style-type: none;
	line-height: 11px;
	clip:   rect(auto auto auto auto);
	background-position: 0px 0px;
	text-align: left;
	text-decoration: none;
	padding-left: 2px;



}
