div, p, blockquote, ol, ul, dl, li, dt, dd, td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; color: #333333}
b, strong {  font-weight: 900 }

.bodyHeader { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #333333; font-weight: bold;}
.bodyHeader a:active { color: #61538D; text-decoration: underline; font-weight: bold;}
.bodyHeader a:link {  color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader a:visited { color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader a:hover {  color: #61538D; text-decoration: underline; font-weight: bold;}

.body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}
.body a:active { color: #006736; text-decoration: underline; font-weight: bold;}
.body a:link {  color: #0066cc; text-decoration: underline; font-weight: bold;}
.body a:visited { color: #0066cc; text-decoration: underline; font-weight: bold;}
.body a:hover {  color: #006736; text-decoration: underline; font-weight: bold;}

.smbody { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #333333}
.smbody a:active { color: #006736; text-decoration: underline; font-weight: bold;}
.smbody a:link {  color: #0066cc; text-decoration: underline; font-weight: bold;}
.smbody a:visited { color: #0066cc; text-decoration: underline; font-weight: bold;}
.smbody a:hover {  color: #006736; text-decoration: underline; font-weight: bold;}

.bodyWHT { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; font-weight: bold;}

.bodyRED { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; font-weight: bold;}

.footer div { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #666666}
.footer a:active { color: #3553A9; text-decoration: none; }
.footer a:link { color: #666666; text-decoration: none; }
.footer a:visited { color: #666666; text-decoration: none; }
.footer a:hover {  color: #3553A9; text-decoration: underline; }

.subbut {color : #FFFFFF; background-color : #0066cc; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold;}

.tableborder {
	border: 1pt solid;
}
