.ttitre  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #660000; font-weight: bold; cursor: default;}
.tintro {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #9b8d66; text-transform:none;}
.tadresse {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #4D4633; font-weight: bold; cursor: default; text-transform:none;}
.tnormal {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; text-transform:none;}
.tattention {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #ddcfa8; text-transform:none;}


.tzoom_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; text-transform:none;}

.tactu_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; text-transform:none;}
.tactu01_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #916BA4; text-transform:none;}
.tactu01_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; background-color: #FAF0FE; text-transform:none;}
.tactu02_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #E19198; text-transform:none;}
.tactu02_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; background-color: #FEF5F0; text-transform:none;}
.tactu03_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #FFB96C; text-transform:none;}
.tactu03_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; background-color: #FFFEE5; text-transform:none;}
.tactu04_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #A0C8A5; text-transform:none;}
.tactu04_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; background-color: #ECF3F0; text-transform:none;}
.tactu05_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; cursor: default; background-color: #7562BD; text-transform:none;}
.tactu05_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal; cursor: default; background-color: #F4F0FF; text-transform:none;}

.tactu_suite  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #404040; font-weight: normal; cursor: default; background-color: #FAF0FE; text-transform:none;}

.tbreve_entete  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #170278; font-weight: bold; cursor: default; background-color: #D1CEED; text-transform:none;}
.tbreve_contenu  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #170278; font-weight: normal; cursor: default; background-color: #FFFFFF; text-transform:none;}

.thaut_de_page {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #C497D9; font-weight: bold; cursor: default; text-transform:none;}
.tbas_de_page {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; font-weight: normal; cursor: default; text-transform:none;}


a.lienmenu {font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 11px; color:#7C4398; text-decoration:none; font-weight: normal; cursor: hand; text-transform:none; line-height:11pt;}
a.lienmenu:hover{font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 11px; color:#7C4398; text-decoration:underline; font-weight: normal; cursor: hand; text-transform:none; line-height:11pt;}

a.lienimg {font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 10px; color:#000000; text-decoration:none; font-weight: normal; cursor: hand; text-transform:none;}
a.lienimg:hover{font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 10px; color:#000000; text-decoration:underline; font-weight: normal; cursor: hand; text-transform:none;}

a.lientexte {font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 12px; color:#660000;text-decoration:none;}
a.lientexte:hover{font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 12px; color:#660000;text-decoration:underline;}

.ulr {list-style-image: url(images/puce_r.gif)}
.ulv {list-style-image: url(images/puce_v.gif)}
.ulb {list-style-image: url(images/puce_b.gif)} 
