body { background: #ffffff; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
a:link { color: #004acb; text-decoration: none; background-color: #ffffff }
a:visited { color: #800000; background-color: #ffffff }
a:active { color: #0099fa; background-color: #ffffff }
a:hover { color: #0088ff; text-decoration: underline; background-color: #ffffff }
img { border: 0 }
table { margin-left: auto; margin-right: auto }
td { vertical-align: top }
td.center { text-align: center }
span.msieDoesntConformToStandards { font-size: 10pt }
span.mediahead { font-family: Book Antiqua, serif; font-size: 24pt }
span.fixed { font-family: Courier New, Courier, monospace }
span.tiny { font-size: 7pt }
span.small { font-size: 8pt }
span.h1 { font-size: 12pt }
span.h1b { font-size: 12pt; font-weight: bold }
span.h2 { font-size: 20pt }
span.h2b { font-size: 20pt; font-weight: bold }
span.h3 { font-size: 26pt }
span.h3b { font-size: 26pt; font-weight: bold }
div.center { text-align: center }
