/**************************** HTML Tag Styles ******************************/
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#668CB1;
	font-size: 12px;
	margin:0px auto;
	padding:0px;
	width:770px;
}

table {
	font-family:Arial, Helvetica, sans-serif;
}

td {
	font-family:Arial, Helvetica, sans-serif;
}

/**************************** Header Styles ******************************/
#header {
	background-color:#EFC731;
}

#header .title {
	text-align:left;
	padding:5px 0px 5px 15px; 
	font-size:20px; 
	color:#FFF;
}

#header .title a { 
	color:#FFF;
	font-weight:bold; 
	text-decoration:none; 
}

#header .forsale a {
	color:#FFF;
	text-decoration:underline;
	
}

#hdrSearch {
	text-align:right;
	padding:5px 15px 5px 0px;
	font-weight:bold; 
	font-size:12px; 
	color:#FFF;
}

#hdrSearch input { 
	font-size:10px; 
}

#hdrRelated {
	padding:5px 10px 5px 10px;
	overflow: hidden;
	height:14px; 
	border-top:1px solid #FFF; 
	border-bottom:1px solid #FFF;
	color:#FFF; 
	font-size:12px;
}

#hdrRelated ul { 
	margin:0px;
	list-style-type: none; 
	padding-left: 1em;
	text-indent: 0em;
}

#hdrRelated li { 
	margin:0px; 
	padding:0px; 
	height: 18px; 
	display:block; 
	float: left; 
}

.hdrRelLink1 a {
	padding:0px 10px 0px 0px; 
	text-decoration:none; 
	font-weight:bold; 
	font-size:12px; 
	color:#FFF; 
}

.hdrRelLink1 a:hover {
	text-decoration:underline;
}

.hdrRelLink2 a {
	padding:0px 10px 0px 10px;
	text-decoration:none; 
	font-weight:bold; 
	font-size:12px; 
	color:#FFF; 
	border-left:1px solid #FFF; 
}

.hdrRelLink2 a:hover {
	text-decoration:underline;
}

.forsale {
	padding:10px 0px 0px 0px;
	text-align:center;
	font-size:10px;
}

.forsale a {
	color:#FFF;
	text-decoration:underline;
}

/**************************** Body Styles ******************************/
a.URLtop {
	color:#00E;
	text-decoration:underline;
}

a.URLbottom { 
	color:#008000;
	text-decoration:none;
}

a.URLtext { 
	text-decoration:none;
	color:#000;
}

#relRow {
	background:#FFF;
	padding:5px;
}

#relWrapper {
	float:left;
    padding: 0px;
    border: 0px; 
	width:365px; 
	margin:0px;
} 

.content {
    margin: 0px;
    padding: 0px;
    border: 1px solid #999;
}

.relHdr {
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	padding:4px;
	background:#EFC731;
}

.relHdr a{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}

.relBottom1 {
    margin: 0px; 
	padding: 0px; 
	border: 0px;
	background:#EFC731;
    clear: both;
    font-size: 3px; 
	line-height: 3px;
}

.borderTL, .borderTR, .borderBL, .borderBR {
    width: 4px; 
	height: 4px;
    padding: 0px; 
	border: 0px;
    z-index: 99;
}

.borderTL, .borderBL { float: left; clear: both; }
.borderTR, .borderBR { float: right; clear: right; }
.borderTL { margin: -1px 0px 0px -1px; }
.borderTR { margin: -1px -1px 0px 0px; }
.borderBL { margin: -4px 0px 0px 0px; }
.borderBR { margin: -4px 0px 0px 0px; }
   
.borderTL {
    margin-left: -4px;
    margin-left: -1px;
}

.borderTR {
    margin-right: -4px;
    margin-right: -1px;
}

.borderBL {
    margin-left: -3px;
    margin-left: 0px;
}

.borderBR {
    margin-right: -3px;
    margin-right: 0px;
}

.relContent { 
	background:#FFF; 
	text-align:left;
}

.relContent a {
	display:block;
	color:#000000;
	font-size:12px;
}

.relContent p {
	background:#ffffff;
	border-bottom:1px solid #999; 
	border-bottom-style: dotted;
	padding:4px 0px 3px 4px;
	margin:0px 1px;
	font-size:12px;
	color:#000;
}

#splash {
	float:right;
}

#splash a{
	text-decoration:none;
}

#catWrapper {
    padding: 0px;
    border: 0px;
	margin:0px;
} 

.catHdr1 {
	font-size:16px;
	font-weight:bold;
	padding:4px;
	background:#09C;
}

.catHdr2 {
	font-size:16px;
	font-weight:bold;
	padding:4px;
	background:#F66;
}

.catHdr3 {
	font-size:16px;
	font-weight:bold;
	padding:4px;
	background:#6C6;
}

.catHdr1 a{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}

.catHdr2 a{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}

.catHdr3 a{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}

.catBottom1 {
    margin: 0px; 
	padding: 0px; 
	border: 0px;
	background:#09C;
    clear: both;
    font-size: 3px; 
	line-height: 3px;
}

.catBottom2 {
    margin: 0px; 
	padding: 0px; 
	border: 0px;
	background:#F66;
    clear: both;
    font-size: 3px; 
	line-height: 3px;
}

.catBottom3 {
    margin: 0px; 
	padding: 0px; 
	border: 0px;
	background:#6C6;
    clear: both;
    font-size: 3px; 
	line-height: 3px;
}

.catContent {
	font-size:12px;
	color:#000;
	display:block; 
	background:#FFF;
	text-align:left;
}

.catContent a {
	color:#000;
}

.catContent p {
	padding:2px 0px 2px 0px;
	margin:0px 12px;
}

.tbback {
	width:770px;
	background-color:#FFFFFF;
}

.sponsoredresults {
	background-image: url(/css_is.php?d=divineprophecy.org);
	background-repeat: no-repeat;
	padding:4px 0px 0px 15px;
	font-size:10px; 
	color:#999; 
}

#results {
	margin:20px 0px 10px 0px; 
	background-color:#FFFFFF; 
}

#results p { 
	margin:5px 0px 10px 0px; 
	padding:0px 15px 0px 15px;  
	width:450px; 
}

.URLtop {
	font-weight: normal;
	font-size: 12pt;
	text-decoration:underline;
}

.URLbottom { 
	color:#008000; 
	text-decoration:none; 
}

.URLtext { 
	text-decoration:none;
	color:#000;
}

#next { 
	margin:0px; 
	padding:12px 0px 12px 0px; 
	text-align:center;
}

#next a { 
	font-weight:bold; 
	font-size:13px; 
}

#next a:visited {
	color:#00E;
}

#related {
	background:#A3A3A3;
}

#related a {
	color:#000;
	font-size:13px;
}

#related .relHeader {
	padding:4px;
	font-size:16px;
	color:#000;
	font-weight:bold;
}


#copyright {
	padding:10px 0px 0px 0px;
	text-align:center;
	font-size:10px;
}

#copyright a {
	color:#000;
}