BODY
{ background-color: #000000;
font-family: Arial;
font-size: smaller;
color="#8A8A8A"
}
.extra { letter-spacing: 3px }

UL

{ text-indent: 5px; }

A

{COLOR: #828282;
 TEXT-DECORATION: none}

A:hover

{COLOR: #9A9A9A;
 TEXT-DECORATION: underline overline}

A:active

{COLOR: #9A9A9A;
 TEXT-DECORATION: underline overline}

