.menulinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
a:hover {
	background-color: #EEEEEE;
	border-top: thin none #FFE49D;
	border-right: thin solid #FFE49D;
	border-bottom: thin none #FFE49D;
	border-left: thin solid #FFE49D;

}
.smalllinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
