/* Global */
body {
    text-align: center;
    background-color: #6B6E8D;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: small;
}

img {
    border: 0;
}

form {
    display: inline;
}

a:link, a:active, a:visited {
    color: #31308C;
    text-decoration: underline;
}
a:hover {
    color: #000084;
    text-decoration: underline;
}

input {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 0.85em;
}
select {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 0.85em;
}

/* Positioning */
#page {
    text-align: left;
    width: 760px;
    background-color: #fff;
    border: 1px solid #000;
    margin: 1em auto;
    padding: 1em auto;
}

#header-wrapper {
    text-align: left;
}
#header-top {
    background-color: #424563;
    padding: 7px;
}
#header-bot {
    background-color: #212042;
    padding: 3px;
}

#content-wrapper {
    text-align: left;
    background-color: #fff;
}
#content {
    float: right;
    width: 520px;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 190px;
    margin: 0px 0px 0px 0px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-width: 0px 1px 1px 0px;
    padding: 1em;
    font-size: 0.85em;
}

#sidebar-extra {
    width: 190px;
    margin: 0px 0px 0px 0px;
    background-color: #fff;
    padding: 1em;
    line-height: 35px;
    text-align: center;
}

#sidebar-rating {
    width: 150px;
    margin: 0px 0px 25px 25px;
    background-color: #fff;
    padding: 1em;
    text-align: center;
    border: 1px solid #000;
    font-size: 0.85em;
}

#footer {
    background-color: #212042;
    border: 1px solid #000;
    border-width: 1px 0px 0px 0px;
    bottom: 0px;
}
#footer-left {
    position: absolute;
    padding-left: 5px;
    font-size: 0.85em;
    color: rgb(170, 170, 220);
}
#footer-right {
    position: relative;
    padding-right: 5px;
    font-size: 0.85em;
    color: rgb(170, 170, 220);
    text-align: right;
}

/* Lists */
ul.menu {
    list-style-type: none;
    padding-left: 15px;
    margin: 1px 0px 0px 3px;
    vertical-align: middle;
}
li.menu {
    list-style-type: none;
    list-style-image: url(http://eqdkp.com/images/box1.gif);
}

ul.changelog  {
    list-style-type: none;
    padding: 0px 0px 0px 2px;
    margin: 0px 0px 0px 2px;
    vertical-align: middle;
}
li.cl-bug {
    vertical-align: top;
    list-style-image: url(http://eqdkp.com/images/cl_bug.gif);
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 3px;
}
li.cl-feature {
    vertical-align: top;
    list-style-image: url(http://eqdkp.com/images/cl_feature.gif);
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 3px;
}
li.cl-removed {
    vertical-align: top;
    list-style-image: url(http://eqdkp.com/images/cl_removed.gif);
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 3px;
}
li.cl-note {
    vertical-align: top;
    list-style-image: url(http://eqdkp.com/images/cl_note.gif);
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 3px;
}

.content-block {
}
.content-header {
    font-size: 1.2em;
    font-weight: bold;
}
.content-body {
    padding: 5px 10px 10px 10px;
}

.menu-header {
    font-size: 1.0em;
    font-weight: bold;
    color: #212042;
}
.headline {
    font-size: 1.1em;
    font-weight: bold;
}
.author {
    font-size: 0.85em;
}

.code {
    border: 1px dashed #aaa;
    padding: 5px 5px 5px 5px;
    background: #efefef;
    font-size: 9px;
    font-family: Monaco, "Courier New";
}
.box {
    border: 1px dotted #aaa;
    padding: 5px 5px 0px 5px;
    background: #efefef;
}