* {
  font-size: 15px; 
}

body {
 background: black;
 color: silver;
 margin: 0 0 0 0;
 cursor: default;
 font-family: Arial, Helvetica, sans-serif;
}

form { 
  display: inline;
}

a:link { 
 color: yellow;
 text-decoration: none;
}

a:visited {
 color: #F5D872;
 text-decoration: none;
}

a:active {
 color: white;
 text-decoration: underline;
}

a:hover {
 color: white;
 text-decoration: underline;
}

.shotbg { 
  width: 451px;
  height: 232px;
  background-image: url(/gfx/itemshot.gif?1);
  text-align: left;
}

.shottitle { 
  font: Arial;
  font-size: 12px;
  color: #c0c0c0;
  text-align: center;
  width: 100%; 
}

.shotdata { 
  font: Arial;
  font-size: 12px;
  color: #ffffff;
  padding: 7px;
  width: 100%;
}

.shotrec { 
  font: Arial;
  font-size: 12px;
  color: #ff4040;
}

a.shot { 
  font-size: 12px;
}

table.title {
 border-top: 1px solid #005F90;
 border-bottom: 1px solid #005F90;
 border-left: 0px solid #000000;
 border-right: 0px solid #000000;
 width: 100%;
}

td.title {
 background: #01344F;
}

table.spellview {
 border: 1px solid #005F90;
}

td.spellview {
 background: #01344F;
 color: white;
 vertical-align: middle; 
 font-weight: bold; 
}

td.spelllabel {
 background: #01344F;
 color: white;
 font-weight: bold; 
}

td.spelldata {
}

td.label {
 background: #01344F;
 color: white;
 font-weight: bold; 
}

td.data {
}

table.sidebar {
 border: 1px solid #005F90;
}

td.sidebar {
 background: #01344F;
 color: white;
 vertical-align: middle;
 font-weight: bold; 
}

tr.smalllabel {
 background: #01344F;
 color: white;
 vertical-align: middle;
 font-weight: bold; 
 font-size: 12px;
}

td.smalllabel {
 background: #01344F;
 color: white;
 vertical-align: middle;
 font-weight: bold; 
 font-size: 12px;
}


tr.small {
 font-size: 12px;
}

td.small {
 font-size: 12px;
}


td.smallright {
 font-size: 12px;
 text-align: right;
}

td.dmglabel {
 background: #01344F;
 color: white;
 vertical-align: middle;
 font-weight: bold; 
 font-size: 12px;
}

td.dmg {
 background: #01344F;
 color: white;
 vertical-align: middle;
 font-size: 12px;
}

