body, td { font-family: Tahoma, Arial, sans-serif; font-size: 11px; }
b { color: #4682B4; }
select, input { font-family: Tahoma, Arial, sans-serif; font-size: 11px; color: #000000; background-color: #999999; }
textarea { font-family: Tahoma, Arial, sans-serif; color: #000000; background-color: #999999; }
.headline { font-size: 12px; font-weight: bold; color: #FFFFFF; }
.price { font-size: 11px; font-weight: bold; color: #FFFFFF; }
.zname { color: #4682B4; font-weight: bold; font-size: 12px; }