@media print {
body	{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	}
font, th, td, p 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF;
	}
a:link, a:active, a:visited
	{
	color : #9999FF;
	text-decoration: underline;
	}
a:hover	{
	text-decoration: underline;
	color : #DD6900;
	}
hr	{
	height: 0px;
	border: solid #D1D7DC 0px;
	border-top-width: 1px;
	}
H1	{
	color: #FF0000;
	font-size: 24px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	text-align: center;
	}
H2 	{
	color: #FF0000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	}
H3 	{
	color: #000000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	}
H4 	{
	color: #000000;
	font-size: 14px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: normal;
	}
.item { color: #FF8000}
.mob { color: #00FFFF}
.NPC {color: #0000FF}
.Zone {color: #8080FF}
.you {color: FFc080}
/* Quote & Code blocks */
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #c0c000; margin-left: 5%; margin-right: 5%; border: 0px; padding: 5px;
}


.hide { display:none; }
}

@media screen {
body	{
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	}
font, th, td, p 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF;
	}
a:link, a:active, a:visited
	{
	color : #9999FF;
	text-decoration: underline;
	}
a:hover	{
	text-decoration: underline;
	color : #DD6900;
	}
hr	{
	height: 0px;
	border: solid #D1D7DC 0px;
	border-top-width: 1px;
	}
.gen	{
	display:none;
	font-size : 12px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
H1	{
	color: #FF0000;
	font-size: 24px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	text-align: center;
	}
H2 	{
	color: #FF0000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	}
H3 	{
	color: #FFFFFF;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	}
H4 	{
	color: #FFFFFF;
	font-size: 14px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: normal;
	}
.item { color: #FFFF00}
.mob { color: #00FFFF}
.NPC {color: #FF8080}
.Zone {color: #8080FF}
.you {color: FFc080}
/* Quote & Code blocks */
.hide {}
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #c0c000; margin-left: 5%; margin-right: 5%; border: 0px; padding: 5px;
}
}
