BODY {
	background-color : White;
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
}

A.dt {
	text-decoration : underline;
	color : Black;
}

H1 {
	text-align : center;
}
H2 {
	text-align : center;
}
TD {
	vertical-align : top;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
TD.forminput {
	vertical-align : top;
	text-align : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
TD.formlabel {
	vertical-align : top;
	text-align : right;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}


TH {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
TR.ezheader {
	background-color : #636347;
	color : White;
}

TR.ezrow {
	background-color : #e5e5c3;
	color : Black;
}

A:HOVER {
	color : Red;
	text-decoration : underline;
}
A.newslink {
	color : Blue;
	text-decoration : none;
}
.eql_title {
	font-weight:bold;
}
.ezboard {
	background-color : #e5e5c3;
	color : #330000;
}
.filelink {
	text-decoration : none;
}
.code {
	font-family : "Courier New", Courier, monospace;
	font-size : 9pt;
}
DT {
	font-weight : bold;
}
.time {
	background-color : Black;
	color : Aqua;
	font-weight : bold;
	font-family : "Courier New", Courier, monospace;
	font-size : 14pt;
}
.warning {
	color : Red;
}
.nav {
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
	font-weight : normal;
}

.orq {
	color : Black;
	font-weight : bold;
	text-decoration : none;
}

.covhunt {
	color : Teal;
	font-weight : bold;
	text-decoration : none;
}
.cov {
	color : Blue;
	font-weight : bold;
	text-decoration : none;
}
.other {
	color : Gray;
	font-weight : bold;
	text-decoration : none;
}

.dh {
	color : Olive;
	font-weight : bold;
	text-decoration : none;
}

.hu {
	color : Fuchsia;
	font-weight : bold;
	text-decoration : none;
}


.language {
	color : Purple;
	font-weight : bold;
	text-decoration : none;
}

.fotp {
	color : Green;
	font-weight : bold;
	text-decoration : none;
}

TD.data {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
}

TD.event {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}


TD.news {
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
}



