.title1      { padding:0; color: #C0C0C0; font-weight:bold; background-color:#000000  }
.title2      { border:1px solid #808080; color: #C0C0C0; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1; background-color: #000080; font-weight:bold; background-image:url('images/dateback.jpg') }
body         { color: #111111; padding: 0; background-color: #FFFFFF; font-family:Comic Sans MS; font-size:9pt; background-image:url('images/loa_marble1.jpg') }
table        { padding:0; color: #191970; background-color: #FFFFF0 ; font-size:9pt; background-image:url('images/loa_marble1.jpg') }
a:active     { color: #800000; text-decoration: underline; font-size:9pt  }
a:link       { color: #0000FF; font-size:9pt; text-decoration:none underline  }
a:visited    { color: #000080; font-size:9pt; text-decoration:none underline  }
a:hover      { color: #FF0000; text-decoration: underline; font-size:9pt }
h1           { font-family: Comic Sans MS; font-size: 16pt; color: #000080; font-weight: bold }
h2           { font-family: Comic Sans MS; font-size: 14pt; color: #000080; font-weight: bold }
h3           { color: #000080; font-family: Comic Sans MS; font-size: 11pt; font-weight: bold }
h4           { font-family: Comic Sans MS; color: #000080; font-size: 10pt; font-weight: bold }
.contentcell { border-style:solid; border-width:1; padding:0; color: #191970; background-color: #FFFFF0 ; font-size:9pt; background-image:url('images/loa_marble1.jpg') }