body, td, div  { margin: 15px 0px 15px; 0px; font-family: arial, sans-serif; font-size: 11px; }

a        { color: #336699; }
a:hover  { color: #FF6600; }

.sage_body_t        { }
.sage_body_tch      { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_body_tcb      { font-family: verdana, arial; font-size: 13px; padding: 5px 8px 5px 8px; }
.sage_body_tcb_alt  { font-family: verdana, arial; font-size: 13px; padding: 5px 8px 5px 8px; }

.sage_borderline    { }
.sage_borderline_t  { border-width: 1; border-style: solid; }

.sage_content_t    { }
.sage_content_tch  { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 3px 5px 3px 5px; }
.sage_content_tcb  { font-family: verdana, arial; font-size: 13px; padding: 10px; }
.sage_content_tcb_alt  { font-family: verdana, arial; font-size: 13px; padding: 10px; }

.sage_datebreak_t         { }
.sage_datebreak_tcb       { font-family: verdana, arial; font-size: 10px; }
.sage_datebreak_tc_empty  { border-width: 2px 0px 2px 0px; border-style: solid; }

.sage_default_t    { }
.sage_default_tch  { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_default_tcb  { font-family: verdana, arial; font-size: 13px; padding: 7px 2px 7px 2px; border-width: 0; }

.sage_error_t    { }
.sage_error_tch  { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_error_tcb  { font-family: verdana, arial; font-size: 13px; padding: 5px 8px 5px 8px; }

.sage_featureimage_tc_left { padding: 6px 5px 3px 0px; }

.sage_form_t    { }
.sage_form_tch  { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_form_tcb  { font-family: verdana, arial; font-size: 13px; padding: 10px 12px 10px 12px; border-width: 0; }

.sage_forum_t       { }
.sage_forum_tch     { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 3px 5px 3px 5px; }
.sage_forum_tch_alt { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 3px 5px 3px 5px; }
.sage_forum_tcb     { font-family: verdana, arial; font-size: 13px; padding: 5px; }
.sage_forum_tcb_alt { font-family: verdana, arial; font-size: 13px; padding: 5px; }

.sage_header_t         { }
.sage_header_subtitle  { font-size: 20px; font-weight: bold; }

.sage_hierarchy_t        { padding: 2px 5px 3px 5px; }
.sage_hierarchy_tcb      { }
.sage_hierarchy_l        { }
.sage_hierarchy_l:hover  { }
.sage_hierarchy_text     { font-family: arial; font-size: 11px; font-weight: bold; }

.sage_home_title        { font-family: verdana, arial, helvetica, sans-serif; font-size: 17px; text-decoration: underline; font-weight: bold; }
.sage_home_title        { font-family: arial, helvetica, sans-serif; font-size: 18px; text-decoration: underline; font-weight: bold; }
.sage_home_title:hover  { text-decoration: underline; }
.sage_home_newstitle    { font-size: 15px; font-weight: bold; }

.sage_image_t  { border-width: 1; border-style: solid; border-color: #000000; }

.sage_insideborderline { }

.sage_line  { padding-top: 1px; }

.sage_list_t       { }
.sage_list_tch     { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_list_tcb     { font-family: verdana, arial; font-size: 13px; padding: 3px; }
.sage_list_tcb_alt { font-family: verdana, arial; font-size: 13px; padding: 3px; }

.sage_menu_t        { }
.sage_menu_tch      { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 2px 5px 3px 5px; }
.sage_menu_tcb      { font-family: arial, verdana; font-size: 13px; padding: 6; }
.sage_menu_h        { font-family: arial, verdana; line-height: 130%; font-size: 13px; font-weight: bold; }
.sage_menu_l        { font-family: arial, verdana; line-height: 130%; font-size: 13px; font-weight: normal; text-decoration: underline; margin-left: 5px; }
.sage_menu_l_right  { font-family: arial, verdana; line-height: 130%; font-size: 13px; font-weight: normal; text-decoration: underline; }

.sage_navigate_t   { border-width: 1px 0px 1px 0px; border-style: solid; }
.sage_navigate_tch { font-family: verdana, arial; font-size: 12px; font-weight: bold; padding: 3; padding-left: 5; padding-right: 5; }
.sage_navigate_tcb { font-family: verdana, arial; font-size: 13px; padding: 5px 5px 5px 5px; }

.sage_network_t           { padding: 2px 4px 2px 4px; }
.sage_network_prompt      { font-family: arial; font-size: 11px; }
.sage_network_text        { font-family: arial; font-size: 11px; }
.sage_network_link        { font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; }
.sage_network_link:hover  { font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; }

.sage_page_t    { border-width: 1; border-style: solid; }
.sage_page_tcb  { }

.sage_pagebody_tcb       { padding: 5px 8px 5px 8px; }
.sage_pagebody_tcm       { padding: 5px 7px 5px 7px; }
.sage_pagebody_tc_right  { padding: 5px 7px 5px 2px; }
.sage_pagebody_tc_ad728  { }
.sage_pagebody_tc_login  { }
.sage_pagebody_tctabs    { }

.sage_subtabs_t       { padding: 3px 10px 8px 10px; }
.sage_subtabs_text    { font-size: 12px; font-weight: bold; }
.sage_subtabs_active  { font-size: 14px; font-weight: bold; }
.sage_subtabs_l       { font-weight: bold; text-decoration: none; }

.sage_tabs_t                 { background-image: url('/sage/images/gamez/themes/tabs-bg.gif'); }
.sage_tabs_tc_active         { background-image: url('/sage/images/gamez/themes/tabs-bga.gif'); padding-left: 5px; }
.sage_tabs_tc_inactive       { background-image: url('/sage/images/gamez/themes/tabs-bgia.gif'); padding-left: 5px; }
.sage_tabs_tc_line           { background: #000000; }
.sage_tabs_l                 { font-weight: bold; text-decoration: none; }
.sage_tabs_l_active          { font-family: verdana, arial; font-size: 11px; font-weight: bold; text-decoration: none; color: #333333; }
.sage_tabs_l_active:hover    { }
.sage_tabs_l_inactive        { font-family: verdana, arial; font-size: 10px; font-weight: bold; text-decoration: none; color: #FFFFFF; }
.sage_tabs_l_inactive:hover  { color: #333333; }

.sage_textbar_t              { font-family: verdana, arial; font-size: 10px; font-weight: normal; padding: 3px 5px 3px 5px; }
.sage_textbar_t              { background-color: #EEEEEE; color: #000000; }



























.sage_italic                       { font-style: italic; }
.sage_underline                    { text-decoration: underline; }
.sage_nounderline                  { text-decoration: none; }
.sage_lineheight_100               { line-height: 100%; }
.sage_lineheight_110               { line-height: 110%; }
.sage_lineheight_120               { line-height: 120%; }
.sage_lineheight_130               { line-height: 130%; }
.sage_lineheight_140               { line-height: 140%; }

.sage_body                         { }

.sage_line                         { }

.sage_padding_5                    { padding: 5; }
.sage_padding_10                   { padding: 10; }

.sage_hspace_1                     { padding-left: 1; padding-right: 1; }
.sage_hspace_2                     { padding-left: 2; padding-right: 2; }
.sage_hspace_3                     { padding-left: 3; padding-right: 3; }
.sage_hspace_4                     { padding-left: 4; padding-right: 4; }
.sage_hspace_5                     { padding-left: 5; padding-right: 5; }

.sage_fontsize_10                  { font-size: 10px; }
.sage_fontsize_11                  { font-size: 11px; }
.sage_fontsize_12                  { font-size: 12px; }
.sage_fontsize_13                  { font-size: 13px; }
.sage_fontsize_14                  { font-size: 14px; }
.sage_fontsize_15                  { font-size: 15px; }
.sage_fontsize_16                  { font-size: 16px; }
.sage_fontsize_17                  { font-size: 17px; }
.sage_fontsize_18                  { font-size: 18px; }
.sage_fontsize_19                  { font-size: 19px; }
.sage_fontsize_20                  { font-size: 20px; }

.sage_bold                         { font-weight: bold; }

.sage_text_tiny            { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: normal; }
.sage_text_small           { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: normal; }
.sage_text_medium          { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: normal; }
.sage_text                 { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; }
.sage_text_big             { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: normal; }
.sage_text_large           { line-height: 100%; font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; }

.sage_error_tiny           { font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FF0000; }
.sage_error_small          { font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FF0000; }
.sage_error_medium         { font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: normal; color: #FF0000; }
.sage_error                { font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #FF0000; }
.sage_error_big            { font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: normal; color: #FF0000; }
.sage_error_large          { font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FF0000; }

.sage_prompt_tiny          { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.sage_prompt_small         { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.sage_prompt_medium        { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: bold; }
.sage_prompt               { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.sage_prompt_big           { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; }
.sage_prompt_large         { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; }

.sage_note_tiny            { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FF0000; }
.sage_note_small           { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF0000; }
.sage_note_medium          { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FF0000; }
.sage_note                 { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF0000; }
.sage_note_big             { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FF0000; }
.sage_note_large           { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FF0000; }








.sage_form_file                    { background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; height: 20; }
.sage_form_select                  { background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; height: 22; }
.sage_form_select_medium           { background: #FFFFFF; font-family: verdana, arial; font-size: 11px; border-width: 1; height: 22; }
.sage_form_select_small            { background: #FFFFFF; font-family: arial; font-size: 11px; border-width: 1; height: 20; }
.sage_form_text                    { border-color: #999999; background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; border-style: inset; font-size: 13px; }
.sage_form_text_small              { border-color: #999999; background: #FFFFFF; font-family: verdana, arial; font-size: 11px; border-width: 1; border-style: inset; height: 18; }
.sage_form_textarea                { border-color: #999999; width: 100%; background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; border-style: inset; }
.sage_form_submit                  { border-width: 1px; border-style: solid; height: 21; font-size: 13px; }
.sage_form_submit_small            { border-width: 1px; border-style: solid; height: 19; font-size: 9px; }

.sage_faqqle_points_big            { color: #FFFFFF; font-family: arial; font-weight: bold; font-size: 20px; line-height: 95% }
.sage_faqqle_points                { color: #FFFFFF; font-family: arial; font-size: 13px; line-height: 95% }
.sage_faqqle_points_small          { color: #FFFFFF; font-family: arial; font-size: 10px; line-height: 95% }
.sage_faqqle_points_table          { background: #DDDDDD; padding: 5; }

.sage_faqqle_points_active         { background: #FF9900; }
.sage_faqqle_points_open           { background: #CC0000; }
.sage_faqqle_points_closed         { background: #999999; }


























.sage_redirect_t                   { background: #6699CC; }
.sage_out_upperline                { background: #99CCFF; }
.sage_out_lowerline                { background: #113355; }
.sage_out_table                    { background: #003366; padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 3px; }
.sage_out_line                     { background: #000000; }
.sage_out_gamenotover              { color: #99CCFF; font-family: arial; font-size: 14px; }
.sage_out_prompt                   { color: #99CCFF; font-family: arial; font-size: 14px; }
.sage_out_text                     { color: #FFFFFF; font-family: arial; font-size: 14px; }
.sage_out_link                     { color: #FFFFFF; font-family: arial; font-size: 14px; font-weight: bold; text-decoration: none; }
.sage_out_link:hover               { color: #FFFF00; font-family: arial; font-size: 14px; font-weight: bold; text-decoration: none; }



.sage_ulink                        { text-decoration: underline; }
.sage_bulink                       { text-decoration: underline; font-weight: bold; }
.sage_link                         { text-decoration: none; }
.sage_blink                        { text-decoration: none; font-weight: bold; }
















/*
body                              { background: #FFFFFF; color: #444444; padding: 0; scrollbar-base-color: #666666; scrollbar-arrow-color: #FFFFFF; }
.sage_table_page                  { border: 0; border-style: solid; border-color: #000000; padding: 10; }

.sage_borderline                  { background: #000000; }

.sage_default_table               { border-width: 0; padding: 0; }
.sage_default_cell_content        { font-family: verdana, arial; font-size: 13px; padding: 10; }
.sage_default_cell_content_alt    { font-family: verdana, arial; font-size: 13px; padding: 10; }
.sage_default_cell_body           { font-family: verdana, arial; font-size: 13px; padding: 4; }
.sage_default_cell_body_alt       { font-family: verdana, arial; font-size: 13px; padding: 4; }
.sage_default_cell_menu           { font-family: verdana, arial; font-size: 13px; padding: 4; }
.sage_default_cell_form           { font-family: verdana, arial; font-size: 13px; padding: 5; }
.sage_default_cell_active         { font-family: verdana, arial; font-size: 13px; padding: 5; }
.sage_default_cell_info           { font-family: verdana, arial; font-size: 13px; padding: 8; }
.sage_default_cell_footer         { font-family: verdana, arial; font-size: 11px; padding: 5; font-weight: bold; }
.sage_default_cell_indent         { font-family: verdana, arial; font-size: 13px; padding-top: 10; padding-left: 20; padding-right: 20; padding-bottom: 15; }
.sage_default_cell_list           { font-family: verdana, arial; font-size: 13px; padding: 3; }
.sage_default_cell_list_alt       { font-family: verdana, arial; font-size: 13px; padding: 3; }
.sage_default_cell_header         { border-color: #FFFFFF; font-family: verdana, arial; font-size: 12px; font-weight: bold; border-width: 0; border-style: solid; padding: 3; padding-left: 5; padding-right: 5; }
.sage_default_cell_subheader      { font-family: verdana, arial; font-size: 11px; font-weight: bold; padding: 4; padding-left: 5; padding-right: 5; }
.sage_default_cell_full           { font-family: verdana, arial; font-size: 13px; padding: 0; }
.sage_default_cell_section        { font-family: verdana, arial; font-size: 13px; padding: 0; padding: 8; }



.sage_default_cell_content_header { border-color: #FFFFFF; font-family: verdana, arial; font-size: 13px; font-weight: bold; border-width: 0; border-style: solid; padding: 3; padding-left: 5; padding-right: 5; }






















.sage_adquote_text                 { font-family: verdana, arial; font-size: 13px; color: #FFFFFF; height:14; filter:GLOW(color=#000000,strength=3); }
.sage_adquote_text_small           { font-family: verdana, arial; font-size: 12px; color: #FFFFFF; }
.sage_adquote_url                  { font-family: verdana, arial; font-size: 13px; color: #FFFF00; text-decoration: underline; }
.sage_adquote_url:hover            { font-family: verdana, arial; font-size: 13px; color: #FFFFFF; text-decoration: none; }

.sage_network_table                { background: #000000; padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; }
.sage_network_prompt               { color: #CCCCCC; font-family: arial; font-size: 11px; }
.sage_network_text                 { color: #999999; font-family: arial; font-size: 11px; }
.sage_network_link                 { color: #FFFFFF; font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; }
.sage_network_link:hover           { color: #FFFF00; font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; }

.sage_promo_table                  { background: #000000; padding: 5px; }
.sage_promo_gamenotover            { color: #99CCFF; font-family: arial; font-size: 14px; }
.sage_promo_prompt                 { color: #FFFF00; font-family: arial; font-size: 14px; font-weight: bold; }
.sage_promo_text                   { color: #CCCCCC; font-family: arial; font-size: 14px; }
.sage_promo_text_small             { color: #CCCCCC; font-family: arial; font-size: 11px; }
.sage_promo_link                   { color: #FFFFFF; font-family: arial; font-size: 14px; font-weight: bold; text-decoration: underline; }
.sage_promo_link:hover             { color: #FFFF00; font-family: arial; font-size: 14px; font-weight: bold; text-decoration: none; }


.sage_blockquote                   { font-family: verdana, arial; font-size: 13px; padding-top: 0; padding-left: 20; padding-right: 20; padding-bottom: 0; }


.sage_default_quote                { font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 140%; font-style: italic; }

.sage_text_12              { font-size: 12px; }
.sage_text_13              { font-size: 13px; }
.sage_text_14              { font-size: 14px; }
.sage_text_15              { font-size: 15px; }
.sage_text_body            { line-height: 130%; font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: normal; margin-top: 10px; margin-left: 20px; margin-right: 20px; margin-bottom: 15px; }

.sage_error_body           { font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 15px; color: #FF0000; }

.sage_prompt_12            { font-size: 12px; }
.sage_prompt_13            { font-size: 13px; }
.sage_prompt_14            { font-size: 14px; }
.sage_prompt_15            { font-size: 15px; }

.sage_default_ulink                { text-decoration: underline; }
.sage_default_link                 { text-decoration: none; }
.sage_default_link:hover           { text-decoration: underline; }

.sage_default_table_quote          { border-width: 1; border-style: solid; font-family: verdana, arial; font-size: 11px; padding: 4; }
.sage_default_table_info           { font-family: verdana, arial; font-size: 13px; padding: 7; }

.sage_table_info                   { font-family: verdana, arial; font-size: 13px; padding: 7; }
.sage_table_normal                 { font-family: verdana, arial; font-size: 13px; padding: 1; }

.sage_hierarchy_table              { }
.sage_hierarchy_link               { font-family: verdana, arial; font-size: 11px; font-weight: normal; text-decoration: none; }
.sage_hierarchy_text               { font-family: verdana, arial; font-size: 11px; }

.sage_textbar_t                    { font-family: verdana, arial; font-size: 10px; font-weight: normal; padding-top: 4; padding-left: 5; padding-right: 5; padding-bottom: 4; }

.sage_page_menu                    { }
.sage_page_menu_body               { padding: 4; }
.sage_page_body                    { padding-top: 10; padding-left: 10; padding-right: 10; padding-bottom: 10; }
.sage_page_border                  { padding: 1; }
.sage_page_vborder                 { }
.sage_page_hborder                 { }

.sage_image_table                  { border-width: 1; border-style: solid; padding: 0; border-color: #000000; }

.sage_default_list_header          { padding: 4; }
.sage_default_list_body            { padding: 4; }
.sage_default_list_body_alt        { padding: 4; }

.sage_form_file                    { background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; height: 20; }
.sage_form_select                  { background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; height: 22; }
.sage_form_selectmedium            { background: #FFFFFF; font-family: verdana, arial; font-size: 11px; border-width: 1; height: 22; }
.sage_form_selectsmall             { background: #FFFFFF; font-family: verdana, arial; font-size: 10px; border-width: 1; height: 20; }

.sage_form_text                    { border-color: #999999; background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; border-style: inset; font-size: 13px; }
.sage_form_textsmall               { border-color: #999999; background: #FFFFFF; font-family: verdana, arial; font-size: 11px; border-width: 1; border-style: inset; height: 18; }

.sage_form_textarea                { border-color: #999999; width: 100%; background: #FFFFFF; font-family: verdana, arial; font-size: 12px; border-width: 1; border-style: inset; }
.sage_form_submit                  { height: 21; font-size: 13px; }
.sage_form_submitsmall             { height: 19; font-size: 9px; }

.sage_menu_header                  { font-family: verdana, arial; font-size: 11px; font-weight: bold; padding: 2; padding-left: 5; padding-right: 5; }
.sage_menu_body                    { border-width: 1; border-style: solid; padding: 3; }
.sage_menu_side                    { padding: 4; }
.sage_menu_prompt                  { font-family: verdana, arial; font-size: 11px; font-weight: bold; }
.sage_menu_text                    { font-family: verdana, arial; font-size: 11px; }
.sage_menu_link                    { font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; padding: 0; padding-top: 1px; padding-bottom: 1px; }
.sage_menu_link:hover              { }
.sage_menu_spacer                  { }
.sage_menu_note                    { font-family: arial; font-size: 10px; font-weight: bold; }

.sage_default_plaintext            { font-family: courier; font-size: 10px; font-weight: normal; }

.sage_normal                       { font-weight: normal; }

.sage_panel_table                  { background: #000000; }
.sage_panel_body                   { background: #336699; padding: 2; }
.sage_panel_body_selected          { background: #6699CC; padding: 2; }
.sage_panel_link                   { color: #FFFFFF; font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; }
.sage_panel_link:hover             { color: #FFFFFF; }

.sage_black_line                   { background: #000000; }

.sage_fullwidth                    { width: 100%; }






.sage_cell_answer_header          { font-family: verdana, arial; font-size: 13px; padding: 10; }
.sage_cell_answer_body            { font-family: verdana, arial; font-size: 13px; padding: 10; }
.sage_cell_answer_body_alt        { font-family: verdana, arial; font-size: 13px; padding: 10; }
.sage_cell_answer_header          { }
.sage_cell_answer_body            { }
.sage_cell_answer_body_alt        { }

.sage_cell_question_header        { font-family: verdana, arial; font-size: 13px; padding: 2; }
.sage_cell_question_menu          { font-family: verdana, arial; font-size: 13px; padding: 5; }
.sage_cell_question_body          { font-family: verdana, arial; font-size: 13px; padding-left: 10; padding-top: 5; padding-right: 10; padding-bottom: 15; }
.sage_cell_question_body_alt      { font-family: verdana, arial; font-size: 13px; padding-left: 10; padding-top: 5; padding-right: 10; padding-bottom: 15; }
.sage_cell_question_header        { }
.sage_cell_question_menu          { }
.sage_cell_question_body          { }
.sage_cell_question_body_alt      { }


.sage_logo                        { font-family: arial; font-size: 24px; }

.sage_tab_space                   { padding: 1; }
.sage_tab_active_line             { padding-left: 10; padding-right: 10; border-width: 1; border-bottom-width: 0; border-style: solid; border-color: #000000; }
.sage_tab_active                  { padding: 3; padding-left: 10; padding-right: 10; border-width: 1; border-bottom-width: 0; border-style: solid; border-color: #000000; }
.sage_tab_active_link             { font-family: arial; font-size: 12px; font-weight: bold; text-decoration: none; }
.sage_tab_active_link:hover       { text-decoration: underline; }
.sage_tab_text                    { font-family: arial; font-size: 12px; font-weight: normal; }
.sage_tab_inactive                { padding: 3; padding-left: 5; padding-right: 5; border-width: 1; border-bottom-width: 0; border-style: solid; border-color: #000000; }
.sage_tab_inactive_link           { font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; }
.sage_tab_inactive_link:hover     { text-decoration: underline; }


.sage_announcement_table          { background: #336699; padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; }
.sage_announcement_prompt         { color: #FFFF00; font-family: arial; font-size: 13px; font-weight: bold; }
.sage_announcement_text           { color: #FFFFFF; font-family: arial; font-size: 13px; }
.sage_announcement_link           { color: #FFFFFF; font-family: arial; font-size: 13px; font-weight: bold; text-decoration: none; }
.sage_announcement_link:hover     { color: #FFFF00; font-family: arial; font-size: 13px; font-weight: bold; text-decoration: none; }

.sage_dividerline                 { background: #FFFFFF; padding: 2; border-width: 0; }

.sage_default_cell_content_header { color: #FFFFFF; font-family: verdana, arial; font-size: 13px; }




.sage_faqqle_form_answer_accepted  { background-color: #990000; color: #FFFFFF; border-width: 1; border-top-color: #CC0000; border-left-color: #CC0000; border-right-color: #660000; border-bottom-color: #660000; font-weight: bold; height: 23; width: 300; font-size: 13px; } 
.sage_faqqle_form_answer_partial   { background-color: #CC6600; color: #FFFFFF; border-width: 1; border-top-color: #FF9900; border-left-color: #FF9900; border-right-color: #993300; border-bottom-color: #993300; font-weight: bold; height: 23; width: 300; font-size: 13px; }
.sage_faqqle_form_answer_bad       { background-color: #666666; color: #FFFFFF; border-width: 1; border-top-color: #999999; border-left-color: #999999; border-right-color: #333333; border-bottom-color: #333333; font-weight: bold; height: 23; width: 300; font-size: 13px; }

.sage_faqqle_form_answer_accepted  { background-color: #990000; color: #FFFFFF; border-width: 1; border-top-color: #CC0000; border-left-color: #CC0000; border-right-color: #660000; border-bottom-color: #660000; font-weight: bold; height: 23; width: 170; font-size: 13px; } 
.sage_faqqle_form_answer_partial   { background-color: #CC6600; color: #FFFFFF; border-width: 1; border-top-color: #FF9900; border-left-color: #FF9900; border-right-color: #993300; border-bottom-color: #993300; font-weight: bold; height: 23; width: 170; font-size: 13px; }
.sage_faqqle_form_answer_bad       { background-color: #666666; color: #FFFFFF; border-width: 1; border-top-color: #999999; border-left-color: #999999; border-right-color: #333333; border-bottom-color: #333333; font-weight: bold; height: 23; width: 170; font-size: 13px; }




.sage_cell_menu                   { font-family: verdana, arial; font-size: 13px; padding: 1; }
*/