BODY {
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;  

	scrollbar-face-color: #333333;
	scrollbar-shadow-color: #999999;
	scrollbar-highlight-color: #cccccc;
	scrollbar-3dlight-color: #888888;
	scrollbar-darkshadow-color: #444444;
	scrollbar-track-color: #222222;
	scrollbar-arrow-color: #cccccc; 

        background-color: #444444;
        background-image: url("grafx/bg.gif");

        font-family: Verdana, Arial;
        font-size: 12px;
        color: #CCCCCC;
     }

.body { width: 750px; }


A:link    { text-decoration: none; font-weight: bold; font-style: none; color: #00BFFF }
A:visited { text-decoration: none; font-weight: bold; font-style: none; color: #00BFFF }
A:hover   { text-decoration: none; font-weight: bold; font-style: none; color: #FFFF00 }
A:active  { text-decoration: none; font-weight: bold; font-style: none; color: #FFFF00 }

a.nav:visited { font-family: Verdana, Arial; font-size: 11px; font-style: normal; text-decoration: none; color: #FFFFFF; font-weight: normal; height: auto; width: 100%; background-color: #182651; border: 1px #182651 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px }
a.nav:hover   { font-family: Verdana, Arial; font-size: 11px; font-style: normal; text-decoration: none; color: #000000; font-weight: normal; height: auto; width: 100%; background-color: #7A85B1; border: 1px #7A85B1 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px }
a.nav:link    { font-family: Verdana, Arial; font-size: 11px; font-style: normal; text-decoration: none; color: #FFFFFF; font-weight: normal; height: auto; width: 100%; background-color: #182651; border: 1px #182651 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px }
a.nav:active  { font-family: Verdana, Arial; font-size: 11px; font-style: normal; text-decoration: none; color: #000000; font-weight: bold;   height: auto; width: 100%; background-color: #A6ADD2; border: 1px #A6ADD2 solid; padding-top: 5px; padding-right: 2px; padding-bottom: 5px; padding-left: 2px }


.selectbox {font-family: Verdana, Arial; font-size: 7pt; text-align: left;
            scrollbar-arrow-color: silver;
            scrollbar-base-color: #411313;
            scrollbar-dark-shadow-color: #411313;
            scrollbar-track-color: #411313;
            background-color: #aaaaaa;
            color: black;
           }


.table1 { width: 750px; padding: 0.0em; margin: 0.0em; border-width: 0px; }
 .table1-row1 {}
  .table1-row1-cell1 { width: 750px; height: 150px; vertical-align: bottom; text-align: right; padding-bottom: .0em; padding-right: .3em; }
 .table1-row2 {}
  .table1-row2-cell1 {}
  .table1-row2-cell2 {}
 .table1-row3 {}
  .table1-row3-cell1 { width: 150px; padding-top: .5em; vertical-align: top; text-align: center; }
  .table1-row3-cell2 { width: 600px; padding-top: .5em; vertical-align: top; text-align: center; }
 .table1-row4 {}
  .table1-row4-cell1 { height: 0px; }
  .table1-row4-cell2 { height: 0px; font-size: 10px; text-align: center; }


.scrollMSG { background-image: url("grafx/bg-text.gif"); width: 718px; BACKGROUND-COLOR: #000000 ; FONT-WEIGHT: BOLD; FONT-SIZE: 12px; COLOR: #ffff00; border-width: 0px; }


.menu-border  { width: 95%; padding: 0px; margin-bottom: 5px; border-width: 0px; }
.menu-outline { background-color: #ffffff; }
.menu-content { width: 100%; height: 275px; border-width: 0px; background-image: url("grafx/bg-text.gif"); background-color: #000000; padding-top: 1.0em; padding-left: .5em; padding-bottom: 1.0em; padding-right: .5em; font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; vertical-align: top; }


.headcount-border  { width: 95%; padding: 0px; margin-bottom: 5px; border-width: 0px; }
.headcount-outline { background-color: #00BFFF; }
.headcount-header  { text-align: center; color: #ffff00; font-weight: bold; }
.headcount-title   { text-align: center; color: #00ff00; font-weight: bold; }
.headcount-content { width: 100%; border-width: 0px; background-image: url("grafx/bg-text.gif"); background-color: #000000; padding-top: 1.0em; padding-left: .5em; padding-bottom: 1.0em; padding-right: .5em; font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; vertical-align: top; }


.credits-border  { width: 95%; padding: 0px; margin-bottom: 5px; border-width: 0px; }
.credits-outline { background-color: #00BFFF; }
.credits         { width: 100%; border-width: 0px; background-image: url("grafx/bg-text.gif"); background-color: #000000; padding-top: 1.0em; padding-left: .5em; padding-bottom: 1.0em; padding-right: .5em; font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; vertical-align: top; text-align: center; }


.content-border  { width: 600px; padding: 0px; margin-bottom: 5px; border-width: 0px; }
.content-outline { background-color: #00BFFF; }
.content-header  { text-align: center; font-size: 17px; color: #ffff00; font-weight: normal; }
.content-title   { text-align: center; font-size: 15px; color: #00ff00; font-weight: bold; }
.content         { background-image: url("grafx/bg-text.gif"); background-color: #000000; font-family: Verdana, Arial; font-size: 13px; color: #CCCCCC; }
.content-inset   { font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; }
.content-rank    { font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; }

.ss-content-border  { width: 700px; padding: 10px; margin-bottom: 5px; border-width: 0px; }
.ss-content-outline { background-color: #ffffff; }
.ss-content-header  { text-align: center; font-size: 17px; color: #ffff00; font-weight: normal; }
.ss-content-title   { text-align: center; font-size: 15px; color: #00ff00; font-weight: bold; }
.ss-content         { background-image: url("grafx/bg-text.gif"); background-color: #000000; font-family: Verdana, Arial; font-size: 13px; color: #CCCCCC; }
.ss-content-inset   { font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; }


.traders-content-border  { width: 298px; padding: 0px; margin-bottom: 5px; border-width: 0px; }
.traders-content-outline { background-color: #ffffff; }
.traders-content-header  { text-align: center; font-size: 17px; color: #ffff00; font-weight: normal; }
.traders-content-title   { text-align: center; font-size: 15px; color: #00ff00; font-weight: bold; }
.traders-content         { background-image: url("grafx/bg-text.gif"); background-color: #000000; font-family: Verdana, Arial; font-size: 13px; color: #CCCCCC; }
.traders-content-inset   { font-family: Verdana, Arial; font-size: 10px; color: #CCCCCC; }


.newsdate  { font-family: verdana, Arial; font-size: 12px; font-weight: bold; color: #00ff00; }
.newstitle { font-family: verdana, Arial; font-size: 17px; color: #dddddd; }
.newsby    { font-family: verdana, Helvetica, sans-serif; font-size: 11px; font-style: italic; color: #cccccc; } 
.newsbody  { font-family: verdana, Arial; font-size: 13px; color: #CCCCCC; }


.questdate  { font-family: verdana, Arial; font-size: 10px; }


.IE-button {}
.NS-button { height: 31px; width: 88px; }


.roster-search { text-align: center; padding: .5em; }
