
 A:link   {
     color: #0000FF;
     text-decoration: underline;
  }

 A:visited {
     color: #003366;
     text-decoration: underline;
  }

 A:active  {
     color: #FF3333;
     text-decoration: none;
  }

 A:hover   {
     color: #CC0000;
     text-decoration: underline overline;
  }


BODY {
        scrollbar-arrow-color:#666666;
	scrollbar-base-color:#666666;
	scrollbar-shadow-color:#666666;
	scrollbar-track-color:#F3F3F3;
	scrollbar-face-color:#FFD99F;
	scrollbar-highlight-color:#666666;
	scrollbar-darkshadow-color:#F3F3f3;
	scrollbar-3dlight-color:#F3F3F3;
}

abbr, acronym, dfn, .popup {
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
    border-style: dashed;
    border-color: green;
    border-width: 0px 0px 2px 0px;
    cursor: help;
  }
   .title {
    font-size   : 22pt;
    line-height : 20pt;
  }
  .title2 {
    font-size   : 140%;
    line-height : 180%;
  }
  .title3 {
    font-size   : 30pt;
    line-height : 30pt;
  }
  .main {
    font-size   : 108%;
    line-height : 170%;
    color       : #333333;
  }
  .mini {
    font-size   : 10pt;
    line-height : 14pt;
  }
  .midashi {
    font-size   : 14pt;
    line-height : 15pt;
  }
  .copyright {
    font-size   : 10pt;
    line-height : 13pt;
    color       : #C6D2E3;
  }
