BODY {
	background-color	: #181818;
	color			: #FFFFFF;

	scrollbar-face-color		: #222222;
	scrollbar-shadow-color		: #222222;
	scrollbar-highlight-color	: #383838;
	scrollbar-3dlight-color		: #222222;
	scrollbar-darkshadow-color	: #383838;
	scrollbar-track-color		: #222222;
	scrollbar-arrow-color		: #383838;
}

BODY,TD,TH {
	font-size		: 10px;
	font-family		: verdana, verdana, verdana;
	margin			: 0px
}


a:link
{
	color:  #c0c0c0;
	text-decoration: none;
}
a:visited
{
	color:  #c0c0c0;
	text-decoration: none;
}
a:hover, a:active
{
	color:  #FFFFFF;
	text-decoration: none;
}

INPUT, SELECT, TEXTAREA {
	font-size		 : 11px;
	font-family		 : verdana, verdana, verdana;	
	background-color	 : #c0c0c0;
	color			 : #000000;
}

.news
{
	background: #222222;
	color: #c0c0c0;
	font 11px verdana, geneva, arial;
}

.filters
{
	background: #444444;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #000000;
}

TH {
	background-color	: #444444;
}

TD { 
	color			: #CCCCCC; 
}

.guild {
	color			: #6699CC;
}

.guild A {
	text-decoration		: none;
	color			: #6699CC;
}

.header {
	background-color	: #272F38;
}

.content {
	background-color	: #333333;
	padding-top		: 10px;
	padding-bottom		: 10px;
	padding-left		: 10px;
	padding-right		: 10px;
}

.odd {
	background-color: #292929;
}

TH {
	text-align		: left;
}

A {
	color			: #6699FF;
}

H1 {
	font-size		: 16px;
	font-weight		: bold;
	display			: none;
}

H2 {
	font-size		: 16px;
	font-weight		: bold;
}

H5 {
	margin-top		: 15px;
	margin-bottom		: 15px;
	font-weight		: normal;
	font-size		: 12px;
}

.footer {
	padding-top		: 10px;
	padding-bottom		: 5px;
	font-family		: verdana;
	font-size		: 9px;
	text-align		: center;
	text-decoration		: none;
}

LI {
	padding-bottom		: 5px;
	font-weight		: bold;
}

.normal {
	font-weight		: normal;
}
