p, body, tr, td, th, form, select, li {

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-bottom: 5px;
margin-top: 5px;
}

.header-a {
font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
font-size: 24px;
color: #000099;
font-weight: bold; 
}

.header-b {
font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
font-size: 18px;
line-height: 24px;
color: #000000;
font-weight: bold; 
margin-bottom: 4px;
}

a:active, a:link, a:visited {
color: #000099;
text-decoration: underline;
}

a:hover {
color: #2266ff;
text-decoration: none;
}


/*old unused styles*/

input {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #333333;

}

.tableoutline {

background-color: #EEEEEE;

border: 1px solid #999999;

}

textarea {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

border: 1px solid #999999;

color: #333333;

background-color: #EEEEEE;

}


ul {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

list-style-type: square;

list-style-position: outside;

}

.listsmall {

font-family: Arial, Helvetica, sans-serif;

font-size: 10px;

line-height: 14px;

}

ol {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

list-style-type: decimal;

list-style-position: outside;

}

.small {

font-family: Arial, Helvetica, sans-serif;

font-size: 9px;

}

.big {

font-family: Arial, Helvetica, sans-serif;

font-size: 18px;

}


.box1 {

border: 1px solid #999999;

}

.box2 {

border-width: 3px;

border-style: solid;

padding: 5px;

}

.PageTitle {

font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

color: #333333;

font-weight: bold;

}

.footer {

font-family: Arial, Helvetica, sans-serif;

font-size: 11px;

color: #999999;

font-weight: bold;

}

.footer-text {

font-family: Arial, Helvetica, sans-serif;

font-size: 11px;

color: #333333;

}

.tab-text {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #000099;

}

.dg1_alternatingitem {

background-color: #FFFFFF;

}

.dg1_footer {

color: #404040;

background-color: #BBD6EF;

}

.dg1_header

{

font-weight: bold;

color: #000099;

background-color: #BBD6EF;

text-align: center;

}

.dg1_grid

{

color: #000000;

background-color: #eff7ff;

text-align: center;

border-color: #BBD6EF;

}

a:active

{

color: #000099;

text-decoration: underline;

}

a:hover

{

color: #2266ff;

text-decoration: none;

}

a:link

{

color: #000099;

text-decoration: underline;

}


dg_link:active

{

color: #000099;

text-decoration: none;

}

dg_link:hover

{

color: #0000CC;

text-decoration: underline;

}

dg_link:visited

{

color: #000099;

text-decoration: none;

}

.steps {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #000099;

font-weight: bold;

} 

.title {

font-family: Arial, Helvetica, sans-serif;

font-size: 16px;

color: #000000;


}

.visible_url {

font-family: Arial, Helvetica, sans-serif;

font-size: 8pt;

color: #008000;

}

.header_textbox

{

font-family: Monospace;

}

.required {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #FF0000;

}

.highlight {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

color: #FF6600;

}

.index-title2 {
font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
font-size: 20px;
line-height: 24px;
color: #000000;
font-weight: bold; 
margin-bottom: 4px;
}

.index-title {

font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
font-size: 25px;
line-height: 25px;
color: #ffffff;
font-weight: bold; 
background-color: #000099;
width: 100%;
text-align: left;
vertical-align: baseline;
padding: 5px;
margin: 5px 0px 5px 0px;

}

.index-title-misc {

font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
font-size: 28px;
line-height: 28px;
color: #ffffff;
/*color: #000000;*/
font-weight: bold; 
background-color: #000099;
text-align: center;
vertical-align: baseline;
padding: 10px;
margin: 5px 0px 5px 0px;

}

.title-white {

font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;

font-size: 22px;

color: #FFFFFF;

font-weight: bold; 

}

.index-text {

font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

color: #000099;


}

.landing-title {

font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;

font-size: 24px;

color: #000099;

font-weight: bold; 

}

.landing-text {

font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

color: #000000;

font-weight: bold;

}

.landing-text2 {

font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

color: #000099;

font-weight: bold;

}

.sidebar-white {

font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

color: #ffffff;

font-weight: bold;

margin: 5px;

}
.sidebar-textsmall {

font-family: Arial, Helvetica, sans-serif;

font-size: 10px;

margin: 6px;

}
.sidebar-text {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

margin: 6px;

}
.footer-white {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

margin: 6px;

color: #ffffff

}

.list1 {

font-family: Arial, Helvetica, sans-serif;

font-size: 12px;

line-height: 18px;

margin: 6px;


}

.list2 {

font-family: Arial, Helvetica, sans-serif;

font-size: 10px;

line-height: 14px;

margin: 12px;

}


.hand-cursor {

cursor:hand;

}