BODY
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Arial, sans-serif;
    FONT-SIZE: 11px
}
TD
{
    FONT-FAMILY: Tahoma, Arial, sans-serif;
    FONT-SIZE: 11px
}
SELECT
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, sans-serif;
    FONT-SIZE: 11px
}
INPUT
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, sans-serif;
    FONT-SIZE: 11px
}
TEXTAREA
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, sans-serif;
    FONT-SIZE: 11px
}
.headline
{
    COLOR: #000000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
.memList
{
    WIDTH: 140px
}
.commentHeading
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 9px;
    FONT-STYLE: italic
}
.tableheading
{
    BACKGROUND-COLOR: #bbccbb
}
.tableheading2
{
    BACKGROUND-COLOR: #bbccbb;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
