A {text-decoration:none;}
A:hover {text-decoration:underline;}

.bluepollold { background-color: #99CCFE }
.bluepoll { background-color: #99CCFE; font-size: 11px; }

.fsize2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
.fsize3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;}
.s0Cb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366;}
.s0Cc  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #99CCFF;}
.s0Cd  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CCCCCC;}

.s1cA  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0000FF;}
.s1cAb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0000FF; font-weight:bold;}
.s1cB  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #800000;}
.s1cBb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #800000; font-weight:bold;}
.s1cC  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000080;}
.s1cCb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000080; font-weight-bold;}
.s1cD  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFF00;}
.s1cDb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFF00; font-weight-bold;}
.s1cE  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF;}


.s2cA  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF;}
.s2cAb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; font-weight:bold;}
.s2cB  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #800000;}
.s2cBb {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #800000; font-weight:bold;}
.s2cC  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000080;}
.s2cCb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000080; font-weight-bold;}
.s2cD  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFF00;}
.s2cDb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFF00; font-weight-bold;}
.s2cE  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF;}


.s3cA  {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #0000FF;}
.s3cAb  {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #0000FF; font-weight:bold;}
.s3cB  {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #800000;}
.s3cBb {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #800000; font-weight:bold;}
.s3cC  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #000080;}
.s3cCb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #000080; font-weight-bold;}
.s3cD  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFF00;}
.s3cDb  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFF00; font-weight-bold;}
.s3cE  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFFFF;}


.s4cAb  {font-family: Arial, Helvetica, sans-serif; font-size: 21px; color: #000000; font-weight:bold;}
.s4cBb  {font-family: Arial, Helvetica, sans-serif; font-size: 21px; color: #800000; font-weight:bold;}
