.title {		text-align: left;
			font-size: 20pt;
			margin-left: 30px;
			color: #7D3F00;
			font-family: Arial, sans-serif; }
.daily-heading {	text-align: left;
			font-size: 16pt;
			font-weight: bold;
			margin-left: 2%;
			color: black;
			font-family: Arial, sans-serif; }
.permalink {		text-align: left;
			font-size: 9pt;
			margin-left: 20px;
			color: #000060;
			font-family: Arial, sans-serif; }
.blog-item {		text-align: left;
			font-size: 10pt;
			margin-left: 5%;
			color: black;
			font-family: Arial, sans-serif; }
/* .blog {			text-align: left;
			margin-left: 5%; } */
A:link {		text-decoration: none; 
			color: #7D3F00; }
A:active {		text-decoration: underline; 
			color: white; }
A:visited {		text-decoration: none; 
			color: black; }
BODY {			background-color: #C2C0A5; }
