.m0l0mouto, .m0l1mouto, .m0l2mouto {
	background: #1D6465;
	border : 1px solid #000000;
	margin: 0px;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
}
.m0l0mouti, .m0l1mouti, .m0l2mouti {
	color: #FFC610;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	padding: 2px;
}
.m0l0movero, .m0l1movero, .m0l2movero {
	background: #1CB2B0;
	border : 1px solid #000000;
	margin: 0px;
}
.m0l0moveri, .m0l1moveri, .m0l2moveri {
	color: #000000;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	padding: 2px;
}
.m0l0mdowno, .m0l1mdowno, .m0l2mdowno {
	background: #21CFCD;
	border : 1px solid #000000;
	margin: 0px;
}
.m0l0mdowni, .m0l1mdowni, .m0l2mdowni {
	color: yellow;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
	padding: 2px;
}
