BODY {           background-color: #411313;
                 background-image: url("grafx/bg.jpg");
            scrollbar-arrow-color: silver;
             scrollbar-base-color: #411313;
      scrollbar-dark-shadow-color: #411313;
            scrollbar-track-color: #411313;
                      font-family: Verdana, Arial;
                        font-size: 8pt;
                            color: silver;
     }


A:link    {color:"silver";}
A:visited {color:"silver";}
A:hover   {color:"#ffff00";}


.PictureFrame {      margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }


.TextFrame    {       width: 640px;
                     margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }

.TextLinkFrame{       width: 300px;
                     margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
              }

.Row1         {background-color: #aaaaaa;
                          color: black;
                    font-family: Verdana, Arial;
                      font-size: 12pt;
              }
.Row2         {background-color: silver;
                          color: black;
                    font-family: Verdana, Arial;
                      font-size: 10pt;
              }
.Row3         {background-color: #aaaaaa;
                          color: black;
                    font-family: Verdana, Arial;
                      font-size: 10pt;
              }

.Cell1        {background-color: silver;
                          color:black;
              }
.Cell2        {background-color: #666666;
                          color:black;
              }


.RosterFrame  {      margin: 0px;
               border-width: 5px;
               border-style: double;
               border-color: silver;
               background-color: silver;
              }

.tdheader1 {background-color: #aaaaaa; color: black; font-family: Verdana, Arial; font-size: 10pt; text-align: left}
.tdheader2 {background-color: #aaaaaa; color: black; font-family: Verdana, Arial; font-size: 10pt; text-align: center}
.tdLastSeenHeader {background-color: #aaaaaa; color: black; font-family: Verdana, Arial; font-size: 7pt; text-align: center}
.td1 {background-color: silver; color: black; font-family: Verdana, Arial; font-size: 10pt; text-align: left}
.td2 {background-color: silver; color: black; font-family: Verdana, Arial; font-size: 10pt; text-align: center}
.tdLastSeen {background-color: silver; color: black; font-family: Verdana, Arial; font-size: 7pt; text-align: center}
.form {font-family: Verdana, Arial; font-size: 10pt; font-weight: bold; text-align: left}
.selectbox {font-family: Verdana, Arial; font-size: 7pt; text-align: left;
            scrollbar-arrow-color: silver;
            scrollbar-base-color: #411313;
            scrollbar-dark-shadow-color: #411313;
            scrollbar-track-color: #411313;
            background-color: #aaaaaa;
            color: black;
           }
