body		{
			background-color: #666633;
			background-image: url();
			scrollbar-face-color: #666633;
			scrollbar-highlight-color: #666633;
			scrollbar-shadow-color: #666633;
			scrollbar-3dlight-color: #999966;
			scrollbar-arrow-color: #FFFFFF;
			scrollbar-track-color: #333300;
			scrollbar-darkshadow-color: #999966;
			scrollbar-width: 30;
			font-family: MS UI Gothic;
			font-size: 8pt;
			color: #FFFFFF;
		}

table		{ font-family: MS UI Gothic; color: #FFFFFF; font-size: 8pt }

tr		{ font-family: MS UI Gothic; color: #FFFFFF; font-size: 8pt }

th		{ font-family: MS UI Gothic; color: #FFFFFF; font-size: 8pt }

td		{ font-family: MS UI Gothic; color: #FFFFFF; font-size: 8pt }
				
a:visited 	{ color: #333300; text-decoration: none }

a:link 		{ color: #333300; text-decoration: none }

a:hover		{ color: #FFFFFF; text-decoration: underline }

a:active	{ color: #333300; text-decoration: none }

font.c2		{ font-family: Verdana; font-size: 8pt }

TEXTAREA	{
			BORDER-RIGHT: #FFFFFF 1px solid;
			BORDER-LEFT: #FFFFFF 1px solid;
			BORDER-BOTTOM: #FFFFFF 1px solid;
			BORDER-TOP: #FFFFFF 1px solid; 
			FONT-SIZE: 12px;
			COLOR: #000000;
		}

INPUT 		{
			BORDER-RIGHT: #FFFFFF 1px solid;
			BORDER-LEFT: #FFFFFF 1px solid;
			BORDER-TOP: #FFFFFF 1px solid;
			BORDER-BOTTOM: #FFFFFF 1px solid;
			FONT-SIZE: 12px;
			COLOR: #000000;
		}