
/* Basic Tags */


body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: black;
	background-color: #F9F9F9;
	margin-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

form {
	margin: 0px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
	font-size: 8px;
}

/* Simple Tags */

.justifytext {
	font-size: 12px;
	text-align: justify;
}

.smalltext {
	color: #244a7a;
	font-size: 8pt; 
}

a.smalltext {
	color: #244a7a;
	text-decoration: underline;
}

a.smalltext:hover {
	color: black;
}

.smalltextjustified {
	font-size: 8pt; 
	text-align: justify;
}
.smalltextunderline {
	font-size: 8pt; 
	border-bottom: 1px solid #005BA9; 
}

.SectionTitles { 
	font-size: 14px;
	font-weight: bold;
	color: #005BA9;
	border-bottom: 1px solid #005BA9; 
}
.SectionSubTitles { 
	font-size: 12px;
	font-weight: bold;
	color: #005BA9;
	border-bottom: 1px solid #005BA9; 
}

div.BluePageLine {
	width: 736;
	height: 1px;
	border-top: 1px solid #005BA9;
	padding-top: 20px;
	padding-bottom: 10px;
	
}	

td.blueline {
	border-bottom: 1px solid #005BA9;
}
td.smallswirl {
	padding: 3px;
}

/* Title Bar */

td.toptitle {
	padding-bottom: 3px;
}

.Sections {
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid white;
	background-color: #244a7a;
}
.SectionsSel {
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid white;
	background-color: #005BA9;
}
.SectionLinks {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.SectionLinks:hover {
    text-decoration: none;
    color: silver;
}


table.menutable {
	background-color: #005BA9;
	color: white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}	
td.menutable {
	background-color: #005BA9;
	color: white;
}	
a.menutable {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}	
a.menutable:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: silver;
}	
a.menutablesel {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: silver;
}	


/* Main Display Area */

table.MainTable {
	background-color: white;
	border-right: 1px solid #005BA9;
	border-left: 1px solid #005BA9;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/images/background-white.gif);
}

td.MainTable {
	padding-left: 18px;
	padding-right: 17px;
}


/* Page Footer */

td.Footer {
	color: white;
	font-size: 10px;
	font-weight: bold;
	background-color: #005BA9;
	padding: 2px;
}
a.Footer {
	color: white;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
}
td.questions {
	font-size: 11px; 
	text-align: center;
}


/* Order Tags */

a.helplink {
	font-size: 12px;
	font-weight: bold;
	color: #005BA9;
}	
a.helplink:hover {
	color: black;
}
.BlueOverline {
	border-top: 1px solid #005BA9; 
}
.BlueUnderline {
	border-bottom: 1px solid #005BA9; 
}

td.cleanrightlabel {
	color: #244a7a;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	text-align: right;
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 4px;
}

td.cleanlabel {
	color: #003F75;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 4px;
}

td.cleantext {
	color: #003F75;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 4px;
}

td.DomainTitle {
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	border-bottom: 1px solid #005BA9; 
	border-left: 1px solid #005BA9; 
}
td.DomainTitleSubTable {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #005BA9;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
}

td.resultitem {
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 0px;
	border-bottom: 1px dotted silver;
}

td.resultitemhost {
	color: #005BA9;
	font-weight: bold;
	text-align: center;
	border-left: 1px dotted silver;
	border-bottom: 1px dotted silver;
}

td.resultitemdom {
	color: #005BA9;
	font-weight: bold;
	padding-right: 4px;
	border-left: 1px dotted silver;
	border-bottom: 1px dotted silver;
}
td.resultitemerror {
	color: #A81F23;
	font-size: 10pt;
	font-weight: bold;
	border-bottom: 1px dotted silver;
}

.TLDList {
	color: #0B2841;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	border-right: 1px solid #005BA9;
	border-left: 1px solid #005BA9;
	background-color: #AAC0E1;
}
.TLDPlainText {
	color: black;
	font-size: 12px;
}
td.userpageseperatorleft {
	padding-right: 10px;
}
td.userpageseperatorright {
	padding-left: 10px;
	border-left: 1px solid #005BA9;
}

.OrderTableDataRow { border: 1px; border-style: solid; }
.OrderTableDataRow1 { border: 1px; border-style: solid; background-color: #005BA9; color: white; }
.OrderTableDataRow2 { border: 1px; border-style: solid; background-color: #AAC0E1; }
.OrderTableHeadingRow { background-color: #005BA9; color: white; }
.OrderTableHeading { padding: 5px; font-weight: bold; text-align: center; vertical-align: bottom; }
.OrderTableData { padding: 1px; }
.OrderTableData1 { padding: 1px; background-color: #005BA9; color: white; }
.OrderTableData2 { padding: 1px; }
.OrderTableDataNum { padding: 1px; text-align: right; }
.OrderTableData7001 { padding: 1px; background-color: #FFFFFF; }
.OrderTableData2000 { padding: 1px; background-color: #CCCCCC; }
.OrderTableData2003 { padding: 1px; background-color: #CCCCCC; }
.OrderTableData3000 { padding: 1px; background-color: #6699FF; }
.OrderTableData3003 { padding: 1px; background-color: #6699FF; }
.OrderTableData4000 { padding: 1px; background-color: #99CCFF; }
.OrderTableData4003 { padding: 1px; background-color: #99CCFF; }
.OrderTableFooterRow { text-align: right; }

.PackageTitles { padding: 2px; background-color: #005BA9; font-size: 10px; text-align: center; color: white; }
.PackageColumnsText { padding: 2px; background-color: #E8E8E8; font-size: 10px; text-align: center; color: black; }
.PackageColumnsNum { padding: 2px; background-color: #E8E8E8; font-size: 10px; text-align: right; color: black; }
a.PackageLink { color: black; }


td.inforightside {
	color: #005BA9;
	text-align: justify;
	vertical-align: top;
	width: 180px;
	border-left: 1px solid #005BA9;
	padding-left: 4px;
}

td.whoisoutput {
	font-family: courier, sans-serif;
	font-size: 10px;
}

td.debuglinks {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

td.listrow0 {
	background-color: #E0E9F1;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.listrow1 {
	background-color: #EDEDED;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.listerror0 {
	color: #A81F23;
	background-color: #E0E9F1;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.listerror1 {
	color: #A81F23;
	background-color: #EDEDED;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.listtotal {
	color: #003F75;
	font-size: 12px;
	font-weight: bold;
	border-top: 1px solid #005BA9;
	background-color: white;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}


a.edititem {
	text-decoration: underline;
	color: blue;
}

a.edititem:hover {
	color: black;
}

td.optional { 
	font-size: 10px;
	font-weight: bold;
	color: #005BA9;
	text-align: center;
	vertical-align: top;
	
}


/* Contact Form */

.ContactPageSubTitles {
	color: #005BA9;
	font-weight: bold;
	font-size: 12px;
}
.ContactFormLabels {
	font-size: 10px;
	background-color: #CFCFCF;
	vertical-align: top;
}
.ContactFormRequiredFields {
	font-size: 8px;
}
.contactboxesbg {
    border-right: 1px solid black;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
}

/* Domain Pages */

.DomainExtTableTitle {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
	
.DomainTableTitle {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.DomainTableText {
	text-align: center;
	color: black;
	font-size: 12px;
}

table.domprice {
	border-top: 1px solid grey;
	border-right: 1px solid grey;
}

td.domtld {
	background-color: #D4E6C8;
/*	background-color: #005BA9; */
	color: black;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

td.domprice {
/*	color: #005BA9; */
	color: black;
	background-color: white;
	font-weight: bold;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

span.dompricesmall {
	color: black;
	font-weight: bold;
	font-size: 10px;
}

/* Promo Text */

td.OfferEnds {
	background-color: #0054B2;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-top: 2px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: white;
}	

.OfferEndsText {
	background-color: black;
	color: #54FF00;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}	


/* index.html */

table.domreghomebox {
	background-color: #D4E6C8;
	/*border: 2px solid #CCCCCC;*/
	padding: 3px;
}
input.domreghomebox {
	width: 160px;
}
td.domreghometld {
	text-align: left;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-right: 0px;
}
td.domreghomealt {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
	border-top: 2px solid #CCCCCC;
}

td.domregtitle {
	background-color: #AFD496;
	font-weight: bold;
	font-size: 16px;
	color: #427421;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-right: 2px;
	padding-left: 2px;
}
input.domregbutton {
	width: 30px;
	padding: 1px;
}

table.homeinfobox {
	background-color: #D6E3F7;
	/*border: 1px solid #005BA9;*/
	padding: 4px;
}

table.homeinfoboxlow {
	background-color: #F2F7FF;
	/*border: 1px solid #005BA9;*/
	padding: 4px;
}
td.homeinfoboxlow {
	font-size: 11px;
}
td.homeinfoboxtitle {
	background-color: #C2D2EA;
	font-weight: bold;
	font-size: 16px;
	color: #005BA9;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
}

td.homeinfoboxsubtitle {
	background-color: #E2E9F4;
	font-weight: bold;
	font-size: 12px;
	color: #005BA9;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

a.homeinfoboxsubtitle {
	color: #005BA9;
	text-decoration: none;
}

/* Webhosting.html */
td.whtitlesspacer {
	width: 200px;
	border-bottom: 1px solid #005BA9;
	padding: 0px;
}
td.whtitles {
	width: 134px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #005BA9;
	background-color: #005BA9;
	padding: 0px;
}

td.whdesc {
	height: 34px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	border-left: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
a.whdesc {
	color: black;
	text-decoration: none;
}
a.whdesc:hover {
	text-decoration: underline;
}

span.virusscanning {
	color: red;
	font-weight: bold;
}

td.whitem1 {
	width: 134px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	background-color: #E8EFF8;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
td.whitem2 {
	width: 134px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	background-color: #D5DEEC;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
td.whitem3 {
	width: 134px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	background-color: #BDCDE6;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
td.whitem4 {
	width: 134px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #005BA9;
	border-bottom: 1px solid #005BA9;
	border-right: 1px solid #005BA9;
	background-color: #AAC0E1;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}

span.price {
	color: #005BA9;
	font-weight: bold;
}
span.fineprint {
	font-size: 10px;
}

/* Package Pages */

td.packagehostingtext {
	color: #003366;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 2px;
	padding-bottom: 8px;
	padding-right: 4px;
	padding-left: 5px;
}

td.packagehostingtextsmall {
	font-size: 10px;
	color: #003366;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 4px;
	padding-left: 5px;
}

table.pricematrix {
	padding: 0px;
}

td.pricematrixtitles {
	background-color: #005BA9;
	font-weight: bold;
	font-size: 12px;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

td.pricematrixlabel {
	font-size: 10px;
	font-weight: bold;
	background-color: #D5DEEC;
	padding-left: 4px;
}

td.pricematrix {
	text-align: center;
	background-color: #D5DEEC;
}

.pflink {
  color: #003366;
  text-decoration: none;
  font-family: "Arial", "Helvetica, sans-serif";
  font-size: 12px;
}
a.pflink:hover {
  text-decoration: underline;
  color: #006699;
}
.pflinkbig {
  color: #003366;
  text-decoration: none;
  font-family: "Arial", "Helvetica, sans-serif";
  font-size: 14px;
}
a.pflinkbig:hover {
  text-decoration: underline;
  color: #006699;
}
.pflinkstandout {
  color: #003366;
  text-decoration: none;
  font-family: "Arial", "Helvetica, sans-serif";
  font-size: 14px;
  font-weight: bold;
}
a.pflinkstandout:hover {
  text-decoration: underline;
  color: #006699;
}

td.featurestabletitle {
	background-color: #005BA9;
	font-weight: bold;
	font-size: 12px;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

td.featurestable {
	background-color: #D5DEEC;
	padding-top: 4px;
	padding-bottom: 10px;
	padding-right: 4px;
	padding-left: 8px;
	font-size: 11px;
}

body.featurespopup {
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        background-image: url(/images/background-white.gif);
        margin: 10px;
}
	
a.FeaturesPopupCloseLink {
        color: #005BA9;
        font-size: 12px;
        font-face: bold;
        text-decoration: underline;
}
a.FeaturesPopupCloseLink:hover {
        color: black;
}

td.packagecrosslinks {
	color: #003366;
	font-size: 13px;
	padding-top: 2px;
	padding-bottom: 8px;
	padding-right: 4px;
	padding-left: 5px;
}

a.packagecrosslinks {
	color: #003366;
	text-decoration: underline;
}
a.packagecrosslinks:hover {
	color: black;
}
/* policy pages */
	
td.policy {
	text-align: justify;
}

/* features page */
table.featurestable {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px;
}	
td.featuresdesc {
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}
td.featuresdata {
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 00px;
	background-color: #E8EFF8;

}