a:link { color: #FFFFFF; text-decoration: none }
a:visited { color: #E5E5E5; text-decoration: none }
a:active { color: #FFEEDD; text-decoration: none }
a:hover { color: #FFFFFF; text-decoration: underline }
h4 { font-family: Helvetica, Arial, Verdana, sans-serif; color: #A5C6F7; font-size: 10pt; }
h3 { font-family: Helvetica, Arial, Verdana, sans-serif; color: #A5C6F7; font-size: 12pt; }
#main, #quote, #note, #footer, #copyright {font-family: Helvetica, Arial, Verdana, sans-serif;  color: #B5D6E7;}
#main {font-size: 10pt;}
#mainhl { font-family: Helvetica, Arial, Verdana, sans-serif; color: #A5C6F7; font-size: 10pt; }
#quote {font-style: italic; font-size: 8pt;}
#note {font-size: 8pt;}
#copyright {font-size: 8pt;}
#footer {font-size: 9pt;}
#invis {color: #FFFFFF; text-decoration: none; font-size: 7pt;}
#invis {font-family: Helvetica, Arial, Verdana, sans-serif;}
ul {font-family: Helvetica, Arial, Verdana, sans-serif;  color: #B5D6E7;}
ul {font-size: 10pt;}
ol {font-family: Helvetica, Arial, Verdana, sans-serif;  color: #B5D6E7;}
ol {font-size: 10pt;}
select {font-size: 8pt; color: #FFFFFF; background-color: #000000; font-family: Helvetica, Arial, Verdana, sans-serif;}
