BODY {SCROLLBAR-FACE-COLOR: #C08488; SCROLLBAR-HIGHLIGHT-COLOR: #C08488; SCROLLBAR-SHADOW-COLOR: #783C40; SCROLLBAR-ARROW-COLOR: #783C40; SCROLLBAR-TRACK-COLOR: #C08488; SCROLLBAR-DARKSHADOW-COLOR: #783C40; SCROLLBAR-BASE-COLOR: #783C40; scrollbar-3d-light-color: #C08488; BACKGROUND-COLOR: #000000; FONT-FAMILY: tahoma, arial, verdana; ; CURSOR: crosshair; FONT SIZE=11}

A:link {CURSOR: crosshair; COLOR: #F0D078; TEXT-DECORATION: none}
A:visited {CURSOR: crosshair; COLOR: #F0D078; TEXT-DECORATION: none}
A:hover {CURSOR: crosshair; COLOR: #987020; TEXT-DECORATION: crosshair}

input {color: #C09038;background: #000000;font-size: 11px;font-weight: regular;text-decoration: tahoma, arial, verdana;font-family: tahoma, arial, verdana; text-align: left;border-width: 1px;border-style: solid;border-color: #C09038;}

P {FONT-FAMILY: tahoma, arial, verdana; FONT SIZE=11; COLOR="#C09038"}

br {FONT-FAMILY: tahoma, arial, verdana; FONT SIZE=11; COLOR="#C09038"}

TD {FONT-FAMILY: tahoma, arial, verdana; FONT SIZE=11; COLOR="#C09038"}

TR {FONT-FAMILY: tahoma, arial, verdana; FONT SIZE=11; COLOR="#C09038"}