A:link, A:visited, A:active, A:hover { 
  text-decoration: none;
  font-weight:     bold;
}
A:link  { 
  color: blue;
}
A:visited { 
  color: blue;
}
A:active {
  color: red;
}
A:HOVER { 
  color: white;
  background-color: black;
}
.onbody{
  background: #FFFFFF:;
}
.onbody A:LINK {
  color: blue;
}
.onbody A:VISITED {
  color: blue;
}
.onbody A:ACTIVE {
  color: red;
}
BODY,P,TABLE,TD,TR {   
  font-size:   9pt;
  font-family: verdana,helvetica,arial;
  color: #000000;
}
BODY {
  background: #FFFFFF;
}
PRE {
  font-size:   9pt;
  font-family: courier;
}
.tableborders {
  background: gray;
}
.tdheader {
  font-size:   10pt;
  font-weight: bold;
  color:       #000000;
  background:  #bbbbbb;
  font-family: arial;
}
.menubar{
  font-size:   9pt;
  background: lightgrey;
  color: blue;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}

.new {
  font-size: 8pt;
  color:     red;
}
.catandforum {
  font-size: 8pt;
}
.posttime {
  font-size: 8pt;
  font-style: oblique;
  text-align: center;
  background: lightgrey;
}
.threadtotal {
  font-size: 8pt;
  background: lightgrey;
}
.posttotal {
  font-size: 8pt;
  background: lightgrey;
}
.small {
  font-size:   8pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: blue;
}
.welcome {
  background: white;
  color: black;
}
.forumtitle {
 font-size: 9pt;
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: lightgrey;
  color: #000000;
}
.darktable {
  background: lightgrey;
  color: #000000;
}
.cleartable {
  background: #FFFFFF;
}
.alternatetable {
  background: lightgrey;
}
.subjecttable { 
  background: lightgrey;
}
.footertable {
  background: lightgrey;
}
.formboxes{
  font-family: geneva, arial, sans-serif;
  color: #000000;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  color: #000000;
}
