<html>
<head>
<TITLE>FortuneCity > Error</TITLE>
<STYLE TYPE="text/css">
<!-- 
A { color:FF6600;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold; }
A:active { color:999999;}
A:hover { color:red; font-weight:bold; }
A:visited { color:FF6600; }
A:visited:hover { color:red; font-weight:bold;  }
A.properties { margin:0px;
 	color:white;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none; }
A.properties:visited { color:white; }
A.properties:visited:hover { color:red; font-weight:bold; } 
-->
</STYLE>
<SCRIPT LANGUAGE="JavaScript">
<!-- hide
var oas='http://ads.fortunecity.com/RealMedia/ads/';
var sitepage = "en/denied";
my_date = new Date();
my_ord = my_date.getTime() % 1000000;
function DisplayAds (position, width, height) {
var oaspage= sitepage + '/' + my_ord + '@' + position;
my_chunk =
'<iframe src="http://ads.fortunecity.com/RealMedia/ads/adstream_sx.ads/' + oaspage + '" width="' + width +'" height="' + height + '" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"><a href="http://ads.fortunecity.com/RealMedia/ads/click_nx.cgi/' + oaspage + '" target="_new"><img src="http://ads.fortunecity.com/RealMedia/ads/adstream_nx.cgi/' + oaspage +'" border=0 height="' + height + '" width="' + width + '"></a></iframe>';
document.write (my_chunk);
}
// -->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
DisplayAds ("Top,Middle,Bottom,x32!x32", "0", "0");
//-->
</SCRIPT>
</HEAD>
<body marginwidth=0 marginheight=0 leftmargin=0 rightmargin=0 topmargin=0 bgcolor=black background="http://www.fortunecity.com/images/background_pinstripe.gif">

<!-- the onUnload above is for the SLT popup. here's the body of the code - tim -->

<script language="Javascript">
<!-- hide

showpopup = 1;

function MyExtendOnClick() {

        if (this.host.indexOf('fortunecity') != -1) {

                showpopup = 0;
        }               

        else {

                showpopup = 1;
        }


        if (this.my_onclick != null) {

                this.my_onclick();
        }
}


function setonclickmethods() {

        if (navigator.appVersion.indexOf('MSIE') != -1 && navigator.appVersion.indexOf('Macintosh') != -1) {

                return;         // totally sucky
        }

        for(i = 0; i < document.links.length; i++) {

                document.links[i].my_onclick = document.links[i].onclick;
        
                document.links[i].onclick = MyExtendOnClick;
        }
}


function spawntopfivewindow() {


if (showpopup == 1) {

window.open('/classification/topsites/English/top5.html','top5popup','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=0,width=250,height=170,left=0,top=0,screenX=0,screenY=0');

        }
}

// -->
</script>
<TABLE border=0 cellpadding=3 cellspacing=0 width=100%>
<tr>
	<td align=center><a href="/index.shtml"><img src="/images/new_fortune_city_logo.gif" width=267 height=57 border=0 alt="free web page hosting"></a><br clear=all><span style="font-family:verdana;color:white;font-size:12px;font-weight:bold;">Your Complete Web Hosting Service</span></td>
</tr>
<tr>
	<td><IMG src="/images/spacer.gif" width=1 height=6 border=0></td>
</tr>
</TABLE>
<div align="center">
<TABLE width=86% border=0 cellspacing=0 cellpadding=3 bgcolor=white>
<tr>
	<td align=center><br><span style="font-family:Verdana;font-weight:bold;color:red;font-size:18px;">We're sorry, but we can't supply the file you requested.<br><br></td>
</tr>
<tr>
	<td align=center><span style="font-family:Verdana;font-weight:bold;color:black;font-size:15px;">In order for us to continue to provide our members with the first-class service they expect, we don't allow people to link files from sites hosted with other providers.</span></td>
</tr>
</table>
<TABLE width=86% border=0 cellspacing=0 cellpadding=3 bgcolor=white>
<tr>
	<td colspan=2 valign=top>
	<table cellspacing=0 cellpadding=3 border=0 width=100%>
	<tr>
		<td colspan=5>
		<table cellspacing=0 cellpadding=0 border=0 width=100%>
		<tr>
			<td bgcolor=999999><IMG src="/images/spacer.gif" width=1 height=1 border=0></td>
		</tr>
		</table></td>
	</tr>
</table></td>
</tr>


</TABLE>
<TABLE cellspacing=0 cellpadding=3 border=0 width=86% bgcolor=white>
<TR align=center>
	<td align=center>
<SCRIPT LANGUAGE="JavaScript">
<!--
DisplayAds ("Top,Middle,Bottom,x32!Top", "468", "60");
//-->
</SCRIPT><BR><BR>
<SCRIPT LANGUAGE="JavaScript">
<!--
DisplayAds ("Top,Middle,Bottom,x32!Middle", "468", "60");
//-->
</SCRIPT>
<BR><BR>
<SCRIPT LANGUAGE="JavaScript">
<!--
DisplayAds ("Top,Middle,Bottom,x32!Bottom", "468", "60");
//-->
</SCRIPT></td>
</TABLE>
<table border=0 cellpadding=3 cellspacing=0>
<tr>
	<td><IMG src="/images/spacer.gif" width=1 height=6 border=0></td>
</tr>
</table>
</div>
<br>
</body>
</html>