<style type="text/css">

body				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #000000; font-weight: 300;}
td					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #000000; font-weight: 300;}
a 					{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #4C1C22; font-weight: 600;}
a:hover 			{color: #ffffff;}
b					{font-weight: bold;}
u					{text-decoration: underline;}

.menu				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffffff; font-weight: 300;}
.menu a				{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffffff; font-weight: 300;}
.menu a:hover		{color: #ffcc00;}

.menuHeader			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffffff; font-weight: 600;}
.menuHeader a		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #ffffff; font-weight: 600;}
.menuHeader a:hover	{color: #ffcc00;}

.header				{font-family: verdana, helvetica, sans-serif; text-decoration: none; font-size: 15pt; color: #4C1C22; font-weight: 600;}

.subHeader			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #000000; font-weight: 600;}

.sidebar			{font-family: verdana, helvetica, sans-serif; text-decoration: none; font-size: 8pt; color: #000000; font-weight: 300;}

.buttons			{font-family: arial black, arial, helvetica, sans-serif; text-decoration: none; font-size: 18px; color: #ffffff; font-weight: 300; padding: 15px 0px 0px 0px;}
.buttons a			{font-family: arial black, arial, helvetica, sans-serif; text-decoration: none; font-size: 18px; color: #ffffff; font-weight: 300;}

.statmenu			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 15px; color: #efab00; font-weight: 600;}
.statmenu a			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 15px; color: #efab00; font-weight: 600;}
.statmenu a:hover	{color: #faf467;}
a.statname			{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 12px; color: #ffffff;}

.smallmenu			{font-family: arial, helvetica, sans-serif; font-size: 10px; color: #ffffff;}
.smallmenu a		{font-family: arial, helvetica, sans-serif; font-size: 10px; color: #ffffff; text-decoration: none; font-weight: normal;}
.smallmenu a:hover	{color: #faf467;}

a.dropdown			{font-family: Verdana, arial, helvetica, sans-serif; color: #efab00; font-size: 10px; text-decoration: none; font-weight: bold;}
a.dropdownb			{font-family: Verdana, arial, helvetica, sans-serif; color: #a07000; font-size: 10px; text-decoration: none; font-weight: bold;}
.iewrap1			{position:relative; top:0px;}
.iewrap2			{position:absolute;}
#dropmenu0			{visibility:hide; z-index:100;}

a.hiddentext		{font-family: arial, helvetica, sans-serif; text-decoration: none; font-size: 9pt; color: #000000; font-weight: 300;}
a.hiddentext:hover	{text-decoration: underline; color: #4C1C22;}
</style>