.ContainerPane
{
	padding:5;
}
.Title
{
	color:#000066;
	font-family: Tahoma, Arial, Helvetica;
    font-size:  10px;
    font-weight:bold;
}
.Title1
{
	color:#9ABEEC;
	font-family: Tahoma, Arial, Helvetica;
    font-size:  16px;
    font-weight:bold;
    padding-left:5;
}
.Title2
{
	color:#B5A9AD;
	font-family: Tahoma, Arial, Helvetica;
    font-size:  16px;
    font-weight:bold;
    padding-left:5;
}
.ContainerPane2
{
	border-width: 3;
	border-color:#9ABEEC;
	border-style:solid;
	padding:5;
}
