BODY {
  background: #030303;
  color: #BCF5FE;
}

TD {
  color: #BCF5FE;
}

FORM {
  background: #030303;
  color: #BCF5FE;
}

P {
  color: #BCF5FE;
}

LI {
  color: #BCF5FE;
}

UL {
  color: #BCF5FE;
}

INPUT {
  background: #030303;
  color: #BCF5FE;
}

TEXTAREA {
  background: #030303;
  color: #BCF5FE;
}

BLOCKQUOTE {
  color: #BCF5FE;
}

TR {
  color: #BCF5FE;
}

TABLE {
  color: #BCF5FE;
}

OPTION {
  background: #030303;
  color: #BCF5FE;
}

SELECT {
  background: #030303;
  color: #BCF5FE;
}


A:link    { color: #BCF5FE; }
A:visited { color: #33CCFF; }
A:active  { color: #FFFFFF; }
