@charset "euc-jp";
/*
Title: tDiary2 default
Revision: $Revision: 1.18 $
Author: TADA Tadashi
Access: sho@spc.gr.jp
License: GPL
Comment: default theme for tDiary 1.5 or later.

validated by W3C.
*/

/*
¥Ú¡¼¥¸Á´ÂÎ¤Î´ğËÜÅª¤ÊÀßÄê¡£ÇØ·Ê¿§¤äÊ¸»ú¿§¤Ê¤É
*/
body {
	background-color: #FFFFFF;
	background:
		url(ryu_uke.jpg)
		no-repeat
		fixed
		right
		bottom;
	color: #800040;
	font-size: 90%;
	font-family: "£Í£Ó £Ğ¥´¥·¥Ã¥¯", "Osaka";
	padding: 1px 20px 0px;

}

/*
¥ê¥ó¥¯Ê¸»úÎó¤Ë´Ø¤¹¤ëÀßÄê
*/
a:link {
	color: #00B0B0;
	text-decoration: none;


}

a:visited {
	background-color: transparent;
	color: #00B0B0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
¥Ú¡¼¥¸¥È¥Ã¥×¤Ë¤¢¤ëÁàºî¥Ü¥¿¥ó¤ÎÊÂ¤Ö¹Ô¤ÎÀßÄê
*/
div.adminmenu {
	text-align: right;
	font-size: 90%;
	margin-bottom: 1px;

}

/*
¥Ú¡¼¥¸¥È¥Ã¥×¤Ë¤¢¤ëÁàºî¥Ü¥¿¥ó¼«ÂÎ¤ÎÀßÄê
*/
span.adminmenu {
	background-color: #D2E9FF;
	color: #000;
	border: #D2E9FF;

}

/*
Æüµ­¥¿¥¤¥È¥ë¤ÎÀßÄê
*/
h1 {
	text-align: right;
	background-color: #D2E9FF;
	color: #00B0B0;
	width: 100%;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 10px;







}

/*
¥«¥ì¥ó¥À¡¼¤ÎÀßÄê
*/
div.calendar {
	background-color: #fff;
	color: #000;
	font-family: "qóÒÿqùÓrrur£Óm", "Osaka";
	border: 1px solid;
	font-size: small;
	padding-top: 2px;
	padding-bottom: 2px;







}

div.calendar div.year {
}

/*
1Æü¤ÎÆüµ­Á´ÂÎ¤ò°Ï¤àÏÈ¤ÎÀßÄê
*/
div.day {
	color: #000;
	margin-bottom: 1em;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 2px solid;
	border-left: 0px solid;
	padding-bottom: 0em;
	padding-left: 0px;




}

/*
¥¿¥¤¥È¥ë¹ÔÁ´ÂÎ¤ÎÀßÄê
*/
h2 {
	font-size: medium;
	border-top: 0px solid #336699;
	border-right: 0px solid #336699;
	border-bottom: 1px solid #336699;
	border-left: 0px solid #336699;
	margin-top: 1em;




}

/*
ÆüÉÕ¤ÎÀßÄê
*/
h2 span.date {
	font-size: medium;
	margin-right: 0.5em;
	font-weight: bold;

}

/*
¥¿¥¤¥È¥ë¤ÎÀßÄê
*/
h2 span.title {
	font-size: large;
}

/*
¥¿¥¤¥È¥ë¤ò½ü¤¤¤¿1Æü¤ÎÆüµ­ËÜÊ¸Á´ÂÎ¤ÎÀßÄê
*/
div.body {
	color: #000;
	margin-left: 2em;
	margin-right: 1em;

}

/*
¥µ¥Ö¥¿¥¤¥È¥ë¤ò´Ş¤à¥»¥¯¥·¥ç¥ó¤ÎÀßÄê
*/
div.section {
	margin-top: 0.5px;
	margin-bottom: 0.5px;


}

/*
¥µ¥Ö¥¿¥¤¥È¥ë¤ÎÀßÄê
*/
h3 {
	font-size: medium;
	font-weight: bold;
	border: 1px solid #336666;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
	color: #003399;



}

/*
¤½¤ÎÂ¾¤Î¸«½Ğ¤·(É¬Í×¤Ê¤é)
*/
h4 {
	margin: 2em;
	font-weight: bold;
	margin-bottom: 0em;
}

/*
¥¤¥á¡¼¥¸¥¢¥ó¥«¡¼¤ÎÀßÄê
¤¿¤À¤·Default¥Æ¡¼¥Ş¤Ç¤Ï¥¤¥á¡¼¥¸¥¢¥ó¥«¡¼¤Ï»È¤Ã¤Æ¤¤¤Ê¤¤¤Î¤Ç¥³¥á¥ó¥È¤Ë¤·¤Æ¤¢¤ë
»ØÄê¤Î¥³¥Ä¤Ï°Ê²¼¤ÎÄÌ¤ê
  - span.sanchor¤Ï¥»¥¯¥·¥ç¥ó¥¢¥ó¥«¡¼¡¢span.canchor¤Ï¥Ä¥Ã¥³¥ß¥¢¥ó¥«¡¼
  - background-image¤Ë¥¢¥ó¥«¡¼²èÁü¤ò»ØÄê
  - padding¤Îtop(ºÇ½é)¤Èright(2ÈÖÌÜ)¤Ë²èÁü¤Î½Ä²£¥µ¥¤¥º¤ò»ØÄê
  - color¤ËÇØ·Ê¿§¤ÈÆ±¤¸¿§¤ò»ØÄê(Ê¸»ú¤ò¸«¤¨¤Ê¤¯¤¹¤ë¤¿¤á)
*/
/*
div.day span.sanchor {
	background-image: url(sanchor.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(default_canchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}
*/

/*
Æüµ­¤ÎËÜÊ¸(ÃÊÍî)¤ÎÀßÄê
*/
div.section p {
	margin: 0.5em 1em 0.7em;
	line-height: 120%;
}

/*
¥Ä¥Ã¥³¥ß/¥Õ¥©¡¼¥à/¥ê¥ó¥¯¸µ¤Î¥­¥ã¥×¥·¥ç¥óÀßÄê
*/
div.caption {
	font-size: 0.9em;
	font-weight: bold;
	margin: 0.1em;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000099;
	border-right-color: #000099;
	border-bottom-color: #000099;
	border-left-color: #000099;


}

/*
¥Ä¥Ã¥³¥ßÍóÁ´ÂÎ¤ÎÀßÄê
*/
div.comment {
	background-color: #fff;
	color: #000;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;

}

/*
¥Ä¥Ã¥³¥ß¾ÊÎ¬ÈÇËÜÊ¸
*/
div.commentshort {
	font-size: 0.9em;
	margin-left: 3em;
}
span.commentator {
	font-weight: bold;
}
div.commentshort p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 120%;
}

/*
¥Ä¥Ã¥³¥ßËÜÂÎ
*/
div.commentbody {
	font-size: 90%;
	margin: 0.5em;
	line-height: 120%;
}

/*
¥Ä¥Ã¥³¥ß¤·¤¿¿Í¤Î¾ğÊó
*/
div.commentator {
	border-style: solid;
	border-color: #aaf;
	border-width: 0px 0px 1px 0px;
	line-height: 150%;
}

/*
¥Ä¥Ã¥³¥ßËÜÊ¸
*/
div.commentbody p {
	margin: 0.5em;
	margin-left: 2em;
}

/*
¥Õ¥©¡¼¥àÁ´ÂÎ¤ò°Ï¤àÏÈ¤ÎÀßÄê
*/
div.form {
	background-color: #f5f5f5;
	color: #3366FF;
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 0px 0px 0px;
	padding: 2px;
	margin: 0em;
}

/*
¥Õ¥©¡¼¥à¤ÎÀßÄê
*/
div.form form {
	margin: 0em 0em 0em 3em;
}

div.form form.comment {
	font-size: 0.9em;
}

div.field {
	display: inline;
	margin-right: 2em;
}
form.comment input {
	background-color: #eee;
	color: #000;
	margin-left: 1em;
}

div.textarea {
	display: block;
	vertical-align: top;
}
form.comment textarea {
	display: block;
	background-color: #eee;
	color: #000;
	margin-left: 3em;
	width: 30em;
	height: 5em;
}

div.button {
	display: block;
	margin-left: 3em;
}

/*
¥ê¥ó¥¯¸µ¥ê¥¹¥È(Month/Latest¥â¡¼¥É)¤ÎÀßÄê
*/
div.referer {
	text-align: right;
	font-size: 9px;
	color: #000000;
	padding: 5px;
	margin: 10px 20px;
	border-top: 1px dashed #CCCCCC;
	border-right: 0px dashed #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
	border-left: 0px dashed #CCCCCC;

}

/*
¥ê¥ó¥¯¸µ¥ê¥¹¥È(Day¥â¡¼¥É)¤ÎÀßÄê
*/
div.refererlist {
	background-color: #fff;
	color: #3366FF;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-right: 1em;
}

/*
¥ê¥ó¥¯¸µ¥ê¥¹¥È°ìÍ÷¤ÎÀßÄê
*/
div.refererlist ul {
	border: #000000;


}

/*
·ÓÀş¤ÎÀßÄê
*/
hr {
	border-top-color: #ddf;
	border-right-color: #ddf;
	border-bottom-color: #ddf;
	border-left-color: #ddf;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 2px;


}

/*
Æü¡¹¤ÎÆüµ­¤Î¥»¥Ñ¥ì¡¼¥¿¤Ë»È¤ï¤ì¤ë·ÓÀş¤ÎÀßÄê
*/
hr.sep {
	display: none;

}

/*
¥Õ¥Ã¥¿¤ÎÀßÄê
*/
div.footer {
	font-size: 90%;
	text-align: right;
	margin-top: 0px;
}

/*
¹¹¿·¥Õ¥©¡¼¥à
*/
form.update {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
form.update input, form.update textarea, form.commentstat input {
	background-color: #eef;
	color: #000;
}

form.update span.field {
	display: inline;
	margin-left: 0em;
	margin-right: 0.5em;
}

form.update div.field.title {
	display: block;
	margin-top: 1em;
}
form.update div.field.title input {
	margin-left: 0.5em;
}

form.update div.textarea {
	display: block;
	margin-top: 1em;
}
form.update textarea {
	display: block;
	margin-left: 3em;
	margin-bottom: 1em;
	width: 35em;
	height: 15em;
}

form.update span.checkbox.hidediary {
	margin-left: 1em;
}

/*
¥Ä¥Ã¥³¥ß¾õÂÖÊÑ¹¹¥Õ¥©¡¼¥à
*/
div.comment form {
	margin-top: 0em;
}

/*
¥¨¥é¡¼¥á¥Ã¥»¡¼¥¸É½¼¨¤ÎÀßÄê
*/
p.message {
	text-align: center;
	font-size: large;
	background-color: #d00;
	color: #fff;
	padding: 8px;
}

/*
À°·ÁºÑ¤ß¥Æ¥­¥¹¥È(pre¥¿¥°)¤ÎÀßÄê
*/
div.section pre {
	background-color: #D9FCFF;
	color: #006699;
	margin-left: 5em;
	margin-right: 1em;
	padding: 8px 8px 8px 8px;
}

/*
°úÍÑ(blockquote¥¿¥°)¤ÎÀßÄê
*/
div.section blockquote {
	border-style: solid;
	border-color: #ddf;
	border-width: 2px 2px 2px 2px;
	margin-left: 5em;
	margin-right: 3em;
	padding: 4px 4px 4px 4px;
}
div.section blockquote p {
	margin: 0.5em 0em 0.5em 0em;
}

/*
¹àÌÜ¥ê¥¹¥È¤ÎÀßÄê
*/
div.section dl {
	margin-left: 5em;
}

div.section dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

div.section dd {
	margin: 0em 3em 0.5em 1em;
}

/*
¥Æ¡¼¥Ö¥ë¤ÎÀßÄê
*/
div.section table {
	margin: 0.5em 1em 0.5em 5em;
	border-collapse: collapse;
	border: 2px solid;

}
div.section th, div.section td {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #aaf;
}

/*
 ¤¤¤¯¤Ä¤«¤Î¥á¥¸¥ã¡¼¤Ê¥×¥é¥°¥¤¥óÂĞ±ş
 */

/* calendar2 */
table.calendar {
	font-size: small;
	line-height: 1.1em;
	border: 1px solid #CCCCCC;
	width: 100%;
	font-family: "qóÒÿqùÓrrur£Óm", "Osaka";



}

table.calendar td {
	margin: 0px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 0px;

}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: 70%;
}

div.footnote {
	font-size: 90%;
	border-style: solid;
	border-color: #ddf;
	border-width: 1px 0px 0px 0px;
	padding: 0em;
	margin-left: 6em;
}

p.footnote {
	margin: 0.5em;
	padding: 0em;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #008;
	float: left;
	margin: 0.5em;
}

img.right {
	border-width: 1px;
	border-color: #008;
	float: right;
	margin: 0.5em;
}

div.section, div.comment {
	clear: both;
}

/*
¥µ¥¤¥É¥Ğ¡¼´ØÏ¢
*/
div.main {
	margin-left: 180px;
	width: auto;
	margin-right: 10px;



}

div.sidebar {
	position: absolute;
	top: 120px;
	left: 30px;
	width: 165px;
	text-align: center;



}

div.sidebar p {
	line-height: 120%;
	text-align: center;
	border-style: solid;
	border-color: #aaf;
	border-width: 0px 0px 1px 0px;
	margin: 2px 4px 2px 4px;
}
.sidetitle {
	font-family: "qóÒÿqùÓrrur£Óm", "Osaka";
	background-color: #D2E9FF;
	text-align: center;
	padding: 4px;
	font-size: small;
	font-weight: bold;
	color: #003399;
	width: 95%;



}
div.day h2 {
	color: #000;
	margin-bottom: 1em;
	border-top: 0px solid #003471;
	border-right: 0px solid #003471;
	border-bottom: 2px solid #003471;
	border-left: 8px solid #003471;
	padding-bottom: 4px;
	font-size: medium;
	padding-left: 8px;
	padding-top: 2px;


}
div.body ul, div.body ol {
	margin-left: 30px;

}
.side {
	font-family: "£Í£Ó £Ğ¥´¥·¥Ã¥¯", "Osaka";
	font-size: small;
	line-height: 140%;
	color: #666666;
	padding: 2px;
}
td.calendar-saturday {
	color: blue;
	background-color: #66CCFF;
}
td.calendar-sunday {
	color: red;
	background-color: #FF99FF;
	text-align: center;

}
td.calendar-weekday {
	background-color: #FFFFCC;
	text-align: center;
}
