.smallpoint {  font-family: Tahoma, Verdana, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666; text-transform: none}
.links {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #824100;
	list-style-type: disc;
	font-variant: normal;
	text-transform: capitalize;
	font-weight: bolder;
	;
	;
	text-decoration: none;



}
.spellltext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
	text-transform: none;
}
.spellbold {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #666666;
	text-transform: capitalize;
}
.boldtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #666666;
	clip:    rect(   );
	text-transform: uppercase;

}
.linedtext {font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #666666; text-decoration: underline overline}
.hover {
	cursor: hand;
}
.linedtextlist {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #666666;
	text-decoration: underline overline;




}
