/* BEGIN GLOBAL NAV STYLES*/
a.gnav_menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	color: #6A6A73;
	display: block;
	font-size:11px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	width: 100%;
}
a.gnav_menu:hover {
	background-color:#30303D;
	color: #FFFFFF;
	text-decoration: none;
}
/* END GLOBAL NAV STYLES*/
. { font-family: Arial, Helvetica, Verdana; font-size: 10pt; font-style: normal; color:#FFFFFF; }
td { font-family: Arial, Helvetica, Verdana; font-size: 10pt; font-style: normal; color:#FFFFFF; }
.link {  font-family: Arial, Helvetica, Verdana; font-size: 10pt; font-style: normal; color:#FFFFFF; padding:5px;}
a.link a { font-family: Arial, Helvetica, Verdana; font-size: 10pt; color:#FFFFFF; text-decoration:underline;} 
a.link:hover { font-family: Arial, Helvetica, Verdana; font-size: 10pt; color:#B64606; text-decoration:none;}

.link2 {  font-family: Arial, Helvetica, Verdana; font-size: 14pt; font-style: normal; color:#FFFFFF; padding:5px;} 
a.link2  { font-family: Arial, Helvetica, Verdana; font-size: 14pt; color:#FFFFFF; text-decoration:underline;} 
a.link2:hover  { font-family: Arial, Helvetica, Verdana; font-size: 14pt; color:#B64606; text-decoration:none;}
.link3 a		{font-family: Arial, Helvetica, Verdana; font-size: 14pt; font-style: normal; color:#FFFFFF; padding:5px; font-weight: bold;} 
.link3 a:hover	{color:#FFFF00;} 

.legal {font-family: Arial, Helvetica, Verdana; font-size: 8pt; font-style: normal; color:gray;}
.link2Copy {
font-family: Arial, Helvetica, Verdana; font-size: 9pt; font-style: normal; color:#FFFFFF; padding:5px;
}
h1 { font-size: 14pt; font-weight: bold; }
h2 { font-size: 12pt; font-weight: bold; }
h3 { font-size: 11pt; font-weight: bold; }
h4 { font-size: 10pt; font-weight: bold; }
.ToS {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFF00; text-decoration: none}
a.ToS {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFF00}
a.ToS:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; text-decoration: underline}
