a:active, a:visited, a:link
{
//	text-decoration: none;
//	font-color: blue;
}

a:hover
{
//	font-weight: bold;
//	font-color: blue;
}

BODY 
{
//	background-color: black;
//	color: #ffff30;
//	color: #ffffff;
//	font-family: verdana; helvetica; arial; sans-serif;
	font-size: 12px;
//	background-image: 
	    URL(everquest/images/guildbg.jpg);
}

H1 
{
	color: "#8080FF";
	text-align: center
}

H2 
{
	color: "#8080FF";
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}

H3 
{
	font-size: 16px;
	font-weight: bold;
	color: "#FFFF00";
}

H4
{
	font-size: 12px;
	font-style: italic;
	color: "#FFFF00";
}

TR.heading
{
	background-color: "#9999ff"
}

table
{

}
	
td
{

}

.eql_title {
	color: "#8080FF";
	font-weight: bold;
}

a.eql_headline {
	text-decoration: underlined;
}
a.eql_headline:hover {
}
a.eql_headline:visited {
}