a, a:link, a:visited, a:active, a:hover, a:focus, b, blockquote, body, code, div, em, form, h1, h2, h3, h4, h5, h6,  i, input, li, ol, p, pre, small, span, strong, table, td, textarea, th, tr, ul
{
	font-family : Arial, Helvetica, sans-serif;
}

/* Header Settings */
.heading {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000; text-decoration: none; font-weight:bold;}

/* Main Site Settings */
.mainxl {font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #000000; text-decoration: none;}
.mainlrg {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; text-decoration: none;}
.main {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; text-decoration: none;}
.mainsm {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; text-decoration: none;}
.mainxs {font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; text-decoration: none;}

/* Navigation Settings */
.nav_header {font-family: Arial, Helvetica, sans-serif; color:#000000; font-size: 11pt; font-weight:bold; text-decoration: none;}
.nav_main {font-family: Arial, Helvetica, sans-serif; color:#000000; font-size: 10pt; font-weight:bold;}
.nav_link {font-family: Arial, Helvetica, sans-serif; color:#000000; font-size: 10pt; font-weight:bold; text-decoration: none;}
.nav_pixel {background:#000000}
.nav_text  {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; font-weight: bold; text-decoration: none; text-align: center;}

/* Other Settings */
A:hover {color: #FF0000; text-decoration: underline;}
.warning  {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #880000; font-weight: bold; text-decoration: none; text-align: center;}
.error  {font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #cc0000; font-weight: bold; text-decoration: none; text-align: center;}
.comment {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; text-decoration: none; border:1px solid #999999;}
.return_link {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #0000ff; text-decoration: underline;}
.footer {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #dddddd; text-decoration: none;}

/* Product Settings */
.product_title {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000; font-weight: bold; text-decoration: none;}
.price {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; font-weight: bold; text-decoration: none;}
