@import "everquest.css";

body { 
background-color: #ffd;
background-image: url("http://www.everquest.com/images/main_bg.jpg");
font-family: Georgia, Minion Web, Palatino, Book Antiqua, Utopia, Times 
New Roman, serif;
line-height:	1.8em;
}

a:hover { 
color: #fff; 
background: transparent; 
text-decoration:	Underline;
}

.summary {
background-color: #ffe;
}


