body { font-family:arial; font-size:13px }
td { font-family:arial; font-size:13px }
input.st { font-family:arial; font-size:12px }
select.st { font-family:arial; font-size:12px }
textarea.st { font-family:arial; font-size:12px }

span.h1 { font-family:arial; font-size:18px; font-weight:bold }
span.h2 { font-family:arial; font-size:16px; font-weight:bold }
span.h3 { font-family:arial; font-size:15px; font-weight:bold }
span.st { font-family:arial; font-size:13px }
span.c1 { font-family:arial; font-size:10px }
span.c2 { font-family:arial; font-size:11px }
