div, p, blockquote, ol, ul, dl, li, dt, dd, td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; color: #333333}
b, strong {  font-weight: 900 }


/*  Pasted in on 3/19 DO NOT CHANGE THE NAMES OF THE STYLE CLASSES. FOR BEST RESULTS, CHANGE ONLY COLOR VALUES */
.table-border-light {border: 1px solid #cccccc}
.table-border-dark {border: 1px solid #333333}
.row-color1 {background:#ffffff;}
.row-color2 {background:#eeeeee;}
.title {font-family: Arial, Helvetica; font-size: 16px; color:000000; font-weight: bold; padding-bottom:5px}
.copy {font-family: Arial, Helvetica; font-size: 12px; color:000000; font-weight: normal;}
.smcopy {font-family: Arial, Helvetica; font-size: 10px; color:000000; font-weight: normal;}
.copy-green {font-family: Arial, Helvetica; font-size: 12px; color:006736; font-weight: normal;}
.copy-dkred {font-family: Arial, Helvetica; font-size: 12px; color:990000; font-weight: normal;}
.packageNames {background:#3553a9; padding:3px;font-family:Verdana, Arial, Helvetica; font-size:12px; color:ffffff; font-weight: bold;}
.packageDetails {font-family: Arial, Helvetica; font-size: 12px; color:000000; font-weight: normal;}

a.buttons{background-color:#3553a9; color:#ffffff;
font-weight: bold; text-decoration: none; font-size: 12px; font-family: Verdana, Arial, Helvetica;
display:block; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; 
width: 100%; text-align: center;} 

a.buttons:hover {background-color:#dddddd; color:#333333;
font-weight: bold; text-decoration: none; font-size: 12px; font-family: Verdana, Arial, Helvetica;
display:block; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; 
width: 100%; text-align: center;} 

/*  Pasted in on 3/19 */

/*netscape ignore this */
/*/*/
a.buttons:link,a.buttons:visited,a.buttons:hover,a.buttons:active
{border: #333333; border-style: solid; border-top-width: 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px;}

.Headline {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #0066cc; font-style: italic; font-weight: bold; text-decoration:none;}
.SubHeadline_Green {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #006633; font-style: italic; font-weight: bold; text-decoration:none;}

.redstrike {color:990000; text-decoration:line-through;}

.bodyHeader { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #333333; font-weight: bold;}
.bodyHeader a:active { color: #61538D; text-decoration: underline; font-weight: bold;}
.bodyHeader a:link {  color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader a:visited { color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader a:hover {  color: #61538D; text-decoration: underline; font-weight: bold;}

.bodyHeader2 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333333; font-weight: bold;}
.bodyHeader2 a:active { color: #61538D; text-decoration: underline; font-weight: bold;}
.bodyHeader2 a:link {  color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader2 a:visited { color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader2 a:hover {  color: #61538D; text-decoration: underline; font-weight: bold;}

.bodyHeader3 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; font-weight: bold;}
.bodyHeader3 a:active { color: #61538D; text-decoration: underline; font-weight: bold;}
.bodyHeader3 a:link {  color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader3 a:visited { color: #3553A9; text-decoration: underline; font-weight: bold;}
.bodyHeader3 a:hover {  color: #61538D; text-decoration: underline; font-weight: bold;}

.body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}
.body a:active { color: #006736; text-decoration: underline; font-weight: bold;}
.body a:link {  color: #0066cc; text-decoration: underline; font-weight: bold;}
.body a:visited { color: #0066cc; text-decoration: underline; font-weight: bold;}
.body a:hover {  color: #006736; text-decoration: underline; font-weight: bold;}

.mdbody { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.mdbody a:active { color: #006736; text-decoration: underline; font-weight: bold;}
.mdbody a:link {  color: #0066cc; text-decoration: underline; font-weight: bold;}
.mdbody a:visited { color: #0066cc; text-decoration: underline; font-weight: bold;}
.mdbody a:hover {  color: #006736; text-decoration: underline; font-weight: bold;}

.smbody { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #333333}
.smbody a:active { color: #006736; text-decoration: underline; font-weight: bold;}
.smbody a:link {  color: #0066cc; text-decoration: underline; font-weight: bold;}
.smbody a:visited { color: #0066cc; text-decoration: underline; font-weight: bold;}
.smbody a:hover {  color: #006736; text-decoration: underline; font-weight: bold;}

.bodyWHT { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; font-weight: bold;}
.bodyGREEN { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006736; font-weight: bold;}
.bodyRED { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; font-weight: bold;}

.footer div { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #666666}
.footer a:active { color: #3553A9; text-decoration: none; }
.footer a:link { color: #666666; text-decoration: none; }
.footer a:visited { color: #666666; text-decoration: none; }
.footer a:hover {  color: #3553A9; text-decoration: underline; }

.subbut {color : #FFFFFF; background-color : #0066cc; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold;}

.tableborder {border: 1pt solid #666666;}

a.leftmenu{
background-color:#3553a9; 
color:#ffffff;
font-weight: bold; 
text-decoration: none; 
font-size: 85%; 
font-family: Verdana, Arial, Helvetica;
display:block; 
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 2px; 
width: 150px; 
text-align: left;
} 

a.leftmenu:hover {
background-color:#dddddd; 
color:#333333;
font-weight: bold; 
text-decoration: none; 
font-size: 85%; 
font-family: Verdana, Arial, Helvetica;
display:block; 
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 2px; 
width: 150px; 
text-align: left;
} 

a.leftsubmenu {
background-color:#dddddd; 
color:#333333;
font-weight: normal; 
text-decoration: none; 
font-size: 75%; 
font-family: Verdana, Arial, Helvetica;
display:block; 
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 10px; 
width: 150px; 
text-align: left;
} 
a.leftsubmenu:hover {
background-color:#dddddd; 
color:#333333;
font-weight: bold; 
text-decoration: none; 
font-size: 75%; 
font-family: Verdana, Arial, Helvetica;
display:block; 
padding-top: 2px; 
padding-right: 2px; 
padding-bottom: 2px; 
padding-left: 10px; 
width: 150px; 
text-align: left;
} 

/*netscape ignore this */
/*/*/
a.leftmenu:link , a.leftmenu:visited, a.leftmenu:hover, a.leftmenu:active
{border: #333333; border-style: solid; border-top-width: 0; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px;}

a.leftsubmenu:link , a.leftsubmenu:visited, a.leftsubmenu:hover, a.leftsubmenu:active
{border: #333333; border-style: solid; border-top-width: 0; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px;}
