B {
	COLOR: #DCDDF2
}
BODY {
	FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
TD {
	FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
SELECT {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
INPUT {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 11px
}
TEXTAREA {
	BACKGROUND-COLOR: #A39CA4; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif
}
.headline {
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
