body {
	background: #EEEEEE;
}
body, li, td, div {
	font: 11px verdana, arial, sans-serif;
}
ul {
	list-style-type: none;
}
li {
	font-size: 10pt;
}
p.largefont {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}
div.pagebody {
	background: white;
	padding:16px;
	border: solid 1px silver;
}
div.post {
	border: solid 1px silver;
	padding: 1px;
	margin-bottom: 16px;
}
div.username {
	padding: 4px;
	background: #EEEEEE;
}
div.posttext {
	padding: 4px;
	background: #F9F9F9;
}
div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: solid 1px silver;
	padding: 4px;
}
#navbar {
	background: #F9F9F9;
	border: solid 1px silver;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	margin-bottom: 4px;
}
#copyright {
	text-align: center;
}
hr {
	visibility: hidden;
	display: none;
}