/* ----- 左上フレーム用スタイルシートファイル ----- */
/*
# ○ 配色変更のポイント
# 背景色を変えたい場合
#
#
#
*/


/* 背景色、文字色 */
BODY.plt{
	background-color:#FFCC66;
	color:#000000;
}
/* リンク配色 */
A{ text-decoration:none; }
A.plw:link   { color:#CC0000; } /* 通常 */
A.plw:visited{ color:#CC0000; } /* 訪問後（※"通常"と同じにしてください） */
A.plw:hover  { color:#FFFFCC; background:#CC0000 } /* カーソルを合わせたとき */
/* メニューの基本色 */
DIV.plm{
	color:#CC0000;
	text-align:center;
	font-size:11px;
	border: thin solid #FF6633;
	border-width: 1px 0px 1px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* 現在選択中のメニュー */
A.ple{
	background-color:#FF6633;
	color:#FFFFCC;
}
/* 分類(tdtugn.htm) */
DIV.pgb{
	background-color:#FFFFCC;
	font-size:11px;
	text-align:left;
	border: thin solid #FFCC66;
	border-width: 1px 1px 1px 1px;
	margin: 1px 5px 1px 5px;
	padding: 0px 5px 0px 5px;
}
/* 分類の登録単語数 */
.pcm{
	color:#007700;
	font-size:10px;
}
/* 検索(tdtusc.htm) */
DIV.psb{
	background-color:#FFFFCC;
	font-size:11px;
	text-align:center;
	border: thin solid #FFCC66;
	border-width: 1px 1px 1px 1px;
	margin: 1px 5px 1px 5px;
	padding: 0px 5px 0px 5px;
}
/* パレット全体(かな(tdtupk.htm)、英語(tdtupe.htm)) */
DIV.pst{
	text-align:center;
	border: thin solid #FFCC66;
	border-width: 1px 1px 1px 1px;
	margin: 1px 5px 1px 5px;
	padding: 0px 5px 0px 5px;
}
/* パレット内の文字 */
TD.plw{
	background-color:#FFFFCC;
	font-size:12px;
	text-align:center
}
