body {
 background: #ffffff;
 font-family: Verdana;
 font-size: small;
 color:#000000
 }
th {
 color: #ffffff;
 background: #000000;
 border-top-color: #ccccc;
 border-top-width: 1px;
 border-top-style: solid;
 border-left-color: #cccccc;
 border-left-width: 1px;
 border-left-style: solid;
 border-right-color: #999999;
 border-right-width: 1px;
 border-right-style: solid;
 border-bottom-color: #999999;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 }
td.navi {
 background: #000000;
 font-size: smaller;
 }
td {
 border-right-color: #cccccc;
 border-right-width: 1px;
 border-right-style: solid;
 border-bottom-color: #cccccc;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 }
a:link { color:#333333 }
a:visited { color:#666666; text-decoration:none; }
a:active { color:#999999 }
a:hover { color:#333333; text-decoration:underline }
