P  {
	font-family : Arial;
}

H1  {}

H2  {}

H3  {}

A  {
	font-family : Arial;
	color : Blue;
	text-decoration : underline;
}

A:Visited  {
	text-decoration : underline;
	font-family : Arial;
	color : Blue;
}

A:Active  {
	font-family : Arial;
	color : Olive;
	text-decoration : none;
}

A:Hover  {
	text-decoration : none;
	color : Blue;
	font-family : Arial;
}

BODY  {
	font-family : Arial;
}

