body {
        font-family : Verdana, Arial, Helvetica, sans-serif;

        color : #ffffff;
        margin: 0px;
        font-size: 95%;
        scrollbar-face-color: #444444;
        scrollbar-highlight-color: #444444;
        scrollbar-shadow-color: #333333;
        scrollbar-3dlight-color: #555555;
        scrollbar-arrow-color:  #777777;
        scrollbar-track-color: #333333;
        scrollbar-darkshadow-color: #333333;
        margin:0px;
        background-color:#000000;
        background-image: url(/images/home/bg.gif);
        background-repeat:repeat;
        }
.masthead {
        background-image: url(/images/home/bg_header.gif);
}

table {
	font-size: 100%;
}

a {
        color: #EAEAEA;
        text-decoration: none;
}

a:hover {
        color: #D2B951;
        text-decoration: underline;
}

.navlink {
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        background : #3A434E ;
        border-style: none;
}
.navlinkon {
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #D2B951;
        font-size: 12px;
        font-weight: bold;
        background : #3A434E ;
        border-style: none;
}
.subnavlink {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #sdfsdf;
        font-size: 10px;
        background : #3A434E ;
        border-style: none;
}
input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        background : #361313 ;
        font-size: 10px;
        padding: 2px;
        border: 1px dotted #cccccc;
}
input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        background : #361313 ;
        font-size: 10px;
        padding: 2px;
        border: 1px dotted #cccccc;
}
textarea {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 10px;
        background : #361313 ;
        padding: 2px;
        border: 1px dotted #cccccc;
}
select {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 10px;
        background : #361313;
        border-style: none;
}

.content {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
        font-size: 90%;
        background : #49525D ;
        border-style: none;
}

.darkbg {
        background : #49525D ;
}

.newsheader {
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #CCCCCC;
        font-size: 12px;
        font-weight: bold;
        background : #3A434E ;
        border-style: none;
}

.newssubject {
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #D2B951;
        font-size: 11px;
        font-weight: bold;
        background : #3A434E ;
        border-style: none;
}
.newssubjectsmall {
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #ffffff;
        font-size: 10px;
        background : #3A434E ;
        border-style: none;
}

.newsdate{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
        font-size: 10px;
        background : #3A434E ;
        border-style: none;
}

.newssource{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 10px;
        background : #818181 ;
        border-style: none;
}
.newsbody {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background : #72767C ;
        font-size: 80%;
        border-style: none;
}
.leftside{
	background-image: url(/images/home/leftborder.gif);
}
.rightside{
	background-image: url(/images/home/rightborder.gif);
}
.bottomborder{
	background-image: url(/images/home/bottomborder.gif);
}

.gray1{
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #CCCCCC;
        font-size: 10px;
        background : #3A434E ;
        border-style: none;
}
.smallcomments{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: xx-small;
        color: #E4E4E4;
        border-style: none;
}
.error{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #E60000;
        background : #C4C400 ;
        border-style: none;
}
.error:hover{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        background : #C4C400 ;
        border-style: none;
}
.admin{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CC0000;
        background : #3A434E ;
        border-style: none;
}


.screenshottitle {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
        font-size: 12px;
        font-weight: bold;
        background : #49525D ;
        border-style: none;
}

.forumtitle{
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #E8E8E8;
        font-size: 85%;
        font-weight: bold;
        border-style: none;
}

.forumtitle2{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #D2B951;
        font-size: 90%;
        font-weight: bold;
        border-style: none;
}
.forumpostername{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: 85%;
        background : #49525D ;
        font-weight: bold;
        border-style: none;
}
.forumpostertitle{
        font-family: Verdana, Helvetica, sans-serif, Arial;
        font-size: 75%;
        border-style: none;
}
.forumposterdate{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: xx-small;
        background : #49525D ;
        font-weight: bold;
        border-style: none;
}
.forumposttitle{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: 75%;
        background : #49525D ;
        font-weight: bold;
        border-style: none;
}
.forumpostcontent{
        font-family: Verdana, Helvetica, sans-serif, Arial;
        color: #ffffff;
        font-size: 85%;
        border-style: none;
}
.forumannouncementtitle{
        font-family: Helvetica, Verdana, sans-serif, Arial;
        color: #D2B951;
        font-size: 80%;
        font-weight: bold;
        border-style: none;
}
h1{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: 12px;
        font-weight: bold;
        border-style: none;
}
h2{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: 14px;
        font-weight: bold;
        border-style: none;
}
h3{
        font-family: Helvetica, sans-serif, Verdana, Arial;
        color: #F5F5F5;
        font-size: 14px;
        font-weight: bold;
        border-style: none;
}

.tableheader{
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #CCCCCC;
        font-size: 12px;
        font-weight: bold;
        background : #3A434E ;
        border-style: none;
}

.welcome{
        font-family: Helvetica, Verdana, Arial, sans-serif;
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        border-style: none;
}
.calendarheader{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #D2B951;
        font-size: 9px;
        background : #3A434E ;
        border-style: none;
}
.calendarday{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 9px;
        border-style: none;
}
.calendartoday{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #D2B951;
        font-size: 9px;
        border-style: none;
}
.smallcolor1{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #D2B951;
        font-size: 9px;
        border-style: none;
}
tr.gray1{
        font-family: Helvetica, Verdana, Arial, sans-serif;
        background : #72767C;
        border-style: none;
}