/*============================*/
/* Page basics                */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-size-adjust: 0.54;
  margin: 0px;
  color: #000000;
  background-color: #E8D9BC;
  background-image: url("images/lt_bottom_bg.gif");
}

html {
}

:link {
  text-decoration: underline;
  color: #5B441D;
}

:visited {
  text-decoration: underline;
  color: #261B0C;
}

:link:hover, :visited:hover {
  color: #BC7B18;
}
/*============================*/

/*============================*/
/* Header Layout              */
#header {
  /*margin: 0px 0px 20px 0px;*/
}

#header h1 {
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-size: 1.5em;
  font-family: arial, serif;
  border: 0.0625em solid;
  border-color: #AA8038;
  background-color: #E5CEA7;  
}

#header img {
  border: 0px;
}

#header .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#header .topbackground {  
  background-image: url(images/drk_top_bg.gif);
  background-repeat: repeat;
  height: 17px;
  text-align: right;
  padding: 90px 0px 0px 0px;
}

#header .bottombackground {  
  background-image: url(images/navbar_bg.jpg);
  background-repeat: repeat;
  height: 42px;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 15px;
}

#header .userinfo {
  position: absolute;
  width: 100%;
  color: #000000;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
}

#header .smalltext {
  color: #000000;
}

#header :link, #header :visited {
  color: #000000;
  font-weight: bold;
}

#header input {
  background-image: url(images/drk_top_bg.gif);
}
/*============================*/

/*============================*/
/* SubNav Layout              */
#subnav {
  text-align: center;
  border: 0.0625em solid;
  border-color: #BBBBBB;
  background-color: #CCCCED;
  padding: 0.1%;
  padding-bottom: 0.5%;
  margin-bottom: 0.35%;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
}

#subnav:hover {
  border-color: #000000;
  background-color: #CDCDFF;
}

#subnav li, #subnav ul {
  list-style: none;
  display: inline;
  font-size: 0.9em;
}
/*============================*/

/*============================*/
/* Main Content Layout        */
#maincontent {
  margin-top: 0px;
  margin-left: 170px;
  margin-right: 5px;
}
/*============================*/

/*============================*/
/* Copyright                  */
.copyright {
  font-style: italic;
  font-size: 0.7em;
  text-align: center;
}
/*============================*/


/*============================*/
/* Pagestats                  */
.pagestats {
  border: 1px solid;
  border-color: #AA8038;
  font-size: 0.7em;
  text-align: center;
  background-color: #E5CEA7;
}

.pageglobals {
  margin-top: 5px;
  border: 1px solid;
  border-color: #000000;
  font-size: 0.7em;
  text-align: left;
  background-color: #CCCCCC;
}
/*============================*/

/*============================*/
/* Page content elements      */
.content {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.roundbotrght {
  -moz-border-radius-bottomright: 1.5625em;
}

.contentheader {
  width: 100%;  
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1%;
}

.content .contentbody {
  padding-left: 22px;
  padding-right: 10px;
}

.content ul {
  list-style: none;
}

.contentbody li {
  margin-left: 5%;
  padding-left: 1%;
  list-style: circle;
}

.content dt {
  float: left;
  width: 220px;
}

.content dd {
  display: block;
  margin: 5px 0px;
}

.content p {
  font-size: 0.9em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/*============================*/

/*============================*/
/* Form Field Modifiers       */
.requiredfield {
  color: #FF0000;
}

.deletefield {
  color: #AA00AA;
}

.noticefield {
  color: #0000FF;
}

.replacement {
  color: #000055;
  font-size: 0.7em;
}
/*============================*/

/*============================*/
/* Success and Error messages */
.successmsg {
  color: #008800;
  font-size: 0.8em;
  font-style: italic;
}

.errormsg {
  color: #880000;
  font-size: 0.8em;
  font-style: italic;
}
/*============================*/

/*============================*/
/* Controls                   */
select, option, input, textarea {
  background-color: #E5D1B9;
}

select:hover, select:focus, option:hover, option:focus, input:hover, input:focus, textarea:hover, textarea:focus {
  background-color: #E5D1B9;
}
/*============================*/