body {
  background-color: #666696;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
body a:link, body a:visited {
  color: {linkcolor};
}
body a:hover, body a:active {
  color: {hovercolor};
}
select {
  background-color: #CFCFCF;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.archivebody {
   font-weight: normal;
   font-family: Verdana, Helvetica, Arial, sans-serif;
   font-size: 12px;
   color: #FFFFFF;
 }
.archiveheader {
   font-weight: bold;
   font-family: Verdana, Helvetica, Arial, sans-serif;
   font-size: 13px;
   color: #FFFFFF;
 }
.articleheadline {
   font-weight: bold;
   font-family: Helvetica, Arial, Verdana, sans-serif;
   font-size: 15px;
   color: #FFFFFF;
 }
.bgheader {
  background-image: url('$bburl/{imagesfolder}/menu_background.gif');
  text-align: left;
  vertical-align: top;
}
.bginput {
  background-color: #CFCFCF;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.clcategory {
  background-color: {tableheadbgcolor};
  color: {categoryfontcolor};
  font-weight: bold;
}
.clcategoryleft {
  background-color: {categorybackcolor};
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: {tableheadtextcolor};
  font-weight: bold;
}
.clcategory a:link, .clcategory a:visited {
  color: {tableheadtextcolor};
  
  text-decoration: none;
}
.clcategory a:hover, .clcategory a:active {
  color: {categoryfontcolor};
  text-decoration: underline;
}
.clfirst {
  background-color: {secondaltcolor};
}
.clhead {
  background-color: {tableheadbgcolor};
  color: {tableheadtextcolor};
  font-weight: bold;
}
.clheadtext {
  color: {tableheadtextcolor};
}
.clsecond {
  background-color: {tableheadbgcolor};
}
.clpostedby {
  background-color: {categorybackcolor};
}
.clpollq {
  background-color: {categorybackcolor};
}
.clsecondright {
  background-color: {tableheadbgcolor};
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
}
.clweblinks {
  background-color: {secondaltcolor};
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.cltime {
  color: {timecolor};
}
.flarge {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.flargerwhite {
  font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.fwhite {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
}
.fnormal {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.fsmaller {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.fsmall {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 10px;
}
.fspellsection {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #FCC504;
  font-size: 13px;
  font-weight: bold;
}
.imgborder {
  border-width: 0px;
}
.imgborderbottom {
  border-width: 0px;
  vertical-align: bottom;
}
.imgbordermiddle {
  border-width: 0px;
  vertical-align: middle;
}
.imgspacer {
	border: 1px solid {tablebordercolor};
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 2px;
}
.lkfooter {
  text-decoration: none;
}
.pollquestion {
  color: #FFFFFF;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.tbarchive {
  background-color: #F4F4F4;
  border: 1px solid {tablebordercolor};
  border-collapse: collapse;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  width: 100%;
}
.tbarticle {
  border-collapse: collapse;
  border-width: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  width: 100%;
}
.tbborder {
  border: 1px solid {tablebordercolor};
  border-collapse: collapse;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  width: 100%;
}
.tbcontentsmall {
  border: 1px solid {tablebordercolor};
  border-collapse: collapse;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
}
.tberror {
  border-collapse: collapse;
  border-width: 0px;
  height: 50%;
  width: 70%;
}
.tbmain {
  border-collapse: collapse;
  border-width: 0px;
  width: {tablewidth};
}
.tbmaincolor {
  background-color: {pagebgcolor};
  border-collapse: collapse;
  border-width: 0px;
  width: {tablewidth};
}
.tbnormal {
  border-collapse: collapse;
  border-width: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  width: 100%;
}
.tbsimple {
  border-collapse: collapse;
  border-width: 0px;
}
.tdarchive {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-bottom: 4px;
  width: 100%;
}
.tdarticle {
  text-align: right;
  width: 60px;
}
.tdavatar {
  padding-top: 2px;
  width: 72px;
  vertical-align: top;
}
.tdpanel {
  width: 225px;
  vertical-align: top;
}
.tdpollbar {
  background-image: url('$bburl/{imagesfolder}/polls/bar-bk.gif');
  width: $pollbarwidth;
}
.tdspace {
  width: 7px;
}
.txtbold {
   font-weight: bold;
   color: #FFFFFF;
 }
.txtbolditalic {
  font-style: italic;
  font-weight: bold;
}
.txtitalic {
  font-style: italic;
}
.txtcategory {
  color: {categoryfontcolor};
  font-weight: bold;
}
.txtcenter {
  text-align: center;
}
.txtform {
  margin: 0px;
}
.txtrightbottom {
  text-align: right;
  vertical-align: bottom;
}
.txttop {
  vertical-align: top;
}
.txtspellname {
  font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-size: 16px;
  color: #FCC504;
  font-weight: bold;
}