/* Theme by Nick Mahon */
/* http://www.vereor.com */

body
{
	scrollbar-base-color: 6A3971;
}

/* Default Font Attributes */

body, table, td             
{
	font-family: Verdana; 
	font-size: 10px; 
	color: C197C7
}


.smalltext, .mediumtext, .largetext
{ 
	font-family: Verdana, Helvetica; 
	color: C197C7
}


.smalltext
{ 
	font-size : 10px; 
}


.mediumtext      
{ 
	font-size : 11px; 
}


.largetext, TD.row1, TD.row2      
{ 
	font-size : 13px; 
}


/* Text on the Category Row */

.catrowtext
{ 
	font-family:  Verdana; 
	font-size : 11px; 
	color: FFD200
	font-weight: bold 
}

/* Text on the Top Row */
 
.toprowtext      
{ 
	font-family: Verdana, Helvetica; 
	font-size : 9px;
	color: C49DCA; 
	font-weight: bold 
}

/* Alternating Cell Colors */

TD.row1	        
{ 
	background-color: 28092D;
}     
 
 
TD.row2	        
{ 
	background-color: 36103C;
}


/* Some More Cell Properties */

TD.catrow           
{ 
	background-color: 0F0211;
	color: FFD200; 
	font-size: 11px;
	font-weight: bold;
}


TD.toprow
{
	color: C49DCA;
	font-weight: bold;
	background-image: url(templates/Quidditch/images/_cellpic_purple.gif);
}


TD.tableborder	  
{ 
	background-color: 421749
}


/* Links */

a, a:link, a:active, a:visited
{ 
	text-decoration: none; 
	color: C197C7; 
	font-family: Verdana, Helvetica 
}  


a:hover 
{ 
	text-decoration: none; 
	color: FFD200; 
	font-family: Verdana, Helvetica 
} 

/* Links to a forum on the Index */

a.forumlink, a.forumlink:link, a.forumlink:visited, a.forumlink:active                 
{ 
	text-decoration: none; 
	font-weight: bold; 
	font-size: 13px; 
	color: C197C7; 
	font-family: Verdana, Helvetica 
}


a.forumlink:hover         
{ 
	text-decoration: none; 
	font-size: 13px; 
	font-weight: bold; 
	color: FFD200; 
	font-family: Verdana, Helvetica 
}

/* Links to a topic while viewing a forum */
 
a.topiclink, a.topiclink:link, a.topiclink:active, a.topiclink:visited                
{ 
	text-decoration: none; 
	font-size: 13px; 
	color: C197C7; 
	font-family: Verdana, Helvetica 
}  


a.topiclink:hover         
{ 
	text-decoration: none; 
	font-size: 13px; 
	color: FFD200; 
	font-family: Verdana, Helvetica 
}  

 
a.catlink, a.catlink:link, a.catlink:visited, a.catlink:active                
{ 
	text-decoration: none; 
	font-weight: bold; 
	font-size: 11px; 
	color: FFD200; 
	font-family: Verdana 
}   


a.catlink:hover           
{ 
	text-decoration: underline; 
	font-weight: bold; 
	font-size: 11px; 
	color: FFD200; 
	font-family: Verdana 
}

  
a.toprowlink, a.toprowlink:link, a.toprowlink:visited, a.toprowlink:active          
{ 
	text-decoration: none; 
	font-weight: bold; 
	font-size: 9px; 
	color: C49DCA; 
	font-family: Verdana, Helvetica 
}   


a.toprowlink:hover        
{ 
	text-decoration: underline; 
	font-weight: bold; 
	font-size: 9px; 
	color: C49DCA; 
	font-family: Verdana, Helvetica 
} 

   
input, textarea, select 
{
	color : FFD200;
	background-color: 3D1144;
	font-family : Verdana, Helvetica, E58C00, Helvetica, sans-serif;
	font-size : 10px;
	border: 1px #5F2867 solid;
}


input, textarea, select 
{
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;  
}


input
{ 
	text-indent : 2px; 
}


input.button 
{
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;  
}