body	{ background-color: #000000; font-size: 11pt;
	color: #808080; text-align: left;
	font-family: verdana, arial, helvetica, 'Sans Serif';
	SCROLLBAR-FACE-COLOR: #808080; SCROLLBAR-HIGHLIGHT-COLOR: white;
	SCROLLBAR-SHADOW-COLOR: #808080; SCROLLBAR-3DLIGHT-COLOR: black;
	SCROLLBAR-ARROW-COLOR: silver; SCROLLBAR-TRACK-COLOR: #C0C0C0;
	SCROLLBAR-DARKSHADOW-COLOR: black; }

img { border: 0; }
P	{ font-size: 10pt; color: #969696;
	text-align: left;
	font-family: verdana, arial, helvetica, 'Sans Serif';}
p.photo	{ text-align: center; }
p.album_description	{ text-align: left; }
p.photo_description	{ text-align: center; }
p.stopslideshow	{ text-align: center; }
p.stopdebug	{ text-align: center; }
p.views	{ text-align: left; font-size: 10pt; }
p.pages	{ text-align: right; font-size: 10pt; }
p.ratings	{ text-align: right; font-size: 10pt; }
p.recentuploads	{ text-align: right; font-size: 10pt; display: inline; }
p.legend	{ text-align: center; font-size: 10pt; }
p.notify	{ text-align: center; font-size: 10pt; }
p.jhead { text-align: center; font-size: 10pt; }
p.admin	{ text-align: center; font-size: 10pt; }
p.login	{ text-align: left; font-size: 10pt; }
p.upload	{ text-align: right; font-size: 10pt; display: inline; }
p.nav	{ text-align: center; }
p.enterdesc	{ text-align: center; }
p.album	{ text-align: center; }
h1	{ margin:2; padding:2; color: #A1A1A1; font-size: 16pt;
	font-variant: small-caps;
	font-family:  verdana, arial, helvetica, 'Sans Serif';
	text-align: left; line-height: 200%; word-spacing: 3;
	letter-spacing: 8px; font-weight: bold; text-indent:5 }
h2	{ color: #808080; font-size: 10pt;
	font-weight: bold;
	font-family: verdana, arial, helvetica, 'Sans Serif';
	text-align: Left }
h3	{ color: #808080; font-size: 10pt;
	font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif';
	text-align: Left }
h4	{ color: #FF9900; font-size: 10pt; font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif';
	text-align: Left }
td	{ color: white;	FONT-SIZE: 10pt;
	FONT-FAMILY: verdana, arial, helvetica, Sans Serif; }
a:link	{ text-decoration: none; color: black;
	font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif';}
a:visited	{ text-decoration: none; color: black;
	font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif';
	font-style: italic }
a:active	{ text-decoration: none; color: black;
	font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif'; }
a:hover	{ text-decoration: none; color: #808080;
	font-weight: normal;
	font-family: verdana, arial, helvetica, 'Sans Serif';}

table	{ border-collapse: collapse; empty-cells: hide;
	border-color: #000000; }

td	{ border-color: #000000; }

TD.header { background-color: #360000; }

TD.login { background-color: #464646; }

TD.views { background-color: #666666; }

TD.functions { background-color: #666666; text-align:right; }

TD.ratings { background-color: #767676; text-align:right; }

TD.album { background-color: #202020; }

TD.admin	{ background-color: #303030; }

TD.nav	{ background-color: #360000; }

TD.enterdesc	{ background-color: #666666; }

TD.legend	{ background-color: #666666; }

input	{ color:black; background-color:969696; border-width: 2px; border-color:580000; border-style:solid; font-size: 10pt;
	font-family: Tahoma, verdana, arial, helvetica, 'Sans Serif';
	 }
textarea, select	{ color:black; background-color:969696; border-width: 2px; border-color:580000; border-style:solid; font-size: 10pt;
	color: #000000;
	font-family: Tahoma, verdana, arial, helvetica, 'Sans Serif';
	 }
input[type="text"]	{ background-color: #ffffff; }