body {	background : #575D79; color: white ;
	font-family: verdana, arial, helvetica, sans-serif;
	}

.background { background : #575D79; font-family: verdana, arial, helvetica, sans-serif; ; color: #FFFFFF }

tr { font-size: 80%; color: black; background-color: #FFFFCC; }
th { background-color: maroon; color: white; font-weight: bold; text-align: center}
a:link    { color: darkblue; }
a:active  { color: blue; }
a:visited { color: navy; }
a:hover   { color: darkgreen; text-decoration: none; }
.smaller { font-size: 75%; }
.altrow1 { background-color: #FFFFCC}
.altrow2 { background-color: #FFFFAA}
.bglink {  color: #CCFFFF; text-decoration: underline}
.system {  font-weight: bold; color: #FFFF99}
.menu { color: black; background-color: #FFFFCC; ; font-size: 90%}
.small { font-size: 85%; }
.menulink { color: #000000; }
.msgBody {  background-color: #EEEEEE; color: black}
