/* CSS Document */

@charset "utf-8";

.clearfix:after {
	content: "";
	display:block;
	clear:both;
	overflow:hidden;
	height:0px;
}

.clearfix { display: inline-block; }

.clearfix { display: block; }

.clear {
	clear:both;
}

