<style type="text/css">
<!--
a:link    {font-family: Verdana; font-size: 9pt; text-decoration:none; color:gold }
a:visited {font-family: Verdana; font-size: 9pt; text-decoration:none; color:gold }
a:active  {font-family: Verdana; font-size: 9pt; text-decoration:none; color:gold }
a:hover   {font-family: Verdana; font-size: 9pt; text-decoration:underline; color:white; }

tr, td {font-family: Verdana; font-size: 9pt; color: white;}
body {background-color: black; font-family: Verdana; font-size: 12pt; color: white;}
-->
</style>
