.button {
	height: 18px;
	width: 100%;
	border: 1px outset #008080;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-color: #008080;

}
.buttonOver {
	height: 18px;
	width: 100%;
	border: 1px inset #00C0C0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-color: #00C0C0;
}

.buttonSmall {
	background-color: #3399FF;
	background-image: ;
	height: 18px;
	width: 73px;
	border: 0px none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF
}

.date {
	font-size: 10px;
	color: #990000;
	text-align: right;
}

.formButton {

	border: 1px outset #CCCCCC;
	padding-left: 3px;
	font-family: Tahoma, Verdana, "MS Sans Serif";
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
}

.formOutput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	background-color: #FFFFFF;
	width: 100%;
	padding: 2px 5px 0px;
	height: 20px;
	border-top: 1px solid #666666;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #666666;
}

.formText {
	font-size: 9px;
	color: #555555;
	padding-top: 3px;
	padding-right: 5px;
}

.headline {
	font-weight: bold;
	font-size: 12px;


}

.largeText {
	font-size: 14px;
	font-weight: bold;
}

.redLine {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #993366;
}

.shaded {
	background-color: #99CCFF;
}

.shaded2 {

	background-color: #FFCC33;
}

.shaded3 {

	background-color: #C0C0C0;
}

.shaded4 {

	background-color: #C0C0D7;
}
.sideColumnInterior {
	color: #999999;
	background-color: #004040;
	border: 1px outset #003399;
	padding: 5px;
}

.small {
	font-size: 9px;
}

.tableHeading {
	font-weight: bold;
	color: #003399;
	font-size: 12px;
}

.underlayTopLeft {
	background-image: url('../images/underlay-top-left.gif');
	background-repeat: no-repeat;
	background-position:  right 50%;

}

.underlayBottomLeft {

	background-image: url('../images/underlay-bottom-left.gif');
	background-repeat: no-repeat;
	background-position:  right 50%;

}

.underlayTopRight {

	background-image: url('../images/underlay-top-right.gif');
	background-repeat: no-repeat;

}

.underlayBottomRight {
	background-image: url('../images/underlay-bottom-right.gif');
	background-repeat: no-repeat;

}

.underlayTopLeftFront {
	background-image: url('../images/underlay-top-left-front.gif');
	background-repeat: no-repeat;
	background-position:  31px 50%;

}

.underlayBottomLeftFront {
	background-image: url('../images/underlay-bottom-left-front.gif');
	background-repeat: no-repeat;
	background-position:  31px 50%;

}

.underlayFront {
	background-image: url('../images/underlay-front.gif');
	background-repeat: repeat-y;
	background-position:  31px 50%;

}

a {
	color: #003399;
	text-decoration: none; font-size:8pt; font-weight:bold
}

a:hover {
	color: #990000; font-size:8pt; font-weight:bold
}

a:link {
	color: #003399;
	text-decoration: none; font-size:8pt; font-weight:bold
}

a.light {
	color: #3399FF; font-size:8pt; font-weight:bold
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #008080;
	background-image: url('../images/green-checkers.gif'); 
    padding: 0
}

hr {
	color: #993366;
	height: 1px;
}

.outsetCell {
	border: 1px outset #3399FF;
	background-color: #99CCFF;
}

input {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #3399FF;
	padding-left: 3px;


}

select {
	font-family: Tahoma, Verdana, "MS Sans Serif";
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px inset #CCCCCC;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

td.roster {
	font-size: 12px;
}

td.rosterShaded {
	background-color: #99CCFF;
	font-size: 12px;
}

.headline {
	font-weight: bold;
	color: #003399;

}

textarea {
	font-family: Tahoma, Verdana, "MS Sans Serif";
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px inset #CCCCCC;
	padding-left: 3px;
}

ul {
	list-style-image: url('../Images/bullet.gif');
}
.table2	{
	color:#000000; 
	background-image: url('../images/white-checkers.gif');
	background-color: #FFFFFF;
}
.infotable	{
	background-color: #005453;
}

h2           { font-size: 14pt; color: #000080; font-weight: bold }
h3           { font-size: 13pt; color: #000080; font-weight: bold }

a.nav  {
	color : #0F4D0F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	font-weight: bold;
}

a.nav:hover {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 8pt;
	font-weight: bold;
}

a.nav:visited {
	color : #0F4D0F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 8pt;
	font-weight: bold;
}

a.nav:visited:hover {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 8pt;
	font-weight: bold;
}