 body { 
	scrollbar-face-color: #D8E2E7;
	scrollbar-shadow-color: #D8E2E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #96AABD;
	scrollbar-darkshadow-color: #96AABD;
	scrollbar-track-color: #B8C1C9;
	scrollbar-arrow-color: 606D79; 

	BACKGROUND-COLOR: #ffffff;
	font-family: verdana, Helvetica, sans-serif; 
	font-size: 12px ; 
	color: #13354E; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;  
}


ul 
{
list-style-image: url("images/smallball.gif")
}

.headings { font-size: 80%; font-weight: bold; font-family: arial, helvetica, sans-serif; border-top: 1px solid #ffffff; 
border-right: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; }
	.navtitle { font-size: 18px; color: #13354E; font-family: arial, helvetica, sans-serif; }
	h4 { font-size: 13px; font-weight: bold;  }
	i { font-size: 13px; font-style: italic;  }
	hr { color: #96AABD; size:1px ; width: 60%; noshade; }
	.m { font-size: 12px; border-top: 1px solid #ffffff; 
border-right: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; }
	.td { font-size: 12px;  }
	.inputbox { font-size: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;}
	.inputbutton { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	
	.textinputshort { font-size: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;} 

	TEXTAREA, .bginput {FONT-SIZE: 12px; border-top: #D8E2E7 solid thin; border-bottom: #D8E2E7 solid thin; border-right: #D8E2E7 solid thin; border-left: #D8E2E7 solid thin; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #000000;}

	BUTTON { font-size: 12px; border-top: #FFFFFF solid thin; border-bottom: #96AABD solid thin; border-right: #96AABD solid thin; border-left: #FFFFFF solid thin; font-family: verdana, helvetica, sans-serif; COLOR: #606D79; BACKGROUND-COLOR: #D8E2E7;}
	


	A:link {text-decoration: none; font-size: 12px ; font-weight: none; font-style: none; color: #FF0000}
	A:visited {text-decoration: none; font-size: 12px ; font-weight: none; font-style: none; color: #FF0000}
	A:hover {text-decoration: underline; font-size: 12px ; font-weight: none; font-style: none; color: #000000}
	A:active {text-decoration: none; font-size: 12px ; font-weight: none; font-style: none; color: #FF0000}

a.nav:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: #13354E; font-weight: normal; height: auto; width: 100%; border: 1px; background: #D8E2E7; border-style: solid; border-color: #FFFFFF #96AABD #96AABD #FFFFFF; padding-top: 1px ; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}

a.nav:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: underline; color: #FF0000; font-weight: normal; height: auto; width: 100%; border: 1px; background: #D8E2E7; border-style: solid; border-color: #FFFFFF #96AABD #96AABD #FFFFFF; padding-top: 1px ; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}

a.nav:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: 13354E; font-weight: normal; height: auto; width: 100%; border: 1px; background: #D8E2E7; border-style: solid; border-color: #FFFFFF #96AABD #96AABD #FFFFFF; padding-top: 1px ; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}

a.nav:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none; color: 13354E; font-weight: bold; height: auto; width: 100%; border: 1px; background: #D8E2E7; border-style: solid; border-color: #FFFFFF #96AABD #96AABD #FFFFFF; padding-top: 1px ; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
