LI 
{
list-style-image: url(images/spacer.gif);
margin-left:-20px;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
.ArticleAllMessages
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
}
 .ArticleAuthor
{
font-family: Geneva, Arial, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #000066;
}
 .ArticleAuthorLight
{
font-family: Geneva, Arial, sans-serif;
font-size: 9pt;
color: #000066;
}
 .ArticleHead
{
font-family: Geneva, Arial, sans-serif;
font-size: 15pt;
}
.ArticleHead Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 18pt;
}
.ArticleHead4
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt; 
}   
 .ArticleMore
{
font-family: Arial, sans-serif;
font-size: 9pt;
font-weight: bold;
}
.ArticleReply
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
 .ArticleSource
{
font-family: Geneva, Arial, sans-serif;
font-size: 15pt;
color: #006666;
}
.ArticleSource Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 18pt;
color: #006666;
}
.ArticleSource4
{
font-family: Geneva, Arial, sans-serif; 
font-size: 10pt;
color: #006666;
}
 .ArticleText
{
font-family: Geneva, Arial, sans-serif;
font-size: 11pt;
}
 .ArticleTime
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt;
font-weight: bold;
color: #888888;
}
.ArticleTime5
{
font-family: Arial, sans-serif;
font-size: 8pt; 
}
.ArticleTitle
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
.ArticleTitle A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;
color: black;
}
.Breadcrumb
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
}
 .GraphicCaption
{
font-family: Geneva, Arial, sans-serif;
font-size: 8pt;
font-weight: light;
}
 .NewsTitle
{
font-family: Arial, sans-serif;
font-size: 14pt;
}
 .NewsTitle Big
{
font-weight: Arial, sans-serif;
font-size: 17pt;
}
 .SkylineWhite
{
color: white; 
font-family: Arial, Helvetica, sans-serif;
font-size: 18pt;
font-style: italic;
font-weight: bold;
}
 .OtherSiteHead
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
.OtherSiteHead BIG
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
 .OtherSiteLink
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
 .Login
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
.LoginScript
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
}
  .LeftMenuItem
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}

.SimpleCharName A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.SimpleCharGuild A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #000066;
}

.SimpleCharGuildAngle
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.SimpleCharMenuItem A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
color: #000066;
}

.SimpleCharMessages
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 7pt;
color: #CC0000;
}

.Char
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;
color: #000066;
}

.CharName
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 14pt;
font-weight: bold;
color: #000066;
}

.CharGuildName
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.CharGuildName A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.CharServerName
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.CharServerName A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
color: #000066;
}

.StatLabel
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
.StatLabelImportant
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
}
.StatValue
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
}
.StatValueImportant
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;
}
 .SectionHead
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
 .SectionHead Big
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 13pt;
}
 .Equip
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
}
 .EquipHead
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
}
.MsgSubject
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 14pt;
}
.MsgText
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
.MsgContact
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
}
.MsgStat
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
}
.MsgServer
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
}
.MsgCharName
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #000066;
}
.MsgGuild
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #000066;
}
.MsgGuild A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #000066;
}
.MsgHeadSubject
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
}
.MsgHeadAuthor
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
color: #000066;
}
.MsgHeadAuthor A
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
color: #000066;
}
.MsgHeadServer
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
}
.MsgHeadTime
{
font-family: Arial, Helvetica, sans-serif;
font-size: 8pt;
}
.MsgHeadExcerpt
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
}
.MsgHeadReply
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
}
.EntryLabel
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
}
.Title1
{
font-family: Geneva, Arial, sans-serif;
font-size: 18pt;
}
.Title1 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 20pt;
}
.Title2
{
font-family: Geneva, Arial, sans-serif;
font-size: 14pt;
}
.Title2 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 17pt;
}
.Title3
{
font-family: Geneva, Arial, sans-serif;
font-size: 12pt;
}
.Title3 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 14pt;
}
.Header3
{
font-family: Geneva, Arial, sans-serif;
font-size: 12pt;
font-weight: bold;
}
.Header3 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 14pt;
font-weight: bold;
}
.Label3
{
font-family: Geneva, Arial, sans-serif;
font-size: 12pt;
font-weight: bold;
}
.Label3 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 14pt;
font-weight: bold;
}
.Field3
{
font-family: Arial, sans-serif;
font-size: 12pt;
}
.Body3
{
font-family: Geneva, Arial, sans-serif;
font-size: 12pt;
}
.Error3
{
font-family: Geneva, Arial, sans-serif;
font-size: 12pt;
font-weight: bold;
color: #CC0000;
}
.Title4
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt;
}
.Title4 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 13pt;
}
.Body4
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt;
}
.Body4 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 13pt;
}
.Label4
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt;
font-weight: bold;
}
.Label4 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 13pt;
font-weight: bold;
}
.Title5
{
font-family: Geneva, Arial, sans-serif;
font-size: 8pt;
}
.Title5 Big
{
font-family: Geneva, Arial, sans-serif;
font-size: 10pt;
}
