/* CSS Document */
body{margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom: 0px; background-image:url(images/bg.jpg);}
.bodytext{font-family: verdana; font-size:10px; color: #5A5A5A;}
.bodyalphaheading{font-family: arial; font-size:24px; font-weight:bold; color: #F6F4F1;}
.footer{font-family: verdana; font-size:10px; color: #FFFFFF; padding-bottom:8px}
.leftmenuhome{font-family: verdana; font-size:10px; color: #868939; font-weight:bold}
.bottomheading{font-family: arial;font-size: 11px;color: #FFFFFF;font-weight:bold;text-decoration:none;}
H1{font-family: arial; font-size:17px; color: #8A6F39; font-weight:bold;}
.bodylinkhome{font-family: verdana; font-size: 10px; font-weight:bold; color: #7D5A24; text-decoration:none;}
.footerlinkhome{font-family: verdana; font-size: 10px; color: #969696; text-decoration:none;}
.firsttophome{font-family: tahoma; font-size: 10px; font-weight:bold; color:#81590A; text-decoration:none;}
.secondtophome{	font-family: tahoma; font-size: 10px; color: #FFFFFF; font-weight:bold; text-decoration:none;}
.border{border-left:#2EA7E0 3px solid; border-right:#2EA7E0 3px solid}
a.firsttop:link {
	font-family: tahoma;
	font-size: 10px;
	color: #573A00;
	font-weight:bold;
	text-decoration:none;
}
a.firsttop:visited {
	font-family: tahoma;
	font-size: 10px;
	color: #573A00;
	font-weight:bold;
	text-decoration:none;
	
}
a.firsttop:active {
	font-family: tahoma;
	font-size: 10px;
	color: #573A00;
	font-weight:bold;
	text-decoration:none;
}
a.firsttop:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight:bold;
	color: #81590A;
	text-decoration:none;
	
}
a.secondtop:link {
	font-family: tahoma;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
a.secondtop:visited {
	font-family: tahoma;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
	
}
a.secondtop:active {
	font-family: tahoma;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
a.secondtop:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight:bold;
	color: #573A00;
	text-decoration:none;
	
}
a.morelink:link {
	font-family: arial;
	font-size: 15px;
	color: #BFB6A0;
	font-weight:bold;
	text-decoration:none;
}
a.morelink:visited {
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	color: #BFB6A0;
	text-decoration:none;
	
}
a.morelink:active {
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	color: #BFB6A0;
	text-decoration:none;
}
a.morelink:hover {
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	color: #BFB6A0;
	text-decoration:underline;
	
}
a.bodylink:link {
	font-family: verdana;
	font-size: 10px;
	color: #7D5A24;
	font-weight:bold;
	text-decoration:none;
}
a.bodylink:visited {
	font-family: verdana;
	font-size: 10px;
	font-weight:bold;
	color: #7D5A24;
	text-decoration:none;
	
}
a.bodylink:active {
	font-family: verdana;
	font-size: 10px;
	color: #7D5A24;
	font-weight:bold;
	text-decoration:none;
}
a.bodylink:hover {
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
	
}
a.footerlink:link {
	font-family: verdana;
	font-size: 10px;
	color: #969696;
	text-decoration:none;
}
a.footerlink:visited {
	font-family: verdana;
	font-size: 10px;
	color: #969696;
	text-decoration:none;
	
}
a.footerlink:active {
	font-family: verdana;
	font-size: 10px;
	color: #969696;
	text-decoration:none;
}
a.footerlink:hover {
	font-family: verdana;
	font-size: 10px;
	color: #616161;
	text-decoration:none;
	
}
a.buttonpannel:link {
	font-family: arial;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
a.buttonpannel:visited {
	font-family: arial;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
a.buttonpannel:active {
	font-family: arial;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
a.buttonpannel:hover {
	font-family: arial;
	font-size: 11px;
	color: #FFD13C;
	text-decoration:none;
	font-weight:bold;
	
}