/* Main page classes */

a:link				{color: #990000; text-decoration: none}
a:visited			{color: #880000; text-decoration: none}
a:active			{color: #880000; text-decoration: none}
a:hover				{color: #AA0000; text-decoration: nome}

.quote				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #770000; margin-left: 0px; margin-top: 0px}
.history			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.cloakLayer			{position: absolute; width: 780px; z-index: 1; right: 8px; top: 0px}
.frontLayer			{position: absolute; height: 100%; width: 780px; z-index: 2; right: -1px; top: 0px; background-image: url("../images/shadowback.gif"); background-repeat: repeat-y}
.main				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.headline			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13pt; color: #CCCCCC; margin-left: 0px; margin-top: 0px}
.subhead			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.date				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.author				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.article			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; margin-left: 0px; margin-top: 0px}
.abstract			{font-family: Arial, Helvetica, sans-serif; color: #000000; font-weight: bold; font-size: 8pt; margin-left: 0px; margin-top: 0px}
.list				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #000000; margin-left: 0px; margin-top: 0px}
.listContents		{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11pt; color: #666666; margin-left: 0px; margin-top: 0px}
.loginText			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11pt; color: #990000; margin-left: 0px; margin-top: 0px}
.loginLink			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #CC0000; margin-left: 0px; margin-top: 0px}
.formObjectTitle	{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #999999; margin-left: 0px; margin-top: 0px}
.editText			{font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #999999; margin-left: 0px; margin-top: 0px}
.formButton			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; margin-top: 2px}
.mainTitle			{font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #999999; margin-left: 0px; margin-top: 0px; font-weight: bold}
.guildleader		{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #CCCCCC; margin-left: 0px; margin-top: 0px}
.blackMain			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; margin-left: 0px; margin-top: 0px}