/*
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃■Ｃ－ＢＯＡＲＤ用スタイルシート
┃----------------------------------------------------------------------------
┃このファイルにはＣ－ＢＯＡＲＤ用のスタイルシートが記録されています。
┃自由に書き換えることが出来ますが、「セットアップ（スタイル） 」の一番下で
┃スタイルシートを書き換えないように設定しないとセットアップ時に自動的に
┃プログラムによって上書きされてしまうので注意してください。
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/

a {
	text-decoration: none;
}

.AllAgent {
	font-size: 10pt;
}

.AllBody {
	font-size: 10pt;
}

.AllBodyQuot1 {
	font-size: 10pt;
}

.AllBodyQuot2 {
	font-size: 10pt;
}

.AllBodyQuot3 {
	font-size: 10pt;
}

.AllDate {
	font-size: 10pt;
}

.AllDelete {
	font-size: 10pt;
}

.AllDeleteInput {
	font-size: 10pt;
}

.AllFile {
	font-size: 10pt;
}

.AllHit {
	font-size: 10pt;
}

.AllName {
	font-size: 10pt;
}

.AllReply {
	font-size: 10pt;
}

.AllReplyInput {
	font-size: 10pt;
}

.AllSubject {
	font-size: 12pt;
}

.AllTree {
	font-size: 10pt;
}

.Count {
	font-size: 11pt;
}

.Custom {
	font-size: 10pt;
}

.CustomInput {
	font-size: 10pt;
}

.CustomWarn {
	font-size: 10pt;
}

.Error {
	font-size: 10pt;
}

.ErrorSmall {
	font-size: 10pt;
}

.Mail {
	font-size: 10pt;
}

.MailInput {
	font-size: 10pt;
}

.MailWarn {
	font-size: 10pt;
}

.Master {
	font-size: 10pt;
}

.MasterInfo {
	font-size: 10pt;
}

.MasterInput {
	font-size: 10pt;
}

.MasterTips {
	font-size: 10pt;
}

.MasterTitleInput {
	font-size: 10pt;
}

.MasterTitleSub {
	font-size: 11pt;
}

.MasterWarn {
	font-size: 10pt;
}

.Menu {
	font-size: 10pt;
}

.MenuInput {
	font-size: 10pt;
}

.MenuSend {
	font-size: 10pt;
}

.NumberDate {
	font-size: 10pt;
}

.NumberName {
	font-size: 10pt;
}

.NumberSubject {
	font-size: 10pt;
}

.Post {
	font-size: 10pt;
}

.PostInput {
	font-size: 10pt;
}

.ResultInfo {
	font-size: 10pt;
}

.ResultLogName {
	font-size: 11pt;
}

.ResultLogTree {
	font-size: 10pt;
}

.ResultSummary {
	font-size: 10pt;
}

.Search {
	font-size: 10pt;
}

.SearchInput {
	font-size: 10pt;
}

.ThreadHeadline {
	font-size: 10pt;
}

.TopicDate {
	font-size: 10pt;
}

.TopicLatest {
	font-size: 10pt;
}

.TopicName {
	font-size: 10pt;
}

.TopicReply {
	font-size: 10pt;
}

.TopicSubject {
	font-size: 11pt;
}

.TreeChildDate {
	font-size: 10pt;
}

.TreeChildName {
	font-size: 10pt;
}

.TreeChildSubject {
	font-size: 10pt;
}

.TreeParentDate {
	font-size: 10pt;
}

.TreeParentName {
	font-size: 10pt;
}

.TreeParentSubject {
	font-size: 10pt;
}

