body { 
	scrollbar-face-color=#DDD5EF; 
	scrollbar-shadow-color=#9584B4;
	scrollbar-highlight-color=#FFFFFF;
	scrollbar-3dlight-color=#D0C7E1; 
	scrollbar-darkshadow-color=#D0C7E1;
	scrollbar-track-color=#F6F3FD; 
	scrollbar-arrow-color=#9584B4;
}

body, td { 
	font-family: Geneva, Georgia, Verdana, sans-serif; 
	font-size: 11px; 
	color: #3C3C3C;
}

a { 
	text-decoration: none; 
	color: #746393;
}
a:hover { 
	text-decoration: underline;
}

pre { 
	font-family: Geneva, Arial, Tahoma, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	color: #3C3C3C;
}

input, textarea { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 11px; 
	color: #3C3C3C; 
	background: #E9E3F5;
                border: 1px solid #B9AECE; 
}

.topic { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 11px; color: #E9E3F5; 
	font-weight: bold;
}

.posted { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 11px; 
	color: #E9E3F5;
}

.comments { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 11px;
	color: #746393; 
	font-weight: bold;
}

.compost { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 10px; 
	color: #3C3C3C; 
	background=#EFEFEF;
}

.linky { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 
	font-size: 11px; 
	color: #E9E3F5; 
	font-weight: bold;
}