A:link, A:visited, A:active, A:hover { 
  text-decoration: none;
  font-weight:     bold;
}
A:link  { 
  color: blue;
}
A:visited { 
  color: #800080;
}
A:active {
  color: red;
}
A:HOVER { 
  color: white;
  background-color: black;
}
.onbody{
  background: #FFFFEE:;
}
.onbody A:LINK {
  color: blue;
}
.onbody A:VISITED {
  color: #800080;
}
.onbody A:ACTIVE {
  color: red;
}
BODY,P,TABLE,TD,TR {   
  font-size:   10pt;
  font-family: helvetica,arial;
  color: #000000;
}
BODY {
  background: #FFFFFF;
}
PRE {
  font-size:   9pt;
  font-family: courier;
}
FORM {
  display: inline;
  margin-bottom: 0;
}
.tablesurround {
  background: #000099;
}
.tableborders {
  background: #000000;
}
.tdheader {
  font-size:   11pt;
  font-weight: bold;
  color:       #000000;
  background:  #CCCCFF;
  font-family: arial;
}
.menubar{
  background: #CCCCFF;
  color: blue;
}
.navigation{
  background: #CCCCFF;
  color: blue;
  font-size:   8pt;
  font-family: helvetica,arial;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: 8pt;
  color:     red;
}
.catandforum {
  font-size: 8pt;
}
.posttime {
  font-size: 8pt;
  font-style: oblique;
  text-align: center;
  background: #EEEEFF;
}
.threadtotal {
  font-size: 8pt;
  background: #EEEEFF;
}
.posttotal {
  font-size: 8pt;
  background: #DDDDFF;
}
.modcolumn {
  font-size: 8pt;
  background: #DDDDFF;
}
.small {
  font-size:   8pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: blue;
}
.pollcolor {
  background: blue;
}
.welcome {
  background: #DDDDFF;
  font-family: Times new roman;
  color: black;
}
.forumtitle {
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: #EEEEFF;
  color: #000000;
}
.darktable {
  background: #DDDDFF;
  color: #000000;
}
.cleartable {
  background: #FFFFFF;
}
.alternatetable {
  background: #FFFFFF;
}
.subjecttable { 
  background: #DDDDFF;
}
.footertable {
  background: #DDDDFF;
}
.formboxes{
  font-family: geneva, arial, sans-serif;
  background-color: #CCCCFF;
  color: #000000;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  background-color: #CCCCFF;
  color: #000000;
}
blockquote {
   font-size:9pt; border:1px solid #DDDDFF;
   margin:0px 20px; padding:0px 10px
}
blockquote .small {
   background:#DDDDFF;
   margin-left:-10px; padding:1px 2px
}
blockquote hr {
   visibility:hidden;
   height:1px
}
blockquote br {
   font-size:1px
}

