A {
	color : Yellow;
}

A:HOVER {
	color : Lime;
}

TEXT {
	color : White;
	font-family : Verdana;
}


BODY {
	background-color : Black;
	color : White;
	font-family : Verdana;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	scrollbar-3dlight-color : Silver;
	scrollbar-arrow-color : White;
	scrollbar-base-color : Black;
	scrollbar-face-color : Gray;
	scrollbar-darkshadow-color : Black;
	scrollbar-highlight-color : #F0F8FF;
	scrollbar-shadow-color : Black;
	scrollbar-track-color : Gray;
	cursor : url(eqr.cur);
}

TD {
	font-size : 8pt;
	font-family : Verdana;
}
