<style type="text/css">
<!--

/* BODY‚Ì‘•ü */
BODY{ font-size : 12pt ; color: #1e6bec ;} 
TD{
  font-family: "‚l‚r ‚oƒSƒVƒbƒN";
  font-size : 12px;
}
BODY{
  font-size : 12px;
  font-family : "‚l‚r ‚oƒSƒVƒbƒN";
}

/* ƒeƒLƒXƒg‚Ì‘•ü text-decoration */
A { text-decoration: none ; color: #1e6bec ; font-size: 12px; font-family: ‚l‚r ‚oƒSƒVƒbƒN;}

/* ‘I‘ð’†‚ÌƒŠƒ“ƒN active links */
A:ACTIVE {font-size : 12px; font-family: ‚l‚r ‚oƒSƒVƒbƒN;}
A:HOVER {background-color:#4169E1; color: #ffffff ; font-size : 12px; font-family: ‚l‚r ‚oƒSƒVƒbƒN;}

/* ƒXƒNƒ[ƒ‹ƒo[‚Ì‘•ü scrollbar-face-color */
BODY    { 
	scrollbar-face-color      : #FFFFFF;
	scrollbar-shadow-color    : #7eaafa;
	scrollbar-highlight-color : #7eaafa;
	scrollbar-3dlight-color   : #7eaafa;
	scrollbar-darkshadow-color: #7eaafa;
	scrollbar-track-color     : #FFFFFF;
	scrollbar-arrow-color     : #FFFFFF;}


/* SorryEEE‚Ì‘•ü•” */
em	{ 
	font-size       : 10px; 
	font-style      : normal; 
	color		: #999999; /* Gray */
	}

//-->
</style>