.mstheme     { separator-image: url(abstrrul.gif); list-image-1: url(abstrbu1.gif); 
               list-image-2: url(abstrbu2.gif); list-image-3: 
               url(abstrbu3.gif); nav-banner-image: url(abstrbnr.gif); 
               navbutton-horiz-normal: url(abstrhb.gif); 
               navbutton-horiz-hovered: url(abstrhbh.gif); 
               navbutton-horiz-pushed: url(abstrhbs.gif); 
               navbutton-vert-normal: url(abstrvb.gif); 
               navbutton-vert-hovered: url(abstrvbh.gif); 
               navbutton-vert-pushed: url(abstrvbs.gif); 
               navbutton-home-normal: url(bstrhoma.gif); 
               navbutton-home-hovered: url(bstrhomh.gif); 
               navbutton-home-pushed: url(blhomep.gif); 
               navbutton-next-normal: url(bstrnxta.gif); 
               navbutton-next-hovered: url(bstrnxth.gif); 
               navbutton-next-pushed: url(blnextp.gif); 
               navbutton-prev-normal: url(bstrprva.gif); 
               navbutton-prev-hovered: url(bstrpreh.gif); 
               navbutton-prev-pushed: url(blprevp.gif); navbutton-up-normal: 
               url(bstrupa.gif); navbutton-up-hovered: url(bstruph.gif); 
               navbutton-up-pushed: url(blupp.gif) }
.mstheme-bannertxt { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(0, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-horiz-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-navtxthome { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtnext { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtprev { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtup { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
ul           { list-style-image: url('abstrbu1.gif') }
ul ul        { list-style-image: url('abstrbu2.gif') }
ul ul ul     { list-style-image: url('abstrbu3.gif') }
a:link       { color: rgb(192, 192, 192) }
a:active     { color: rgb(0, 102, 0) }
a:visited    { color: rgb(153, 0, 0) }
body         { background-color: rgb(209, 221, 235); color: rgb(0, 0, 0) }
table        { table-border-color-light: rgb(102, 153, 204); table-border-color-dark: 
               rgb(51, 102, 153) }
h1           { color: rgb(51, 102, 153) }
h2           { color: rgb(51, 102, 153) }
h3           { color: rgb(51, 102, 153) }
h4           { color: rgb(51, 102, 153) }
h5           { color: rgb(51, 102, 153) }
h6           { color: rgb(51, 102, 153) }
button       { background-color: rgb(51, 102, 153); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
.mstheme-text {  }
textarea     { color: rgb(11, 0, 0) }
fieldset     { color: rgb(11, 0, 0) }
legend       { color: rgb(51, 102, 153) }
select       { color: rgb(11, 0, 0) }
caption      { color: rgb(51, 102, 153) }
th           { color: rgb(0, 0, 0) }
.mstheme-bannertxt a:link { color: rgb(192, 192, 192) }
.mstheme-bannertxt a:active { color: rgb(0, 102, 0) }
.mstheme-bannertxt a:visited { color: rgb(153, 0, 0) }
.mstheme-bannertxt-g { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(0, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-bannertxt-g a:link { color: rgb(192, 192, 192) }
.mstheme-bannertxt-g a:active { color: rgb(0, 102, 0) }
.mstheme-bannertxt-g a:visited { color: rgb(153, 0, 0) }
.mstheme-bannertxt-s { font-family: 'Trebuchet MS', Arial, Helvetica; color: rgb(0, 0, 0); 
               font-size: 6; font-style: normal; font-weight: normal }
.mstheme-bannertxt-s a:link { color: rgb(192, 192, 192) }
.mstheme-bannertxt-s a:active { color: rgb(0, 102, 0) }
.mstheme-bannertxt-s a:visited { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt a:link { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt a:active { color: rgb(0, 102, 0) }
.mstheme-horiz-navtxt a:visited { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-horiz-navtxt-g a:link { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt-g a:active { color: rgb(0, 102, 0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(153, 0, 0) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-horiz-navtxt-gs a:link { color: rgb(192, 192, 192) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(0, 102, 0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxthome a:link { color: rgb(192, 192, 192) }
.mstheme-navtxthome a:active { color: rgb(0, 102, 0) }
.mstheme-navtxthome a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxthome-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxthome-g a:link { color: rgb(192, 192, 192) }
.mstheme-navtxthome-g a:active { color: rgb(0, 102, 0) }
.mstheme-navtxthome-g a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxthome-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxthome-gs a:link { color: rgb(192, 192, 192) }
.mstheme-navtxthome-gs a:active { color: rgb(0, 102, 0) }
.mstheme-navtxthome-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtnext a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtnext a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtnext a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtnext-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtnext-g a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtnext-g a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtnext-g a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtnext-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtnext-gs a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtnext-gs a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtnext-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtprev a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtprev a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtprev a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtprev-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtprev-g a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtprev-g a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtprev-g a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtprev-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtprev-gs a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtprev-gs a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtprev-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtup a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtup a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtup a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtup-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtup-g a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtup-g a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtup-g a:visited { color: rgb(153, 0, 0) }
.mstheme-navtxtup-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 1; font-style: 
               normal; font-weight: normal }
.mstheme-navtxtup-gs a:link { color: rgb(192, 192, 192) }
.mstheme-navtxtup-gs a:active { color: rgb(0, 102, 0) }
.mstheme-navtxtup-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-topbar-font a:link { color: rgb(192, 192, 192) }
.mstheme-topbar-font a:active { color: rgb(0, 102, 0) }
.mstheme-topbar-font a:visited { color: rgb(153, 0, 0) }
.mstheme-topbar-font-g { font-family: Arial, Helvetica; color: rgb(0,0,0); font-size: 8pt; 
               font-weight: bold }
.mstheme-topbar-font-g a:link { color: rgb(192, 192, 192) }
.mstheme-topbar-font-g a:active { color: rgb(0, 102, 0) }
.mstheme-topbar-font-g a:visited { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt a:link { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt a:active { color: rgb(0, 102, 0) }
.mstheme-vert-navtxt a:visited { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt-g { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-vert-navtxt-g a:link { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt-g a:active { color: rgb(0, 102, 0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme-vert-navtxt-gs a:link { color: rgb(192, 192, 192) }
.mstheme-vert-navtxt-gs a:active { color: rgb(0, 102, 0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(153, 0, 0) }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 2; font-style: 
               normal; font-weight: bold }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(bstrglbu.gif) }
.mstheme-topbar-font { font-weight: bold; color: rgb(0,0,0); font-size: 8pt; font-family: 
               Arial, Helvetica }
body         { background-image: url('paper_b001a.jpg'); font-family: 
               'Trebuchet MS', Arial, Helvetica }
button       { font-size: 8pt; font-style: Bold; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-family: 'Trebuchet MS', Arial, Helvetica; font-style: 
               Normal }
fieldset     { font-family: Arial, Helvetica; font-size: 8pt; font-style: Normal; 
               border-style: solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 
               'Trebuchet MS', Arial, Helvetica }
h2           { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: normal; font-size: 
               18pt; font-weight: normal }
h3           { font-family: 'Trebuchet MS', Arial, Helvetica; font-size: 14pt; font-weight: 
               normal; font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; font-family: 
               'Trebuchet MS', Arial, Helvetica }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               'Trebuchet MS', Arial, Helvetica }
h6           { font-family: 'Trebuchet MS', Arial, Helvetica; font-size: 8pt; font-style: 
               normal; font-weight: normal }
label        { font-style: Bold; font-family: Arial, Helvetica; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-family: Arial, Helvetica; font-style: Bold }
legend       { font-style: Normal; font-size: 8pt; font-family: 
               'Trebuchet MS', Arial, Helvetica }
marquee      { font-family: 'Trebuchet MS', Arial, Helvetic; font-size: 14pt }
select       { font-style: Normal; font-family: Arial, Helvetica; font-size: 8pt; 
               border-style: solid; border-width: 1pt }
table        { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: Normal }
textarea     { font-style: Normal; font-size: 8pt; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
th           { font-family: 'Trebuchet MS', Arial, Helvetica; font-style: Normal }
