body {
	font-size: 13px; color: #000000; font-family: arial, verdana;
background-color: #ffffff
}

#header {
	background-color: #324E64;
	width: 600px;
	border: 0;
	height: 31px;
	}
	
#sub_header {
	background-color: #324E64;
	width: 100%;
	border: 0;
	}

#underheader {
	background-color: #E6E6E6;
	padding: 3px;
	}

td {
	font-size: 11px; font-family: verdana, arial, "times new roman";
}
.homelink {
	display: none; visiblity: hidden
}
a:link {
	color: #324E64;
}
a:visited {
	color: #324E64;
}
a:hover {
	color: #608CAF;
}
#footer {
	background-color: #324E64;
	width: 600px;
	border: 0;
	color: #fff;
	font-size: 10px;
	height: 20px;
	}
	
#sub_footer {
	background-color: #324E64;
	width: 100%;
	border: 0;
	color: #fff;
	font-size: 10px;
	height: 20px;
	}
h1 {
	font-size: 14px;
	margin: 0;
	padding: 5px 2px 0px 2px;
	color: #ffffff;
}