<style type="text/css">

body		 		{ 
								color:#000000;
								background-color:#ffffff;
								background-image:url(/images/bits/bit_white.gif);
								font-family: verdana,arial,helvetica,sans serif;
								font-size: 12px;
						}

form 				{ 
								margin-bottom:0;
						}
	
.link 			{
								color:#000099;
								font-size:12px;
								font-family:verdana,arial,helvetica,sans serif;
						}

.visited 		{
								color: #000099;
								font-size:12px;
								font-family:verdana,arial,helvetica,sans serif;
						}

.norm 			{ 
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#000000;
						}		
		
.list 			{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#000000;
						}

.footer 		{
								font-family:verdana,arial,helvetica,sans serif;
								color:#ffffff;
								font-size:11px;
								text-decoration:none;
						}

.small 			{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
						}

.smaller 		{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:10px;
						}

.smallest 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:7pt;
						}

.header 		{ 
								font-family:verdana, arial,sans serif;
								font-size:11px;
								color:#ffffff;
								font-weight: bold;
								text-decoration:none;
						}
		
.footer 		{
								font-family:verdana,arial,sans serif;
								font-size:11px;
								color:#ffffff;
								font-weight:bold;
								text-decoration:none;
						}

.tabheader 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#ffffff;
								font-weight:bold;
								text-decoration:none;
						}

.dirlink 		{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								font-weight: bold;
								color:#000000;
						}

.twelvepx 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:12px;
								color:#000000;
						}		

.arrow 			{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#000000;
								font-weight:bold;
						}

.arrowbig 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:12px;
								color:#ff0000;
								font-weight:bold;
						}

.sponsor 		{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#ffffff;
						}

.linkcoop 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								text-decoration:none;
								color:#000099;
						}

.mybizlink 	{
								font-family:
								verdana,arial,helvetica,sans serif;
								font-size:11px;
								font-weight:bold;
								color:#0000ff;
						}	

.newslink 	{
								font-family:verdana,arial,helvetica,sans serif;
								font-size:11px;
								color:#0000ff;
						}		

.title 			{
								font-family:arial,helvetica,sans serif;
								font-size:13px;
								color:#000000;
								font-weight:bold;
						}

.error 			{
								font-family:arial,helvetica,sans serif;
								font-size:13px;
								color:#ff0000;
								font-weight:bold;
						}

.redsmall 	{
								font-family:arial,helvetica,sans serif;
								font-size:14px;
								color:#ff0000;
								font-weight:bold;
						}

<!-- product display styles -->

.prodname				{
										color:#000000;
										font-family:verdana,arial,sans serif;
										font-size:14px;
										font-weight:bold;
								}
						
.proddesc  			{
										color:#000000;
										font-family:verdana,arial,sans serif;
										font-size:12px;
								}

.proddescgray  	{
										color:#3e3e3e;
										font-family:verdana,arial,sans serif;
										font-size:11px;
								}
								
.prodprice 			{
										color:#000000;
										font-family:verdana,arial,sans serif;
										font-size:12px;
								}
								
.prodthank 			{
										color:#000000;
										font-family:verdana,arial,sans serif;
										font-size:12px;
								}
								
.produse		 	  {
										color:#000000;
										font-family:verdana,arial,sans serif;
										font-size:12px;
								}
										
.prodhead 			{		
										font-family:verdana,arial,helvetica,sans serif;
										font-size:16px;
										color:#000000;
										font-weight:bold;
								}
								
.prodbody 			{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:13px;
										color:#000000;
								}

<!-- new styles -->

.breadcrumb 		{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:11px;
								}

.displaytable 	{
										background:#dddddd;
										color:#000000;
										font-family:verdana,arial,helvetica,sans serif;
										font-size:10px;
								}
								
.displaytableheader 	{
													background:#bbbbbb;
													color:#000000;
													font-weight:bold;
													text-decoration:underline;
													font-family:verdana,arial,helvetica,sans serif;
													font-size:10px;
											}
										
.displaytablespecial 	{
													background:#336699;
													color:#ffffff;
													font-weight:bold;
													text-decoration:none;
													font-family:verdana,arial,helvetica,sans serif;
													font-size:12px;
											}

.displaytablespecialcell {
															background:#99ccff;
															color:#000000;
															font-weight:bold;
															text-decoration:none;
															font-family:verdana,arial,helvetica,sans serif;
															font-size:11px;
													}
			
<!-- article styles -->

.articleahead 			{
												font-family:arial,helvetica,verdana,sans serif;
												font-size:24px;
												color:#000000;
												font-weight:bold;
										}
										
.articlebhead 			{
												font-family:verdana,arial,helvetica,sans serif;
												font-size:12px;
												color:#000000;
												font-weight:bold;
										}
										
.articlebody 				{
												font-family:verdana,arial,helvetica,sans serif;
												font-size:11px;
												color:#000000;
										}
										
.articlecaption 		{
												font-family:verdana,arial,helvetica,sans serif;
												font-size:12px;
												color:#000000;
												text-decoration:italic;
										}
		
<!-- application interface styles -->

.app_body 			{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:12px;
										color:#000000;
								}
										
.app_ahead 			{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:18px;
										font-weight:bold;
										text-decoration:underline;
										color:#336699;
								}
										
.app_bhead 			{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:14px;
										font-weight:bold;
										text-decoration:underline;
										color:#000000;
								}
									
.app_chead 			{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:12px;
										font-weight:bold;
										color:#000000;
								}
									
.app_colhead 		{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:10px;
										font-weight:bold;
										text-decoration:underline;
										color:#000000;
								}
									
.app_colbody 		{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:10px;
										color:#000000;
								}	
								
.app_helptext 	{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:10px;
										color:#000000;
								}
									                  
.app_caption 		{
										font-family:verdana,arial,helvetica,sans serif;
										font-size:10px;
										color:#000000;
								}
									

<!-- for lightsoutpopup_082401.html & ws_home.html only-->
		.headline 
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 14pt;
				font-weight: bold;
				color:#666666;
				font-variant:small-caps;   
			}
		.headline2
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 20pt;
				font-weight: bold;
				color:#666666;
				font-variant:small-caps;   
			}
		.headline3
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 14pt;
				font-weight: bold;
				color:#9999cc;
				font-style: oblique;   
			}
		.headline4
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 11pt;
				font-weight: bold;
				color:#ff6666;
			}
		.headline5
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 12pt;
				font-weight: bold;
				color:#666666;
			}
		.headline6
			{
				font-family: verdana, tahoma, arial, helvetica, sans-serif;
				font-size: 8pt;
				font-weight: bold;
				color:#336699;
			}
		.strtext
			{
				font-family: arial, helvetica, sans-serif;
				font-size: 12px;
				font-weight: bold;
				color:#666666;
			}
		.strtext2
			{
				font-family: arial, helvetica, sans-serif;
				font-size: 12px;
				font-weight: bold;
				color:#000000;
			}
		.fineprint
			{
				font-family: arial, helvetica, sans-serif;
				font-size: 11px;
				font-weight: none;
				color:#000000;
			}	

<!--remove above when unnessesary-->

</style>