body{padding:0;margin:0;background-color:#FFF;}

div#top_nav{position:absolute;top:0;left:0;}
div#login_block{position:absolute;top:21px;left:576px;}
div#cart_block{position:absolute;top:87px;left:0;}
div#ticker_block{position:absolute;top:87px;left:184px;}
div#left_nav{float:left;margin-top:125px;margin-left:3px;height:100%}
div#subpage_block{float:left;margin-top:133px;margin-left:15px;width:500px}

/*navigation and login*/
div#top_nav{height:87px;width:768px;background:#FFF url(/images/logo_nav_alt.gif) top no-repeat;}
div#logo{height:87px;width:250px;background:#FFF url(/images/logo.gif) top left no-repeat;}
div#login_block{padding:10px;height:37px;width:160px;color:#666;font-family:arial;font-size:11px;font-weight:bold;}	
a.login_block{color:#666;text-decoration:none;font-size:11px;font-weight:normal;}
a:hover.login_block{color:#CC0000;}
a.nav{color:#fff;font-weight:bold;font-size:11px;font-family:arial;text-align:center;text-decoration:none;}
a:hover.nav{color:#E2EAF3}

/*blue title, bar block, cart*/
div#bar_block{position:absolute;top:87px;left:0;height:48px;width:769px;}
div#cart_block{left:0;height:22px;width:192px;padding-top:5px;padding-left:0;background:url(/images/left_round_background.gif) #666 bottom left no-repeat;border-top:1px solid #FFF;}
div#sub_page_move_up{position:absolute;top:0;left:0;}

/*ticker*/	
div#ticker_block{height:25px;width:584px;padding-top:2px;margin-top:0px;background:#999 url(/images/right_round_background.gif) bottom right no-repeat;border-top:1px solid #FFF;}
.container{position:relative;height:25px;width:570px;overflow:hidden;background-color:#999;}
.ticker{position:relative;visibility:hidden;left:5px;top:5px;width:570px;height:25px;color:#fff;}
.banner{color:#fff;cursor:hand;cursor:pointer;font:8pt verdana;font-weight:bold;}
.banner A:link,.banner A:visited{color:#fff;font:8pt verdana;font-weight:bold;text-decoration:none;}
.banner A:hover{color:#CC0000;}    

/*domain registration*/
div#domain_registration{padding:10px;height:222px;width:192px;background: url(/images/domain_registration.gif) top left no-repeat;font-size:12px;}
a.domain_registration {color:#336699;font-size:9px;font-family:verdana;}
a:hover.domain_registration {color:#CC0000;}
ul{font-family: arial;font-size:10px;color:#336699;letter-spacing:0;line-height:12px;text-align: left;text-indent:-5em;list-style-type: disc;list-style-image: url(/images/bullet.gif);list-style-position:inside;}
div#domain_registration_2{padding-top:10px;padding-left:10px;height:222px;width:190px;background:url(/images/domain_registration_2.gif) top left no-repeat;font-family:arial;font-size:10px;}
div#content{padding-top:10px;}
div#search{margin-top:27px; float: left; text-align:left;font-family:verdana;font-size:85%;}
div#extensions {float:left;margin:0 2px 0px;text-align:left;line-height:80%;font-size:85%;}

/*tier_1*/
div#how_to_learn{padding:10px;position:absolute;height:222px;width:192px;top:170px;left:0;font-family:arial;font-size:10px;}
div#drop_down{position:absolute;top:190px; left:12px;}
select{font:8pt verdana;}
option{font-family:arial;font-size:12px;color:#666;}
option.one,option.two,option.three{background-color:#fff;}
div#premium_domains{padding-top:70px;position:absolute;height:222px;width:180px;top:170px;left:180px;line-height:8px;text-align:left;background:url(/images/premium_domains.gif) top left no-repeat;font-family:arial;font-size:10px;}


div#domain_registration{padding:10px;position:absolute;height:222px;width:192px;top:170px;left:384px;background:url(/images/domain_registration.gif) top left no-repeat;font-size:12px;}
a.domain_registration {color:#336699;}
a.domain_registration:hover {color:#CC0000;}
div#domain_registration_2{padding-top:10px;padding-left:10px;position:absolute;height:222px;width:190px;top:170px;left:576px;background:url(/images/domain_registration_2.gif) top left no-repeat;font-family:arial;font-size:10px;}
div#content{padding-top:10px;}
div#search{margin-top:27px; float:left; text-align:left;font-family:verdana;font-size:85%;}
div#extensions {float:left;margin:0 2px 0px;text-align:left;line-height:80%;font-size:85%;}

/*tier_2*/
div#tier_2{position:absolute;left:0;top:392px;width:768px;height:142px;background:url(/images/tier_2.gif) top left no-repeat;}  
div#webmail{padding:10px;position:absolute;height:146px;width:193px;top:0;left:2px;font-family:arial;font-size:10px;color:#666;}
div#tier_2_text{padding-top:40px;padding-left:10px;padding-right:10px;}		
div#arrows{position:absolute;top:118px;left:10px;width:170px;height:20px;}		
a.webhosting {color:#fff;font-size:11px;font-weight:normal;}
a:hover.webhosting {color:#cc0000;}	
a.sign_up {color:#000;font-size:12px;font-weight:bold;font-family:arial;}
a:hover.sign_up {color:#cc0000;}

div#tier_2_positioning{position:absolute;top:0;height:146px;width:192px;left:195px;padding:0;font-family:arial;font-size:11px;color:#fff;}
a.right {color:#fff;font-size:11px;font-weight:bold; float:right;}
a.right:hover {color:#cc0000;}	
a.left {color:#fff;font-size:11px;font-weight:bold; float:left;}
a.left:hover {color:#CC0000;}	
a.footer {font-size:10px; font-weight:bold; color:#666;}
a.footer:hover {color:#CC0000;}

/*tier_3*/
div#tier_3_text{width:180px;font:normal 9px Verdana;color:#666;padding-top:13px;padding-left:8px;;}	
a.info_link {color:#CC0000;text-decoration:none;font-size:12px;font-weight:bold;font-family:verdana;}
a.info_link:hover {color:#666;}

/*sub page titles & links*/
td{font-family:verdana;font-size:11px;}
p{color:#000;font-size:11px;font-family:verdana;text-align:justify;font-weight:normal;}
hr{color:#336699;width:500px;height:2px;background-color:#336699;border:0;text-align:left;margin-bottom:0;margin-top:0;}
a{color:#336699;}
a:hover{color:#7F9DB9;}
a.blue_link{color:#336699;font-family:verdana;font-size:11px;}
a.blue_link:hover{color:#A90101;}
a.red_link{color:#A90101;font-family:verdana;font-size:11px;}
a.red_link:hover{color:#336699;}
a.sub_link:{color:#336699;font-family:verdana;font-size:11px;}
a.sub_link:hover{color:#7F9DB9;}
a.titlelink{color:#336699;font-family:verdana;font-size:14px;text-decoration:none;font-weight:bold;}
a.titlelink:hover{color:#A90101;}
a.redtitlelink{color:#CC0000;font-family:verdana;font-size:14px;text-decoration:none;font-weight:bold;}
a.redtitlelink:hover{color:#336699;}
a.btn{white-space:nowrap;padding:4px 26px 6px 4px;background-image:url(/images/linkarrow.gif);background-repeat:no-repeat;background-position:right center;font:bold 13px verdana;color:#CC0000;text-decoration:none;}
a.btn:hover{color:#A90101;background-image:url(/images/linkarrow_on.gif);}
a.btngrey:hover{color:#A90101;background-image:url(/images/greylinkarrowon.jpg);font:bold 13px verdana;}
a.btngrey{padding:8px 24px 8px 0px;background-image:url(/images/greylinkarrow.jpg);background-repeat:no-repeat;background-position:right center;font:bold 13px verdana;color:#CC0000;text-decoration:none;}
a.btnbuff:hover{font:bold 13px verdana;text-decoration:none;color:#A90101;background-image:url(/images/bufflinkarrowon.jpg);}
a.btnbuff{font:bold 13px verdana;text-decoration:none;color:#CC0000;padding:8px 24px 8px 0px;background-image:url(/images/bufflinkarrow.jpg);background-repeat:no-repeat;background-position:right center;}
a.arrow{color:#cc0000;font-size:11px;font-weight:bold; float:right;}
a.arrow:hover {color:#336699;}
.redprice{font:bold 16px arial;color:#CC0000}
.blue_title{color:#336699;text-decoration:none;font-size:14px;font-weight:bold;font-family:arial;margin-bottom:10px;}
.title{color:#CC0000;text-decoration:none;font-size:15px;font-weight:bold;font-family:verdana;text-align:left;}
.bluetitle{color:#336699;text-decoration:none;font-size:14px;font-weight:bold;font-family:verdana;}
.form{color:#336699;text-decoration:none;font-size:11px;font-weight:bold;margin-bottom:10px;}
.redform{color:#CC0000;text-decoration:none;font-size:11px;font-weight:bold;margin-bottom:10px;}
.formtext{color:#000;text-decoration:none;font-size:11px;;}
.bluebold{color:#336699;font:bold 11px verdana;}
.small{font-family:verdana;font-size:9px;}
.petite{font-family:verdana;font-size:10px;}
.petitetitle{font-family:verdana;font-size:11px;font-weight:bold;color:#336699;}
.redbold{font-family:arial;color:#cc0000;font-weight:bold;}
.back{font-family:verdana;font-size:10px;color:#cc0000;font-weight:bold;}
.highlight{color:#FF6600;font-size:11px;font-weight:bold;font-family:verdana;;}

/*search boxes*/
table.main{border:1px solid #336699;clear:both;}
td.blue{background-color:#336699;}
td.yellow{background-color:#F0F0DB;}
td.grey{background-color:#EEE;}
a.white{font:bold 12px arial;color:#FFF;text-decoration:none;}
a.white:hover {color:#F0F0DB;text-decoration:underline;}
a.whitebig,.whitebig{font:bold 14px arial;color:#FFF;text-decoration:none;}
a.whitebig:hover {color:#F0F0DB;text-decoration:underline;}
.red{color:#cc0000;font-size:9px;font-weight:bold;font-family:verdana;}
.searchtitle{font:bold 1em arial;color:#336699;}

/*lists*/

ul{font-family:arial;color:#336699;line-height:12px;text-align:left;text-indent:-5em;list-style-type:disc;list-style-position:inside;}
ul.bullet{font-family:verdana;font-size:9px;color:#336699;letter-spacing:0;line-height:12px;text-align:left;text-indent:-5em;list-style-type:disc;list-style-image:url(/images/bullet.gif);list-style-position:inside;}
ul.sublist,ol.sublist{font-family:verdana;font-size:11px;font-weight:normal;color:#000;line-height:14px;text-align:left;text-indent:-2em;list-style-type:disc;list-style-image:none;list-style-position:inside;}
ol{font-family:verdana;font-size:11px;text-indent:2em;}
ul.black{font-family:arial;font-size:12px;color:#000000;line-height:14px;text-align:left;text-indent:-1em;list-style-type:disc;list-style-position:inside;}

/*footer*/
div#footer{clear:both;width:769px;height:200px;padding-left:10px;border-top:2px #336699 solid;font-family:verdana;font-size:10px;background:url(/images/visa.gif) top right no-repeat;}
div#sub_footer{clear:both;width:769px;padding-top:0px;font-family:arial;font-size:10px;}