@font-face { font-family:writing1; src:url(fontLucidaCalligraphy.eot); }
@font-face { font-family:writing2; src:url(fontLucidaHandwriting.eot); }
@font-face { font-family:writing3; src:url(fontScriptMTBold.eot); }
@font-face { font-family:writing4; src:url(fontFreestyleScript.eot); }

.writing1 {	font-family:writing1; font-size:16pt; margin-left:0px; }
.writing2 {	font-family:writing2; font-size:16pt; margin-left:0px; }
.writing3 {	font-family:writing3; font-size:20pt; margin-left:0px; }
.writing4 {	font-family:writing4; font-size:28pt; margin-left:0px; }