body              { background-color: #ffffff; margin: 0 0 0 0; padding: 0 0 0 0; }
td                { font-family:verdana,Helvetica,sans-serif; font-size:11px; color:#012266; }
strong            { font-weight:bold; }
b                 { font-weight:bold; }
a                 { font-family:verdana,Helvetica,sans-serif; font-size:11px; color:#012266; }
a:hover           { color: #5EAD4B; }




/*   Text zur Sprachauswahl    */
.text_white       { font-family:verdana,Helvetica,sans-serif; font-size:11px; color:#ffffff; }


/*   Login Überschrift grün    */
.login            { font-family:verdana,Helvetica,sans-serif; font-size:24px; font-weight:bold; color:#79BE67; }


/*   Loginbeich Name grün    */
.logtext          { font-size:17px; line-height:18px; color:#5EAD4B; }


/*   Rechte blaue Box Überschrift blau    */
.box_rgt_head     { font-weight:bold; font-size:12px; color:#004A9C; }


/*   Überschrift 14pixel neben Quadraten blau    */
.headklein        { font-size:14px; font-family:arial,Helvetica,sans-serif; line-height:14px; color:#00428B; }


/*   Überschrift 14pixel neben Quadraten rot    */
.headkleinred     { font-size:14px; font-family:arial,Helvetica,sans-serif; line-height:14px; color:#810436; }


/*   Überschrift 16pixel neben Quadraten blau    */
.headklein16      { font-size:16px; font-family:arial,Helvetica,sans-serif; line-height:16px; color:#00428B; }


/*   Überschrift 16pixel neben Quadraten rot    */
.headkleinred16   { font-size:16px; font-family:arial,Helvetica,sans-serif; line-height:16px; color:#810436; }


/*   Überschrift neben Quadraten blau    */
.head             { font-size:18px; line-height:18px; color:#00428B; }


/*   Überschrift neben Quadraten rot    */
.headred          { font-size:18px; line-height:18px; color:#810436; }


/*   Große Schrift weiss für roten Hintergrund    */
.headwhite        { font-size:20px; line-height:20px; color:#ffffff; }


/*   Farbe grün    */
.green            { color: #5EAD4B; }


/*   Farbe rot    */
.red              { color: #810436; }


/*   Links für Noscript    */
.navi             { font-family:arial,Helvetica,sans-serif; text-decoration:none; font-weight:bold; font-size:12px; color:#012266; }
.navi:hover       { color:#5BA748; }


/*   Unterlinks für Noscript    */
.navklein         { font-family:arial,Helvetica,sans-serif; text-decoration:none; font-weight:normal; font-size:11px; color:#012266; }
.navklein:hover   { color:#5BA748; }


/*   Links mit verbunden Pfeilen rot    */
.more             { font-weight:bold; font-size:10px; color:#810436; }
.more:hover       { color:#004A9C; }


/*   Links mit verbunden Pfeilen blau    */
.morblue          { font-weight:bold; font-size:10px; color:#00428B; }
.morblue:hover    { color:#810436; }

/*	 Links für Google-Result groß und blau und bold */
.googleheadline   { font-weight:bold; font-size:14px; line-height:22px; color:#00428B; }
.googlelines	  { font-family:arial,Helvetica,sans-serif; text-decoration:none; font-weight:normal; font-size:14px; color:#00428B;}
.googlelink		  { font-family:arial,Helvetica,sans-serif; text-decoration:underline; font-weight:bold; font-size:14px; color:#5EAD4B;}

/*   Links Startseite gross rot    */
.redhead:hover    { color:#012266; }
.redhead          { font-size:17px; line-height:18px; color:#82001F; }


/*   Auswahlfeld Sprache    */
.language         { FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#FAFCF9; width:120px; }


/*   Inputfeld Kennwort- und Passwortabfrage 100 pix lang   */
.lg_textfeld      { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:100px; }


/*   Inputfeld about-kontakt 144 pix lang    */
.form_textfeld    { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:144px; }

/*   Inputfeld about-kontakt-plz 40 pix lang    */
.form_textfeld_plz    { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:40px; }

/*   Inputfeld about-kontakt-ort 100 pix lang    */
.form_textfeld_ort    { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:100px; }

/*   Auswahlfeld about-kontakt 145 pix lang    */
.auswahl_2          { FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:145px; }

/*   Auswahlfeld formuseroffer 170 pix lang    */
.auswahl_1          { FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:170px; }


/*   Auswahlfeld about-kontakt 200 pix lang    */
.auswahl          { FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:200px; }


/*   Editorfeld about-kontakt 200 pix lang    */
.textfeld         { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:200px; }


/*   Newsletter-Feld Rechte blaue Box     */
.news_textfeld    { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:75px; }

/*   Inputfeld shop-order-kategorieshowcase-preisfeld 60 pix lang    */
.form_textfeld_price  { BORDER-RIGHT: #00428B 1px solid; BORDER-TOP: #00428B 1px solid; BORDER-LEFT: #00428B 1px solid; BORDER-BOTTOM: #00428B 1px solid; COLOR: #012266; FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif; FONT-SIZE:10px; BACKGROUND-COLOR:#ffffff; width:60px; TEXT-ALIGN:right;}
