/* Default CSS Stylesheet for a new Web Application project */


BODY
{
	color: #FFFFCC;
	background-color: black;
	font-family: Verdana, Arial;
	font-size: 12pt;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
	margin: 0px;
	SCROLLBAR-BASE-COLOR: {categorybackcolor};
	SCROLLBAR-ARROW-COLOR: {categoryfontcolor};
}

A:link
{
	text-decoration: none;
	color: #ccFFFF;
}

A:visited
{
	text-decoration: none;
	color: #aaFFFF;
}

A:active
{
	text-decoration: none;
	color: #CCFFFF;
}

A:hover
{
	text-decoration: underline;
	color: #11FFFF;
}

#ltlink A:link, #ltlink A:visited, #ltlink A:active 
{
	COLOR: AAFFFF
	TEXT-DECORATION: none
}

#ltlink A:hover {
	COLOR: #11FFFF
	TEXT-DECORATION: underline
}

IMG
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
TABLE
{
	padding: 0px;
	margin: 0px;
	font-size: 12pt;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.EditButton
{
	font-size:smaller;
}
.dgTableHeader
{
	background-color: #666666;
	font-size: 14px;
	
	color: #FFFFCC;
	font-weight:bold;
	font-family: Verdana, Arial;

}

.dgTableCaption
{
	font-size: 14px;
	color: #AAFFFF;
	font-weight:bold;
	font-family: Verdana, Arial;
}
.dgTable
{
	border-right: #666666 4px solid;
	border-top: #666666 4px solid;
	font-weight: bold;
	font-size: 8pt;
	border-left: #666666 4px solid;
	border-bottom: #666666 4px solid;
	font-family: Verdana, Arial;
}
.dgHeaderStyle
{
	background-color: #222222;
	font-size: 18px;
	color: #FFFFCC;
	font-family: 'Arial Bold';
	
}
.dgItemStyle
{
	background-color:#787878;
}
.dgAltItemStyle
{
	background-color:#999999;
}
.TextBanner
{
	font-size: 12px;
	color: #FFFFCC;
	font-family: Verdana, Arial;
}
.TextInput
{
	color: #CCFFFF;
	font-family: Verdana, Arial;
	font-size: 11px;
}

.bgInput
{
	font-size: 12px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	background-color: #CFCFCF;
}
.TextNormal
{
	color: #FFFFCC;
	font-family: Verdana, Arial;
	font-size: 11px;
}
.TextBold
{
	color: #FFFFCC;
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
}

.HomeHeader
{
	color: #FFFFCC;
	font-family: Verdana, Arial;
	font-size: 25px;
	font-weight: bold;
	height: 35px;
}
.ContentHeader
{
	color: #CCFFFF;
	font-family: Verdana, Arial;
	font-size: 20px;
	font-weight: bold;
	height: 35px;
}
.SubContentHeader
{
	background-color: #dddca3;
	color: dimgray;
	font-family: Verdana, Arial;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
}
.TextWithBackground
{
	background-color: #dddca3;
	color: dimgray;
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
}
.HelpText
{
	color: #CCFFFF;
	font-family: Verdana, Arial;
	font-size: 11px;
}
.ErrorText
{
	color: red;
	font-family: Verdana, Arial;
	font-size: 12px;
	line-height: 20pt;
}


.ControlText
{
	color: #FFFFCC;
	font-family: Verdana, Arial;
	font-size: 9px;
	font-weight: bold;
}
.ControlTable
{
	border-right: #666666 4px solid;
	border-top: #666666 4px solid;
	font-weight: bold;
	font-size: 8pt;
	border-left: #666666 4px solid;
	border-bottom: #666666 4px solid;
	font-family: Verdana, Arial;
}


