a {font-size: 9pt; line-height: 14pt; color: #FFCC66; text-decoration: underline; font-family: ""; font-weight:}
a:visited {font-size: 9pt; line-height: 14pt; color: #FFCC66; text-decoration: underline; font-family: ""; font-weight:}
a:hover {font-size: 9pt; line-height: 14pt; color: #FFFFFF; text-decoration: underline; font-family: ""; font-weight:}
a:active {font-size: 9pt; line-height: 14pt; color: #ffff00; text-decoration: underline; font-family: ""; font-weight:}

.underline {  font-family: ""; font-size: 9pt; color: #FFFFFF; line-height: 14pt; text-decoration: underline}

a.tiny:link		{ font-family: Arial,Helvetica; color: #FFCC66; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:visited	{ font-family: Arial,Helvetica; color: #FFCC66; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:hover	{ font-family: Arial,Helvetica; color: #FFFFFF; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:active	{ font-family: Arial,Helvetica; color: #ffff00; font-weight: lighter; font-style: normal; font-size: 8pt; }

a.black:link	              { font-family: ""; font-size: 9pt; font-weight: nomal; color: #000000; text-decoration: underline; }
a.black:visited	{ font-family: ""; font-size: 9pt; font-weight: nomal; color: #000000; text-decoration: underline; }
a.black:hover	{ font-family: ""; font-size: 9pt; font-weight: nomal; color: #FFFFFF; text-decoration: underline; }
a.black:active	{ font-family: ""; font-size: 9pt; font-weight: nomal; color: #FFCC66; text-decoration: underline; }

.bold                                   { font-family: "Arial", "Helvetica"; font-size: 9pt; font-weight: bold; color: #FFFFFF}
.boldY                                  { font-family: "Arial", "Helvetica"; font-size: 9pt; font-weight: bold; color: #FFCC66}

.nomal          { font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 9pt; }
blockquote	             { font-family: ""; font-size: 9pt; line-height: 14pt; color: #FFFFFF}