.content-item { 	text-align: right;
			font-size: 10pt;
			color: yellow;
			font-family: Arial, sans-serif; }
.heading {		text-align: center;
			font-size: 12pt;
			color: white;
			font-family: Arial, sans-serif; }
.content-small {	text-align: right;
			font-size: 8pt;
			color: yellow;
			font-family: Arial, sans-serif; }
.news-date {		text-align: left;
			font-size: 9pt;
			color: white;
			font-family: Arial, sans-serif; }
.news-item {		text-align: left;
			margin-left: 20px;
			font-size: 9pt;
			color: yellow;
			font-family: Arial, sans-serif; }
A:link {		text-decoration: none; }
A:active {		text-decoration: underline; }
A:visited {		text-decoration: none; }
A:hover {		text-decoration: underline; }
BODY {			background-color: #7D3F00; }

