/* CSS Document created by Comoms for SimpleNet*/
/* Author: Joshua Tuscan */

#servicesbanner {
	background:url(../images/webhosting_banner.jpg) no-repeat top;
	height:86px;
	padding:0 22px;
}

#supportbanner {
	background:url(../images/support_banner.jpg) no-repeat top;
	height:86px;
	padding:0 22px;
}

#bannertext {
	color:#525455;
	font:normal 1.7em Arial, Helvetica, sans-serif;
	padding:13px 15px 15px 20px;
	width:455px;
}

#bannertext span {
	color:black;
	display:block;
	font-size:12px;
	margin:5px 0 0 0;
	padding:0;
}

#middle_section {
	overflow:hidden;
	padding:0 19px;
}

#stretchcolumn_blue {
	background: url(../images/left_int_bkg.jpg) repeat-y left;
	overflow:hidden;
	width:780px;
}

#maincontent {
	float:right;
	padding:25px;
	width:580px;
}

#maincontent p {
	font: lighter 1.2em Arial, Helvetica, sans-serif;
	line-height:1.5em;
	margin:10px 0;
}

#maincontent ul {
	font: lighter 1.2em Arial, Helvetica, sans-serif;
	line-height:1.5em;
	list-style: outside;
}

/* to be used with page topic headers */
.pagetitle {
	margin:0;
}

#maincontent a {
	color:#0E3B73;
	font-weight:bold;
	text-decoration:underline;
}

#maincontent a:hover {
	background:#0E3B73;
	color:white;
	text-decoration:none;
}

.redtext {
	color:#880101;
}

#leftcolumn {
	float:left;
	width:146px;
	margin:0;
}

#leftcolumn img {
	border:none;
	margin:0;
	padding:0;
}

#orangepop_top {
	background:url(../images/orangepop_top.png) no-repeat bottom;
	height:24px;
	margin-top:10px;
}

#orangepop {
	background:#FEEBBC;
	border:1px solid #FFB400;
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:15px;
	padding:10px;
	text-align:center;
}

#orangepop a {
	color:#124F90;
	display:block;
	font-size:1em;
	font-weight:normal;
	margin-top:5px;
	text-decoration:none;
}

#orangepop a:hover {
	background:#0E3B73;
	color:white;
	text-decoration:none;
}

.orangeform {
	line-height:80%;
}

.orangepop_button {
	background:#C6D9ED;
	border-right:2px solid #44628A;
	border-bottom:2px solid #44628A;
	color:#44628A;
	font-weight:bold;
}


.datablock {
	background:url(../images/datablock_bkg.jpg) repeat-y top;
	font:normal 1.2em black Arial, Helvetica, sans-serif;
	margin:0;
	padding:10px;
	text-align:center;
	width:126px;
}
.datablock span {
	color:#1C477C;
	font-size:1.4em;
}
.datablock a {
	color:#9F0303;
	text-decoration:none;
}
.datablock p {
	margin:5px 0;
}
.datablock a:hover {
	background:#0E3B73;
	color:white;
	text-decoration:none;
}
.datablockcap_bottom {
	background:url(../images/bluecolumn_divider.jpg) no-repeat top;
	height:2px;
	margin:0;
	padding:0;
}
.datablockcap_top {
	background:url(../images/bluecolumn_divider.jpg) no-repeat bottom;
	height:2px;
	margin:0;
	padding:0;
}

/* SUB NAV */

#subnav {
	display:block;
	margin:0;
	padding:0 0 0 3px;
	width:140px;
}

#subnav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#subnav ul li {
	background:#E2EAF3;
	border-bottom:1px solid #A8BBD0;
	border-top:1px solid #F2F5F8;
	display:block;
}

#subnav ul li img {
	border:none;
	display:inline;
	margin:0;
	padding:0;
}

#subnav a {
	display:block;
	color:#3C3C3C;
	font-size:1.2em;
	margin:0;
	padding:3px 0px 3px 8px;
	text-decoration:none;
}

#subnav a:hover {
	background:#0E3B73;
	color:white;
	text-decoration:none;
}

.leftbanner {
	margin:10px 0;
	padding:0 0 0 3px;
}

/* PACKAGE SECTION */
#packages_section {
	height:420px;
	overflow:hidden;
	padding:0;
}
.packagebox {
	background:url(../images/packagetop.png) top left no-repeat;
	color:#A1051C;
	float:left;
	font-size:1.2em;
	font-weight:bold;
	height:375px;
	margin:10px 0 0 0;
	padding:0 5px 0 0;
	width:140px;
}

.pricequote {
	color:#025D96;
	display:block;
	padding:13px 0 0 0;
	font-weight:bold;
	text-align:center;
}

.packagebox_interior {
	background:#EAF2FF;
	border-top:1px solid #B4CAEC;
	border-left:1px solid #B4CAEC;
	border-right:1px solid #B4CAEC;
	color:black;
	font-size:10px;
	height:265px;
	margin:7px 0 0 0;
	padding:5px;
	width:128px;
}

.packagebox span {
	color:#023B7A;
	font-size:12px;
}

.packagebox b {
	font-weight:bold;
}

.packagebox .pricebox {
	background:#EAF2FF;
	border-bottom:1px solid #B4CAEC;
	border-left:1px solid #B4CAEC;
	border-right:1px solid #B4CAEC;
	color:#9E0101;
	font-size:12px;
	height:60px;
	padding:5px 5px;
	width:128px;
}

.green_price {
	color:#009933 !important;
}

.red_price {
	color:#990000;
}

.yellowbar {
	background:#FEEBBC;
	border:1px solid #FFB400;
	clear:both;
	overflow:hidden;
	padding:2px 0 5px 0;
	margin:5px 0 10px 0;
	text-align:center;
}
.yellowbar a {
	color:#0E3B73;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
}
.yellowbar a:hover {
	text-decoration:underline;
}

#topicquides {
	margin-bottom:5px;
}

#topicguide1 {
	border:1px solid #C1C6CB;
	float:left;
	height:160px;
	margin-right:5px;
	width:285px;
}
#topicguide1 p {
	color:#0E3B73;
	padding:0 10px;
}

#topicguide1 form {
font-size: 12px;
margin: 0px 0px 15px 65px}

#topicguide1 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}
#topicguide1 a {
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
}
#topicguide1 a:hover {
	text-decoration:none;
}

#topicguide2 {
	border:1px solid #C1C6CB;
	float:left;
	height:160px;
	width:285px;
}
#topicguide2 p {
	color:#0E3B73;
	padding:0 10px;
}
#topicguide2 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}

#topicguide2 form {
font-size: 12px;
margin: 0px 0px 15px 65px}


#topicguide2 a {
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
}




#topicguide3 {
	border:1px solid #C1C6CB;
	float:left;
	margin-right:5px;
	width:285px;
	padding-bottom: 10px;
}
#topicguide3 p {
	color:#0E3B73;
	padding:0 10px;
}

#topicguide3 form {
font-size: 12px;
margin: 0px 0px 15px 65px}

#topicguide3 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}
#topicguide3 a {
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#topicguide3 a:hover {
	text-decoration:none;
}



#topicguide4 {
	border:1px solid #C1C6CB;
	float:left;
	width:285px;
		padding-bottom: 10px;
}
#topicguide4 p {
	color:#0E3B73;
	padding:0 10px;
}

#topicguide4 form {
font-size: 12px;
margin: 0px 0px 15px 65px}

#topicguide4 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}
#topicguide4 a {
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#topicguide4 a:hover {
	text-decoration:none;
}


#topicguide5 {
	border:1px solid #C1C6CB;
	float:left;
padding-bottom: 10px;
width: 740px;
}

#topicguide5 td p{
font-size: 12px;
font-weight:bold;
}

#topicguide5 td ul{
font-size: 12px;
}

#topicguide5 p {
	color:#0E3B73;
	padding:0 10px;
}

#topicguide5 form {
font-size: 12px;
margin: 0px 0px 15px 65px}

#topicguide5 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}
#topicguide5 a {
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#topicguide5 a:hover {
	text-decoration:none;
}

#topicguide5 h2{
display: block;
background-color:#DCE9F2;
color: #000066;
font-size: 12px;
margin: 15px;
padding: 2px 2px 2px 6px;
}

#topicguide5 td{
font-size: 12px;
}

#topicguide6 {
border:1px solid #C1C6CB;
padding-bottom: 10px;
width: 430px;
margin: 0px auto;
}

#topicguide6 td p{
font-size: 12px;
font-weight:bold;
}

#topicguide6 ul{
font-size: 12px;
list-style:outside;
}

#topicguide6 p {
	color:#0E3B73;
	padding:0 10px;
}

#topicguide6 form {
font-size: 12px;
margin: 0px auto;}

#topicguide6 span {
	background:#8BAACA;
	border:1px solid #D3E3F3;
	display:block;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
}
#topicguide6 a {
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#topicguide6 a:hover {
	text-decoration:none;
}

#topicguide6 h2{
display: block;
background-color:#DCE9F2;
color: #000066;
font-size: 12px;
margin: 15px;
padding: 2px 2px 2px 6px;
}

#topicguide6 td{
font-size: 12px;
}







/* COMPARISON CHART STYLES */

table.chart {
	border-collapse:collapse;
	border-width:thick;
	font-size:1.2em;
	margin:10px 0;
}

table.chart .headerrow{
	border-top:1px solid #91AAC3 !important;
	border-bottom:1px solid #91AAC3 !important;
	color:#124477;
	font-weight:bold;
	padding:5px 5px;
}

table.chart td {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px 5px;
}

table.chart span {
	color:#990000;
}