<STYLE TYPE-"type/css">

body {background-color: #cc9966}
A:link {color: #69f09f; text-decoration: none}
A:visited {color: #a9debe; text-decoration: none}
A:active {color: red; text-decoration: none}
font.zero {font-size: 40pt; color: #99a3c8; font-family: Ribbon}
font.fir {font-size: 25pt; color: #99a3c8; font-family: Garamond; 
font-weight: bold}
font.sec {font-size: 8pt; color: #99a3c8; font-family: Arial}
font.thi {font-size: 10pt; color: #99a3c8; font-family: Comic Sans MS; 
font-weight: bolder}
font.menu {font-size: 7.5pt; color: #be0e0e; font-family: verdana; 
font-weight: bolder}
p {font-size: 12pt; color: #d7d3de; font-family: Garamond}

</STYLE> 

