/*  ここから下がユーザー定義フォントです。フォントはIDで指定ね */

#f10{font-size:10pt;}
#moe{
	font-family: ＦＡ ぽぽる,ＤＦまるもじ体W3,ＤＦ中丸ゴシック体,魚石行書,ＤＨＰ隷書体;
	font-size:13pt;
}
#maru{
	font-family: FG創英ポップ体２,HG丸ｺﾞｼｯｸM-PRO,"ＦＡ 文結ゴシック",ＪＳ平成明朝体W3;
	font-size:13pt;
}
#kai{
	font-family: ＤＨＰ中楷書体,HG正楷書体-PRO,有澤楷書;
}

#rei{
	font-family: 麗流隷書,ＤＦ康印体W4,ＤＦ隷書体;
}