BODY
{
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	color: #828080;
	font-size: 8pt;
	scrollbar-face-color: #404040; scrollbar-shadow-color: #505050; 
	scrollbar-highlight-color: #505050; scrollbar-3dlight-color: #505050; 
	scrollbar-darkshadow-color: #505050; scrollbar-track-color: #505050; 
	scrollbar-arrow-color: #505050;
	
	
}

A:link
{
	color: #828080; 
	text-decoration: none;
	font-size: 8pt;
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
}
A:visited
{
	color: #828080;
	text-decoration: none;
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

A:hover
{
	color: #000000;
	text-decoration: none;
	
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

P      { font-size: 9pt }


.menu {
font : bold 10px Verdana, Arial, Helvetica, sans-serif;
line-height : 16px;
}

.menu a,.menu a:link,.menu a:active,.menu a:visited {
display : block;

color : #000000;
text-decoration : none;
line-height : 16px;
}

.menu a:hover {

color : #c0c0c0;
cursor : pointer;
text-decoration : none;

}












