.mstheme     { separator-image: url(rule.gif); list-image-1: url(bullet.gif); list-image-2: 
               url(bullet.gif); list-image-3: url(bullet.gif); 
               nav-banner-image: url(banner.gif); navbutton-horiz-normal: 
               url(horizontal.gif); navbutton-horiz-hovered: 
               url(horizontal_select.gif); navbutton-horiz-pushed: 
               url(horizontal_select.gif); navbutton-vert-normal: 
               url(vertical.gif); navbutton-vert-hovered: 
               url(vertical_select.gif); navbutton-vert-pushed: 
               url(vertical_select.gif); navbutton-home-normal: 
               url(global.gif); navbutton-home-hovered: url(global.gif); 
               navbutton-home-pushed: url(global.gif); navbutton-next-normal: 
               url(global.gif); navbutton-next-hovered: url(global.gif); 
               navbutton-next-pushed: url(global.gif); navbutton-prev-normal: 
               url(global.gif); navbutton-prev-hovered: url(global.gif); 
               navbutton-prev-pushed: url(global.gif); navbutton-up-normal: 
               url(global.gif); navbutton-up-hovered: url(global.gif); 
               navbutton-up-pushed: url(global.gif) }
.mstheme-bannertxt { font-family: Times New Roman; color: rgb(0, 0, 128); font-size: 3; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-horiz-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: middle }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-navtxthome { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
ul           { list-style-image: url('bullet.gif') }
ul ul        { list-style-image: url('bullet.gif') }
ul ul ul     { list-style-image: url('bullet.gif') }
a:link       { color: rgb(51, 102, 153) }
a:active     { color: rgb(255, 204, 0) }
a:visited    { color: rgb(51, 102, 153) }
body         { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0) }
table        { table-border-color-light: rgb(0, 0, 128); table-border-color-dark: 
               rgb(0, 0, 128) }
h1           { color: rgb(51, 51, 153) }
h2           { color: rgb(51, 51, 153) }
h3           { color: rgb(51, 51, 153) }
h4           { color: rgb(0, 0, 128) }
h5           { color: rgb(0, 0, 128) }
h6           { color: rgb(0, 0, 128) }
button       { background-color: rgb(51, 102, 102); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
.mstheme-text {  }
textarea     { color: rgb(0, 0, 0) }
fieldset     { color: rgb(0, 0, 0) }
legend       { color: rgb(51, 102, 102) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(51, 102, 102) }
th           { color: rgb(0, 0, 0) }
.mstheme-bannertxt a:link { color: rgb(51, 102, 153) }
.mstheme-bannertxt a:active { color: rgb(255, 204, 0) }
.mstheme-bannertxt a:visited { color: rgb(51, 102, 153) }
.mstheme-bannertxt-g { font-family: Times New Roman; color: rgb(0, 0, 128); font-size: 3; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-bannertxt-g a:link { color: rgb(51, 102, 153) }
.mstheme-bannertxt-g a:active { color: rgb(255, 204, 0) }
.mstheme-bannertxt-g a:visited { color: rgb(51, 102, 153) }
.mstheme-bannertxt-s { font-family: Times New Roman; color: rgb(0, 0, 128); font-size: 3; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-bannertxt-s a:link { color: rgb(51, 102, 153) }
.mstheme-bannertxt-s a:active { color: rgb(255, 204, 0) }
.mstheme-bannertxt-s a:visited { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt a:link { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt a:active { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt a:visited { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: middle }
.mstheme-horiz-navtxt-g a:link { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt-g a:active { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: right; 
               vertical-align: middle }
.mstheme-horiz-navtxt-gs a:link { color: rgb(51, 102, 153) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxthome a:link { color: rgb(51, 102, 153) }
.mstheme-navtxthome a:active { color: rgb(255, 204, 0) }
.mstheme-navtxthome a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxthome-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome-g a:link { color: rgb(51, 102, 153) }
.mstheme-navtxthome-g a:active { color: rgb(255, 204, 0) }
.mstheme-navtxthome-g a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxthome-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome-gs a:link { color: rgb(51, 102, 153) }
.mstheme-navtxthome-gs a:active { color: rgb(255, 204, 0) }
.mstheme-navtxthome-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtnext a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtnext a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtnext a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtnext-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext-g a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtnext-g a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtnext-g a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtnext-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext-gs a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtnext-gs a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtnext-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtprev a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtprev a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtprev a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtprev-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev-g a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtprev-g a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtprev-g a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtprev-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev-gs a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtprev-gs a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtprev-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtup a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtup a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtup a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtup-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup-g a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtup-g a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtup-g a:visited { color: rgb(51, 102, 153) }
.mstheme-navtxtup-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup-gs a:link { color: rgb(51, 102, 153) }
.mstheme-navtxtup-gs a:active { color: rgb(255, 204, 0) }
.mstheme-navtxtup-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-topbar-font a:link { color: rgb(51, 102, 153) }
.mstheme-topbar-font a:active { color: rgb(255, 204, 0) }
.mstheme-topbar-font a:visited { color: rgb(51, 102, 153) }
.mstheme-topbar-font-g { font-family: Arial, Helvetica; color: #000000; font-size: 8pt }
.mstheme-topbar-font-g a:link { color: rgb(51, 102, 153) }
.mstheme-topbar-font-g a:active { color: rgb(255, 204, 0) }
.mstheme-topbar-font-g a:visited { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt a:link { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt a:active { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt a:visited { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt-g { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-vert-navtxt-g a:link { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt-g a:active { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt-gs { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme-vert-navtxt-gs a:link { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt-gs a:active { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(51, 102, 153) }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(0, 0, 128); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: left; 
               vertical-align: middle }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: url(global.gif) }
.mstheme-topbar-font { color: #000000; font-size: 8pt; font-family: Arial, Helvetica }
body         { background-image: url('bg.gif'); font-family: Verdana, Arial, Helvetica }
button       { font-size: 8pt; font-style: Normal; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-family: Arial, Helvetica; font-style: Normal }
fieldset     { font-family: Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 
               Times New Roman }
h2           { font-family: Times New Roman; font-style: normal; font-size: 18pt; 
               font-weight: normal }
h3           { font-family: Times New Roman; font-size: 14pt; font-weight: normal; 
               font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; font-family: 
               Times New Roman }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               Times New Roman }
h6           { font-family: Times New Roman; font-size: 8pt; font-style: normal; 
               font-weight: normal }
label        { font-style: Normal; font-family: Arial, Helvetica; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-family: Arial, Helvetica; font-style: Normal }
legend       { font-style: Normal; font-size: 8pt; font-family: Arial, Helvetica }
marquee      { font-family: Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt; 
               border-style: solid; border-width: 1pt }
table        { font-family: Arial, Helvetica; font-style: normal }
textarea     { font-style: normal; font-size: 8pt; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
th           { font-family: Arial, Helvetica; font-style: normal }
