body {
	scrollbar-face-color=#EEF0F7; 
	scrollbar-shadow-color=#C9CCE4; 
	scrollbar-highlight-color=#EEF0F7; 
	scrollbar-3dlight-color=#FFFFFF; 
	scrollbar-darkshadow-color=#A6AAD2; 
	scrollbar-track-color=#EEF0F7; 
	scrollbar-arrow-color=#5A6596;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #5F5F5F;
}

td {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #5F5F5F;
}

pre { 
	font-family: Geneva, Tahoma, Verdana, sans-serif; 		font-size: 11px;
	line-height: 14px;
	color: #5F5F5F;
}

b { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 		font-size: 11px;
	color: #5A6596;
}

i { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 		font-size: 11px;
}

blockquote { 
	background: #EFEFEF;
}

a { 
	text-decoration: none;
	color: #5A6596;
}

a:hover {
	text-decoration: underline;
}

.date { 
	font-family: Geneva, Georgia, Tahoma, sans-serif; 
	font-size: 12px;
	color: #5A6596;
}

.sub { 
	font-family: Geneva, Verdana, Tahoma, sans-serif; 			font-size: 10px;
}