body { background-color: #555555; color: #FCEDAF; font-family: Arial, Garamond, Helvetica;
  text-decoration: none; font-size: 100%; margin: 0; }
span.title { text-decoration: underline; font-size: 150%; }
span.navbar { font-size: 80%; padding: 2; }
a:link { color: #FCEDBF; }
a:hover { background-color: #8C7D5F; color: #701113; }
a:visited { color: #FCED9F; }
table { border-style: none }
table.playerselect { border-style: none; font-size: 90%; }
table.playerselect td { align: left; padding: 0; }
table.playerselect input { width: 18; height: 18; }
table.insidereport { background-color: #DDDDDD; border-style: none; color: #000000; }
table.insidereport td { background-color: #DDDDDD; }
table.report { background-color: #000000; border-style: none; color: #000000;
  font-size: 90%; }
table.report tr { background-color: #FFFFFF; }
table.report tr.highlight { background-color: #FFFF00; }
table.report a:link { color: #000088; }
table.report a:hover { background-color: #FCEDAF; }
table.report a:visited { color: #500000; }
span.positive { color: #3300FF; }
span.negative { color: #BB0000; }
span.item { color: #007700; }
