<style>
.mstheme
{
	separator-image: url(tvrule.gif);
	list-image-1: url(tvbull1.gif);
	list-image-2: url(tvbull2.gif);
	list-image-3: url(tvbull3.gif);

	nav-banner-image: url(tvbnr.gif);

	navbutton-horiz-normal: url(tvphb.gif);
	navbutton-horiz-pushed: url(tvphbp.gif);

	navbutton-vert-normal: url(tvpvb.gif);
	navbutton-vert-pushed: url(tvpvbp.gif);

	navbutton-home-normal: url(tvhome.gif);

	navbutton-next-normal: url(tvnext.gif);

	navbutton-prev-normal: url(tvprev.gif);

	navbutton-up-normal: url(tvup.gif);

}

.mstheme-bannertxt
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
	color: rgb(255,255,204);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,102,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,102,204);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
}
</style>.
