body
{
	padding-top: 1em;
	color: black;
	background: white;
	letter-spacing: 1px;
	line-height: 1.3em;
	font-family: "Verdana", "MS UI Gothic";
}

p
{
	padding-left: 2em;
	padding-right: 3em;
}

a
{
	font-weight: bold;
	text-decoration: none;
}

a:link
{
	color: orange;
	background: white;
}

a:visited
{
	color: gray;
	background: white;
}

a:active
{
	color: red;
	background: gray;
}

h2
{
	text-transform: uppercase;
	border-bottom: 3px double blue;
}

h2:first-letter
{
	font-size: 120%;
	color: red;
}

h3
{
	border-left: 5px double black;
	border-bottom: 1px solid black;
	margin-left: 5px;
}

strong
{
	color: black;
	background: yellow;
}

hr
{
	display: none;
}

img
{
	border: none;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-type: upper-roman;
}

#navi
{
	text-transform: uppercase;
	letter-spacing: 0px;
	padding-bottom: 0em;
	width: 60%;
	float:left;
}

#logo
{
	float: right;
}

#navi h2
{
	border-bottom: 3px double blue;
}

#subnavi
{
	clear: both;
}

#main
{
	clear: both;
}

#paragraph
{
	padding-bottom: 1em;
}

#footer
{
	text-align: center;
	font-size: 80%;
}

th, tr, td
{
	border: 1px solid black;
}

table
{
	table-layout: fixed;
	border-collapse: collapse;
}

caption
{
	text-align: left;
	font-weight: bold;
	padding-left: 1em;
}

#back
{
	text-align: right;
	font-size: 90%;
}

td#max
{
	text-align: center;
}

th#name
{
	width: 23%;
	font-weight: bold;
	color: lime;
	background: navy;
}

th#max
{
	width: 7%;
	font-weight: bold;
	color: lime;
	background: navy;
}

th#body
{
	width: 70%;
	font-weight: bold;
	color: lime;
	background: navy;
}

.me
{
	font-weight: bold;
}

.npc
{
	font-style: italic;
}

.zone
{
	color: lime;
	background: white;
}

.item
{
	color: blue;
	background: white;
}

.name
{
	color: orange;
	background: white;
}
#old
{
	text-decoration: line-through;
}
