body { 
       background: url('http://everquest.allakhazam.com/static/bg.gif');
/*       background: #d6c399; */
       marginwidth: 0;
       marginheight: 0;
       margin: 0,0,0,0;
       margin-top: 0;
       font-family: verdana;
       font-size: 11px;

}
p { 
     font-family: verdana;
     color: black;
     font-size: 12px;
}
li { 
     font-family: verdana;
     color: black;
     font-size: 12px;
}
ul { 
     font-family: verdana;
     color: black;
     font-size: 12px;
}
td { 
     font-family: verdana;
     color: black;
     font-size: 12px;
}
a {
      text-decoration: none;
      color: blue;
}
a:visited {
    color: darkblue;	
}
a:hover {
    color: black;
}
a:active{
    color: red;
    text-decoration: none;
}
input {
    font-size: 10px;
    font-family: "MS Sans Serif";
}
select {
    font-size: 10px;
    font-family: "MS Sans Serif";
}
#rr { 
      font-family: "Old English Text MT", "Times New Roman", "Times";
      color:#990000;
      font-size: 22px;
      font-weight: bold;
      }

#headerrow {
/*   background: url('/wimgs/dk.gif'); */
             background: #B1A67E; 
   color: black;
   font-size: 12px;
   font-weight: bold;
   margin: 0px;
}
#bigrow {
   color: black;
   font-size: 18px;
   font-weight: bold;
}

#regname { 
   color: navy;
   font-weight: bold;
           }
#sj { 
      font-size: 22px;
      font-weight: heavy;
 }

.copy { 
       color: black;
       font-size: 8px;
       font-family: verdana,helv;
}


.links {
   font-size: 9.5px;
   text-align: center;
}

.subject {
 font-size: 24px;
 font-weight: bold;
}

.Named {  font-weight: bold; color: #FFFF00}
.signed {  font-style: italic; color: #CC0099}
.nt { color: blue; text-decoration: none; }
#red { color: darkred; text-decoration: none; font-size: 10px; }
#notbold { font-weight: normal; }
#fs8 { font-size: 10px; }
#Administrator {
	color: DarkRed;
	font-weight: bold;
}
#Guru {
	color: Red;
	font-weight: bold;
}
#Sage {
	color: Darkgreen;
	font-weight: bold;
}
#Scholar {
	color: darkblue;
	font-weight: bold;
}
#User {
	color: Black;
	font-weight: bold;
}
#dr {background: url('http://everquest.allakhazam.com/static/bgl.gif') #B1A67E;}
.dr {background: url('http://everquest.allakhazam.com/static/bgl.gif') #B1A67E;}