P.pDate {
	background-color : FFCC00;
	font-weight : bold;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
P.pTitle {
	font-weight : bold;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
P.pTitle1 {
	font-weight : bold;
	color : 000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
}

P.pText {
	font-size : 10pt;
	font-family : Arial, Helvetica, sans-serif;
}

P.pHeader {
	font-size : 10pt;
	font-family : Arial, Helvetica, sans-serif;
	color : FFFFFF;
	font-weight : bold;
	background-color : 990000;
}
P.pShot {
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	color : FFFFFF;
	font-weight : bold;
	background-color : 990000;
}

TD.tMain {
	font-size : 14pt;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	background-color : 990000;
	font-weight : bold;
}
TD.tRight{
	background-color : 990000;
	text-align : right;
}
TD.tTop{
	background-color : FFCC00;
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	color : 000000;
}
TD.tShot{
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	color : FFFFFF;
	font-weight : bold;
}
TD.tTopR{
	background-color : FFCC00;
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	color : 990000;
	text-align : right;
}
P.sHeader {
	font-size : 12pt;
	font-family : Arial, Helvetica, sans-serif;
	color : 000000;
	font-weight : bold;
}
P.pFooter {
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	color : 990000;
}
a.aTop:active{
	text-decoration: none;
	color : 990000;
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
}
a.aTop:hover{
	text-decoration: underline;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	cursor : hand;
}
a.aTop:link{
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.aTop:visited{
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.aShot:active{
	text-decoration: none;
	color : 990000;
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}
a.aShot:hover{
	text-decoration: underline;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
}
a.aShot:link{
	text-decoration: none;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
}
a.aShot:visited{
	text-decoration: none;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
}

a.rBar:active{
	text-decoration: none;
	font-wieght : 600;
	color : FFFFFF;
	font-size : 8pt;
	font-family : Arial, Helvetica, sans-serif;
}
a.rBar:hover{
	text-decoration: underline;
	font-wieght : 600;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.rBar:link{
	text-decoration: none;
	color : FFFFFF;
	font-wieght : 600;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.rBar:visited{
	text-decoration: none;
	color : FFFFFF;
	font-wieght : 600;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

a.rBarList:active{
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.rBarList:hover{
	text-decoration: underline;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.rBarList:link{
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.rBarList:visited{
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}


a.rBar1:active{
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
a.rBar1:hover{
	text-decoration: underline;
	color : FFCC00;
	font-size : 10pt;
	font-family : Arial, Helvetica, sans-serif;
}
a.rBar1:link{
	font-size : 10pt;
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
}
a.rBar1:visited{
	font-size : 10pt;
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
}

a.tLink:active{
	text-decoration: none;
	color : FFFFFF;
	font : 8pt Arial, Helvetica, sans-serif;
}
a.tLink:hover{
	text-decoration: underline;
	color : FFFFFF;
	font : 8pt Arial, Helvetica, sans-serif;
}
a.tLink:link{
	text-decoration: none;
	color : FFFFFF;
	font : 8pt Arial, Helvetica, sans-serif;
}
a.tLink:visited{
	text-decoration: none;
	color : FFFFFF;
	font : 8pt Arial, Helvetica, sans-serif;
}

a.tLinkM:active{
	text-decoration: none;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}
a.tLinkM:hover{
	text-decoration: underline;
	color : FFFFFF;
	font-size : 10pt;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}
a.tLinkM:link{
	font-size : 10pt;
	text-decoration: none;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}
a.tLinkM:visited{
	font-size : 10pt;
	text-decoration: none;
	color : FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}

a.abody:active{
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.abody:hover{
	text-decoration: underline;
	color : 000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.abody:link{
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
a.abody:visited{
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
BODY {
	background-color : FFFFFF;
	margin-bottom : 0;
	margin-left : 0;
	margin-right : 0;
	margin-top : 0;
	color : 000000;
	font-size : 10pt;
	font-family : Arial, Helvetica, sans-serif;
}
a:active {
	text-decoration: none;
	color : FFCC00;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}
a:hover {
	text-decoration: underline;
	color : 000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}
a:link {
	text-decoration: none;
	color : 990000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}
a:visited {
	text-decoration: none;
	color : CC3300;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}
