@media print {
body {
	background-color: #FFFFFF;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
font, th, td, p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
a:link, a:active, a:visited { color : #006699; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}
/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 15px}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}
.maintitle	{font-weight: bold; font-size: 22px; font-family: "T_FONTFACE2";}
.gen { font-size : 12px;}
.forumline	{ background-color: #FFFFFF; border: 0px #006699 solid; padding: 0px; border-spacing: 0px;}
.bodyline	{ background-color: #FFFFFF; border: 0px #98AAB1 solid; padding: 0px; border-spacing: 0px;}

.header1	{ color: #FF0000; font-size: 24px; font-familY: "T_FONTFACE2"; line-height: normal}
.header2	{ color: #FF0000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header3	{ color: #000000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header4	{ color: #000000; font-size: 14px; font-familY: "T_FONTFACE2"; font-weight: bold; line-height: normal}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px}
.hide { display:none; }
}

@media screen {
body {
	background-color: #DEE3E7;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
font, th, td, p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
a:link, a:active, a:visited {
	color : #006699;
	text-decoration: underline;
}
a:hover	{
	text-decoration: underline;
	color : #DD6900;
}
hr	{
	height: 0px;
	border: solid #D1D7DC 0px;
	border-top-width: 1px;
}
/* The content of the posts (body of text) */
.bodyline {
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}
.postbody1 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699;
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color: #EFEFEF;
}
.postbody2 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699; 
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color: #DEE3E7;
}
.postbody3 {
	font-size : 12px;
	line-height: 15px;
/*	border: 1px solid #006699; 
	border: 0px;
	border-spacing: 0px;
	cell-spacing: 1px; */
	background-color: #D1D7Dc;
}
.maintitle {
	display:none;
	font-weight: bold;
	font-size: 22px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}
.gen {
	display:none;
	font-size : 12px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.forumline {
	background-color: #FFFFFF;
	border: 2px #006699 solid;
}
.header1 {
	color: #FF0000;
	font-size: 24px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	text-align: center;
}
.header2 {
	color: #FF0000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
.header3 {
	color: #000000;
	font-size: 18px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
.header4 {
	color: #000000;
	font-size: 14px;
	font-familY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: normal;
}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #006600;
	background-color: #FAFAFA;
	border: #D1D7DC;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.hide {}
body {
	background-color: #DEE3E7;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;

}

/* Main table cell colours and backgrounds */
/* td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; } */

th	{
	color: #FFA34F; font-size: 11px; font-weight : bold;
	background-color: #006699; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
}

td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead, th.thSides, th.thTop, th.thLeft, th.thRight, th.thBottom, th.thCornerL, th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px;
}
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid;
}

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight, td.catRight, td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft, td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom, td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }

}

/* General text */
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.genmed,.gensmall { color : #000000; }
a.gen, a.genmed, a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }

/* titles for the topics: could specify viewed link colour too */
.topictitle, h1, h2	{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }

/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 18px}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}

/* Quote & Code blocks */
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

}
