.links {color: #FFFFFF; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
.links A {color: #FFFFFF; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif; text-decoration: underline;}
.links A:hover {color: #9FD1FF;}
