<style>
.mstheme
{
	top-bar-button: url(artnavgl.gif);
	version: 1.0;
	navbutton-background-color:  rgb(51,51,51);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(255,255,204);
}
body
{
	font-family: Garamond, Times New Roman, Times;
	background-image: url(arttilea.jpg); 
}

h1
{
	font-family: arial;
}
h2
{
	font-family: arial;
}
h3
{
	font-family: arial;
}
h4
{
	font-family: arial;
}
h5
{
	font-family: arial;
}
h6
{
	font-family: arial;
}
</style>.
