A
{
	color : #0E024D;
	font : bold 12px Verdana, Arial;
	text-decoration : none;
}

A :hover
{
	color : #FF0000;
	font : bold 12px Verdana, Arial;
	text-decoration : underline;
}

BODY
{
	color : #000000;
	font : 12px Verdana, sans-serif;
}


news :hover
{
	color : #FF0000;
	font : bold 12px Verdana, Arial;
	text-decoration : underline;
}

news :link
{
	color : #0E024D;
	font : bold 12px Verdana, Arial;
	text-decoration : none;
}


.boldheader
{
	color : #000000;
	font : bold 16px Arial;
	text-decoration : none;
}

.clientwiz
{
	color : #000000;
	font : 12px Arial;
	text-decoration : none;
}

.clientwiz2
{
	color : #FF0000;
	font : 12px Arial;
	text-decoration : none;
}

.clientwiz2 :hover
{
	color : #FF0000;
	font : 12px Arial;
	text-decoration : none;
}

.db
{
	background : #FFFFFF;
	color : #000000;
	font : 12px Verdana, Arial;
	text-decoration : none;
}

.db :hover
{
	background : #FFFFFF;
	color : #FF0000;
	font : bold 12px Verdana, Arial;
	text-decoration : underline;
}

.db :link
{
	background : #FFFFFF;
	color : #0E024D;
	font : bold 12px Verdana, Arial;
	text-decoration : none;
}

.db2
{
	background : #FFFFFF;
	color : #000000;
	font : bold 12px Verdana, Arial;
	text-decoration : none;
}

.db2 :hover
{
	background : #FFFFFF;
	color : #FF0000;
	font : bold 12px Verdana, Arial;
	text-decoration : underline;
}

.dbnorm
{
	background : #FFFFFF;
	color : #0E024D;
	font : 12px Verdana, Arial;
	text-decoration : none;
}

.dbnorm :hover
{
	background : #FFFFFF;
	color : #FF0000;
	font : 12px Verdana, Arial;
	text-decoration : underline;
}

.dbnorm :link
{
	background : #FFFFFF;
	color : #0E024D;
	font : 12px Verdana, Arial;
	text-decoration : none;
}

.dbti
{
	background : #FFFFFF;
	color : #800000;
	font : bold 12px Verdana, Arial;
	text-decoration : none;
}

.dbti2
{
	background : #FFFFFF;
	color : #800000;
	font : bold 13px Verdana, Arial;
	text-decoration : none;
}

.header
{
	color : #E1A900;
	font : bold 13px Verdana;
}

.linkmenu
{
	color : #FFFFFF;
	font : bold 10px Verdana;
	text-decoration : none;
}

.linkmenu:active
{
	color : #FF0000;
	font : bold 10px Verdana;
	text-decoration : none;
}

.linkmenu:hover
{
	color : #DC143C;
	font : bold 10px Verdana;
	text-decoration : none;
}

.linkmenu:link
{
	color : #FFFFFF;
	font : bold 10px Verdana;
	text-decoration : none;
}

.menu
{
	color : #FFFFFF;
	font : 12px Verdana;
	text-decoration : none;
}

.menu :hover
{
	color : #FF0000;
	font : 12px Verdana;
	text-decoration : none;
}

.newsig
{
	background : #FFFFFF;
	color : #000000;
	font : 11px Verdana;
	text-decoration : none;
}

.newsiglink
{
	background : #FFFFFF;
	color : #800000;
	font : bold 11px Verdana;
	text-decoration : none;
}

.newsiglink :hover
{
	background : #FFFFFF;
	color : #800000;
	font : bold 11px Verdana;
	text-decoration : underline;
}

.sp
{
	background : #FFFFFF;
	color : #0E024D;
	font : 13px Arial;
	text-decoration : none;
}

.sp :hover
{
	background : #FFFFFF;
	color : #FF0000;
	font : 13px Arial;
	text-decoration : underline;
}

.spb
{
	background : #FFFFFF;
	color : #000000;
	font : 13px Arial;
	text-decoration : none;
}

.spbl
{
	background : #0E024D;
	color : #FFFFFF;
	font : bold 13px Arial;
	text-decoration : none;
}

.spti
{
	background : #FFFFFF;
	color : #000000;
	font : bold 13px Arial;
	text-decoration : none;
}

.spti2
{
	background : #0E024D;
	color : #FFFFFF;
	font : bold 15px Verdana, Arial;
}
