html{
height:100%;
}
form{
height:100%;
}

body{
width:95%;
font-weight:normal;
height:95%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
color:#FFFFFF;
background-image:url(/pics/2423/none);
border-bottom:#FFFFFF thin none;
border-top:#FFFFFF thin none;
border-right:#FFFFFF thin none;
border-left:#FFFFFF thin none;
background-color:#000000;
text-align:left;
font-size:11px;
font-family:arial;
}
.replyButton a:link, .replyButton a:active, .replyButton a:visited{
color:#FFFFFF;
}
a:link, a:active, a:visited{
color:#FFFFFF;
}

h1{
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-family:arial;
font-size:24px;
}
h2{
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-family:arial;
font-size:18px;
}
#center{
font-weight:normal;
padding:0px 0px 0px 0px;
margin:30px 150px 0px 200px;
color:#FFFFFF;
height:100%;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
background-color:transparent;
text-align:left;
font-size:11px;
font-family:arial;
vertical-align:top;
}
img{
border:0px;
}
#left1_leftCell{
display:inline;
font-weight:normal;
height:100%;
width:200px;
padding:0px 0px 0px 0px;
margin:30px 0px 0px 0px;
color:#FFFFFF;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
background-color:transparent;
text-align:center;
font-size:11px;
font-family:arial;
position:absolute;
left:0px;
}
#left1_leftCell a:link, #left1_leftCell a:active, #left1_leftCell a:visited{
color:#FFFFFF;
}
#TopRaiders{
background-image:none;
background-color:#000000;
color:#FFFFFF;
width:150px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#EQNews{
background-image:none;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
width:140px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#right1_rightCell{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
width:150px;
padding:0px 0px 0px 0px;
margin:30px 25px 0px 25px;
text-align:center;
font-size:18px;
font-family:arial;
position:absolute;
height:80%;
right:0px;
}
#EQNews a:link, #EQNews a:active, #EQNews a:visited{
color:#FFFFFF;
}
.newsTitle{
font-weight:normal;
background-image:url(/pics/2423/none);
background-repeat:repeat-x;
color:#FFFFFF;
padding:5px 0px 5px 15px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
.newsBody a:link, .newsBody a:active, .newsBody a:visited{
color:#FF9900;
}
.newsBody{
font-weight:normal;
background-image:url(/pics/2423/none);
color:#FFFFFF;
padding:10px 15px 10px 15px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:12px;
font-family:arial;
}
.calendarHeader{
background-color:#000000;
border-bottom:White medium none;
border-top:White medium none;
border-right:White medium none;
border-left:White medium none;
font-weight:normal;
color:#FFFFFF;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.calendarDay a:link, .calendarDay a:active, .calendarDay a:visited{
color:#FFFFFF;
}
.calendarDay{
font-weight:normal;
border-bottom:#FFFFFF medium solid;
border-top:#FFFFFF medium solid;
border-right:#FFFFFF medium solid;
border-left:#FFFFFF medium solid;
height:75px;
width:75px;
background-color:#808080;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
.calendarOtherMonth{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:16px;
font-family:arial;
}
.encountersHeader{
background-color:#000000;
font-weight:normal;
border-bottom:White thin none;
border-top:White thin none;
border-right:White thin none;
border-left:White thin none;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.encountersHeader a:link, .encountersHeader a:active, .encountersHeader a:visited{
color:#FFFFFF;
}
.encountersTable a:link, .encountersTable a:active, .encountersTable a:visited{
color:#FFFFFF;
}
.encountersTable{
font-weight:normal;
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
background-color:#000000;
color:#FFFFFF;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.galleryTable a:link, .galleryTable a:active, .galleryTable a:visited{
color:#FFFFFF;
}
.galleryTable{
border-bottom:#FF9900 medium ridge;
border-top:#FF9900 medium ridge;
border-right:#FF9900 medium ridge;
border-left:#FF9900 medium ridge;
background-color:#000000;
color:#FFFFFF;
padding:25px 25px 25px 25px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#btnHome a:link, #btnHome a:active, #btnHome a:visited{
color:#FFFFFF;
}
#btnNews{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnRoster{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnRaids{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnGallery{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnLoot{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnItems{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
#btnForums{
padding:0px 0px 0px 0px;
margin:0px 0px 5px 0px;
font-size:11px;
font-family:arial;
}
.rosterOuterTable{
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
font-weight:normal;
background-color:#000000;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.rosterHeader td{
border-bottom:White thin none;
border-top:White thin none;
border-right:White thin none;
border-left:White thin none;
background-color:#000000;
font-weight:bold;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:times;
background-image:url(/pics/2423/none);
}
.rosterHeader td a:link, .rosterHeader td a:active, .rosterHeader td a:visited{
color:#FFFFFF;
}
.rosterItem td a:link, .rosterItem td a:active, .rosterItem td a:visited{
color:#FFFFFF;
}
.rosterAlternateItem td{
border-bottom:White medium none;
border-top:White medium none;
border-right:White medium none;
border-left:White medium none;
font-weight:normal;
background-color:#000000;
color:#FFFFFF;
padding:5px 0px 5px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:garamond;
}
.rosterItem td{
border-bottom:White medium none;
border-top:White medium none;
border-right:White medium none;
border-left:White medium none;
background-color:#000000;
font-weight:normal;
color:#FFFFFF;
padding:3px 0px 3px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:garamond;
}
.rosterAlternateItem td a:link, .rosterAlternateItem td a:active, .rosterAlternateItem td a:visited{
color:#FFFFFF;
}
#TopRaiders a:link, #TopRaiders a:active, #TopRaiders a:visited{
color:#FFFFFF;
}
.adminNav{
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#333333;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
#RandomPlayer{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
padding:5px 5px 5px 5px;
margin:25px 0px 25px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
#topten{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
padding:0px 0px 0px 0px;
margin:25px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.itemTableHeader{
border-bottom:White medium none;
border-top:White medium none;
border-right:White medium none;
border-left:White medium none;
background-color:#000000;
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.itemTableHeader a:link, .itemTableHeader a:active, .itemTableHeader a:visited{
color:#FFFFFF;
}
.itemTable a:link, .itemTable a:active, .itemTable a:visited{
color:#FFFFFF;
}
.itemTable{
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
font-weight:normal;
width:100%;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.loginTable{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.loginButton{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#FF9900;
color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.topRaidInfo{
color:#FFFFFF;
font-weight:normal;
width:400px;
border-bottom:#FFFFFF thin ridge;
border-top:#FFFFFF thin ridge;
border-right:#FFFFFF thin ridge;
border-left:#FFFFFF thin ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:50px 0px 0px 0px;
text-align:center;
font-size:14px;
font-family:arial;
}
.participantItemTable a:link, .participantItemTable a:active, .participantItemTable a:visited{
color:#FFFFFF;
}
.participantItemTable{
font-weight:normal;
width:400px;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.participantList{
font-weight:normal;
background-image:url(/pics/2423/none);
width:400px;
color:#FFFFFF;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.participantList a:link, .participantList a:active, .participantList a:visited{
color:#FF9900;
}
#top{
font-weight:normal;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 30px;
text-align:center;
font-size:11px;
font-family:arial;
}
.participantListHeader{
font-weight:normal;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-repeat:repeat-x;
background-image:url(/pics/2423/none);
}
.playerOuterTable{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:13px;
font-family:arial;
}
.playerOuterTable a:link, .playerOuterTable a:active, .playerOuterTable a:visited{
color:#FF9900;
}
.profileRaidHeader{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:13px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.profileRaidGrid{
font-weight:normal;
color:#FFFFFF;
border-bottom:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:arial;
}
.profileLootGrid{
font-weight:normal;
border-top:#FFFFFF medium ridge;
color:#FFFFFF;
border-bottom:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:arial;}
.rosterPager td a:link, .rosterPager td a:active, .rosterPager td a:visited{
color:#FFFFFF;
}
.rosterPager td{
color:#FFFFFF;
font-weight:normal;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:12px;
font-family:arial;
}
.purchaseOuterTable{
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
color:#FFFFFF;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:13px;
font-family:arial;
}
.purchaseOuterTable a:link, .purchaseOuterTable a:active, .purchaseOuterTable a:visited{
color:#FFFFFF;
}
.purchaseHeader{
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.purchasePager{
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:right;
font-size:13px;
font-family:arial;
}
.forumListOuter a:link, .forumListOuter a:active, .forumListOuter a:visited{
color:#FFFFFF;
}
.forumStatsTable{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
.forumListOuter{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
.forumListHeader{
background-color:#000000;
color:#FFFFFF;
font-weight:normal;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:13px;
font-family:arial;
background-image:url(/pics/2423/line.jpg);
}
.threadListOuter{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
width:95%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.forumNav a:link, .forumNav a:active, .forumNav a:visited{
color:Black;
}
.forumNav{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
.pmHeader{
width:95%;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-image:url(/templates/blackOrange/header.jpg);
}
.pmHeader a:link, .pmHeader a:active, .pmHeader a:visited{
color:#FF9900;
}
.pmOuterTable{
background-color:#000000;
color:#FFFFFF;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
width:95%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.pmOuterTable a:link, .pmOuterTable a:active, .pmOuterTable a:visited{
color:#FF9900;
}
.raidOuterTable a:link, .raidOuterTable a:active, .raidOuterTable a:visited{
color:#FFFFFF;
}
.raidOuterTable{
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.raidHeader{
font-weight:normal;
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-image:url(/pics/2423/none);
}
.raidHeader a:link, .raidHeader a:active, .raidHeader a:visited{
color:#FF9900;
}
.messageOuter a:link, .messageOuter a:active, .messageOuter a:visited{
color:#FFFFFF;
}
.messageOuter{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF0 medium ridge;
border-left:#FFFFFF medium ridge;
width:95%;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.messageHeader{
border-bottom:White thin solid;
border-top:White thin solid;
border-right:White thin solid;
border-left:White thin solid;
font-weight:normal;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
background-image:url(/pics/2423/line.jpg);
}
.messageHeader a:link, .messageHeader a:active, .messageHeader a:visited{
color:#FFFFFF;
}
.quickReplyBox a:link, .quickReplyBox a:active, .quickReplyBox a:visited{
color:#FFFFFF;
}
.quickReplyBox{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
height:200px;
width:400px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:left;
font-size:11px;
font-family:arial;
}
.quickReplyButton{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#FFFFFF;
color:#000000;
padding:2px 10px 2px 10px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:12px;
font-family:arial;
}
.calendarHeader a:link, .calendarHeader a:active, .calendarHeader a:visited{
color:#FFFFFF;
}

.replyButton{
border-bottom:#FFFFFF medium ridge;
border-top:#FFFFFF medium ridge;
border-right:#FFFFFF medium ridge;
border-left:#FFFFFF medium ridge;
background-color:#000000;
color:#FFFFFF;
height:25px;
width:50px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
.pmMessageHeader{
width:90%;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
background-image:url(/templates/blackOrange/header.jpg);
}
.pmMessageHeader a:link, .pmMessageHeader a:active, .pmMessageHeader a:visited{
color:#FF9900;
}
.pmMessageBody a:link, .pmMessageBody a:active, .pmMessageBody a:visited{
color:#FF9900;
}
.pmMessageBody{
width:90%;
border-bottom:#FFFFFF medium none;
border-top:#FFFFFF medium none;
border-right:#FFFFFF medium none;
border-left:#FFFFFF medium none;
background-color:#000000;
color:#FFFFFF;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:11px;
font-family:arial;
}
#Visits{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
text-align:center;
font-size:18px;
font-family:arial;
}
.purchaseHeader a:link, .purchaseHeader a:active, .purchaseHeader a:visited{
color:#FFFFFF;
}
.itemTableAlternatingRow{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:11px;
font-family:arial;
}
#right1_rightCell a:link, #right1_rightCell a:active, #right1_rightCell a:visited{
color:#FFFFFF;
}
#center a:link, #center a:active, #center a:visited{
color:#FFFFFF;
}
.adminNav a:link, .adminNav a:active, .adminNav a:visited{
color:#FFFFFF;
}
.newsTable{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:24px;
font-family:arial;
}
.newsTitle a:link, .newsTitle a:active, .newsTitle a:visited{
color:#FFFFFF;
}
.newsSeperator{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:arial;
}
.calendarOtherMonth a:link, .calendarOtherMonth a:active, .calendarOtherMonth a:visited{
color:#FFFFFF;
}
.purchaseItem{
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
.topRaidInfo a:link, .topRaidInfo a:active, .topRaidInfo a:visited{
color:#FFFFFF;
}
.loginTable a:link, .loginTable a:active, .loginTable a:visited{
color:#FFFFFF;
}
.profileRaidGrid a:link, .profileRaidGrid a:active, .profileRaidGrid a:visited{
color:#FFFFFF;
}
.profileRaidHeader a:link, .profileRaidHeader a:active, .profileRaidHeader a:visited{
color:#FFFFFF;
}
.profileLootGrid a:link, .profileLootGrid a:active, .profileLootGrid a:visited{
color:#FFFFFF;
}
.encountersAlternateRow{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:center;
font-size:11px;
font-family:arial;
}
.forumStatsTable a:link, .forumStatsTable a:active, .forumStatsTable a:visited{
color:#FFFFFF;
}
.forumListHeader a:link, .forumListHeader a:active, .forumListHeader a:visited{
color:#FFFFFF;
}
.forumListCategory{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
.forumListItems{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
.forumListAlternate{
background-color:#000000;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:13px;
font-family:arial;
border-bottom:#FFFFFF thin solid;
border-top:#FFFFFF thin solid;
border-right:#FFFFFF thin solid;
border-left:#FFFFFF thin solid;
background-image:url(/pics/2423/none);
}
#proboards{
background-color:#000000;
height:10000px;
width:600px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
#pbforums{
background-color:#000000;
height:3600px;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
#calendarpage{
background-color:#000000;
height:2000px;
width:100%;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}
.purchaseAlternate{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-weight:normal;
text-align:left;
font-size:11px;
font-family:arial;
}