/*
** Links
*/

A:link    { text-decoration: none      }
A:visited { text-decoration: none      }
A:active  { text-decoration: underline }
A:hover   { text-decoration: underline }

/*
** Normaler Text und Headlines
*/

.P0 { Font-Family: Arial, Helvetica; Font-Size: 14px; }
.P1 { Font-Family: Arial, Helvetica; Font-Size: 14px; Text-Align: Justify; }
.P2 { Font-Family: Arial, Helvetica; Font-Size: 14px; Font-Weight: Bold; }
.P3 { Font-Family: Arial, Helvetica; Font-Size: 12px; }
.P4 { Font-Family: Arial, Helvetica; Font-Size: 19px; Font-Weight: Bold; Color: #5A3505; }
.P5 { Font-Family: Arial, Helvatice; Font-Size: 15px; Font-Weight: bold; Color: #5A3505; }

UL.P0 { Font-Family: Arial, Helvetica; Font-Size: 14px; List-Style-Image: Url(/pics/point1.gif); }
UL.P1 { Font-Family: Arial, Helvetica; Font-Size: 14px; List-Style-Image: Url(/pics/point1.gif); }

UL.news         { Font-Family: Arial, Helvetica; Font-Size: 14px; Text-Align: Justify; }
BLOCKQUOTE.news { Font-Family: Arial, Helvetica; Font-Size: 14px; Text-Align: Justify; Font-Style: Italic; Color: #4A2505; }

