body,td {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #EBEBC5;
}
a {
	color: #FFDA30;
}
a:hover {
	color: red;
	text-decoration: none;
}
.text {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #EBEBC5;
}
.buyContent {
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 30px 0px 30px;
	line-height: 20px;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.contentbg {
	background-image: url(../images/content_bg_repeat.jpg);
	background-repeat: repeat-y;
	background-color: #1A1007;
}
.contenttop {
	background-image: url(../images/content_bg_top.jpg);
	background-repeat: no-repeat;
}
.header {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFCC00;
}
.ToS {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #d8a752;
	font-weight: bold;
}
a.ToS{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
a.ToS:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: underline;
}
/* GLOBAL NAV STYLES */
td.gn2_text { 
	border:0px; 
	color:white;
	font-family: Verdana,Arial,Helvetica; 
	font-weight: bold; 
	font-size:12px; 
	margin:0px; 
	padding-left:3px;  
}
.gn2_dropMenu { 
	border: 0px solid #9A999E; 
	filter: alpha(opacity=100,finishopacity=85,style=1,startX=20,endX=100,startY=20,endY=100);
	left: 500px; 
	margin: 0px;
	padding: 0px;  
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 202px; 
	z-index:100;
}		
a.gn2_dropItem {
	background-color:#30303C;
	color: #FFFFFF;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}
a.gn2_dropItem:hover { 
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;  
	filter: blur(add=1,strength=0);
}
a.gn2_separator {
	background-color:#30303C;
	color: #FFFFFF;
	cursor: default;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}
a.gn2_hover { }
.gn2_flyout { 
	left: 100px; 
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 150px; 
	z-index:101;
}
.tabs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: ffcc00;
	display: block;

}
.tabs a{
	color: #FBE56D;
	text-decoration: none;
		display: block;
width: 100%;
}
.tabs a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
