body { background-color:#000000; font-family:Verdana; margin:0; }
h1 { color:#F0F0F0; font-size:36px; font-family:"Ringbearer"; }
h2 { color:#F0F0F0; font-size:24px; font-family:Verdana; }
h3 { color:#F0F0F0; font-size:18px; font-family:Verdana; }
p { color:#F0F0F0; }
p.def { color:#F0F0F0; font-family:"Kelmscott", Lucida Calligraphy; font-size:24px; text-align:left }
p.smalltxt {color:#F0F0F0; font-family:Verdana, Arial, Helvetica; font-size:10px; }
tbody { color:#F0F0F0; }
a { color:#FF9966; }
a:hover { color:#FFFFFF; font-weight:bold; background-color:#FF9966; }
a:active { color:#66CC00; font-weight:bold; }
a.big { color:#FF9966; font-size:24px; }
a.big:hover { color:#FFFFFF; font-weight:bold; background-color:#FF9966; font-size:24px; }
tr.appclosed { color:#FF3333; font-weight:bold; }
tr.appopen { color:#66FF00; font-weight:bold; }