<style>
.mstheme
{
	top-bar-button: url(tvglb.gif);
	version: 1.0;
	navbutton-background-color:  rgb(51,102,255);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(255,255,255);
}
body
{
	font-family: Arial, Helvetica;
	background-image: url(tvbkgnd.gif); 
}

h1
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
h2
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
h3
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
h4
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
h5
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
h6
{
	font-family: Arial Rounded MT Bold, Arial, Helvetica;
}
</style>.
