body				{
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
						color: #FFFFFF; /* 文字色 */
						background-color: #808080; /* 背景色 */
						scrollbar-face-color: #336699; /* スクロールボタンの背景色 */
						scrollbar-highlight-color: #336699; /* */
						scrollbar-shadow-color: #FFFFFF; /* */
						scrollbar-3dlight-color: #FFFFFF; /* */
						scrollbar-arrow-color: #FFFFFF; /* */
						scrollbar-track-color: #336699; /* */
						scrollbar-darkshadow-color: #336699; /* */
						scrollbar-width: 30;
					}

table				{
						font-family: Arial,MS UI Gothic; /* 全テーブルのフォント */
						font-size: 11px; /* 全テーブルのフォントサイズ */
					}

table.menu_back		{
						background-color: #FFFFFF; /* メニュー枠の色 */
						height: 25px; /* メニュー枠の高さ */
					}
					
table.border		{
						background-color: #FFFFFF; /* テーブル枠の色 */
					}

tr					{
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
					}

td					{
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
					}
										
td.menu_left		{
						background-color: #FFFFFF; /* メニュー左枠内の色 */
						width: 20px;
					}
					
td.menu_right		{
						background-color: #336699; /* メニュー右枠内の色 */
					} 

td.news_com			{
						background-color: #808080; /* */
					}
					
tr.member_top		{
						background-color: #336699; /* */
					}

tr.member_back		{
						background-color: #808080; /* */
					}

ul					{
						margin-left: 20pt; /* */
						margin-top: 5pt; /* */
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
					}

font.paragraph		{
						margin-left: 5pt; /* */
						font-family: Arial,MS UI Gothic; /* メニューのフォント */
						font-size: 11px; /* メニューのフォントサイズ */
						font-weight: bold; /* */
						color: #FFFFFF; /* メニューの文字色 */
					}
					
font.updated		{
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
						color: #FFFFFF; /* 更新時刻の色 */
					}
					
font.impact1		{
						font-family: Arial,MS UI Gothic; /* */
						font-size: 11px; /* */
						color: #FF9900; /* */
						filter: DropShadow(offx=1,offy=1,color=#000000); /* */
						font-weight: bold; /* */
						width: 100%; /* */
					}

font.impact2		{
						color: #FF9900; /* */
						font-weight: bold; /* */
					}

font.news_mob		{
						color: FF9900;
						font-family: Arial;
						font-size: 11px;
						font-weight: bold;
					}

font.news_date		{
						margin-left: 5pt; /* */
						font-family: Arial,MS UI Gothic; /* メニューのフォント */
						font-size: 11px; /* メニューのフォントサイズ */
						font-weight: bold; /* */
						color: #FFFFFF; /* メニューの文字色 */
					}
						
font.news_com		{
						color: #FFFFFF;
						font-family: MS UI Gothic; /* */
						font-size: 10pt;
					}

hr.hr1				{
						height: 1px; /* */
						color: #FFFFFF; /* */
					}

a:visited			{	font-family: Arial; /* */
						font-size: 11px; /* */
						text-decoration: none; /* */
						color: #FFFFFF; /* 訪問済みリンクの色 */
					}

a:link				{	font-family: Arial;
						font-size: 11px;
						text-decoration: none;
						color: #FFFFFF; /* リンクの色 */
					}

a:hover				{	font-family: Arial;
						font-size: 11px;
						color: #FF9900; /* リンクのフォーラス時の色 */
					}

a:active			{	font-family: Arial;
						font-size: 11px;
						text-decoration: none;
						color: #FF9900; /* リンクのアクティブ時の色 */
					}

/* TEXTAREA			{
						BORDER-RIGHT: #928A70 1px solid; /* */
						BORDER-LEFT: #928A70 1px solid; /* */
						BORDER-BOTTOM: #928A70 1px solid; /* */
						BORDER-TOP: #928A70 1px solid; /* */
						FONT-SIZE: 12px; /* */
						COLOR: #000000; /* */
					} */
			
/* INPUT 				{
						BORDER-RIGHT: #928A70 1px solid; /* */
						BORDER-LEFT: #928A70 1px solid; /* */
						BORDER-TOP: #928A70 1px solid; /* */
						BORDER-BOTTOM: #928A70 1px solid; /* */
						FONT-SIZE: 12px; /* */
						COLOR: #000000; /* */
					} */