a:link       { text-decoration: none ; color: #8080FF}
a:visited    { text-decoration: none ; color: #8080FF}
a:hover      { color: white; background-color: 404080; text-decoration: none }
a:active     { text-decoration: none ; color: #8080FF}
.info {  font-size: 12px; font-style: normal; line-height: 20px; color: #FFFFFF; text-decoration: none; background-color: #333333; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; border-style: none; padding-left: 20px}
.log {  font-size: 12px; line-height: 18px; color: #333333; padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px}
.body {  font-size: 12px; line-height: 18px; color: #333333; background-color: #FFFFFF; clip:   rect(   )}
.post { font-size: 12px; line-height: 18px; color: #333333; text-align: right; background-color: #FFFFFF}
.head { font-size: 12px; font-style: normal; line-height: 20px; color: #FFFFFF; text-decoration: none; background-color: #333333; border-style: none}
.itemname {  color: #FFFF00; font-weight: bold}
.menu-class {  font-size: 14px; font-weight: bold; color: #FFFFFF; background-color: #000000; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; text-align: center}
.menu-left {  background-color: #333333; font-size: 12px; color: #FFFFFF; text-align: right}
.menu-right {  font-size: 12px; color: #FFFFFF; background-color: #333333}
.menu-table {  padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; border: 2px #000000 solid; background-color: #FFFFFF; color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}
.menu-left02 { background-color: #333333; font-size: 12px; color: #FFFFFF ; text-align: left}
