body{scrollbar-face-color:#008050; scrollbar-arrow-color:#DDFFCC; scrollbar-track-color:#008050; scrollbar-shadow-color:#005000; scrollbar-highlight-color:#DDFFCC; scrollbar-3dlight-color:#DDFFCC; scrollbar-darkshadow-Color:#008050;}
a:link{color:#008050;}
a:visited{color:#008050;}
a:active{color:#008050;}
a:hover{color:#005080;}

p, ul, ol{font-family:arial, helvetica; font-size:10pt; color:#008050;}
p{margin-left:10px; margin-right:20px;}
ul, ol{margin-right:20px;}
table{margin-top:0px; margin-left:0px;}
.experience{color:#bbbb00;}
.trade{color:#000080;}
.attack{color:#bb0000;}
p.copyright{font-family:arial, helvetica; font-size:8pt; color:#FFFFFF;}
ul.mob{line-height:30px; color:#800000;}
h1{font-family:arial, helvetica; margin-bottom:2px;}
h1.item{font-size:9pt; color:#CCDDFF;}
h1.mob{font-size:14pt; color:#FFDDCC;}
h2{font-family:arial, helvetica; font-size:14pt; color:#008050;}