@import url("ADAPT/adapt.css");
A:hover {
	color: #0000FF;
	text-decoration: underline;
}

A:visited { }




.news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 138%;
	font-weight: normal;
	color: #000000;
	font-variant: normal;
	border: 1px #FFFFFF;
	text-align: left;
	text-indent: -1pt;
	background-position: 0px;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: auto;






}
.headlines {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	letter-spacing: .5px;
	text-align: left;
	word-spacing: 2px;
	line-height: normal;
	padding-bottom: 0px;
	padding-top: 0px;
	font-style: normal;
	cursor: auto;








}
.headlinebody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	line-height: 125%;
	color: #000000;
	letter-spacing: .1px;
	word-spacing: normal;
	cursor: auto;




}
.headlinelinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0000CC;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}
.PressReleaseHeadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
.UsernamePassword {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	color: #8B8B8B;
}
.PressReleaseDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	color: #333333;
	cursor: auto;


}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: 300;
	color: #FFFFFF;
	text-decoration: underline;
	cursor: hand;


}
.JumpMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 00618A;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #336699;
}
.MainMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-variant: normal;
	letter-spacing: normal;
	text-align: center;
.PressReleases {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 25px;
	font-weight: normal;
	font-variant: normal;
	color: #006699;
	text-decoration: none;
}
.PressReleases {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	cursor: hand;






}
.More {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: 008a29;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
}
.prbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 115%;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
}
.leftmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #00618a;
	text-decoration: none;
}
.magazine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: 8a001c;
	text-decoration: none;
	cursor: auto;

}
.box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.ProductHeadline {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #333333;
}
.LeftMenuV {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
}
.formfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	color: #CCCCCC;
	text-decoration: none;
	background-color: #999999;
	background-image: url(Images/shadow_textbox.gif);
	border: medium solid #333333;
	height: 19px;


}
.NewsPressEvents {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.wrldcontact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.formbackground {
	background-color: #FFCC00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 4px;
	color: #333333;
	background-position: left center;
	border: thin none;


}
.graphic {
	cursor: auto;

}
.modules {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-transform: none;
	color: 006699;
	cursor: auto;
	font-variant: normal;

}
.email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #0000FF;
	text-decoration: underline;
}
.quotes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
	font-weight: lighter;
	font-style: normal;

}
.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	background-color: #FFFFFF;
	background-image: url(Images/shadow_textbox.gif);
	height: 21px;
}
.textboxyllw {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	background-color: #FFCC33;
	background-image: url(Images/shadow_textbox_main.gif);
	height: 21px;
}
.copyrightlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	line-height: normal;
	font-variant: normal;
	color: #CCCCCC;


}
.frontpagesuccess {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.google {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 5px;
	font-weight: lighter;
	color: #000066;
	text-decoration: none;
}
