.youarehere {
	FONT: 10px verdana; COLOR: #333333
}
.breadCrumb {
	FONT: 10px verdana; COLOR: #d06802
}
.marketingPromo {
	FONT: bold 11px arial; COLOR: #b23f88
}
.topNav2ndLink {
	FONT: bold 11px verdana; COLOR: #efefef; TEXT-DECORATION: none
}
.topNavBullet {
	FONT: bold 9px arial; COLOR: #cfc9b1
}
.topNavWelcome {
	FONT: 10px verdana; COLOR: #333333
}
.topNavWelcomeLink {
	FONT: 9px arial; COLOR: #d06802
}
.relProdDotted {
	BORDER-RIGHT: #a1a1a1 0px dotted; BORDER-TOP: #a1a1a1 0px dotted; BORDER-LEFT: #a1a1a1 0px dotted; BORDER-BOTTOM: #a1a1a1 2px dotted
}
.locator {
	FONT: 10px verdana; COLOR: #333333
}
.LocatorBold {
	FONT: bold 10px verdana; COLOR: #333333
}
A.main:link {
	FONT-SIZE: 10px; COLOR: #996600; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.main:visited {
	FONT-SIZE: 10px; COLOR: #996600; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.main:hover {
	FONT-SIZE: 10px; COLOR: #996600; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.main {
	FONT-SIZE: 10px; COLOR: #996600; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.dropdown {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.find {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #1f5393; FONT-FAMILY: Verdana
}
.findItForm {
	FONT: 8pt arial
}
.gobutton {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.rtColNewsBg {
	BACKGROUND-COLOR: #ffffff
}
.inThisIsu {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #73bdf2; FONT-FAMILY: Verdana
}
.pad20left {
	PADDING-LEFT: 20pt
}
.pad10left {
	PADDING-LEFT: 10pt
}
.pad7left {
	PADDING-LEFT: 7pt
}
.pad7All {
	PADDING-RIGHT: 7pt; PADDING-LEFT: 7pt; PADDING-BOTTOM: 7pt; PADDING-TOP: 7pt
}
.lineDivider {
	BACKGROUND-COLOR: #9abbe2
}
.horiz185BluDivider {
	BORDER-RIGHT: #9abbe2 0pt solid; BORDER-TOP: #9abbe2 1pt solid; BORDER-LEFT: #9abbe2 0pt solid; WIDTH: 185px; BORDER-BOTTOM: #9abbe2 0pt solid
}
.horiz220PinkDivider {
	BORDER-RIGHT: #ce1182 0pt solid; BORDER-TOP: #ce1182 1pt solid; BORDER-LEFT: #ce1182 0pt solid; WIDTH: 220px; BORDER-BOTTOM: #ce1182 0pt solid
}
.mostRecArt {
	FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: Arial
}
.expNavLink {
	FONT-SIZE: 10px; COLOR: #e64990; FONT-FAMILY: Verdana
}
.expTitleHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #366ca9; FONT-FAMILY: Arial
}
.moreFromCol {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #707070; FONT-FAMILY: Verdana
}
.dateStamp {
	FONT: 10px verdana; COLOR: #666666
}
.aboutExp {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #de8c21; FONT-FAMILY: Arial
}
.askExpBg {
	BACKGROUND-COLOR: #fefae0
}
.artCredits {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: Arial
}
.artCaption {
	FONT-SIZE: 10px; COLOR: #939c82; LINE-HEIGHT: 12px; FONT-FAMILY: Arial
}
.artSubHdr {
	FONT-SIZE: 13pt; COLOR: #666666; FONT-FAMILY: Arial
}
.artPg2PromoHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #d19400; FONT-FAMILY: Arial
}
.artPg2SubHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #366ca9; FONT-FAMILY: Arial
}
.artPromoHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #366ca9; LINE-HEIGHT: 17pt; FONT-FAMILY: Arial
}
.mainPromoText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana
}
.mainCommText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana
}
.mainCommHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #314a29; FONT-FAMILY: Verdana
}
.mainFromRed {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana
}
A:hover {
	TEXT-DECORATION: underline
}
.commViewLinks {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.bullet1 {
	FONT-SIZE: 10pt; COLOR: #f79e0a; FONT-FAMILY: Verdana
}
.morelink1 {
	PADDING-LEFT: 270px; FONT: 10px verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.header1 {
	FONT-WEIGHT: normal; FONT-SIZE: 16pt; COLOR: #999999; FONT-FAMILY: Arial
}
.header2 {
	FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: Arial
}
.link1 {
	FONT-SIZE: 9pt; COLOR: #ff3366; FONT-FAMILY: Verdana
}
.expRecentTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #de8c21; FONT-FAMILY: Arial
}
.recipeText {
	FONT-SIZE: 10px; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana
}
.recipeTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; COLOR: #996633; FONT-FAMILY: Times
}
.recipePhotoCred {
	FONT-SIZE: 10px; COLOR: #a4afbd; FONT-FAMILY: Verdana
}
.recipeResults {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #996633; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana
}
.recipeDrop {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.recipeLinks {
	FONT-SIZE: 10px; COLOR: #b16692; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana
}
.recipeText1 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana
}
.pad3All {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; PADDING-BOTTOM: 3pt; PADDING-TOP: 3pt
}
.spacer10hi {
	MARGIN-TOP: 10px
}
.spacer5hi {
	MARGIN-TOP: 5px
}
.spacer15hi {
	MARGIN-TOP: 15px
}
.mainTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #e6b039; FONT-FAMILY: verdana
}
A.mainTitle:link {
	COLOR: #e6b039; TEXT-DECORATION: none
}
A.mainTitle:visited {
	COLOR: #e6b039; TEXT-DECORATION: none
}
A.mainTitle:hover {
	COLOR: #e08943; TEXT-DECORATION: underline
}
.subTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; COLOR: #e08943; FONT-FAMILY: verdana
}
A.subTitle:link {
	COLOR: #e08943; TEXT-DECORATION: none
}
A.subTitle:visited {
	COLOR: #e08943; TEXT-DECORATION: none
}
