.fonts {
	font-family: Tahoma;
}
body {
	font-family: Tahoma;
}
a:link {
	font-family: Tahoma;
	color: #000066;
	text-decoration: none;
}
a:visited {
	font-family: Tahoma;
	color: #000066;
	text-decoration: none;
}
a:hover {
	font-family: Tahoma;
	color: #000066;
	text-decoration: underline;
}
a:active {
	font-family: Tahoma;
	color: #000066;
	text-decoration: none;
}
