<STYLE TYPE="text/css">
<!--
@media screen {
body {
	background-color: #DEE3E7;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
font, th, td, p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link, a:active, a:visited { color : #006699; text-decoration: underline; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}
/* The content of the posts (body of text) */
.bodyline	{ background-color: #FFFFFF; border: 1px #98AAB1 solid;  padding: 10px; border-spacing: 0px;}
.postbody { font-size : 12px; line-height: 15px; border: 1px solid;}
.maintitle	{font-weight: bold; font-size: 22px; font-family: "T_FONTFACE2";}
.gen { font-size : 12px;}
.forumline	{ background-color: #FFFFFF; border: 1px #006699 solid; padding: 3px; border-spacing: 0px;}
.header1	{ color: #FF0000; font-size: 24px; font-familY: "T_FONTFACE2"; line-height: normal}
.header2	{ color: #FF0000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header3	{ color: #000000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header4	{ color: #000000; font-size: 14px; font-familY: "T_FONTFACE2"; font-weight: bold;  line-height: normal}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px}
.hide {}
}
@media print {
body {
	background-color: #DEE3E7;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
font, th, td, p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link, a:active, a:visited { color : #006699; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}
/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 15px}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}
.maintitle	{font-weight: bold; font-size: 22px; font-family: "T_FONTFACE2";}
.gen { font-size : 12px;}
.forumline	{ background-color: #FFFFFF; border: 0px #006699 solid; padding: 0px; border-spacing: 0px;}
.bodyline	{ background-color: #FFFFFF; border: 0px #98AAB1 solid; padding: 0px; border-spacing: 0px;}

.header1	{ color: #FF0000; font-size: 24px; font-familY: "T_FONTFACE2"; line-height: normal}
.header2	{ color: #FF0000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header3	{ color: #000000; font-size: 18px; font-familY: "T_FONTFACE2"; line-height: normal}
.header4	{ color: #000000; font-size: 14px; font-familY: "T_FONTFACE2"; font-weight: bold; line-height: normal}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px}
.hide { display:none; }
}
--></STYLE>