/* BEGIN GLOBAL NAV STYLES*/
a.gnav_menu {
	background-color:#FFFFFF;
	color: black;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:12px;
	text-decoration: none;
	width: 100%;
}
a.gnav_menu:hover {
	background-color:#DDDDDD;
	text-decoration: none;
}
/* END GLOBAL NAV STYLES*/
.link {  font-family: Arial, Helvetica, Verdana; font-size: 10pt; font-style: normal; color:#FFFFFF; padding:5px;}
a.link a { font-family: Arial, Helvetica, Verdana; font-size: 10pt; color:#FFFFFF; text-decoration:underline;} 
a.link:hover { font-family: Arial, Helvetica, Verdana; font-size: 10pt; color:#B64606; text-decoration:none;}

.link2 {  font-family: Arial, Helvetica, Verdana; font-size: 14pt; font-style: normal; color:#FFFFFF; padding:5px;} 
a.link2  { font-family: Arial, Helvetica, Verdana; font-size: 14pt; color:#FFFFFF; text-decoration:underline;} 
a.link2:hover  { font-family: Arial, Helvetica, Verdana; font-size: 14pt; color:#B64606; text-decoration:none;}

.legal {font-family: Arial, Helvetica, Verdana; font-size: 8pt; font-style: normal; color:#B64606;}