.btnheader {  
font-family: Verdana, Tahoma;
color: #0C0F4C; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.header {  
font-family: Verdana, Tahoma;
color: #FF9900; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.headerblue {  
font-family: Verdana, Tahoma;
color: #7E8AFF; 
font-size: 11px; 
font-weight: bold;
line-height: 9pt
}
.bigheader {  
font-family: Verdana, Tahoma;
color: #0C0F4C; 
font-size: 14px; 
font-weight: bold;
line-height: 12pt
}

.btntext {  
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
TD {  
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
SELECT, INPUT, TEXTAREA {
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
.text {  
font-family: Verdana, Tahoma;
color: #000000; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}
.textwhite {  
font-family: Verdana, Tahoma;
color: #FFFFFF; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt
}

A:link {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
A:visited {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
A:hover {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
.btnlink {
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
text-decoration: none
}
.btnlink:hover {
font-family: Verdana, Tahoma;
color: #333333; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
body {
scrollbar-base-color:#F1E4D5;
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
line-height: 9pt;
marginwidth: 0;
marginheight: 0;
leftmargin: 0;
topmargin: 0;
}
.forumlink:link {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.forumlink:visited {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: none
}
.forumlink:hover {
font-family: Verdana, Tahoma;
color: #DDDDDD; 
font-size: 11px; 
font-weight: normal;
font-family: Verdana, Tahoma;
text-decoration: underline
}
