body, td, div, p {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: white;
	font-size: 11px;
}
a {
	color: #EDC15A;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* BEGIN GLOBAL NAV STYLES */
td.gn2_text { 
	border:0px; 
	color:white;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size:12px; 
	margin:0px; 
	padding-left:3px;  
}

.gn2_dropMenu { 
	border: 0px solid #9A999E; 
	filter: alpha(opacity=100, finishopacity=85, style=1, startX=20, endX=100, startY=20, endY=100);
	left: 500px; 
	margin: 0px;
	padding: 0px;  
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 202px; 
	z-index:100;
}		

a.gn2_dropItem {
	background-color:#30303C;
	color: #FFFFFF;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}

a.gn2_dropItem:hover { 
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;  
	filter: blur(add=1, strength=0);
}

a.gn2_separator {
	background-color:#30303C;
	color: #FFFFFF;
	cursor: default;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	width: 200px;
}

a.gn2_hover { }

.gn2_flyout { 
	left: 100px; 
	position: absolute; 
	top: 27px; 
	visibility: hidden; 
	width: 150px; 
	z-index:101;
}
/* END GLOBAL NAV STYLES*/

/* BEGIN FOOTER STYLES */
.legal {
	font-size: 10px;
	color: #533E21;
	padding: 20px 62px 20px 42px;
}

.ToS {
	color: #290C0C;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

.ToS div {
	color: #290C0C;
}

.ToS:hover {
	color: red;
	text-decoration: underline;
}
/* END FOOTER STYLES */