A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: white; 
}
A:visited { 
  color: white;
}
A:active {
  color: white;
}
A:HOVER { 
  color: #00ff00; 
  background-color: #000000;
}
.onbody{
  color: #EEEEEE; 
}
.onbody A:LINK {
  color: orange;
}
.onbody A:VISITED {
  color: green;
}
.onbody A:ACTIVE {
  color: white;
}
BODY,P,TABLE,TD,TR {   
  font-size:   10pt;
  font-family: verdana,arial,sans-serif;
  color: #CCCCCC;
}
BODY {
  background: black;
}
PRE {
  font-size:   9pt;
  font-family: courier;
}
.tableborders {
  background: #000000;
}
.tdheader {
  font-size:   11pt;
  font-weight: bold;
  color:       white;
  background:  #253040;
  font-family: arial;
}
.menubar{
  background: black;
  color: yellow;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: 8pt;
  color:     yellow;
}
.catandforum {
  font-size: 8pt;
}
.posttime {
  font-size: 8pt;
  font-style: oblique;
  text-align: center;
  background: #333333;
}
.threadtotal {
  font-size: 8pt;
  background: #333333;
}
.posttotal {
  font-size: 8pt;
  background: #333333;
  color: #CCCCCC;
}
.small {
  font-size:   8pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: white;
}
.welcome {
  background: black;
  font-family: Times new roman;
  color: white;
}
.forumtitle {
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: #333333;
  color: white;
}
.darktable {
  background: #333333;
  color: white;
}
.cleartable {
  background: #253040;
}
.alternatetable {
  background: #000000;
}
.subjecttable {
  background: #253040;
  color: white;
}
.footertable {
  background: #253040;
}                          
.formboxes{
  font-family: geneva, arial, sans-serif;
  background-color: white;
  color: black;
  font-size: 8pt;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  background-color: #253040;
  color: white;
  font-size: 8pt;
}
