<!--
body {
  font-size: small;
  backgrorund: #f3f3f3;
  font-family:Verdana;
  color: #666666;
}
th {
  font-size: small;
  background: #ccccff;
  color: #6666ff;
  border-right-color:#6666ff;
  border-bottom-color:#6666ff;
  border-right-style:solid;
  border-bottom-style:solid;
  border-right-width:thin;
  border-bottom-width:thin;
  padding-left:4px;
}
td {
  font-size: small;
  color: #333366;
  border-right-color:#9999cc;
  border-bottom-color:#9999cc;
  border-bottom-style:dotted;
  border-right-style:dotted;
  border-bottom-width:thin;
  border-right-width:thin;
  padding-left:4px;
}
a:link {  color: #0000cc; }
a:visited {  color: #6666ff; text-decoration: none}
a:active {  color: #ff0000; text-decoration: none}
a:hover {  text-decoration: underline}

.copy {
  font-size: xx-small;
  background: #ccccff;
  color: #6666ff;
  border-right-color:#6666ff;
  border-bottom-color:#6666ff;
  border-right-style:solid;
  border-bottom-style:solid;
  border-right-width:thin;
  border-bottom-width:thin;
  padding-left:4px;
 text-align: right;
}

.info {
  font-size: smaller;
}

h1 {
 font-size: large;
  background: #ccccff;
  color: #6666ff;
  border-right-color:#6666ff;
  border-bottom-color:#6666ff;
  border-right-style:solid;
  border-bottom-style:solid;
  border-right-width:thin;
  border-bottom-width:thin;
  padding-left:4px;
}
-->
