body{ font-family: Verdana; font-size: 13px; color: #CCCCCC;scrollbar-face-color: #343434;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #343434;
	scrollbar-3dlight-color: #2C2C2C;
	scrollbar-arrow-color:  ##2C2C2C;
	scrollbar-track-color: #343434;
	scrollbar-darkshadow-color: #000000;; background-attachment: fixed}
	
form{display:inline}

table{ font-family: Verdana; font-size: 11px; color: #CCCCCC; }
a:link{ color: #CCCCCC; text-decoration: none; font-size: 13px; }
a:active{ color: #CCCCCC; text-decoration: none; font-size: 13px; }
a:visited{ color: #CCCCCC; text-decoration: none; font-size: 13px; }
a:hover{ color: #CC0000; text-decoration: none; font-size: 13px; }
a:pn-title{ color: #FFFFFF; text-decoration: none; font-size: 13px; }
.pn-title{ font-weight: bold; font-size: 11px; color: #000000}
FORM{FONT-SIZE: 11px; FONT-FAMILY: Verdana}
.whitetext{ font-family: Verdana; font-size: 13px; color: #FFFFFF;}
.footer{ font-family: Verdana; font-size: 10px; color: #FFFFFF;}
.newsblock{ font-family: Verdana; font-size: 10px; color: #FFFFFF;}
.welcomeblock {  padding-left: 65px}

.pn-logo { font-weight: bold; font-size: 11px; color: #000000} .pn-pagetitle	 { font-weight: bold; font-size: 11px; color: #000000} .leftindent {  padding-left: 5px}
.searchbox {  padding-bottom: 10px}
.summarytitle {  padding-bottom: 5px}
.centertitle {  padding-top: 5px}
