body {
background-color : #ffffff; 
color : #000000; 
} 
.quote {
border : 1px solid #505050; 
background-color : #ffffff; 
width : 85%; 
margin : 2px; 
padding : 5px; 
color : #505050; 
font : 11px Verdana; 
} 
pre {
font : 11px "Courier New", monospace; 
} 
td {
font : 11px verdana; 
} 
.c2 {
font : 11px Verdana; 
} 
.head {
font : bold 15px Verdana; 
} 
.titlehead {
font : bold 15px Verdana; 
line-height : 180%; 
} 
.info {
font : 11px Verdana; 
} 
.msg {
font : 13px Verdana; 
} 
.subhead {
font : bold 13px Verdana; 
} 
.time {
font : bold 11px Verdana; 
} 
.ultrasmall {
font : 10px Verdana; 
} 
