<!--
.AsciiOnly {  font-family: "Comic Sans MS"; font-size: 12px}
.JP {  font-size: 12px}
.Info {  font-family: "Comic Sans MS"; font-size: 12px}
body {  font-size: 12px; color: #666666}
td {  font-size: 12px; color: #666666}
td.toAscii {  font-size: 12px; font-family: "Comic Sans MS"; color: #666666}
a:link {  color: #6666FF; text-decoration: none}
a:visited {  color: #9999FF; text-decoration: none}
a:active {  color: #CCCCFF; text-decoration: none}
a:hover {  color: #0000FF; text-decoration: none}
table { font-size: 12px ; color: #666666}
th {  font-size: 12px}
-->
