

.dropmenu {
   position: absolute;
   left: -1500px;
   visibility: visible;
   z-index: 101;
   float: left;
   width: 132px;

   border-width: 0px;
   border-style: solid;
   border-color: #000000;	
   background-color: #BFBFBF;
}
.dropmenu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.dropmenu li {
   display: inline;
}
.dropmenu a, .dropmenu a:visited, .dropmenu a:active {
   display: block;
   width: 130px;

   padding: 2px;
   margin: 1px;
   font-family: Verdana;
   font-size: 11px;
   font-weight: normal;
   text-align: center;
   text-decoration: none;

   color: #558CFF;
   background-color: #000000;
}
.dropmenu a:hover {
   padding: 2px;
   margin: 1px;
   font-family: Verdana;
   font-size: 11px;
   font-weight: normal;
   text-align: center;
   text-decoration: none;

   color: #FFFFFF;
   background-color: #000000;
}
