.smallpoint {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; font-variant: normal; color: #000066; text-transform: none}
.links {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #003399;
	list-style-type: disc;
	font-variant: normal;
	text-transform: capitalize;
	font-weight: bold;
	text-decoration: none;



}
.spellltext {
	font-family: Tahoma;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
	text-transform: none;
}
.spellbold {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000066;
	text-transform: capitalize;
}
.boldtitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #000066;
	clip:    rect(   );
	text-transform: capitalize;

}
.linedtext {font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #000066; text-decoration: underline overline}
.menutext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
	background-color: #E1F0FF;
	font-weight: bold;
}
