/*
  subBlack3d 1.0.0 Theme for phpBB version 2+
  Created by Wira_cg
  http://www.wwd.tk
*/

body {  background-image: url(images/bg.gif);
	background-color: #333333;
	scrollbar-face-color: #3f3f3f;
	scrollbar-highlight-color: #6666666;
	scrollbar-shadow-color: #111111;
	scrollbar-3dlight-color: #777777;
	scrollbar-arrow-color:  #777777;
	scrollbar-track-color: #333333;
	scrollbar-darkshadow-color: #111111;
}

font,td,th,p { font-family: Verdana, Arial, Helvetica, sans-serif; color : #888888; font-size: 10px }
a:link,a:active,a:visited { color : #888888; font-size: 10px }
a:hover		{ text-decoration: none; color : #DDDDDD; font-size: 10px }
a:visited		{ text-decoration: none; color : #DDDDDD; font-size: 10px }
hr	{ height: 1px; border: solid #888888 1px; border-top-width: 1px;}
.bodyline	{ background-color: #4a4a4a; 
              border-bottom: #000000 2px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #888888 0px solid;
}
.postline	{ background-color: #545454; 
              border-bottom: #000000 2px groove; border-left: #888888 1px solid; border-right: #000000 2px solid; border-top: #888888 2px groove;
}
.forumline	{ background-color: #4a4a4a; border-bottom: #3a3a3a 1px groove;   }

.menuline	{ background-color: #4a4a4a; 
              border-bottom: #000000 0px ; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #888888 1px groove;
}
.forumln	{ background-color: #4a4a4a;
              border: #222222 solid 1px;}
td.rowl	{ background-color: #4a4a4a; border: #3a3a3a 1px solid }
td.row1	{ background-color: #4a4a4a; border: #3a3a3a 1px solid }
td.row2	{ background-color: #4f4f4f; border: #3a3a3a 1px solid }
td.row3	{ background-color: #4a4a4a; border: #3a3a3a 1px solid }
td.row3Right { background-color: #4a4a4a;
              border-bottom: #3a3a3a 0px solid; border-left: #3a3a3a 1px solid; border-right: #3a3a3a 0px solid; border-top: #3a3a3a 1px solid
 }
td.spaceRow  { border-width: 0px 0px 0px 0px; background-image: url(images/ln.gif); }

td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

th	{
	font-size: 9px;
	background-color: #4a4a4a; height: 20px;
}

td.catBottom { background-color:#707070; height: 16px; }         
td.cat,td.catHead,td.catLeft,td.catRight {
			background-image: url(images/cellpic1.gif);
			background-color:#3f3f3f; 
                  height: 20px;
}
td.tab {
	border-bottom: #000000 2px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #111111 2px groove
}
td.tabpost {
	border-bottom: #000000 1px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #111111 2px groove
}
td.td3d {
	border-bottom: #000000 2px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #888888 2px groove;
}
td.tdframe {
	border-bottom: #777777 1px inset; border-left: #2a2a2a 1px inset; border-right: #777777 1px inset; border-top: #333333 1px inset
}
td.frame2 {
	border-bottom: #888888 2px groove; border-left: #2a2a2a 2px groove; border-right: #888888 2px groove; border-top: #888888 2px groove; background-image: url(images/dots2.gif)
}
td.tabpoll {
	border-bottom: #000000 0px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #111111 2px groove
}
td.auth {
	border-bottom: #000000 1px solid; border-left: #777777 1px solid; border-right: #000000 1px solid; border-top: #777777 1px solid;
}
td.auth2 {
	border-bottom: #555555 2px groove; border-left: #1a1a1a 2px groove; border-right: #555555 2px groove; border-top: #000000 2px groove;
}
td.cat,td.catHead,td.catBottom {
	
	border-bottom: #000000 2px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #8f8f8f 2px groove;
}
td.catLeft  {
	border-bottom: #000000 2px groove; border-left: #888888 2px groove; border-right: #000000 2px groove; border-top: #888888 2px groove;
}
td.catSides {
	border-bottom: #777777 1px inset; border-left: #2a2a2a 1px inset; border-right: #777777 1px inset; border-top: #333333 1px inset
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerR, th.thCornerL {
	height: 18px;
	border-bottom: #3a3a3a 0px solid; border-left: #3a3a3a 1px solid; border-right: #3a3a3a 0px solid; border-top: #3a3a3a 0px solid;
}

td.catHead   { font-size: 12px;}
th.thSides,td.catSides,td.spaceRow	 { border-width: 2px 2px 2px 2px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft    { border-width: 2px 2px 2px 2px; }
th.thTop	 { border-width: 1px 1px 1px 1px; }
th.thCornerL { border-width: 1px 1px 1px 1px; }
th.thCornerR { border-width: 1px 1px 1px 1px; }
th.thHead    { background-color:#3a3a3a; background-image: url(images/bdt.gif);
	         border-bottom: #777777 1px inset; border-left: #2a2a2a 1px inset; border-right: #777777 1px inset; border-top: #333333 1px inset;
} 
.ftitle  { border: 1px solid; border-bottom: #3a3a3a 1px solid; border-left: #3a3a3a 2px solid; border-right: #3a3a3a 2px solid; border-top: #3a3a3a 1px solid;
}

.maintitle,h1,h2	{
			font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 100%; color : #000000;
}

.gen { font-size : 11px; color: #AAAAAA; }
.genmed { font-size : 10px; color: #CCCCCC; }
.genmd { font-size : 9px;}
.gensmall { font-size : 9px;}
.gensmalls { font-size : 9px; color: #DDDDDD; }
.genicon { font-size : 9px; font-weight: bold; color: #EEEEEE; }
.gen,.genmed,.gensmall { color : #C6B78E; }
.genmd { color : #AAAAAA; }
.genlev { font-size : 9px; color: #C6B78E; }
.gensr { font-family: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; color: #999999;}
a.gen,a.genmed,a.gensmall,a.gensr { color: #BBBBBB; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover,a.gensr:hover { color: #EEEEEE; text-decoration: none; }
.mainmenu		{ color : #B8B6B6; font-size : 9px; }
a.mainmenu		{ text-decoration: none; color : #B8B6B6; font-size : 9px; }
a.mainmenu:hover  { text-decoration: none; color : #EEEEEE; font-size : 9px; }
a.mainmenu:visited{ text-decoration: none; color : #B8B6B6; font-size : 9px; }

.cattitle		{ font-weight: bold; font-size: 11px ; color : #FBC300}
a.cattitle		{ text-decoration: none; color : #FBC300; font-size: 11px ; }
a.cattitle:hover  { text-decoration: none; color : silver;  font-size: 11px ; }
.mcattitle		{ font-weight: bold; font-size: 10px ; color : #FBC300}
a.mcattitle		{ text-decoration: none; color : #FBC300; font-size: 10px ; }
a.mcattitle:visited { text-decoration: none; color : #FBC300; font-size: 10px ; }
a.mcattitle:hover { text-decoration: none; color : silver;  font-size: 10px ; }
.mforumlink		{ font-weight: bold; font-size: 13px; color : #DDDDDD; }
a.mforumlink 	{ text-decoration: none; color : #DDDDDD; font-size: 13px; }
a.mforumlink:visited { text-decoration: none; color : #DDDDDD; font-size: 13px; }
a.mforumlink:hover{ text-decoration: none; color : #E3B928; font-size: 13px; }
.ptitle           { font-weight: bold; font-size: 11px; color : #FBC300; }
a.ptitle:link     { text-decoration: none; color : #FBC300; font-size: 11px ; }
a.ptitle:visited  { text-decoration: none; color : #FBC300; font-size: 11px ; }
a.ptitle:hover	{ text-decoration: none; color : silver;  font-size: 11px ; }

.forumlink		{ font-weight: bold; font-size: 12px; color : #DDDDDD; }
a.forumlink 	{ text-decoration: none; color : #DDDDDD; }
a.forumlink:hover{ text-decoration: none; color : #E3B928; }

.nav			{ font-weight: bold; font-size: 9px; color : #AAAAAA;}
a.nav			{ text-decoration: none; color : #BBBBBB; }
a.nav:hover		{ text-decoration: none; color : #FBC300; }

.topictitle		   { font-weight: bold; font-size: 11px; color : #DDDDDD; }
a.topictitle:link    { text-decoration: none; color : #DDDDDD; }
a.topictitle:visited { text-decoration: none; color : #DDDDDD; }
a.topictitle:hover   { text-decoration: none; color : #FD9B01; }

.name2	      { font-size : 11px; font-weight : bold; color : #EEEEEE;}
.name		      { font-size : 10px; color : #CCCCCC;}
a.name:link       { font-size : 10px; color : #CCCCCC;}
a.name:visited    { font-size : 10px; color : #CCCCCC;}
a.name:hover      { font-size : 10px; color : #EEEEEE;}

.postdetails		{ font-size : 10px; color : #888888; }

.postbody          { font-size : 12px; color : #C6B78E; }
a.postlink:link	 { text-decoration: none; color : #EEEEEE; }
a.postlink:visited { text-decoration: none; color : #EEEEEE; }
a.postlink:hover   { text-decoration: none; color : #FFC800;}
.sign              { font-size : 9px; color : #000000; }
a.sign:link	       { text-decoration: none; color : #222222; }
a.sign:visited     { text-decoration: none; color : #222222; }
a.sign:hover       { text-decoration: none; color : #888888;}

.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 10px; color: #DDDDDD;
	background-color: #545454; 
	border-bottom: #AAAAAA 1px solid; border-left: #000000 0px solid; border-right: #000000 0px solid; border-top: #AAAAAA 1px solid;
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CCCCCC; line-height: 100%;
	background-color: #545454;
      border-bottom: #999999 1px solid; border-left: #000000 0px solid; border-right: #000000 0px solid; border-top: #999999 1px solid; 
}


/* Copyright and bottom info */
.copyright		{ font-size: 7px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; color: #4d4d4d; letter-spacing: 2px;}
.blank            { font-size: 5px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; color: #4a4a4a; line-height : 20%;} 
a.copyright		{ font-size: 7px; color: #585858; text-decoration: none;}
a.copyright:hover { font-size: 7px; color: #AAAAAA; text-decoration: none;}
a.copyright:visited { font-size: 7px; color: #585858; text-decoration: none;}

/* Form elements */
input,textarea, select {
	BACKGROUND-IMAGE: url(images/bgin.gif); background-color: #575656; border-bottom: #cccccc 1px outset; border-left: #000000 1px outset; border-right: #999999 1px outset; border-top: #000000 4px outset; COLOR: #bbbbbb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #575656;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #3a3a3a;
	color : #DDDDDD;
	font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #3a3a3a;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #3a3a3a;
	font-weight : normal;
}
.helpline { 
      background-color: #555555; border-style: none; 
}

