body {
background: #ccc;
font-family: Times New Roman, Georgia, Minion Web, Palatino, Book Antiqua, Utopia, serif;
 }

#content {
background: #fff;
width: 60%;
margin-top: 5%;
margin-left: 15%;
margin-right: 15%;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-top: 10px;
border: 1px #111 solid;
}

h1 {
font-size: 1.5em;
}

h2 {
font-size: 1.2em;
}

h1, h2 {
font-family: Georgia, Minion Web, Palatino, Book Antiqua, Utopia, Times New Roman, serif;
color: #777;
}

a:hover {
color: #f55;
}

.copyright {
padding-top:30px;
font-size: .8em;
color: #999;
}