/*
Based on the original subSilver Theme for phpBB version by subBlue design  http://www.subBlue.com
*/
body {
color : #000000;
background-color: #000000;
scrollbar-3dlight-color : #cccccc;
scrollbar-arrow-color : #000000;
scrollbar-base-color : #cccccc;
scrollbar-darkshadow-color : #2f4f4f;
scrollbar-face-color : #cccccc;
scrollbar-highlight-color : #cccccc;
scrollbar-shadow-color : #cccccc;
scrollbar-track-color : #ededed; }

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
a:link	{ text-decoration: none; color : #4682b4; }
a:hover		{ text-decoration: none; color : #000000; }
a:visited { text-decoration: none; color : #4682b4; }
hr	{ height: 0px; border: 0px dashed #aaaaaa; border-top-width: 1px;}

.bodyline	{ background-color: #E1EFFB; border: 1px #666666 solid; }
.errorline	{ background-color: #add8e6; border: 1px #666666 solid; }
.forumline	{ background-color: #757575; border: 0px }

td.row1	{ background-color: #f5f5f5; }
td.row2	{ background-color: #ececec; }
td.row3	{ background-color: #dedede; }

td.rowpic { background-color: #C4DDF2; }

th	{ color: #333333; font-size: 11px; font-weight : bold; background-color: #C4DDF2; height: 22px; }

td.cat,td.catHead,td.catBottom,td.catLeft { background-color: #B2CEE6; height: 26px; }

th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR { font-weight: bold; border: #aaaaaa; border-style: solid; height: 22px; }
td.row3Right { background-color: #C4DDF2; border: #aaaaaa; border-style: solid }
td.spaceRow { background-color: #ffffff;  }

th.thHead,td.catHead { font-size: 12px; border-width: 0px 0px 0px 0px;  background-color : #C4DDF2;  }
th.thSides,td.catSides,td.spaceRow,th.thRight,td.catRight,td.row3Right,th.thLeft,td.catLeft,th.thBottom,td.catBottom,th.thTop,th.thCornerL,th.thCornerR { border-width: 0px; }

.maintitle,h1,h2 { font-weight: bold; font-size: 16px; font-family: Arial, Helvetica, sans-serif;
text-decoration: none; line-height : 120%; color : #000000 }
a.maintitle { color: #000000; text-decoration: none; }
a.maintitle:hover { color: #4682b4; text-decoration: none; }
a.maintitle:visited { color: #000000; text-decoration: none; }

.gen { font-size : 11px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }

.mainmenu { font-size : 11px; color : #000000 }
a.mainmenu { text-decoration: none; color : #4682b4;  }
a.mainmenu:hover { text-decoration: none; color : #000000; }

.cattitle { font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #000000; }
a.cattitle { text-decoration: none; color : #000000; }
a.cattitle:hover { text-decoration: none; color : #000000;}
a.cattitle:visited { text-decoration: none; color : #000000;}

.forumlink { font-weight: bold; font-size: 12px; color : #000000; }
a.forumlink { text-decoration: none; color : #4682b4; }
a.forumlink:hover { text-decoration: none; color : #000000; }

.nav { font-weight: bold; font-size: 11px; color : #000000;}
a.nav { text-decoration: none; color : #4682b4; }
a.nav:hover { text-decoration: none; color : #000000; }

.topictitle { font-weight: bold; font-size: 11px; color : #000000 }
a.topictitle:link { text-decoration: none; color : #4682b4 }
a.topictitle:visited { text-decoration: none; color : #5493B4 }
a.topictitle:hover { text-decoration: none; color : #000000; }

.name { font-size : 11px; color : #000000 }
a.name:link { text-decoration: none; color : #4682b4 }
a.name:hover { text-decoration: none; color : #000000 }

.ranktitle { font-size : 10px; color : #0064f4; }

.postdetails { font-size : 10px; color : #000000 }

.postbody { font-size : 11px; line-height: 15px }
a.postlink:link { text-decoration: none; color : #4682b4 }
a.postlink:visited { text-decoration: none; color : #4682b4 }
a.postlink:hover { text-decoration: none; color : #000000; }

.code {
font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
background-color: #ffffff; border: 1px #6bba76; border-style: solid; }

.quote {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
background-color: #ffffff; border: 1px #4682b4; border-style: solid; }

input,textarea, select { color : #000000; font: normal 11px Verdana, Arial, Helvetica, sans-serif; border-color : #000000; }

input.post, textarea.post, select { background-color : #fefefe; }

input { text-indent : 2px; }

input.button { background-color : #bbd2ee; color : #000000; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; border:  1px solid #202020; }

input.mainoption { background-color : #c9e1f3; 	font-weight : bold; }

input.liteoption { background-color : #c9e1f3; font-weight : normal; }

.helpline { background-color: #ececec; border-style: none; }

@import url("formIE.css");
