a			{color:#000000;}
a:visited	{color:#000000;}
a:active	{color:#000000;}
a:hover		{color:#000000;}

.header {color:#721f28;}

body			{ font-family: Arial; font-size: 11px }
input			{ font-family: Arial; font-size: 11px }
td				{ font-family: Arial; font-size: 11px }
textarea		{ font-family: Arial; font-size: 11px }
select			{ font-family: Arial; font-size: 11px }