.mstheme     { separator-image: url(arthsepd.gif); list-image-1: url(artbul1d.gif); 
               list-image-2: url(artbul2d.gif); list-image-3: 
               url(artbul3d.gif); nav-banner-image: url(artbannd.gif); 
               navbutton-horiz-normal: url(artnvhnd.gif); 
               navbutton-horiz-hovered: url(artnvhnd.gif); 
               navbutton-horiz-pushed: url(artnvhsd.gif); 
               navbutton-vert-normal: url(artnvvnd.gif); 
               navbutton-vert-hovered: url(artnvvnd.gif); 
               navbutton-vert-pushed: url(artnvvsd.gif); 
               navbutton-home-normal: url(arthomed.gif); 
               navbutton-home-hovered: url(arthomed.gif); 
               navbutton-home-pushed: url(arthomed.gif); 
               navbutton-next-normal: url(artnextd.gif); 
               navbutton-next-hovered: url(artnextd.gif); 
               navbutton-next-pushed: url(artnextd.gif); 
               navbutton-prev-normal: url(artprevd.gif); 
               navbutton-prev-hovered: url(artprevd.gif); 
               navbutton-prev-pushed: url(artprevd.gif); navbutton-up-normal: 
               url(artupbtd.gif); navbutton-up-hovered: url(artupbtd.gif); 
               navbutton-up-pushed: url(artupbtd.gif) }
.mstheme-bannertxt { font-family: 'Book Antiqua', 'Times New Roman', Times; color: 
               rgb(255, 255, 204); font-size: 6; font-style: normal; 
               font-weight: normal; text-align: center; vertical-align: middle }
.mstheme-horiz-navtxt { font-family: Arial; color: rgb(255, 255, 204); font-size: 2; font-style: 
               normal; font-weight: bold; text-align: center; vertical-align: 
               middle }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(255, 255, 153); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
ul           { list-style-image: url('artbul1d.gif') }
ul ul        { list-style-image: url('artbul2d.gif') }
ul ul ul     { list-style-image: url('artbul3d.gif') }
a:link       { color: rgb(255, 204, 102) }
a:active     { color: rgb(255, 255, 204) }
a:visited    { color: rgb(255, 218, 140) }
body         { background-color: rgb(0, 0, 51); color: rgb(255, 255, 204) }
table        { table-border-color-light: rgb(204, 204, 153); table-border-color-dark: 
               rgb(153, 153, 102) }
h1           { color: rgb(255, 204, 102) }
h2           { color: rgb(107, 142, 35) }
h3           { color: rgb(255, 255, 204) }
h4           { color: rgb(255, 204, 102) }
h5           { color: rgb(255, 153, 51) }
h6           { color: rgb(255, 153, 51) }
button       { background-color: rgb(51, 0, 153); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
.mstheme-text { background-color: rgb(0, 0, 0); color: rgb(11, 0, 0) }
textarea     { color: rgb(11, 0, 0) }
fieldset     { color: rgb(11, 0, 0) }
legend       { color: rgb(51, 0, 153) }
select       { color: rgb(11, 0, 0) }
caption      { color: rgb(51, 0, 153) }
th           { color: rgb(0, 0, 0) }
.mstheme-bannertxt a:link { color: rgb(255, 204, 0) }
.mstheme-bannertxt a:active { color: rgb(102, 255, 0) }
.mstheme-bannertxt a:visited { color: rgb(153, 153, 102) }
.mstheme-bannertxt-g { font-family: Andale Mono; color: rgb(255, 255, 204); font-size: 7; 
               font-style: normal; font-weight: normal; text-align: center; 
               vertical-align: middle }
.mstheme-bannertxt-g a:link { color: rgb(255, 204, 0) }
.mstheme-bannertxt-g a:active { color: rgb(102, 255, 0) }
.mstheme-bannertxt-g a:visited { color: rgb(153, 153, 102) }
.mstheme-bannertxt-s { font-family: Andale Mono; color: rgb(255, 255, 204); font-size: 7; 
               font-style: normal; font-weight: normal; text-align: center; 
               vertical-align: middle }
.mstheme-bannertxt-s a:link { color: rgb(255, 204, 0) }
.mstheme-bannertxt-s a:active { color: rgb(102, 255, 0) }
.mstheme-bannertxt-s a:visited { color: rgb(153, 153, 102) }
.mstheme-horiz-navtxt a:link { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt a:active { color: rgb(102, 255, 0) }
.mstheme-horiz-navtxt a:visited { color: rgb(153, 153, 102) }
.mstheme-horiz-navtxt-g { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-horiz-navtxt-g a:link { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt-g a:active { color: rgb(102, 255, 0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(153, 153, 102) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-horiz-navtxt-gs a:link { color: rgb(255, 204, 0) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(102, 255, 0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxthome a:link { color: rgb(255, 204, 0) }
.mstheme-navtxthome a:active { color: rgb(102, 255, 0) }
.mstheme-navtxthome a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxthome-g { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome-g a:link { color: rgb(255, 204, 0) }
.mstheme-navtxthome-g a:active { color: rgb(102, 255, 0) }
.mstheme-navtxthome-g a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxthome-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxthome-gs a:link { color: rgb(255, 204, 0) }
.mstheme-navtxthome-gs a:active { color: rgb(102, 255, 0) }
.mstheme-navtxthome-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtnext a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtnext a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtnext a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtnext-g { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext-g a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtnext-g a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtnext-g a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtnext-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtnext-gs a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtnext-gs a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtnext-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtprev a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtprev a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtprev a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtprev-g { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev-g a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtprev-g a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtprev-g a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtprev-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtprev-gs a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtprev-gs a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtprev-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtup a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtup a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtup a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtup-g { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup-g a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtup-g a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtup-g a:visited { color: rgb(153, 153, 102) }
.mstheme-navtxtup-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 204); font-size: 1; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-navtxtup-gs a:link { color: rgb(255, 204, 0) }
.mstheme-navtxtup-gs a:active { color: rgb(102, 255, 0) }
.mstheme-navtxtup-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-topbar-font a:link { color: rgb(255, 204, 0) }
.mstheme-topbar-font a:active { color: rgb(102, 255, 0) }
.mstheme-topbar-font a:visited { color: rgb(153, 153, 102) }
.mstheme-topbar-font-g { font-family: Arial, Helvetica; color: rgb(255,255,204); font-size: 8pt }
.mstheme-topbar-font-g a:link { color: rgb(255, 204, 0) }
.mstheme-topbar-font-g a:active { color: rgb(102, 255, 0) }
.mstheme-topbar-font-g a:visited { color: rgb(153, 153, 102) }
.mstheme-vert-navtxt a:link { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt a:active { color: rgb(102, 255, 0) }
.mstheme-vert-navtxt a:visited { color: rgb(153, 153, 102) }
.mstheme-vert-navtxt-g { font-family: Arial, Helvetica; color: rgb(255, 255, 153); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-vert-navtxt-g a:link { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt-g a:active { color: rgb(102, 255, 0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(153, 153, 102) }
.mstheme-vert-navtxt-gs { font-family: Arial, Helvetica; color: rgb(255, 255, 153); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.mstheme-vert-navtxt-gs a:link { color: rgb(255, 204, 0) }
.mstheme-vert-navtxt-gs a:active { color: rgb(102, 255, 0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(153, 153, 102) }
.mstheme-vert-navtxt { font-family: Arial, Helvetica; color: rgb(255, 255, 153); font-size: 2; 
               font-style: normal; font-weight: bold; text-align: center; 
               vertical-align: middle }
.intro       { font-style: italic; font-family: Verdana; font-size: 8pt }
.mstheme     { navbutton-background-color: rgb(51,51,51); top-bar-button: url(artnavgl.gif) }
.mstheme-topbar-font { color: rgb(255,255,204); font-family: Arial, Helvetica; font-size: 8pt }
body         { vertical-align: none; font-style: normal; font-weight: normal; text-align: 
               none; font-size: 10pt; font-family: Verdana }
h1           { font-family: Tahoma; text-align: none; vertical-align: none; font-weight: 
               normal; font-style: normal }
h2           { font-weight: normal; font-family: Tahoma; font-style: normal; vertical-align: 
               none; text-align: none }
h3           { font-style: normal; font-family: Tahoma; text-align: none; vertical-align: 
               none; font-weight: normal }
h4           { font-weight: normal; text-align: none; font-style: normal; font-family: System; 
               vertical-align: none }
h5           { font-size: 10pt; vertical-align: none; font-weight: bold; font-family: Tahoma; 
               margin-top: 0; margin-bottom: 0 }
h6           { text-align: none; font-size: 10pt; vertical-align: none; font-family: Tahoma }
table        { font-weight: normal; font-style: normal; font-family: Verdana; 
               vertical-align: none; margin-top: 0; margin-bottom: 0 }
tbody        { font-size: 10pt }
