body {
  font-family: "MS UI Gothic", "Osaka"; 
	font-size: 13px; 
	color: #555555; 
	background-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-face-color: #ffffff;
	scrollbar-highlight-color: #222222;
	scrollbar-shadow-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-3dlight-color: gray;
	scrollbar-arrow-color: red;
}

div {
	font-family: "MS UI Gothic", "Osaka"; 
	font-size: 13px; color: #555555
}

td {
	font-family: "MS UI Gothic", "Osaka"; 
	font-size: 13px; color: #555555
}

th {
	font-family: "MS UI Gothic", "Osaka"; 
	font-size: 13px; color: #555555
}

a {
	text-decoration:underline;
	color:orange
}
a:hover {
	background-color:#6699cc
}
.left{
    text-align : left;
}
.center{
    text-align : center;
}
.right{
    text-align : right;
}

.title1 {
	background-color:#fcfffc;
	border:1px #8aabcd solid;
	padding:2px;
	width:400
}

.title2 {
	border-left:#6699cc 6px double;
	border-right:#6699cc 6px double;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:0px;
	padding-top:0px;
}

.box1 {
	background-color:#fcfffc;
	border:#88bb99 1px solid;
	padding:5px;
}

.box2 {
	background-color:#FCFFFC;
	border:1px #579BDF solid;
	padding:10px;
}

.box3 {
	background-color:#FFFDFD;
	border:#FAB6CA 1px solid;
	padding:10px;
}
.box2_1{
	background-color:#fcfffc;
	border-top:#579bdf 1px solid;
	border-right:#579bdf 1px solid;
	border-bottom:#579bdf 1px solid;
	border-left:#579bdf 6px solid;
	padding:5px;
	height:36px;
	width:80px;
}

.box2_2{
	background-color:#fcfffc;
	border-top:#579bdf 1px solid;
	border-right:#579bdf 6px solid;
	border-bottom:#579bdf 1px solid;
	border-left:#579bdf 1px none;
	padding:5px;
	height:36px;
	width:320px;
}
.hline{
   	background-color : #8aabcd;
   	height : 2px;
   	font-size : 1pt;
}
.vline{
  	background-color : #8aabcd;
  	width : 1px;
  	font-size : 1pt;
}
.caption {
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.onmenu {
	BACKGROUND-COLOR: #6699cc
}
.outmenu {
	BACKGROUND-COLOR: #ffffff
}
.em {
	FONT-SIZE: 9pt;
	COLOR: #ff6666;
	FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.disem
{
    FONT-SIZE: 9pt;
    COLOR: #a9a9a9;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.me
{
    FONT-SIZE: 9pt;
    COLOR: #335500;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.npc
{
    FONT-SIZE: 9pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.zone
{
		FONT-SIZE: 9pt;
		COLOR: blue;
		FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.item
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.name
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: Tahoma, 'MS UI Gothic', verdana
}
.tbl0-0
{
	COLOR: white;
	BACKGROUND-COLOR: #006633;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl0-1
{
	COLOR: white;
	BACKGROUND-COLOR: #000033;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl0-2
{
	COLOR: white;
	BACKGROUND-COLOR: #003333;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl1-0
{
	COLOR: white;
	BACKGROUND-COLOR: #006666;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl1-1
{
	COLOR: white;
	BACKGROUND-COLOR: #000066;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl1-2
{
	COLOR: white;
	BACKGROUND-COLOR: #003366;
	TEXT-ALIGN: left;
	WIDTH: 120pt
}
.tbl2-0
{
	COLOR: white;
	BACKGROUND-COLOR: #006699;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl2-1
{
	COLOR: white;
	BACKGROUND-COLOR: #000099;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl2-2
{
	COLOR: white;
	BACKGROUND-COLOR: #003399;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-0
{
	COLOR: white;
	BACKGROUND-COLOR: #0066CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-1
{
	COLOR: white;
	BACKGROUND-COLOR: #0033CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl3-2
{
	COLOR: white;
	BACKGROUND-COLOR: #0066CC;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-0
{
	COLOR: white;
	BACKGROUND-COLOR: #0066FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-1
{
	COLOR: white;
	BACKGROUND-COLOR: #0000FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl4-2
{
	COLOR: white;
	BACKGROUND-COLOR: #0033FF;
	TEXT-ALIGN: center;
	WIDTH: 120pt
}
.tbl00
{
	COLOR: white;
	BACKGROUND-COLOR: #006633;
	WIDTH: 120pt
}
.tbl01
{
	COLOR: white;
	BACKGROUND-COLOR: #000033;
	WIDTH: 120pt
}
.tbl02
{
	COLOR: white;
	BACKGROUND-COLOR: #003333;
	WIDTH: 120pt
}
.tbl10
{
	COLOR: white;
	BACKGROUND-COLOR: #006666;
	WIDTH: 120pt
}
.tbl11
{
	COLOR: white;
	BACKGROUND-COLOR: #000066;
	WIDTH: 120pt
}
.tbl12
{
	COLOR: white;
	BACKGROUND-COLOR: #003366;
	WIDTH: 120pt
}
.tbl20
{
	COLOR: white;
	BACKGROUND-COLOR: #006699;
	WIDTH: 120pt
}
.tbl21
{
	COLOR: white;
	BACKGROUND-COLOR: #000099;
	WIDTH: 120pt
}
.tbl22
{
	COLOR: white;
	BACKGROUND-COLOR: #003399;
	WIDTH: 120pt
}
.tbl30
{
	COLOR: white;
	BACKGROUND-COLOR: #0066CC;
	WIDTH: 120pt
}
.tbl31
{
	COLOR: white;
	BACKGROUND-COLOR: #0033CC;
	WIDTH: 120pt
}
.tbl32
{
	COLOR: white;
	BACKGROUND-COLOR: #0066CC;
	WIDTH: 120pt
}
.tbl40
{
	COLOR: white;
	BACKGROUND-COLOR: #0066FF;
	WIDTH: 120pt
}
.tbl41
{
	COLOR: white;
	BACKGROUND-COLOR: #0000FF;
	WIDTH: 120pt
}
.tbl42
{
	COLOR: white;
	BACKGROUND-COLOR: #0033FF;
	WIDTH: 120pt
}
