<!-- /* Style Sheet definitions need to be commented to hide them from incompatible Browsers.*/

BODY {
	background-color: #C4C4C4;
	background-image: url(http://con.xrgaming.net/gfx/cback.jpg);
	color: #000000;
}

A:link{
	text-decoration: none;
}

A:visited{
	text-decoration: none;
}

A:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.MenuItem {
	font-family: "Times New Roman";
	color: #000000;
	font-size: 12pt;
}

.MenuHeading {
	font-family: "Times New Roman";
	color: #000000;
	font-size: 12pt;
	text-decoration: underline;
}

/* End Style Sheet commenting. */  -->