<!--
body {
  color                      : #ffffff; /* F */
  background-color           : #696969; /* wiF */
  scrollbar-face-color       : #272a2f;
  scrollbar-shadow-color     : #1b1e25;
  scrollbar-highlight-color  : #cccccc;
  scrollbar-3dlight-color    : #272a2f;
  scrollbar-darkshadow-color : #1b1e25;
  scrollbar-track-color      : #444444;
  scrollbar-arrow-color      : #ffb903;
}

a:link        {text-decoration: none; color: #ffb903;}
a:visited     {text-decoration: none; color: #ffb903;}
a:hover       {text-decoration: none; color: #dddddd; font-style: normal; text-decoration: underline overline}}

h1 {
  font-size     : 12pt;
  margin-top    : .5em;
  margin-bottom : .5em;
  margin-left   : .2em;
}

h2 {
  font-size     : 10pt;
  margin-top    : .5em;
  margin-bottom : .5em;
  margin-left   : .2em;
}

ul, ol {
  font-size     : 10pt;
  margin-top    : .3em;
  margin-bottom : .3em;
  margin-left   : 2.0em;
}

div.menu {
  background-color : #444444;
  border-color     : #000000;
  border-style     : solid;
  border-width     : 1px;
  margin-bottom    : .0em;
}

img {
  vertical-align: middle;
}

body.MaxHead {
  margin-top    : 5px;
  margin-bottom : 2px;
}

div.MaxHead {
  margin  : 0;
  padding : 0;
}

#MaxHead div#logo {
  text-align : left;
  width      : 50%;
  float      : left
}
#MaxHead div#today {
  text-align : right;
  width      : 50%;
  float      : right;
}
#MaxHead div#yesterday {
  text-align : right;
  width      : 50%;
  float      : right;
}
#MaxHead div#total {
  text-align : right;
  width      : 50%;
  float      : right;
}



td#NewsHead {
  text-align       : left;
  background-color : #272a2f; /* wiF */
  border-color     : #000000;
  border-style     : solid;
  border-width     : 1px;
}
td#NewsPhoto {
  text-align       : center;
  background-color : #272a2f; /* wiF */
  border-color     : #000000;
  border-style     : solid;
  border-width     : 1px;
}
td#NewsLine1 {
  width            : 315px;
  text-align       : right;
  background-color : #40454c; /* wiF */
  border-color     : #000000;
  border-style     : solid;
  border-width     : 1px;
}
td#NewsLine2 {
  width            : 315px;
  text-align       : left;
  background-color : #40454c; /* wiF */
  border-color     : #000000;
  border-style     : solid;
  border-width     : 1px;
}
-->