/* Base class, the rest inherit from this */
BODY, TABLE { font: 12px Verdana; color:#000000 }
a:link, a:visited, a:active  { text-decoration:underline; color:#000033 }
a:hover                      { color:#000099 }

/* Category Headers - Navigation - Misc Stuff */
#category         { font-size:13px; font-weight : bold; color : #FF0033 }
#category a:link, #category a:visited,#category a:active  { text-decoration: none; color : #FF0033 }
#category a:hover { text-decoration: underline }
#nav              { font-size:12px; font-weight : bold;  }
#nav a:link, #nav a:visited,#nav a:active  { text-decoration: underline; color : #000000 }
#redirect         { font-size:13px; font-weight:bold;  }
#highlight        { font-size : 12px; color : #990000 }
#highlight a:link, #highlight a:visited, #highlight a:active { text-decoration: underline; color:#990000 }
#highlight a:hover{ text-decoration: underline }

/* Viewing Topics Stuff */
#signature         { font-size:12px; color:#000000 }
#postdetails       { font-size:12px; }
#postcolor         { font-size:13px; line-height : 150%; }
#membertitle       { font-size:12px; line-height:150%; color:#000000 }
#normalname        { font-size:13px; font-weight : bold; color:#000000; padding-bottom:4px }
#unreg             { font-size:13px; font-weight:bold;  color:#990000 }

/* Titles n' stuff */
#titlelarge          { font-size:13px; font-weight:bold; line-height:150%; color : #000000 }
#titlelarge a:link, #titlelarge a:visited, #titlelarge a:active { color:#000000 }
#titlemedium         { font-size:12px; font-weight:bold; line-height:150%; color:#000000 }
#titlemedium  a:link, #titlemedium  a:visited, #titlemedium  a:active { text-decoration: none; color : #000000 }
#titlemedium a:hover { text-decoration: underline }

/* Menu - Control Panel Stuff */
#controlpanel    { font-size:12px; font-weight:bold; line-height:150% }
#usermenu        { font-size : 14px; line-height:150%; color : #000000 }
#tabs            { border:1px solid #333366; vertical-align:middle; font-size: 13px; }

/* Forum Links - Topic Links */
#linkthru         { font-size:12px; color : #000000 }
#linkthru  a:link, #linkthru  a:visited, #linkthru  a:active   { text-decoration: underline; color : #000000 }
#linkthru a:hover { text-decoration: underline; color : #000000 }

/* Copyright and bottom info */
#copyright        { font-family: Arial; font-size : 11px; text-decoration: none; line-height : 14px; color: #000000; letter-spacing: 3px}

/* Ikon Code */
#CODE   { font-family:Monaco, Courier, Courier New; font-size:13px; color: #000099;  background-color: #FFFFFF; border: thin #000000 solid; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; text-indent: 4pt; width:95%;}
#QUOTE  { font-family:Verdana, Arial; font-size:12px; color: #000000; background-color: #FFFFFF; border: thin #000000 solid; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; text-indent: 4pt; width:95%;}
#ME     { font-family:Verdana, Arial; font-size:14px; color: #CC0000; text-align:center; font-weight: bold; }
.bottom { vertical-align: bottom }
.forminput    { font-size: 10pt; background-color: #CCCCCC; font-family: verdana, helvetica, sans-serif; vertical-align:middle }
.textinput    { font-size: 12pt; font-family: verdana, helvetica, sans-serif;vertical-align:middle }


<html>
<body background="http://www.justice-divine.com/ikonboard/fondparch.gif"alink="#333333" vlink="#333333" link="#333333" topmargin="5" leftmargin="0">
</body></html>
