body{	color:rgb(180,180,180);
	background:rgb(0,0,0) fixed;
	padding:5pt 10pt 5pt 10pt;
	font-size:small;
	line-height:140%;

	scrollbar-face-color:rgb(0,0,0);
	scrollbar-3dlight-color:rgb(0,0,0);
	scrollbar-highlight-color:rgb(80,80,80);
	scrollbar-shadow-color:rgb(30,30,30);
	scrollbar-darkshadow-color:rgb(0,0,0);
	scrollbar-track-color:rgb(0,0,0);
	scrollbar-arrow-color:rgb(255,160,0);
	}

.title{		/* 枠内選択 */
	color:rgb(160,160,160);
	background:rgb(20,20,20);
	font-size:small;
	padding:3pt 0pt 3pt 3pt;
	font-family:ＭＳ Ｐゴシック;
	font-weight:bold;
	border-width:1pt;
	border-color:rgb(180,0,0);
	border-style:solid;
	}

.menu{	/* メインメニュー */
	background:rgb(40,40,40);
	}

.menuscript{	/* メインメニュースクリプト */
	color:rgb(200,200,200);
	background:rgb(40,40,40);
	cursor:hand;
	font-size:small;
	padding:2pt 0pt 2pt 5pt;
	line-height:120%;
	}

.maintitle{	/* メインメニュータイトル */
	color:rgb(255,160,0);
	background:rgb(180,0,0);
	width:100%;
	font-size:medium;
	padding:1pt 0pt 1pt 5pt;
	font-family:Impact;
	}

.diarymenu{	/* 日記メニュー */
	color:rgb(180,180,180);
	background:rgb(40,40,40);
	padding:5pt 5pt 5pt 5pt;
	font-size:medium;
	line-height:130%;
	font-weight:bold;
	}

.contents{	/* 枠内フォント */
	color:rgb(255,160,0);
	background:rgb(180,0,0);
	padding:1pt 0pt 1pt 4pt;
	font-size:14pt;
	line-height:130%;
	font-family:Times New Roman;
	font-weight:bold;
	}

.script{	/* 基本フォント(日記) */
	color:rgb(180,180,180);
	background:rgb(20,20,20);
	font-size:small;
	font-family:ＭＳ Ｐゴシック;
	line-height:150%;
	letter-spacing:0pt;
	border-width:1pt;
	border-color:rgb(180,0,0);
	border-style:solid;
	}

.script2{	/* フォント(日記小文字) */
	color:rgb(160,160,160);
	background:rgb(20,20,20);
	font-size:x-small;
	padding:2pt 2pt 2pt 2pt;
	font-family:ＭＳ Ｐゴシック;
	line-height:140%;
	}

.script3{	/* フォント(Epic表、シリーズ表) */
	color:rgb(160,160,160);
	background:rgb(10,10,10);
	font-size:x-small;
	padding:2pt 2pt 2pt 2pt;
	line-height:120%;
	}

.strength{	/* 強調フォント*/
	color:rgb(255,160,0);
	}

.strength2{	/* 強調フォント2*/
	color:rgb(0,255,0);
	}

.report{	/* レポートタイトル */
	color:rgb(250,0,0);
	font-size:24pt;
	text-align:right;
	font-family:Times New Roman;
	}

.count{		/* カウンター周辺 */
	color:rgb(180,180,180);
	padding:1pt 0pt 1pt 4pt;
	font size:x-small;
	line-height:120%;
	font-family:Georgia;
	}

.orion{		/* ORION */
	color:rgb(255,160,0);
	font-weight:bold;
	font-style:italic;
	font-size:44pt;
	font-family:"Georgia","Times New Roman";
	padding:2pt 5pt 2pt 10pt;
	/* background-image:url(./graph/orion.jpg); */
	/* background-repeat:no-repeat; */
	}

.character{	/* キャラクター基本フォント（小） */
	color:rgb(180,180,180);
	background:rgb(30,30,30);
	font-size:x-small;
	padding:2pt 2pt 2pt 2pt;
	line-height:120%;
	border-width:1pt;
	border-color:rgb(180,0,0);
	border-style:solid;
	}

.itemlist{	/* アイテムリスト */
	color:rgb(200,200,200);
	background:rgb(20,20,20);
	font-size:x-small;
	padding:1pt 1pt 1pt 2pt;
	line-height:120%;
	border-width:1pt;
	border-color:rgb(80,80,80);
	border-style:solid;
	}

.graphic{	/* 日記画像 */
	background:rgb(40,40,40);
	}



.say{		/* 発言 */
	color:rgb(200,200,200);
	font-size:small;
	font-weight:bold;
	padding:2pt 0pt 2pt 10pt;
	}


.bar{
	color:rgb(80,80,80);
	}

a{	
	letter-spacing:0px;
	text-decoration:none;
	}

a:link{		/* リンク */
	color:rgb(240,240,240);
	}

a:visited{	/* 訪問済みリンク */
	color:rgb(160,160,160);
	}

a:active{	/* アクセスリンク */
	color:rgb(255,200,0);
	letter-spacing:0px;
	}

a:hover{
	color:rgb(0,160,255);
	letter-spacing:0px;
	}

