b				{font-weight: bold;}
u				{text-decoration: underline;}
i				{text-style: italic;}

a:hover			{text-decoration: none;}
p				{color: black; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
li				{color: black; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
strong			{font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

.text			{font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.featureslist	{font-size: 16px; line-height: 20px; font-family: Georgia, Times New Roman, Times, serif;}
.featureslist a	{color: white;}
.legal			{font-size: 10px; color: #436530; font-family: Arial, Helvetica, sans-serif;}
.ToS			{color: white;}

/* BEGIN GLOBAL NAV STYLES*/
a.gnav_menu {
	background-color:#FFFFFF;
	color: #6A6A73;
	display: block;
	font-family: Verdana,Arial,Helvetica;
	font-size:11px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	width: 100%;
}
a.gnav_menu:hover {
	background-color:#30303D;
	color: #FFFFFF;
	text-decoration: none;
}
/* END GLOBAL NAV STYLES*/

.boldtextyellowhover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bolder; color: #FFFFFF }
.boldtextyellowhover:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bolder; color: #FFE67B}

/* FOR DEV CHAT */
div.aradiel, div.endel, div.rodvik, div.n0chulus, div.bordeal
			{padding-left: 20px;}
.aradiel	{color: #cfd99c;}
.endel		{color: #ffff00;}
.rodvik		{color: #e1d34c;}
.n0chulus	{color: #e4f255;}
/* END FOR DEV CHAT */