.MenuLevel1 {
	font-size: x-small;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

}
.MenuLevel2 {
	font-size: xx-small;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
.MainText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.RightSide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FFFFFF;
}
.MainAreaTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #660000;
}
.MainAreaLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
}
.MainAreaLastUpdate {
	font-style: italic;
	color: #660000;
}
