<STYLE type="text/css"> 
  <!--
  BODY {
    background-color: #003333;
    color: #FFFFFF}
  A {
    color: #87CEFA}
  A:active
    {
    color: #87CEFA}
  A:visited
    {
    color: #87CEFA}
  A:hover
    {
    color: #90EE90;
    text-decoration:none}
  BLOCKQUOTE {
    color: #E0D0C0}
    
  .CH1 {
    text-align: center;
    font-family: 新細明體;
    font-size: 24pt;
    font-weight: bolder;
    color: #FFCC33}
  .CH2 {
    text-align: center;
    font-family: 新細明體;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF}
  .CTITLE1 {
    font-family: 新細明體;
    font-size: 12pt;
    font-weight: bold;
    color: #003333}
  .CTITLE2 {
    font-family: 新細明體;
    font-size: 11pt;
    font-weight: bold;
    color: #FFFFFF}
  .CTITLE3 {
    font-family: 新細明體;
    font-size: 11pt;
    font-weight: bold;
    color: #C0C0C0}
  .CTITLE4 {
    font-family: 新細明體;
    font-size: 11pt;
    font-weight: bold;
    color: #030034}
  .CTXT {
    font-family: 新細明體;
    font-size: 9pt;
    font-weight: normal;
    color: #C0C0C0}
  .CSTXT {
    font-family: 新細明體;
    font-size: 7pt;
    font-weight: normal;
    color: #C0C0C0}
  .CNTXT {
    font-family: 新細明體;
    font-size: 11pt;
    font-weight: normal;
    color: #C0C0C0}
  .CHTXT {
    font-family: 新細明體;
    font-size: 9pt;
    font-weight: normal;
    color: #FFFFFF}
  .CPTXT {
    font-family: 新細明體;
    font-size: 9pt;
    font-weight: normal;
    color: #030034}
  .CMENU1 {
    font-family: 新細明體;
    font-size: 9pt;
    font-weight: bold;
    color: #C0C0C0}
  .CMENU2 {
    font-family: 新細明體;
    font-size: 8pt;
    font-weight: normal;
    color: #FFCC33}
  .CMENU3 {
    font-family: 新細明體;
    font-size: 9pt;
    font-weight: bold;
    color: #030034}
  .CMENU4 {
    font-family: 新細明體;
    font-size: 10pt;
    font-weight: normal;
    color: #FFFFFF}
  .CMENU5 {
    font-family: 新細明體;
    font-size: 8pt;
    font-weight: lighter;
    color: #FFFFFF}
  .CMENU6 {
    font-family: 新細明體;
    font-size: 7pt;
    font-weight: bold;
    color: #030034}
  .CFT {
    font-family: 新細明體;
    font-size: 7pt;
    font-weight: lighter;
    color: #FFFFFF}
  .CHFT {
    font-family: 新細明體;
    font-size: 7pt;
    font-weight: lighter;
    color: #030034}
  .CCO {
    font-family: 新細明體;
    font-size: 8pt;
    font-weight: lighter;
    color: #C0C0C0}

  .EH1 {
    text-align: center;
    font-family: "Verdana, Arial, Helvetica";
    font-size: 24pt;
    font-weight: bolder;
    color: #FFCC33}
  .EH2 {
    text-align: center;
    font-family: "Verdana, Arial, Helvetica";
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF}
  .ETITLE1 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 12pt;
    font-weight: bold;
    color: #003333}
  .ETITLE2 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 11pt;
    font-weight: bold;
    color: #FFFFFF}
  .ETITLE3 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 11pt;
    font-weight: bold;
    color: #C0C0C0}
  .ETITLE4 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 11pt;
    font-weight: bold;
    color: #030034}
  .ETXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #C0C0C0}
  .ESTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: normal;
    color: #C0C0C0}
  .ENTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 11pt;
    font-weight: normal;
    color: #C0C0C0}
  .EHTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #FFFFFF}
  .EHTXTB {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: normal;
    color: #FFFFFF}
  .ELTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #FFCC33}
  .EBHTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF}
  .ECWTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #FF00FF}
  .EBRTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #FFFF00}
  .ERTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #FFFF00}
  .EPTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #030034}
  .EBTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 10pt;
    font-weight: bold;
    color: #C0C0C0}
  .EYTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #E0D0C0}
  .EYTXTB {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: normal;
    color: #E0D0C0}
  .EREDTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #FF0000}
  .EPUTXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #DF834A}
  .EBITXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: normal;
    color: #F7BD6F}
  .EBBITXT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #F7BD6F}
  .EMENU1 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #C0C0C0}
  .EMENU2 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 8pt;
    font-weight: normal;
    color: #FFCC33}
  .EMENU3 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 9pt;
    font-weight: bold;
    color: #030034}
  .EMENU4 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 10pt;
    font-weight: normal;
    color: #FFFFFF}
  .EMENU5 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 8pt;
    font-weight: lighter;
    color: #FFFFFF}
  .EMENU6 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: bold;
    color: #030034}
  .EMENU7 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: bold;
    color: #030034}
  .EMENU8 {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: normal;
    color: #030034}
  .EMENU8B {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: normal;
    color: #F0F0F0}
  .EFT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: lighter;
    color: #FFFFFF}
  .EHFT {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 7pt;
    font-weight: lighter;
    color: #030034}
  .ECO {
    font-family: "Verdana, Arial, Helvetica";
    font-size: 8pt;
    font-weight: lighter;
    color: #C0C0C0}
  -->
</STYLE>
