BODY { 
	scrollbar-face-color=#000000; 
	scrollbar-shadow-color=#000000; 
	scrollbar-highlight-color=#000000; 
	scrollbar-3dlight-color=#000000; 
	scrollbar-darkshadow-color=#000000; 
	scrollbar-track-color=#000000; 
	scrollbar-arrow-color=#EACE7A;
	background: #000000;
}

TD { 
	background: #FEF9DA;
}

PRE { 
	text-decoration: none; 
	color: #3C3C3C; 
	font-family: Geneva, Verdana, Arial, sans-serif; 
	font-size: 11px; 
	line-height: 11px;
}

A { 
	text-decoration: none; 
	font-weight: bold; 
	color: #DBA911;
}
