BODY {SCROLLBAR-ARROW-COLOR: #BAC7E0; SCROLLBAR-BASE-COLOR: black}
H2 { FONT-WEIGHT: bold; FONT-SIZE: 22pt; FONT-FAMILY:  Arial }
.H2 { FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY:  Arial }
.header { FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY:  Arial }
.header2 { FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY:  Arial; COLOR: white }
.default { font-size: 14px; FONT-FAMILY:  Arial }
.default_10 { font-size: 10pt; FONT-FAMILY:  Arial }
.default_9 { font-size: 9pt; FONT-FAMILY:  Arial }
.default_8 { font-size: 8pt; FONT-FAMILY:  Arial }
.index { font-size: 9pt; FONT-FAMILY:  Arial }
.net { font-size: 13pt; FONT-FAMILY:  Arial }

.small { font-size: 10px; FONT-FAMILY:  Arial }
.small_red { font-size: 10px; FONT-FAMILY:  Arial; COLOR: red }
A:Link { color: blue }
A:Hover  { color: blue; text-decoration: none; }
A:Visited  { color: blue}

.menu_left {
	width : 200;
	height: 20;
	background-color : #000000;
	color: white;
	font-size : 10pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 1px;
	z-index: 1;
	onmouseover : ;
   	onmouseout : ;
}
.menu {
	width : 120;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 1;
	onmouseover : ;
   	onmouseout : ;
}
.menu_small {
	width : 80;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 1;
	onmouseover : ;
   	onmouseout : ;
}
.menu_large {
	width : 160;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 1;
	onmouseover : ;
   	onmouseout : ;
}
.submenu {
	width : 150;
	position : absolute;
	background-color : #000000;
	color: white;
	text-decoration : none;
	font-size : 10pt;
	FONT-FAMILY : arial;
	text-align : left;
	padding : 5px;
	z-index: 1;
}
.submenuLink {
	color: white;
	text-decoration : none;
	FONT-FAMILY : arial;
	width : 100%;
}
.submenuLink:link {
	color: white;
	width : 100%;
	FONT-FAMILY : arial;
	padding : 2px;
	text-decoration : none;
}
.submenuLink:visited {
	color: white;
	width : 100%;
	FONT-FAMILY : arial;
	padding : 2px;
	text-decoration : none;
}
.submenuLink:active {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	FONT-FAMILY : arial;
	text-decoration : none;
}
.submenuLink:hover {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	FONT-FAMILY : arial;
	text-decoration : none;
}