body,td,th {
	color: #FFFFFF;
}
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(img/stone.jpg);
}
.titlebar{
background-image:url(img/titlebar.gif);
height:47px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#DDDDDD;
padding-left:25px;
}
.textbox{
background-image:url(img/box_inner.gif);
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding: 5px 10px 5px 10px;
}
.textbox_large{
background-image:url(img/box_inner_large.gif);
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding: 5px 10px 5px 10px;
}
a{
color:#FFFF00;
}
