		body {
			background : #575D79;
			font-family: arial,helvetica,sans-serif;
			}
		a:link {
			color: #000000; 
			background-color:transparent;
			}
		a:active {
			color: red; 
			background-color:transparent;
			}
		a:visited {
			color: #000000; 
			background-color:transparent;
			}
		a:hover {
			color: red; 
			background-color:transparent;
			text-decoration: none;
			}
		th, td { 
			background: #ffffcc;
			font-family: arial,helvetica,sans-serif;
			}
		td.small {
			background:#ffffcc;
			font-size: 80%;
			}
		td.plain {
			background:#ffff99;
			}
		td.first {
			background : #6699cc;
			font-size: 80%;
			}
		td.second {
			background: #ffe69a;
			font-size: 80%;
			}
		.red {
			color:red;
			background-color:transparent;
			}
		.smaller {
			font-size: 70%;
			background-color: transparent;
			}