.smallpoint {  font-family: Tahoma, Verdana, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666; text-transform: none}
.links {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #387181;
	list-style-type: disc;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 600;
	;
	border-style: none
;
	line-height: normal;
	text-decoration: none;




}
.spellltext {  font-family: Tahoma, Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666}
.spellbold {  font-family: Tahoma, Verdana, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #666666}
.boldtitle {  font-family: Tahoma, Verdana, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; font-variant: small-caps; color: #FFFFCC; clip:    rect(   ); line-height: normal}
.linedtext {  font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #666666; text-decoration: underline overline}
.Updated {  font-family: Tahoma, Verdana, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; font-variant: small-caps; color: #CC9900; text-transform: capitalize}
.menustyle {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
	background-image: url(nbckgrnd.gif);


}
