BODY {
	COLOR: #d7cea4; font-size: 9pt; FONT-FAMILY: Tahoma, Arial
}
TABLE, TD, TR {
	FONT-SIZE: 9pt; FONT-FAMILY: tahoma, arial
}
A {
	COLOR: #FFB019; TEXT-DECORATION: none
}
A:hover {
	COLOR: #F7EEC4; TEXT-DECORATION: none
}
HR {
	COLOR: #ffb019; size: 1
}
.pageheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #d7cea4; FONT-FAMILY: tahoma, arial
}
.pageheaderauthor {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #222222; FONT-FAMILY: tahoma, arial
}
.pageheadersub {
    font-weight: bold; font-size: 12pt; color: #d7cea4; font-family: Tahoma, Arial
}
.fftable {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #0000ff; BORDER-BOTTOM-COLOR: #0000ff; PADDING-BOTTOM: 2px; BORDER-TOP-COLOR: #0000ff; PADDING-TOP: 2px; FONT-FAMILY: tahoma, arial; BORDER-RIGHT-COLOR: #0000ff
}
.hdr {
	FONT-SIZE: 0.95em; COLOR: white; FONT-FAMILY: Arial
}
.main {
	FONT-SIZE: 13px; FONT-FAMILY: arial
}
.menu {
	FONT-SIZE: 11px; COLOR: #d7cea4; FONT-FAMILY: tahoma, arial
}
.menu:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menusub {
	FONT-SIZE: 11px; COLOR: #d4b405; FONT-FAMILY: tahoma, arial
}
.menusub:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menutitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffb019; FONT-STYLE: italic; FONT-FAMILY: arial
}
.newsquote {
	FONT-SIZE: smaller
}
.newstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #d4b405; FONT-FAMILY: arial
}
.newsdate {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #bbbbbb; FONT-STYLE: italic; FONT-FAMILY: arial
}
.newsby {
	FONT-SIZE: 11px; FONT-STYLE: italic; FONT-FAMILY: arial
}
.newsbody {
	FONT-SIZE: 13px; FONT-FAMILY: arial
}
.newsback {
	PADDING-RIGHT: 0.9ex; PADDING-LEFT: 0.9ex; PADDING-BOTTOM: 0.9ex; PADDING-TOP: 0.9ex; BACKGROUND-COLOR: #ffcc66
}
.quote {
	PADDING-RIGHT: 0.5ex; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0.5ex; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #999999; PADDING-BOTTOM: 0.5ex; PADDING-TOP: 0.5ex; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: italic; FONT-FAMILY: Helvetica, arial; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #999999
}
.filetitle {
	PADDING-RIGHT: 0.5ex; PADDING-LEFT: 0.5ex; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.5ex; COLOR: #ffffff; PADDING-TOP: 0.5ex; FONT-FAMILY: Helvetica, arial; BACKGROUND-COLOR: #000080
}
.filesub {
	PADDING-RIGHT: 0.5ex; PADDING-LEFT: 0.5ex; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0.5ex; COLOR: #fff; PADDING-TOP: 0.5ex; FONT-FAMILY: Helvetica, arial; BACKGROUND-COLOR: #ffcc00
}
.filelink {
	FONT-SIZE: 13px; COLOR: #660033; FONT-FAMILY: tahoma, arial
}
.filelink:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.tiny {
	FONT-SIZE: smaller
}
.lite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black
}
.backchoice {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: arial
}
.pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: navy; FONT-FAMILY: arial
}
.pagesub {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: navy; FONT-FAMILY: arial
}
.feat {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma, arial
}
.feattext {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 11px; PADDING-BOTTOM: 0.2em; color: #dddddd; PADDING-TOP: 0.2em; FONT-FAMILY: arial
}
.feattextheader {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 11px; PADDING-BOTTOM: 0.2em; COLOR: #dddddd; PADDING-TOP: 0.2em; FONT-FAMILY: arial
}
.feattextheader:hover {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 11px; PADDING-BOTTOM: 0.2em; COLOR: #FFB019; PADDING-TOP: 0.2em; FONT-FAMILY: arial
}
.featlinkheader {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 11px; PADDING-BOTTOM: 0.2em; COLOR: #ff9933; PADDING-TOP: 0.2em; FONT-FAMILY: arial
}
.feattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: navy; FONT-STYLE: italic; FONT-FAMILY: arial
}
.feattitle2 {
	FONT-SIZE: 12px; COLOR: #DDDDDD; FONT-FAMILY: arial
}
.feattitle3 {
	PADDING-RIGHT: 0.1ex; PADDING-LEFT: 0.1ex; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0.1ex; COLOR: #ff0000; PADDING-TOP: 0.1ex; FONT-STYLE: italic; FONT-FAMILY: arial
}
.review {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; FONT-FAMILY: tahoma, arial
}
.reviewtext {
	FONT-SIZE: 9px; FONT-FAMILY: tahoma, arial
}
.copyright {
	FONT-SIZE: 10px; COLOR: #DDDDDD; FONT-FAMILY: arial; TEXT-ALIGN: center
}
.footer {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 5px; BORDER-TOP: 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 11px arial,sans-serif; BORDER-LEFT: 1px; PADDING-TOP: 5px; BORDER-BOTTOM: 1px;
}
.stickyfont {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #d4b405; FONT-FAMILY: arial
}
