@charset "utf-8";

@import url("base.css");

/*
*
* Designed by eriko.
* http://www.eriko.com/eggs/
*
* HINAGATA
* http://hinagata.biz/
* HINAGATA SKIN STYLESHEET(tulip)
* 2004.09.18
* 
*/

/*
* このスタイルシートはHINAGATAテンプレートセットのスキンスタイルシートです。
* ベーススタイルシートでは配置や細かい調整や各要素の振る舞い方を指定しているのと比べ、
* こちらのスタイルシートではフォント関係や背景色・ボーダーなどのデザイン的プロパティをしていしています。
* デザイン（フォント・フォントサイズ・色・画像配置など）は、デザインスキンスタイルシートで変更できます。
* 特に配置当に不満が無い場合は、ベーススタイルシートの変更をせず、このスタイルシートの変更だけで、
* わかりやすく簡単に自分流にデザインすることができます。マージンとかの指定も可能です（ベースを上書きする感じになります）。
*/


/*ボディ*/
body {
	padding-top: 10px;
	font: normal normal normal 100%/1.5 "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
	 /*文字サイズを変更したい場合は以下のプロパティを変更してください。全体的に変更されます。*/
	font-size: 100%;
	background-image: url("tulip/tulip_bg.gif");
}

body#other-template,
body#individual-entry-archive {
	padding-bottom: 0;
}

/*基本的なリンクスタイル*/
a,
a:link,
a:visited {
	text-decoration: underline;
}

a:active,
a:hover{
	text-decoration: none;
}

a:link,
a:hover {
	color: #FF6699;
}

a:active,
a:visited  {
	color: #FF6699;

}

a img {
	border: none;
	text-decoration: none;
}

/*全体のレイアウト*/
div#container {	
 
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

/*個別アーカイブの全体のレイアウト*/
#other-template div#container,
#individual-entry-archive div#container {
}

/*サイトのタイトル・概要が入るところ*/
div#banner {
	margin: 0 auto 0 auto;
	background-image: url("tulip/tulip_top_img.gif");
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-color: #fff;
	border: 1px solid #666;
	height: 125px;
	text-align: left;
}

/*サイトのタイトル*/
h1 {
	color: #FF6699;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*サイトの概要*/
p.description {
	color: #FF6699;
}

/*メインコンテンツ部分*/
div#content {
padding: 10px ;
}

/*個別アーカイブのメインコンテンツ部分*/
#individual-entry-archive div#content {
}

/*日ごと・エントリーごとの共通スタイル*/
div.day,
div.entry-body {
	font-weight: normal;
}

/*日ごとのブロック*/
div.day {
}

/*エントリごとのブロック*/
div.entry-body {
	background-color: #fff;
	border: 1px solid #666;
}

/*個別アーカイブでの追記*/
div#more {
}

/*サイドバー */
div.sidebar { 
}

/*右にする場合*/
#right-side {
	margin: 0 0 20px 0;
	position: absolute;
	top: 145px;
	right: 10px;
	bottom: auto;
	left: auto;
}

/*左にする場合*/
#left-side {
	margin: 0 0 2px 0;
	position: absolute;
	top: 145px;
	right: auto;
	bottom: auto;
	left: 10px;
}

/*フッタ*/
div#footer {
	text-align: right;

	background-repeat: repeat;
	
}

/*フッタのリンク画像*/
div#footer a img {
	border: none;
}

/*フッタのリンクスタイル*/
div#footer a {
	text-decoration: none;
}

/*UTF-8でのテキストエリア文字化けと、インプットエリアの対策*/
textarea,
input {
	background-color: #F9F9F9;
	font: normal normal normal 100%/1.5 "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, verdana ,arial ,sans-serif;
}

/********************メインコンテンツ********************/

/*個別アーカイブページのエントリーナビゲーション*/
.navigation {
}

/*個別アーカイブページのエントリーナビゲーション内のリスト*/
ul.navigation li {
}

/**********日ごとのブロック**********/
/*日付（個別アーカイブページの日付も含む）*/
h2 {
	color: #FF6699;
	font-size: 100%;
	text-align: left;
	font-weight: bold;
	font-family: verdana, Arial, Helvetica, sans-serif;

}

/*エントリーのタイトル部分にリンクがある場合*/
h2 a,
h2 a:link,
h2 a:visited,
h2 a:active {
	text-decoration: none;
	color: #FF6699;
	font-weight: bold;
}

h2 a:hover {
	text-decoration: underline;
	color: #FF6699;
	font-weight: bold;
}

#other-entries h2  {
	font-size: 80%;
	border: none;
	color: #666;
}

/**********エントリー内のブロック要素**********/
/*エントリーのタイトル*/
div.entry-body h3 {
	background: transparent url("tulip/title_marker.jpg") no-repeat center left;
	padding: 20px 0px 0px 24px;
	border-bottom: 1px dotted #666;
	color: #666;
	font-size: 120%;
	font-weight: normal;
}

/*エントリーのタイトル部分にリンクがある場合*/
div.entry-body h3 a,
div.entry-body h3 a:link,
div.entry-body h3 a:visited,
div.entry-body h3 a:active,
div.entry-body h3 a:hover {
	text-decoration: none;
	color: #666;
}

#other-entries h3  {
	font-size: 110%;
	border: none;
	background: none;
}

/*エントリーのタイトル部分にリンクがある場合*/
#other-entries h3 a,
#other-entries h3 a:link,
#other-entries h3 a:visited,
#other-entries h3 a:active {
	text-decoration: none;
	color: #666;
}

#other-entries h3 a:hover {
	text-decoration: underline;
	color: #666;
}

/*エントリー本文内の小見出しh4*/
div.entry-body h4 {
	border-bottom: 1px dotted #666;
	color: #666;
	font-size: 110%;
	font-weight: normal;

}

/*エントリー本文内の小見出しh4にリンクがある場合*/
div.entry-body h4 a,
div.entry-body h4 a:link,
div.entry-body h4 a:visited,
div.entry-body h4 a:active,
div.entry-body h4 a:hover {
	text-decoration: none;
	color: #666;
}

/*エントリー本文内の小見出しh5*/
div.entry-body h5 {
	border-bottom: 1px dotted #666;
	color: #666;
	font-size: 105%;
	font-weight: normal;

}
	
/*エントリー本文内の小見出しh5にリンクがある場合*/
div.entry-body h5 a,
div.entry-body h5 a:link,
div.entry-body h5 a:visited,
div.entry-body h5 a:active,
div.entry-body h5 a:hover {
	text-decoration: none;
	color: #666;
}

/*エントリー本文内の小見出しh6*/
div.entry-body h6 {
	border-bottom: 1px dotted #666;
	color: #666;
	font-size: 100%;
	font-weight: normal;

}

/*エントリー本文内の小見出しh6にリンクがある場合*/
div.entry-body h6 a,
div.entry-body h6 a:link,
div.entry-body h6 a:visited,
div.entry-body h6 a:active,
div.entry-body h6 a:hover {
	text-decoration: none;
	color: #666;
}

/*エントリーの投稿情報*/
div.entry-body .posted {
	font-size: 85%;

}

/*エントリーの投稿情報内のリスト*/
ul.posted li {
}

/*エントリー本文の段落要素*/
div.entry-body p {
	color: #666;
}

/*エントリーに追記がある場合の『続きを読む』という部分*/
.extended {
	text-align: right;
}

/*個別アーカイブページのエントリーナビゲーション内のリスト*/
ul.extended li {
	list-style-type: none;

}

/*エントリー本文内の引用 blockquote*/
div.entry-body blockquote {
	border: 1px solid #666;
	background: transparent url("tulip/blockquote_bg.gif") repeat scroll top left;
	font-size: 95%;
	color: #666;
}


/*エントリー本文内の引用の中の引用*/
div.entry-body blockquote blockquote {
	font-size: 100%;
}

div.entry-body blockquote ul {
	list-style-position: inside;
	list-style-type: square;

}

/*エントリー本文内の整形済みテキスト*/
div.entry-body pre {
	font-size: 95%;
	border: 1px solid #666;
	background-color: #E5E5E5;
	color: #000;
}

/*エントリー本文内のリスト*/
div.entry-body ol,
div.entry-body ul {
	color: #666;

}

/*エントリー本文内のリスト（子）*/
div.entry-body ol ol,
div.entry-body ul ul {
	color: #666;
}

/*エントリー本文内の定義リスト*/
div.entry-body dl{
	color: #666;

}

/*エントリー本文内の定義リスト定義語*/
div.entry-body dt {
	border-bottom: 1px dotted #666;
	font-weight: normal;
}	

/*エントリー本文内の定義リスト定義の説明*/
div.entry-body dd {
}

/*エントリー本文内の定義リスト定義の説明内の画像*/
div.entry-body dd img {
}

div.entry-body dd pre,
div.entry-body dd ul,
div.entry-body dd ol,
div.entry-body dd blockquote {
}


/*エントリー本文にある定義リスト内の定義リスト*/
div.entry-body dl dl{
	font-size: 95%;
}

#other-entries ul,
#other-entries ol {
	list-style-type: none;
}


/**********エントリー内のインライン要素**********/
/*エントリー内の強調*/
div.entry-body em,
div.entry-body strong {
	text-decoration: none;
	letter-spacing: 0;

}

/*本文内のemによる強調文字色*/
div.entry-body em {
	border-bottom: 1px dotted #666;
}

/*本文内のstrongによる強調文字色*/
div.entry-body strong{
	border-bottom: 2px solid #666;
}

/*本文内の略語、頭文字、定義部（共通スタイル）*/
div.entry-body dfn,
div.entry-body abbr,
div.entry-body acronym {
	border-bottom: 1px dashed #666;
	cursor: help;

}

/*エントリー本文内のプロブラミングコード・キーボード入力・出力サンプル共通スタイル*/
div.entry-body code,
div.entry-body kbd,
div.entry-body samp,
div.entry-body var  {
	font-family: "Osaka－等幅", "ＭＳ Ｐゴシック", "Courier New", monospace;
	white-space: nowrap;

}

/*エントリー本文内にある整形済みテキスト内のプロブラミングコード・キーボード入力・出力サンプル共通スタイル*/
div.entry-body pre code,
div.entry-body pre kbd,
div.entry-body pre samp,
div.entry-body pre var {
	white-space: pre;
}

/*エントリー本文内の引用 q*/
div.entry-body q {
	border: 1px solid #666;
	color: #666;
	background: transparent url("tulip/blockquote_bg.gif") repeat scroll top left;
}

/*エントリー本文内の後から打ち消し*/
div.entry-body del {
	text-decoration: line-through;
	color: #999;

}

/*エントリー本文内の後から挿入*/
div.entry-body ins {
	border: 1px dotted #666;

}

/*テキストフォーマットConvert Line Breaksだと、ins,delの特別な振る舞いは認識せず、
前後に段落要素がつくので無条件インライン要素。だからins,delをブロック要素とする場合は
テキストフォーマットConvert Line Breaksがダメという罠*/
div.entry-body p ins {
	border: none;
	text-decoration: underline;
}

/*エントリー本文内の画像*/
div.entry-body img {
	border: 1px solid #666;
}

/*エントリー本文内の画像*/
div.entry-body a img {
	border: none;
	text-decoration: none;
}


/*エントリー本文内の画像左回り込み*/
div.entry-body img.strike {
	float: left;  
}

.rel {
	clear: left;
}

/********************コメント・トラックバック関連********************/

/*コメント・トラックバックのブロック*/
div.comment-content,
div.trackback-content {
	border: 1px solid #666;
}

div.comment-content p,
div.trackback-content p {
	font-size: 95%;
	color: #666;
}

/*トラックバック送信元のタイトルのリンク*/
div.trackback-content h3 {
	border: none;
	color: #666;
	font-size: 100%;
	background: none;
	padding: 0;
}

div.trackback-content h3 a,
div.trackback-content h3 a:link,
div.trackback-content h3 a:visited,
div.trackback-content h3 a:active,
div.trackback-content h3 a:hover {
	text-decoration: none;
	border: none;
	color: #666;
	font-size: 100%;
}

/*各トラックバックのブロック*/
div.trackback-content div.entry-body,
div.trackback-content #no-trackback {
	border: none;
	color: #666;
}

div.trackback-content div.entry-body p,
div.trackback-content #no-trackback p {
	color: #666;
}

/*各トラックバック投稿者情報*/
div.trackback-content .posted {
	font-size: 90%;
	border-top: 1px solid #666;
	color: 666;
	margin: 0.2em 0 0 10px;
}

/*各コメントのブロック*/
div.comment-content div.entry-body {
	border: 1px solid #666;
}

/*各コメントのブロック*/
div.comment-content #no-comment {
	border: 1px solid #666;
}

/*エントリーの投稿情報*/
div.comment-content .posted {
	font-size: 90%;
	border-top: 1px solid #666;
	text-align: right;
}

/*エントリーの投稿情報内のリスト*/
div.comment-content ul.posted li {
	list-style-type: none;
}

/*コメントの入力フォームのグループ*/
#search-page fieldset,
#individual-entry-archive fieldset,
#other-template fieldset {
	border: 1px solid #666;
	color: #666;
}

/*コメントの入力フォームのグループ名*/
#search-page legend,
#individual-entry-archive legend,
#other-template legend {
	display: none;
}

/*コメント関連ののボタン・チェックボックス・サインイン・アウト*/
.button {
	font-size: 90%;
}

/*コメント関連ののボタン・チェックボックス・サインイン・アウトのリスト*/
ul.button li {
	list-style-type: none;
}

/*TypeKeyへのサインイン・アウトのリスト*/
ul.typekey_button li {
	list-style-type: none;
	text-align: center;
}

div.alert {
	border: 1px solid #666;
	background-color: #fff;
	padding-left: 10px;
}

/*TypeKeyのアラート*/
div.alert p {
	color: #666;
	font-size: 90%;
}


/********************サイドバー関連********************/

/*サイドバーのリンクスタイル*/
div.sidebar dd a:link,
div.sidebar dd a:visited {
	color: #fff;
	text-decoration: underline;

}


div.sidebar dd a:active,
div.sidebar dd a:hover {
	color: #fff;
	text-decoration: none;

}


/*サイドバーの各項目を定義リストで表しています。*/
/*サイドバー各項目*/
div.sidebar dl {
	color: #fff;
	background-color: #FF6699;
	background-image: url("tulip/tulip_sidebar_bottom.gif");
	background-repeat: no-repeat;
	background-position: bottom center;
}

/*サイドバーの項目タイトル*/
div.sidebar dt {
	font-size: 95%;
	font-weight: bold;
	font-family: verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #FF6699;
	background-color: #FF6699;
	background-image: url("tulip/tulip_sidebar_top.gif");
	background-repeat: no-repeat;
	background-position: top center;
}

/*サイドバーの項目のコンテンツ*/
div.sidebar dd {
	font-size: 90%;
}

h4 {
font-size: 90%;
}

/*サイドバーのリストのマーカー*/
div.sidebar ul,
div.sidebar ol {
	list-style-type: none;
}

div.sidebar ul li,
div.sidebar ol li {
}

/*サイドバーの項目のコンテンツのリスト（子）*/
div.sidebar dd ol ol,
div.sidebar dd ul ul {
	font-size: 95%;
}

dl#recent-comments dd ol ol,
dl#recent-comments dd ul ul,
dl#recent-entries dd ol ol,
dl#recent-entries dd ul ul {
}

li.commentator {
	list-style-type: none;
	list-style-position: inside;
}

li.entries {
	list-style-type: none;
	list-style-position: inside;
}

/*検索の入力フォームのグループ*/

div.sidebar dl#searchform {
	color: #fff;
}


div.sidebar fieldset {
	border: none;
}

div.sidebar form.searchform {
	text-align: center;
}

/*検索の入力フォームのグループ名*/
div.sidebar legend {
	display: none;
}

/*クリエイティブコモンズ・Syndicate this site ・MTバージョン・HINAGATAバナー*/
.powered,
div.link-note {
	color: #fff;
	font-size: 90%;
	text-align: center;
	font-family: verdana, Arial, Helvetica, sans-serif;
}
/********************カレンダー関連********************/

/*カレンダーのテーブル*/
dl#calendar table {
	border: none;
	color: #fff;
}

/*年と月*/
dl#calendar caption {
	color: #fff;
	font-size: 90%;
	font-weight: bold;
	font-family: verdana, Arial, Helvetica, sans-serif;
}

dl#calendar tr {
	color: #fff;
}


/*曜日のthと日付のtd*/
dl#calendar th,
dl#calendar td {
	text-align: center;
	font-weight: normal;
	font-size: 90%;	
	color: #fff;
}

dl#calendar td {
	font-family: verdana, Arial, Helvetica, sans-serif;
	color: #fff;
}

/*日曜日の曜日表示*/
dl#calendar th.sunday {
	color: #fff;
}

/*土曜日の曜日表示*/
dl#calendar th.saturday {
	color: #fff;
}

/*平日の曜日表示*/
dl#calendar th.weekday {
	color: #fff;
}

/******************** スタイルシート追加はここから ********************/
/*
*ベーススタイルのことを気にせず好きなように追加してください。
*マージン・パディングなどのプロパティも使ってもかまいません。
*/
div.main-comment {
	margin-bottom: 3px;
	background-color: #fff;
	border: 1px solid #666;
}

div.main-comment .posted {
	border-top: 1px solid #CCC;
	text-align: right;
}