/* Make all body text maroon coloted 12 point Book antiqua wiht 16 point vertical spacing between lines of test and 12 point margins. Use old paper.gif as background
*/

body  {font-size: 14pt;
       font-family: "Book Antiqua";
	   color: 0066cc;
	   background:
	   line-height: 16pt;
	   margin-left: 12pt;
	   margin-right: 12pt;}
	   
	   /* Indent paragraphs */
	   
	   p {margin-left: 24pt;
	      margin-right: 24pt;}
		  
/* Make headings Viking Normal Bold with generous line spacing.
If user doesn't have Viking Normal, Lucida Handwriting
*/

h1 {font: 18pt Viking-Normal, Lucinda Handwriting:
    font-weight: bold;
	line-height: 30pt;}
	
h2 {font: 18pt Viking-Normal, Lucinda Handwriting:
	font-weight: bold;
	line-height: 22pt;}
		
/* Make links blue.  Make links flash blue when acitivated */
a:link {color:#0000FF;}
a:visited {color: #A0B0E0;}
a: active {color:#ff0000;}		
		