body,td { font-family: Arial, Tahoma, Impact, "Times New Roman", "ÇlÇr ñæí©", "ÇlÇr ÉSÉVÉbÉN" ; font-size: 12px; }

.BaseFont { FONT-SIZE: 10pt; COLOR: #CCCCCC; FONT-FAMILY: ÇlÇr ÇoÉSÉVÉbÉN, Verdana, Arial, Impact, Helvetica}
.MTitle {
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	font-weight: bold;
	COLOR: #994444;
	FONT-FAMILY: 'Trebuchet MS', Arial,'ÇlÇr ÇoÉSÉVÉbÉN';
	BORDER-RIGHT: #222222 3px solid;
	BORDER-TOP: #DDDDDD 3px solid;
	BORDER-LEFT: #DDDDDD 3px solid;
	BORDER-BOTTOM: #222222 3px solid;}

.MList {
	FONT-SIZE: 12px;
	TEXT-ALIGN: center;
	COLOR: #221111;
	FONT-FAMILY: Arial,'ÇlÇr ÇoÉSÉVÉbÉN';
	BORDER-RIGHT: #222222 2px solid;
	BORDER-TOP: #DDDDDD 2px solid;
	BORDER-LEFT: #DDDDDD 2px solid;
	BORDER-BOTTOM: #222222 2px solid;}

.MTitle2 {
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	font-weight: bold;
	COLOR: #994444;
	background-color: #A0A0A0;
	FONT-FAMILY: 'Trebuchet MS', Arial,'ÇlÇr ÇoÉSÉVÉbÉN';
}

.MList2 { FONT-SIZE: 12px;
	BORDER: 1px solid;
	TEXT-ALIGN: left;
	FONT-FAMILY: 'Times New Roman', 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	BACKGROUND-COLOR: #bbbbaa}

.RTitle { 
	FONT-SIZE: 12px;
	TEXT-ALIGN: center;
	COLOR: white;
	FONT-FAMILY: Times New Roman, ÇlÇr ÇoÉSÉVÉbÉN, verdana, helvetica;
	BACKGROUND-COLOR: #555555}

.RList { FONT-SIZE: 12px;
	TEXT-ALIGN: center;
	COLOR: white;
	FONT-FAMILY: 'Times New Roman', 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	BACKGROUND-COLOR: #aabbaa}

.C_A{background-color:#99AABB; text-align: center; BORDER: #77AACC 1px solid; white-space: nowrap;}
.C_B{background-color:#669988; text-align: left; BORDER: #77AACC 1px solid;}
.C_C{background-color:#668888; text-align: left; BORDER: #77AACC 1px solid; white-space: nowrap;}
.C_D{background-color:#aaccdd; text-align: center; BORDER: #77AACC 1px solid; white-space: nowrap;}
.C_E{background-color:#aaccdd; text-align: left; BORDER: #77AACC 1px solid;}
.C_F{background-color:#aaccdd; text-align: right; BORDER: #77AACC 1px solid; white-space: nowrap;}
.C_G{
	background-color:#669988;
	FONT-SIZE: 14px;
	text-align: left;
	FONT-FAMILY: 'Times New Roman', 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	BORDER: #77AACC 1px solid;
	white-space: nowrap;}
.D_T{font-family:Arial,"ÇlÇr ÉSÉVÉbÉN"; font-size:12px; background-color:#888888; text-align:left; white-space: nowrap; TEXT-DECORATION:bold}
.D_T2{font-family:Arial,"ÇlÇr ÉSÉVÉbÉN"; font-size:12px; background-color:#777777; text-align:center; white-space: nowrap; TEXT-DECORATION:bold}
.D_S{font-family:Arial,"ÇlÇr ÉSÉVÉbÉN"; font-size:12px; background-color:#333333; text-align:left}
.aa{BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 3px solid}

.SpellTitle {
	FONT-SIZE: 24px;
	TEXT-ALIGN: left;
	font-weight: bold;
	COLOR: #887744;
	FONT-FAMILY: 'Trebuchet MS', Arial,'ÇlÇr ÇoÉSÉVÉbÉN';
	BORDER-TOP: #77aaff 3px solid;
	BORDER-BOTTOM: #77aaff 3px solid;}
.S_A{
	background-color:#888899;
	FONT-SIZE: 12px;
	font-weight: bold;
	text-align: center;
	FONT-FAMILY: Arial, 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	white-space: nowrap;}
.S_B{
	background-color:#aaaaaf;
	FONT-SIZE: 12px;
	text-align: center;
	FONT-FAMILY: Arial, 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	white-space: nowrap;}
.S_C{
	background-color:#aaaaaf;
	FONT-SIZE: 12px;
	text-align: left;
	FONT-FAMILY: Arial, 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
}
.S_D{
	background-color:#888899;
	FONT-SIZE: 12px;
	font-weight: bold;
	text-align: left;
	FONT-FAMILY: Arial, 'ÇlÇr ÇoÉSÉVÉbÉN', verdana, helvetica;
	white-space: nowrap;}
