.smallpoint {  font-family: Tahoma, Verdana, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666; text-transform: none}
.links {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #006666;
	text-decoration: underline overline;
	list-style-type: disc;
	font-variant: normal;
	text-transform: capitalize;
	line-height: normal;
	font-weight: bold;
; border-style: none


}
.regtext {  font-family: Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #666666}
.spellltext {  font-family: Tahoma, Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; font-variant: normal; color: #666666}
.spellbold {  font-family: Tahoma, Verdana, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #666666}
.boldtitle {  font-family: Tahoma, Verdana, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; font-variant: small-caps; color: #FFFFCC; clip:    rect(   ); line-height: normal}
.linedtext {  font-family: Tahoma, Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #666666; text-decoration: underline overline}
