<style type="text/css">
<!-- bgcolor="000000" text="FFFFFF" link="00FF00" vlink="00FF00" alink="00CC00" marginwidth="0" marginheight="0" leftmargin="0" rightmargin="0" topmargin="0"
-->
<!--


table.MenuItem { border-width: 1; border-style: solid; border-color: #58D2FF; background: black; width: 135 }
table.MenuItem a { font-size: 10; margin-left: 5; margin-right: 5; color: white; font-weight: 900; }

table.MenuHead { border-width: 1; border-style: solid; border-color: #58D2FF; background: black; width: 165; margin-top: 5; margin-bottom: 5 }
table.MenuHead td { font-size: 14; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #C0E0FF; }
table.MenuHead a { font-size: 14; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #C0E0FF; }


td.MenuItemSelected { border-width: 0; border-style: solid; border-color: #58D2FF; background: black; width: 135 }
td.MenuItemSelected a { font-size: 10; margin-left: 5; margin-right: 5; color: white; font-weight: 900; color: #00FF00;}

table.MenuHeadSelected { border-width: 1; border-style: solid; border-color: #58D2FF; background: black; width: 165; margin-top: 5; margin-bottom: 5; }
table.MenuHeadSelected td { font-size: 14; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #C0E0FF; }
table.MenuHeadSelected a { font-size: 14; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #00FF00; }

table.hqstd {  border:2px solid; background: url(/images/graph-grid-d.gif); border-color: #00FF00; border-collapse: collapse;} 
table.hqstd td { border:2px solid; border-color: #00FF00; font-size: 12; font-weight: bold ; font-family: sans-serif; margin-left: 4; color: #C0E0FF; }
table.hqstd a { color: #00FF00; font-size: 12; font-weight: bold; font-family: sans-serif; margin-left: 4; color: #00FF00; }

table.hqStdCentered { padding:5px; border: 2px solid; background: url(/images/graph-grid-d.gif); border-color: #00FF00; border-collapse: collapse;}
table.hqStdCentered td {padding:10px; border: 2px solid; text-align: center; border-color: #00FF00; font-size: 12; font-weight: bold ; font-family: sans-serif; color: #C0E0FF; }
table.hqStdCentered a { padding:10px; align: center; color: #00FF00; font-size: 12; font-weight: bold; font-family: sans-serif; color: #00FF00; }

table.hqNewsItem { border: none; margin: none; width:503;}
.hqNewsFirstTD { background: url(/images/graph-title.gif); text-align: right; vertical-align: top; height: 81; width: 100%;}

table.hqNewsContent { border: none; margin: none; width: 400; background: url(/images/graph-grid-d.gif); color: white; padding: 4px;}
table.hqNewsContent a:link { color: #00FF00; }
table.hqNewsContent a:hover { color: #00FFFF;} 
table.hqNewsContent a:visited { color: #A9DF00;}

table.hqNewsItemOuter { border: none; }
table.hqNewsItemOuter td { border: none; vertical-align:top; align:right;}
.titleBG { background: url(images/graph-title.gif);}
.hqNewsTit { border: 2px; border-style: solid; border-color: white; font-family: verdana; font-weight: bold; font-size: 14; color: white;}

table.hqNewsItemSubject { border: none; background: url(/images/bg-black.gif); text-align: right;}
table.hqNewsItemSubject td { border: 1px; background: url(/images/graph-title.gif); vertical-align:top; text-align: right; font-family: verdana; font-size: 12; font-weight: bold; color: white;}

table.hqNewsItemContent { border: none; background: url(/images/graph-grid-d.gif);}
table.hqNewsItemContent td { border: none; vertical-align:top; align:left; font-family: verdana; font-size: 12; color: white;}





atd.hqstd { border:2px solid; border-color: #00FF00; } 
atr.hqstd { border:2px solid; border-color: #00FF00; }

a {text-decoration: none;}
.whiteLink { color: rgb(255,255,255); }
.whiteLink:hover { text-decoration: underline; color: rgb(0,255,0); }
.clickMenu
{ 
	position: absolute;
	visibility: hide;
	visibility: hidden;
}

body { font-family: Verdana,Arial; }

.attributeTitle { font-weight: bold; text-align: right; }
.attributeValue input { font-size: 10; }
.attributeValue select { font-size: 10; }
.action input { font-size: 10; }

.attributeValue { }

td { font-size: 12; }
th { font-size: 12; background-color: #002070; }

table.small td { font-size: 10; }
table.small th { font-size: 10; background-color: #002070; }

table.data { border-width: 1; border-style: outset; background-image: url("/images/bg-black.gif"); background: black; }
table.data td { padding: 1; padding-left: 3; padding-right: 3; border-width: 1; border-style: inset; }
table.data th { padding: 1; padding-left: 3; padding-right: 3; border-width: 1; border-style: inset; }

p { font-size: 12; }
p.error { font-size: 12; color: red; font-weight: bold; }

.StatBad  { background-color: 'red'; }
.StatToDo { background-color: '#606000'; }
.StatOk   { background-color: 'green'; }


.hqHeader1 { font-size: 16; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #AAFFAA;}
.hqTxt1   { font-size: 12; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #FEFFFE; }
.hqTxt2   { font-size: 14; font-weight: 900; font-family: sans-serif; margin-left: 4; color: #C0E0FF; }
.hqTxtBold1 { font-size: 12; font-weight: bold; font-family: sans-serif; margin-left: 4; color: #C0E0FF; };
.hqTxtBold2 { font-size: 14; font-weight: bold; font-family: sans-serif; margin-left: 4; color: #C0E0FF; };

div.cent { border: none; margin: none; text-align: center; align: center; color: #00FF00;}
div.cent a:link { color: #000000; }
div.cent a:hover { color: #00FFFF;}
div.cent a:visited { color: #000000;}


//-->
</style>
