body {
	font-family: "verdana","arial";
	font-size: 11px;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 5px
}
A {
	font-size: 100%;
	font-style: normal;
	font-variant: normal
}
A:link {
	color: #0473AB
}
A:visited {
	color: #0473AB
}
A:hover {
	color: #FF0000
}
A:active {
	color: #0473AB
}
A.clanek:link {
	color: #0473AB;
	text-decoration: none
}
A.clanek:visited {
	color: #0473AB;
	text-decoration: none
}
A.clanek:hover {
	color: #FF0000;
	text-decoration: none
}
A.clanek:active {
	color: #0473AB;
	text-decoration: none
}
.formular
{
    font-family : "verdana","arial";
    font-size : 12px;
    color : #FFFFFF;
    border-color : #cc9900 #cc9900 #cc9900 #cc9900;
    background-color : #000000;
    text-align: left;
    font-weight: normal
}
.z {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 12px;
	font-weight: normal
}
.zbarva {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 13px;
	font-weight: normal
}
.nadpis {
	color: #cc9900;
	text-decoration: underline;
	font-family: "verdana","arial";
	font-weight: bold;
	text-align: center;
	font-size: 20px
}
.nadpis18 {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 18px
}
.podnadpis {
	color: #FFFFCC;
	font-family: "verdana","arial";
	text-align: center;
	font-size: 16px	
}
.clanadpis {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-weight: normal;
	font-size: 18px
}
.clatext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-weight: normal;
	font-size: 13px
}
.biltucne {
	color: #cc9900;
	font-family: "verdana","arial";
	font-size: 13px;
	font-weight: bold
}
.malemodre {
	color: #0473AB;
	font-family: "verdana","arial";
	font-size: 11px;
	font-weight: normal
}
.anketamale {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: normal	
}
.chybastredni {
	color: #FF0000;
	font-family: "verdana","arial";
	text-align: center;
	font-size: 16px	
}
.levyblok {
	width:180px
}
.stredblok { 
	width:auto
}
.pravyblok { 
	width:180px
}
.mezera {
	width: 5px
}
.zahlavi {
	width: 100%;
	position: relative
}
.zapati {
	width: 100%;
	text-align: center
}
.ohr {	
	width: auto
}
.modryram {
	border-top-width: 1px; 
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-style: solid;
	border-color: 035D8A;
	padding: 6px;
	background-color: #000000
}
.novdatum {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtit {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtitduraz {
	color: #FF0000;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: bold
}
.novtext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 10px;
	font-weight: normal
}
.kaltext {
	color: #FFFFFF;
	font-family: "verdana","arial";
	font-size: 12px;
	font-weight: normal
}
.kalclanek {
	background-color: #C7F1C7
}
.kaldnesni {
	background-color: #C1E0FF
}
.textbox {
	background: transparent;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-family: "verdana","arial","helvetica";
	font-size: x-small;
	text-align: left;
	scrollbar-face-color: #CCCCCC;
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #000000;
	scrollbar-arrow-color: #FFFFFF
}