BODY {

	color: #000000;
}


A {
	text-decoration: underline;
	color: #003F80;
}

A:Hover {
	text-decoration: none;
	color: #3163CE;
}

.style2 {
	color: #003F80;
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana;
}

