<style>
.mstheme
{
	top-bar-button: url(expglob.gif);
	version: 1.0;
	navbutton-background-color:  rgb(204,204,153);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(255,255,255);
}
body
{
	font-family: Book Antiqua, Times New Roman, Times;
	background-image: url(exptextb.jpg); 
}

h1
{
	font-family: Book Antiqua, Times New Roman, Times;
}
h2
{
	font-family: Book Antiqua, Times New Roman, Times;
}
h3
{
	font-family: Book Antiqua, Times New Roman, Times;
}
h4
{
	font-family: Book Antiqua, Times New Roman, Times;
}
h5
{
	font-family: Book Antiqua, Times New Roman, Times;
}
h6
{
	font-family: Book Antiqua, Times New Roman, Times;
}
</style>.
