BODY
{
    BACKGROUND-COLOR: #333333;
    COLOR: #DDDDDD;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
A:link
{
    COLOR: #E7D17A
}
A:visited
{
    COLOR: #E7D17A
}
A:active
{
    COLOR: #40B8DB
}
TH
{
    COLOR: #DDDDDD;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
A:hover
{
    COLOR: #40B8DB;
    TEXT-DECORATION: underline
}
A
{
    TEXT-DECORATION: none
}
UL
{
    COLOR: #DDDDDD;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    LIST-STYLE: disc inside
}
OL
{
    COLOR: #DDDDDD;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    LIST-STYLE: decimal inside;
    MARGIN-LEFT: 1px
}
TD
{
    COLOR: #DDDDDD;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
.sidebar
{
    FONT-SIZE: 7.5pt
}
HR
{
    COLOR: #E7D17A
}
.banner
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14pt
}
.dropdown
{
    COLOR: #000000;
    BACKGROUND-COLOR: #E7D17A;
    FONT-SIZE: 10pt
}
.sidehead
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-REPEAT: no-repeat;
    FONT-SIZE: 7.5pt
}
