/* **************************************************************************** */

/*	Style sheet for Links by Chris Croome (chris@atomism.demon.co.uk) of 	*/

/*	webarchitects (http://www.webarchitects.co.uk/)				*/

/*										*/

/*	For further information on CSS see these sites:				*/

/*	http://www.w3.org/Style/						*/

/*	http://www.css.nu/							*/

/*	Want answers to your CSS questions? try this usenet group:		*/

/*	comp.infosystems.www.authoring.stylesheets				*/

/*										*/

/*	If you want to check the validity of the style sheet you can use this:  */

/*	http://jigsaw.w3.org/css-validator/					*/

/*										*/

/* **************************************************************************** */





/*	Note the use of an absolute URI for the background image		*/

/*	This is a workaround for NN using an address relative to the		*/

/*	.html file rather than the .css file					*/





/*	Paragraph									*/

p {

margin-left: 60px;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Definition list									*/

dl {

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Menu									*/

small.menu {

font-size: small;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Menu unvisited links							*/

a.menulink:link {

color: #814912;



}



/*	Menu visited links							*/

a.menulink:visited {

color: #BE6C1B;



}



/*	Menu active links (not widely supported)				*/

a.menulink:active {

color: #FF0000;



}



/*	Menu links when hovered over (MSIE only)				*/

a.menulink:hover {

color: #FF0000;



}



/*	Links unvisited links							*/

a.link:link {

color: #814912;



}



/*	Links visited links							*/

a.link:visited {

color: #BE6C1B;



}



/*	Links active links (not widely supported)				*/

a.link:active {

color: #FF0000;



}



/*	Links when hovered over (MSIE only)					*/

a.link:hover {

color: #FF0000;



}



/*	Unvisited links								*/

a:link {

color: #814912;



}



/*	Visited links								*/

a:visited {

/* color: #FFFFFF; */

color: #BE6C1B;



}



/*	Active links (not widely supported)					*/

a:active {

color: #FF0000;



}



/*	Links when hovered over (MSIE only)					*/

a:hover {

color: #FF0000;



}



/*	Links unordered lists							*/

ul {

margin-left: 60px;

list-style: disc;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	The link description							*/

span.descript {

font-size: small;

color: #333333;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	New links								*/

sup.new {

font-size: x-small;

color: #FFFFFF;

background: #FF3300;

font-weight: bold;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Popular links								*/

sup.pop {

font-size: x-small;

color: #FFFFFF;

background: #00CCFF;

font-weight: bold;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Links date and hits							*/

small.date {

font-size: x-small;

color: #666666;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Number of links in categories						*/

small.numlinks {

font-size: x-small;

color: #666666;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This class is for "Looking for something in particular?"		*/

strong.search {

color: #000000;



font-weight: bold;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This class is for "More options"					*/

small.more {

font-size: small;

color: #000000;



font-weight: normal;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This is for main headers on all pages *apart* from the home page	*/

h1 {

margin-left: 40px;

font-size: large;

font-weight: bold;

border: none;

color: #000000;

bgcolor: #D3D1F9;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This class is for the main header on the Links home page		*/

h1.home {

margin-left: 40px;

font-size: x-large;

font-weight: bold;

border: none;

color: #000000;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This class is for the error messages					*/

strong.error {

color: #FFFFFF;

background: #FF3300;

font-weight: bold;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This is used for the sub headers					*/

h2 {

margin-left: 40px;

font-size: medium;

font-weight: bold;

border: none;

color: #000000;

bgcolor: ##EAE6F2;

font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This is for the margin for the form elements				*/

div.margin {

margin-left: 60px;

}



/*	This is for page $title_linked						*/

strong.title {

font-size: small;

font-weight: bold;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Table cells								*/

td {

font-size: small;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This is  for Category Listings table cells				*/

td.catlist {

font-size: medium;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	Preformatted text							*/

pre {

margin-left: 60px;

font-size: small;

font-weight: bold;

color: #000000;



}



/*	This is for the page last updated text					*/

small.update {

font-size: x-small;

font-weight: bold;

color: #BE6C1B;



font-family: "arial", "helvetica", "geneva", sans-serif;

}



/*	This is for the total number of links					*/

p.grandtotal {

margin-left: 60px;

font-size: medium;

font-weight: bold;

color: #000000;



font-family: "arial", "helvetica", "geneva", sans-serif;

}

























