.container {
	background-color:F6CE94;
	padding:5px 5px;
	width:100%;
; border: 3px #E4BE85 dashed
}

.eql_title {
	color:#814912;
	font-family:Arial, Helvetica;
; font-size: 14px; font-weight: bold
}

a.eql_headline {
	color:#814912;
	font-family:Arial, Helvetica;
; font-weight: normal
}
a.eql_headline:hover {
color: #814912
}
a.eql_headline:visited {
color: #814912
}