<STYLE TYPE="text/css">
<!--

.dim {color: #141728;}

body {background: #808080; font-family: Verdana;}

p {color: #CFCFCF; font-size: 10pt; text-indent: 25px;}
p.heading {color: #FFFFCF; font-size: 11pt; font-weight: bold; text-indent: 0px;}

a {text-decoration:none;}
a.spec {text-decoration:underline;}
a.top {text-decoration:none; font-size: 7pt;}
a:link {color: #FFFFFF;}
a:active {color: #FFFFFF;}
a:visited {color: #FFFFFF;}
a:hover {color: #FFFFCF;}

table {background: #1F223F; border: #808080;}
td {font-size: 10pt; color: #CFCFCF;}
td.spacer {background: #1F223F; height: 14;}
td.head {color:#000000; background: #808080; text-align: left; font-weight: bold; font-size: 10pt;}
td.tblhead {color: #FFFFCF; background: #141728; font-weight: bold;}
td.head {color: #FFFFCF; font-weight: bold; background: #1F223F; text-align: right;}
td.headc {color: #FFFFCF; font-weight: bold; background: #1F223F; text-align: center;}
td.app {font-size: 8pt;}
tr.officer {background: #141728;}

-->
</STYLE>