A {
	COLOR: #0c44c9; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BLOCKQUOTE {
	COLOR: #072876; FONT-FAMILY: arial
}
.menu {
	COLOR: #dfdfe2; FONT-FAMILY: tahoma, arial; FONT-SIZE: 11px
}
.menu:hover {
	COLOR: #030716; TEXT-DECORATION: none
}
.menutitle {
	COLOR: #d8c488; FONT-FAMILY: arial; FONT-SIZE: 13px; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.copyright {
	COLOR: #001448
}
.bigprose {
	COLOR: #3C914D; FONT-FAMILY: stonehenge, arial; FONT-SIZE: 20px
}
.label   { 
	font-family: Arial; font-size: 10pt; color: #3C914D; font-weight: bold; TEXT-DECORATION: none
}
.event {
	COLOR: tan; FONT-FAMILY: arial; FONT-SIZE: 10px
}
.feat {
	COLOR: #dfdfe2; FONT-FAMILY: tahoma, arial; FONT-SIZE: 11px
}
.feat:hover {
	COLOR: #d8c488; TEXT-DECORATION: none
}
.feattitle {
	COLOR: #d8c488; FONT-FAMILY: arial; FONT-SIZE: 14px; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.feattext {
	FONT-FAMILY: arial; FONT-SIZE: 11px
}
.artemail {
	COLOR: #dfdfe2; FONT-FAMILY: arial; FONT-SIZE: 10px
}
.newsquote {
	FONT-SIZE: smaller
}
.newstitle {
	COLOR: #3C914D; FONT-FAMILY: verdana; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.newsdate {
	COLOR: black; FONT-FAMILY: verdana, arial; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.comments {
	COLOR: #a2782e; FONT-FAMILY: verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.commentbar {
	COLOR: tan; FONT-FAMILY: verdana; FONT-SIZE: 11px
}
.newstext {
	COLOR: #000000; FONT-FAMILY: verdana, tahoma; FONT-SIZE: 12px
}
.newsreporter {
	COLOR: gray; FONT-FAMILY: verdana; FONT-SIZE: 11px
}
.emailcomments {
	COLOR: #001448; FONT-FAMILY: verdana; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.main {
	
}
.tiny {
	FONT-SIZE: smaller
}
.big {
	FONT-SIZE: larger
}
.regtext {
	COLOR: black; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px
}
.lite {
	COLOR: navy; FONT-WEIGHT: bold
}
.copyright {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 10px; TEXT-ALIGN: center
}
.pagetitle {
	COLOR: #072876; FONT-FAMILY: verdana, tahoma; FONT-SIZE: 28px; FONT-WEIGHT: bold
}
.pagetitlelink {
	COLOR: #272f56; FONT-FAMILY: verdana, tahoma; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.pagesub {
	COLOR: black; FONT-FAMILY: verdana; FONT-SIZE: 25px
}
.upperbar {
	COLOR: #001448; FONT-FAMILY: verdana; FONT-SIZE: 11px
}
.emailit {
	COLOR: #4a5491; FONT-FAMILY: verdana; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.credit {
	COLOR: black; FONT-FAMILY: verdana; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.credit2 {
	COLOR: #4a5491; FONT-FAMILY: verdana; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.loretext {
	COLOR: black; FONT-FAMILY: arial; FONT-SIZE: 12px
}
.pgsub {
	COLOR: black; FONT-FAMILY: verdana, tahoma; FONT-SIZE: 15px; FONT-WEIGHT: bold
}