<style>
.mstheme
{
	separator-image: url(strrulec.gif);
	list-image-1: url(strbul1c.gif);
	list-image-2: url(strbul2c.gif);
	list-image-3: url(strbul3c.gif);

	nav-banner-image: url(strbanc.gif);

	navbutton-horiz-normal: url(strhorzbtnnc.gif);
	navbutton-horiz-pushed: url(strhorzbtnsc.gif);

	navbutton-vert-normal: url(strvertbtnnc.gif);
	navbutton-vert-pushed: url(strvertbtnsc.gif);

	navbutton-home-normal: url(strhomebtnc.gif);

	navbutton-next-normal: url(strnextbtnc.gif);

	navbutton-prev-normal: url(strprevbtnc.gif);

	navbutton-up-normal: url(strupbtnc.gif);

}

.mstheme-bannertxt
{
	font-family: Haettenschweiler, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Arial, Helvetica;

	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
</style>.
