input.enter {
    background:#FFFFCC;
    border:1px solid #5566FF;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    // font-weight:bolder;
    font-size:10pt;
    color:#5566BB;
}

BODY {
  scrollbar-base-color:#073BFD;
  scrollbar-arrow-color:#FEFFB7;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

A:link {
  text-decoration:none
}
A:visited {
  text-decoration:none
}
A:active {
  text-decoration:none
}
A:hover {
  text-decoration:underline overline; background-color:none
} 
.timestamp {
    unicode-bidi:embed;
    color:#000000;
    font-size:7pt;
    font-weight:bold;
    vertical-align:middle;
}
.message {
    margin-top:0px;
    margin-bottom:2px;
    margin-left:125px;
    margin-right:5px;
    text-indent:-120px;
    vertical-align:middle;
    line-height:16px;
}
.sysmessage {
    color:#14048C;
    font-size:12px;
    font-weight:800;
    margin-top:0px;
    margin-bottom:2px;
    margin-left:55px;
    margin-right:5px;
    text-indent:-50px;
    vertical-align:middle;
    line-height:16px;
}
.normal {
  font-size:11px;
  
}

.title {
  font-size:12px;
  
}

.tiny {
  font-size:9px;
}
