.email { text-decoration: none }
.email:active { color:lightgreen; text-decoration: none; }
.email:hover { color:lightgreen; text-decoration: underline overline; }
.email:visited { color:lightgreen }

BODY { font-family:verdana; font-size:75%; margin-left: 0px; }
P { margin-top:15pt; margin-bottom:5pt; }
A { text-decoration:none; }
A:link { color:lightgreen; }
A:hover { color:lightgreen; text-decoration:underline; }
A:visited { color:lightgreen; }

