<style>
a:link
{
	color: rgb(255,255,204); 
}
a:visited
{
	color: rgb(153,0,153); 
} 
a:active 
{
	color: rgb(0,51,0);
}
body
{
	background-color: rgb(102,153,204);
	color: rgb(0,0,0);
}
table
{
	table-border-color-light: rgb(204,204,153);
	table-border-color-dark: rgb(0,51,102); 
}
h1
{
	color: rgb(0,51,102);
}
h2
{
	color: rgb(0,51,102); 
}
h3
{
	color: rgb(0,51,102); 
}
h4
{
	color: rgb(0,51,102);
}
h5
{
	color: rgb(0,51,102);
}
h6
{
	color: rgb(0,51,102);
}
</style>.
