BODY						{ background-image: url(images/eq_bg.png);
									color: white;
									background-color: black;
									font-family: Verdana, Arial, Helvetica;
									text-align: center;
									font-size: 10pt; }
A:link					{ color: #5bd3ff }
A:visited				{ color: #00ce6b }
TABLE.standard	{ width: 600;
									display: block;
									margin: 0;
									padding: 0;
									margin-left: auto;
									margin-right: auto;
									font-size: 10pt; }
TABLE.mob				{ width: 600;
									display: block;
									margin: 0;
									padding: 0;
									margin-left: auto;
									margin-right: auto;
									font-size: 10pt; }
TABLE.npc				{ float: left;
									margin-right: 10;
									margin-bottom: 5;
									padding: 0;
									font-size: 10pt; }
TD.mobimg				{ width: 305;
									display: block;
									vertical-align: top;
									margin: 0;
									padding: 0; }
TD.mobdata			{ width: 295;
									display: block;
									vertical-align: top;
									margin: 0;
									padding: 0; }
SPAN.imgcred		{ font-size: 7.5pt;
									text-align: center;
									display: block; }
SPAN.imgpair		{ text-align: center;
									display: block; }
IMG.a						{ display: block; margin-left: auto; margin-right: auto; text-align: center }
SPAN.center			{	text-align: center;
									display: block; }
SPAN.nav				{	font-size: 8pt;
									text-align: center;
									display: block; }
SPAN.pagehead		{	font-size: xx-large;
									font-weight: bold;
									text-align: center;
									display: block; }
SPAN.bighead		{	font-size: 18pt;
									font-weight: bold;
									text-align: center;
									color: #ff0000;
									display: block; }
SPAN.secthead		{	font-size: 14.5pt;
									font-weight: bold;
									color: #ff0000; }
SPAN.minorhead	{ font-size: 13.5pt;
									color: #ff0000; }
SPAN.subhead		{	font-size: 12pt;
									color: #ff0000; }
SPAN.smhead			{	font-size: 10pt;
									color: #ff0000; }
SPAN.conv				{	display: block; font-size: 10pt;
									margin-left: 5%;
									margin-right: 5%; }
SPAN.npctalk		{ color: #aaaaff; }
SPAN.pctalk			{	color: #aaaaaa; }
SPAN.expgain		{	color: #dddd80; }
SPAN.npc				{	color: #aaaaff;
									font-weight: bold; }
SPAN.item				{	color: #ffff80; 
									font-weight: bold; }
SPAN.zone    		{	color: #aaffaa;
									font-weight: bold; }
SPAN.if					{	color: #6666ff; }
