A:hover { 
background: transparent;
color: #F00;  
}

/* title styles */

h1, h2, h3 {
font-family: palatino, georgia, times new roman, serif;
color: #55a;
}

/* unimportant text color */

.description {
color: #444;
margin-top: 5px;
}


/* positioning */

#content {
float: left;
width: 64%;
padding-bottom: 20px;
padding-right:0;
}

#links {
float: right;
width: 35%;
}

h1 {
margin-bottom: 10px;
}

.entrybody {
border: 1px dotted #555;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
padding: 10px;
color: #000;
background: #eef;

}

h1, .description, .mainlinks {
margin-left: 20px;
background: #fff;
}

.mainlinks {
color: #000;
}


h2 {
font-size: 14pt;
padding: 2px;
margin-top: 0px;
background: #eef;
}


h3 {
font-size: 12pt;
padding-bottom: 5px;
margin-bottom: 5px;
background: #fff;
border-bottom: 1px dotted #555;
}

.side {
font-size: small;
margin-bottom:25px;
padding-right: 10px;
}

.logoimage {
margin-left: 20px;
}

