/* Main page classes */

a:link				{color: #9999CC; text-decoration: none}
a:visited			{color: #8888AA; text-decoration: none}
a:active			{color: #9999CC; text-decoration: none}
a:hover				{color: #AAAADD; text-decoration: none}

.quote				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #9999CC; margin-left: 10px; margin-top: 0px}
.history			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; margin-left: 10px; margin-top: 0px}
.suganLayer			{position: absolute; width: 780px; z-index: 1; left: 0px; top: 0px}
.frontLayer			{position: absolute; width: 780px; z-index: 2; left: 0px; top: 0px}
.main				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; margin-left: 0px; margin-top: 0px}
.headline			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13pt; color: #333333; margin-left: 0px; margin-top: 0px}
.subhead			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #666666; margin-left: 0px; margin-top: 0px}
.date				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; color: #666666; margin-left: 0px; margin-top: 0px}
.author				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; color: #999999; margin-left: 0px; margin-top: 0px}
.article			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt; line-height: 95%; margin-left: 0px; margin-top: 0px}
.abstract			{font-family: Arial, Helvetica, sans-serif; color: #CCCCCC; font-weight: bold; font-size: 8pt; margin-left: 0px; margin-top: 0px}
.list				{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #FFFFFF; margin-left: 0px; margin-top: 0px}
.listContents		{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11pt; color: #CCCCCC; margin-left: 0px; margin-top: 0px}
.loginText			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11pt; color: #666699; margin-left: 0px; margin-top: 0px}
.loginLink			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #666699; margin-left: 0px; margin-top: 0px}
.formObjectTitle	{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10pt; color: #999999; margin-left: 0px; margin-top: 0px}
.editText			{font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #999999; margin-left: 0px; margin-top: 0px}
.formButton			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; margin-top: 2px}
.mainTitle			{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 11pt; color: #999999; margin-left: 0px; margin-top: 0px}
.deceased			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #990000; margin-left: 0px; margin-top: 0px}
.retired			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000099; margin-left: 0px; margin-top: 0px}
.noFile				{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #9999CC; margin-left: 0px; margin-top: 0px}
.poll				{font-family: Arial, Helvetica, sans-serif; color: #333333; font-weight: bold; font-size: 8pt; margin-left: 0px; margin-top: 0px}
.guildmistress		{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; margin-left: 0px; margin-top: 0px}
.mainwhite			{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; margin-left: 0px; margin-top: 0px}