<style type="text/css">

<!-- 

a:link 
	{ 
	color: #990000; 
	text-decoration: none 
	}

a:visited 
	{ color: #990000; 
	text-decoration: none 
	}

a:hover { 
	color: #273C82; 
	text-decoration: underline 
	}

a:active 
	{ color: #273C82; 
	text-decoration: underline; 
	font-family: arial, helvetica, sans-serif 
	}

a:link.nav 
	{ color: #ffcc00; 
	font-family: arial, helvetica, sans-serif 
	}

body 
	{ 
	font-family: arial, helvetica, sans-serif 
	}


td
	{ 
	font-size: 10pt; 
	font-family: arial, helvetica, sans-serif 
	}

.thesmall
	{
	font-size: 8pt;
	font-family: arial, helvetica, sans-serif
	}

.login
	{
	font-size:11px;
	width:88px;
	border-top:#CCCCCC solid thin;
	border-bottom:#CCCCCC solid thin;
	border-right:#CCCCCC solid thin;
	border-left:#CCCCCC solid thin;
	font-family: Verdana, Arial, Helvetica, sans-serif
	}

.jump
	{
	font-size:11px;
	width:120px;
	border-top:#CCCCCC solid thin;
	border-bottom:#CCCCCC solid thin;
	border-right:#CCCCCC solid thin;
	border-left:#CCCCCC solid thin;
	font-family: Verdana, Arial, Helvetica, sans-serif
	}

.dropdown
	{
	font-size:11px;
	border-top:#999999 solid thin;
	border-bottom:#999999 solid thin;
	border-right:#999999 solid thin;
	border-left:#999999 solid thin;
	font-family: Verdana, Arial, Helvetica, sans-serif
	}
-->

</style>
