    #hot1 {color:red;}
	a {color:"ebdd39";text-decoration:none;font-family:"Arial";font-size:9pt;}
	p {color:"ebdd39";font-size:9pt;}
	h1 {color:"ebdd39";font-size:12pt;font-family:"Arial";}
	#unlisted {color:"dddddd";font-family:"Arial";}
	#tabletext {color:"dddddd";font-size:9pt;font-family:"Arial";}
	.bolditem {font-weight:120;color:black;font-family:"Arial";}
	.new {font-size:20pt;color:blue;font-family:"Arial";}
	#black {color:black;font-family:"Arial";}
	#header {font-style:bold;font-size:18pt;color:ebdd39;font-family:"Arial";}
	#table {border:groove #000000;font-family:"Arial";}
	#table2 {border-bottom:groove #black;border-color:black;font-family:"Arial";}
	td {border:groove #5575df;color:"grey";font-family:"Arial";font-size:9pt;}
	#menu1 {display:none;position:absolute;top:252;left:41;border:groove #5575df;} 
	#menu2 {display:none;position:absolute;top:252;left:148;border:groove #5575df;}
	#menu3 {display:none;position:absolute;top:252;left:253;border:groove #5575df;}
	#menu4 {display:none;position:absolute;top:252;left:368;border:groove #5575df;}
	#menu5 {display:none;position:absolute;top:252;left:481;border:groove #5575df;}
	A:link {color:"ebdd39"; text-decoration:none;}
	A:hover {color:white; text-decoration:underline;}
	#menupos1 {position:absolute;top:252;left:0;border:groove #5575df;}
	#menupos2 {position:absolute;top:252;left:112;border:groove #5575df;}
	#menupos3 {position:absolute;top:252;left:212;border:groove #5575df;}
	#menupos4 {position:absolute;top:252;left:326;border:groove #5575df;}
	#menupos5 {position:absolute;top:252;left:442;border:groove #5575df;}
	#div {position:absolute;top:4px;left:0px;font-family:"Arial";}