body
{
	background-color : Black;
}
  
  
  .greyFont { font-family:Arial; font-size:8pt; color:#B8BCB8;  }
  .redFont { font-family:Arial; font-size:8pt; color:#F80000; }
  .greenFont { font-family:Arial; font-size:8pt; color:#00FB00; }
  .yellowFont { font-family:Arial; font-size:9pt; color:#FBFB00; }
  .itemFont { font-family: Arial; font-size: 11px; color: black; line-height: 10px;}
  .textFont { font-family: Arial; font-size: 13px; color: black; line-height: 12px;}
  .textFont2 { font-family: Arial; font-size: 11px; color: black; line-height: 12px;}
              

  #bck_profile { position:absolute; top:0px; left:0px; z-index:2; }
  #bck_profile2 { position:absolute; top:0px; left:119px; z-index:1; }
  
  #name { position:absolute; top:37px; left:17px; z-index:3; }
  #level { position:absolute; top:63px; left:54px; z-index:3; }
  #class { position:absolute; top:78px; left:23px; z-index:3; }
  #deity { position:absolute; top:92px; left:23px; z-index:3; }
  #hp { position:absolute; top:107px; left:50px; z-index:3; }
  #ac { position:absolute; top:119px; left:50px; z-index:3; }
  #atk { position:absolute; top:131px; left:50px; z-index:3; }

  #str { position:absolute; top:225px; left:70px; z-index:3; }
  #sta { position:absolute; top:236px; left:70px; z-index:3; }
  #agi { position:absolute; top:247px; left:70px; z-index:3; }
  #dex { position:absolute; top:258px; left:70px; z-index:3; }
  #wis { position:absolute; top:269px; left:70px; z-index:3; }
  #int { position:absolute; top:280px; left:70px; z-index:3; }
  #cha { position:absolute; top:292px; left:70px; z-index:3; }

  #pr { position:absolute; top:341px; left:80px; z-index:3; }
  #mr { position:absolute; top:352px; left:80px; z-index:3; }
  #dr { position:absolute; top:363px; left:80px; z-index:3; }
  #fr { position:absolute; top:374px; left:80px; z-index:3; }
  #cr { position:absolute; top:385px; left:80px; z-index:3; }
  #weight { position:absolute; top:439px; left:43px; z-index:3; }
  
  #photo { position:absolute; top:30px; left:532px; z-index:3; }

  #item1 { position: absolute; top: 12px; left: 286px; width: 40px; height: 40px; z-index:3;}
  #item2 { position: absolute; top: 12px; left: 335px; width: 40px; height: 40px; z-index:3;}
  #item3 { position: absolute; top: 12px; left: 384px; width: 40px; height: 40px; z-index:3;}
  #item4 { position: absolute; top: 12px; left: 433px; width: 40px; height: 40px; z-index:3;}
  #item5 { position: absolute; top: 12px; left: 482px; width: 40px; height: 40px; z-index:3;}
  #item6 { position: absolute; top: 77px; left: 237px; width: 40px; height: 40px; z-index:3;}
  #item7 { position: absolute; top: 77px; left: 286px; width: 40px; height: 40px; z-index:3;}
  #item8 { position: absolute; top: 77px; left: 335px; width: 40px; height: 40px; z-index:3;}
  #item9 { position: absolute; top: 77px; left: 384px; width: 40px; height: 40px; z-index:3;}
  #item10 { position: absolute; top: 77px; left: 433px; width: 40px; height: 40px; z-index:3;}
  #item11 { position: absolute; top: 77px; left: 482px; width: 40px; height: 40px; z-index:3;}
  #item12 { position: absolute; top: 142px; left: 237px; width: 40px; height: 40px; z-index:3;}
  #item13 { position: absolute; top: 142px; left: 286px; width: 40px; height: 40px; z-index:3;}
  #item14 { position: absolute; top: 142px; left: 335px; width: 40px; height: 40px; z-index:3;}
  #item15 { position: absolute; top: 142px; left: 384px; width: 40px; height: 40px; z-index:3;}
  #item16 { position: absolute; top: 142px; left: 433px; width: 40px; height: 40px; z-index:3;}
  #item17 { position: absolute; top: 142px; left: 482px; width: 40px; height: 40px; z-index:3;}
  #item18 { position: absolute; top: 207px; left: 335px; width: 40px; height: 40px; z-index:3;}
  #item19 { position: absolute; top: 207px; left: 384px; width: 40px; height: 40px; z-index:3;}
  #item20 { position: absolute; top: 207px; left: 433px; width: 40px; height: 40px; z-index:3;}
  #item21 { position: absolute; top: 207px; left: 482px; width: 40px; height: 40px; z-index:3;}
  
  #key1 { position: absolute; top: 256px; left: 536px; width: 40px; height: 40px; z-index:3;}
  #key2 { position: absolute; top: 256px; left: 585px; width: 40px; height: 40px; z-index:3;}
  #key3 { position: absolute; top: 305px; left: 536px; width: 40px; height: 40px; z-index:3;}
  #key4 { position: absolute; top: 305px; left: 585px; width: 40px; height: 40px; z-index:3;}
  #key5 { position: absolute; top: 354px; left: 536px; width: 40px; height: 40px; z-index:3;}
  #key6 { position: absolute; top: 354px; left: 585px; width: 40px; height: 40px; z-index:3;}

  #welcome { position: absolute; top:334px; left:152px; width: 300px; z-index:3; }
  
  #itemBackground { position: absolute; top:320px; left:140px; z-index:3; visibility: hidden;  }
  #itemText { position: absolute; top:342px; left:164px; width:320px; z-index:3; visibility: hidden;}
 
