			.graphicHeader {
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			}

			.textHeader {
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			background-color: #000000;
			color: white;
			font-weight: bold;
			}

			.navBar {
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			}

			.crumbBar {
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			height:30px;
			}

			.contentHeader {
			background-color: #4682b4;
			font-family: Tahoma, Arial, Helvetica;
			font-weight: bold;
			color: white;
			font-size: 12px;
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			height:35px;
			}

			.contentHeader A:link {
			color: white;
			text-decoration: none;
			}

			.contentHeader A:hover {
			color: white;
			text-decoration: underline;
			}

			.contentHeader A:visited {
			color: white;
			text-decoration: none;
			}

			.subContentHeader {
			background-color: #CADCEC;
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			}

			.contentCell {
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			font-family: Tahoma, Arial, Helvetica;
			font-size: 12px;
			}

			.postBorder {
			border-left: 1px #666666 solid;
			border-right: 1px #666666 solid;
			border-bottom: 1px #666666 solid;
			}

			.footer {
			letter-spacing: 1px;
			font-family: Tahoma, Arial, Helvetica;
			font-size: 10px;
			}

			table {
			border-collapse: collapse;
			}

			form {
			margin: 0px;
			}

			.navBar A:visited, .crumbBar A:visited, .subContentHeader A:visited, .contentCell A:visited, .footer A:visited {
			color: #000000;
			text-decoration: none;
			font-family: Tahoma, Arial, Helvetica;
			}

			.navBar A:link, .crumbBar A:link, .subContentHeader A:link, .contentCell A:link, .footer A:link {
			color: #000000;
			text-decoration: none;
			font-family: Tahoma, Arial, Helvetica;
			}

			.navBar A:hover, .crumbBar A:hover, .subContentHeader A:hover, .contentCell A:hover, .footer A:hover {
			color: #244560;
			text-decoration: underline;
			font-family: Tahoma, Arial, Helvetica;
			}
