/* DEFAULT SETTINGS */
body
{
    font-family:arial, helvetica;
    background-color:white;  
}

/* HEADINGS */
h1
{
    text-align:center;
    font-size:x-large;
    font-weight:bold;  
    color:saddlebrown;
}
h2
{
    font-size:large;
    font-weight:bold;
    color:saddlebrown;
}
h3
{
    font-size:medium;
    font-weight:bold;
    color:saddlebrown;
}

/* LINKS */
a 
{ 
    color:darkslateblue; 
    text-decoration:none; 
    font-weight:bold; 
}
a:hover 
{ 
    color:indianred; 
    text-decoration:underline; 
}

/* TABLES */
table.shaded
{
    background-color:lightgrey;
}                     

th  
{
    font-weight:light;
}

td.description
{
    font-size:x-small;
}

td.negpct
{
    color:darkred;
    font-weight:demi-bold;
    text-align:center;
}

td.pospct
{
    color:forestgreen;
    font-weight:demi-bold;
    text-align:center;
}

/* FORMULAS */
p.formula
{
    color:darkred;
}

p.example
{
    color:forestgreen;
}

/* SPECIAL STUFF FOR BANNER */
.banner
{
    background-color:lightgrey;
    font-size:xx-large;
    font-weight:bold;    
}

/* SPECIAL STUFF FOR MENU BAR */
.menubar
{
    font-size:x-small;
    background-color:lightgrey;
}
/* TITLES IN MENU BAR */
.menubar.title
{
    font-weight:bold;
    color:saddlebrown;
    text-align:center;
}
/* LINKS TO OTHER SITES IN MENU BAR */
.menubar.link
{
    font-size:xx-small;
}

