body { 
/* margin: 1em 2em 1em 3em; */
background-color: #fffff5;
color: #000;
font-family: Times New Roman, Georgia, Minion Web, Palatino, Book Antiqua, Utopia, serif;
line-height:	1.5em;
}

DT, H1, H2, H3, H4 {
background-color: transparent;
color:	#ffffff;
font-family: Georgia, Minion Web, Palatino, Book Antiqua, Utopia, Times New Roman, serif;
}

H2 { 
font-size: 1.3em;
}

A {
text-decoration: none
color: light blue; 
 }
 
A:hover { 
color: light blue; 
background: transparent; 
text-decoration:	Underline & Overline;
}