body {
	scrollbar-face-color: #AE9BDF;
	scrollbar-shadow-color: #AE9BDF;
	scrollbar-highlight-color: #AE9BDF;
	scrollbar-3dlight-color: #AE9BDF;
	scrollbar-darkshadow-color: #AE9BDF;
	scrollbar-track-color: #AE9BDF;
	scrollbar-arrow-color: #EE25A5;
	font-family: Tahoma;
	font-style: normal;
	font-color: #082B03;
	background-color: #AE9BDF;
; text-align: justify


}


a:hover {color: 082B03} 
A:link {color: EE25A5; font-weight: bold; text-decoration: none} 
A:visited {text-decoration:line-through;; color: EE25A5; font-weight: normal}
A:hover {text-decoration: none; color: #082B03; font-weight: bold}
