a:link              { font: 11px verdana; color: #778AAF; text-decoration: underline; }
a:active            { font: 11px verdana; color: #778AAF; text-decoration: underline; }
a:visited           { font: 11px verdana; color: #778AAF; text-decoration: underline; }
a:hover             { font: 11px verdana; color: #526384; text-decoration: underline; }

a.copyright:link    { font: 11px verdana; color: #778AAF; text-decoration: none; }
a.copyright:active  { font: 11px verdana; color: #778AAF; text-decoration: none; }
a.copyright:visited { font: 11px verdana; color: #778AAF; text-decoration: none; }
a.copyright:hover   { font: 11px verdana; color: #526384; text-decoration: none; }

body
{
  margin-top:    0;
  margin-bottom: 0;
  margin-left:   0;
  margin-right:  0;

  padding: 0;

  font:  11px verdana;
  color: #5C5C5C;

  background-color:      #8692AA;

}

img { border: 0; }

select, option, textarea, input
{
  color:       #000000;
  font-size:   11px;
  font-family: Verdana;
}

td, font
{
  font:  11px verdana, arial;
}

hr
{
  height: 1px;
  border: 0px;

  color: #DDE7EC;
  background-color: #DDE7EC;
}

.pluginname1
{
  font-family: verdana;
  font-size:   11px;
  font-weight: bold;

  color: #778BB0;
}

.pluginname2
{
  font-family: verdana;
  font-size:   11px;
  font-weight: bold;

  color: #D3DBE9;

  padding-top: 6px;
}

#leftbg
{
  background-image: url('images/leftbg2.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 323px;
}

#rightbg
{
  background-image: url('images/rightbg2.jpg');
  background-repeat: no-repeat;
  padding-top: 323px;
}