body {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	margin-left: 0px;
	margin-top: 0px;
}

h1 {
	color: #369;
	background-image: url('../pix/h1.jpg');
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	padding-left: 5px;
}

h2 {
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-style: normal;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
	padding-bottom: 0px;
}

h3.sidenav {
	background-color: #ddd;
	padding-left: 2px;
	margin-top: 3px;
}

p.sidenav {
	margin-top: 0px;
	padding-top: 0px;
}

a {
	text-decoration: none;
	color: #369;
	font-style: italic;
}

a:hover {
	color: #999;
}

input.search {
	height: 15px;
	width: 100px;
	border: #000 1px solid;
	padding-right: 3px;
}