a:active {font-family: Verdana, Arial, Helvetica, sans-serif; color: #991111}
a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; color: #991111}
a:link {font-family: Verdana, Arial, Helvetica, sans-serif; color: #991111}
a:visited {font-family: Verdana, Arial, Helvetica, sans-serif; color: #771111}

a.menu:active {font-family: Verdana, Arial, Helvetica, sans-serif; color: #A69E8C}
a.menu:hover {font-family: Verdana, Arial, Helvetica, sans-serif; color: #A69E8C}
a.menu:link {font-family: Verdana, Arial, Helvetica, sans-serif; color: #A69E8C}
a.menu:visited {font-family: Verdana, Arial, Helvetica, sans-serif; color: #A69E8C}

BODY {
MARGIN-LEFT:0;
MARGIN-RIGHT:0;
MARGIN-TOP:0;
CURSOR:DEFAULT;
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:x-small; color: #FFFFFF;  background-color: #948C77;
SCROLLBAR-FACE-COLOR:A69E8C;            
SCROLLBAR-SHADOW-COLOR:887E68;
SCROLLBAR-HIGHLIGHT-COLOR:A69E8C;
SCROLLBAR-3DLIGHT-COLOR:CCCCCC;
SCROLLBAR-DARKSHADOW-COLOR:887E68;
SCROLLBAR-TRACK-COLOR:9E9481;
SCROLLBAR-ARROW-COLOR:444444;}

td {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; color: #FFFFFF;}
