
TD{
  font-size : x-small;
  line-height:120%;
  font-family : Verdana,"ÇlÇr ÉSÉVÉbÉN";
Å@color:#000000
}
BODY{
  line-height:125%;
  font-size:13px
}
b {font-size:13px;color:#0000cd;font-family:ÇlÇr ÉSÉVÉbÉN;font-weight:bold;}
A{
  text-decoration:none;
}
div { 	background-color: #FFFFEE;
	border-width: thin;
	border-style: solid;
	border-color: #9999FF;}
div.news	{ 
	padding: 5px 5px;
	line-height: 1.2em;
	text-align: left;
	width : 100%;}
HR{
  color:black;
}
.TA01{
  color : gray;
  font-size : 8pt;
  font-family : Verdana;
  line-height : 150%;
  background-color : #ffffff;
  border-top : 1px dotted gray ;
  border-bottom : 1px dotted gray ;
  border-left : 1px dotted gray ;
  border-right : 1px dotted gray ;
}
.TA02{
  font-size : 8pt;
  font-family : Verdana;
  color : #004080;
  background-color : #b2d5e6;
  border-top : 1px solid #004080 ;
  border-bottom : 1px solid #004080 ;
  border-left : 1px solid #004080 ;
  border-right : 1px solid #004080 ;
}
.TA05{
  font-size : 8pt;
  font-family : Verdana;
  color : red;
}
.TA03{
  font-size : 10pt;
  font-family : Verdana;
  color : #db7093;
  line-height : 150%;
  background-color : #fed0e0;
  border-top : 2px solid #db7093 ;
  border-bottom : 2px solid #db7093 ;
  border-left : 2px solid #db7093 ;
  border-right : 2px solid #db7093 ;
}
.TA04{
  font-size : 8pt;
  font-family : Verdana;
  line-height : 150%;
  color : #ff6600;
  background-color : #ffcc00;
  border-top : 1px solid #ff6600 ;
  border-bottom : 1px solid #ff6600 ;
  border-left : 1px solid #ff6600 ;
  border-right : 1px solid #ff6600 ;
  scrollbar-3dlight-color: #000000;
  scrollbar-arrow-color: #ffffff;
  scrollbar-base-color:#cc0000;
  scrollbar-darkshadow-color: #cc0000;
  scrollbar-face-color: #cc0000;
  scrollbar-highlight-color: #cc0000;
  scrollbar-shadow-color: #000000;
}
.test{
	font-size : 11pt;
	background-color : #ffefd5;
	color : #ffff00;
}