A
{
	color: #C58500;
}
/**référence pour les images f0aa0f**/

.COLOR
{
	color: #C58500;
}

.WINDOW-BODY-WARNING
{	
	color: #C58500;
}

.infoMacro 
{ 
	border-color: #C58500;
	background-color: #F2EBC6;
}

.rollBgColor 
{
	background-color: #F2EBC6;
	
}

.COLONNE1
{
	position: relative;
	float: left;
	font-size:11px;
}

.bin
{
	background-color: #F2EBC6;
	border: 1px solid #A7B8C1;
	width: 245px;
	height: 55px;
}

.hoverBin
{
	border: 1px solid #A7B8C1;
	background-color: #f4e38c;		
}

.QUANTITY
{
	position: absolute;
	top: 27px;
	left: 27px;
}

.COIN
{
	position: absolute;
	top: 32px;
	left: 1px;
}

.COLONNE2
{
	position: relative;
	float: left;
	padding-left: 7px;
}

.COMMAND
{
	font-size: 11px;
	padding-bottom: 7px;	
	           
}

#GO
{
	position: relative;
	left: 267px;
}


.COLONNE3
{
	position: relative;
	float: left;
	padding-left: 7px;
}

.SLOT-TAB
{
	border:1px solid #A7B8C1;
	border-collapse: collapse;
	font-size:11px;
}


.SLOT-TAB-CEL
{
	border:1px solid #A7B8C1;
	background-color:#D8E6ED;
}


.ITEM
{
	position: absolute;
	top: 123px;
	left: 597px;
	background-color: #F2EBC6;
	border:1px solid #A7B8C1;
	border-collapse: collapse;
	font-size: 9px;
	padding: 3px;
	width: 203px;
	
}

.ITEM-ICON
{
	position: absolute;
	top: 3px;
	left: 166px;
}

.FEATURES-TAB
{
	border:1px solid #A7B8C1;
	font-size:12px;
	text-align:left;
	border-collapse: collapse;
}

.FEATURES-TAB-TITLE
{
	font-weight: bold;
	border-bottom: 1px solid #A7B8C1;
	padding-right: 5px;
	text-align: right;
}

.FEATURES-TAB-TITLE-BLUE
{
	background-color: #D8E6ED;
	border: 1px solid #A7B8C1;
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
}

.FEATURES-TAB-TITLE-COLOR
{
	background-color: #F2EBC6;
	border: 1px solid #A7B8C1;
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
}

.FEATURES-TAB-CEL
{
	font-size:11px;
	text-align: right;
	padding-right: 5px;
}

.FEATURES-TAB-COLOR1
{
	background-color: #D8E6ED;
}

.FEATURES-TAB-COLOR2
{
	background-color: #E6EFF1; 
}

.FEATURES-TAB-CEL2
{
	text-align: left;
	padding-left: 5px;
	border: 1px solid #A7B8C1;
}

#deleteBox
{
	position: absolute;
	top: 154px;
	left: 315px;
	border: 1px solid red;
	width: 245px;
}

/* ***** tooltip **** */


#tooltip
{
	position: absolute;
	display: none;
	z-index: 200;	
}

.tooltipMiddle
{
	position: relative;
	background-image: url(/images/v1/shared/tooltip/tooltip_middle.png);
	background-repeat: repeat-y;
	width: 330px;
}

#tooltipBody
{
	font-size: 11px;
	width: 300px;
	padding-left: 15px;
	padding-top: 23px;
}

#tooltipTitle
{	
	position: absolute;
	top: 7px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
}

#tooltipSep
{	
	position: absolute;
	top: 27px;
	left: 12px;
	width: 318px;
	height: 2px;
}

#flecheSep
{	
	position: absolute;
	top: 10px;
	left: 0px;
	width: 14px;
	height: 33px;
}

#tooltipIcon
{
	position: absolute;
	top: 12px;
	left: 276px;
	width: 40px;
	height: 40px;
	z-index: 2;
}

#tooltipSupportIcon
{
	position: absolute;
	top: 6px;
	left: 269px;
}

.windowTitleLink
{
	color: #3D5660;
	text-decoration: none;
}

.windowTitleLink:Hover
{
	color: #C58500;
	text-decoration: none;
}

.textInput 
{
	width: 24px; 
	background-color: #D8E6ED; 
	border: 1px solid #A7B8C1; 
	color: #3D5660; 
	text-align: right;
	padding-right: 5px;
}






