
BODY
{
    BACKGROUND-COLOR: black;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    MARGIN: 0px;
	font-size: 10pt;
}

TABLE, TD, TH, P
{
    COLOR: white;
	font-size: 10pt;
    FONT-FAMILY: Verdana, Arial;
}

tr.header
{
	background-color : gold;
}

tr.oddRow
{
	background-color : sienna;
}

tr.evenRow
{
	background-color : chocolate;
}

tr.bbsheader
{
	background-color : #006600;
}

A:link, A:visited
{
    COLOR: white;
    TEXT-DECORATION: underline;
}

A:hover
{
    COLOR: gold;
    TEXT-DECORATION: underline;
}

.navLink
{
    COLOR: white;
    FONT-FAMILY: Arial;
	TEXT-DECORATION: underline;
}

A:visited.navLink, A:link.navLink, A:active.navLink
{
    COLOR: white;
    TEXT-DECORATION: none;
}

A:hover.navLink
{
    COLOR: gold;
    TEXT-DECORATION: underline;
}

.header1
{
	COLOR: gold;
	FONT-FAMILY: Times;
	font-size: 20pt;
	font-weight: bold;	
/*	letter-spacing: 0.2em; */
}

.header2
{
	COLOR: #00ff00;
	FONT-FAMILY: verdana;
	font-size: 11pt;
	font-weight: bold;
}

.header3
{
	COLOR: black;
	FONT-FAMILY: verdana;
	font-size: 11pt;
	font-weight: bold;
}

.header4
{
	COLOR: black;
	FONT-FAMILY: verdana;
	font-size: 10pt;	
}

.small
{
	COLOR: white;
	FONT-FAMILY: verdana;
	font-size: 8pt;
}

.normal
{
	COLOR: white;
	FONT-FAMILY: verdana;
	font-size: 10pt;
	font-weight: normal;
}

.display-name
{
	COLOR: gold;
	font-size: 12pt;
}

.display-side
{
	COLOR: #00ff00;
}

.display-special
{
	COLOR: gold;
}

.news-cont
{
	COLOR: gold;
	FONT-FAMILY: verdana;
	font-size: smaller;
	font-style: italic;
}
