body, cite, p, ul, ol { font-family: Arial, Helvetica, Verdana }
td          { font-family: Arial, Helvetica, Verdana; vertical-align: top}
th          { font-family: Arial, Helvetica, Verdana;  background: #9C9A9C; color: #FFFFFF; vertical-align: top }
h1, h2, h3, h4, h5, h6  { font-family: Arial, Helvetica, Verdana }
b, strong   { font-family: Arial, Helvetica, Verdana }
h1, h2, h3  { font-family: Arial, Helvetica, Verdana }
