/*  Written in EUC code. do NOT change other Charactor code. */
/*  ここから下がユーザー定義フォントです。フォントはIDで指定ね */

#f10{font-size:10pt;}
#maru{
	font-size:12pt;
	font-family: "ＦＡ ぽぽる","ＤＦまるもじ体W3","ＤＦ中丸ゴシック体","魚石行書","ＤＨＰ隷書体","MS UI Gothic", "FG創英ポップ体２","HG丸ｺﾞｼｯｸM-PRO","ＦＡ 文結ゴシック","ＪＳ平成明朝体W3";
}
#kai{
	font-family: "ＤＨＰ中楷書体","HG正楷書体-PRO","有澤楷書","ＪＳＰ明朝","ＭＳ Ｐ明朝";
}

#heta{
    font-family: "へた字";
}
