body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; background-color: #333333; background-image: url(resources/bg_color.jpg); 
	scrollbar-3dlight-color:"#330066"; 
		scrollbar-arrow-color:white;
	scrollbar-base-color:"33333";
	scrollbar-track-color:"#330066";
	scrollbar-face-color:"#000000";
		scrollbar-highlight-color:"#333333";
	scrollbar-shadow-color:"#330066"
;
	
;}
tr {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #9999FF; font-weight: normal; text-transform: none; line-height: normal; text-decoration: underline}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
td {  color: #FFFFFF}
