A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: ; 
}
A:visited { 
  color: ;
}
A:active {
  color: ;
}
A:HOVER { 
  color: ; 
  background-color: ;
}
.onbody{
  color: ; 
}
.onbody A:LINK {
  color: ;
}
.onbody A:VISITED {
  color: ;
}
.onbody A:ACTIVE {
  color: ;
}
BODY,P,TABLE,TD,TR {   
  font-size: ;
  font-family: ;
  color: ;
}
BODY {
  background: ;
}
PRE {
  font-size: ;
  font-family: ;
}
.tableborders {
  background: ;
}
.tdheader {
  font-size: ;
  font-weight: ;
  color: ;
  background: ;
  font-family: ;
}
.menubar{
  background: ;
  color: ;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: ;
  color:     ;
}
.catandforum {
  font-size: ;
}
.posttime {
  font-size: ;
  font-style: ;
  text-align: ;
  background: ;
}
.threadtotal {
  font-size: ;
  background: ;
}
.posttotal {
  font-size: ;
  background: ;
  color: ;
}
.small {
  font-size: ;
  font-family: ;
}
.standouttext {
  color: ;
}
.welcome {
  background: ;
  font-family: ;
  color: ;
}
.forumtitle {
}
.forumdescript {
  font-size: ;
}
.lighttable {
  background: ;
  color: ;
}
.darktable {
  background: ;
  color: ;
}
.cleartable {
  background: ;
}
.alternatetable {
  background: ;
}
.subjecttable {
  background: ;
  color: ;
}
.footertable {
  background: ;
}                          
.formboxes{
  font-family: ;
  background-color: ;
  color: ;
  font-size: ;
}
.buttons {
  font-family: ;
  background-color: ;
  color: ;
  font-size: ;
}

    
    
    
    