A:link { COLOR: #FFFFcc; TEXT-DECORATION: none; font-family: Verdana, Arial; font-size: 10pt }
A:Visited { COLOR: #FFFFcc; TEXT-DECORATION: none; font-family: Verdana, Arial; font-size: 10pt }
A:Active { COLOR: #FFFFcc; TEXT-DECORATION: none; font-family: Verdana, Arial; font-size: 10pt }
A:hover { COLOR: #FFFFFF; TEXT-DECORATION: none; font-family: Verdana, Arial; background: #000000; font-size: 10pt }
A:hover { COLOR: #FFFFFF; TEXT-DECORATION: underline }

.menu A:link, .menu A:Visited
	{ 
		text-decoration: none;
		color: #FFFFcc;
		font-family: Verdana, Arial;
		font-size: 0.67pc;
	}

.menu A:hover
	{
		color: #FFFFFF;
		font-family: Verdana, Arial;
		background: #000000;
		font-size: 0.67pc;
		TEXT-DECORATION: underline;
	}
	
.menu
	{
        font-family: Verdana, Arial;
        font-size: 0.67pc;
		color: #FFFFFF;
	}
	
.submenu
	{
        font-family: Verdana, Arial;
        font-size: 10pt;
		font-weight: bold;
		color: #FFFFFF;
	}
	
.tip
	{
        font-family: Verdana, Arial;
        font-size: 10pt;
		color: #FFFFFF;		
	}
	
.time
	{
        font-family: Verdana, Arial;
        font-size: 10pt;
		color: #FFFFFF;	
	}
	
.subheadlines
	{
		text-decoration: underline;
        font-family: Verdana, Arial;
        font-size: 10pt;
		font-weight: bold;
		color: #FFFFFF;	
	}
	
.news A:link, .news A:Visited
	{ 
		text-decoration: none;
		color: #FFFFcc;
		font-family: Verdana, Arial;
		font-size: 10pt;
	}

.news A:hover
	{
		color: #FFFFFF;
		font-family: Verdana, Arial;
		background: #000000;
		font-size: 10pt;
		TEXT-DECORATION: underline;
	}
	
.news
	{
        font-family: Verdana, Arial;
		color: #C9C9BE;
		font-size: 10pt;
	}
	
.blockquote A:link, .blockquote A:Visited
	{ 
		text-decoration: none;
		color: #FFFFcc;
		font-family: Verdana, Arial;
		font-size: 10pt;
	}

.blockquote A:hover
	{
		color: #FFFFFF;
		font-family: Verdana, Arial;
		background: #000000;
		font-size: 10pt;
		TEXT-DECORATION: underline;
	}
	
.blockquote
	{
        font-family: Verdana, Arial;
		color: #AD915A;
		font-size: 10pt;
	}

.date
	{
        font-family: Verdana, Arial;
        font-size: 10pt;
		color: #FFFFFF;	
		font-weight: bold;		
	}
	
.subject
	{
        font-family: Verdana, Arial;
        font-size: 12pt;
		color: #FFFFFF;	
		font-weight: bold;		
	}