.nav1  {
	font-size : 14px;
	font-family : Geneva, Arial, Helvetica, san-serif;
	color : #00FF00;
	text-decoration : none;
	font-weight : bold;
}

.nav1:hover  {
	text-decoration : underline;
}

.newstitle  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
; color: #00FF00; font-weight: bold
; clip:    rect(   )
; background-color: #0000FF
; text-align: left; padding-top: 2px; padding-right: 15px; padding-bottom: 2px; padding-left: 15px
}

.newstext  {
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
; color: #000000
; background-color: #FFFFFF
; float: left
; clip:  rect(   ); padding-right: 15px; padding-left: 15px; padding-top: 5px; padding-bottom: 5px
}
li { font-family : Verdana, Arial, Helvetica, sans-serif; text-decoration : none; ; list-style-type: disc}
p { font-family : Verdana, Arial, Helvetica, sans-serif; }
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: italic; font-weight: bold}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold}
body {  background-color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 36px; font-style: italic; font-weight: bold}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}
.banner {  clip:  rect(   ); cursor: crosshair; color: #00FF00}
.menubox { background-color: #006633; clip: rect( ); cursor: hand; float: left; width: 135px; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.footer { clip:  rect(   ); cursor: hand; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-align: center}
.headings {  font-size: 12px; font-weight: bold; color: #FFFFFF}
.main {  background-color: #CC9966}
.newsmail {  color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; clip:  rect(   ); padding-left: 25px}
