A#leftsidelink {
	color: #CCCCCC;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	}

A#leftsidelink:HOVER {
	color: White;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
		}
		
A#leftsidelink:Link {
	color: #CCCCCCC;
	text-decoration: none;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	}
	
A#rightsidelink {
	color: #000000;
	text-decoration: none;
	}

A#rightsidelink:HOVER {
	color: #999999;
	text-decoration: none;
	}
		
A#rightsidelink:Link {
	color: #000000;
	text-decoration: none;
	}


A#righttoplink {COLOR: #FFCC00; TEXT-DECORATION: none; font-weight: bold}

A#righttoplink:HOVER {COLOR: #FF4400; TEXT-DECORATION: underline; font-weight: bold}
		
A#righttoplink:Link {COLOR: #FFCC00; TEXT-DECORATION: none; font-weight: bold}


A#yellowlink {COLOR: #FFCC00; TEXT-DECORATION: none; font-weight: bold}

A#yellowlink:HOVER {COLOR: #FF4400; TEXT-DECORATION: underline; font-weight: bold}
		
A#yellowlink:Link {COLOR: #FFCC00; TEXT-DECORATION: none; font-weight: bold}
#stats	{

	
	font-family: Arial;
	font-size: 11px;
	color: #E0E0E0;
	line-height: 11px;
	}


BODY {BACKGROUND-COLOR: black; COLOR: #eeeeee;}
