BODY {font-family: verdana, arial, sans-serif; font-size: 10px; color: #ffffff; background-color: black;}


 .reg {font-family: verdana, arial, sans-serif; font-size: 11px; }
 .head {font-family: georgia, times, times new roman; font-weight: bold; font-size: 16px; color: #99cccc; }
 .subhead {font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; font-weight: bold; color: #000000; }
 .pst {color: #ff0000; }
 .mst {color: #00ff00; }
 .cst {color: #ff8000; }
 .gmt {color: #8080ff; }

H3 {font-family: verdana, arial, sans-serif; color: white; font-size: 24pt;}

FONT
 .log { font-size: 24pt; font-weight: bold; }
 .cap { font-size: 16pt; font-weight: bold; }

UL LI 
 .goth { font-weight: bold; color: white; }

SUP { font-family: courier new, courier; font-size: 8pt; font-weight: bold }

TABLE { margin: 0; }
 .nav { font-family: verdana, arial, sans-serif; font-size: 8pt; }
 .body { font-family: verdana, arial, sans-serif; font-size: 10pt; }
