

.ad_clear {clear:both;}
.w750 {width:750px;}
.w240 {width:240px;}
.w180 {width:180px;}
.h450 {height:450px;}
.h52 {height:52px;}
div.ad_float {float:left;}
#ad_zag a {font-weight:bold;}
#ad_zag a:hover{text-decoration:none;}
div.ad_main {padding:2px 5px;line-height:13px;margin:5px;}

#ad_zag a{font-family:verdana,arial,sans-serif;font-size:10px;}
#ad_text {font-family:verdana,arial,sans-serif;font-size:10px;}
#ad_url {font-family:verdana,arial,sans-serif;font-size:10px;}


/*	коричневые оттенки	*/
.ad_brown {
	border:1px solid #FBE5C0;
	background:#FFF9F0;
}
.ad_brown #ad_zag a{
	color:#CF9633;
}
.ad_brown #ad_text {
	color:#5F5D59;
}
.ad_brown #ad_url {
	color:#CF9633;
}

/*	синие оттенки	*/
.ad_blue {
	border:1px solid #7FC6FF;
	background:#EFF2FF;
}
.ad_blue #ad_zag a{
	color:#221FFF;
}
.ad_blue #ad_text {
	color:#5F5D59;
}
.ad_blue #ad_url {
	color:#5F7FFF;
}

/*	зеленые оттенки	*/
.ad_green {
	border:1px solid #74CF91;
	background:#EFFFF4;
}
.ad_green #ad_zag a{
	color:#0F7F33;
}
.ad_green #ad_text {
	color:#5F5D59;
}
.ad_green #ad_url {
	color:#0F7F33;
}

/*	google оттенки	*/
.ad_google #ad_zag a{
	color:#0044A1;
	line-height:12px;
}
.ad_google #ad_text {
	color:#445964;
	font-family:verdana,arial,sans-serif;
}
.ad_google #ad_url {
	color:#0F7F33;
}