body {
	scrollbar-face-color: white;
	scrollbar-shadow-color: #BFAB97;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: white;
	scrollbar-darkshadow-color: #BFAB97;
	scrollbar-track-color: white;
	scrollbar-arrow-color: #BFAB97;
	font-family: Arial;
        font-size: 8pt;
	font-style: normal;
	background-color: #FFFFFF;
; text-align: justify
}


a:hover {color: 000000} 
A:link {color: BFAB97; font-weight: bold; text-decoration: none} 
A:visited {text-decoration:line-through;; color: BFAB97; font-weight: bold}
A:hover {text-decoration: none; color: #000000; font-weight: bold}


