div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

div.menuBar {
color: #ffffff;
  background-color: transparent;
  border: 2px #e0e0e0;
  padding: 2px 2px 2px 2px;
  text-align: left;
}

div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px #e0e0e0;
  color: #ffffff;
  cursor: default;
  left: 0px;
  margin: 0px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton2 {
  background-color: transparent;
  color: #D2B951;
  cursor: default;
  left: 0px;
  margin: 0px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.adminnav {
  background-color: transparent;
  border: 1px #e0e0e0;
  color: #CC0000;
  cursor: default;
  left: 0px;
  margin: 0px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #000000;
  color: #ffffff;
  left: 0px;
  top: 1px;
}

div.menu {
  background-color: #e0e0e0;
  border:1px solid grey;
  left: 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 1px 1em;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #361313;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  font-size: 8px;
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border: 1px solid #C0C0C0;
  margin: 1px 1px;
}