<style>
.mstheme
{
	nav-banner-image: url(kdabnr.gif);
	separator-image: url(kdrule.gif);
	list-image-1: url(kdbull1.gif);
	list-image-2: url(kdbull2.gif);
	list-image-3: url(kdbull3.gif);


	navbutton-horiz-normal: url(kdahnd.gif);
	navbutton-horiz-hovered: url(kdahnm.gif);
	navbutton-horiz-pushed: url(kdahns.gif);

	navbutton-vert-normal: url(kdavnd.gif);
	navbutton-vert-pushed: url(kdavns.gif);
	navbutton-vert-hovered: url(kdavnm.gif);

	navbutton-home-normal: url(kdahom.gif);
	navbutton-home-hovered: url(kdahomm.gif);
	navbutton-home-pushed: url(kdahoms.gif);

	navbutton-next-normal: url(kdanex.gif);
	navbutton-next-hovered: url(kdanexm.gif);
	navbutton-next-pushed: url(kdanexs.gif);

	navbutton-prev-normal: url(kdapre.gif);
	navbutton-prev-hovered: url(kdaprem.gif);
	navbutton-prev-pushed: url(kdapres.gif);

	navbutton-up-normal: url(kdaup.gif);
	navbutton-up-hovered: url(kdaupm.gif);
	navbutton-up-pushed: url(kdaups.gif);

}

.mstheme-bannertxt
{
	font-family: Century Schoolbook, Times New Roman, Times;
	color: rgb(102,0,102);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-vert-navtxt
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxthome
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtnext
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtprev
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}

.mstheme-navtxtup
{
	font-family: Century Schoolbook, Times New Roman, Times;

	color: rgb(0,0,51);
	text-align: center;
	vertical-align: middle;
}
</style>.
