
.bodyline { background-image: url(images/menu_back_norm.gif) }
.cattitle { color: #b8bce6; font-weight: bold; font-size: 12px; letter-spacing: 1px }
.code { color: #00bf00; font-size: 11px; font-family: Courier, "Courier New", sans-serif; background-image: url(images/menu_link_hover.gif); border: solid 1px #330000 }
.copyright { color: #c3b4e6; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; letter-spacing: -1px }
.forumline { background-image: url(images/menu_back_norm.gif) }
.forumlink { color: #b8bce6; font-weight: bold; font-size: 12px }
.gen { color: #efefef; font-size: 12px }
.genmed { color: #efefef; font-size: 11px }
.gensmall { color: #efefef; font-size: 10px }
.helpline { color: #fff; background-color: #4c4c4c; border: solid 1px #7f7f7f }
.mainmenu { color: #efefef; font-size: 11px }
.maintitle { color: #efefef; font-weight: bold; font-size: 22px; line-height: 120%; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-decoration: none }
.name { color: #efefef; font-size: 11px }
.nav { color: #b8bce6; font-weight: bold; font-size: 11px }
.postbody { color: #efefef; font-size: 12px; line-height: 18px }
.postdetails { color: #e6e6e6; font-size: 10px }
.quote { color: #fff; font-size: 11px; line-height: 125%; font-family: Verdana, Arial, Helvetica, sans-serif; background-image: url(images/menu_link_active.gif); border: solid 1px #330000 }
.rank { color: #ffff9c; font-size: 10px }
.stats { color: #c4cbef; font-size: 10px; line-height: 13px; font-family: Arial, Helvetica, Geneva; background-image: url(images/menu_link_norm.gif); margin-bottom: 2px; width: 100% }
.topictitle { color: #efefef; font-weight: bold; font-size: 11px }
a.cattitle { color: #e6e6e6; text-decoration: none }
a.cattitle:hover { color: #c6e6e6; text-decoration: underline }
a.copyright { color: #dce6b3; text-decoration: none }
a.copyright:hover { color: #efefef; text-decoration: underline }
a.forumlink { color: #b8bce6; text-decoration: none }
a.forumlink:hover { color: #8f92b3; text-decoration: underline }
a.gen { color: #b8bce6; text-decoration: none }
a.gen:hover { color: #8f92b3; text-decoration: underline }
a.genmed { color: #b8bce6; text-decoration: none }
a.genmed:hover { color: #8f92b3; text-decoration: underline }
a.gensmall { color: #b8bce6; text-decoration: none }
a.gensmall:hover { color: #8f92b3; text-decoration: underline }
a.mainmenu { color: #b8bce6; text-decoration: none }
a.mainmenu:hover { color: #8f92b3; text-decoration: underline }
a.moderator { color: #b37874; font-size: 12px; text-decoration: none }
a.moderator:hover { color: #b37874; font-size: 12px; text-decoration: underline }
a.nav { color: #b8bce6; text-decoration: none }
a.nav:hover { color: #8f92b3; text-decoration: underline }
a.postlink:hover { color: #8f92b3; text-decoration: underline }
a.postlink:link { color: #b8bce6; text-decoration: none }
a.postlink:visited { color: #9aa6e6; text-decoration: none }
a.topictitle:hover { color: #8f92b3; text-decoration: underline }
a.topictitle:link { color: #b8bce6; text-decoration: none }
a.topictitle:visited { color: #9aa6e6; text-decoration: none }
a:active { color: #8f92b3 }
a:hover { color: #8f92b3; text-decoration: underline }
a:link { color: #b8bce6 }
a:visited { color: #9aa6e6 }
body { background-color: #000000; scrollbar-3dlight-color: #BFBFBF; scrollbar-arrow-color: #BFBFBF; scrollbar-darkshadow-color: #262626; scrollbar-face-color: #4C4C4C; scrollbar-highlight-color: #666666; scrollbar-shadow-color: #333333; scrollbar-track-color: #4c0000 }
font { font-family: Verdana, Arial, Helvetica, sans-serif }
h1 { color: #efefef; font-weight: bold; font-size: 11px }
h2 { color: #efefef; font-weight: bold; font-size: 11px }
hr { border-style: solid; border-width: 1px 0px 1px 0px; border-color: #7f7f7f; height: 1px }
input { color: #bfbfbf; font: 11px Verdana, Arial, Helvetica, sans-serif; background-color: #333; text-indent: 2px; border: solid 0px #684600 }
input.button { color: #fff; font-size: 12px; font-family: Arial, Helvetica, sans-serif; background-image: url(images/menu_back_norm.gif); border: solid 1px #7f7f7f; width: 30px }
input.liteoption { color: #fff; font-weight: normal; background: #333 url(images/menu_back_norm.gif); border: solid 1px #7f7f7f }
input.mainoption { color: #fff; font-size: 12px; line-height: 20px; font-family: Arial, Helvetica, Geneva; background: url(images/button.gif) no-repeat; vertical-align: middle; width: 50px; height: 21px }
input.post { color: #fff; background-color: #333; border: solid 1px #7f7f7f }
p { color: #efefef; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif }
select { color: #fff; font: 11px Verdana, Arial, Helvetica, sans-serif; background: #333 url(images/menu_back_norm.gif); border: solid 1px #7f7f7f }
td { color: #efefef; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif }
td.cat { background-image: url(images/menu_back_dark.gif); height: 29px }
td.catbottom { background-image: url(images/menu_back_dark.gif); height: 29px }
td.cathead { font-size: 12px; background-image: url(images/menu_back_dark.gif); height: 29px }
td.catleft { background-image: url(images/menu_back_dark.gif); height: 28px }
td.catright { background-image: url(images/menu_back_dark.gif); height: 28px }
td.catsides { background-image: url(images/menu_back_dark.gif); border: solid; height: 28px }
td.row1 { background-image: url(images/menu_back_light.gif); margin: 1px; border-top: none; border-right: none; border-bottom: 1px solid #000; border-left: none }
td.row2 { background-image: url(images/menu_back_mid.gif); margin: 1px; border-top: none; border-right: none; border-bottom: 1px solid #000; border-left: none }
td.row3 { background-image: url(images/menu_back_dark.gif); border-top: none; border-right: none; border-bottom: 1px solid #000; border-left: none }
td.row3right { background-image: url(images/menu_back_dark.gif); border-style: solid; border-width: 0px 1px 0px 0px; border-color: #330001 }
td.rowpic { background-image: url(images/menu_back_dark.gif) }
td.spacerow { background-image: url(images/menu_back_dark.gif); border-style: solid; border-width: 0px 1px 0px 1px; border-color: #330001 }
textarea { color: #fff; font: 11px Verdana, Arial, Helvetica, sans-serif; background-color: #333; border: solid 1px #7f7f7f }
textarea.post { background: #262626 url(images/menu_back_norm.gif) }
th { color: #ddbfe6; font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; background-image: url(images/menu_back_dark.gif); height: 25px }
th.thbottom { font-weight: bold; height: 28px }
th.thcornerl { font-weight: bold; height: 28px }
th.thcornerr { font-weight: bold; height: 28px }
th.thhead { font-weight: bold; font-size: 12px; height: 28px }
th.thleft { font-weight: bold; background-image: url(images/menu_back_dark.gif); height: 28px }
th.thright { font-weight: bold; background-image: url(images/menu_back_dark.gif); height: 28px }
th.thsides { font-weight: bold; height: 28px }
th.thtop { font-weight: bold; height: 28px }