<!--begin code-->
<!--end code-->
/* CSS definition file containing sitestyle stylesheets */
 BODY { background-image: url("../nl_back.gif");}
  .TextObject { font-size: small;}
  H1 { font-family: Arthur; font-size: small;}
  .TextNavBar { font-size: small;}
  
<!--begin code-->
<P align=center><small>Does your EverQuest guild need a free homepage? <a href=http://www.eqguild.net>Get one at EQGuild.net</a>!</small><!--end code-->
