@charset "iso-8859-1";
 /** Examancer's Cascading Style Sheet * * Revision 7.0 **/
/* ----------- * Last Updated 02/12/2002 * ------------ */

  /*--------------------*/
 /* Default properties */
/*--------------------*/
body {
background-color: #000000;
FONT-SIZE: 8pt;
COLOR: #ffffff;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
scrollbar-face-color: #000000;
scrollbar-shadow-color: #0068DD;
scrollbar-highlight-color: #0068DD;
scrollbar-3dlight-color: #0068DD; 
scrollbar-darkshadow-color: #0068DD;
scrollbar-track-color: #00346E; 
scrollbar-arrow-color: #fe9506;
}

a:link {
color: #00ff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

a:visited {
color: #00ff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

a:hover {
color: #ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: overline underline;
font-weight: normal;
}

  /*-------------------*/
 /* Custom Properties */
/*-------------------*/

.form {
FONT-SIZE: 8pt;
COLOR: #ffffff;
FONT-FAMILY: monospace;
BORDER-BOTTOM: #00346E 1px solid;
BORDER-LEFT: #00346E 1px solid;
BORDER-RIGHT: #00346E 1px solid;
BORDER-TOP: #00346E 1px solid;
BACKGROUND-COLOR: #000000;
font-weight: normal;
}

.lvl0 {
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl0 a:link {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl0 a:visited {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl0 a:hover {
color: #ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: overline underline;
font-weight: normal;
}

.lvl1 {
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl1 a:link {
color: #ffff00;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl1 a:visited {
color: #ffff00;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl1 a:hover {
color: #ffffff;
text-decoration: overline underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl1 td {
background-color: #001332;
border-color: #000000;
}

.lvl2 {
FONT-SIZE: 8pt;
COLOR: #ffffff;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
}

.lvl2 a:link {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl2 a:visited {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl2 a:hover {
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: overline underline;
font-weight: normal;
}

.lvl2 td {
background-color: #000000;
/*border-color: #ff0000;*/
}

.lvl3 {
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.lvl3 a:link {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl3 a:visited {
color: #ffff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.lvl3 a:hover {
color: #ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: overline underline;
font-weight: normal;
}

.lvl3 td {
background-color: #002664;
border-color: #000000;
}

.dark {
color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: normal;
}

.dark a:link {
color: #00ff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.dark a:visited {
color: #00ff00;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

.dark a:hover {
color: #ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-decoration: overline underline;
font-weight: normal;
}

.dark td {
background-color: #000000;
border-color: #000000;
}
  /*-----*/
 /* END */
/*-----*/

     /*----------------------------------------------*/
    /*  Copyleft 2002 by Examancer Technologies:    */
   /*   This means use and distribute freely so    */
  /*    long as you don't copyright anything      */
 /*     that you make from it                    */
/*----------------------------------------------*/
