TH.A_Orange A:LINK   {
 color : #fead4b;
}
TH.A_Orange A:visited{
 color : #fead4b;
}
TH.A_Orange A:active {
 color : #fead4b;
}
TH.A_Orange A:HOVER  {
 color : #ffffa2;
}
TD.A_Orange A:LINK   {
 color : #fead4b;
 font-family : "Times New Roman";
}
TD.A_Orange A:visited{
 color : #fead4b;
}
TD.A_Orange A:active {
 color : #fead4b;
}
TD.A_Orange A:HOVER  {
 color : #ffffa2;
}
