body {
	font-family	: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size	: 12px ;
}

.table_bord {
	background-color : #000066 ;
}

.table_fond {
	background-color : #006699 ;
}

.menu_entete {
	background-color 	: #006699 ;
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 13px ;
	color				: #E9F2FC ;
	font-weight			: bold ;
	padding-left		: 5px ;
	padding-right		: 5px ;
	padding-bottom		: 5px ;
}

.menu_corps {
	background-color 	: #B6C2D3 ;
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	padding-left		: 6px ;
	padding-right		: 6px ;
	padding-top			: 2px ;
	padding-bottom		: 2px ;	
}

A.menu {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: bold ;
	text-decoration		: none ;	
}

A.menu:link {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: bold ;
	text-decoration		: none ;	
}

A.menu:visited {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: bold ;
	text-decoration		: none ;	
}

A.menu:active {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;	
}

A.menu:hover {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;	
}

.main_entete {
	background-color 	: #006699 ;
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 13px ;
	color				: #E9F2FC ;
	font-weight			: bold ;
	padding-left		: 5px ;
	padding-right		: 5px ;
	padding-bottom		: 5px ;
}

.main_corps {
	background-color 	: #B6C2D3 ;
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 12px ;
	color				: #000066 ;
	font-weight			: normal ;
	padding-left		: 6px ;
	padding-right		: 6px ;
	padding-top			: 6px ;
	padding-bottom		: 6px ;	
}

A.item_nom {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.item_nom:link {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.item_nom:visited {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.item_nom:hover {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.item_nom:active {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.effet_nom {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

A.effet_nom:link {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

A.effet_nom:visited {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

A.effet_nom:hover {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

A.effet_nom:active {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

.item_stats {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}

A.spell_nom {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.spell_nom:link {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #003399 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.spell_nom:visited {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.spell_nom:hover {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

A.spell_nom:active {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: bold ;
	text-decoration		: none ;
}

.spell_stats {
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif	;
	font-size			: 11px ;
	color				: #000066 ;
	font-weight			: normal ;
	text-decoration		: none ;
}