BODY {
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000099;
}
H3 {
	background-color:#CCCCEB;
	font-size:12px;
	padding:5px;
}
UL {
	margin-top:0px;
}
.list, .list a {
	color:#000099;
	background-color:#E7E7F7;
}
