BODY {SCROLLBAR-TRACK-COLOR: #717690; SCROLLBAR-ARROW-COLOR: #717690; SCROLLBAR-BASE-COLOR: #717690; SCROLLBAR-3dlight-COLOR: #717690; SCROLLBAR-darkshadow-COLOR: #717690; SCROLLBAR-shadow-COLOR: #717690; SCROLLBAR-highlight-COLOR: #717690}
H2 { FONT-WEIGHT: bold; FONT-SIZE: 22pt; FONT-FAMILY:  Arial }
.header { FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY:  Arial }
.default { font-size: 11pt; FONT-FAMILY:  Arial }
.default_10 { font-size: 10pt; FONT-FAMILY:  Arial }
.default_9 { font-size: 9pt; FONT-FAMILY:  Arial }
.cardlink { font-size: 11pt; FONT-FAMILY:  Arial; text-decoration : none }
.cardlink:link { font-size: 11pt; FONT-FAMILY:  Arial }
.cardlink:visited { font-size: 11pt; FONT-FAMILY:  Arial; color: black; text-decoration : none }
.cardlink:hover { font-size: 11pt; FONT-FAMILY:  Arial; text-decoration : underline }
.premium { font-size: 11pt; FONT-FAMILY:  Arial; color: #C19D31 }
.index { font-size: 11pt; FONT-FAMILY:  Arial }
.index3 { font-size: 10pt; FONT-FAMILY:  Arial }
.index2 { font-size: 9pt; FONT-FAMILY:  Arial }
.small { font-size: 10px; FONT-FAMILY:  Arial }
.small_red { font-size: 10px; FONT-FAMILY:  Arial; COLOR: red }
A:Link { color: Blue }
A:Hover  { color: Blue; text-decoration: underline; }
A:Visited  { color: Blue; text-decoration: none;}

.menu_left {
	width : 200;
	height: 20;
	background-color : #000000;
	color: white;
	font-size : 10pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 1px;
	z-index: 0;
	onmouseover : ;
   	onmouseout : ;
}
.menu {
	width : 120;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 0;
	onmouseover : ;
   	onmouseout : ;
}
.menu_small {
	width : 80;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 0;
	onmouseover : ;
   	onmouseout : ;
}
.menu_large {
	width : 160;
	height : 20;
	background-color : #000000;
	color: white;
	font-size : 7pt;
	FONT-WEIGHT: bold;
	FONT-FAMILY : verdana;
	text-align : center;
	text-decoration : none;
	padding : 3px;
	z-index: 0;
	onmouseover : ;
   	onmouseout : ;
}
.submenu {
	width : 160;
	position : absolute;
	background-color : #000000;
	color: white;
	text-decoration : none;
	font-size : 10pt;
	FONT-FAMILY : arial;
	text-align : left;
	padding : 5px;
	z-index: 0;
}
.submenuLink {
	color: white;
	text-decoration : none;
	FONT-FAMILY : arial;
	width : 100%;
}
.submenuLink:link {
	color: white;
	width : 100%;
	FONT-FAMILY : arial;
	padding : 2px;
	text-decoration : none;
}
.submenuLink:visited {
	color: white;
	width : 100%;
	FONT-FAMILY : arial;
	padding : 2px;
	text-decoration : none;
}
.submenuLink:active {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	FONT-FAMILY : arial;
	text-decoration : none;
}
.submenuLink:hover {
	color : #000000;
	background : #FEFEFE;
	width : 100%;
	FONT-FAMILY : arial;
	text-decoration : none;
}