/* Local tdg-imageset.css for thedruidsgrove style
   Based on prosilver

   bde 2015-09-08
*/

/* Local imageset items */
.imageset.site_logo {
	background-image: url("./images/tdg-header-3.png");
	padding-left: 0;
	padding-top: 0;
	width: 448px;
	height: 84px;
}
