body {  font-family: Verdana, sans-serif; font-size: 8pt;
	scrollbar-face-color: #392439;
	scrollbar-highlight-color: #DED3CE;
	scrollbar-shadow-color: #392439;
	scrollbar-3dlight-color: #392439;
	scrollbar-arrow-color:  #94796B;
	scrollbar-track-color: #94796B;
	scrollbar-darkshadow-color: #392439;
}

.outforum {font-family: Verdana, sans-serif; font-size: 7pt; color: #D2BB96;}
a.outforum:link {  color: #CBB6DB; text-decoration: none;}
a.outforum:visited {  color: #CBB6DB; text-decoration: none;}
a.outforum:active {  color: #CBB6DB; text-decoration: none;}
a.outforum:hover {  color: #CBB6DB; text-decoration: underline;}
