BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: White;
	FONT-SIZE: 10pt;
}
.default {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: White;
	FONT-SIZE: 10pt;
}
.title {
	COLOR: #E7C874;
	FONT-SIZE: 14pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.subtitle {
	COLOR: #E7C874;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.subtitle2 {
	COLOR: #E7C874;
	FONT-SIZE: 11pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.footer {
	COLOR: #E7C874;
	FONT-SIZE: 8pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.detailtext {
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.blackdetailtext {
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #000000;
}
.whitedetailtext {
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #ffffff;
}
.reddetailtext {
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #990000;
}
.blacktext {
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #000000;
}
.whitetext {
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #ffffff;
}
.redtext {
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #990000;
}
.largeblacktext {
	FONT-SIZE: 14pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #000000;
}
.largewhitetext {
	FONT-SIZE: 14pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #ffffff;
}
.largeredtext {
	FONT-SIZE: 14pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : #990000;
}
.EventCalendarHead {
	BACKGROUND-IMAGE: url(images/gold.gif);
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: Black;
}
.redtablecell {
	BACKGROUND-IMAGE: url(images/redgradient.gif);
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #FFFFFF;
}
.goldtablecell {
	BACKGROUND-IMAGE: url(images/gold.gif);
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #990000;
}
.silvertablecell {
	BACKGROUND-IMAGE: url(images/granite.gif);
	FONT-SIZE: 10pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}
A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #990000;
}
