/*
Based on the original Style Sheet for the fisubsilver Theme for phpBB version 2+
Edited by Daz
http://www.forumimages.com
*/
/* General page style. The scroll bar colours only visible in IE5.5+ */

body{
background: #000000;
color: silver;
font:11px Verdana,Arial,Helvetica,sans-serif;
/*scrollbar-3dlight-color: #000000;
scrollbar-arrow-color: #dd6900;
scrollbar-darkshadow-color: #000000;
scrollbar-face-color: #ffffff;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color: #ffffff;
scrollbar-track-color: #ffffff  */
}

/* General font families for common tags */
font,th,td,p{color:silver; font:12px Verdana,Arial,Helvetica,sans-serif}
/*a:link,a:active,a:visited,a.postlink:link{color:#dd6900;text-decoration:none}
a:hover{color:#767676;text-decoration:underline} */
a:link { 
 color: yellow;
 text-decoration: none;
}

a:visited {
 color: #F5D872;
 text-decoration: none;
}

a:active {
 color: white;
 text-decoration: underline;
}

a:hover {
 color: white;
 text-decoration: underline;
}

.postbody{font-size:12px}

hr{border:0px solid #005f90; border-top-width:1px; height:0px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#000000;border:1px solid #005f90}

/* This is the outline round the main forum tables */
.forumline{background: #005f90;border: 0px}

/* This is for the error messages that pop up */
.errorline	{ background-color: #add8e6; border:1px solid #98aab1}

/* Main table cell colours and backgrounds */
td.row1{background:#000000}
td.row2{background:#000000}
td.row3{background:#000000}

/*
This is for the table cell above the Topics,Post & Last posts on the index.php page
By default this is the fading out gradiated silver background.
However,you could replace this with a bitmap specific for each forum
*/
td.rowpic{background:#01344f}

/* Header cells - the blue and silver gradient backgrounds */
th {color:white; background:#01344f; font-size:11px; font-weight:bold; height:25px}

td.cat,td.cathead,td.catsides,td.catleft,td.catright,td.catbottom{
background:#01344f; border-width:1px; height:28px}

/*
Setting additional nice inner borders for the main table cells.
The names indicate which sides the border will be on.
Don't worry if you don't understand this,just ignore it:-)
*/
td.cat,td.cathead,td.catbottom{border-width:0px; height:28px}
th.thhead,th.thsides,th.thtop,th.thleft,th.thright,th.thbottom,th.thcornerl,th.thcornerr{
border-width:0px; font-weight:bold; height:28px}

td.row3right,td.spacerow{background:#01344f; border-width:0px}


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{color:silver; font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

.subtitle,h2{color:silver; font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* General text */
.gen{font-weight: bold; font-size:12px}
.genmed{font-size:11px}
.gensmall{font-size:10px}

/* Forum category titles and forum links*/
.cattitle,.forumlink{font-weight:bold; letter-spacing:1px}
a.cattitle,a.cattitle:visited{font-weight:bold; letter-spacing:1px;
color:yellow;text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}

/* titles for the topics:could specify viewed link colour too */
.topictitle{color:#ff0001;font-size:11px;font-weight:bold}
/* a.topictitle:hover{color:#dd6900} */

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{color:silver;font-size:11px}

/* Location,number of posts,post date etc */
.postdetails{color:silver;font-size:10px}

/* The content of the posts (body of text) */
a.postlink:visited{color:#5493b4;text-decoration:none}

/* Quote & Code blocks */
.code{background:#01344f; border:1px solid #005f90; color:yellow;
font:11px Courier,'Courier New',sans-serif}

.quote{background:#01344f; border:1px solid #005f90; color:white;
font:11px/125%  Verdana,Arial,Helvetica,sans-serif}

/* Copyright and bottom info */
.copyright{font:10px Verdana,Arial,Helvetica,sans-serif}
/*a.copyright{color:#ff0002 }
a.copyright:hover{color:#ff0002;text-decoration:underline} */

/* Form elements */
input,textarea,select{ background: black; border-color:#005f90;
border-style: solid; color:silver;
font:normal 11px Verdana,Arial,Helvetica,sans-serif}

/* The text input fields background colour */
input.post,textarea.post,select{background: black;font:normal 11px Verdana,Arial,Helvetica,sans-serif}
input{text-indent:2px}

/* The buttons used for bbCode styling in message post */
input.button{ font:11px Verdana,Arial,Helvetica,sans-serif}


/* The main submit button option */
#input.mainoption{ font-weight:bold} 

/* None-bold submit button */
# input.liteoption{font-weight:normal} 

/* This is the line in the posting page which shows the rollover
help line. This is actually a text box,but if set to be the same
colour as the background no one will know;)
*/
.helpline{background:#01344f;border-style:none}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formie.css");
