A:{text-decoration: none;color:#ffffff;}
A:link{text-decoration:none;color:#ffffff;}
A:visited{text-decoration:none;color:cornsilk;}
A:hover{text-decoration: underline;color:#ff0000;}

.subject {
	background:#5f8f8f;
}

.tree {line-height:90%;font-size:medium;color:#41ffd3;}

pre { font-family:"‚l‚r ‚oƒSƒVƒbƒN","Osaka",sans-serif;}
