H1 {text-align:left; font: bold 16px "Verdana", "Arial"}

H2 {text-align:left; font: bold 13px "Verdana", "Arial"} 

P  {text-align:left;
    text-indent:0pt;
    font: 13px "Arial", "verdana"}
P.left {text-align:left; text-indent:0pt; font: 13pt "arial", "verdana"}

A:link {color:#0033CC;
        text-decoration:none}
A:visited {color:#003399;text-decoration:none}
A:hover {color:#0033FF; text-decoration: underline}
A:active {color:#0033FF; text-decoration: underline}

BLOCKQUOTE {text-align:left;
    text-indent:0pt;
    font: 10pt "Verdana", "Arial"}
h3 {  font: bold 13px "Verdana", "Arial"; text-align:center;}
ol {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; word-spacing: normal; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; list-style-position: outside; list-style-type: lower-roman; position: relative; left: auto; clip:   rect(   ); height: auto}
.psmall { text-align:left; text-indent:0pt; font: 10px "Arial", "verdana"}
.update {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.qote { text-align:left; font: italic normal 11px "Verdana", "Arial"}
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
