/* CSS document */

body{
font-family:arial,Osaka,sans-serif,verdana;
color:#111;
text-align:center;
background:url(img/back.jpg);
}

*{margin:0;padding:0;line-height:160%;}
html,body{margin:0; padding:0}
img{border:none;}
ul,ol{margin:0;padding:0;}
ul li{list-style:none;list-style-postion:inline}
ul li a{text-decoration:none;border:none;}
h2,h3,h3,h4,h5{margin:0;padding:0;}
.c_f{ clear:both;}

#basic{
width:800px;
background:#fefefe;
text-align:left;
margin:0 auto;
}
/*header*/
#header{
height:250px;
background:url(img/ten_top.jpg) no-repeat;
margin-bottom:15px;
}
h1{ padding:0 0 0 0;}
h1 a{
height:250px;
display:block;
}
h1 a span{ display:none;}
/*nav*/
#global-navi{
width:30%;
padding:14px 0 0 11px;
position:relative;
float:left;
font-size:13px;
color:#555;
}

#nav_up_ads { border-bottom:#ddd solid 2px;}
#nav_under_ads { margin-bottom:10px; border-top:#ddd solid 2px;}

#global-navi ul li{  padding:4px; border-bottom:#e9e9e9 solid 1px;}
#global-navi .nav_list li{ padding:0; border:#ddd solid 1px; margin-bottom:1px;}

#global-navi .nav_list #n1{
padding:0 5px 0 0;
font-size:16px;
font-weight:bold;
color:#666;
border:none;
text-align:center;
}

#global-navi .nav_list{
margin:3px 0;
padding:6px;
background:#f2f2f2;
border:#ddd solid 1px;
}
.nav_list li a{
padding: 4px;
background:#f9f9f9;
display:block;
text-decoration:none;
border:#fff solid 2px;
color:#333;
}
.nav_list #cl1 a,
.nav_list #cl2 a,
.nav_list #cl3 a,
.nav_list #cl4 a{
padding:4px;
background:#deeef5;
border:#fff solid 1px;
font-weight:bold;
}
.nav_list #cl1 a:hover,
.nav_list #cl2 a:hover,
.nav_list #cl3 a:hover,
.nav_list #cl4 a:hover{
background:#f0fcfe;
}
.nav_list li a:hover{
background:#fff;
color:#666;
}
#content-block{
width:65%;
padding:10px;
position:relative;
float:right;
font-size:14px;
line-height:250%;
background:#fff;
}

/*content-block*/
h2{
margin:15px 0;
padding:0 2px;
border-bottom:#000 solid 2px;
letter-spacing:-1px;
font-size:20px;
}

#content-block .link_title,h3{
margin:10px 0;
border-bottom:#aaa solid 1px;
font-weight:bold;
color:#004d6e;
font-size:14px;
letter-spacing:-1px;
}

#content-block ul li,
#content-block p{ line-height:250%;}
#content-block .reference li{ line-height:200%; padding-bottom:10px;}
/*-- under_wrap --*/
#under_wrap{
padding:12px;
text-align:right;
font-size:11px;
color:#666;
background:#f0fcfe;
border-top:#ccc solid 1px;
}

ul#footer{font-size:12px;; border-top:#ccc solid 1px; padding:7px 10px; color:#555;}
ul#footer li{line-height:200%; font-size:11px;}

#under_wrap p{
letter-spacing:1px;
font-size:11px;
padding:3px;
line-height:100%;
}
