A {text-decoration: none}
A:Hover {text-decoration: underline}

.title {
color: #660000;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none}

.welcome {
	color: #505050;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
}

.ref {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
; background-color: #ffffcc
}

.vis {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
; background-color: #cccccc
}

.menuOff {
	color: #000000;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
}

.menuOn {
	color: #000000;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline
}

.myInput {COLOR: #000000; FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}

.color1 {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
; background-color: #ffffcc
}

.color3 {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
; background-color: #e9e9e9
}

.color2 {
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
; background-color: #cccccc
}

.adminlink
{
	color: #CC0000;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none
}
.navbarlinks {
	color: #666666;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
}
.navbarheader {
color: #000000;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none
}

.navbarsublinks {
color: #000000;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration: none
}
.navbarsubmit {
	color: #666666;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none
}
.navbarguildnames {
color: #660000;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration: none
}

.newscontent {
color: Black;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
text-decoration: none
}
.newsdate {
	color: #666666;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none
}
.newssubject {
color: #660000;
font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none
}
.smallcomments {
font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
text-decoration: none;
color: #000000
}
.smallcommentshi {
color: #660000;
font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
text-decoration: none
}
.smallcommentsindent { font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none; color: #333333; text-indent: 10pt; clip:  rect(   )}
.maplink {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #003333}
.mapdate {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.new {  color: #FFFFFF; font-family: Verdana, Verdana, Arial, Helvetica, sans-serif}
.pop {  color: #990000; font-family: Verdana, Verdana, Arial, Helvetica, sans-serif}
.descript {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.numlinks {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.rateit {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003333; text-decoration: none}
.prevnext {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFF00; text-decoration: none}
.boardlinks {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.forumlinks {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #003333}
.otherdate {  font-family: Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #660000}.calendar_topic {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; text-decoration: none; background-color: #eeeeee}
.calendar_topic_header { font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none; background-color: #cccccc}
td {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.hero_title {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.grey {  font-family: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CCCCCC}

 Forms 

SELECT 		{BACKGROUND-COLOR: #f7f7f7; COLOR: #000000; FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9px}
INPUT 		{COLOR: #000000; FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}
TEXTAREA	{BACKGROUND-COLOR: #f7f7f7; COLOR: #000000; FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}
OPTION 		{BACKGROUND-COLOR: #f7f7f7; COLOR: #000000; FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}
FORM 		{FONT-FAMILY: Verdana, Verdana, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}
