.OGBar_table {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	background: url(http://www.ogaming.com/images/ogbar_bg.gif) black;
	white-space: nowrap;
}
.OGBar1_table {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	background: black;
}

img.OGBar {
  position : absolute;
  top      : 0;

}

td.OGBar {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align: top;
}

a.OGBar:link, a.OGBar:visited, a.OGBar:active {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a.OGBar:hover, a.OGBar:visited:hover {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a.OGBar_marquee:link, a.OGBar_marquee:visited, a.OGBar_marquee:active, a.OGBar_marquee:hover, a.OGBar_marquee:visited:hover {
  color: #FFFFFF;
  font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
}

select.OGBar {
	background-color:#FFFFFF;
	color:#000000;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.style1 {color: #FFFFFF}