BODY
{
  background-color: #FFFFFA;
  font-family: Arial, Verdana, Tahoma, Helvetica;
  font-size: 10pt;
  color : #000000;
}

A:link, A:visited, A:active, A:hover
{
  text-decoration: none;
  color: blue;
}

TABLE
{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position: relative;
  left: 30px;
}

TD
{
  font-size: 9pt;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  padding: 5px;
}

H1
{
  font-size: 18pt;
  font-weight: normal;
  color : #000077;
}

H2
{
  font-size: 14pt;
  font-weight: normal;
  color : #0000AA;
}

H3
{
  font-size: 10pt;
  font-weight: bold;
  color : #A000DD;
}

.COPYRIGHT
{
  font-size: 8pt;
  text-align: right;
}

.MENUBAR
{
  font-size: 10pt;
  text-align: center;
}

.TABLEHEADER
{
  font-weight: bold;
  color : #009900;
  vertical-align: bottom;
}

.LTEXT
{
  text-align: left;
}

.CTEXT
{
  text-align: center;
}

.RTEXT
{
  text-align: right;
}

