/***********************************************************************************/
/* Start of Arcadia Defined CSS Classes...

/* The category tree navication links */
.CatTreeNavStyle {
	Font-Size: 10px;
	/*Font-Weight: bold;
	color: #aaaaaa; */
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
	Background-Color: #000026;
}

/* The category inline navigation links */
.CatInlineNavStyle {
	Font-Size: 12px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

/* The sub category list section in a gallery page */
.SubCatListStyle {
	Font-Size: 12px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;	
}

/* Page navigation links ie. 'Prev Category, Page Number links and Next Category' */
.PageNavStyle {
	Font-Size: 12px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

/* Page stats ie. 'Displaying Page 1 of 2 and 30 images' */
.PageStatsStyle {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

/* User Options */
.UserOptionsStyle {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
	Background-Color: #ffffff;
}

/* Category navigation list box */				 
.CatListBoxStyle {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 10px;
}

/* Input Button for Category Nav List Box */
.CatInputStyle {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 10px;
}

/* Sort Options List Box */
.SortListBoxStyle {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 10px;
}

/* Sort Options Input button */
.SortInputStyle {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 10px;
}

.SearchBoxStyle {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 10px;
}

/* Any of the text that's displayed along with the thumb */
.ThumbInfoStyle {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

/* Any of the text that's displayed along with the full size media */
.FullSizeInfoStyle {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

/* The Header of the Table Style */
.TableHeaderStyle {
	Font-Size: 14px;
	Font-weight: Bold;
	Font-Family: Verdana, Arial;
}
	
/* The style of the table of thumbs ie. <table>...</table> */
table.ThumbTableStyle {
	background-color: #D2D2D2;
}
	
/* Style of the actual <td>..</td> tag for the Thumb */
td.ThumbTableTDStyle {
	/*background-color: #cbc6c3;*/
}

/* Copyright displayed at the bottom of page. */
.Copyright {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

.error {
	color: #FF0000;
}

/* End of Arcadia Defined CSS Classes...
/***********************************************************************************/

/***********************************************************************************/
/* Define anything else you wish here... */

A:link, A:active {
	text-decoration : none; 
	color : #aaaaaa; 
	background : transparent;
} 

A:visited {
	text-decoration : none; 
	color : #aaaaaa; 
	background : transparent;
} 

A:hover {
	text-decoration : underline; 
	color : #aaaaaa; 
	background : transparent;
}

font {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

td {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

p {
	Font-Size: 10px;
	Font-Weight: normal;
	Font-Family: Verdana, Arial;
}

h3 {
	Font-Size: 11px;
	Font-Weight: bold;
	Font-Family: Verdana, Arial;
}
h2 {
	Font-Size: 12px;
	Font-Weight: bold;
	Font-Family: Verdana, Arial;
}
h1 {
	Font-Size: 13px;
	Font-Weight: bold;
	Font-Family: Verdana, Arial;
}

input {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 12px;
}

select {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 12px;
}

textarea {
	background-color: #c0c0c0;	
	color: #000000; 	
	Font-Weight: normal;
	font-family: verdana, helvetica, arial; 	
	font-size: 12px;
}

sup.new {
	color: #FF0000;
}