/* VOID'S　スタイルシート for HSK*/
/*
BODY{
margin-left:25px;
margin-right:25px;
margin-top:10px;
margin-bottom:10px;
}
*/

P{
line-height:1.3em;
}

TD{
line-height:1.3em;
}


A:link{
text-decoration:none;
color:#dfdf94;
}

A:visited{
text-decoration:none;
color:#dfdf94;
}

A:active{
text-decoration:none;
color:#ffffff;
}

DIV.center{
text-align:center;
}

DIV.right{
text-align:right;

}

DIV.left{
text-align:left;
}

DIV.indent{
padding-left:10%;

}

H1{
background-color:#444444;
width:360px;
color:#eeeeee;
margin-top:10px;
margin-bottom:10px;
text-align:right;
border-style:none;
border-width:0px;
font-size:150%;
font-weight:bold;
font-family:'Osaka',sans-serif;
}

H2{
color:#eeeeee;
text-align:left;
border-style:solid;
border-color:#cc0000;
border-width:0 0 0 5;
margin:0px;
font-size:120%;
font-family:times;
font-weight:bold;
}

SPAN.ul{
width:100%;
text-align:center;
border-style:solid;
border-color:#eeee66;
border-width:0 0 2 0;
margin-bottom:5px;
font-weight:bold;
}

SPAN.blue{
color:#ccccff;
}

SPAN.number{
font-size:40px;
}

SPAN.en{
font-family:'Times New Roman',times;
font-weight:bold;
}
SPAN.indent{
padding-left:10%;

}

EM{
font-style:normal;
font-weight:bold;
}

TABLE.top{
font-family:monotype.com,Helvetica,sans-serif;
color:#fefafb;
}













