.start
{
    FONT-WEIGHT: bold;
    BACKGROUND: #fafad2;
    CURSOR: hand;
    COLOR: maroon;
    bborder-width: 1;
    bpadding: 0em;
    ccolor: #C7002F
}
.btn
{
    FONT-WEIGHT: bold;
    CURSOR: hand;
    bborder-width: 1;
    bpadding: 0em
}
