td {font-family:arial, helvetica; font-size:11px}

.separecol {background-color:#3C402C}

.colgauche {background-color:#707D60; color:#FFFFCC}

.coldroite {background-color:#707D60; color:#FFFFFF}

.colcentre {background-color:#D5D1B0}

.fondtexte {background-color:#C2BE8C; font-family:arial, helvetica; color:#323C48; font-size:11px; font-weight:bold}

.news {background-color:#C2BE8C; font-family:arial, helvetica; color:#323C48; font-size:11px}

.contenu {background-color:#C2BE8C; font-family:arial, helvetica; color:#323C48; font-size:11px}

.titrenews {font-size:11px; font-weight:bold}

.screenshot {background-color:#C2BE8C; font-family:arial, helvetica; color:#323C48; font-size:11px; font-weight:bold}

.screenshot_liste {background-color:#A29E6C; font-family:arial, helvetica; color:#323C48; font-size:11px}

.encadrefondtexte {background-color:#687882}

.centraltext {background-color:#323C48}

body {background-color:#000000}

.menu {color:#FFFFCC; font-weight:bold; text-decoration:none}

.menu:hover {color:#FFFFCC; font-weight:bold; text-decoration:underline}

.menubeta {color:#FFFFFF; font-weight:bold; text-decoration:none}

.menubeta:hover {color:#FFFFFF; font-weight:bold; text-decoration:underline}

.chemin {background-color:#30414D; color:#FFFFFF; text-decoration:none}

.chemin:hover {background-color:#30414D; color:#FFFFFF; text-decoration:underline}

.entourechemin {background-color:#595D54;}

.titrepage {font-family:verdana, arial, helvetica;color:#FFFFFF; font-weight:bold; font-size:13px}

a {color:#222C38; text-decoration:underline}

a:hover {color:#000000; text-decoration:underline}

a.sousmenu {color:#222C38; text-decoration:none}

a.sousmenu:hover {color:#000000; text-decoration:underline}



.footer {background-color:#C2BE8C; font-family:arial, helvetica; color:#323C48; font-size:9px}

font.text {font-size:11px}



.sstitre2 {background-color:#30414D; color:#FFFFFF; background-image:url(img/stitre-mil.gif)}



.poll_question {

	font-family :  Arial, Helvetica;

font-size: 11px;

font-style: normal;

font-weight: bold;

line-height: 13px;

letter-spacing: 0;

color: #FFFFFF}



.poll_text {

	font-family :  Arial, Helvetica;

font-size: 11px;

font-style: normal;

line-height: 16px;

letter-spacing: 0;

color: #FFFFFF}



.poll_reponse {

	font-family : Arial, Helvetica;

font-size: 9px;

font-style: normal;

line-height: 16px;

letter-spacing: 0;

color: #FFFFFF}



.poll_pourcent {

	font-family : Arial, Helvetica;

font-size:9px;

font-style: normal;

line-height: 16px;

letter-spacing: 0;

text-align:right;

color: #FFFFFF}



.poll_internecontour {}

.poll_interne {background-color:#4D573F}

.poll_externe {background-color:#000000}





.cyan {color:#099999}

.orange {color:#CC6633}

.gris {color:#888888} 

.rouge {color:#F13F12}

.vert {color:#00CC00}

body.impression {  background-color: #D5D1B0}


