A:visited
{
    COLOR: white;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A:active
{
    COLOR:silver;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: white;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: silver;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
H1
{
    FONT-SIZE: 21pt;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: "Verdana", "Arial", "Helvetica", sans-serif
}
H2
{
    FONT-SIZE: 18pt;
    MARGIN-BOTTOM: 0px;
    FONT-FAMILY: "Verdana", "Arial", "Helvetica", sans-serif
}
H3
{
    FONT-SIZE: 15pt;
    FONT-FAMILY: "Verdana", "Arial", "Helvetica", sans-serif
}
H4
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: "Verdana", "Arial", "Helvetica", sans-serif
}
H5
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Verdana", "Arial", sans-serif
}
BODY
{
    FONT-SIZE: 9pt;
    MARGIN: 0px;
    FONT-FAMILY: "Verdana", "Arial", sans-serif
}
.head2
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 6px;
    FONT-FAMILY: "Verdana", "Arial", sans-serif
}
.head3
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 6px;
    FONT-FAMILY:"Verdana", "Arial", sans-serif
}
.subhead
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "Arial", "Helvetica", sans-serif
}
.link
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: "Verdana", "Arial", sans-serif
}
.text
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: "Verdana", "Arial", sans-serif
}

