<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- <#achk_ver#> -->
<html>
<head>
<script>
	<!--
	function doload()
	{
		if (parent.opener && parent.opener.parent && !parent.opener.parent.cTL) {
			var f_src = document.forms[0];
			var ctrl = eval(
				'parent.opener.' + 
				f_src.txt_ctrl.value);
			if (ctrl.value)
				ctrl.value = f_src.msg_body.value;
			else
				if (ctrl.innerHTML)
        		ctrl.innerHTML = f_src.msg_body.value;
			document.forms[1].submit();
			parent.close();
			return;
		} else if ('<#cmd#>' == 'show_jb') {
			parent.cFlag = 0;
			document.forms[0].submit();
			parent.close();
			return;
		}

		if (parent.opener && parent.opener.parent && parent.opener.parent.cTL)
		{
			parent.opener.parent.cTL.value = document.forms[0].msg_body.value;
			parent.opener.parent.cTL.form.submit();
		}

		var tmp = '<#hide#>';

		document.forms[1].action = parent.opener.service_host + parent.opener.doc_process;
		document.forms[1].submit();

		parent.opener.focus();

		if (tmp.indexOf('[dc]') == -1)
			parent.close();

	}
	// -->
	</script>
	</head>
	<body onload="javascript:doload();" bgcolor=#FFFFFF>
		<form>
			<input type=hidden name=msg_body value="<#text#>">
			<input type=hidden name=txt_ctrl value="<#txt_ctrl#>">
		</form>
		<form method=post action="<#spell_script#>">
			<input type=hidden name=hide value="<#hide#>">
			<input type=hidden name=cmd value="eos">
			<input type=hidden name=customerid value="<#customerid#>">
			<input type=hidden name=sessionid  value="<#sessionid#>">
			<input type=hidden name=ssrv_host value="<#ssrv_host#>">
		</form>
	</body>
</html>
<!-- <#achk_ver#> -->	
