	* {
	font-size:100%;
	line-height: 100%;
	margin:0;
	padding:0;
	}
	
	body{
	width: 100%;
	background-color: #513018;
	background-image: url(../img/back_main_00.jpg);
	background-repeat: repeat-x;
	background-position: left top;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#C4C4C4;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
	
	h3{
	height: 31px;
	background-image: url(../img/h3.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	width: 474px;
	text-align: left;
	padding-top: 20px;
	padding-left: 10px;
	color: #FFDB15;
	margin-bottom: 10px;
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	font-size: 16px;
	}
	
	h4{
	font-size: 14px;
	text-align: left;
	padding-top: 13px;
	padding-left: 13px;
	color: #D2B300;
	margin-bottom: 5px;
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	}
	
	img {
	vertical-align:bottom;
	border:0;
	}
	
	a {
	color:#785145;
	text-decoration:underline;
	}
	
	#contall{
	width: 754px;
	background-image: url(../img/back_main_01.jpg);
	background-repeat: repeat-y;
	background-position: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
	#contup{
	width: 754px;
	background-image: url(../img/back_main_03.jpg);
	background-repeat: repeat-y;
	height: 257px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
	
	#header{
	width: 710px;
	background-image: url(../img/back_main_03.jpg);
	background-repeat: repeat-y;
	text-align: left;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
	
	#headmenu{
	width: 324px;
	float: left;
	}
	
	#trial{
	width: 386px;
	float: left;
	}
	
	#quicklink{
	clear: both;
	}
	
	#contdown{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url(../img/img_25.jpg);
	padding-top: 19px;
	width: 712px;
	padding-left: 42px;
	text-align: center;
	
	}
	
	#main{
	width: 492px;
	float: left;
	background-color: #644531;
	padding-top: 10px;
	text-align: left;
	padding-left: 8px;
	margin-bottom: 10px;
	}
	#titlebar{
	background-image: url(../img/img_19.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 90px;
	}
	
	.entry{
	background-color: #000000;
	border: 1px solid #000000;
	width: 482px;
	margin-bottom: 1em;
	}
	
	.entry img{
	margin-bottom: 13px;
	}
	
	p{
	padding-right: 13px;
	padding-left: 13px;
	margin-bottom: 13px;
	line-height: 140%;
	
	}
	
	#submenu{
	width: 174px;
	float: left;
	padding-left: 16px;
	margin-bottom: 10px;
	}
	#footer{
	clear: both;
	background-image: url(../img/img_24.jpg);
	background-repeat: no-repeat;
	height: 74px;
	font-size: 10px;
	color: #6F4A40;
	padding-top: 30px;
	text-align: center;
	width: 690px;
	background-position: left top;
	padding-right: 20px;
	}
