.body_table { background-color: #FFFFFF; border: #000000; border-style: solid; 
border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 
1px} body { font-family: "tahoma", "±¼¸²"; font-size: 9pt;background-color: #676F8B; 
margin-top: 5px; margin-bottom: 5px} td { font-family: "Verdana", "±¼¸²"; font-size: 
9pt; color: #000000} .text1 { font-family: "Verdana", "±¼¸²"; font-size: 9pt; color: 
#FFFFFF} a.m:link { font-family: "tahoma"; font-size: 11 ; text-decoration:none; 
color:#000000;} a.m:visited { font-family: "tahoma"; font-size: 11 ; text-decoration: 
none; color: #000000;} a.m:hover { font-family: "tahoma"; font-size: 11 ; text-decoration: 
underline; color:#305A61;} a.m:active { font-family: "tahoma"; font-size: 11 ; 
text-decoration: none; color:#000000;} td.t { background-color:#496AA0; font-family:"verdana", 
"±¼¸²"; font-size:13; color:#FFFFFF;line-height:140%}
a.g:link { font-family: "tahoma"; font-size: 11 ; text-decoration:none; color:white;} 
a.g:visited { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color: white;} 
a.g:hover { font-family: "tahoma"; font-size: 11 ; text-decoration: underline; color:#305A61;} 
a.g:active { font-family: "tahoma"; font-size: 11 ; text-decoration: none; color:white;}