/* Based on the original Style Sheet for the fisubsilver v2 Theme for phpBB version 2+
Edited by Daz  - http://www.forumimages.com - last updated 26-06-03 */

/* The content of the posts (body of text) */
body{background:#ecf0f6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
scrollbar-3dlight-color:#d1d7dc;
scrollbar-arrow-color:#006699;
scrollbar-darkshadow-color:#98aab1;
scrollbar-face-color:#dee3e7;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#dee3e7;
scrollbar-track-color:#efefef}

/* General font families for common tags */
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}

/* General text */
.gensmall{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

/* General page style */
a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#dd6900}

/* titles for the topics:could specify viewed link colour too */
.topictitle{font-size:11px;font-weight:bold}
a.topictitle:visited{color:#5493b4}
a.topictitle:hover{color:#dd6900}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name{font-size:11px;font-weight: bold}

hr{border: 0px solid #ffffff;border-top-width:1px;height:0px}

/* Category gradients*/
td.cat{font-weight:bold;letter-spacing:1px;background:#d9e2ec url(images/cellpic1.gif);
height:29px;text-indent:4px}

/* Main table cell colours and backgrounds */
.row1{background:#eaedf4}
.row2,.helpline{background:#d9e2ec}
.row3{background:#cedcec}
td.spacerow{background:#cad9ea}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic{background:url(images/cellpic2.jpg) #ffffff repeat-y}

/* Table Header cells */
th{background:#005eb2 url(images/cellpic3.gif);color:#deeef3;font-size:11px;
font-weight:bold;height:27px;white-space:nowrap;text-align:center;padding-left:8px;padding-right:8px}

/* This is the border line & background colour round the entire page */
.bodyline{background:#ffffff;border:1px solid #98aab1}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #006699}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#5c81b1}

.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav{font-size:11px;font-weight:bold}
.postbody{font-size:12px;line-height:125%}

/* Location,number of posts,post date etc */
.postdetails{font-size:10px;color:#00396a}

/* Quote blocks */
.quote{background:#fafafa;border:1px solid #d1d7dc;color:#444444;
font-size:11px;line-height:125%}

/* Code blocks */
.code{background:#fafafa;border:1px solid #d1d7dc;color:#006600;
font:12px Courier,"Courier New",sans-serif;padding:5px}

/* This is for the error messages that pop up */
.errorline{background:#add8e6;border:1px solid #006699}

/* Form elements */
form{display:inline}

input{font:11px Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:11px Verdana,Arial,Helvetica,sans-serif}

input.post,textarea.post{background:#ffffff;border:1px solid #000000;
font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

input.button,input.liteoption,.fakebut{border:1px solid #000000;background:#fafafa;font-size:11px}
input.catbutton{border:1px solid #000000;background:#fafafa;font-size:10px}
input.mainoption{border:1px solid #000000;background:#fafafa;font-size:11px;font-weight:bold}

a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}

/* This is the line in the posting page which shows the rollover
help line. Colour value in row2 */
.helpline{border:0 solid;font-size:10px}

/* This is the gradient background at the top of the page */
.topbkg{background: #dbe3ee url(images/cellpic_bkg.jpg) repeat-x}
.topnav{font-size:10px;background: #e5ebf3 url(images/cellpic_nav.gif) repeat-x;color:#dd6900;
height:21px;white-space:nowrap;border: 0px solid #91a0ae;border-width: 1px 0px 1px 0px}

/* Admin & Moderator Colours MODification */
.admin,.mod{font-size:11px;font-weight:bold}
.admin,a.admin,a.admin:visited{color:#ffa34f}
.mod,a.mod,a.mod:visited{color:#006600}
a.admin:hover,a.mod:hover{color:#dd6900}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

/* Gets rid of the need for border="0" on hyperlinked images */
img{border:0 solid}

.table1 { 
   BORDER-RIGHT: #000000 1px dashed; 
   BORDER-TOP: #000000 1px dashed; 
   FONT-SIZE: 11px; 
   BORDER-LEFT: #000000 1px dashed; 
   COLOR: #000000; 
   LINE-HEIGHT: 125%; 
   BORDER-BOTTOM: #000000 1px dashed; 
   FONT-FAMILY: Verdana, Arial; 
   BACKGROUND-COLOR: #efefef 
} 

/* Background images for tables */
.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(images/tb4_r.gif) no-repeat;width:8px}

.imgfade{filter:alpha(opacity=50); -moz-opacity:0.5;margin-left:3px}
.imgfull{filter:alpha(opacity=100); -moz-opacity:1;margin-left:3px}

/*-- mod : profile cp --*/
.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {
	color: #ffa34f;
	font-weight: bold;
}
a.admincolor:hover {
	color:	{T_BODY_HLINK};
	text-decoration: underline;
}

.lessadmincolor, a.lessadmincolor, a.lessadmincolor:link, a.lessadmincolor:active, a.lessadmincolor:visited {
	color: #fc010d;
	font-weight: bold;
}
a.lessadmincolor:hover {
	color:	{T_BODY_HLINK};
	text-decoration: underline;
}

.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {
	color: #006600;
	font-weight: bold;
}
a.modcolor:hover {
	color:	{T_BODY_HLINK};
	text-decoration: underline;
}

.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {
	color : {T_BODY_LINK};
}
a.usercolor:hover {
	color: {T_BODY_HLINK};
	text-decoration: underline;
}
/*-- fin mod : profile cp --*/

/* Code blocks */ 
.codetitle{background: #cdd6de;border:1px solid #9ca9b4;padding:5px;width:90%;font-weight:bold; text-align:left; 
margin-top:10px} 
.codediv{background:#fafafa;border: 1px solid #9ca9b4;color:#006600;border-top:0; 
font:12px Courier,"Courier New",sans-serif;padding:5px;overflow:auto;width:90%;height:50px;text-align:left}

