body,td { font-family: Arial, Tahoma, Impact, Times New Roman, ‚l‚r –¾’©, ‚l‚r ƒSƒVƒbƒN ; font-size: 12px; }
.BaseFont { FONT-SIZE: 10pt; COLOR: #CCCCCC; FONT-FAMILY: Verdana, Arial,‚l‚r ‚oƒSƒVƒbƒN, Impact, Helvetica}
.MTitle { FONT-SIZE: 13px; TEXT-ALIGN: center; COLOR: white; FONT-FAMILY: Times New Roman, Arial, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 3px solid; BORDER-TOP: #DDDDDD 3px solid; BORDER-LEFT: #DDDDDD 3px solid; BORDER-BOTTOM: #222222 3px solid; BACKGROUND-COLOR: #808080}
.MList { FONT-SIZE: 12px; TEXT-ALIGN: center; COLOR: white; FONT-FAMILY: Arial, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BORDER-RIGHT: #222222 2px solid; BORDER-TOP: #DDDDDD 2px solid; BORDER-LEFT: #DDDDDD 2px solid; BORDER-BOTTOM: #222222 2px solid; BACKGROUND-COLOR: #000000}
.RT5 { FONT-SIZE: 12px; white-space: nowrap; TEXT-ALIGN: left; COLOR: white; FONT-FAMILY: Times New Roman, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BACKGROUND-COLOR: #555555}
.RL5 { FONT-SIZE: 12px; white-space: nowrap; TEXT-ALIGN: left; COLOR: white; FONT-FAMILY: Times New Roman, ‚l‚r ‚oƒSƒVƒbƒN, verdana, helvetica; BACKGROUND-COLOR: #333333}
A {COLOR: #000000; TEXT-DECORATION: none}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:hover {COLOR: #FFFFFF; TEXT-DECORATION: underline}
.C_A{background-color:#444444;text-align: center}
.C_B{background-color:#668888;text-align: left}
.C_C{background-color:#668888;text-align: left; white-space: nowrap}
