

.mobile_banner,.mobile_banner_inner,.mobile_banner .mobile_banner_button
{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

.mobile_banner
{
position:absolute;
top:0;
left:0;
margin:0 auto;
max-height:0;
overflow:hidden;
max-width:600px;
width:100%;
font-size:8px;
-webkit-font-smoothing:antialiased;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}

.mobile_banner_inner
{
padding:2em 0;
position:relative;
display:block;
border-width:1px;/*tapatalk*/
border-style:solid;
-webkit-border-radius:3px;/*tapatalk*/
border-radius:3px/*tapatalk*/
}

.mobile_banner_active .mobile_banner
{
max-height:999px;
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}

.mobile_banner_heading,.mobile_banner_subheading
{
margin:0;
padding:0;
text-align:center
}

.mobile_banner_heading
{
font-size:2.250em;
margin-bottom:.188em;
padding:0 2em
}

.mobile_banner_subheading
{
font-weight:normal;
font-size:1.8em
}

.mobile_banner_close
{
position:absolute;
top:1.1em;
right:1.1em;
overflow:hidden;
opacity:.3;
width:2.125em;/*tapatalk*/
height:2.125em;/*tapatalk*/
background-image:url('x.png');
background-size:2.125em 2.125em;/*tapatalk*/
background-repeat:no-repeat;
background-position:0px 0px;
text-indent:-9999px
}

@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi)
{
.mobile_banner_close
{
background-image:url('x.png');
background-size:2.125em 2.125em;/*tapatalk*/
}
}

.mobile_banner_controls
{
display:block;
margin-top:1.5em;
text-align:center
}

.mobile_banner_button
{
display:inline-block;
padding:0 1.1em;
height:2.25em;
text-decoration:none;
font-size:1.85em;
line-height:2.15em;
margin:0 5px;/*tapatalk*/
-webkit-tap-highlight-color:rgba(0,0,0,0.0)
}

.mobile_banner_button
{
position:relative;
-webkit-border-radius:3px;/*tapatalk*/
border-radius:3px;/*tapatalk*/
background-clip:padding-box;
-webkit-background-clip:padding-box;
background-color:#fff;
-webkit-box-shadow:inset 0 0 0 0.5px rgba(255,255,255,.1);/*tapatalk*/
box-shadow:inset 0 0 0 0.5px rgba(255,255,255,.1);/*tapatalk*/
font-weight:bold;
z-index:100
}

.mobile_banner_button::after
{
position:absolute;
top:-1px;/*tapatalk*/
right:-1px;/*tapatalk*/
bottom:-1px;/*tapatalk*/
left:-1px;/*tapatalk*/
border:1px solid rgba(35,31,32,.55);/*tapatalk*/
-webkit-box-shadow:0 1.5px 0 -0.5px rgba(255,255,255,.2);/*tapatalk*/
box-shadow:0 1.5px 0 -0.5px rgba(255,255,255,.2);/*tapatalk*/
-webkit-border-radius:4px;/*tapatalk*/
border-radius:4px;/*tapatalk*/
content:""
}

.mobile_banner_button::before
{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
border-top:1px solid rgba(255,255,255,.4);/*tapatalk*/
-webkit-border-radius:3px;/*tapatalk*/
border-radius:3px;/*tapatalk*/
content:""
}

.mobile_banner_button:active,.mobile_banner_button.active
{
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.7);/*tapatalk*/
box-shadow:inset 0 1px 3px rgba(0,0,0,.7)/*tapatalk*/
}

.mobile_banner_button:active::before,.mobile_banner_button.active::before
{
border-width:0;
background-color:rgba(0,0,0,.13)
}

.mobile_banner_install
{
background-image:-webkit-linear-gradient(top,#68b1dc,#246991);
background-image:-moz-linear-gradient(top,#68b1dc,#246991);
background-image:-ms-linear-gradient(top,#68b1dc,#246991);
background-image:-o-linear-gradient(top,#68b1dc,#246991);
background-image:linear-gradient(top,#68b1dc,#246991);
background-color:#68b1dc;
color:#fff;
text-shadow:0 -1px 0 rgba(0,0,0,.35)/*tapatalk*/
}

.mobile_banner_install:active,.mobile_banner_install.active
{
color:rgba(255,255,255,.8);
text-shadow:0 -1px 0 rgba(0,0,0,.25)/*tapatalk*/
}

.mobile_banner_open
{
background-image:-webkit-linear-gradient(top,#fff,#ddd);
background-image:-moz-linear-gradient(top,#fff,#ddd);
background-image:-ms-linear-gradient(top,#fff,#ddd);
background-image:-o-linear-gradient(top,#fff,#ddd);
background-image:linear-gradient(top,#fff,#ddd);
background-color:#ddd;
color:rgba(0,0,0,.8);
text-shadow:0 1px 0 rgba(255,255,255,.9)/*tapatalk*/
}

.mobile_banner_open:active,.mobile_banner_open.active
{
color:rgba(0,0,0,.68);
text-shadow:0 1px 0 rgba(255,255,255,.9)/*tapatalk*/
}

.banner_theme_dark .mobile_banner_inner
{
border-color:rgba(255,255,255,.1);
background:#fff;
background:rgba(255,255,255,.05);
color:#fff
}

.mobile_banner_active .banner_theme_dark
{
display:block
}

.banner_theme_dark .mobile_banner_subheading
{
color:rgba(255,255,255,.5)
}

.banner_theme_light
{
max-width:100%;
max-height:999px;
/*height:264px;
margin-top:-264px*/
}

.banner_theme_light .mobile_banner_inner
{
border-width:0;
border-bottom-width:1px; /*tapatalk*/
-webkit-border-radius:0;
border-radius:0;
border-color:#c7c7c7;
background:#f0f0f0;
color:#4c4c4c
}

.mobile_banner_active .banner_theme_light.mobile_banner_animate
{
margin-top:0;
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-ms-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
transition:all .2s ease-out
}

.banner_theme_light .mobile_banner_subheading
{
color:#9c9c9c
}

.banner_theme_light .mobile_banner_close
{
top:2.3em;
right:2.3em;
background-position:0px 0px;
opacity:.2
}

.banner_theme_light .mobile_banner_button::after
{
border:1px solid rgba(35,31,32,.35);/*tapatalk*/
-webkit-box-shadow:0 1.5px 0.5px -0.5px rgba(0,0,0,.1);/*tapatalk*/
box-shadow:0 1.5px 0.5px -0.5px rgba(0,0,0,.1)/*tapatalk*/
}

.banner_theme_light .mobile_banner_open
{
background-image:-webkit-linear-gradient(top,#ededed,#e5e5e5);
background-image:-moz-linear-gradient(top,#ededed,#e5e5e5);
background-image:-ms-linear-gradient(top,#ededed,#e5e5e5);
background-image:-o-linear-gradient(top,#ededed,#e5e5e5);
background-image:linear-gradient(top,#ededed,#e5e5e5);
color:#777
}

.banner_theme_light .mobile_banner_install
{
background-image:-webkit-linear-gradient(top,#68b1dc,#337fae);
background-image:-moz-linear-gradient(top,#68b1dc,#337fae);
background-image:-ms-linear-gradient(top,#68b1dc,#337fae);
background-image:-o-linear-gradient(top,#68b1dc,#337fae);
background-image:linear-gradient(top,#68b1dc,#337fae)
}

.banner_theme_light .mobile_banner_install::after
{
border:1px solid #31749f;/*tapatalk*/
border-bottom-color:#245f84;
border-top-color:#3c87b7
}

.banner_theme_light .mobile_banner_button.active::after,.banner_theme_light .mobile_banner_button:active::after
{
border-color:#154867
}

.banner_theme_light .mobile_banner_install.active::after,.banner_theme_light .mobile_banner_install:active::after
{
border-color:#154867
}

.banner_theme_light .mobile_banner_open.active::after,.banner_theme_light .mobile_banner_open:active::after
{
border-color:#636363
}

.banner_device_iphone
{
font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif
}

.banner_format_tablet
{
margin:2em auto;
font-size:6px; /*tapatalk*/
}


a.mobile_banner_button:link   {text-decoration: none}
a.mobile_banner_button:visited{text-decoration: none}
a.mobile_banner_button:hover  {text-decoration: none}
a.mobile_banner_button:active {text-decoration: none}
a.mobile_banner_install:link   {color: #FFFFFF}
a.mobile_banner_install:visited{color: #FFFFFF}
a.mobile_banner_install:hover  {color: #FFFFFF}
a.mobile_banner_install:active {color: #FFFFFF}

/* for ipb/smf compatibility */
h3.mobile_banner_heading
{
    color: #4C4C4C;
    background:#f0f0f0;
    border: 0;
    line-height: 1.212em;
}
