
.boldred {  font-family: Arial; font-size: 12px; font-style: none; font-weight: bold; color: #CC0000; text-decoration: none;}
.boldredbig {  font-family: Arial; font-size: 16px; font-style: none; font-weight: bold; color: #CC0000; text-decoration: none;}
.red {  font-family: Arial; font-size: 12px; font-style: italic; font-weight: none; color: #CC0000; text-decoration: none;}
.mastheadtext {  font-family: Arial; font-size: 10px; font-style: none; font-weight: bold; color: #CCCCCC; text-decoration: underline;}
a.mastheadtext:hover {  font-family: Arial; font-size: 10px; font-style: none; font-weight: bold; color: #CCCCCC; text-decoration: none;}
.bodytextlink {  font-family: Arial; font-size: 12px; font-style: italic; font-weight: normal; color: #CC0000; text-decoration: underline;}
select { font-size: 11px; color: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND-COLOR: #D6CCB4 }
input {	fonr-size: 10px; color: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND-COLOR: #D6CCB4 }
textarea { color: #000000; font-family: Tahoma, Arial, sans-serif; background-color: #D6CCB4 }
.bodyform { font-size:10px;color: #FFFFFF; font-family: Tahoma, Arial, sans-serif; }
.bodytitle { font-size:12px;color: #FFFFFF; font-family: Arial; font-weight: bold; }
.bodytext { font-size:12px;color: #EBE5D9; font-family: Arial; font-weight: normal; }
.bodytextsmall { font-size:10px;color: #333333; font-family: Arial; font-weight: normal; }

.itemupdate a:link{color: #333333;}
.itemupdate a:visited{color: #333333;}
.itemupdate a:active{color: #333333;}
.itemupdate {font-size:10px; font-family: Arial; font-weight: normal;}

BODY {
	SCROLLBAR-BASE-COLOR: #8C8567;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
}